
    
  



@{ViewBag.Title = "Taxicard & Capital Call";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/taxis-and-minicabs/taxicard-and-capital-call";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/taxis-and-minicabs/index">Taxis & minicabs</a></li>
                
            
            
                <li><span class="last-breadcrumb">Taxicard & Capital Call</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Taxicard & Capital Call</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        If you have mobility impairments and have trouble using public transport, you may be able to get subsidised taxi and minicab travel in London. The two schemes are called Taxicard and Capital Call.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<p>You can use Taxicard wherever you live in London.</p>
<p>You can use Capital Call if you are already a member and live in Bexley, Ealing, Enfield, Haringey, Hillingdon, Hounslow, Lambeth, Lewisham, Merton and Southwark. Capital Call is now no longer open to new members.</p>
<h2>Who is eligible?</h2>
<p>You may be eligible for Taxicard if you:</p>
<ul>
    <li>Receive the higher rate mobility component of the Disability Living Allowance or the higher rate Attendance Allowance</li>
    <li>Are registered blind</li>
    <li>Receive the War Pension Mobility Component</li>
</ul>
<p>If none of these apply to you, you may still be eligible if your GP endorses your application. You may have to have a mobility assessment.</p>
<h2>Taxicard</h2>
<h3>Taxicard costs</h3>
<p>Visit the <a href="https://www.londoncouncils.gov.uk/services/taxicard/payment">Taxicard website</a> for pricing. </p>
<h3>More information and how to apply</h3>
<p>Telephone 020 7934 9791 or visit the <a href="http://www.londoncouncils.gov.uk/services/taxicard">Taxicard website</a></p>
<h2>Capital Call</h2>
<p>The Capital Call scheme operated by TfL is closed to new members. However the scheme continues to operate for its existing members.</p>
<p>If you are a current member of Capital Call you can contact us for your journey requests by telephone or email.</p>
<p>Telephone: 0343 222 1110</p>
<p>Email: <a href="mailto:capitalcall&#64;tfl.gov.uk">capitalcall&#64;tfl.gov.uk</a></p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/taxis-and-minicabs/index" class="heading">
                    <h2 id="sub-menu-heading">Taxis & minicabs<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/modes/taxis-and-minicabs/book-a-taxi">Find a taxi or minicab</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/taxis-and-minicabs/taxi-fares">Taxi fares</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/modes/taxis-and-minicabs/taxicard-and-capital-call">Taxicard & Capital Call</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/modes/taxis-and-minicabs/what-to-expect-from-your-journey">Guide to taxis and private hire</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://www.londoncouncils.gov.uk/services/taxicard/yourborough/" class="plain-button">London Taxicard</a>
<a href="http://www.londontravelwatch.org.uk/home/" class="plain-button">London TravelWatch</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Subsidised taxi and minicab travel in London for people who cannot use public transport";}
        
            
        


 