
    
  



@{ViewBag.Title = "Track safety publications";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/track-safety-publications/nepa";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/track-safety-publications/index">Track safety publications</a></li>
                
            
            
                <li><span class="last-breadcrumb">Track safety publications</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Track safety publications</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    
      
      
           
      
<div class="article-teaser">

        <h2>Welcome to the NEPA page</h2>
        <p>You will find the current issues of the NEPA, Engineering Notice, 'Look-Ahead' and Traction Current Switching times here.</p>
        <p>Other 'rules' publications are available from the Network Improvement SharePoint site, permission for access to this site should be e-mailed to <a href="mailto:OSWebsite&#64;tfl.gov.uk">OSWebsite&#64;tfl.gov.uk</a>.</p>
    
</div>            
            <div>
                @{
                    var pass = Request.Form["password"];
                    if (pass != null && pass.Equals("1234Nepa")) {
                        
                            <div style="background-color: #ffdddd; padding: 8px; border: 1px solid #ff0000;"><h2>Private content</h2>

        <p><a href="/cdn/static/cms/documents/nepa/tac-signallers-phone-nos-wef30march2014.pdf" class="pdf">TAC, Signaller &amp; Access Phone numbers</a></p>
        <p>As you are no doubt aware, we have been having problems with this site with the NEPA and Engineering Notice not uploading. We shall be running some tests before we start using this site again, so in the meantime please use the following alternative site:-</p>
        <p><a href="https://lucas.tfl.gov.uk">https://lucas.tfl.gov.uk</a></p>
        <p>No password is required for this site and the puiblications can be found in the <a href="/cdn/static/cms/documents/nepa/latest-news.pdf" class="pdf">latest news area</a>. </p>
        <p> </p>
        <p> </p>
        <p> </p>
        <p> </p>
        <p> </p>
        <p> </p>
        <p> </p>
        <p> </p>
        <p> </p>
        <p> </p>
        <p> </p>
    </div>
                                            }
                    else {
                        <form autocomplete="off" action="" method="post" class="grey-box clearfix" novalidate="novalidate">
                            <div class="two-column-divided">
                                <div class="half-width">
                                    <label class="visually-hidden" for="password">Password</label>
                                    <input class="" data-val="true" id="password" name="password" placeholder="Enter your password" type="text" value="" autocomplete="off">
                                </div>
                                <div class="half-width"><input class="primary-button" type="submit" value="Enter"></div>
                            </div>
                        </form>
                    }
                }


<div>
<p></p>

        <h2>Terms and Conditions</h2>
        <p><strong>The information on this page must not be disclosed or reproduced without permission from the publisher.</strong></p>
        Contact details:
        <p>Access Department<br />
        4th Floor<br />
        172 Buckingham Palace Road<br />
        London<br />
        SW1W 9TN</p>
        <p>For general enquiries about this website telephone: 0203 054 6599 (Mon to Fri office hours)<br />
        E-mail: <a href="mailto:OSWebsite&#64;tfl.gov.uk">OSWebsite&#64;tfl.gov.uk</a></p>
        <p>For protection staff enquires realting to IV numbers and portfolios telephone: 0203 054 6604 (Mon to Fri office hours) or 0203 054 6618 (Mon to Fri after 21:00 hours)</p>
    
</div>
            </div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "";}
        
            
        


 