
    
  



@{ViewBag.Title = "Commercial Property Surveying";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/careers/graduate-scheme/graduate-roles/commercial-property-surveyor";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/careers/index">Careers</a></li>
                
            
                 <li><a href="/corporate/careers/graduates">Graduates</a></li>
                
            
                 <li><a href="/corporate/careers/graduate-scheme/graduate-opportunities">Graduate opportunities</a></li>
                
            
            
                <li><span class="last-breadcrumb">Commercial Property Surveying</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Commercial Property Surveying</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    <div class="on-this-page">
      
      
           
      
<h2>Overview</h2>
<div class="table-container"><table>
    <tbody>
        <tr>
            <td>
            <p>
            <strong>Entry requirements</strong><br />
            Candidates must already hold or be on track to achieve a minimum degree of 2:2 or a Masters in the following RICS accredited degrees including:</p>
            <ul>
                <li>Estate Management</li>
                <li>Property Management</li>
                <li>Real Estate and Real Estate Management</li>
                <li>Land Economy</li>
                <li>Planning and Real Estate</li>
                <li>Investment and Real Estate</li>
                <li>or a closely aligned subject.            </li>
            </ul>
            </td>
        </tr>
        <tr>
            <td><strong>Duration</strong><br />
            2 years</td>
        </tr>
        <tr>
            <td><strong>Location</strong><br />
            London</td>
        </tr>
        <tr>
            <td><strong>Salary</strong><br />
            &pound;27,000</td>
        </tr>
    </tbody>
</table></div>


 <div>

<p>Our Commercial Development teams focus on generating non-fare related revenue for the organisation covering commercial partnerships, advertising and retail and property development. We have ambitious plans to generate &pound;1.9bn by 2021, which we will reinvest into upgrading our network and services. We own a 5,700 acre estate that includes land and properties with huge potential for creating the homes and jobs that the Capital needs. Our property portfolio includes arches, residential and retail.  You will learn to manage properties in many settings which include traditional, secondary and tertiary parades as well as managing property in the more unique setting of a station.</p>
<h2>What you'll be doing</h2>
<p>As a graduate, your two year development programme will be made up of up to four placement rotations. Our aim is to equip you with the range of skills and experience you need for your successful career. We also understand that everyone's career is different, so every graduate's journey is unique. </p>
<p>Here's an idea of what your first year on the scheme could look like:</p>
<h3>Year 1</h3>
<p><strong>Placement 1 &#45; Commercial Property Management - 6 months<br />
</strong>Focused on the renewal of excluded and protected leases, you will be undertaking the rent reviews, lease assignments, licences to alter, inspections and measurements. You will also maintain and observe the Health and Safety regulations and manage the maintenance of the building using a service charge budget.</p>
<p><strong>Placement 2 &#45; Commercial Asset Management &#45; 6 months<br />
</strong>You will undertake asset strategies and projects, including refurbishments and unit amalgamation, lettings, market liaison, valuations, business planning, budgeting and associated place making aligned to our customer strategy.</p>
<h3>Year 2</h3>
<p><strong>Placement 2 &#45; Commercial Property Development - 6 months</strong><br />
You will carry out development appraisals, including carrying out inspections and measurements for the purpose of valuation. A primary role will also involve working within planning regulations and policies.  You will receive training on the valuation tool Argus.</p>
<p><strong>Placement 3 &#45; CD Operational Group or CD Development &#45; 6 months</strong><br />
Depending on your APC pathway, you gain experience in rating or CPO. In addition, you will liaise with third party surveyors on dilapidations, service charges, inspections and measurements. You will get the unique experience of acting as agent for both landlord and tenant.</p>
<p>Your first placement will be fixed and your following placements will be mutually agreed to ensure you gain experience on the widest possible range of technologies, tools and teams. In your second year, you will have the opportunity to tailor your time with us to suit your needs.  Your final placement will be in the chosen team which you would like to roll-off into.</p>
<h2>What we look for</h2>
<p>Everything we do as an organisation is to ensure that our evolving city remains future-proof for millions of Londoners. Our talented graduates form a vital part of that vision, so it's important that we find the best people to help us do this. </p>
<p>We're looking for people who:</p>
<ul>
    <li>Take accountability for their work and are flexible when dealing with the unexpected</li>
    <li>Have a desire to keep learning, be organised and with good attention to detail</li>
    <li>Relish a challenge, with enthusiasm and drive that enjoy working with people</li>
</ul>
<p>As a member of the team, we'll give you responsibility and the opportunity to add value from day one.  If you are excited by inspiring and influencing the future of London and are up for a challenge and thrive under pressure, then this is the career path for you.</p>
<h2>Where you can take your career</h2>
<p>Property provides a fantastic opportunity to make a difference using your own skill set. There are many avenues to pursue and a myriad of options depending on the choices you take and the work you choose to get involved with. At TfL, we provide the opportunity to gain qualifications and develop a career in the property world through our diverse teams including Property Management, Asset Management, Lease &amp; Letting, Lease Renewals &amp; Rent Reviews, Development Appraisals for large projects, CPO work and project feasibility across all asset types including office, retail, residential and industrial.</p>
<p>Upon completing the scheme, your immediate progression will include support to gain your qualifications (APC), rotations within four departments and roll off into a team on successful acquisition of your Assessment of Professional Competence,</p>
<p>In five years, our successful graduates will work towards becoming a Senior Surveyor or Development Manager and will be developing their leadership, technical and professional skills through on the job training.</p>
<h2>How we'll develop and support you</h2>
<p>Whilst on the scheme, we'll support your technical development through a wide range of on-the-job practical experiences and placements.  We'll also support your professional development through a combination of classroom-led training courses, online training courses, mentoring opportunities and structured networking opportunities with scheme alumni. You will receive one-to-one support throughout the programme from your scheme sponsor and your Line Manager. You'll also be connected to a 'buddy' who will be an alumnus from the scheme.</p>
<p>The course will include TfL's preferred APC course such as, 'The Kingston course'. You will receive support from a committed team of RICS accredited individual who will help and advise you through the process.</p>
</div>
 <div class="clearfix">
    <div class="image-box light-box left-float">
    
        
        
        <a href="/cdn/static/cms/images/seth-commercial-property-surveying-graduate.jpg" class="modal-launch" target="_blank">
             <img src="/cdn/static/cms/images/seth-commercial-property-surveying-graduate_rdax_400x457.jpg" alt="Seth, Commercial Property Surveying Graduate" />
             
        </a>
        
        
    </div>
    <h2>Meet the graduate</h2>
<p>"I chose a graduate scheme at Transport for London for the opportunity to experience a variety of work that can not be found elsewhere.</p>
<p>Working in the Commercial Development directorate has given me experience across property management, property development and compulsory purchase, interesting areas of work that are not often available to graduates.</p>
<p>There are few graduate schemes that offer you the chance to experience working on the client side of the industry and TfL offered that opportunity, as well as the chance to work on projects that many graduates wouldn't get to experience such as Crossrail 2."</p>
<p><strong>— Seth, Commercial Property Surveying Graduate</strong></p> 
 </div>
 <div>

<h2>Reasonable Adjustments</h2>
<p>If you have any special requirements or require any reasonable adjustments to enable you to take our online tests or to attend our assessment centre, please contact us by phone or email on the contact details below.</p>
<p>Please note: We need a minimum of 48 hours' notice to allow us to try and accommodate reasonable adjustments at the assessment centre. Any adjustments will be confirmed to you in writing, once received, please print a copy and bring this to the assessment with you.</p>
<h2>Contact Us</h2>
<p>If at any time you need to speak to anyone within the Recruitment Team then please contact us on 0333 0062939 (Option 1) or alternatively email us at <a href="mailto:graduatesenquiries&#64;tfljobs.co.uk">graduatesenquiries&#64;tfljobs.co.uk</a></p>
<p>So if you're looking to make an impact on the future of the Capital &#45; and the lives of the people who live and work here, now's the time to make your move.</p>
</div>
 <div>

<hr />
<strong>
Applications for this opportunity are now closed.</strong>
<hr />
</div>
 <div>

<p><br />
We are an equal opportunity employer and value diversity. We do not discriminate on the basis of race, religion, colour, gender, sexual orientation, age or disability status.</p>
</div>
 
<div class="module-grid clearfix">
<div class="news-teaser">

    <a href="/corporate/careers/graduate-scheme/application-process?intcmp=20329" >
        
        
        <div class="text-link">
             <h2>Application process</h2>
            <p>From application to job offer, watch our videos and find out what to expect</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/careers/graduate-scheme/behaviours-and-competencies?intcmp=42394" >
        
        
        <div class="text-link">
             <h2>Behaviours & competencies</h2>
            <p>Have you got what it takes to be one of our team?</p>
        </div>
    </a>
</div>
 
 
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        <div>

<hr />
<strong>
Applications for this opportunity are now closed.</strong>
<hr />
</div>
 <div>

<p><br />
We are an equal opportunity employer and value diversity. We do not discriminate on the basis of race, religion, colour, gender, sexual orientation, age or disability status.</p>
</div>
 
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/careers/index" class="heading">
                    <h2 id="sub-menu-heading">Careers<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/careers/graduates">Graduates</a></div>
                                <ul>
                                    
                <a href="/corporate/careers/graduate-scheme/graduate-opportunities" class="heading">
                    <h2 id="sub-menu-heading">Graduate opportunities<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/civil-engineering-grad-scheme">Civil Engineering</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/commercial-procurement">Commercial Procurement</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/commercial-property-surveyor">Commercial Property Surveying</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/engineering-and-technology">Engineering & Technology</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/finance">Finance</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/fire-engineering">Fire Engineering</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/mechanical-engineering">Mechanical Engineering</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/software-engineering">Software Development</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/strategy-and-change-management">Strategy & Change Management</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/technology-engineering">Technology Analyst</a></div></li>
                            
 
                </ul>
            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/placement-opportunities">Placement opportunities</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/behaviours-and-competencies">Behaviours and competencies</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/salary-and-benefits">Salary & benefits</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/application-process">Application process</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/apprenticeships">Apprenticeships</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/steps-into-work">Steps into work </a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/smart-sourcing-programme">Smart Sourcing programme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/rewarding-you">Rewarding you</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/employability-toolkit">Employability toolkit</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "";}
        
            
        


 