
    
  



@{ViewBag.Title = "Commercial Procurement";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/careers/graduate-scheme/graduate-roles/commercial-procurement";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/careers/index">Careers</a></li>
                
            
                 <li><a href="/corporate/careers/graduates">Graduates</a></li>
                
            
                 <li><a href="/corporate/careers/graduate-scheme/graduate-opportunities">Graduate opportunities</a></li>
                
            
            
                <li><span class="last-breadcrumb">Commercial Procurement</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Commercial Procurement</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    <div class="on-this-page">
      
      
           
      
<h2>Overview </h2>
<div class="table-container"><table>
    <tbody>
        <tr>
            <td>
            <strong>Entry requirements<br />
            </strong>Candidates must already hold or be on track to achieve a minimum of 2:2 honours degree in any subject.
            </td>
        </tr>
        <tr>
            <td>
            <strong>Duration<br />
            </strong>2 years
            </td>
        </tr>
        <tr>
            <td>
            <strong>Location<br />
            </strong>London
            </td>
        </tr>
        <tr>
            <td>
            <strong>Salary<br />
            </strong>&pound;27,000
            </td>
        </tr>
    </tbody>
</table></div>


 <div>

<p>Our commercial team is responsible for buying, obtaining and procuring every essential component that TfL needs to function as a business; this includes everything from our trains and track, to the nuts and bolts that hold it together and the people that build it. You'll learn how to buy strategically, ensuring money is spent in the most cost effective and efficient ways, for the best price and the highest quality, working across a diverse range of projects that make up the delivery of the Mayor's Transport Strategy.</p>
<h2>What you'll be doing</h2>
<p>As a graduate, your two year development programme will be made up of up to 5 placement rotations. Our aim is to equip you with the range of skills and experience you need for your successful career. We also understand that everyone's career and ambitions are different, so every graduate's journey with us is unique.</p>
<p>Here's an idea of what yours could look like:</p>
<h3>Year 1</h3>
<p><strong>Placement 1 &#45; Chief Procurement Office &#45; 3 months<br />
</strong>Support the progress of outputs from the Chief Procurement Officers meetings by drafting papers and agendas for commercial approval meetings.</p>
<p><strong>Placement 2 &#45; Stakeholder Placement &#45; 3 months<br />
</strong>Act as the conduit between the stakeholder and commercial, create processes to encourage and develop stakeholder relations and management.</p>
<p><strong>Placement 3 &#45; Supplier Strategy &#45; 6 months<br />
</strong>Create bulletin communications for suppliers, support the delivery of events, develop supplier packs for the Managing Director and other senior manager meetings with key suppliers.</p>
<h3>Year 2</h3>
<p><strong>Placement 4 &#45; Commercial Tech and Data &#45; 6 months<br />
</strong>Work on revenue collection and associated agreements of future bus systems such as iBus 2, Health &amp; Safety Passport Systems or on a Core IM Contract.</p>
<p><strong>Placement 5 &#45; Commercial Surface &#45; 6 months<br />
</strong>Contract management of surface transport such as Cycle Hire, Congestion Charging, Taxi &amp; Private Hire and Woolwich Ferry, and supporting the procurement of other contracts and services.</p>
<p>You will be encouraged to gain well-rounded experience across all commercial departments, with the support and will be guided accordingly. You will be supported by your sponsor and scheme leader in identifying the most suitable placements for you as an individual. Graduates are encouraged to tailor the scheme to suit them and seek placement opportunities with senior managers within Commercial.</p>
<h2>What we look for</h2>
<p>Everything we do as an organisation is to ensure that our evolving city remains future-proof for millions of Londoners. Our talented graduates form a vital part of that vision, so it's important that we find the best people to help us do this. </p>
<p>We're looking for people who are:</p>
<ul>
    <li>Motivated to add value</li>
    <li>Comfortable challenging the status quo</li>
    <li>Adaptable when dealing with the unexpected</li>
</ul>
<p>As a member of the team, we'll give you responsibility and the opportunity to add value from day one.  If you are excited by inspiring and influencing the future of London and are up for a challenge and thrive under pressure, then this is the career path for you.</p>
<h2>Where you can take your career</h2>
<p>At the end of your scheme you will have achieved Level 5 Chartered Institute of Procurement and Supply (CIPS)  and will roll-off into an Assistant Commercial Manager (Band 2) role in your desired part of the Commercial business. TfL will continue to fund your sponsorship for an additional final year in order to complete the CIPS Level 6, therefore becoming a Member of the Chartered Institute of Procurement and Supply (MCIPS).</p>
<p>In five years, you can expect to have a well established career as a Commercial Manager, with a succession plan to Senior or Lead Commercial Manager.</p>
<h2>How we'll develop and support you</h2>
<p>Whilst on the scheme, we'll support your technical development through a wide range of on-the-job practical experiences and placements.  We'll also support your professional development through a combination of classroom-led training courses, online training courses, mentoring opportunities and structured networking opportunities with scheme alumni. You will receive one-to-one support throughout the programme from your scheme sponsor and your Line Manager. You'll also be connected to a 'buddy' who will be an alumnus from the scheme.</p>
<p>After the scheme, you'll continue to receive support to achieve your CIPS chartership and will have the opportunity to apply for our talent progression programme that identifies and develops our future leaders.</p>
<hr />
<h2>Meet the Graduate</h2>
<p>"The Commercial graduate scheme provides an amazing opportunity to be involved in a wide range of high value projects, contracts and procurements. Joining the scheme has given me exposure to a huge variety of transport departments within TfL, from London Underground through to Surface Transport and Corporate Services, putting me in a unique position to see how my everyday work contributes directly to London's transport services."</p>
<p><strong>— Kristian, Commercial Procurement Graduate</strong></p>
<hr />
</div>
 <div>

<h2>Reasonable Adjustments</h2>
<p>If you have any special requirements or require any reasonable adjustments to enable you to take our online tests or to attend our assessment centre, please contact us by phone or email on the contact details below.</p>
<p>Please note: We need a minimum of 48 hours' notice to allow us to try and accommodate reasonable adjustments at the assessment centre. Any adjustments will be confirmed to you in writing, once received, please print a copy and bring this to the assessment with you.</p>
<h2>Contact Us</h2>
<p>If at any time you need to speak to anyone within the Recruitment Team then please contact us on 0333 0062939 (Option 1) or alternatively email us at <a href="mailto:graduatesenquiries&#64;tfljobs.co.uk">graduatesenquiries&#64;tfljobs.co.uk</a></p>
<p>So if you're looking to make an impact on the future of the Capital &#45; and the lives of the people who live and work here, now's the time to make your move.</p>
</div>
 <div>

<hr />
<strong>
Applications for this opportunity are now closed.</strong>
<hr />
</div>
 <div>

<p><br />
We are an equal opportunity employer and value diversity. We do not discriminate on the basis of race, religion, colour, gender, sexual orientation, age or disability status.</p>
</div>
 
<div class="module-grid clearfix">
<div class="news-teaser">

    <a href="/corporate/careers/graduate-scheme/application-process?intcmp=20329" >
        
        
        <div class="text-link">
             <h2>Application process</h2>
            <p>From application to job offer, watch our videos and find out what to expect</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/careers/graduate-scheme/behaviours-and-competencies?intcmp=42394" >
        
        
        <div class="text-link">
             <h2>Behaviours & competencies</h2>
            <p>Have you got what it takes to be one of our team?</p>
        </div>
    </a>
</div>
 
 
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        <div>

<hr />
<strong>
Applications for this opportunity are now closed.</strong>
<hr />
</div>
 <div>

<p><br />
We are an equal opportunity employer and value diversity. We do not discriminate on the basis of race, religion, colour, gender, sexual orientation, age or disability status.</p>
</div>
 
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/careers/index" class="heading">
                    <h2 id="sub-menu-heading">Careers<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/careers/graduates">Graduates</a></div>
                                <ul>
                                    
                <a href="/corporate/careers/graduate-scheme/graduate-opportunities" class="heading">
                    <h2 id="sub-menu-heading">Graduate opportunities<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/civil-engineering-grad-scheme">Civil Engineering</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/commercial-procurement">Commercial Procurement</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/commercial-property-surveyor">Commercial Property Surveying</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/engineering-and-technology">Engineering & Technology</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/finance">Finance</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/fire-engineering">Fire Engineering</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/mechanical-engineering">Mechanical Engineering</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/software-engineering">Software Development</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/strategy-and-change-management">Strategy & Change Management</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/technology-engineering">Technology Analyst</a></div></li>
                            
 
                </ul>
            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/placement-opportunities">Placement opportunities</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/behaviours-and-competencies">Behaviours and competencies</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/salary-and-benefits">Salary & benefits</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/application-process">Application process</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/apprenticeships">Apprenticeships</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/steps-into-work">Steps into work </a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/smart-sourcing-programme">Smart Sourcing programme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/rewarding-you">Rewarding you</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/employability-toolkit">Employability toolkit</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Application process</h3>
<p>From application to job offer, find out more about what to expect&nbsp;</p>
<div class="vertical-button-container">

<a href="/corporate/careers/graduate-scheme/application-process" class="plain-button">Get started</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Find out about our Commercial Procurement graduate opportunity";}
        
            
        


 