
    
  



@{ViewBag.Title = "Engineering & Technology";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/careers/graduate-scheme/graduate-roles/engineering-and-technology";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/careers/index">Careers</a></li>
                
            
                 <li><a href="/corporate/careers/graduates">Graduates</a></li>
                
            
                 <li><a href="/corporate/careers/graduate-scheme/graduate-opportunities">Graduate opportunities</a></li>
                
            
            
                <li><span class="last-breadcrumb">Engineering & Technology</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Engineering & Technology</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    <div class="on-this-page">
      
      
           
      
<h2>&nbsp;Overview</h2>
<div class="table-container"><table>
    <tbody>
        <tr>
            <td><strong></strong>
            <strong>Entry requirements</strong><br />
            Candidates must already hold or be on track to achieve a minimum of 2:2 BEng/BSc or MEng/MSc in electrical, electronic, systems or mechatronic engineering or a closely related subject accredited by the Institution of Engineering and Technology (IET).</td>
            <td></td>
        </tr>
        <tr>
            <td><strong>Duration</strong><br />
            2 years</td>
            <td> </td>
        </tr>
        <tr>
            <td>
            <strong>Location<br />
            </strong>London
            </td>
            <td> </td>
        </tr>
        <tr>
            <td>
            <strong>Salary<br />
            </strong>&pound;27,000
            </td>
            <td> </td>
        </tr>
    </tbody>
</table></div>
<p>Our Engineers focus on the assets that form the foundation of our transport system.  London never stops and the engineering challenge which we face in modernising and upgrading our systems has been likened to undertaking open heart surgery on a patient while they are running a marathon!</p>
<p>Your work will span multiple transport modes, delivering large scale projects and enabling a reliable operation of one of the world's most iconic transport networks.  Our projects include new rail lines, rail extensions, new river crossings, congestion relief enhancements at major stations, development of traffic control technology and multi-discipline upgrades to existing lines.</p>
<h2>What you'll be doing</h2>
<p>As a graduate, your two year development programme will be made up of up to eight placements, each typically lasting three months. You will also undertake a series of short front line experience (&quot;FlEx&quot;) placements to gain perspective of our Engineering internal operations and maintenance customers.</p>
<p>
Our aim is to equip you with the range of skills and experience you need for your successful career. We also understand that everyone's career and ambitions are different, so every graduate's journey with us is unique.</p>
<p>
This scheme will focus on three main areas of Engineering. Here's an idea of what yours could look like:</p>
<h3>Electrical Engineering</h3>
<p>
Covering all aspects of the electrical assets that keep London's transport system moving. Your placements could include Road and Rail Signalling, Vehicles, Building Services and Power.</p>
<h3>Systems Engineering</h3>
<p>
Working across all transport modes, helping us to get the most out of our assets. Your placements could include Road and Rail Signalling, Control and Information, Operations, Telecoms and Cyber Security.</p>
<h3>Technology Engineering</h3>
<p>
Using new and emerging technology to solve complex technical problems by focusing on electronic, networking, telecoms and cybersecurity solutions.   Your placements could include Systems Engineering (early life-cycle), Systems Integration (implantation phase), Performance Engineering and Technical and Strategy Innovation.</p>
<p>Whichever your preference, you will undertake a range of challenging placements in order to gain an overview of the transport system and find out the area of work which best suits you. Beyond these placements you will have exceptional freedom in building your own scheme, selecting opportunities to learn and deliver work that suit your skills and aspirations.</p>
<h2>What we look for</h2>
<p>Everything we do as an organisation is aimed at ensuring that our evolving city remains future-proof for millions of Londoners. Our talented graduates form a vital part of that vision, so it's essential that we find the best people to help us do this. </p>
<p>We're looking for people who have:</p>
<ul>
    <li>An inquisitive mind</li>
    <li>A creative approach to problem-solving</li>
    <li>A curiosity to understand the root cause of a problem, developing solutions, whilst still striving for ways to improve and refine</li>
</ul>
<p>As a member of the team, we'll give you responsibility and the opportunity to add value from day one.  If you are excited by inspiring and influencing the future of London, are up for a challenge and thrive under pressure, then this is the career path for you.</p>
<h2>Where you can take your career</h2>
<p>Our Engineers have the opportunity to make a huge impact. Upon completing the scheme we would expect you to &quot;roll off&quot; into one of our functional engineering teams, aligned to a specific engineering discipline or specialist area.  You will then continue to develop your craft as an engineer through a series of assignments across TfL, progressively taking on more challenging roles in order to build a core competence in the functional area you have chosen.</p>
<p>In five years, we would expect you will be taking on Senior Engineer level assignments, leading engineering teams and liaising with internal and external stakeholders to deliver complex projects.  This experience in turn will facilitate your application for Chartered Engineer status. Graduates can go on to undertake engineering management roles on multi-discipline projects of national importance, directly improving the experience of the travelling public and transforming how London works.</p>
<h2>How we'll develop and support you</h2>
<p>Whilst on the scheme, we'll support your technical development through a wide range of on-the-job practical experiences and placements.  We'll also support your professional development through a combination of classroom-led training courses, online training courses, mentoring opportunities and structured networking opportunities with scheme alumni. You will receive one-to-one support throughout the programme from your scheme sponsor and your Line Manager. You'll also be connected to a 'buddy' who will be an alumnus from the scheme.</p>

 <div class="clearfix">
    <div class="image-box left-float">
    
        
        
        <img src="/cdn/static/cms/images/engineering-tech-grad_rdax_400x457.jpg" alt="Engineering tech grad profile" />
        
        
        
    </div>
    <h2>Meet the graduate</h2>
<p>&quot;I chose the Railway Electrical Graduate Scheme at TfL because it offered me a chance to get work experience in different engineering departments. My background is electrical power engineering, and I have two MSc's, one in Engineering Management and another in Embedded Systems. While being in this scheme, I had the opportunity to be in placements that allowed me to use my skills from all three degrees, and helped me find the speciality I enjoy the most in a working environment. TfL also offers internal and external training, and guidance to achieve Chartership.&quot;</p> 
 </div>
 <div class="clearfix">
    <div class="image-box left-float">
    
        
        
        <img src="/cdn/static/cms/images/engineering-tech-alum_rdax_400x457.jpg" alt="Engineering tech alumnus profile" />
        
        
        
    </div>
    <h2>Beyond the graduate scheme</h2>
<p>&quot;TfL's graduate scheme guided me from a student way of thinking into a professional way of thinking and behaving. The ability to lead a night time install at the side of a rail track safely, practising good documentation so that a control unit I designed can be maintained by my colleagues, explaining what engineering is to a group of eleven year olds… just a few examples of the kinds of skills I was able to develop across my two years working on both Surface and London Underground based projects.&quot;</p> 
 </div>
 
<div class="module-grid clearfix">

</div>
 <div>

<h2>Reasonable Adjustments</h2>
<p>If you have any special requirements or require any reasonable adjustments to enable you to take our online tests or to attend our assessment centre, please contact us by phone or email on the contact details below.</p>
<p>Please note: We need a minimum of 48 hours' notice to allow us to try and accommodate reasonable adjustments at the assessment centre. Any adjustments will be confirmed to you in writing, once received, please print a copy and bring this to the assessment with you.</p>
<h2>Contact Us</h2>
<p>If at any time you need to speak to anyone within the Recruitment Team then please contact us on 0333 0062939 (Option 1) or alternatively email us at <a href="mailto:graduatesenquiries&#64;tfljobs.co.uk">graduatesenquiries&#64;tfljobs.co.uk</a></p>
<p>So if you're looking to make an impact on the future of the Capital &#45; and the lives of the people who live and work here, now's the time to make your move.</p>
</div>
 <div>

<hr />
<strong>
Applications for this opportunity are now closed.</strong>
<hr />
</div>
 <div>

<p><br />
We are an equal opportunity employer and value diversity. We do not discriminate on the basis of race, religion, colour, gender, sexual orientation, age or disability status.</p>
</div>
 
<div class="module-grid clearfix">
<div class="news-teaser">

    <a href="/corporate/careers/graduate-scheme/application-process?intcmp=20329" >
        
        
        <div class="text-link">
             <h2>Application process</h2>
            <p>From application to job offer, watch our videos and find out what to expect</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/careers/graduate-scheme/behaviours-and-competencies?intcmp=42394" >
        
        
        <div class="text-link">
             <h2>Behaviours & competencies</h2>
            <p>Have you got what it takes to be one of our team?</p>
        </div>
    </a>
</div>
 
 
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        <div>

<hr />
<strong>
Applications for this opportunity are now closed.</strong>
<hr />
</div>
 <div>

<p><br />
We are an equal opportunity employer and value diversity. We do not discriminate on the basis of race, religion, colour, gender, sexual orientation, age or disability status.</p>
</div>
 
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/careers/index" class="heading">
                    <h2 id="sub-menu-heading">Careers<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/careers/graduates">Graduates</a></div>
                                <ul>
                                    
                <a href="/corporate/careers/graduate-scheme/graduate-opportunities" class="heading">
                    <h2 id="sub-menu-heading">Graduate opportunities<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/civil-engineering-grad-scheme">Civil Engineering</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/commercial-procurement">Commercial Procurement</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/commercial-property-surveyor">Commercial Property Surveying</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/engineering-and-technology">Engineering & Technology</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/finance">Finance</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/fire-engineering">Fire Engineering</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/mechanical-engineering">Mechanical Engineering</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/software-engineering">Software Development</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/strategy-and-change-management">Strategy & Change Management</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/technology-engineering">Technology Analyst</a></div></li>
                            
 
                </ul>
            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/placement-opportunities">Placement opportunities</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/behaviours-and-competencies">Behaviours and competencies</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/salary-and-benefits">Salary & benefits</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/application-process">Application process</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/apprenticeships">Apprenticeships</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/steps-into-work">Steps into work </a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/smart-sourcing-programme">Smart Sourcing programme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/rewarding-you">Rewarding you</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/employability-toolkit">Employability toolkit</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Find out about our Engineering and Technology graduate scheme opportunity";}
        
            
        


 