
    
  



@{ViewBag.Title = "Finance";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/careers/graduate-scheme/graduate-roles/finance";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/careers/index">Careers</a></li>
                
            
                 <li><a href="/corporate/careers/graduates">Graduates</a></li>
                
            
                 <li><a href="/corporate/careers/graduate-scheme/graduate-opportunities">Graduate opportunities</a></li>
                
            
            
                <li><span class="last-breadcrumb">Finance</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Finance</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    <div class="on-this-page">
      
      
           
      
<h2>Overview </h2>
<div class="table-container"><table>
    <tbody>
        <tr>
            <td>
            <strong></strong>
            <strong>Entry requirements</strong><br />
            Candidates must already hold or be on track to achieve a minimum of a 2:1 honours degree in any discipline. You must not already hold or be working towards a Level 7 qualification or equivalent in the same or a related subject
            </td>
        </tr>
        <tr>
            <td><strong>Duration</strong><br />
            3 years
            </td>
        </tr>
        <tr>
            <td><strong>Location</strong><br />
            London
            </td>
        </tr>
        <tr>
            <td><strong>Salary</strong><br />
            &pound;27,000
            </td>
        </tr>
    </tbody>
</table></div>


 <div>

<p>We're evolving into a period of unprecedented financial change as the first transport authority in Europe to operate without government support for our day-to-day operating costs. This means we're independently funding our &pound;6bn annual operating costs from our own sources of income. By 2020, we aim to make an operating surplus that we can reinvest into improving our network.  As a Finance apprentice, you will have a huge part to play in this.  You will work with stakeholders to make commercial business decisions together; challenging, driving and guiding them to reduce costs and increase income.</p>
<h2>What you'll be doing</h2>
<p>As an apprentice, this three year programme will develop your holistic understanding of all the different aspects that make up Finance as a business function.  In total, you'll complete up to nine placement rotations.  Alongside this, you'll be studying for the Chartered Institute of Management Accountants (CIMA) professional qualification through the Level 7 Accountancy Taxation Professional apprenticeship.</p>
<p>Our aim is to equip you with the range of skills and experience you need for your successful career. We also understand that everyone's career and ambitions are different, so every graduate's journey with us is unique. </p>
<p>Here's an idea of what yours could look like:</p>
<h3>Year 1</h3>
<p>Finding your feet in Finance</p>
<p><strong>Placement 1 &#45; Financial Service Centre - 3 months</strong><br />
Reconciling ledgers, allocating cash balances, ensuring accounts are paid on time.</p>
<p><strong>Placement 2 &#45; Finance Business Partnering - 3 months</strong><br />
Understanding the fundamentals of a business partnering role; closing accounts, budgeting, forecasting and planning.</p>
<p><strong>Placement 3 &#45; Financial Accounting Departments - 3 months</strong><br />
Understanding the company balance sheets and the importance of working capital.</p>
<h3>Year 2</h3>
<p>Applying your skills and knowledge</p>
<p><strong>Placement 4 &#45; Finance Business Partnering - 4 months</strong><br />
Build on the fundamentals learnt in the first year to support business areas to make commercial and investment decisions which affect the future of London.</p>
<p><strong>Placement 5 &#45; Financial Planning and Analysis - 4 months</strong><br />
Work on TfL's consolidated position, looking at managing demands of internal and external stakeholders</p>
<p><strong>Placement 6 &#45; Group Financial Accounting &#45; 4 months</strong><br />
Complete external reporting requirements for TfL, contributing to information for the TfL Board, the DfT, amongst others.</p>
<p>You'll also have opportunities to contribute into wider areas and initiatives across the business.  For example, charity accounting at the London Transport Museum or appraising our investment choices for the Commercial Development function.</p>
<h3>Year 3</h3>
<p>Develop your specialism</p>
<p><strong>Placement 7 &#45; Finance Business Partnering - 6 months</strong><br />
Take your first and second year placements and build on the knowledge to specialise in commercial or project areas</p>
<p><strong>Placement 8 &#45; Corporate Finance - 6 months</strong><br />
Develop modelling skills to look at how TfL's next big project will be funded or how TfL manages it's borrowings and investments.</p>
<p>Your final year on this scheme will support you in moving towards your specialism, preparing you for your future financial career.</p>
<h2>What we look for</h2>
<p>Everything we do as an organisation is to ensure that our evolving city remains future-proof for millions of Londoners. Our talented graduates form a vital part of that vision, so it's important that we find the best people to help us do this. </p>
<p>We're looking for people who are:</p>
<ul>
    <li>Motivated to add value</li>
    <li>Comfortable challenging the status quo</li>
    <li>Inquisitive mind</li>
</ul>
<p>As a member of the team, we'll give you responsibility and the opportunity to add value from day one.  If you are excited by inspiring and influencing the future of London and are up for a challenge and thrive under pressure, then this is the career path for you.</p>
<h2>Where you can take your career</h2>
<p>After completing the scheme, you'll roll-off into a permanent role that best suits the skills you have developed over the three year programme, balanced with the needs of the business.  This could be into a position such as a finance business partner, financial reporting accountant, a corporate finance analyst, amongst other opportunities. TfL has an excellent track record in continuing to support our graduate alumni with very high retention and promotion rates.  In five years, you could move between finance business partner roles to get a breadth of experience in project and commercial functions.  In ten years, you could progress to a senior role in any finance area.</p>
<p>Achieving this industry-recognised ACMA CGMA designation as a chartered management accountant with CIMA will provide the technical skills, professional knowledge and tools to long-term career success in Finance.</p>
<h2>How we'll develop and support you</h2>
<p>Whilst on the scheme, we'll support your technical development through a wide range of on-the-job practical experiences and placements.  We'll also support your professional development through a combination of classroom-led training courses, online training courses, mentoring opportunities and structured networking opportunities with scheme alumni. You will receive one-to-one support throughout the programme from your scheme sponsor and your Line Manager. You'll also be connected to a 'buddy' who will be an alumnus from the scheme.</p>
<p>After the scheme, you'll continue to receive support from alumni networks and you will have the opportunity to apply for our talent progression programme that identifies and develop our future leaders.</p>
</div>
 <div class="clearfix">
    <div class="image-box left-float">
    
        
        
        <img src="/cdn/static/cms/images/william-finance-graduate_rdax_400x457.jpg" alt="William, Finance Graduate" />
        
        
        
    </div>
    <h2>Meet the graduate</h2>
<p>&quot;I chose TfL as I wanted to work for a large, diverse organisation based in London. The finance graduate scheme offered the opportunity to work across TfL in London Underground, Surface Transport and other areas of the business, so I thought it would be a really interesting place to work. </p>
<p>The finance scheme was particularly appealing, as it gave me the opportunity to study ACCA or CIMA, alongside completing a number of placements covering all the main areas of finance across TfL. I felt I would get excellent experience as well as gaining an accounting qualification, which could greatly benefit my future career.&quot;</p>
<p><strong>— William, Finance Graduate</strong></p> 
 </div>
 
<div class="module-grid clearfix">

</div>
 <div>

<h2>Reasonable Adjustments</h2>
<p>If you have any special requirements or require any reasonable adjustments to enable you to take our online tests or to attend our assessment centre, please contact us by phone or email on the contact details below.</p>
<p>Please note: We need a minimum of 48 hours' notice to allow us to try and accommodate reasonable adjustments at the assessment centre. Any adjustments will be confirmed to you in writing, once received, please print a copy and bring this to the assessment with you.</p>
<h2>Contact Us</h2>
<p>If at any time you need to speak to anyone within the Recruitment Team then please contact us on 0333 0062939 (Option 1) or alternatively email us at <a href="mailto:graduatesenquiries&#64;tfljobs.co.uk">graduatesenquiries&#64;tfljobs.co.uk</a></p>
<p>So if you're looking to make an impact on the future of the Capital &#45; and the lives of the people who live and work here, now's the time to make your move.</p>
</div>
 <div>

<hr />
<strong>
Applications for this opportunity are now closed.</strong>
<hr />
</div>
 <div>

<p><br />
We are an equal opportunity employer and value diversity. We do not discriminate on the basis of race, religion, colour, gender, sexual orientation, age or disability status.</p>
</div>
 
<div class="module-grid clearfix">
<div class="news-teaser">

    <a href="/corporate/careers/graduate-scheme/application-process?intcmp=20329" >
        
        
        <div class="text-link">
             <h2>Application process</h2>
            <p>From application to job offer, watch our videos and find out what to expect</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/careers/graduate-scheme/behaviours-and-competencies?intcmp=42394" >
        
        
        <div class="text-link">
             <h2>Behaviours & competencies</h2>
            <p>Have you got what it takes to be one of our team?</p>
        </div>
    </a>
</div>
 
 
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        <div>

<hr />
<strong>
Applications for this opportunity are now closed.</strong>
<hr />
</div>
 <div>

<p><br />
We are an equal opportunity employer and value diversity. We do not discriminate on the basis of race, religion, colour, gender, sexual orientation, age or disability status.</p>
</div>
 
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/careers/index" class="heading">
                    <h2 id="sub-menu-heading">Careers<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/careers/graduates">Graduates</a></div>
                                <ul>
                                    
                <a href="/corporate/careers/graduate-scheme/graduate-opportunities" class="heading">
                    <h2 id="sub-menu-heading">Graduate opportunities<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/civil-engineering-grad-scheme">Civil Engineering</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/commercial-procurement">Commercial Procurement</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/commercial-property-surveyor">Commercial Property Surveying</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/engineering-and-technology">Engineering & Technology</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/finance">Finance</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/fire-engineering">Fire Engineering</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/mechanical-engineering">Mechanical Engineering</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/software-engineering">Software Development</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/strategy-and-change-management">Strategy & Change Management</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/technology-engineering">Technology Analyst</a></div></li>
                            
 
                </ul>
            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/placement-opportunities">Placement opportunities</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/behaviours-and-competencies">Behaviours and competencies</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/salary-and-benefits">Salary & benefits</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/application-process">Application process</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/apprenticeships">Apprenticeships</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/steps-into-work">Steps into work </a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/smart-sourcing-programme">Smart Sourcing programme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/rewarding-you">Rewarding you</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/employability-toolkit">Employability toolkit</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Find out about our Finance graduate scheme";}
        
            
        


 