
    
  



@{ViewBag.Title = "Fire Engineering";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/careers/graduate-scheme/graduate-roles/fire-engineering";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/careers/index">Careers</a></li>
                
            
                 <li><a href="/corporate/careers/graduates">Graduates</a></li>
                
            
                 <li><a href="/corporate/careers/graduate-scheme/graduate-opportunities">Graduate opportunities</a></li>
                
            
            
                <li><span class="last-breadcrumb">Fire Engineering</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Fire Engineering</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    <div class="on-this-page">
      
      
           
      
<h2>Overview </h2>
<div class="table-container"><table>
    <tbody>
        <tr>
            <td>
            <strong>Entry requirements<br />
            </strong>
            Candidates must already hold or be on track to achieve a minimum of a 2:2 BEng/BSc or MEng/MSc in Fire Engineering, or a closely related subject, approved for CEng status by a body registered with the Engineering Council (e.g. IFE/IEI/CIBSE) or EU equivalent            </td>
        </tr>
        <tr>
            <td><strong>Duration</strong><br />
            2 years</td>
        </tr>
        <tr>
            <td><strong>Location</strong><br />
            London</td>
        </tr>
        <tr>
            <td><strong>Salary</strong><br />
            &pound;27,000</td>
        </tr>
    </tbody>
</table></div>


 <div>

<p>Our Engineers focus on the assets that form the foundation of our transport system. As a Fire Engineer you will specialise in fire safety, functionality and compliance of London Transport System to help make London a great place to work, live and play. You will work to deliver large scale projects on one of the world's most iconic transport networks. There will also be opportunities to work in a wide range of disciplines and develop your career to match your strengths.</p>
<h2>What you'll be doing</h2>
<p>As a graduate, your two year development programme will be made up of up to eight placements, each typically lasting three months. Our aim is to equip you with the range of skills and experience you need for your successful career. We also understand that everyone's career is different, so every graduate's journey is unique. </p>
<p>Here's an idea of what yours could look like:</p>
<p><strong>Placement 1 - Rolling stock &#45; 3 months</strong><br />
Review the rolling stock specifications, understand the configurations of different types of rolling stocks, be aware of the fire risk of trains including fire requirements of compartmentation segregations, built-in fire safety system and fire performance of the materials inside trains.</p>
<p><strong>Placement 2 - Depots &#45; 3 months</strong><br />
Understand the building environment and work activities for maintenance of trains, the fire risks by building features, work activities and fire safety systems provided.</p>
<p><strong>Placement 3 - Operations &#45; 3 months</strong><br />
Understand the procedure of station operation and train driver's operation procedure, especially emergency procedure.</p>
<p><strong>Placement 4 &#45; Projects &#45; 3 months</strong><br />
Understand the design of multi-disciplines including mechanical, electrical, comms, system design and also the interfaces with fire.</p>
<p><strong>Placement 5 - Construction environments &#45; 3 months</strong><br />
Experience working on construction sites with construction teams to learn about construction emergency management, installation of fire related systems and other systems having interface with fire.</p>
<p>You will have responsibility and exceptional freedom in building your own scheme beyond the core placements, selecting opportunities to learn and deliver work that suit your skills and aspirations.</p>
<h2>What we look for</h2>
<p>Everything we do as an organisation is to ensure that our evolving city remains future-proof for millions of Londoners. Our talented graduates form a vital part of that vision, so it's important that we find the best people to help us do this. </p>
<p>We're looking for people who:</p>
<ul>
    <li>Relish a challenge</li>
    <li>Thrive in a team</li>
    <li>Are motivated to add value</li>
</ul>
<p>As a member of the team, we'll give you responsibility and the opportunity to add value from day one.  If you are excited by inspiring and influencing the future of London and are up for a challenge and thrive under pressure, then this is the career path for you.</p>
<h2>Where you can take your career</h2>
<p>Our Engineers have the opportunity to make a huge impact. A career with us can be very varied with opportunities across the whole of engineering for you to enjoy. In five years, you will have achieved incorporated or chartered status. This could open up opportunities to be a Senior Engineer responsible for delivering key engineering solutions. Some graduates have gone on to lead multidisciplinary teams of engineers delivering key projects, transforming how TfL operates and directly improving the experience of the travelling public.</p>
<h2>How we'll develop and support you</h2>
<p>Whilst on the scheme, we'll support your technical development through a wide range of on-the-job practical experiences and placements.  We'll also support your professional development through a combination of classroom-led training courses, online training courses, mentoring opportunities and structured networking opportunities with scheme alumni. You will receive one-to-one support throughout the programme from your scheme sponsor and your Line Manager. You'll also be connected to a 'buddy' who will be an alumnus from the scheme.</p>
</div>
 
<div class="module-grid clearfix">

</div>
 <div>

<h2>Reasonable Adjustments</h2>
<p>If you have any special requirements or require any reasonable adjustments to enable you to take our online tests or to attend our assessment centre, please contact us by phone or email on the contact details below.</p>
<p>Please note: We need a minimum of 48 hours' notice to allow us to try and accommodate reasonable adjustments at the assessment centre. Any adjustments will be confirmed to you in writing, once received, please print a copy and bring this to the assessment with you.</p>
<h2>Contact Us</h2>
<p>If at any time you need to speak to anyone within the Recruitment Team then please contact us on 0333 0062939 (Option 1) or alternatively email us at <a href="mailto:graduatesenquiries&#64;tfljobs.co.uk">graduatesenquiries&#64;tfljobs.co.uk</a></p>
<p>So if you're looking to make an impact on the future of the Capital &#45; and the lives of the people who live and work here, now's the time to make your move.</p>
</div>
 <div>

<hr />
<strong>
Applications for this opportunity are now closed.</strong>
<hr />
</div>
 <div>

<p><br />
We are an equal opportunity employer and value diversity. We do not discriminate on the basis of race, religion, colour, gender, sexual orientation, age or disability status.</p>
</div>
 
<div class="module-grid clearfix">
<div class="news-teaser">

    <a href="/corporate/careers/graduate-scheme/application-process?intcmp=20329" >
        
        
        <div class="text-link">
             <h2>Application process</h2>
            <p>From application to job offer, watch our videos and find out what to expect</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/careers/graduate-scheme/behaviours-and-competencies?intcmp=42394" >
        
        
        <div class="text-link">
             <h2>Behaviours & competencies</h2>
            <p>Have you got what it takes to be one of our team?</p>
        </div>
    </a>
</div>
 
 
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        <div>

<hr />
<strong>
Applications for this opportunity are now closed.</strong>
<hr />
</div>
 <div>

<p><br />
We are an equal opportunity employer and value diversity. We do not discriminate on the basis of race, religion, colour, gender, sexual orientation, age or disability status.</p>
</div>
 
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/careers/index" class="heading">
                    <h2 id="sub-menu-heading">Careers<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/careers/graduates">Graduates</a></div>
                                <ul>
                                    
                <a href="/corporate/careers/graduate-scheme/graduate-opportunities" class="heading">
                    <h2 id="sub-menu-heading">Graduate opportunities<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/civil-engineering-grad-scheme">Civil Engineering</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/commercial-procurement">Commercial Procurement</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/commercial-property-surveyor">Commercial Property Surveying</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/engineering-and-technology">Engineering & Technology</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/finance">Finance</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/fire-engineering">Fire Engineering</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/mechanical-engineering">Mechanical Engineering</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/software-engineering">Software Development</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/strategy-and-change-management">Strategy & Change Management</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/technology-engineering">Technology Analyst</a></div></li>
                            
 
                </ul>
            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/placement-opportunities">Placement opportunities</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/behaviours-and-competencies">Behaviours and competencies</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/salary-and-benefits">Salary & benefits</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/application-process">Application process</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/apprenticeships">Apprenticeships</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/steps-into-work">Steps into work </a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/smart-sourcing-programme">Smart Sourcing programme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/rewarding-you">Rewarding you</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/employability-toolkit">Employability toolkit</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Find out about our Fire Engineering graduate scheme ";}
        
            
        


 