
    
  



@{ViewBag.Title = "Mechanical Engineering";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/careers/graduate-scheme/graduate-roles/mechanical-engineering";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/careers/index">Careers</a></li>
                
            
                 <li><a href="/corporate/careers/graduates">Graduates</a></li>
                
            
                 <li><a href="/corporate/careers/graduate-scheme/graduate-opportunities">Graduate opportunities</a></li>
                
            
            
                <li><span class="last-breadcrumb">Mechanical Engineering</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Mechanical Engineering</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    <div class="on-this-page">
      
      
           
      

<div class="table-container"><table>
    <tbody>
        <tr>
            <td>
            <strong>Entry requirements</strong><br />
            Candidates must hold or be on track to achieve a minimum of a 2:1 MEng in Mechanical Engineering or a closely aligned subject accredited by IMechE.
            </td>
        </tr>
        <tr>
            <td><strong>Duration</strong><br />
            2 years</td>
        </tr>
        <tr>
            <td><strong>Location</strong><br />
            London</td>
        </tr>
        <tr>
            <td><strong>Salary<br />
            </strong>&pound;27,000</td>
        </tr>
    </tbody>
</table></div>


 <div>

<p>Our Engineers focus on the assets that form the foundation of our transport system. Mechanical engineers are at the heart of the design and innovation that helps 30 million customer journeys around London, every single day. The emphasis of our graduate scheme is on developing 'world-class' mechanical engineers who seek to become the senior engineers, subject matter experts and leaders of the future. You will find solutions to meaningful problems, driving the most recognised and innovative transport network in the world.</p>
<h2>What you'll be doing</h2>
<p>As a graduate, your two year development programme will be made up of up to eight placement rotations. Our aim is to equip you with the range of skills and experience you need for your successful career. We also understand that everyone's career is different, so every graduate's journey is unique. </p>
<p>Here's an idea of what yours could look like:</p>
<h3>Year 1</h3>
<p><strong>Placement 1 - Rolling Stock Engineering &#45; 3 months</strong><br />You will be placed within either major projects or operational, understanding 3D design, maintenance optimisation, fault finding and manufacturing solutions</p>
<p><strong>Placement 2 &#45; Track Engineering &#45; 3 months</strong><br />You will be trialing new technologies, carrying out risk simulations, track inspections and reviewing new track layout designs. You may be expected to work night shifts.</p>
<p><strong>Placement 3 &#45; Lifts and Escalators Engineering &#45; 3 months</strong><br />Understanding safety standards, implementing technology updates and reviewing system designs. You may be expected to work night shifts.</p>
<p><strong>Placement 4 &#45; Operational Engineering &#45; 3 months</strong><br />Based at a depot, you will experience route-cause analysis, maintenance inspections and implementing designs generated from rolling stock. You may be expected to work night shifts.</p>
<h2>Year 2</h2>
<p><strong>Placement 5 - Station Systems Engineering &#45; 3 months</strong><br />Understanding station power-saving, CFD simulations of station wind speeds, station cooling systems, carrying out passenger flow simulations and layout planning for operation equipment.</p>
<p><strong>Placement 6 - Asset management &#45; 3 months</strong><br />Responsibilities will include carrying out asset inspections, monitoring the life-expectancy of assets, managing maintenance schedules for older assets and designing implementation schedules for new assets.</p>
<p><strong>Placement 7 &#45; Major Projects &#45; 3 months</strong><br />As a more strategic placement, you will experience stakeholder management and the commercial aspects to Engineering. This placement is pan-TfL, so your placement could be on anything from cycle superhighways, bridges and structures, Crossrail/Crossrail 2 to deep tube upgrades.</p>
<p><strong>Placement 8 &#45; Building Services Engineering &#45; 3 months</strong><br />As a more practical placement you will be focused on mostly small station upgrades.  This could include things like implementing and maintaining step-free access and planning for bus accommodation.</p>
<p>The placements in your first year on the programme will be fixed and the placements in your second year will be mutually agreed to ensure you gain experience on the widest possible range of technologies, tools and teams. In your second year, you will have the opportunity to tailor your time with us to suit your needs.  Your final placement will be in the chosen team which you would like to roll-off into.</p>
<h2>What we look for</h2>
<p>Everything we do as an organisation is to ensure that our evolving city remains future-proof for millions of Londoners. Our talented graduates form a vital part of that vision, so it's important that we find the best people to help us do this. </p>
<p>We're looking for people who:</p>
<ul>
    <li>Have an inquisitive mind</li>
    <li>Relish a challenge</li>
    <li>Are motivated to add value through a solutions-focused approach</li>
    <li>Have a passionate vision</li>
    <li>Are team focused</li>
</ul>
<p>As a member of the team, we'll give you responsibility and the opportunity to add value from day one.  If you are excited by inspiring and influencing the future of London and are up for a challenge and thrive under pressure, then this is the career path for you.</p>
<h2>Where you can take your career</h2>
<p>Our mechanical engineers have the chance to create a huge impact. A career with us can be very varied with opportunities across the whole of TfL engineering for you to enjoy. In five years, you will should expect to have achieved chartered status; creating opportunities to be an engineer working in all areas of the business from performance engineering, using  simulation software, to providing technical support to our operating businesses and responsible for making key technical decisions. Following that, you could be responsible for the performance of a team and setting the engineering approach informing strategic decisions on designs and processes.</p>
<h2>How we'll develop and support you</h2>
<p>Whilst on the scheme, we'll support your technical development through a wide range of on-the-job practical experiences and placements.  We'll also support your professional development through a combination of classroom-led training courses, online training courses, mentoring opportunities and structured networking opportunities with scheme alumni. You will receive one-to-one support throughout the programme from your scheme sponsor and your Line Manager. You'll also be connected to a 'buddy' who will be an alumnus from the scheme.</p>
</div>
 <div>

<h2>Reasonable Adjustments</h2>
<p>If you have any special requirements or require any reasonable adjustments to enable you to take our online tests or to attend our assessment centre, please contact us by phone or email on the contact details below.</p>
<p>Please note: We need a minimum of 48 hours' notice to allow us to try and accommodate reasonable adjustments at the assessment centre. Any adjustments will be confirmed to you in writing, once received, please print a copy and bring this to the assessment with you.</p>
<h2>Contact Us</h2>
<p>If at any time you need to speak to anyone within the Recruitment Team then please contact us on 0333 0062939 (Option 1) or alternatively email us at <a href="mailto:graduatesenquiries&#64;tfljobs.co.uk">graduatesenquiries&#64;tfljobs.co.uk</a></p>
<p>So if you're looking to make an impact on the future of the Capital &#45; and the lives of the people who live and work here, now's the time to make your move.</p>
</div>
 <div>

<hr />
<strong>
Applications for this opportunity are now closed.</strong>
<hr />
</div>
 <div>

<p><br />
We are an equal opportunity employer and value diversity. We do not discriminate on the basis of race, religion, colour, gender, sexual orientation, age or disability status.</p>
</div>
 
<div class="module-grid clearfix">
<div class="news-teaser">

    <a href="/corporate/careers/graduate-scheme/application-process?intcmp=20329" >
        
        
        <div class="text-link">
             <h2>Application process</h2>
            <p>From application to job offer, watch our videos and find out what to expect</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/careers/graduate-scheme/behaviours-and-competencies?intcmp=42394" >
        
        
        <div class="text-link">
             <h2>Behaviours & competencies</h2>
            <p>Have you got what it takes to be one of our team?</p>
        </div>
    </a>
</div>
 
 
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        <div>

<hr />
<strong>
Applications for this opportunity are now closed.</strong>
<hr />
</div>
 <div>

<p><br />
We are an equal opportunity employer and value diversity. We do not discriminate on the basis of race, religion, colour, gender, sexual orientation, age or disability status.</p>
</div>
 
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/careers/index" class="heading">
                    <h2 id="sub-menu-heading">Careers<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/careers/graduates">Graduates</a></div>
                                <ul>
                                    
                <a href="/corporate/careers/graduate-scheme/graduate-opportunities" class="heading">
                    <h2 id="sub-menu-heading">Graduate opportunities<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/civil-engineering-grad-scheme">Civil Engineering</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/commercial-procurement">Commercial Procurement</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/commercial-property-surveyor">Commercial Property Surveying</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/engineering-and-technology">Engineering & Technology</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/finance">Finance</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/fire-engineering">Fire Engineering</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/mechanical-engineering">Mechanical Engineering</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/software-engineering">Software Development</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/strategy-and-change-management">Strategy & Change Management</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/technology-engineering">Technology Analyst</a></div></li>
                            
 
                </ul>
            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/placement-opportunities">Placement opportunities</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/behaviours-and-competencies">Behaviours and competencies</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/salary-and-benefits">Salary & benefits</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/application-process">Application process</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/apprenticeships">Apprenticeships</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/steps-into-work">Steps into work </a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/smart-sourcing-programme">Smart Sourcing programme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/rewarding-you">Rewarding you</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/employability-toolkit">Employability toolkit</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Find out about the Mechanical Engineering graduate scheme";}
        
            
        


 