
    
  



@{ViewBag.Title = "Strategy & Change Management";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/careers/graduate-scheme/graduate-roles/strategy-and-change-management";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/careers/index">Careers</a></li>
                
            
                 <li><a href="/corporate/careers/graduates">Graduates</a></li>
                
            
                 <li><a href="/corporate/careers/graduate-scheme/graduate-opportunities">Graduate opportunities</a></li>
                
            
            
                <li><span class="last-breadcrumb">Strategy & Change Management</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Strategy & Change Management</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    <div class="on-this-page">
      
      
           
      
<h2>Overview </h2>
<div class="table-container"><table>
    <tbody>
        <tr>
            <td><strong></strong>
            <strong>Entry requirements</strong><br />
            Candidates must already hold or be on track to achieve a minimum of a 2:1 degree, or a Masters, in either a STEM subject or Business, Economics, Accounting
            or a closely aligned subject           </td>
            <td> </td>
        </tr>
        <tr>
            <td><strong></strong>
            <strong>Duration</strong><br />
            2 years
            </td>
        </tr>
        <tr>
            <td><strong></strong>
            <strong>Location</strong><br />
            London
            </td>
        </tr>
        <tr>
            <td><strong>Salary</strong><br />
            &pound;27,000</td>
        </tr>
    </tbody>
</table></div>


 <div>

<p>Our Professional Services teams focus on the employees at the heart of our business. This scheme focuses on London Underground's Strategy &amp; Change Management directorate, setting the vision and priorities for the organisation.  We are at the heart of strategic planning, ensuring London Underground's capital projects are delivering real benefits, and leading business change.</p>
<h2>What you'll be doing</h2>
<p>As a graduate, your two year development programme will be made up of up to six placement rotations. Our aim is to equip you with the range of skills and experience you need for your successful career. We also understand that everyone's career is different, so every graduate's journey is unique. Here's an idea of what yours could look like:</p>
<p><strong>Placement 1 &#45; Strategy &#45; 5 months</strong><br />
Gathering and analysing data to solve problems that TfL are facing as a business; creating documents for TfL's senior managers that help them make the right decisions and developing TfL's internal scorecards to set business targets for the year ahead.</p>
<p><strong>Placement 2 &#45; Sponsorship &#45; 5 months</strong><br />
Writing business cases for multi-million pound investment projects; learning about the project lifecycle and TfL's governance processes, contributing to design reviews and decisions about project scope.</p>
<p><strong>Placement 3 &#45; Change &#45; 5 months</strong><br />
Supporting early stage problem solving on a pipeline idea; working up a concept design and feasibility study; engaging with front line teams to understand the obstacles to change.</p>
<p><strong>Placement 4 &#45; Operations &#45; 4 months</strong><br />
Shadow and support a senior manager in London Underground operations; gain a vital insight to the unique challenges our operational business faces, which will be invaluable in the rest of your career.</p>
<p><strong>Placement 5 &#45; Bus strategy &#45; 5 months</strong><br />
An external placement with one of our counterpart teams elsewhere in TfL; observe a different way of working and share best practice across the organisation.</p>
<p>Strategy, Sponsorship, and Change are the three main functions of the Strategy and Change Management directorate, and therefore a placement in each of these will be essential &#45; but within these teams there are a wide range of projects and work streams, which our graduates are able to explore to see which one they'd like to work on.  Similarly, placements can also be considered outside of the directorate if a graduate is passionate and motivated to take a different path on the programme.</p>
<h2>What we look for</h2>
<p>Everything we do as an organisation is to ensure that our evolving city remains future-proof for millions of Londoners. Our talented graduates form a vital part of that vision, so it's important that we find the best people to help us do this. </p>
<p>We're looking for people who:</p>
<ul>
    <li>Challenge the status quo</li>
    <li>Can analyse and solve problems</li>
    <li>Are excellent communicators</li>
</ul>
<p>As a member of the team, we'll give you responsibility and the opportunity to add value from day one.  If you are excited by inspiring and influencing the future of London and are up for a challenge and thrive under pressure, then this is the career path for you.</p>
<h2>Where you can take your career</h2>
<p>Towards the end of the scheme, your personal sponsor will discuss with you what kind of role would be most appropriate after you've completed the scheme.  The skills, knowledge, and experience you will have built up during the two years put you in excellent position to progress further; several of the senior managers in Strategy and Change Management came through the graduate scheme.</p>
<h2>How we'll develop and support you</h2>
<p>Whilst on the scheme, we'll support your technical development through a wide range of on-the-job practical experiences and placements.  We'll also support your professional development through a combination of classroom-led training courses, online training courses, mentoring opportunities and structured networking opportunities with scheme alumni. You will receive one-to-one support throughout the programme from your scheme sponsor and your Line Manager. You'll also be connected to a 'buddy' who will be an alumnus from the scheme.</p>
</div>
 <div class="clearfix">
    <div class="image-box left-float">
    
        
        
        <img src="/cdn/static/cms/images/john-strategy-change-management-graduate_rdax_400x457.jpg" alt="John, Strategy & Change Management Graduate" />
        
        
        
    </div>
    <h2>Meet the graduate</h2>
<p>&quot;As a graduate at TfL, you have a variety of opportunities to develop on top of your day-to-day responsibilities. This could be representing TfL at external events; for example, I spoke to students at Lewisham College and Bullers Wood School about my experiences. I also had the opportunity to facilitate at an Asset Management Forum, attended by businesses from all over the UK providing a fantastic networking opportunity.</p>
<p>I have been encouraged to develop myself professionally through a number of useful training courses. When you start the graduate scheme, you will be given a list of graduate specific training courses that you need to complete; for example, presentation skills and managing finance. There are also opportunities to take part in training courses outside of those specifically assigned to graduates; for example, when I wanted to improve my coaching skills, I was able to attend a course to develop this area.&quot;</p>
<p><strong>- John, Strategy &amp; Change Management Graduate</strong></p> 
 </div>
 <div>

<h2>Reasonable Adjustments</h2>
<p>If you have any special requirements or require any reasonable adjustments to enable you to take our online tests or to attend our assessment centre, please contact us by phone or email on the contact details below.</p>
<p>Please note: We need a minimum of 48 hours' notice to allow us to try and accommodate reasonable adjustments at the assessment centre. Any adjustments will be confirmed to you in writing, once received, please print a copy and bring this to the assessment with you.</p>
<h2>Contact Us</h2>
<p>If at any time you need to speak to anyone within the Recruitment Team then please contact us on 0333 0062939 (Option 1) or alternatively email us at <a href="mailto:graduatesenquiries&#64;tfljobs.co.uk">graduatesenquiries&#64;tfljobs.co.uk</a></p>
<p>So if you're looking to make an impact on the future of the Capital &#45; and the lives of the people who live and work here, now's the time to make your move.</p>
</div>
 <div>

<hr />
<strong>
Applications for this opportunity are now closed.</strong>
<hr />
</div>
 <div>

<p><br />
We are an equal opportunity employer and value diversity. We do not discriminate on the basis of race, religion, colour, gender, sexual orientation, age or disability status.</p>
</div>
 
<div class="module-grid clearfix">
<div class="news-teaser">

    <a href="/corporate/careers/graduate-scheme/application-process?intcmp=20329" >
        
        
        <div class="text-link">
             <h2>Application process</h2>
            <p>From application to job offer, watch our videos and find out what to expect</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/careers/graduate-scheme/behaviours-and-competencies?intcmp=42394" >
        
        
        <div class="text-link">
             <h2>Behaviours & competencies</h2>
            <p>Have you got what it takes to be one of our team?</p>
        </div>
    </a>
</div>
 
 
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        <div>

<hr />
<strong>
Applications for this opportunity are now closed.</strong>
<hr />
</div>
 <div>

<p><br />
We are an equal opportunity employer and value diversity. We do not discriminate on the basis of race, religion, colour, gender, sexual orientation, age or disability status.</p>
</div>
 
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/careers/index" class="heading">
                    <h2 id="sub-menu-heading">Careers<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/careers/graduates">Graduates</a></div>
                                <ul>
                                    
                <a href="/corporate/careers/graduate-scheme/graduate-opportunities" class="heading">
                    <h2 id="sub-menu-heading">Graduate opportunities<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/civil-engineering-grad-scheme">Civil Engineering</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/commercial-procurement">Commercial Procurement</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/commercial-property-surveyor">Commercial Property Surveying</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/engineering-and-technology">Engineering & Technology</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/finance">Finance</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/fire-engineering">Fire Engineering</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/mechanical-engineering">Mechanical Engineering</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/software-engineering">Software Development</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/strategy-and-change-management">Strategy & Change Management</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-roles/technology-engineering">Technology Analyst</a></div></li>
                            
 
                </ul>
            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/placement-opportunities">Placement opportunities</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/behaviours-and-competencies">Behaviours and competencies</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/salary-and-benefits">Salary & benefits</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/application-process">Application process</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/apprenticeships">Apprenticeships</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/steps-into-work">Steps into work </a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/smart-sourcing-programme">Smart Sourcing programme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/rewarding-you">Rewarding you</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/employability-toolkit">Employability toolkit</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Find out about our Strategy & Change Management graduate scheme";}
        
            
        


 