
    
  



@{ViewBag.Title = "Cycle Superhighways";}
@{ViewBag.Keywords = "Cyclists,Cycling,TfL";}
@{ViewBag.Url = "/modes/cycling/routes-and-maps/cycle-superhighways";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/cycling/index">Cycling</a></li>
                
            
                 <li><a href="/modes/cycling/routes-and-maps">Routes & maps</a></li>
                
            
            
                <li><span class="last-breadcrumb">Cycle Superhighways</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Cycle Superhighways</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Cycle Superhighways aim to provide protected space for cycling on some of London's busiest roads. They connect stations, town centres and key destinations, making them more accessible and easier for people to cycle to.
        
      </div>
    
    
      
    
      
           
      <div>

<h2>Cycleways</h2>

<p>From summer 2019, we're combining new cycle routes, Cycle Superhighways and Quietways into one cycle network called Cycleways.</p>

<h2>Routes</h2>

<p>We currently have eight Cycle Superhighway routes completed.</p>

<h3>Proposed Cycle Superhighways</h3>
</div>
 
<div class="module-grid clearfix">
<div class="news-teaser">

    <a href="/travel-information/improvements-and-projects/cycle-superhighway-11?intcmp=38909" >
        <img src="/cdn/static/cms/images/promos/cycle-superhighway-11_rdax_400x200.jpg" alt="cyclists going down cycle superhighway 11" />
        
        <div class="text-link">
             <h2>Cycle Superhighway 11</h2>
            <p>Swiss Cottage to the West End</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/travel-information/improvements-and-projects/cycle-superhighway-9?intcmp=50045" >
        <img src="/cdn/static/cms/images/promos/cycle-superhighway-9_rdax_400x200.jpg" alt="cyclists going down cycle superhighway 9" />
        
        <div class="text-link">
             <h2>Cycle Superhighway 9</h2>
            <p>Kensington Olympia to Brentford</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/travel-information/improvements-and-projects/cycle-superhighway-4?intcmp=50256" >
        <img src="/cdn/static/cms/images/promos/cycle-superhighway-4_rdax_400x200.jpg" alt="cyclists going down cycle superhighway 4" />
        
        <div class="text-link">
             <h2>Cycle Superhighway 4</h2>
            <p>Tower Bridge to Greenwich</p>
        </div>
    </a>
</div>
 
 
</div>
 <div>

<h2>Existing Cycle Superhighways</h2>
</div>
 <div class="vertical-button-container">



<a href="https://tfl.gov.uk/maps/cycle?intcmp=40402"  class="plain-button">See our cycle map</a>

</div>

<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cycle-superhighway-route-1-map-city-to-tottenham.pdf">
    <div class="document-download-text">
        <p>Cycle Superhighway 1: the City to Tottenham</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 482KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.47 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cycle-superhighway-cs2-stratford-aldgate.pdf">
    <div class="document-download-text">
        <p>Cycle Superhighway 2: Stratford to Aldgate</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 154KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 

<a class="document-download-wrap landscape-download-image with-image pdfpdf" href="/cdn/static/cms/documents/east-west-cs-overview-map-18-12-17.pdf">
    <div class="document-download-text">
        <p>Cycle Superhighway 3 (East-West):  Lancaster Gate to Tower Hill</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 124KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/east-west-map-thumb-18-12-2017.jpg" alt="Detail of East-West Cycle Superhighway map" />
    </div>

</a>

<!-- 0.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cs5-oval-pimlico.pdf">
    <div class="document-download-text">
        <p>Cycle Superhighway 5: Oval to Pimlico</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 765KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.75 -->
 

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/cs6-ns-map-september-2018.pdf">
    <div class="document-download-text">
        <p>Cycle Superhighway 6 (North-South) overview map</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 131KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/cs-ns-map-detail.jpg" alt="Thumbnail of the North-South Cycle Superhighway (CS6) map" />
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cycle-superhighway-cs7-sch.pdf">
    <div class="document-download-text">
        <p>Cycle Superhighway 7: Merton to the City</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 77KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cycle-superhighway-cs8-wandsworth-westminster.pdf">
    <div class="document-download-text">
        <p>Cycle Superhighway 8: Wandsworth to Westminster</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 293KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.29 -->
 
</div>

</div>
 <div>


</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/cycling/index" class="heading">
                    <h2 id="sub-menu-heading">Cycling<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/new-to-cycling">Get started with cycling</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/santander-cycles">Santander Cycles</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london">Cycling in London</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps">Routes & maps</a></div>
                                <ul>
                                    
                                        <li class="selected"><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps/cycle-superhighways">Cycle Superhighways</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps/new-cycle-routes">New cycle routes</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps/quietways">Quietways</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps/cycle-mini-hollands">Mini-Hollands </a></div></li>
                            
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        

                <div class="widget-wrapper">
                    <div class="expandable-box">
                        <div class="content">
                            <div class="always-visible widget-heading">
                                <div class="controls">&nbsp;</div>
                                <div class="widget-title">
                                    Plan a journey
                                </div>
                            </div>
                            <div class="start-hidden widget-content journey-planner-widget clearfix">
                                @{Html.RenderAction("Index", "JourneyPlanner", new
                                    { jptype = "cycling" } 
                                );}
                            </div>
                        </div>
                    </div>
                </div>
            
 <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="https://consultations.tfl.gov.uk/" class="plain-button">Cycle Superhighway consultations</a>
<a href="/modes/cycling/cycling-in-london/cycle-skills" class="plain-button">Cycle training</a>
<a href="/modes/cycling/routes-and-maps/quietways" class="plain-button">Quietways</a>
<a href="/travel-information/safety/road-safety-advice/driving-and-cycling-safety" class="plain-button">Cycle safety</a>
<a href="https://businessoffers.tfl.gov.uk/home.html" class="plain-button">Cycling workplaces</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Safer, faster, more direct journeys into and across London";}
        
            
        


 