
    
  



@{ViewBag.Title = "Mini-Hollands ";}
@{ViewBag.Keywords = "Boroughs,Cyclists,Planning and construction,M,Enfield,Kingston upon Thames,Waltham Forest,Roads,Cycling,TfL";}
@{ViewBag.Url = "/modes/cycling/routes-and-maps/cycle-mini-hollands";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/cycling/index">Cycling</a></li>
                
            
                 <li><a href="/modes/cycling/routes-and-maps">Routes & maps</a></li>
                
            
            
                <li><span class="last-breadcrumb">Mini-Hollands </span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Mini-Hollands </h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Our Mini-Holland programme has awarded &pound;30m each to three outer London boroughs - Enfield, Kingston and Waltham Forest - to help them create a network of cycle routes. This investment will also allow them to improve the streets and public areas along these routes for everyone. The programme should be complete by the end of 2021.<BR>
        
      </div>
    
    
      
      
           
      <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/mini-hollands-blackhorse-village_rdax_400x250.jpg" alt="Cycle lane in Blackhorse Village" />
        
        
        
    </div>
    <p>The Mini-Holland programme is part of the Mayor's <a href="/corporate/about-tfl/corporate-and-social-responsibility/transport-and-health">Healthy Streets</a> agenda to help Londoners use cars less and walk, cycle and use public transport more. It specifically addresses the demands of growth in outer London.</p>

<p>Mini-Hollands have features that make cycling feel safer and more convenient. The programme targets people who make short car journeys in outer London that could easily be cycled or walked instead.</p>

<p>More than a third of the schemes are now complete or under construction. The remaining schemes are at the design or consultation stage.</p>

<p>All schemes are led by the boroughs and are consulted on locally once designs have been developed. We will consult on schemes that affect the <a href="/corporate/about-tfl/what-we-do/roads">TfL Road Network</a>.</p>

<h2>The boroughs</h2>

<p>More than 90 schemes have been proposed by the three Mini-Holland boroughs. They include a range of innovative improvements for cyclists:</p>

<ul>
	<li><strong>Cycle Enfield:</strong> segregated cycle routes are being built on the A105 Green Lanes and the A1010 Hertford Road. A network of <a href="/modes/cycling/routes-and-maps/quietways">Quietway routes</a> is being designed and implemented, using quiet back streets to link key destinations and corridors. Enfield town centre will be redesigned to make it pleasanter and safer to walk and cycle around. Cycle storage hubs are planned at Enfield Town and Edmonton Green stations. See the <a href="http://cycleenfield.co.uk/">Cycle Enfield website</a>.</li>
	<li><strong>Go Kingston:</strong> the area around Kingston station is currently being transformed and will link to a number of planned, high-quality cycling routes. A new segregated cycle route under construction on Wheatfield Way will eventually link Kingston to Surbiton. New cycle routes will also be developed on Kingston Hill, and between New Malden and Raynes Park. See <a href="https://www.kingston.gov.uk/gocycle">'Go Cycle' on the Kingston Council website</a>.</li>
	<li><strong>Enjoy Waltham Forest:</strong> a fully segregated route along Lea Bridge Road has been developed and is currently under construction alongside a range of measures to improve cycling throughout residential areas and introduce low-traffic neighbourhoods. Cycle hubs have been introduced for major stations within the borough, including Walthamstow Central, Leyton, Leytonstone and Wood Street. See the <a href="http://www.enjoywalthamforest.co.uk/">Enjoy Waltham Forest website</a>.</li>
</ul>

<p>All three boroughs have complementary programmes to go along with the new physical infrastructure. These include cycle training, cycle roadshows, bike maintenance courses and cycle parking.</p>

<h2>Have your say</h2>

<p>To find out which schemes the boroughs are consulting on, to comment on the plans and see the results for those that have already taken place, visit the individual borough websites or the <a href="https://consultations.tfl.gov.uk/cycling/grid-and-quietways-consultations-by-borough">TfL consultation hub</a>.</p>
 </div>
 

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/mini-hollands-leyton-cycle-pod-exterior.jpg" alt="Leyton" />
                <figcaption>
<span class="figure-title">Leyton</span>
<span class="figure-description">Cycle pod</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/mini-hollands-leyton-cycle-pod-interior.jpg" alt="Leyton" />
                <figcaption>
<span class="figure-title">Leyton</span>
<span class="figure-description">Cycle pod</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/mini-hollands-portsmouth-road-queens-promenade-public-space.jpg" alt="Portsmouth Road" />
                <figcaption>
<span class="figure-title">Portsmouth Road</span>
<span class="figure-description">Queens Promenade public space</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/church-road-blackhorse-to-leyton-waltham-forest.jpg" alt="Leyton to Blackhorse cycle route - Waltham Forest" />
                <figcaption>
<span class="figure-title">Leyton to Blackhorse cycle route - Waltham Forest</span>
<span class="figure-description">Two-way cycle track and bus stop bypass</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/lea-bridge-road-and-aqueduct-bridge-waltham-forest.jpg" alt="Lea Bridge Road and Aqueduct Bridge - Waltham Forest" />
                <figcaption>
<span class="figure-title">Lea Bridge Road and Aqueduct Bridge - Waltham Forest</span>
<span class="figure-description">New pedestrian and cycle route forming part of the wider Lea Bridge road scheme</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/orford-road-walthamstow-village-waltham-forest.jpg" alt="Walthamstow Village &#45; Waltham Forest" />
                <figcaption>
<span class="figure-title">Walthamstow Village &#45; Waltham Forest</span>
<span class="figure-description">Removal of through traffic in residential areas</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/walthamstow-town-centre-cycle-hub-waltham-forest.jpg" alt="Walthamstow cycle hub - Waltham Forest" />
                <figcaption>
<span class="figure-title">Walthamstow cycle hub - Waltham Forest</span>
<span class="figure-description">Secure bicycle storage close to Walthamstow Central station</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/portsmouth-road-kingston.jpg" alt="Portsmouth Road - Kingston" />
                <figcaption>
<span class="figure-title">Portsmouth Road - Kingston</span>
<span class="figure-description">Segregated two-way cycle track</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/enfield-town-to-meridian-water-quietway.jpg" alt="Enfield Town to Meridian Water Quietway - Enfield" />
                <figcaption>
<span class="figure-title">Enfield Town to Meridian Water Quietway - Enfield</span>
<span class="figure-description">Cycle quiet route from Enfield Town to Meridian Water</span>
                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/cycling/index" class="heading">
                    <h2 id="sub-menu-heading">Cycling<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/new-to-cycling">Get started with cycling</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/santander-cycles">Santander Cycles</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london">Cycling in London</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps">Routes & maps</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps/cycle-superhighways">Cycle Superhighways</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps/new-cycle-routes">New cycle routes</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps/quietways">Quietways</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps/cycle-mini-hollands">Mini-Hollands </a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/publications-and-reports/streets-toolkit" class="plain-button">Streets toolkit</a>
<a href="https://tfl.gov.uk/maps/cycle?intcmp=40402" class="plain-button">Cycle map</a>
    </div>
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://cycleenfield.co.uk/" class="plain-button">Cycle Enfield</a>
<a href="https://www.kingston.gov.uk/gocycle" class="plain-button">go cycle (Kingston Council)</a>
<a href="http://www.enjoywalthamforest.co.uk/" class="plain-button">Enjoy Waltham Forest</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "The Mini-Hollands programme will give outer-London boroughs the funding to transform local cycling facilities";}
        
            
        


 