
    
  



@{ViewBag.Title = "Quietways";}
@{ViewBag.Keywords = "Boroughs,Cyclists,Q,Brent,Camden,City of London,Croydon,Greenwich,Hackney,Islington,Lambeth,Lewisham,Merton,Newham,Redbridge,Southwark,Tower Hamlets,Waltham Forest,Wandsworth,Westminster,Roads,Cycling,TfL";}
@{ViewBag.Url = "/modes/cycling/routes-and-maps/quietways";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/cycling/index">Cycling</a></li>
                
            
                 <li><a href="/modes/cycling/routes-and-maps">Routes & maps</a></li>
                
            
            
                <li><span class="last-breadcrumb">Quietways</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Quietways</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Quietways are continuous and convenient cycle routes on less-busy backstreets across London. Most of the first seven Quietways have sections that are complete.
        
      </div>
    
    
      <p>The routes are clearly marked with purple signs to help cyclists find their way along roads they may never have cycled along before. Quietways are ideal for people who want to cycle on lower-traffic streets, especially if they are new to cycling in London.</p>

<h2>Cycleways</h2>

<p>From summer, we're combining new cycle routes, Cycle Superhighways and Quietways into one cycle network called Cycleways.&nbsp;</p>

<h2>Routes</h2>

<p>Maps show full proposed routes with sections completed as of May 2019.</p>
      
           
      <div class="vertical-button-container">



<a href="https://tfl.gov.uk/maps/cycle?intcmp=40402"  class="plain-button">See our cycle map</a>

</div>

<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap landscape-download-image with-image pdfpdf" href="/cdn/static/cms/documents/quietway-1-south-map-waterloo-to-greenwich.pdf">
    <div class="document-download-text">
        <p>Quietway 1 (South) - Waterloo to Greenwich (Lambeth, Southwark, Lewisham, Greenwich)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 108KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/q1-waterloo-thumb.jpg" alt="detail of q1 south map" />
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/quietway-1-north-map-covent-garden-to-kentish-town.pdf">
    <div class="document-download-text">
        <p>Quietway 1 (North): Covent Garden to Kentish Town (Westminster, Camden)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 76KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/q1-north-thumb.jpg" alt="detail of q1 north map" />
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap landscape-download-image with-image pdfpdf" href="/cdn/static/cms/documents/q2-bloomsbury-walthamstow-east.pdf">
    <div class="document-download-text">
        <p>Quietway 2 (East): Bloomsbury to Waltham Forest  (Camden, Hackney, Islington, Waltham Forest)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 105KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/q2-thumb.jpg" alt="detail of Q2 map" />
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap landscape-download-image with-image pdfpdf" href="/cdn/static/cms/documents/quietway-2-east-acton-to-notting-hill.pdf">
    <div class="document-download-text">
        <p>Quietway 2 (West): East Acton to Notting Hill (Kensington & Chelsea, Hammersmith & Fulham)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 78KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/q2-east-acton-thumb.jpg" alt="detail of q2 map" />
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap landscape-download-image with-image pdfpdf" href="/cdn/static/cms/documents/quietway-3-map-regents-park-to-gladstone-park.pdf">
    <div class="document-download-text">
        <p>Quietway 3: Regents Park to Gladstone Park (Westminster, Brent, Camden)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 88KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/q3-regents-park-thumb.jpg" alt="detail of q3 map" />
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/quietway-4-map-clapham-common-to-wimbledon.pdf">
    <div class="document-download-text">
        <p>Quietway 4: Clapham Common to Wimbledon (Lambeth, Wandsworth, Merton)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 90KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/q4-clapham.jpg" alt="detail of q4 map" />
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/quietway-5-waterloo-to-norbury-map.pdf">
    <div class="document-download-text">
        <p>Quietway 5: Waterloo to Norbury (Lambeth, Wandsworth)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 79KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/q5-waterloo-thumb.jpg" alt="detail of q5 map" />
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap landscape-download-image with-image pdfpdf" href="/cdn/static/cms/documents/q6-victoria-park-to-barkingside-map.pdf">
    <div class="document-download-text">
        <p>Quietway 6: Victoria Park to Barkingside (Tower Hamlets, Redbridge)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 83KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/q6-vic-park-thumb.jpg" alt="detail of q6 map" />
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/q7-e-and-c-to-crystal-palace-map.pdf">
    <div class="document-download-text">
        <p>Quietway 7: Elephant and Castle to Crystal Palace (Southwark, Lambeth)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 67KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/q7-e-and-c-thumb.jpg" alt="detail of q7 map" />
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/quietway-11-map-the-city-to-angel.pdf">
    <div class="document-download-text">
        <p>Quietway 11: the City to Angel (City of London, Islington, Hackney)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 83KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/q11-city-thumb.jpg" alt="detail of q11 map" />
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/quietway-13-map-old-street-to-broadway-market.pdf">
    <div class="document-download-text">
        <p>Quietway 13: Old Street to Broadway Market (Islington, Hackney)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 95KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/q13-old-street-thumb.jpg" alt="detail of q13 map" />
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap landscape-download-image with-image pdfpdf" href="/cdn/static/cms/documents/q14-southwark-to-deptford-map.pdf">
    <div class="document-download-text">
        <p>Quietway 14: Southwark to Deptford (Southwark, Lewisham)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 73KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/q14-southwark-thumb.jpg" alt="detail of q14 map" />
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap landscape-download-image with-image pdfpdf" href="/cdn/static/cms/documents/quietway-15-map-belgravia-to-earls-court.pdf">
    <div class="document-download-text">
        <p>Quietway 15: Belgravia to Earls Court (Kensington & Chelsea)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 136KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/q15-belgravia-thumb.jpg" alt="detail of q15 map" />
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap landscape-download-image with-image pdfpdf" href="/cdn/static/cms/documents/q22-victoria-park-newham-way.pdf">
    <div class="document-download-text">
        <p>Quietway 22: Victoria Park to Newham Way via the Greenway</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 78KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/q22-victoria-thumb.jpg" alt="detail of q22 map" />
    </div>

</a>

<!-- 0.08 -->
 
</div>
<p>Route consultations will be carried out by the boroughs locally. We are consulting locally on the TfL Road Network (TLRN) junctions where changes are being proposed. Visit the <a href="https://consultations.tfl.gov.uk/cycling/grid-and-quietways-consultations-by-borough">Quietways consultation page</a>.</p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/cycling/index" class="heading">
                    <h2 id="sub-menu-heading">Cycling<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/new-to-cycling">Get started with cycling</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/santander-cycles">Santander Cycles</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london">Cycling in London</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps">Routes & maps</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps/cycle-superhighways">Cycle Superhighways</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps/new-cycle-routes">New cycle routes</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps/quietways">Quietways</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps/cycle-mini-hollands">Mini-Hollands </a></div></li>
                            
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/modes/cycling/routes-and-maps/cycle-superhighways" class="plain-button">Cycle Superhighways</a>
<a href="/corporate/publications-and-reports/streets-toolkit" class="plain-button">Streets toolkit</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We are creating Quietway routes across London";}
        
            
        


 