


@{ViewBag.Title = "Operation Quash tackles disorder on Barnet, Harrow and Hillingdon's transport routes";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Operation Quash tackles disorder on Barnet, Harrow and Hillingdon's transport routes</h1>
        <div class="content-page-press-release">
        25 February 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Barnet, Hillingdon and Harrow Safer Transport Teams, co-funded by Transport for London (TfL), conducted Operation Quash to tackle crime and disorder on commonly shared transport routes this month.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"We are joining forces and showing there are no borders when it comes to fighting crime"</div>
        <div class="quote-footer">
            <div class="quotee-name">Steve Burton</div>
            <div class="quotee-job-title">Director of Community Safety Enforcement and Policing at TfL</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are joining forces and showing there are no borders when it comes to fighting crime
                            
                        </p>
                    </div>
                
            
            
            <p>The exercise, on 12 February involved 22 police officers, 32 police community safety officers (PCSOs)&nbsp;&nbsp;and 39 Revenue Protection Inspectors (RPIs) from TfL.&nbsp; </p>
<p>It resulted in Inspectors checking the tickets of 3,002 passengers travelling on 166 buses.</p>
<p>This is the first in a series of exercises working in partnership with London Buses Revenue Protection Inspectors (RPIs), London Underground Crime and Disorder Partnership Unit Revenue Control Inspectors (RCIs), MPS Transport Operational Command Unit (TOCU) and Met Special Constabulary.</p>
<h2>Police operation</h2>
<p>Steve Burton, Director of Community Safety Enforcement and Policing at TfL said: 'With operations like this one being conducted in north London, we are joining forces and showing there are no borders when it comes to fighting crime.</p>
<p>'Whilst crime on our network is low there is always more that can be done.&nbsp; </p>
<p>'Joint, high visibility operations such as Quash are a good deterrent to anyone intending to commit a crime or travel without a valid ticket on our network.</p>
<p>'In addition, by June 2009, all three boroughs will benefit from extra policing teams, which will be based around transport hubs in their area.&nbsp; </p>
<h2>Strong deterrent</h2>
<p>'These will complement the existing Safer Transport Teams (STTs), who patrol the bus network and the British Transport Police working on our trains and stations.'</p>
<p>Sergeant Lee Cannon, Safer Transport Team, Barnet Police, said: 'Barnet, Harrow and Hillingdon STTs have, in the past, independently run many successful operations. </p>
<p>'This was an ideal opportunity for us to deploy to an entire length of one part of the transport network, focusing on the underground, buses and transport hubs. </p>
<p>'For example, stretching through Mill Hill to Ruislip, the 114 is one of the longest routes around and goes through many different areas.</p>
<h2>Crime on the network</h2>
<p>'This operation was in direct response to requests made by operators with buses going through specific areas who were receiving a higher than average level of complaints ranging from low-level disorder to fraud and other violent offences.</p>
<p>'The results really speak for themselves and are a testament to the dedication and hard work of all those involved.'</p>
<p>Inspector Andy Jones, Safer Transport Team, Hillingdon, said:&nbsp;'Hillingdon Borough were only too pleased to be a part of this cross Borough and multi agency operation. </p>
<p>'The transport routes do not recognise Borough boundaries or policing primacy, so to join forces with our colleagues and partners makes us more effective in dealing with the range of issues that we face on our transport networks. </p>
<h2>Laying foundations</h2>
<p>'As well as producing some great results.&nbsp; </p>
<p>'Operation Quash has brought all the units involved together and lays the foundation for operations such as this in the future.'</p>
<p>The teams employed a variety of tactics to target known offenders, provide a visible presence and to positively deal with offences.</p>
<p>
<hr>
<strong>Notes to editors: 
<p>
<ul>
<li></li></ul></strong>A full breakdown of the operation results are below for information: 
<ul>
<li>Buses screened - 166 </li>
<li>Passengers screened - 3,002 </li>
<li>Penalty Fares sssued - 45 </li>
<li>Penalty Fares paid - &pound;175 </li>
<li>Arrests, including - possession with intent to supply, going equipped, public order, fraud and illegal entry - 7 </li>
<li>Stop/accounts - 52 </li>
<li>Stop/searches - 239 </li>
<li>Cannabis warning - 1 </li>
<li>Passengers prosecuted - 47</li></ul>
<li>Crime on the TfL network: 
<ul>
<li>Last year bus related crime reduced by 14 per cent to its lowest rate for at least four years with just 15 crimes for every million journeys taken </li>
<li>Crime on the DLR and London Underground (LU) is also down - by 11 per cent.&nbsp;This equates to less than one crime on the network for every 60,000 passenger journeys or 14 crimes for every million journeys taken</li></ul></li>
<li>Fare evasion on the TfL network: 
<ul>
<li>On Sunday 11 January, TfL's penalty fare for non payment on its Bus, Tube, DLR and London Overground services increased to &pound;50 from the current level of &pound;20. After a public consultation the Penalty Fare on Tramlink also rose to &pound;50, from the current level of &pound;30 </li>
<li>A person suspected of deliberate or persistent fare evasion risks prosecution which can result in a criminal record and a fine of up to &pound;1,000 </li>
<li>Fare evasion on the transport network is a crime which costs Londoners approximately &pound;70m a year, money which could and should be used to further improve public transport </li>
<li>In addition to the penalty fare other tools that TfL uses to detect and deter fare evaders include the deployment of more than 500 revenue officers throughout the TfL transport network on a daily basis</li></ul></li>
<li>British Transport Police (BTP): 
<ul>
<li>BTP&nbsp;is the national police force for the railways providing a policing service to rail operators, their staff and passengers throughout England, Scotland and Wales </li>
<li>Presently there are more than 700 BTP officers funded by TfL to patrol LU stations and around an additional 55 BTP Officers and 10 PCSOs for London Overground (LO) stations </li>
<li>TfL currently funds 32 BTP officers to assist with neighbourhood policing initiatives on national rail in South London (currently Victoria to London Bridge and Lewisham towards Dartford)</li></ul></li>
<li>Safer Transport Teams: 
<ul>
<li>Twenty-one&nbsp;Greater London borough teams of police and community support officers patrolling the bus network </li>
<li>Co-funded by the Home Office and TfL </li>
<li>The seven extra officers being deployed to the Safer Transport Teams announced by the Mayor in 2008 will be made up of one inspector, one sergeant, two police constables and three PCSOs, boosting each team to a minimum of 28 TfL-funded officers (one Inspector,&nbsp;three Sargents,&nbsp;three Police Constables and 21 PCSOs) </li>
<li>The teams are attached to Metropolitan Police Service Borough Operational Command Units with the Metropolitan Police Service providing day-to-day supervision and management </li>
<li>There are Safer Transport Teams in Bexley, Bromley, Croydon, Greenwich, Barking and Dagenham, Enfield, Haringey, Havering, Newham, Redbridge, Waltham Forest, Hounslow, Kingston-upon-Thames, Merton, Richmond-upon-Thames and Sutton, Barnet, Brent, Harrow, Hillingdon and Ealing </li>
<li>The teams are borough based and enhance the Safer Neighbourhoods Teams who are ward based </li>
<li>For more information on the work of the Safer Transport Teams, you can visit www.met.police.uk and click on the relevant borough</li></ul></li>
<li>New transport policing teams in place from January 2009: 
<ul>
<li>As part of the Mayor's commitment to increase the police presence on and around public transport to make Londoners feel safer, and following the success of three pilot teams announced in October 2008, 32 locations across the Capital will receive an extra policing boost between January and June 2009 </li>
<li>The new transport policing team is made up of a Sergeant, one Police Constable and seven PCSOs </li>
<li>Jointly funded by TfL and the Metropolitan Police Service the nine-strong team will patrol a specific geographical area and will complement the excellent work of the existing STT in the borough which is also being boosted by an extra seven officers this year </li>
<li>The new team will become a visible deterrent to tackle crime and anti-social behaviour on and around the bus network.&nbsp;In addition the teams will be working closely with existing Safer Neighbourhood Teams, the BTP, Safer School Officers and local transport staff to ensure Londoners move around our city ever more safely and confidently </li>
<li>Further TfL bus security information: </li>
<li>By the end of 2005, TfL fitted all of London's 8000 buses with fully recording CCTV and there are now as many as 60,000 cameras fitted on the fleet </li>
<li>London's buses carry 6.4 million&nbsp;passengers a day on 700 routes across the Capital, and are a low crime environment with only 15 crimes for every million passenger journeys</li></ul></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The exercise, on 12 February involved 22 police officers, 32 police community safety officers (PCSOs)&nbsp;&nbsp;and 39 Revenue Protection Inspectors (RPIs) from TfL.&nbsp; It resulted in Inspectors checking the tickets of 3,002 passengers travelling on";}
        
        


 