


@{ViewBag.Title = "Rotherhithe road tunnel closed this weekend for station upgrade works";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Rotherhithe road tunnel closed this weekend for station upgrade works</h1>
        <div class="content-page-press-release">
        24 February 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Rotherhithe tunnel and Branch Road will be closed from midnight on Friday 27 February until 05.00 on Monday 2 March so that Docklands Light Railway's (DLR's) contractor can carry out platform extension works at Limehouse station.</p>
<p>Work needs to be carried out on the railway bridge above Branch Road, which provides access to and from Rotherhithe tunnel for both south and northbound traffic.</p>
<p>Transport for London (TfL) will use this opportunity to carry out maintenance work in the Rotherhithe tunnel while it is closed. </p>
<p>Diversion signs will direct traffic towards Tower Bridge.&nbsp;</p>
<p>In order to minimise disruption, TfL will warn motorists about closures through digital road signs on the approach roads leading to the tunnel.&nbsp;&nbsp; </p>
<p>Our traffic information centre will also send out bulletins to all London radio stations and other regional media. </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>Limehouse station will be closed during the platform extension works.&nbsp;Travellers are recommended to check before they travel&nbsp;</li>
<li>DLR's contractor will be carrying out platform extension works at Limehouse station as part of their programme to lengthen platforms at stations on the Bank-Lewisham line. Once complete, DLR will be able to run trains which are three carriages long, thereby increasing capacity by 50 per cent</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Rotherhithe tunnel and Branch Road will be closed from midnight on Friday 27 February until 05.00 on Monday 2 March so that Docklands Light Railway's (DLR's) contractor can carry out platform extension works at Limehouse station.Work needs to be carried";}
        
        


 