


@{ViewBag.Title = "Stansted Express to sell Visitor Oyster Cards";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Stansted Express to sell Visitor Oyster Cards</h1>
        <div class="content-page-press-release">
        17 February 2009
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        New deal enables visitors to buy Oyster Cards before they arrive in London.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"With an Oyster card in their hands visitors arriving at Stansted can now hit the ground running"</div>
        <div class="quote-footer">
            <div class="quotee-name">Boris Johnson</div>
            <div class="quotee-job-title">Mayor of London</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            With an Oyster card in their hands visitors arriving at Stansted can now hit the ground running
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) and Stansted Express have joined forces to enable passengers to buy Visitor Oyster cards when they purchase their train tickets at Stansted, allowing direct access to the Tube and bus network as soon as they arrive in London. </p>
<p>From the beginning of February, passengers are now able to purchase a Visitor Oyster card when they buy a Stansted Express ticket at the airport terminal and rail station. </p>
<p>With an Oyster card, Stansted Express travellers can easily change onto London Underground services at Tottenham Hale and London Liverpool Street, as well as London Bus services without the need to queue for a ticket. </p>
<h2>Welcome boost</h2>
<p>The Visitor Oyster card is pre-loaded with &pound;10 pay as you go credit and card holders can easily top up their credit at thousands of Tube stations, Travel Information Centres and newsagents across the capital. </p>
<p>What's more credit on the card is timeless and can be used for future visits to the Capital.</p>
<p>Boris Johnson, Mayor of London, said: 'With an Oyster card in their hands visitors arriving at Stansted can now hit the ground running and get straight to the business of exploring everything that the city has to offer.</p>
<p>'We want to continue to attract visitors to the Capital, and are conscious of the welcome boost they provide to the economy during the current downturn. </p>
<h2>Additional service</h2>

<p>'This deal will help us do that by making getting about that bit easier - cutting queuing time, and ensuring visitors can access the most cost-effective fares.' </p>
<p>Stansted Express runs services from Stansted Airport to London Liverpool Street via Tottenham Hale every 15 minutes and is used by nearly six million passengers every year. </p>
<p>Adrian Warren, Head of Marketing for Stansted Express, said: 'Stansted Express is committed to making travel simpler and we are delighted that we can now offer an additional service to our customers to help make their stay in London easier and cheaper.'</p>
<p>Visit London's Interim CEO, Sally Chatterjee, says: 'London welcomes more than 15 million international visitors each year. </p>
<h2>Easier travelling</h2>
<p>'This deal will mean that visitors can leave Stansted knowing they have all they need to travel to London's many museums and galleries on London's world famous transport network during their stay in the capital.'</p>
<p>The partnership between TfL and Stansted Express forms a further part of TfL's strategy to ensure that visitors to London have access to the quicker and easier way of travelling in the Capital available with Oyster. </p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>There are more than six million Oyster cards regularly used in London and last year more than three billiong journeys were made with Oyster </li>
<li>More than 80 per cent of all Tube and bus payments in London are now by Oyster. In the five years since the introduction of Oyster, the proportion of cash payments on the Tube and buses has fallen to just three per cent </li>
<li>When passengers use the Oyster pay as you go card to touch in and out on the yellow card readers on the Tube, Docklands Light Railway, London Overground and on National Rail services, where applicable, the system automatically works out the right fare for the journey within a fifth of a second from up to 1.83 million permutations </li>
<li>Almost three times as many passengers can pass through a Tube station entrance/exit gate using an Oyster card as can using printed tickets - 40 a minute compared to 15 a minute </li>
<li>Oyster is also available online, over the telephone via 0845 330 9876 or at Travel Information Centres across London. You can find your nearest Oyster outlet through the TfL website at <a href="http://www.tfl.gov.uk/oyster">www.tfl.gov.uk/oyster</a>&nbsp;</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) and Stansted Express have joined forces to enable passengers to buy Visitor Oyster cards when they purchase their train tickets at Stansted, allowing direct access to the Tube and bus network as soon as they arrive in London.";}
        
        


 