
    
  



@{ViewBag.Title = "Facts & figures";}
@{ViewBag.Keywords = "Public,Tube passengers,Tube,TfL";}
@{ViewBag.Url = "/corporate/about-tfl/what-we-do/london-underground/facts-and-figures";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/what-we-do">What we do</a></li>
                
            
                 <li><a href="/corporate/about-tfl/what-we-do/london-underground">London Underground</a></li>
                
            
            
                <li><span class="last-breadcrumb">Facts & figures</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Facts & figures</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The Tube has been an integral part of London's history for 150 years. But do you know which is the deepest station? Or the shortest journey? Find key facts and some interesting figures here.
        
      </div>
    
    <div class="on-this-page">
      
    
      
           
      

<div class="table-container"><table>
	<thead>
	</thead>
	<tbody>
		<tr>
			<th colspan="1" id="table_heading_0" rowspan="1"><a href="/corporate/about-tfl/what-we-do/london-underground/facts-and-figures#longest">Date opened</a></th>
			<td headers="table_heading_1">1863</td>
		</tr>
		<tr>
			<th colspan="1" id="table_heading_1" rowspan="1">Annual passenger numbers</th>
			<td headers="table_heading_1">1.35 billion</td>
		</tr>
		<tr>
			<th colspan="1" id="table_heading_2" rowspan="1">Length of network</th>
			<td headers="table_heading_1">402km</td>
		</tr>
		<tr>
			<th colspan="1" id="table_heading_3" rowspan="1">Busiest station</th>
			<td headers="table_heading_1">Waterloo - 100.3 million passengers per year</td>
		</tr>
		<tr>
			<th colspan="1" id="table_heading_4" rowspan="1">Annual train km travelled</th>
			<td headers="table_heading_1">83.6 million km</td>
		</tr>
		<tr>
			<th colspan="1" id="table_heading_5" rowspan="1">Average train speed</th>
			<td headers="table_heading_1">33kph</td>
		</tr>
		<tr>
			<th colspan="1" id="table_heading_6" rowspan="1">Proportion of network in tunnels</th>
			<td headers="table_heading_1">45%</td>
		</tr>
		<tr>
			<th colspan="1" id="table_heading_7" rowspan="1">Longest continuous tunnel</th>
			<td headers="table_heading_1">East Finchley to Morden (via Bank) - 27.8km</td>
		</tr>
		<tr>
			<th colspan="1" id="table_heading_8" rowspan="1">Total number of passenger escalators</th>
			<td headers="table_heading_1">440</td>
		</tr>
		<tr>
			<th colspan="1" id="table_heading_9" rowspan="1">Station with most escalators</th>
			<td headers="table_heading_1">Waterloo - 23</td>
		</tr>
		<tr>
			<th colspan="1" id="table_heading_10" rowspan="1">Longest escalator</th>
			<td headers="table_heading_1">Angel - 60 metres</td>
		</tr>
		<tr>
			<th colspan="1" id="table_heading_11" rowspan="1">Shortest escalator</th>
			<td headers="table_heading_1">Stratford - 4.1 metres</td>
		</tr>
		<tr>
			<th colspan="1" id="table_heading_12" rowspan="1">Total number of passenger lifts</th>
			<td headers="table_heading_1">188</td>
		</tr>
		<tr>
			<th colspan="1" id="table_heading_13" rowspan="1">Number of moving walkways</th>
			<td headers="table_heading_1">Four, two each at Waterloo and Bank</td>
		</tr>
		<tr>
			<th colspan="1" id="table_heading_14" rowspan="1">Deepest lift shaft</th>
			<td headers="table_heading_1">Hampstead - 55.2 metres</td>
		</tr>
		<tr>
			<th colspan="1" id="table_heading_15" rowspan="1">Shortest lift shaft</th>
			<td headers="table_heading_1">King's Cross St. Pancras - 2.3 metres</td>
		</tr>
		<tr>
			<th colspan="1" id="table_heading_16" rowspan="1">Step-free stations</th>
			<td headers="table_heading_1">78</td>
		</tr>
		<tr>
			<th colspan="1" id="table_heading_18" rowspan="1">Station with most platforms</th>
			<td headers="table_heading_1">Baker Street - 10</td>
		</tr>
		<tr>
			<th colspan="1" id="table_heading_19" rowspan="1">Highest station above mean sea level</th>
			<td headers="table_heading_1">Amersham (Metropolitan line) - 147 metres</td>
		</tr>
		<tr>
			<th colspan="1" id="table_heading_21" rowspan="1">Furthest station from central London</th>
			<td headers="table_heading_1">Chesham (Metropolitan line) - 47km to Aldgate</td>
		</tr>
		<tr>
			<th colspan="1" id="table_heading_22" rowspan="1">Longest distance between stations</th>
			<td headers="table_heading_1">Chesham to Chalfont &amp; Latimer (Metropolitan line) - 6.3km</td>
		</tr>
		<tr>
			<th colspan="1" id="table_heading_23" rowspan="1">Shortest distance between stations</th>
			<td headers="table_heading_1">Leicester Square to Covent Garden (Piccadilly line) - 0.3km</td>
		</tr>
		<tr>
			<th colspan="1" id="table_heading_24" rowspan="1"><a name="longest"></a>Longest direct journey</th>
			<td headers="table_heading_1">Epping to West Ruislip (Central line) - 54.9km</td>
		</tr>
	</tbody>
</table></div>


 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/what-we-do" class="heading">
                    <h2 id="sub-menu-heading">What we do<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/buses">Buses</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/coaches">Coaches</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/cycling">Cycling</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/docklands-light-railway">Docklands Light Railway</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/emirates-air-line">Emirates Air Line</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/dial-a-ride">London Dial-a-Ride</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/london-overground">London Overground</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/london-trams">London Trams</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/london-transport-museum">London Transport Museum</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/london-underground">London Underground</a></div>
                                <ul>
                                    
                                        <li class="selected"><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/london-underground/facts-and-figures">Facts & figures</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/london-underground/rolling-stock">Rolling stock</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/river">River</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/roads">Roads</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/taxi-and-private-hire">Taxis & private hire</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/tfl-rail">TfL Rail</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/walking">Walking</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Where is the longest escalator on the Tube? The station with most platforms? Enjoy some Tube facts and figures";}
        
            
        


 