<% if (isAuthenticated) { %>
<form action="/shop/cart" method="post" class="d-inline">
    <input type="hidden" name="productId" value="<%= product._id %>">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <button class="btn btn-secondary" type="submit">Add to Cart</button>
</form>
<% } %>