<div class="lft-tabs" data-module="tabs">
  <h2 class="lft-tabs__title">
    Contents
  </h2>

  <ul class="lft-tabs__list">
    <li class="lft-tabs__list-item">
      <a class="lft-tabs__tab lft-tabs__tab--selected" href="#past-day">
        Past day
      </a>
    </li>
    <li class="lft-tabs__list-item">
      <a class="lft-tabs__tab" href="#past-week">
        Past week
      </a>
    </li>
    <li class="lft-tabs__list-item">
      <a class="lft-tabs__tab" href="#past-month">
        Past month
      </a>
    </li>
    <li class="lft-tabs__list-item">
      <a class="lft-tabs__tab" href="#past-year">
        Past year
      </a>
    </li>
  </ul>

  <section class="lft-tabs__panel" id="past-day">
    <h2 class="lft-heading-l">Past day</h2>
    <table class="lft-table">
      <thead class="lft-table__head">
        <tr class="lft-table__row">
          <th class="lft-table__header" scope="col">Case manager</th>
          <th class="lft-table__header" scope="col">Cases opened</th>
          <th class="lft-table__header" scope="col">Cases closed</th>
        </tr>
      </thead>
      <tbody class="lft-table__body">
        <tr class="lft-table__row">
          <td class="lft-table__cell">David Francis</td>
          <td class="lft-table__cell">3</td>
          <td class="lft-table__cell">0</td>
        </tr>
        <tr class="lft-table__row">
          <td class="lft-table__cell">Paul Farmer</td>
          <td class="lft-table__cell">1</td>
          <td class="lft-table__cell">0</td>
        </tr>
        <tr class="lft-table__row">
          <td class="lft-table__cell">Rita Patel</td>
          <td class="lft-table__cell">2</td>
          <td class="lft-table__cell">0</td>
        </tr>
      </tbody>
    </table>

  </section>
  <section class="lft-tabs__panel lft-tabs__panel--hidden" id="past-week">
    <h2 class="lft-heading-l">Past week</h2>
    <table class="lft-table">
      <thead class="lft-table__head">
        <tr class="lft-table__row">
          <th class="lft-table__header" scope="col">Case manager</th>
          <th class="lft-table__header" scope="col">Cases opened</th>
          <th class="lft-table__header" scope="col">Cases closed</th>
        </tr>
      </thead>
      <tbody class="lft-table__body">
        <tr class="lft-table__row">
          <td class="lft-table__cell">David Francis</td>
          <td class="lft-table__cell">24</td>
          <td class="lft-table__cell">18</td>
        </tr>
        <tr class="lft-table__row">
          <td class="lft-table__cell">Paul Farmer</td>
          <td class="lft-table__cell">16</td>
          <td class="lft-table__cell">20</td>
        </tr>
        <tr class="lft-table__row">
          <td class="lft-table__cell">Rita Patel</td>
          <td class="lft-table__cell">24</td>
          <td class="lft-table__cell">27</td>
        </tr>
      </tbody>
    </table>

  </section>
  <section class="lft-tabs__panel lft-tabs__panel--hidden" id="past-month">
    <h2 class="lft-heading-l">Past month</h2>
    <table class="lft-table">
      <thead class="lft-table__head">
        <tr class="lft-table__row">
          <th class="lft-table__header" scope="col">Case manager</th>
          <th class="lft-table__header" scope="col">Cases opened</th>
          <th class="lft-table__header" scope="col">Cases closed</th>
        </tr>
      </thead>
      <tbody class="lft-table__body">
        <tr class="lft-table__row">
          <td class="lft-table__cell">David Francis</td>
          <td class="lft-table__cell">98</td>
          <td class="lft-table__cell">95</td>
        </tr>
        <tr class="lft-table__row">
          <td class="lft-table__cell">Paul Farmer</td>
          <td class="lft-table__cell">122</td>
          <td class="lft-table__cell">131</td>
        </tr>
        <tr class="lft-table__row">
          <td class="lft-table__cell">Rita Patel</td>
          <td class="lft-table__cell">126</td>
          <td class="lft-table__cell">142</td>
        </tr>
      </tbody>
    </table>

  </section>
  <section class="lft-tabs__panel lft-tabs__panel--hidden" id="past-year">
    <h2 class="lft-heading-l">Past year</h2>
    <table class="lft-table">
      <thead class="lft-table__head">
        <tr class="lft-table__row">
          <th class="lft-table__header" scope="col">Case manager</th>
          <th class="lft-table__header" scope="col">Cases opened</th>
          <th class="lft-table__header" scope="col">Cases closed</th>
        </tr>
      </thead>
      <tbody class="lft-table__body">
        <tr class="lft-table__row">
          <td class="lft-table__cell">David Francis</td>
          <td class="lft-table__cell">1380</td>
          <td class="lft-table__cell">1472</td>
        </tr>
        <tr class="lft-table__row">
          <td class="lft-table__cell">Paul Farmer</td>
          <td class="lft-table__cell">1129</td>
          <td class="lft-table__cell">1083</td>
        </tr>
        <tr class="lft-table__row">
          <td class="lft-table__cell">Rita Patel</td>
          <td class="lft-table__cell">1539</td>
          <td class="lft-table__cell">1265</td>
        </tr>
      </tbody>
    </table>

  </section>
</div>