<div class="lft-phase-banner">
  <p class="lft-phase-banner__content"><strong class="lft-tag lft-phase-banner__content__tag ">
  alpha
</strong>
    <span class="lft-phase-banner__text">
      This is a new service – your
      <a class="lft-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>