<div class="lft-panel lft-panel--confirmation">
  <h1 class="lft-panel__title">
    <%= title %>
  </h1>
  <div class="lft-panel__body">
    <%= description %>
    <br /><strong><%= reference %></strong>
  </div>
</div>