<div class="lft-form-group">
  <legend class="lft-fieldset__legend lft-fieldset__legend--xl">
    <h3 class="lft-fieldset__heading">
      <%= field.question %>
    </h3>
  </legend>
  <!--<label class="lft-label" for="file-upload-1">
    Upload a file
  </label>-->
  <span id="more-detail-hint" class="lft-hint">
    <%= field.hint %>
  </span>
  <input class="lft-file-upload" id="file-upload-1" name="file-upload-1" type="file">
</div>