<div class="card">
  <div class="card-body">
    <h3 class="card-title h5">Service Board widget</h3>
    <p class="card-text">This widget should display the service board, maybe with customisations</p>
  </div>
</div>