<div class="card card-b1">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <a href="https://twitter.com/intent/tweet?text=<%= pageTitle %> <%= fullUrl %>" class="d-inline">
        <span aria-hidden="true" class="fab fa-twitter mr-3"></span>
        <span class="sr-only">Share this page on Twitter</span>
      </a>
      <a href="http://www.facebook.com/share.php?u=<%= fullUrl %>" class="d-inline">
        <span aria-hidden="true" class="fab fa-facebook mr-3"></span>
        <span class="sr-only">Share this page on Facebook</span>
      </a>
      <a href="" class="d-inline">
        <span aria-hidden="true" class="fas fa-share-alt mr-3" title=""></span>
        <span>Share <span class="sr-only">on social media</span></span>
        <span aria-hidden="true" class="fas fa-chevron-down mr-3" title=""></span>
      </a>
    </li>
  </ul>
</div>