<div>
    <a class="twitter-timeline" data-tweet-limit="3" href="<%= card.link.url %>">Twitter feed for '<%= card.title %>' not showing because twitter has accessibility design issues</a>
    <!--<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>-->
</div>