
    
  



@{ViewBag.Title = "Wi-Fi data collection";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/privacy-and-cookies/wi-fi-data-collection";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/privacy-and-cookies/index">Privacy & cookies</a></li>
                
            
            
                <li><span class="last-breadcrumb">Wi-Fi data collection</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Wi-Fi data collection</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        This page explains how and why TfL collects Wi-Fi connection data from mobile devices at London Underground stations.
        
      </div>
    
    <div class="on-this-page">
      <h4>Wi-Fi connection data collection starts on 8 July 2019.</h4>

<p>Wi-Fi connection data can provide us with a far better understanding of how customers move through stations. It &nbsp;is not used to identify specific individuals or monitor browsing activity.</p>

<p>TfL has partnered with Virgin Media to bring free Wi-Fi access to 97% of London Underground stations, giving customers internet access. <a href="/campaign/station-wifi">Find out more about station Wi-Fi</a>.</p>

<p>We are putting up signs at every station explaining the Wi-Fi data collection that is taking place and how to opt-out.</p>

<h2>What Wi-Fi connection data is</h2>

<p>When a device such as a smartphone or tablet has Wi-Fi enabled, the device will continually search for a Wi-Fi network to connect to. When searching for a Wi-Fi network, the device sends out a probing request which contains an identifying number specific to that device known as a Media Access Control (MAC) address.This is what we mean&nbsp;by 'Wi-Fi connection data'.</p>

<h2>How we collect it</h2>

<p>If the device finds a Wi-Fi network that is known to the device, it will automatically connect to that network. If the device finds unknown networks, it will list these in your device settings so you can decide whether to connect to one of them.</p>

<p>When you are near one of our station Wi-Fi access points (installed on TfL privately-owned property) and you have Wi-Fi enabled, your device will send a probing request to connect. This will be received by our Wi-Fi network, even if your device does not subsequently connect.</p>

<h2>How we make sure we can't identify people</h2>

<p>We will not be able to identify any individuals from the data collected. We have designed the process to avoid identifying individuals because we are trying to understand how customers as a whole use the network, not how specific individuals use it.</p>

<p>All data collected is automatically de-depersonalised, using a one-way pseudonymisation process to ensure TfL is unable to identify any individual. This happens immediately after the data is first collected.</p>

<p>Pseudonymisation is the process of distinguishing individuals in a dataset by using a unique identifier that does not reveal their 'real world' identity. This is a way of protecting people's privacy in accordance with the <a href="https://ico.org.uk/media/1061/anonymisation-code.pdf">Information Commissioner's Anonymisation Code of Practice</a>.</p>

<h2>How we process it and how to prevent processing</h2>

<h3>Un-authenticated devices</h3>

<p>If your device has not signed up to use the free Wi-Fi provided on the London Underground network, it's an 'un-authenticated device'.</p>

<p>When your device sends a probing request, it will contain a MAC address. Most modern devices send out a randomly generated MAC address to prevent unknown routers identifying the device.</p>

<p>We will not process un-authenticated devices for the purposes described below. We will remove un-authenticated devices from the data that we will be analysing as soon as possible after receipt.</p>

<h4>Preventing processing</h4>

<p>If you would like to stop your device from sending out probing requests, you can turn off Wi-Fi on your device, turn your device off or put the device into airplane mode while at our stations.</p>

<h3>Authenticated devices</h3>

<p>If the device has been signed up for free Wi-Fi on the London Underground network, the device will disclose its genuine MAC address. This is known as an authenticated device.</p>

<p>The following processing only relates to authenticated devices.</p>

<p>We process authenticated device MAC address connections (along with the date and time the device authenticated with the Wi-Fi network and the location of each router the device connected to). This helps us to better understand how customers move through and between stations - we look at how long it took for a device to travel between stations, the routes the device took and waiting times at busy periods.</p>

<p>We do not collect any other data generated by your device. This includes web browsing data and data from website cookies.</p>

<h4>Preventing processing</h4>

<p>You can choose to de-register your device from using Wi-Fi. Alternatively you can turn off Wi-Fi on your device, turn your device off or put the device into airplane mode while at our stations.</p>

<h2>Why TfL is doing this</h2>

<p>In 2016, TfL carried out a pilot collection of depersonalised Wi-Fi connection data from devices using the station Wi-Fi at 54&nbsp;Tube stations in central London.&nbsp;We found that:</p>

<ul>
	<li>Wi-Fi data can help to understand the paths people take in stations, the platforms and lines they use, the routes they take when they have many options and the interchanges they make</li>
	<li>Aggregated data can show which sections of the network are crowded, at what times and how this changes in response to events and network alterations</li>
	<li>Data can be used&nbsp;with analytical tools and services to improve the way we run and plan our network, and provide customers with more detailed information</li>
</ul>

<p><a href="/corporate/publications-and-reports/wifi-data-collection">Find out more about the pilot and our findings</a>.</p>

<p>We want to use technology to provide better information to our customers. Wi-Fi connection data can give us a better understanding of crowding and collective travel patterns so we can improve services and information for customers.&nbsp;We expect the benefits to be as follows.</p>

<ul>
	<li>We will be able to&nbsp;give customers better information to help them&nbsp;plan their journeys&nbsp;and avoid congestion. For example, we plan to use aggregated Wi-Fi connection data to show the relative 'busy-ness' of London Underground stations, in near real time.&nbsp; We will make this available on our website</li>
	<li>We will be able to manage disruptions and events more effectively, deploy staff to best meet customer needs and ensure a safe environment</li>
	<li>We will be able to make better transport planning decisions &#45; for example about timetables, station designs and major station upgrades</li>
	<li>By understanding&nbsp;how many&nbsp;customers we have and how they move&nbsp;around stations we will be able to maximise revenue from the&nbsp;companies which advertise on our poster sites and those who rent retail units on our property. This money can be invested in improving our services</li>
</ul>

<p>Oyster and Contactless Payment Card ticketing data helps us understand where customers enter and exit the London Underground network (as well as any intermediate validations). But it does not tell us the platforms and lines they are using, the stations they interchange at or how they navigate around our stations. The nature of the Tube network means that people can take many different options for their journeys.</p>

<p>TfL has previously used paper surveys -&nbsp;but these are expensive, only provide a snapshot of travel patterns on the day of survey and are unable to provide a continuous flow of information. Depersonalised Wi-Fi connection data provides more accurate real time information for improving our services.</p>

<h2>Legal basis for using this information</h2>

<p>Under privacy and data protection legislation, TfL is only allowed to use personal information if we have a proper reason or 'legal basis' to do so. In the case of Wi-Fi connection data,&nbsp;our 'legal ground' for processing this&nbsp;data is:</p>

<ul>
	<li>Our statutory and public functions
	<ul>
		<li>to undertake activities to promote and encourage safe, integrated, efficient and economic transport facilities and services, and to deliver the Mayor's Transport Strategy</li>
	</ul>
	</li>
</ul>

<h2>Data protection impact assessments</h2>

<p>To ensure our approach to the collection of Wi-Fi connection data is appropriate, we completed&nbsp;two data protection impact assessments.&nbsp;We carried out an assessment&nbsp;for the pilot and a new assessment before we began collecting depersonalised Wi-Fi data from all stations with free Wi-Fi. Both assessments followed our formal TfL governance and project management processes.</p>
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/data-protection-impact-assessment-routine-collection.pdf">
    <div class="document-download-text">
        <p>Data protection impact assessment for routine Wi-Fi connection data collection</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 290KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.28 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/data-protection-impact-assessment-pilot.pdf">
    <div class="document-download-text">
        <p>Data protection impact assessment for pilot Wi-Fi connection data collection</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 328KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.32 -->
 
</div>

</div>
 <div>

<h2>Length of time we keep Wi-Fi connection data</h2>

<p>TfL will retain any data collected in line with its data retention policies. This means that we will not hold information for longer than is necessary for the purposes we obtained it for. Depersonalised Wi-Fi connection data will be held for two years.&nbsp;When this retention period is over, the data will be aggregated.&nbsp;Aggregation ensures that individual depersonalised data is not held for more than two years.&nbsp;</p>

<p>The exact parameters of the aggregation are still to be confirmed, but will result in the individual Wi-Fi connection data being removed. Instead, we will retain counts of activities grouped into specific time periods and locations.</p>

<h2>Keeping information secure</h2>

<p>We take the privacy of our customers very seriously. A range of policies, processes and technical measures are in place to control and safeguard access to, and use of, Wi-Fi connection data. Anyone with access to this data must complete TfL's privacy and data protection training every year.</p>

<p>Each MAC address is automatically depersonalised (pseudonymised) and encrypted to prevent the identification of the original MAC address and associated device. The data is stored in a restricted area of a secure location and it will not be linked to any other data at a device level.&nbsp; At no time does TfL store a device's original MAC address.</p>

<p>We also publish <a href="/corporate/privacy-and-cookies/protect-your-data">guidance</a> on the steps you can take to protect your personal information.</p>

<h2>Sharing information</h2>

<p>Individual depersonalised device Wi-Fi connection data is accessible only to a controlled group of TfL employees.&nbsp; Aggregated data developed&nbsp;by combining&nbsp;depersonalised data from many devices may be shared with other TfL departments and external bodies.</p>

<h2>Your information rights</h2>

<p>We use a one-way pseudonymisation process&nbsp;to depersonalise the data immediately after it is collected. This means we will not be able to single out a specific person's device, or identify you and the data generated by your device.</p>

<p>This means that we are unable to respond to any requests to access the Wi-Fi data generated by your device, or for data to be deleted, rectified or restricted from further processing. Please refer to the&nbsp;guidance above on how to choose not to provide your device's Wi-Fi connection data.</p>

<p>The TfL Privacy and Data Protection team consider and coordinate responses to requests and complaints from people whose personal data is processed by TfL and its subsidiary companies. You can contact the Data Protection Officer by email at dpo&#64;tfl.gov.uk or by writing to:<br />
Data Protection Officer<br />
55 Broadway<br />
London<br />
SW1H 0BD</p>

<h2>Changes to this page</h2>

<p>It's likely that we'll need to update this statement from time to time, so check back here regularly to find out more. This page was last updated in May 2019.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/privacy-and-cookies/index" class="heading">
                    <h2 id="sub-menu-heading">Privacy & cookies<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/access-your-data">Access your data</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/bus-data-collection-pilot">Bus data collection pilot</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/capital-call">Capital Call</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/cctv">CCTV & surveillance cameras</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/compulsory-purchase">Compulsory purchase</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/contactless-payment">Contactless payment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/cookies">Cookies </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/dial-a-ride">Dial-a-Ride</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/employment">Employment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/event-data-from-mobile-devices">Event data from mobile devices</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/external-recruitment">External Recruitment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/oyster-card">Oyster card</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/privacy-and-data-protection-policy">Privacy & data protection policy</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/protect-your-data">Protect your data</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/road-user-charging">Road User Charging</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/santander-cycles">Santander Cycles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/taxi-and-private-hire">Taxi & private hire licensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/website-privacy">Website privacy</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/wi-fi-data-collection">Wi-Fi data collection</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/your-information-rights">Your information rights</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/zip-oyster-photocard">Zip Oyster photocard</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/18-student-oyster-photocard">18+ Student Oyster photocard </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/privacy-and-cookies/60-oyster-photocard">60+ Oyster photocard</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "How and why TfL collects Wi-Fi connection data from devices signed up to use the Wi-Fi available at London Underground stations";}
        
            
        


 