
    
  



@{ViewBag.Title = "London Travel Demand Survey";}
@{ViewBag.Keywords = "Public,TfL";}
@{ViewBag.Url = "/corporate/about-tfl/how-we-work/planning-for-the-future/consultations-and-surveys/london-travel-demand-survey";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/how-we-work">How we work</a></li>
                
            
                 <li><a href="/corporate/about-tfl/how-we-work/planning-for-the-future">Planning for the future</a></li>
                
            
                 <li><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/consultations-and-surveys">Consultations & surveys</a></li>
                
            
            
                <li><span class="last-breadcrumb">London Travel Demand Survey</span></li>
            
        
 
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>London Travel Demand Survey</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The London Travel Demand Survey gives us a picture of travel by residents of the Capital. If you or your household have been chosen to complete the survey, we hope you will take part and help us improve travel and transport for everyone who lives, works and travels in London.
        
      </div>
    
    
      <p>Each year, 8,000 randomly selected households in London are interviewed as part of the London Travel Demand Survey. </p>
<p>Three questionnaires are carried out:</p>
<ul>
    <li>Household - basic demographic information such as income, housing tenure and vehicle ownership</li>
    <li>Individual - completed by all members of the household aged five and over. This includes further demographic and travel-related information such as working status, frequency of use of transport modes, and details of driving licences and public transport tickets held</li>
    <li>Trip sheets - completed by every household member aged five and over. This gathers data on all trips made on a designated travel day. Details captured include trip purposes, modes used, trip start and end times, and the locations of trip origins and destinations</li>
</ul>
<p>The Survey helps to raise money for charities - we make a donation for each completed survey. </p>
      
           
      
<div>



<h2>Latest survey results</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/ltds-0518.xlsx">
    <div class="document-download-text">
        <p>London Travel Demand Survey -  Workbook 2017/18</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 272KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.27 -->
 
</div>

</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/how-we-work" class="heading">
                    <h2 id="sub-menu-heading">How we work<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/our-role">Our role</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/how-we-are-governed">How we are governed</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/how-we-are-funded">How we are funded</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future">Planning for the future</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/bakerloo-line-extension">Bakerloo line extension</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/consultations-and-surveys">Consultations & surveys</a></div>
                                        <ul>
                                            
                                                <li class="selected"><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/consultations-and-surveys/london-travel-demand-survey">London Travel Demand Survey</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/consultations-and-surveys/travelcard-survey">Travelcard survey</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/developing-the-rail-network">Developing the rail network</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/healthy-streets">Healthy Streets</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/london-airports">London's airports</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/new-river-crossings-for-london">New river crossings for London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/rotherhithe-canary-wharf-crossing">Rotherhithe-Canary Wharf crossing </a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/public-affairs">Public affairs</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/our-customer-commitments">Our customer commitments</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "The annual London Travel Demand Survey (LTDS) gives TfL a picture of how people are travelling in the Capital. Participants can donate their fee to charity.";}
        
            
        


 