


@{ViewBag.Title = "Changes to operating times of bus route 236";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Changes to operating times of bus route 236</h1>
        <div class="content-page-press-release">
        28 September 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        From 5 October route 236, which operates from Finsbury Park to Hackney Wick, will no longer operate as a 24-hour service.
        
    </div>



 <div class="on-this-page">
<p>Following this change, route 236 services will still operate for more than 20 hours per day. </p>

<p>Buses from Finsbury Park will begin at 04:35 and end with the last bus at 01:04.&nbsp;</p>
<p>Services from Hackney Wick will begin at 03:55 and end with the last bus at 00:35.</p>
<p>The decision to withdraw these night/early morning services was very carefully considered, including a review of passenger feedback between 11 November and 16 December 2011.</p>
<p>Passenger numbers are low during these three and half hours of operation with nearly all the stops affected by this change within 400 metres of other night bus services. </p>
<p>A wide range of all-night services continue to operate in the Finsbury Park, Dalston and Hackney areas. </p>
<p>Alternatives for some route 236 passengers will include route N19 from Finsbury Park via Highbury Barn, route 277 from Highbury Corner via Canonbury, Dalston and Hackney, route</p>
<p>242 from Homerton Hospital via Hackney, Dalston and Haggerston and route N253 between Finsbury Park and Hackney.</p>
<p>Passengers who require any further information regarding this, or have general travel information and journey planning enquiries can contact our Customer Services team 24-hours a day on 0843 222 1234 or visit <a href="http://www.tfl.gov.uk">tfl.gov.uk</a>.</p>
<p>
<hr>
<strong>Notes to editors</strong> 
<p>
<ul>
<li>Usage of the bus service during this time was low with around 100 passengers per night on the week days and up to 300 passengers per night at weekends </li>
<li>All stops served by route 236 are within 400 metres of stops served by other night bus services with the exception of six pairs of bus stops on Queensbridge, Pownall and Trederwen Roads in the Dalston /Haggerston area which are about 500-600 metres from other night bus services.&nbsp;Around 35 passengers use these stops on a typical weeknight<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Following this change, route 236 services will still operate for more than 20 hours per day. Buses from Finsbury Park will begin at 04:35 and end with the last bus at 01:04.&nbsp;Services from Hackney Wick will begin at 03:55 and end with the last bus at";}
        
        


 