


@{ViewBag.Title = "London 2012 Paralympic Games - Day 9: Another busy day of Paralympic action at the Olympic Park, Londoners are reminded to plan their travel to get ahead of the Games";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>London 2012 Paralympic Games - Day 9: Another busy day of Paralympic action at the Olympic Park, Londoners are reminded to plan their travel to get ahead of the Games</h1>
        <div class="content-page-press-release">
        06 September 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        TfL and Thames Water are working around the clock to complete works to fully reopen the A406 North Circular as soon as possible.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Roads around Brands Hatch remain closed for the Paralympic Road Cycling and drivers should avoid driving around venues and the PRN. We are asking Londoners to plan their journeys on road and public transport in advance so they can get ahead of the Games."</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Hendy CBE</div>
            <div class="quotee-job-title">London's Transport Commissioner</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Roads around Brands Hatch remain closed for the Paralympic Road Cycling and drivers should avoid driving around venues and the PRN. We are asking Londoners to plan their journeys on road and public transport in advance so they can get ahead of the Games.
                            
                        </p>
                    </div>
                
            
            
            <ul>
<li>Routes to the Olympic Park especially busy with both spectators and commuters using public transport </li>
<li>Passengers who use the DLR, Jubilee, Central lines and Javelin services are reminded to plan ahead to avoid the busiest times and places </li>
<li>Tomorrow is the last day the PRN to the Royal Artillery Barracks is operational </li>
<li>Sporting action isn't the only way to get involved in London 2012 - there are fantastic live sites, free concerts, restaurants and bars, great West End plays and other attractions too.&nbsp; Check out <a href="http://www.london2012.com/joinin">www.london2012.com/joinin</a> </li>
<li>Plan ahead with the latest Games travel advice at <a href="http://www.GetAheadoftheGames.com">www.GetAheadoftheGames.com</a> and follow &#64;GAOTG on Twitter</li></ul>
<p>Tomorrow, Friday 7 September, will see another busy day of cultural and sporting Paralympic events, with highlights in the Olympic Park including ParalympicsGB's Micky Bushell going for a second gold in the 200m athletics race and British sprinter Sophia Warner bidding for glory in the 100m athletics event.&nbsp;</p>
<p>Scottish swimmer Jim Anderson will be competing in his sixth Paralympics at the age of 49 in the 50m freestyle.</p>
<p>The public transport and road networks will continue to be busy tomorrow with Paralympic events talking place in venues across east London. </p>
<p>TfL is asking customers and road users to continue taking the same sensible steps they did during the Olympics - avoid the busiest times and places and plan ahead.</p>
<p>The Jubilee and Central lines, from central London to Stratford, and the DLR network will be particularly busy while London Underground stations at mainline terminals will be busier than normal at peak times, particularly London Bridge and Waterloo.&nbsp; </p>
<p>Javelin services to and from the Olympic Park will also be busy throughout the Paralympic Games, in both the morning and evening.</p>
<p>Spectators heading to or from the Olympic Park should consider using c2c, District and Hammersmith &amp; City lines to or from West Ham instead and they can access the Park via the Greenway, or national rail services between Liverpool Street and Stratford.&nbsp; Passengers with reduced mobility should use Stratford station, where assistance is available.</p>
<p>All passengers are advised to leave extra travel time and to plan ahead to avoid the busiest times and places by visiting GetAheadoftheGames.com. </p>
<p>TfL continues to remind people that, where possible, driving on or around the Paralympic Route Network and near venue areas should be avoided, particularly around the Olympic Park in Stratford and the A102 approach roads north and south of the Blackwall Tunnel.</p>
<p>There has been congestion on the A2, A12 and A13, particularly during the morning peak.&nbsp; Roads east of St Paul's, including those in and approaching the City such as Upper Thames Street and Lower Thames Street, and roads around Games venues are busier than usual.&nbsp; </p>
<p>If driving is the only option, people are asked to travel at a different time if possible or to allow more time for their journey.</p>
<p>Although not affecting Games traffic, a burst Thames Water main on the A406 at Brent Cross has caused serious disruption. </p>
<p>TfL and Thames Water are working around the clock to complete works to fully reopen the road as soon as possible. Two out of the five westbound lanes have now reopened, along with the full eastbound carriageway.</p>
<p>While this work continues, Drivers are urged to still avoid the area if possible and check online at <a href="http://www.tfl.gov.uk/trafficalerts">www.tfl.gov.uk/trafficalerts</a> or on twitter at &#64;tfltrafficnews for the latest information.<br>Paralympic Road Cycling continues at Brands Hatch with the roads around the venue closed until 00.00 on Saturday 8 September.</p>
<p>Stations serving Trafalgar Square are expected to be busier than usual due the popularity of the Live Site there. Bank, London Bridge and Waterloo will be busier than normal in the morning peak. </p>
<p>Trains passing through Canada Water, Bermondsey and Bethnal Green are expected to be particularly busy during morning peak and it is recommended these stations are avoided. Bank, Canary Wharf, Oxford Circus and London Bridge will be busier than normal in the evening peak. </p>
<p>Trains passing through Chancery Lane and St Paul's are expected to be particularly busy during the evening peak and it is recommended people use nearby stations. After 21:00 Canning Town, North Greenwich and Stratford are also expected to be very busy.</p>
<p>London's Transport Commissioner, Peter Hendy CBE, said: 'Paralympic athletics, swimming, basket ball, sitting volley ball, wheelchair tennis and many other fantastic sports events are continuing to take place in Olympic Park and other venues tomorrow.</p>
<p>'Roads around Brands Hatch remain closed for the Paralympic Road Cycling and drivers should avoid driving around venues and the PRN. We are asking Londoners to plan their journeys on road and public transport in advance so they can get ahead of the Games.'</p>
<h2>TfL's key public transport travel advice for Friday 7 September:</h2>
<ul>
<li>Events will be taking place across east London at the Olympic Park, ExCeL, North Greenwich Arena and Royal Artillery Barracks </li>
<li>Public transport serving Games venues will be particularly busy throughout the day, especially on the DLR, Central and Jubilee lines </li>
<li>Bank, London Bridge and Waterloo will very busy during the morning peak </li>
<li>Trains passing through Canada Water, Bermondsey and Bethnal Green are expected to be busy during the morning peak and these stations should be avoided </li>
<li>Bank, Canary Wharf and London Bridge will be very busy in the evening peak </li>
<li>Oxford Circus is expected to be very busy between 17:30 to18:30 </li>
<li>Trains passing through Chancery Lane and St Paul's are expected to be busy during the evening peak and these stations should be avoided </li>
<li>North Greenwich, Stratford and Canning Town stations are expected to be busier than usual after 21:00 with spectators returning home after events. If possible, consider using alternative lines at busy times or retiming your journey to avoid the crowds </li>
<li>Large numbers of spectators are expected to interchange at London Bridge and Bank to get to Games venues. If possible, try to avoid interchanging at these stations between 07:30-09:30 and 16:00-19:00</li></ul>
<h2>Key road travel advice for Friday 7 September: </h2>
<ul>
<li>Please avoid driving on or around the Paralympic Route Network (PRN) and near venues </li>
<li>Tomorrow is the last day the PRN to Royal Artillery Barracks is in operation </li>
<li>The A102 approach roads north and south of the Blackwall Tunnel should be avoided.&nbsp; Roads around Brands Hatch will be closed for the Paralympic Road Cycling </li>
<li>The A2, A12, A13, and roads east of St.Paul's, including those in and approaching the City such as Upper Thames Street and Lower Thames Street, are busier than usual.&nbsp; If driving is your only option, please travel at a different time if possible or allow more time for your journey </li>
<li>Games Lanes are operating flexibly. Check the electronic roadside message signs which will clearly state if the Games Lanes are open to general traffic or reserved for Games vehicles.&nbsp; If you have to drive in these areas, plan ahead and consider re-timing your journey and allow more time </li>
<li>Before travelling, check out live travel updates at <a href="http://www.tfl.gov.uk/live">www.tfl.gov.uk/live</a> or by following &#64;TfLTravelAlerts (Tube, DLR and London Overground), &#64;TfLTrafficNews (roads) or &#64;tflbusalerts (bus) </li>
<li>For full information on avoiding roads and public transport hotspots, check out GetAheadoftheGames.com - including detailed Daily Bulletins - and follow &#64;GAOTG on Twitter </li>
<li>Tomorrow's Daily Bulletin is available at: <a href="http://www.getaheadofthegames.com/bulletins/7-september.html">http://www.getaheadofthegames.com/bulletins/7-september.html</a></li></ul>
<h2>Ticketed spectators</h2>
<ul>
<li>People travelling to and from the Olympic Park are advised to try using the District, Hammersmith and City or c2c services into West Ham with a direct walk along the Greenway to the Park for quicker entry or National Rail services between Liverpool Street and Stratford.&nbsp; Passengers with reduced mobility are advised to use Stratford station </li>
<li>If you have a ticket to a London 2012 event, make sure you don't miss it - check london2012.com for your recommended arrival times and leave plenty of time to travel </li>
<li>Re-check your travel plans before attending an event by using the Travel Planner at london2012.com/journey </li>
<li>For more information about accessible travel during the Games, please visit: <a href="http://www.london2012.com/spectators/travel/accessible-travel">www.london2012.com/spectators/travel/accessible-travel</a>.</li></ul>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p><strong>
<ul>
<li></li></ul></strong>This Transport for London (TfL) London 2012 Games travel bulletin is issued twice per day, at the expected times of 07:00 and 14:00 
<li>Alongside these media travel bulletins, at 14:00 each day, TfL will also publish the full 2012 Transport Factsheets on which they are based.&nbsp; Factsheets for each day of the Paralympic Games have already been produced and published at GetAheadoftheGames.com, but they will be revised on a daily basis, based on the latest information and experience, throughout the Games </li>
<li>TfL operates the following services: London Underground, London buses, Docklands Light Railway (DLR), London's major roads, including the Olympic and Paralympic Route Networks in London, Cycling - including Barclays Cycle Hire and Barclays Cycle Superhighways, Emirates Air Line, London Overground, London River Services, Victoria Coach Station, Taxis </li>
<li>The TfL Press Office will be available 24 hours a day on 0845 604 4141 and will have a member of staff in the London Media Centre during normal opening hours </li>
<li>A number of services are available including:<br>-&nbsp;Pre-packaged scripted films through the London Media Centre and on the TfL website at <a href="http://www.tflimages.com">www.tflimages.com</a><br>-&nbsp;B roll footage of London's transport network available from <a href="http://www.tflimages.com">www.tflimages.com</a><br>-&nbsp;A comprehensive image library providing free access to images of London's transport network available from <a href="http://www.tflpressgallery.co.uk">www.tflpressgallery.co.uk</a></li>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Routes to the Olympic Park especially busy with both spectators and commuters using public transport Passengers who use the DLR, Jubilee, Central lines and Javelin services are reminded to plan ahead to avoid the busiest times and places Tomorrow is the";}
        
        


 