


@{ViewBag.Title = "Tube gardening competition celebrates its tenth year";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Tube gardening competition celebrates its tenth year</h1>
        <div class="content-page-press-release">
        26 September 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        The Tube's prestigious Underground in Bloom competition, when London Underground (LU) staff show off their gardening skills, celebrated its 10th anniversary in style this year with the highest number of entries ever in the competition's history.
        
    </div>



 <div class="on-this-page">
<p>The winners were announced at a special event held in City Hall on Wednesday 19 September.</p>
<p>The competition recognises the hard work of staff, who put in hundreds of hours of their own time making depots and stations more than just buildings but beautiful places. </p>
<h2>Stations transformed</h2>
<p>Commuter journeys through stations have been transformed into eye-catching floral displays. The creative diversity of this competition has ranged from an Olympic rings theme to floral havens.&nbsp;</p>
<p>Finchley Central's cultivated garden was so impressive with its bee attracting plants that it was entered into the Chelsea Flower show.</p>
<p>First place winners of the fruit and veg category, Hampstead, provided an incredible variety of sweet potato, Irish, Welsh and Scottish potato and by opening their garden up to the public, raised a generous &pound;300 for Cancer Research. </p>
<p>Arnos Grove won first place in the Trains and Service Control Award, for their Japanese meditation-style garden. </p>
<p>They also won joint third place in the fruit and veg award for their 'adopt an allotment' scheme, which not only proved popular with green fingered train drivers, but&nbsp; also produced a huge variety of vegetables, a thriving herb garden and even beehives. </p>
<h2>Decade of awards</h2>
<p>Howard Collins, Chief Operating Officer, Rail and Underground, said: 'This year is a very special year for Underground in Bloom, because it's the&nbsp;10th year of awards since we re-launched the competition back in 2003. </p>
<p>'The past ten years have seen over a thousand entries from every corner of the network and from every part of the company. </p>
<p>'Our staff has shown a level of dedication and imagination that has taken the judges' breath away. These gardens have helped to improve the local environment and made travel a lot more pleasant for commuters.'</p>
<p>This year saw a total of 141 entries across 10 categories, from staff across the LU network, making this year's event the biggest to date. </p>
<p>One of the many highlights of the night was the Outstanding Contribution award, recognising exceptional achievement over the past&nbsp;10 years. </p>
<p>This was presented to Northwood Hills, who since 2003 have won twenty awards, including six first-place prizes.</p>
<p>Mike Brown, Managing Director for Rail and Underground and Howard Collins,&nbsp;Chief Operating Officer for LU, both attended the awards ceremony. </p>
<p>
<hr>
<strong>Notes to editors:</strong> 
<p>
<h2>Full list of winners:</h2>
<p><strong>Cultivated garden <br></strong>1st Upminster Train Crew Accommodation <br>2nd Finchley Central <br>Joint 3rd Rickmansworth Train Crew Accommodation and&nbsp;Arnos Grove Train Crew Accommodation </p>
<p><strong>Tubs <br></strong>1st Greenford <br>2nd Kentish Town <br>Joint 3rd Stratford Market Depot and North Acton </p>
<p><strong>Hanging baskets - the John Knight Award <br></strong>1st Stratford Market Depot <br>2nd North Acton <br>3rd Arnos Grove Train Crew Accommodation </p>
<p><strong>Trains and Service Control <br></strong>1st Arnos Grove <br>2nd Upminster <br>Joint 3rd Stratford Market Depot; High Barnet </p>
<p><strong>Fruit and vegetables <br></strong>1st Hampstead <br>2nd Greenford <br>Joint 3rd Kilburn; Arnos Grove Train Crew Accommodation </p>
<p><strong>Best newcomer 2012 <br></strong>1st Highgate <br>2nd White City Train Crew Accommodation <br>Joint 3rd Queen's Park station; Harrow-on-the-Hill Train Crew Accommodation </p>
<p><strong>Art category <br></strong>1st Peter Schroder <br>2nd James Dunne <br>3rd Samantha Quilter</p>
<p><strong>Outstanding contribution award <br></strong>Winner: Northwood Hills </p>
<p><strong>Dennis Sanger special award <br></strong>Winner: High Barnet Train Crew Accommodation </p>
<p><strong>Sandra Wilkes best overall garden award <br></strong>1st Stratford Market Depot <br>2nd Greenford <br>Joint 3rd Arnos Grove Train Crew Accommodation; North Acton <br>Highly Commended: Hampstead; Upminster Train Crew Accommodation; High Barnet Train Crew Accommodation; Finchley Central</p>
<p><br>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The winners were announced at a special event held in City Hall on Wednesday 19 September.The competition recognises the hard work of staff, who put in hundreds of hours of their own time making depots and stations more than just buildings but beautiful";}
        
        


 