
    
  



@{ViewBag.Title = "Behaviours and competencies";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/careers/graduate-scheme/behaviours-and-competencies";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/careers/index">Careers</a></li>
                
            
                 <li><a href="/corporate/careers/graduates">Graduates</a></li>
                
            
            
                <li><span class="last-breadcrumb">Behaviours and competencies</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Behaviours and competencies</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Find out more about what we look for in our employees. 
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<p>It takes more than 28,000 people to keep London moving, so we need a variety of roles to make sure that happens. We offer opportunities for a range of disciplines, covering everything from graduate schemes to summer placements for penultimate year students.<br />
<br />
All our schemes involve working on projects and you'll be given responsibilities from the start. Whatever scheme you choose to apply for, you'll gain hands-on experience and learn from other talented people as you go.</p>
<h2>Your journey matters</h2>
<p>Our <a href="/corporate/careers/graduate-scheme/graduate-opportunities">graduate</a> and <a href="/corporate/careers/graduate-scheme/placement-opportunities">placement</a> opportunities require different skillsets and strengths.
Some of the strengths may have been developed through your studies at university, others may come from the work experience you've had and some you'll have developed instinctively. They're the ones we're really interested in. </p>
<p>It's up to you to decide where you take your career, but we'll provide the exposure, support and development to help you on your journey.</p>
<p>Whatever journey you're looking to pursue, discover how we can help you embrace your strengths and passions and make an impact in your own way.</p>
<h2>Behaviours</h2>
<p>Here at TfL, we have one set of behaviours which link to the four areas which lie at the heart of everything we do: our people, our customers and users, our delivery and value for money. </p>
<p>These behaviours influence our work, our development our progress and our success, so it's important for you to understand what these behaviours are and why you need to be able to demonstrate them.</p>
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic left-float">
    
        <img src="/cdn/static/cms/images/grad-behaviour-accountable.png" alt="accountable icon" />
    </div>
    <h3>Accountable</h3>
<p>
We want you to be accountable and take personal responsibility for your actions, without making excuses about why something isn't possible.<br /><br /></p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic left-float">
    
        <img src="/cdn/static/cms/images/grad-behaviour-active.png" alt="active icon" />
    </div>
    <h3>Active</h3>

<p>You must be active about stepping up - don't wait for others. Make things happen, make things better and find solutions.<br />
&nbsp;</p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic left-float">
    
        <img src="/cdn/static/cms/images/grad-behaviour-collaboration.png" alt="collaborative icon" />
    </div>
    <h3>Collaborative</h3>
<p>
Be collaborative. Share your knowledge, both in and outside of your immediate team, so everyone can make better decisions.<br />
<br />
</p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic left-float">
    
        <img src="/cdn/static/cms/images/grad-behaviour-direct.png" alt="direct icon" />
    </div>
    <h3>Direct</h3>
Get each task done as quickly as possible by being direct, communicating clearly and not wasting any time.<br /><br /> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic left-float">
    
        <img src="/cdn/static/cms/images/grad-behaviour-fair.png" alt="fair icon" />
    </div>
    <h3>Fair &amp; consistent</h3>

<p>You'll need to show you are fair and consistent, be open and honest about your decisions, and consider other people's viewpoints and needs.<br />
&nbsp;</p> 
</div>
 <div>

<h2>Competencies</h2>

<p>Competencies are the generic skills you need to perform your job well. There a number of competencies, all reflecting the broad range of working life across TfL. Not all the competencies will apply to an individual role, but each job will have a few which relevant.</p>

<h3>Think change, think innovation</h3>

<p>You'll need to show that you can respond, manage or lead business improvements or change. This will allow you to meet our strategic priorities and realise the benefits of change. Show us your resilience and flexibility.</p>

<h3>Build your capabilities, and others</h3>

<p>You can do this through feedback and learning, or development opportunities. This helps us to get the capabilities we need to meet our business needs.</p>

<h3>Communicate and influence</h3>

<p>Show us your ability to engage, persuade, convince or influence others. By influencing, understanding and anticipating others, you can adapt your message to gain commitment from them.</p>

<h3>Put our customers first</h3>

<p>You'll need to be customer service orientated, showing you can provide a good customer service. You must be able to balance the customers' needs alongside other priorities and constraints.</p>

<h3>Be organised, plan your journey</h3>

<p>Plan for yourself,&nbsp;and others, while managing time, resources and delivering your objectives. Planning and organising is about taking actions now while thinking about future actions.</p>

<h3>Solve&nbsp;problems and make decisions</h3>

<p>You can identify and interpret information in order to reach conclusions and make effective decisions or recommendations.</p>
</div>
 
<div class="module-grid clearfix">
<div class="news-teaser">

    <a href="/corporate/careers/graduate-scheme/application-process?intcmp=20329" >
        
        
        <div class="text-link">
             <h2>Application process</h2>
            <p>From application to job offer, watch our videos and find out what to expect</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/careers/graduate-scheme/salary-and-benefits?intcmp=54466" >
        
        
        <div class="text-link">
             <h2>Salary & benefits</h2>
            <p>Learn about our competitive pay and benefits package for graduates</p>
        </div>
    </a>
</div>
 
 
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/careers/index" class="heading">
                    <h2 id="sub-menu-heading">Careers<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/careers/graduates">Graduates</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-opportunities">Graduate opportunities</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/placement-opportunities">Placement opportunities</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/behaviours-and-competencies">Behaviours and competencies</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/salary-and-benefits">Salary & benefits</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/application-process">Application process</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/apprenticeships">Apprenticeships</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/steps-into-work">Steps into work </a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/smart-sourcing-programme">Smart Sourcing programme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/rewarding-you">Rewarding you</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/employability-toolkit">Employability toolkit</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Behaviours and competencies we look for from our graduates";}
        
            
        


 