
    
  


<!-- rhroot -->
@{ViewBag.Title = "Placement opportunities";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/careers/graduate-scheme/placement-opportunities";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/careers/index">Careers</a></li>
                
            
                 <li><a href="/corporate/careers/graduates">Graduates</a></li>
                
            
            
                <li><span class="last-breadcrumb">Placement opportunities</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Placement opportunities</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Whether you would like to build your work experience and develop your CV, or get your foot in the door and kick-start a career at TfL, we have placement opportunities for undergraduates and recent graduates.
        
      </div>
    
    
      <p>If you are looking to build your experience through a placement programme, we have some great opportunities for you. You can apply if you have a degree, are working towards one or have recently graduated. </p>
<p>You'll be given responsibility from day one, developing your skills whilst working on live projects and gaining valuable work experience.  After your placement, you could go on to secure a permanent role or a position on one of our graduate programmes.</p>
      
           
      <div>

<h3>We offer student placements in the following areas:</h3>

<ul>
	<li><a href="/corporate/careers/student-placements/customer-and-communications-internship">Customer &amp; Communications BAME Internship</a></li>
	<li><a href="/corporate/careers/student-placements/stuart-ross-bame-internship">The Stuart Ross BAME&nbsp;PR Internship</a></li>
</ul>

<h2>Bursary &amp; benefits</h2>

<p>We can help you grow your career whilst still having a life away from work. In 2018, we were recognized as an organization that offers the best work-life balance to employees.</p>

<p>Your benefits include:</p>

<ul>
	<li>Bursary to cover London living wage</li>
	<li>28 days annual leave, plus standard public holidays</li>
	<li>Free travel on our networks (Zones 1-9) with an Oyster card for you and one other member of your household</li>
	<li>Membership of our pension scheme</li>
	<li>75% reimbursement on the price of an annual travel ticket outside the TfL network- plus an interest-free loan to pay for it</li>
	<li>Optional private medical benefit</li>
	<li>A range of staff retail and leisure discounts</li>
	<li>Extensive volunteering opportunities</li>
</ul>
</div>
 
<div class="module-grid clearfix">
<div class="news-teaser">

    <a href="/corporate/careers/graduate-scheme/application-process?intcmp=20329" >
        
        
        <div class="text-link">
             <h2>Application process</h2>
            <p>From application to job offer, watch our videos and find out what to expect</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/careers/graduate-scheme/behaviours-and-competencies?intcmp=42394" >
        
        
        <div class="text-link">
             <h2>Behaviours & competencies</h2>
            <p>Have you got what it takes to be one of our team?</p>
        </div>
    </a>
</div>
 
 
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/careers/index" class="heading">
                    <h2 id="sub-menu-heading">Careers<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/careers/graduates">Graduates</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-opportunities">Graduate opportunities</a></div></li>
                            
 
                <a href="/corporate/careers/graduate-scheme/placement-opportunities" class="heading">
                    <h2 id="sub-menu-heading">Placement opportunities<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/careers/student-placements/customer-and-communications-internship">Customer & Communications BAME Internship</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/student-placements/stuart-ross-bame-internship">Stuart Ross BAME PR Internship</a></div></li>
                            
 
                </ul>
            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/behaviours-and-competencies">Behaviours and competencies</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/salary-and-benefits">Salary & benefits</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/application-process">Application process</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/apprenticeships">Apprenticeships</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/steps-into-work">Steps into work </a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/smart-sourcing-programme">Smart Sourcing programme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/rewarding-you">Rewarding you</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/employability-toolkit">Employability toolkit</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "TfL offers student placements and year in industry programmes";}
        
            
        


 