




         <div data-bind="visible: currentYearSelected()">
            <div data-bind="visible: showAdultDoc">
                 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/adult-fares-2018.pdf">
    <div class="document-download-text">
        <p>Adult caps and Travelcard prices</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 86KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 
            </div>
            <div data-bind="visible: showApprenticeDoc">
                 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/apprentice-fares-2018.pdf">
    <div class="document-download-text">
        <p>Apprentice caps and Travelcard prices</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 80KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 
            </div>
            <div data-bind="visible: show18PlusDoc">
                 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/18-plus-student-2018.pdf">
    <div class="document-download-text">
        <p>18+ Student caps and Travelcard prices</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 80KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 
            </div>
            <div data-bind="visible: show16PlusZipDoc">
                 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/16-plus-zip-fares-2018.pdf">
    <div class="document-download-text">
        <p>16+ Zip Oyster photocard caps and Travelcard prices</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 81KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 
            </div>
            <div data-bind="visible: show1115ZipDoc">
                 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/11-15-zip-fares-2018.pdf">
    <div class="document-download-text">
        <p>11-15 Zip Oyster photocard caps and Travelcard prices</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 81KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 
            </div>
            <div data-bind="visible: showJobcentreDoc">
                 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/jobcentre-plus-fares-2018.pdf">
    <div class="document-download-text">
        <p>Jobcentre Plus caps and Travelcard prices</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 81KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 
            </div>
            <div data-bind="visible: showNatRailcardDoc">
                 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/railcard-fares-2018.pdf">
    <div class="document-download-text">
        <p>Caps and Travelcard prices for Railcard holders</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 80KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 
            </div>
            <div data-bind="visible: showDisabledRailcardDoc">
                 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/disabled-persons-railcard-fares-2018.pdf">
    <div class="document-download-text">
        <p>Caps and Travelcard prices for Disabled Persons Railcard holders</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 80KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 
            </div>
        </div>
        
 