
    
  



@{ViewBag.Title = "Lost property";}
@{ViewBag.Keywords = "Public,Lost Property ,TfL";}
@{ViewBag.Url = "/help-and-contact/lost-property";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/help-and-contact/index">Help & contacts</a></li>
                
            
            
                <li><span class="last-breadcrumb">Lost property</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Lost property</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Find out if your lost property has been handed in, and claim it back.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<h2>Make an enquiry</h2>
<p>We collect and store property found on the following services:</p>
<ul>
    <li>London Buses</li>
    <li>London Underground</li>
    <li>Docklands Light Railway</li>
    <li>London Overground</li>
    <li>TfL Rail</li>
    <li>Black cabs (taxis)</li>
    <li>Emirates Air Line</li>
    <li>Victoria Coach Station</li>
</ul>
</div>
 <div>

<div class="call-to-action-button">
       <a href="/corporate/useful-contacts/lost-property/lost-property-enquiry-form" class="secondary-button no-hover" >Make an enquiry</a>

    </div>
</div> 
 <div>

<br />
<p> </p>
<h3>Lost your property on a different service?</h3>
<p>Find out about property lost on <a href="#river">the river</a>, <a href="#trams">trams</a> and <a href="#other">other services</a>. </p>
<h2>Before you enquire</h2>
<h3>Buses</h3>
<p>If you have lost something on a bus in the past two days, <a href="/modes/buses/who-runs-your-bus">contact the operator</a>.</p>
<h3>Oyster cards and photocards</h3>
<p>We do not take enquiries for individual Oyster cards or photocards. Please see the following information on how to replace your lost card:    </p>
<ul>
    <li>You can <a href="https://oyster.tfl.gov.uk">replace your registered Oyster card</a> </li>
    <li><a href="https://photocard.tfl.gov.uk">Replace your Oyster photocard</a> </li>
    <li>Bus and Tram Discount photocard - apply for a new card at a post office in London</li>
    <li>Jobcentre Plus Discount photocard - contact your local Jobcentre Plus office</li>
</ul>
<h2>Once we've received your enquiry</h2>
<p>It can take up to 7 working days for us to collect and catalogue an item.</p>
<p>
We will let you know if we think we have your item, or if we need more information. We ask that you don't contact us unless we have let you know that we have found your item.</p>
<h2>Collecting property</h2>
<p>We keep items for a maximum of 3 months from the date of loss. Money (except for that found in Black Cabs) can be claimed up to 12 months from the date of loss.<br />
<br />
Once we have confirmed that we have found and catalogued your property, it may be collected from our offices at Baker Street. Items received from stations and garages may not be immediately available for collection, so check in advance. It will cost you extra to send your items by courier.<br />
<br />
We charge a fee to help cover the cost of collecting and storing your property and will require valid identification before we release goods for collection or delivery. </p>
<p>If you want someone else to collect the property on your behalf, you will need to provide a signed letter or authorisation email. We will reconfirm these details for you when validating your claim.<br />
<br />
Property found in taxis is subject to an additional fee based on the value of the item. This award is given directly to the driver in recognition of their actions.</p>
<h2>Unclaimed items</h2>
<p>If an item is not claimed or matched to an enquiry within 3 months, it becomes the property of TfL.</p>
<p>We remove and securely destroy personal data from the item. After that, we either donate it to charity or recycle, dispose of or sell it.</p>
<h2>Contact details and opening hours</h2>
<p><strong>Address</strong>: Lost Property Office, 200 Baker Street, London NW1 5RZ<br />
<strong>Opening hours</strong>: 08:30 - 16:00 Monday to Friday (excluding bank holidays)<br />
<strong>Phone</strong>: If we have told you that we may have found your property, call us on 0343 222 1234 - <a href="/corporate/terms-and-conditions/tfl-call-charges">charges apply</a><br />
<strong>Email</strong>: <a href="mailto:lpo&#64;tfl.gov.uk">lpo&#64;tfl.gov.uk</a>. This is for general enquiries - we can't process lost property enquiries by email. You'll need to use our <a href="/corporate/useful-contacts/lost-property/lost-property-enquiry-form">form for reporting lost items</a></p>
<h2><a name="river"></a>Property lost on the river</h2>
<h3>Boats</h3>
<p>Contact the </p>
<p><a href="/modes/river/corporate-and-private-boat-hire">boat operator</a></p>
<h3>Piers</h3>
<p><strong>Email: </strong><a href="mailto:river&#64;tfl.gov.uk">river&#64;tfl.gov.uk</a> </p>
<h2><a name="trams"></a>Property lost on trams</h2>
<p><strong>Phone: </strong>Trams Customer Service 020 8681 8300 - <a href="/corporate/terms-and-conditions/tfl-call-charges">charges apply</a>. Please note, this number only takes calls about property lost on trams. <br />
<strong>Address:</strong> London Trams Shop, 5 Suffolk House, George Street, Croydon, CR10 1PE<br />
<strong>Opening hours:</strong> 09:00 - 17:00 Monday to Friday (excluding Bank Holidays)</p>
<h2><a name="other"></a>Other services</h2>
<p>Contact the service operator if you have lost property on other services such as National Rail services, licensed mini-cabs, coaches, tour buses or at airports. </p>
</div>
 
<div>



<h2>Lost property transparency data</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lost-property-office-transparency-data.pdf">
    <div class="document-download-text">
        <p>Lost Property Office transparency data (2015 - 2018)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 135KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lost-property-fees-april-2016.pdf">
    <div class="document-download-text">
        <p>Lost Property Office schedule of fees (from April 2016)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 47KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/help_contact" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/help_contact" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Find out if your lost property has been handed in, and claim it back ";}
        
            
        


 