
    
  



@{ViewBag.Title = "Emissions standards for taxis";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/taxis-and-private-hire/emissions-standards-for-taxis";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/taxis-and-private-hire/index">Taxi & private hire </a></li>
                
            
                 <li><a href="/info-for/taxis-and-private-hire/ranks-regulation-and-policy">Ranks, regulation and policy</a></li>
                
            
            
                <li><span class="last-breadcrumb">Emissions standards for taxis</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Emissions standards for taxis</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Find out how we plan to deliver the greenest taxi fleet in the world.
        
      </div>
    
    <div class="on-this-page">
      <p>Tackling pollution in London is a public health priority. To combat poor air quality, innovative and bold measures are being taken to ensure the health and wellbeing of all road users. Historically, the taxi trade has had a limited choice of diesel vehicles to use. This has led to the fleet becoming a significant contributor to poor air quality, particularly in central London, where they contribute 16% of all transport Nitrous Oxide (NOx) in central London. </p>
<p>
The <a href="/corporate/publications-and-reports/taxi-and-private-hire">Mayor's Taxi and Private Hire Action Plan</a>, published in 2016, sets out how we intend to establish the world's greenest taxi fleet.</p>
<p>Our plans aren't just limited to taxi vehicles, <a href="https://tfl.gov.uk/info-for/taxis-and-private-hire/emissions-standards-for-phvs">take a look at how we are transforming London's private hire fleet</a>.</p>
<p>Detailed information on licensing requirements for taxi/minicab drivers and operators is in the <a href="/info-for/taxis-and-private-hire/index">Taxi and private hire pages</a>.</p>
      
           
      <div>

<h2>Taxi delicensing</h2>

<p>TfL has restructured and enhanced&nbsp;the taxi delicensing scheme, with &pound;42m available for taxi drivers who delicence their vehicles. Top payments of &pound;10,000 are available to the first 1250 eligible applicants. You can find out more about these changes and your eligibility on our <a href="https://tfl.gov.uk/info-for/taxis-and-private-hire/taxi-delicensing-scheme">dedicated taxi delicensing page</a>.</p>

<h2>Zero Emission Capable (ZEC) taxis</h2>

<p>On 1 January 2018, we introduced licensing requirements to reduce emissions from the taxi fleet by phasing out diesel taxis and increasing the number of ZEC vehicles in London. The maximum 15 year age limit remains in place.</p>

<h3>New licensing requirements from 1 January 2018</h3>

<ul>
	<li>Since 1 January 2018, taxis presented for licensing for the first time have needed to be ZEC. This means having CO2 emissions of no more than 50g/km and a minimum 30 mile zero emission range</li>
	<li>First-time taxi vehicle licences are no longer granted to diesel taxis. ZEC taxis with petrol engines need to meet the latest emissions standard (currently Euro 6)</li>
</ul>

<h3>How we are helping you to get a ZEC vehicle</h3>

<p>We are helping to fund a government-led <a href="https://www.gov.uk/plug-in-car-van-grants">plug-in vehicle grant</a>, which will give taxi drivers up to &pound;7,500 off the price of a new ZEC taxi.</p>

<h3>How to charge your ZEC vehicle at home</h3>

<p>You can charge your ZEC vehicle at home overnight. Find out more about the <a href="https://www.gov.uk/government/collections/government-grants-for-low-emission-vehicles">government grants available to you</a> to install charging infrastructure for your ZEC vehicle.</p>

<p>If you do not have off-street parking, your local authority may be able to install charge points near you. Information on charging points will be included in our weekly email to all licensees. An updated list of rapid charge points will also be available online. Additionally, follow <a href="https://twitter.com/TfLTPH">&#64;TfLTPH</a> on Twitter for up-to-date information.</p>

<h3>How to charge your ZEC vehicle when you're working</h3>

<p>You can charge your ZEC vehicle at public charging points. Read more about <a href="/modes/driving/electric-vehicles-and-rapid-charging">electric vehicles and rapid charging in London</a>.</p>

<p>We're working to deliver 300 new rapid charge points by the end of 2020. We will install 150 by the end of 2018, a significant number of which will be dedicated for taxi use only. To locate rapid charge points near you, <a href="http://www.national-charge-point-registry.uk/">visit the National Charge Point Registry website</a>, or visit the <a href="https://www.zap-map.com/live/">Zap Map</a>, on which you can filter for "taxi-only" charging points and you can see whether a particular charging point is currently available or occupied.</p>

<h2>Q-Parks</h2>

<p>If you have a ZEC taxi you can get free access to the rapid charge points in 10 Q-Park car parks. You can stay for up to an hour to charge your vehicle. To apply for an access card, email <a href="mailto:RCPaccess&#64;tfl.gov.uk">RCPaccess&#64;tfl.gov.uk</a></p>

<p>Check on the <a href="https://www.zap-map.com/live/">Zap Map</a> which rapid charging bays are available and which are occupied to make sure you can get access when you need it.</p>
</div>
 <div>

<h2>Liquid Petroleum Gas (LPG)</h2>

<p>A brand new &pound;2.5 million fund to help owners of eligible Euro 5 taxis to convert to Liquid Petroleum Gas (LPG), a much cleaner fuel system, has been created.</p>

<p>Independent testing shows that an average TX4 taxi emits over 70 per cent less NOx after being converted to run on LPG. Trials also show that drivers of LPG-converted taxis can save around &pound;200 a month in fuel costs.</p>

<p>A limited number of LPG conversion grants will be made available to drivers of eligible Euro 5 taxis to support the shift of those vehicles with the worst NOx emissions to cleaner vehicles.</p>

<p>If you wish to express interest in applying for an LPG conversion grant, please email TaxiDelicensing&#64;tfl.gov.uk. This will enable us to contact you when the application process opens later this year. This expression of interest does not constitute an application.</p>

<h2>LPG and Taxi Age Limits</h2>

<p>We are <a href="https://consultations.tfl.gov.uk/tph/taxi-age-limits/">consulting</a> on proposals to reduce the taxi age limit to 12 years by 2022. The 15-year age limit would be strictly mandated in 2019, with a proposed reduction in the age limit by one year, per year until a 12 year age limit is reached. The age limit for Euro 6, LPG and ZEC taxis is proposed to remain at 15 years.</p>

<p>The proposal for a 15 year maximum age limit for newly converted LPG taxis would enable fuel savings, helping taxi owners to recoup the conversion costs while also reducing their contribution to damaging NOx emissions in London.</p>

<p>Any licensed taxis that have already been converted to LPG under the previous TfL scheme will not be impacted and would retain their exemption to the age limit requirement.</p>
</div>
 




 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/taxis-and-private-hire/index" class="heading">
                    <h2 id="sub-menu-heading">Taxi & private hire <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing">Licensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/compliance-and-enforcement">Compliance and enforcement</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/ranks-regulation-and-policy">Ranks, regulation and policy</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-ranks">Taxi ranks</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/new-private-hire-regulations">Changes to private hire regulation</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/english-language-requirement">English language requirement</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/accepting-card-payments">Accepting card payments</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/parking-information">Parking information </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/passengers-and-accessibility">Passengers and accessibility</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/phvs-and-the-congestion-charge">PHVs and the Congestion Charge</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/emissions-standards-for-taxis">Emissions standards for taxis</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/emissions-standards-for-phvs">Emissions standards for PHVs</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/driver-news-and-updates">News and updates</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/contact-taxis-and-private-hire">Contact Taxi & Private Hire</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-and-private-hire-comments">Taxi and private hire comments</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-delicensing-scheme">Taxi delicensing</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/taxis_minicabs" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/taxis_minicabs" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="vertical-button-container">



<a href="/info-for/taxis-and-private-hire/taxi-delicensing-scheme"  class="plain-button">Taxi delicensing scheme</a>

</div>

      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "How TfL intends to establish the Capital's taxi fleet as the greenest in the world ";}
        
            
        


 