
    
  



@{ViewBag.Title = "Emissions standards for PHVs";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/taxis-and-private-hire/emissions-standards-for-phvs";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/taxis-and-private-hire/index">Taxi & private hire </a></li>
                
            
                 <li><a href="/info-for/taxis-and-private-hire/ranks-regulation-and-policy">Ranks, regulation and policy</a></li>
                
            
            
                <li><span class="last-breadcrumb">Emissions standards for PHVs</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Emissions standards for PHVs</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Find out what emissions standards your private hire vehicle needs to meet.
        
      </div>
    
    <div class="on-this-page">
      <p>Since 1 January 2018 all private hire vehicles (PHVs) licensed for the first time must have a Euro 6 petrol or diesel engine, or a Euro 4 petrol-hybrid engine.</p>

<p>On&nbsp;8 April 2019, the <a href="/modes/driving/ultra-low-emission-zone">Ultra Low Emission Zone</a> (ULEZ)&nbsp;launched in&nbsp;central London to help improve air quality and the health of Londoners.</p>

<p>From 2021, this zone will be expanded up to (but not including)&nbsp;the <a href="/modes/driving/ultra-low-emission-zone/ulez-where-and-when">North and South Circular</a>. Private hire vehicles&nbsp;designated as wheelchair-accessible by TfL will be exempt from the charge until 26 October 2025.</p>

<p>All other PHVs need to meet exhaust emissions standards (ULEZ standards) or pay an additional daily charge when travelling within central London.</p>

<p>You will need to consider these emissions standards ahead of driving in to the zone and should check if your vehicle will meet the standards to help you plan ahead.</p>

<p>Cleaner emissions aren't just limited to private hire vehicles. Take a look at how we are <a href="/info-for/taxis-and-private-hire/emissions-standards-for-taxis">transforming London's taxi fleet</a>.</p>

<p>You can find detailed information on licensing requirements for taxi/minicab drivers and operators is in the <a href="/info-for/taxis-and-private-hire/index">Taxi &amp; private hire pages</a>.</p>

<h2>Zero Emission Capable (ZEC) vehicles</h2>

<p>A ZEC vehicle is defined as having a zero emission range of at least 20 miles and must produce less than 75g/km CO2.</p>

<p>There are currently three categories of ZEC vehicles.</p>
      
           
      

<div class="table-container"><table>
    <thead>
        <tr>
            <th id="ms__id36_heading_0" rowspan="1" colspan="1"> </th>
            <th id="ms__id36_heading_1" rowspan="1" colspan="1"><strong>Category 1</strong></th>
            <th id="ms__id36_heading_2" rowspan="1" colspan="1"><strong>Category 2</strong></th>
            <th id="ms__id36_heading_3" rowspan="1" colspan="1"><strong>Category 3</strong></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th id="ms__id36_heading_4" rowspan="1" colspan="1"><strong>CO2</strong></th>
            <td headers="ms__id36_heading_1">&lt;50g/km</td>
            <td headers="ms__id36_heading_2">&lt;50g/km</td>
            <td headers="ms__id36_heading_3">50-75g/km</td>
        </tr>
        <tr>
            <th id="ms__id36_heading_5" rowspan="1" colspan="1"><strong>Zero emission range (miles)</strong></th>
            <td headers="ms__id36_heading_1">70+</td>
            <td headers="ms__id36_heading_2">10-69</td>
            <td headers="ms__id36_heading_3">20+</td>
        </tr>
    </tbody>
</table></div>
<p>The licensing requirements will be introduced in phases. This phased approach will ensure that by 1 January 2023, all vehicles granted a private hire licence for the first time will be ZEC, regardless of age. There are several milestones to be aware of:</p>

<h3>1 January 2018 to 31 December 2019</h3>

<p>All PHVs licensed for the first time during this period must have a Euro 6 petrol or diesel engine, or a Euro 4 petrol-hybrid engine.</p>

<h3>1 January 2020 to 31 December 2022</h3>

<ul>
	<li>All new (less than 18 months old) PHVs licensed for the first time will have to be zero emission capable</li>
	<li>PHVs over 18 months old will need to have a Euro 6 engine when licensed for the first time</li>
</ul>

<h3>From 1 January 2023</h3>

<p>All PHVs (of any age) will need to be zero emission capable when licensed for the first time.</p>

<h2>Private Hire ULEZ requirements</h2>

<p>Since&nbsp;8 April 2019, all PHVs travelling in the ULEZ zone need to meet certain emissions standards or pay a &pound;12.50 charge per day, unless they are registered as wheelchair accessible by TfL.</p>

<ul>
	<li>Petrol cars, vans and minibuses must be Euro 4</li>
	<li>Diesel cars, vans and minibuses must be Euro 6</li>
</ul>

<p>The emissions standard of your vehicle can usually be determined from the date of its first registration as new, which is shown on the vehicle's registration document known as the V5C.</p>

<p>Our page on <a href="/modes/driving/ultra-low-emission-zone/ways-to-meet-the-standard">the ULEZ standards</a> has more information on checking the emissions of your vehicle.</p>

<p>In addition to the ULEZ requirements, the licensing requirements for PHVs will change to encourage uptake of zero emission capable PHVs from 2020. These requirements will apply to PHVs across the whole of London, not just those travelling in the ULEZ.</p>

<h2>Government Plug-in Car Grant</h2>

<p>The Government currently offers a Plug-in Car Grant to reduce the initial cost of purchasing a category 1 Zero Emission Capable vehicle. The maximum grant available is &pound;3,500.</p>

<p>Previously, grants were also offered to category 2 and 3 ZEC vehicles. <a href="https://www.gov.uk/government/publications/plug-in-car-grant-changes-to-grant-level-november-2018/upcoming-changes-to-the-plug-in-car-grant">Changes to the Government's Plug-In Car Grant</a> superseded previous guidance from the national Office for Low Emission Vehicles.</p>

 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/taxis-and-private-hire/index" class="heading">
                    <h2 id="sub-menu-heading">Taxi & private hire <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing">Licensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/compliance-and-enforcement">Compliance and enforcement</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/ranks-regulation-and-policy">Ranks, regulation and policy</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-ranks">Taxi ranks</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/new-private-hire-regulations">Changes to private hire regulation</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/english-language-requirement">English language requirement</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/accepting-card-payments">Accepting card payments</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/parking-information">Parking information </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/passengers-and-accessibility">Passengers and accessibility</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/phvs-and-the-congestion-charge">PHVs and the Congestion Charge</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/emissions-standards-for-taxis">Emissions standards for taxis</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/emissions-standards-for-phvs">Emissions standards for PHVs</a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/driver-news-and-updates">News and updates</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/contact-taxis-and-private-hire">Contact Taxi & Private Hire</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-and-private-hire-comments">Taxi and private hire comments</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-delicensing-scheme">Taxi delicensing</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/taxis_minicabs" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/taxis_minicabs" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "New emission standards for PHV drivers to meet TfL's criteria for cleaner green private hire vehicles";}
        
            
        


 