
    
  



@{ViewBag.Title = "Notices & consultations";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/taxis-and-private-hire/notices-and-consultations";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/taxis-and-private-hire/index">Taxi & private hire </a></li>
                
            
                 <li><a href="/info-for/taxis-and-private-hire/driver-news-and-updates">News and updates</a></li>
                
            
            
                <li><span class="last-breadcrumb">Notices & consultations</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Notices & consultations</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    <div class="on-this-page">
      
      
           
      
<div>




<h2>Consultations</h2>

<h3>Central London</h3>

<p>We want your views on our proposals to make the streets we manage in central London 20mph by 2020 and the associated measures. You have until Wednesday 10 July 2019 to <a href="https://consultations.tfl.gov.uk/streets/20/">complete our survey</a> and let us know what you think.</p>

<h3>TfL Safer Junctions Programme</h3>

<p>Our <a href="/campaign/our-plan-for-londons-roads">Safer Junctions programme</a> is reducing road danger at some of the most hazardous junctions in London. We're consulting on proposed changes at five junctions. These are:</p>

<ul>
	<li><a href="https://consultations.tfl.gov.uk/roads/kingsland-road/?cid=kingsland-road">Kingsland Road/Balls Pond Road</a></li>
	<li><a href="https://consultations.tfl.gov.uk/roads/kennington-park-road/?cid=kennington-park-road">Kennington Park Road/Braganza Street</a></li>
	<li><a href="https://consultations.tfl.gov.uk/roads/east-india-dock-road/?cid=east-india-dock-road">East India Dock Road/Canton Street/Birchfield Street</a></li>
	<li><a href="https://consultations.tfl.gov.uk/roads/edgware-road-junction/?cid=edgware-road-junction">Edgware Road/Harrow Road</a></li>
	<li><a href="https://consultations.tfl.gov.uk/roads/clapham-road-union-road/?cid=clapham-road">Clapham Road/Union Road</a></li>
</ul>

<h3>The Royal Parks Movement Strategy</h3>

<p>The Royal Parks is developing a movement strategy and have published a discussion paper which sets out their draft aims and principles for the strategy. The discussion paper is available on The Royal Parks' website and you have until Sunday 14 July 2019 to <a href="https://www.royalparks.org.uk/managing-the-parks/park-strategies/the-royal-parks-transport-and-movement-strategy">comment on the paper and strategy</a>.</p>

<h3>Safe speeds for central London &#45; introducing 20mph speed limits</h3>

<p>We are consulting on plans to reduce road danger, including proposals to implement a 20mph speed limit on the roads we operate and manage in central London. You have until Wednesday 10 July 2019 to let us know <a href="https://consultations.tfl.gov.uk/streets/20/">what you think</a> of our proposals.</p>

<h3>Kingston Local Plan</h3>

<p>Kingston Council is inviting views on a range of topics, including transport, to help them develop a new Local Plan. A survey is available on the council's website and you have until Wednesday 31 July 2019 to <a href="https://kingstonletstalk.co.uk/local-plan">let Kingston know what you think</a>.</p>

<h3>Harrington Square</h3>

<p>We are consulting on proposed changes around Harrington Square. You have until Friday 28 June 2019 to<a href="https://consultations.tfl.gov.uk/cycling/harrington-square/"> let us know</a> what you think about the proposals.</p>

<h3>Penalty Charges Notices (PCNs) in Barnet</h3>

<p>Barnet Council is consulting on proposals to increase the charges for the PCNs they issue. You can find details of the current and proposed changes on Barnet's website and have until Wednesday 31 July 2019 to<a href="https://engage.barnet.gov.uk/Parking-Penalty-Charges-Consultation"> let Barnet know what you think </a>about the proposed changes.</p>

<h3>West Hill area traffic management scheme</h3>

<p>Wandsworth Council is trialling a new traffic management scheme in the West Hill area. The trial will run for six months. You have until 31 August 2019 to <a href="https://haveyoursay.citizenspace.com/wandsworthecs/west-hill-19/consult_view/">share your views</a> on the trial.</p>

<h3>Romford masterplan</h3>

<p>Havering Council is developing <a href="https://www.yourromford.co.uk/">a masterplan for Romford</a>. You can find details of the masterplan on Havering Council's website and have until June 2019 to share your priorities, ideas and aspirations for Romford.</p>

<h3>Electric vehicle charging survey for taxi and private hire drivers</h3>

<p>Zero Carbon Futures is conducting a short survey among taxi and private hire drivers to find out their experiences of charging and requirements for the future. <a href="https://www.surveymonkey.co.uk/r/tp2m8t2">Take the survey</a>.</p>

<h3>Holborn Vision and Urban Strategy</h3>

<p>Camden Council is consulting on a new vision and urban strategy for Holborn. Details of the proposals plus drop-in sessions are available on Camden's website. You have until Wednesday 3 July 2019&nbsp;to <a href="https://consultations.wearecamden.org/culture-environment/copy-of-copy-of-kentish-town-planning-framework/">share your views</a> with Camden on their proposals.</p>

<h3>Proposed improvements between Wood Lane and Notting Hill Gate</h3>

<p>We're consulting on proposals to transform roads in west London through four connected neighbourhood improvement schemes between Wood Lane and Notting Hill Gate. You have until Sunday 16 June 2019 to <a href="https://consultations.tfl.gov.uk/roads/wood-lane-notting-hill/"> view our proposals</a> and let us know what you think.</p>

<h3>Electric vehicle charging points in Hammersmith</h3>

<p>Hammersmith and Fulham is inviting requests for locations for new electric vehicle charging points. <a href="https://lbhf.citizenspace.com/transport-and-technical-services/request-electric-vehicle-charging-point/">You have until 1 April 2020 to submit a request</a>.</p>

<h3>Other consultations</h3>

<p>Find out more about other current <a href="https://consultations.tfl.gov.uk/advanced_consultation_finder?st=open">TfL consultations</a>.</p>
<div class="multi-document-download-container">
    
</div>

</div>
 
<div>





<div class="multi-document-download-container">
    
</div>

</div>
 <div class="accordion">


<h2>Taxi and Private Hire notices</h2>



<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="may-2019-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Notices & consultations-May 2019"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="may-2019-heading" class="accordion-heading">May 2019</div>
            </div>
            <div id="may-2019-content" class="start-hidden" role="region" aria-labelledby="may-2019-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/wimbledon-championships-notice-4-19.pdf">
    <div class="document-download-text">
        <p>04-19 Wimbledon Tennis Championships 2019 and Test Event for Court 1</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 422KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.41 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="april-2019-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Notices & consultations-April 2019"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="april-2019-heading" class="accordion-heading">April 2019</div>
            </div>
            <div id="april-2019-content" class="start-hidden" role="region" aria-labelledby="april-2019-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/03-19-congestion-charge-exemption.pdf">
    <div class="document-download-text">
        <p>03-19 Private Hire Vehicle Congestion Charge exemption removal</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 150KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="march-2019-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Notices & consultations-March 2019"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="march-2019-heading" class="accordion-heading">March 2019</div>
            </div>
            <div id="march-2019-content" class="start-hidden" role="region" aria-labelledby="march-2019-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/02-19-english-language-requirement-deadline-extension.pdf">
    <div class="document-download-text">
        <p>02-19 English language requirement update </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 67KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/08-03-19-tph-notice-cribble.pdf">
    <div class="document-download-text">
        <p>01-19 Important Information for Private Hire Drivers Cribble</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 40KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="december-2018-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Notices & consultations-December 2018"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="december-2018-heading" class="accordion-heading">December 2018</div>
            </div>
            <div id="december-2018-content" class="start-hidden" role="region" aria-labelledby="december-2018-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/08-18-congestion-charge.pdf">
    <div class="document-download-text">
        <p>08-18 Congestion Charge</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 54KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="september-2018-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Notices & consultations-September 2018"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="september-2018-heading" class="accordion-heading">September 2018</div>
            </div>
            <div id="september-2018-content" class="start-hidden" role="region" aria-labelledby="september-2018-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/07-18-taxi-fares-and-tariffs-update.pdf">
    <div class="document-download-text">
        <p>07-18 Taxi fares and tariffs update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 137KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/06-18-reporting-alleged-or-suspected-criminal-conduct.pdf">
    <div class="document-download-text">
        <p>06-18 Reporting alleged or suspected criminal conduct: Guidance for private hire operators</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 50KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/05-18-voice-contact-requirement-guidance.pdf">
    <div class="document-download-text">
        <p>05-18 Voice contact requirement guidance for private hire operators</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 50KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="june-2018-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Notices & consultations-June 2018"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="june-2018-heading" class="accordion-heading">June 2018</div>
            </div>
            <div id="june-2018-content" class="start-hidden" role="region" aria-labelledby="june-2018-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/04-2018-wimbledon-tennis-championships-2018.pdf">
    <div class="document-download-text">
        <p>04-18 Wimbledon Tennis Championships 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 90KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="may-2018--content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Notices & consultations-May 2018 "><span class="visually-hidden">Toggle accordion</span></div>
                <div id="may-2018--heading" class="accordion-heading">May 2018 </div>
            </div>
            <div id="may-2018--content" class="start-hidden" role="region" aria-labelledby="may-2018--heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/03-18-voice-contact-requirement.pdf">
    <div class="document-download-text">
        <p>03-18 Voice contact requirement</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 182KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.18 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/02-18-english-language-requirement-update.pdf">
    <div class="document-download-text">
        <p>02-18 Private hire regulations - English language requirement update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 54KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/01-18-alpha-insurance.pdf">
    <div class="document-download-text">
        <p>01-18 Alpha Insurance A/S policyholders</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 54KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="october-2017-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Notices & consultations-October 2017"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="october-2017-heading" class="accordion-heading">October 2017</div>
            </div>
            <div id="october-2017-content" class="start-hidden" role="region" aria-labelledby="october-2017-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/14-17-implementation-of-new-taxi-and-private-hire-licence-fees.pdf">
    <div class="document-download-text">
        <p>14-17 Implementation of new taxi and private hire licence fees</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 301KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.29 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="september-2017-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Notices & consultations-September 2017"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="september-2017-heading" class="accordion-heading">September 2017</div>
            </div>
            <div id="september-2017-content" class="start-hidden" role="region" aria-labelledby="september-2017-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/13-17-licensing-decision-on-uber-london-limited.pdf">
    <div class="document-download-text">
        <p>13-17 Licensing decision on Uber London Limited</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 54KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 
</div>

</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/12-17-important-changes-to-licence-fees.pdf">
    <div class="document-download-text">
        <p>12-17 Important changes to licence fees</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 86KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 
</div>

</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/11-17-taxify.pdf">
    <div class="document-download-text">
        <p>11-17 Taxify</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 50KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="july-2017-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Notices & consultations-July 2017"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="july-2017-heading" class="accordion-heading">July 2017</div>
            </div>
            <div id="july-2017-content" class="start-hidden" role="region" aria-labelledby="july-2017-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/10-17-ph-regulations-english-language-requirement-update.pdf">
    <div class="document-download-text">
        <p>10-17 Private Hire Regulations - English Language Requirement Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 56KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="june-2017-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Notices & consultations-June 2017"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="june-2017-heading" class="accordion-heading">June 2017</div>
            </div>
            <div id="june-2017-content" class="start-hidden" role="region" aria-labelledby="june-2017-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/09-17-wimbledon-tennis-taxi-and-private-hire-arrangements.pdf">
    <div class="document-download-text">
        <p>09-17 Wimbledon Tennis Championships 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 139KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="may-2017-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Notices & consultations-May 2017"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="may-2017-heading" class="accordion-heading">May 2017</div>
            </div>
            <div id="may-2017-content" class="start-hidden" role="region" aria-labelledby="may-2017-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/08-17-changes-to-taxi-fares.pdf">
    <div class="document-download-text">
        <p>08-17 Changes to taxi fares</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 104KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="april-2017-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Notices & consultations-April 2017"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="april-2017-heading" class="accordion-heading">April 2017</div>
            </div>
            <div id="april-2017-content" class="start-hidden" role="region" aria-labelledby="april-2017-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/07-17-private-hire-operator-licence-fees-consultation.pdf">
    <div class="document-download-text">
        <p>07-17 Private hire operator licence fees consultation </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 94KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="march-2017-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Notices & consultations-March 2017"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="march-2017-heading" class="accordion-heading">March 2017</div>
            </div>
            <div id="march-2017-content" class="start-hidden" role="region" aria-labelledby="march-2017-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/06-17-english-language-insurance-and-telephone-requirements.pdf">
    <div class="document-download-text">
        <p>06-17 Private hire: English language insurance and telephone requirements</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 59KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="february-2017-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Notices & consultations-February 2017"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="february-2017-heading" class="accordion-heading">February 2017</div>
            </div>
            <div id="february-2017-content" class="start-hidden" role="region" aria-labelledby="february-2017-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/05-17-tph-notice-private-hire-regulations-update.pdf">
    <div class="document-download-text">
        <p>05/17 Private hire regulations update: changes to English language and telephone requirements</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 64KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="january-2017-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Notices & consultations-January 2017"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="january-2017-heading" class="accordion-heading">January 2017</div>
            </div>
            <div id="january-2017-content" class="start-hidden" role="region" aria-labelledby="january-2017-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/04-17-printworks-taxi-and-phv-arrangements.pdf">
    <div class="document-download-text">
        <p>04/17 Printworks venue: taxi and private hire arrangements</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 319KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.31 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/03-17-private-hire-driver-applicants-important-update-on-topographical-test-requirements.pdf">
    <div class="document-download-text">
        <p>03/17 Private hire driver applicants: important update on topographical test requirements</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 133KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/02-17-taxi-owners-reminded-to-keep-their-vehicle-registration-certificate-up-to-date.pdf">
    <div class="document-download-text">
        <p>02/17 Taxi owners reminded to keep their Vehicle Registration Certificate up to date</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 133KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/01-17-taxi-fares-and-tariffs-consultation.pdf">
    <div class="document-download-text">
        <p>1/17 Taxi fares and tariffs consultation</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 149KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="december-2016-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Notices & consultations-December 2016"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="december-2016-heading" class="accordion-heading">December 2016</div>
            </div>
            <div id="december-2016-content" class="start-hidden" role="region" aria-labelledby="december-2016-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/18-16-advice-for-knowledge-students-on-dvsa-changes.pdf">
    <div class="document-download-text">
        <p>18/16 Advice for knowledge students on DVSA changes</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 56KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="november-2016-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Notices & consultations-November 2016"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="november-2016-heading" class="accordion-heading">November 2016</div>
            </div>
            <div id="november-2016-content" class="start-hidden" role="region" aria-labelledby="november-2016-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/17-16-private-hire-vehicle-operators-notification-of-operating-model-changes.pdf">
    <div class="document-download-text">
        <p>17/16 PHV operators - notification of operating model changes</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 58KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="october-2016-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Notices & consultations-October 2016"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="october-2016-heading" class="accordion-heading">October 2016</div>
            </div>
            <div id="october-2016-content" class="start-hidden" role="region" aria-labelledby="october-2016-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/16-16-english-language-requirement-update.pdf">
    <div class="document-download-text">
        <p>16/16 English language requirement update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 70KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="september-2016-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Notices & consultations-September 2016"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="september-2016-heading" class="accordion-heading">September 2016</div>
            </div>
            <div id="september-2016-content" class="start-hidden" role="region" aria-labelledby="september-2016-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/15-16-national-fraud-initiative.pdf">
    <div class="document-download-text">
        <p>15/16 National Fraud Initiative</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 53KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/14-16-changes-to-private-hire-regulation-update.pdf">
    <div class="document-download-text">
        <p>14/16 Changes to private hire regulation update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 47KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/13-16-prepare-for-mandatory-card-and-contactless-payments-in-taxis.pdf">
    <div class="document-download-text">
        <p>13/16 Taxi Licensees urged to prepare for mandatory card and contactless acceptance in all London taxis</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 81KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="july-2016-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Notices & consultations-July 2016"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="july-2016-heading" class="accordion-heading">July 2016</div>
            </div>
            <div id="july-2016-content" class="start-hidden" role="region" aria-labelledby="july-2016-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/12-16-new-island-rank-trials.pdf">
    <div class="document-download-text">
        <p>12/16 New island rank trials</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 46KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="june-2016-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Notices & consultations-June 2016"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="june-2016-heading" class="accordion-heading">June 2016</div>
            </div>
            <div id="june-2016-content" class="start-hidden" role="region" aria-labelledby="june-2016-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/11-16-important-safety-notice-vauxhall-zafira-b.pdf">
    <div class="document-download-text">
        <p>11/16 Important safety notice: Vauxhall Zafira B vehicles yet to adhere to the Vauxhall safety recall to be suspended with immediate effect   </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 63KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/10-16-important-changes-to-private-hire-regulation.pdf">
    <div class="document-download-text">
        <p>10/16 Important Changes to Private Hire Regulation</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 60KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="march-2016-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Notices & consultations-March 2016"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="march-2016-heading" class="accordion-heading">March 2016</div>
            </div>
            <div id="march-2016-content" class="start-hidden" role="region" aria-labelledby="march-2016-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/09-16-changes-to-taxi-fares-and-accepting-payment-by-card-in-all-london-taxis.pdf">
    <div class="document-download-text">
        <p>09/16 Changes to taxi fares and accepting payment by card in all London taxis</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 165KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/08-16-dbs-update-service.pdf">
    <div class="document-download-text">
        <p>08/16 DBS update service</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 128KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-board-private-hire-regs-march-2016.pdf">
    <div class="document-download-text">
        <p>07/16 TfL Board approves plans to modernise London's private hire industry</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 60KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="february-2016-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Notices & consultations-February 2016"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="february-2016-heading" class="accordion-heading">February 2016</div>
            </div>
            <div id="february-2016-content" class="start-hidden" role="region" aria-labelledby="february-2016-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/06-16-credit-and-debit-card-and-contactless-payments-to-be-accepted-in-all-london-taxis.pdf">
    <div class="document-download-text">
        <p>06/16 Credit and debit card and contactless payments to be accepted in all London taxis</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 85KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/05-16-taxi-fares-update.pdf">
    <div class="document-download-text">
        <p>05/16 Taxi fares update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 262KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.26 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="january-2016-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Notices & consultations-January 2016"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="january-2016-heading" class="accordion-heading">January 2016</div>
            </div>
            <div id="january-2016-content" class="start-hidden" role="region" aria-labelledby="january-2016-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/04-16-integrated-impact-assessment-phrr-consultation.pdf">
    <div class="document-download-text">
        <p>04/16 Private Hire Regulations Review: Integrated Impact Assessment (IIA) consultation</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 79KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/03-16-plans-for-modernising-and-enhancing-londons-private-hire-industry.pdf">
    <div class="document-download-text">
        <p>03/16 Transport for London's plans for modernising and enhancing London's private hire industry</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 199KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.19 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tph-notice-0216-lumiere-london-2016.pdf">
    <div class="document-download-text">
        <p>02/16 Lumiere London 2016</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 172KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.17 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tph-notice-ulezrequirements-jan-2016.pdf">
    <div class="document-download-text">
        <p>01/16 Mayor and TfL finalise ULEZ requirements for Taxi and Private Hire Trades</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 219KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.21 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="december-2015-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Notices & consultations-December 2015"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="december-2015-heading" class="accordion-heading">December 2015</div>
            </div>
            <div id="december-2015-content" class="start-hidden" role="region" aria-labelledby="december-2015-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/14-15-new-years-eve-2105.pdf">
    <div class="document-download-text">
        <p>14/15 New Year's Eve information for taxi and private hire drivers</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.12MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/13-15-taxi-ranks.pdf">
    <div class="document-download-text">
        <p>13/15 Taxi ranks</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 35KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/12-15-temporary-measures-due-to-dbs-delays.pdf">
    <div class="document-download-text">
        <p>12/15 Temporary measures due to Disclosure and Barring Service (DBS) delays</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 101KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/11-15-smoking-e-cigarettes-policy.pdf">
    <div class="document-download-text">
        <p>11/15 Smoking and e-cigarettes policy</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 96KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="october-2015-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Notices & consultations-October 2015"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="october-2015-heading" class="accordion-heading">October 2015</div>
            </div>
            <div id="october-2015-content" class="start-hidden" role="region" aria-labelledby="october-2015-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/10-15-suburban-action-plan-next-steps.pdf">
    <div class="document-download-text">
        <p>10/15 Suburban action plan - next steps</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 47KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="september-2015-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Notices & consultations-September 2015"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="september-2015-heading" class="accordion-heading">September 2015</div>
            </div>
            <div id="september-2015-content" class="start-hidden" role="region" aria-labelledby="september-2015-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/09-15-private-hire-consultation.pdf">
    <div class="document-download-text">
        <p>09/15 Private hire proposals </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 49KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/08-15-rugby-world-cup-taxi-and-phv-arrangements.pdf">
    <div class="document-download-text">
        <p>08/15 Rugby World Cup - taxi and private hire vehicle arrangements</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 663KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.65 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="august-2015-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Notices & consultations-August 2015"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="august-2015-heading" class="accordion-heading">August 2015</div>
            </div>
            <div id="august-2015-content" class="start-hidden" role="region" aria-labelledby="august-2015-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/twickenham-stadium-taxi-and-phv-arrangements.pdf">
    <div class="document-download-text">
        <p>07/15 Twickenham stadium taxi and private hire arrangements</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 59KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/06-15-important-changes-to-paper-applications.pdf">
    <div class="document-download-text">
        <p>06/15 Important changes to paper applications</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 167KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="july-2015-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Notices & consultations-July 2015"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="july-2015-heading" class="accordion-heading">July 2015</div>
            </div>
            <div id="july-2015-content" class="start-hidden" role="region" aria-labelledby="july-2015-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/05-15-remembering-the-victims-of-the-tunisia-attack-and-the-july-7-bombings.pdf">
    <div class="document-download-text">
        <p>05/15 Remembering the victims of the Tunisia attack and the July 7 bombings</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 62KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="june-2015-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Notices & consultations-June 2015"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="june-2015-heading" class="accordion-heading">June 2015</div>
            </div>
            <div id="june-2015-content" class="start-hidden" role="region" aria-labelledby="june-2015-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/04-15-card-payment-in-taxis-consultation.pdf">
    <div class="document-download-text">
        <p>04/15 Card payment in taxis consultation</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 38KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="april-2015-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Notices & consultations-April 2015"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="april-2015-heading" class="accordion-heading">April 2015</div>
            </div>
            <div id="april-2015-content" class="start-hidden" role="region" aria-labelledby="april-2015-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/03-15-taxi-fares-update-2015-2016.pdf">
    <div class="document-download-text">
        <p>03/15 Taxi fares update 2015-16</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 48KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/02-15-taxi-and-private-hire-licence-fees.pdf">
    <div class="document-download-text">
        <p>02/15 Taxi and private hire licence fees</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 65KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="march-2015-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Notices & consultations-March 2015"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="march-2015-heading" class="accordion-heading">March 2015</div>
            </div>
            <div id="march-2015-content" class="start-hidden" role="region" aria-labelledby="march-2015-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/01-15-private-hire-vehicles-have-your-say.pdf">
    <div class="document-download-text">
        <p>01/15 Private hire vehicles - have your say</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 67KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tph-notices-2007-2014.pdf">
    <div class="document-download-text">
        <p>TPH notices 2007-2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 82KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 
</div>

</div>
 
<div>





<div class="multi-document-download-container">
    
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/taxis-and-private-hire/index" class="heading">
                    <h2 id="sub-menu-heading">Taxi & private hire <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/licensing">Licensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/compliance-and-enforcement">Compliance and enforcement</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/ranks-regulation-and-policy">Ranks, regulation and policy</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/driver-news-and-updates">News and updates</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/compliance-and-enforcement-meetings">Meetings</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/press-releases-and-news">Taxi & private hire news</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/notices-and-consultations">Notices & consultations</a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/contact-taxis-and-private-hire">Contact Taxi & Private Hire</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-and-private-hire-comments">Taxi and private hire comments</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/taxis-and-private-hire/taxi-delicensing-scheme">Taxi delicensing</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
      <div class="module-grid clearfix">
                    
        <div class="follow-social twitter">
  
  <div class="social-image">
    <span class="mode-icon taxi">&nbsp;</span>
  </div>
  <div class="social-text">
    <h3>Twitter travel advice</h3>
    <p>News for the taxi and private hire trade</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="https://twitter.com/TfLTPH">Follow &#64;TfLTPH</a>
  </div> 
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Read the latest bulletins and newsletters for taxi and private hire operators";}
        
            
        


 