

<h3>Taxi delicensing scheme</h3>

<p>TfL has re-launched its enhanced delicensing fund that supports taxi drivers who want to delicense their Euro 3, 4 or 5 vehicles.</p>

<p>Following the announcement of &pound;24m funding from the Mayor, TfL has restructured the taxi delicensing scheme.</p>

<p>Top payments of &pound;10,000 are available to the first 1,250 applicants, with tiered payment levels available to subsequent applicants on a first come, first served basis:</p>

<div class="table-container"><table>
	<tbody>
		<tr>
			<td><strong>Eligible vehicles</strong></td>
			<td><strong>No. of payments available</strong></td>
			<td><strong>Delicensing payment</strong></td>
		</tr>
		<tr>
			<td rowspan="5">Taxis younger than 13 years</td>
			<td>1,250</td>
			<td>&pound;10,000</td>
		</tr>
		<tr>
			<td>1,100</td>
			<td>&pound;9,000</td>
		</tr>
		<tr>
			<td>850</td>
			<td>&pound;8,000</td>
		</tr>
		<tr>
			<td>500</td>
			<td>&pound;7,000</td>
		</tr>
		<tr>
			<td>400</td>
			<td>&pound;6,000</td>
		</tr>
		<tr>
			<td>13 and 14 year old taxis</td>
			<td>1,000</td>
			<td>&pound;1,000</td>
		</tr>
	</tbody>
</table></div>

<h3>Eligibility</h3>

<p>If you are the owner of a diesel taxi that is less than 15 years old you may be able to surrender your taxi vehicle licence and plate in exchange for a payment from TfL. Once a taxi vehicle licence has been surrendered and the vehicle delicensed it cannot be licensed in London again.</p>

<p>Check whether you are eligible for the scheme under <a href="/corporate/terms-and-conditions/taxi-delicensing">these Terms and Conditions</a>.</p>

<h3>Apply for a delicensing payment</h3>

<p>Please ensure you have carefully read and understood the <a href="/corporate/terms-and-conditions/taxi-delicensing">Terms and Conditions</a> before applying.</p>

<p>To apply for a delicensing grant you will need your vehicle registration number, Vehicle Identification Number (VIN) and vehicle licence number to complete the application, as well as an email address we can contact you on.</p>

<p><a class="primary-button" href="/info-for/taxis-and-private-hire/apply-for-taxi-delicensing-payments">Apply for your taxi delicensing payment</a>.</p>

<h3>FAQs</h3>

<p>Following the launch of a new Enhanced Taxi Delicensing Scheme on 15th January 2019, the original delicensing scheme (anyone who applied before 2019) has been discontinued.</p>

<p>We kindly ask that you do not chase for a response as we will be in touch with you.</p>

<p>Please note, the scheme is only available to Hackney Carriages; Private Hire Vehicles are not eligible for this scheme.</p>

<div class="table-container"><table border="1" cellpadding="1" cellspacing="1" style="width:500px">
	<tbody>
		<tr>
			<td>Can I talk to someone about my application?</td>
			<td>We don't have a dedicated delicensing phone line so please don't call the vehicle inspection bookings or licensing lines. Due to high demand, our focus is on processing applications. If resource permits, we will deal with correspondence as and when we can.</td>
		</tr>
		<tr>
			<td>I have applied and have not heard anything?</td>
			<td>All applications for the new Enhanced Delicensing Scheme are being processed on a first come, first served basis. We are working through all applications in order. Due to the high volume of applications received this is taking longer than anticipated. If you received the auto response, please be assured that we will have received any paperwork sent to us and it will be processed in due course.</td>
		</tr>
		<tr>
			<td>What can I do whilst I wait?</td>
			<td>Please remember to keep the records we hold in relation to the vehicle and you as an applicant (name and address) up-to-date ensuring that these details match your V5 and we have your most recent email address. If you need to update your details please contact customer services on 0343 222 4444.</td>
		</tr>
		<tr>
			<td>Can I withdraw from the scheme if I am not happy with the offer?</td>
			<td>You will receive an offer figure for the delicensing of your vehicle once we have received your signed Terms and Conditions - at no point are you obligated to accept the offer, until you present your vehicle at the test centre for inspection.</td>
		</tr>
		<tr>
			<td>My vehicle licence has expired since my application was made?</td>
			<td>The vehicle will need to be licensed, we cannot process the application if the vehicle licence is no longer active.</td>
		</tr>
		<tr>
			<td>How do I book my vehicle for inspection?</td>
			<td>All details are in the letter you were emailed. Please follow the instructions in here. You have 28 days to book an inspection. There is no charge for the inspection. The inspection booking number is 0343 222 5555.</td>
		</tr>
		<tr>
			<td>When will I receive payment?</td>
			<td>We will send you a payment form when we receive all the inspection documentation from NSL &#45; this is usually within three working days from the inspection. After we receive your payment form, payment is made within 21 working days.</td>
		</tr>
	</tbody>
</table></div>

<h3>Liquid Petroleum Gas</h3>

<p>A new &pound;2.5 million fund to help owners of eligible Euro 5 taxis to convert to Liquid Petroleum Gas (LPG), a much cleaner fuel system, has been created.</p>

<p>Independent testing shows that an average TX4 taxi emits over 70 per cent less NOx after being converted to run on LPG. Trials also show that drivers of LPG-converted taxis can save around &pound;200 a month in fuel costs.</p>

<p>A limited number of LPG conversion grants will be made available to drivers of eligible Euro 5 taxis to support the shift of those vehicles with the worst NOx emissions to cleaner vehicles.</p>

<p>If you wish to express interest in applying for an LPG conversion grant, please email TaxiDelicensing&#64;tfl.gov.uk. This will enable us to contact you when the application process opens later this year. This expression of interest does not constitute an application.</p>

<h3>Taxi Age Limits</h3>

<p>TfL has <a href="https://consultations.tfl.gov.uk/tph/taxi-age-limits/">launched a consultation </a>on proposals to reduce the taxi age limit to 12 years by 2022. The 15-year age limit would be strictly mandated in 2019, with a proposed reduction in the age limit by one year, per year until a 12 year age limit is reached. The age limit for Euro 6, LPG and ZEC taxis is proposed to remain at 15 years.</p>

<p>The proposal for a 15 year maximum age limit for newly converted LPG taxis would enable fuel savings, helping taxi owners to recoup the conversion costs while also reducing their contribution to damaging NOx emissions in London.</p>

<p>Any licensed taxis that have already been converted to LPG under the existing TfL scheme will not be impacted and would retain their exemption to the age limit requirement.</p>
        

       




 