


@{ViewBag.Title = "Wood Lane and Shepherds Bush Market to join Tube map";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Wood Lane and Shepherds Bush Market to join Tube map</h1>
        <div class="content-page-press-release">
        20 November 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        London Underground (LU) today announced that the new station currently under construction on the Hammersmith & City line at the White City development will be known as Wood Lane when it opens in 2008.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            These improvements will bring regeneration to the area
                            
                        </p>
                    </div>
                
            
            
            <p>The existing Shepherd's Bush (Hammersmith & City) station will be renamed Shepherd's Bush Market at the same time. </p>
<p>This will eliminate confusion with the nearby Shepherd's Bush station on the Central line.</p>
<p>Wood Lane station, which is the first new station on an existing and unextended Tube line for over 70 years, will be located between Shepherd's Bush Market and Latimer Road stations.</p>
<p>The Mayor of London, Ken Livingstone, said: "The naming of the new Wood Lane station and the renaming of Shepherd's Bush (Hammersmith & City), now Shepherd's Bush Market station, is the latest step in the massive improvement of transport links for West London. </p>
<p>"These improvements will bring regeneration to the area and give this part of the Capital a world-class service for the first time."</p>
<p>LU Managing Director Tim O'Toole said: "The new Wood Lane station on the Hammersmith & City line is a very welcome addition to the Underground network. </p>
<p>"The station will play an important role in getting people to and from the new Westfield London development, the major new retail development in the area. </p>
<p>"The other major benefit is that passengers will be able to travel straight to the White City area on the Hammersmith & City line instead of having to change to the Central line."</p>
<p>The new station forms part of a major new transport hub at White City to support the new retail and leisure development. </p>
<p>The scheme is a partnership between LU and developer Westfield, which is contributing &pound;170m in transport improvements.</p>
<p>In addition to the new Hammersmith & City line station, further transport investments included a re-modelled Shepherd's Bush (Central line) station; a new station on the forthcoming London Overground network which Transport for London (TfL) will launch in late 2007; a new bus station to the north of the White City development; and a new southern transport interchange that will connect LU, bus, TfL London Overground and taxi services. </p>
<p>It will also make provision for the proposed West London tram scheme.</p>
<p>The existing Shepherd's Bush (Central line) station super-structure will be demolished and replaced with an expanded building. </p>
<p>Passenger numbers using the station are expected to rise from 27,000 a day in 2001 to 45,000 a day when the retail centre opens. </p>
<p>Additional staircases and passageways will be provided to cater for this increase, along with step-free access facilities throughout. </p>
<p>The works will see the station almost double in size.<br></p>
<p>
            <ul>
<li>TfL is investing &pound;10bn to improve and expand London's transport network, more than half of that in the Tube 
</li><li>This will be the first time that a brand new station on the Tube has been titled with a disused station name. Wood Lane has a long connection with the Tube: two Underground stations with the name Wood Lane both opened in May 1908 - one on the Central line and the other on the Hammersmith &amp; City line 
</li><li>The Hammersmith &amp; City line station was only ever intended to be a temporary station and opened to serve the Franco-British exhibition. In fact it survived far longer. In 1947 it was renamed White City station but was badly damaged by fire in 1959 and subsequently demolished
</li><li>The last station name change occurred on the Tube in 1989 when Surrey Docks on the East London line was renamed Surrey Quays 
</li><li>LU receives a number of requests each year for the names of Tube stations to be changed but only very rarely agrees to accept them. LU has a strict criteria that must be met even to consider such a scheme. Furthermore, the cost of making the changes is substantial as it is not just the physical signs in the station that have to be changed but also maps, leaflets and pre-recorded announcements. This is time consuming and expensive. There are no plans at present to re-name any other existing Tube stations 
</li><li>The White City development will comprise of a 1.4 million square feet shopping centre, a 14 screen cinema, a health and fitness area, library, children's nursery and key worker and affordable housing 
</li><li>Other transport improvements being delivered as part of the White City development include new sidings for the Central line and replacement of part of an existing viaduct on the Hammersmith &amp; City line 
</li><li>LU owns the freehold to the 46-acre White City development site 
</li><li>Westfield is funding all the transport improvements associated with the White City development with the exception of the capacity enhancement, step-free access and modernisation of Shepherd's Bush (Central) station 
</li><li>Metronet BCV is responsible for the renewal and maintenance of the Bakerloo, Central and Victoria lines</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The existing Shepherd's Bush (Hammersmith & City) station will be renamed Shepherd's Bush Market at the same time. This will eliminate confusion with the nearby Shepherd's Bush station on the Central line.Wood Lane station, which is the first new station";}
        
        


 