<%- include('includes/head') %>

  <section id="main" class="container-fluid">
    <div class="container-lft">
      <h1 class="h-standard">Patterns</h1>
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title h5">Header pattern examples</h2>
              <div class="card m-0">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><a href="/pattern-library/advert">Adverts</a></li>
                  <li class="list-group-item"><a href="/pattern-library/alert">Alerts</a></li>
                  <li class="list-group-item"><a href="/pattern-library/breadcrumb">Breadcrumbs</a></li>
                  <li class="list-group-item"><a href="/pattern-library/card">Cards</a></li>
                  <li class="list-group-item"><a href="/pattern-library/contactus">Contact Us cards</a></li>
                  <li class="list-group-item"><a href="/pattern-library/content">Contents</a></li>
                  <li class="list-group-item"><a href="/pattern-library/cta">Call To Action buttons</a></li>
                  <li class="list-group-item"><a href="/pattern-library/htag">H Tag</a></li>
                  <li class="list-group-item"><a href="/pattern-library/image">Images</a></li>
                  <li class="list-group-item"><a href="/pattern-library/intro">Intro cards</a></li>
                  <li class="list-group-item"><a href="/pattern-library/bulletlist">Bullet List</a></li>
                  <li class="list-group-item"><a href="/pattern-library/listgroup">List Group</a></li>
                  <li class="list-group-item"><a href="/pattern-library/planajourney">Plan a journey cards</a></li>
                  <li class="list-group-item"><a href="/pattern-library/searchfilter">Search Filter cards</a></li>
                  <li class="list-group-item"><a href="/pattern-library/serviceboard">Service Board cards</a></li>
                  <li class="list-group-item"><a href="/pattern-library/socialmediashare">Social Media Share cards</a></li>
                  <li class="list-group-item"><a href="/pattern-library/table">Tables</a></li>
                  <li class="list-group-item"><a href="/pattern-library/title">Titles</a></li>
                  <li class="list-group-item"><a href="/pattern-library/twitter">Twitter</a></li>
                  <li class="list-group-item"><a href="/pattern-library/video">Videos</a></li>
                  <li class="list-group-item"><a href="/pattern-library/form">Forms</a></li>
                  <li class="list-group-item"><a href="/pattern-library/input-accordion">Form - Accordion</a></li>
                  <li class="list-group-item"><a href="/pattern-library/input-backlink">Form - Back Link</a></li>
                  <li class="list-group-item"><a href="/pattern-library/input-button">Form - Button</a></li>
                  <li class="list-group-item"><a href="/pattern-library/input-charactercount">Form - Character Count</a></li>
                  <li class="list-group-item"><a href="/pattern-library/input-checkboxes">Form - Checkboxes</a></li>
                  <li class="list-group-item"><a href="/pattern-library/input-date">Form - Date</a></li>
                  <li class="list-group-item"><a href="/pattern-library/input-details">Form - Details</a></li>
                  <li class="list-group-item"><a href="/pattern-library/input-errorsummary">Form - Error Summary</a></li>
                  <li class="list-group-item"><a href="/pattern-library/input-fieldset">Form - Fieldset</a></li>
                  <li class="list-group-item"><a href="/pattern-library/input-fileupload">Form - File Upload</a></li>
                  <li class="list-group-item"><a href="/pattern-library/input-insettext">Form - Inset Text</a></li>
                  <li class="list-group-item"><a href="/pattern-library/input-panel">Form - Panel</a></li>
                  <li class="list-group-item"><a href="/pattern-library/input-phasebanner">Form - Phase Banner</a></li>
                  <li class="list-group-item"><a href="/pattern-library/input-radiobuttons">Form - Radio Buttons</a></li>
                  <li class="list-group-item"><a href="/pattern-library/input-select">Form - Select</a></li>
                  <li class="list-group-item"><a href="/pattern-library/input-skiplink">Form - Skip Link</a></li>
                  <li class="list-group-item"><a href="/pattern-library/input-summarylist">Form - Summary List</a></li>
                  <li class="list-group-item"><a href="/pattern-library/input-table">Form - Table</a></li>
                  <li class="list-group-item"><a href="/pattern-library/input-tabs">Form - Tabs</a></li>
                  <li class="list-group-item"><a href="/pattern-library/input-tag">Form - Tag</a></li>
                  <li class="list-group-item"><a href="/pattern-library/input-text">Form - Text</a></li>
                  <li class="list-group-item"><a href="/pattern-library/input-textarea">Form - Textarea</a></li>
                  <li class="list-group-item"><a href="/pattern-library/input-warningtext">Form - Warning Text</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title h5">Page examples</h2>
              <div class="card m-0">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><a href="/help-and-contact/contact-us-about-contactless">Contactless</a></li>
                  <li class="list-group-item"><a href="/help-and-contact/contact-us-about-cycling">Cycling</a></li>
                  <li class="list-group-item"><a href="/modes/driving/car-clubs">Car clubs</a></li>
                  <li class="list-group-item"><a href="/travel-information/visiting-london/index">Visiting London</a></li>
                  <li class="list-group-item"><a href="/modes/cycling/santander-cycles">Santander Cycles</a></li>
                  <li class="list-group-item"><a href="/stop/940GZZLUMED">Mile End Underground Station</a></li>
                  <li class="list-group-item"><a href="/stop/940GZZLUSWF">South Woodford Underground Station</a></li>
                  <li class="list-group-item"><a href="/status/tube">Status for Tube, Overground, TfL Rail, DLR & Tram</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <h2>Notes</h2>
          <p>Majority of implementation should be based on card format. This keep simplicity and structure. Easiest to
            change.</p>
          <p>Some predefined cards should exist, such as the "Plan a journey", "Contact Us" options.</p>
          <p>Cards should have unique name indexes, so that if there is a Contact Us card, another one cannot be
            created.</p>
          <p>Other cards will use a template and a content key (number or name)</p>
          <p>Pages should have template, and these should be limited</p>
          <p>Everything should be built and tested in isolation</p>
          <p>images should be delivered on completely independent cdn, NOT sub folder</p>
          <h2>Advice</h2>
          <p>The top levels menus are too small (acc-AA), and therefore to ease space, Help was removed. It already exists as first item in lower navigation options</p>
        </div>
      </div>
    </div>
  </section>

  <%- include('includes/foot') %>