
    
  



@{ViewBag.Title = "Beth's story";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/cycling/beth-s-story";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/cycling/index">Cycling</a></li>
                
            
                 <li><a href="/modes/cycling/cycling-in-london">Cycling in London</a></li>
                
            
                 <li><a href="/modes/cycling/cycling-in-london/rider-profiles">Rider stories</a></li>
                
            
            
                <li><span class="last-breadcrumb">Beth's story</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Beth's story</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    
      
      
           
      <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/womens-tour-beth-story.jpg" alt="Beth in cycling gear" />
        
        
        
    </div>   
 </div>
 <div>

<h2>How long have you been cycling in London?</h2>
<p>3 years.</p>
<h2>What got you into cycling?</h2>
<p>A charity ride about 6 years ago. I wanted a new challenge and this was it! I rode an old rusty mountain bike 54 miles in Wales for a children's charity, Ty Hafan. It hurt, a lot!</p>
<h2>Why do you ride a bike?</h2>
<p>I love the exercise adrenalin, and really ever since those 54 miles I have become a cycling obsessive. There are good and bad days on the bike but in its simplest form when the sun is shining there is nothing better than to be able to pootle to work on the Brompton or take to the countryside for a longer dose of fresh air and freedom.</p>
<h2>Where do you cycle?</h2>
<p>Everywhere that's possible! I cycle to work, from East Dulwich to Blackfriars, cycle round in circles at the Herne Hill Velodrome women's session, and then on weekends I might cycle into Kent or explore some new off road routes on the South Downs.</p>
</div>
 <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/womens-tour-beth-full-shot.jpg" alt="Beth full shot" />
        
        
        
    </div>   
 </div>
 <div>

<h2>What would you say to women considering cycling in London?</h2>
<p>Confidence, confidence, confidence. Know your bike will work and get you from A to B. Get it serviced by your local bike shop. Know the best route. Do a recce on a quiet Sunday morning if you're planning to commute to work by bike, and take the time to explore quieter smaller roads and cycleways.</p>
<p>Find a friend to ride with! I got to know the best routes around town by following a friend who knew the way better than I did.</p>
<p>And finally, try not to be in a hurry is my best piece of advice. Sit back, read the road, don't put yourself in danger. Don't get scared by other riders whizzing by. If you have to stop and walk your bike on the pavement for a couple of metres, so be it.</p>
<h2>What do you like most about cycling in London?</h2>
<p>The cycling culture in London is so great, from the cycle-themed coffee shops and community feel of local clubs and events. There is so much going on.</p>
<h2>How does cycling make you feel?</h2>
<p>Cycling makes me feel like a part of something bigger - whether it's a cycle event you volunteer for or pizzas after the club ride, it's a great way to get to know people.</p>
<h2>What bike do you ride?</h2>
<p>I have a few bikes for different things, but mostly I ride my Brompton. It's my favourite bike for style and practicality, and of course, fun!</p>
</div>
 <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/womens-tour-beth-cycling.jpg" alt="Beth cycling" />
        
        
        
    </div>   
 </div>
 <div>

<h2>What helped you to cycle in London?
</h2>
<p>Friends showing me how to get to locations in the safest and most stress free way.</p>
<h2>Do you often cycle with someone?</h2>
<p>I'm the Women's Secretary of a local club, Dulwich Paragon, so I'm usually out cycling with my club mates.</p>
<h2>How has TfL helped you get more out of riding a bike?</h2>
<p>The <a href="/modes/cycling/start-cycling/cycle-training/advanced-london-by-bike">Advanced London by Bike (ALBB) workshop</a> was a great way to understand how to read the road effectively as an already experienced cyclist. As part of this workshop, myths were dispelled about positioning in the road and within the group lots of opinions were shared about the best way to ride safely in busy areas, such as central London.</p>
<p>As a passionate cyclist I'd love to see more people having the confidence to take to their bikes in London, but as both a club rider and a commuter I can see that there are varying levels of riders out on the road which sometimes can cause frustrations between these different groups.</p>
<p>The ALBB course reminds riders that whether you decide to wear lycra or a dress on your ride to work shouldn't matter, we should all look out for each other on the road. More people riding can only result in more positive action for cycling over the years to come in London.</p>
<ul>
    <li><a href="/modes/cycling/cycling-in-london/rider-profiles">Read other rider stories</a></li>
    <li><a href="/modes/cycling/cycling-in-london/cycle-skills">Book a cycle skills session</a></li>
    <li><a href="/modes/cycling/index">Plan your ride</a></li>
</ul>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/cycling/index" class="heading">
                    <h2 id="sub-menu-heading">Cycling<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/new-to-cycling">Get started with cycling</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/santander-cycles">Santander Cycles</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london">Cycling in London</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/rider-profiles">Rider stories</a></div>
                                        <ul>
                                            
                                                <li class="selected"><div class="link-wrapper"><a href="/modes/cycling/beth-s-story">Beth's story</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/isabelle-s-story">Isabelle's story</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/katie-s-story">Katie's story</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/hollie-s-story">Hollie's story</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/alix-s-story">Alix's story</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/sarah-s-story">Sarah's story</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/fiona-s-story">Fiona's story</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/jeanette-s-story">Jeanette's story</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/isabelle">Isabelle</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/cycle-skills">Cycle Skills</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/avoid-theft">Protect your bike from theft</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/cycle-parking">Cycle parking</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/bikes-on-public-transport">Bikes on public transport</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/cycling-with-children">Cycling with children</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/electric-bikes">Electric bikes</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps">Routes & maps</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Beth's cycling story";}
        
            
        


 