
    
  



@{ViewBag.Title = "Cycling in London";}
@{ViewBag.Keywords = "Cyclists,Cycling,TfL";}
@{ViewBag.Url = "/modes/cycling/cycling-in-london";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

  

<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/cycling/index">Cycling</a></li>
                
            
            
                <li><span class="last-breadcrumb">Cycling in London</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 

  
  <div class="r">
    <div class="headline-container section-title section-landing-container with-logo">
      <div class="section-title-wrap">
        <h1 class="hero-headline">Cycling in London</h1>
        
          <div class="heading-logo">
            <img src="/cdn/static/cms/images/logos/tfl-partner.png" alt="Cycling in London image" />
          </div>
        
      </div>
    </div>
  </div>



    
   
    <div class="r">
        <div class="main clearfix" role="main">
            
        
        
            <div class="section-overview full-width clearfix ">
                <div class="small-medium" data-set="section-intro"></div>
                <div>
                    <div class="large" data-set="section-intro">
                        
                    </div>
                The number of cyclists on London roads
has more than doubled in the past decade. You'll find lots of
information and tips here to help you stay safe and make the most of
cycling around London.
                </div>
            </div>
        
         
        
        
        
                
                
                <div class="module-grid clearfix">
                    
                    
                    
                    <div class="news-teaser">

    <a href="/modes/river/explore-london-tickets?intcmp=47992" >
        <img src="/cdn/static/cms/images/promos/3way-ticket-teaser_rdax_400x200.jpg" alt="Emirates Air Line cable car, Santander Cycles and River tickets" />
        
        <div class="text-link">
             <h2>Emirates Air Line, river and Santander Cycles ticket</h2>
            <p>Save up to 20% with an Explore London combined ticket</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/cycling/santander-cycles?intcmp=2295" >
        <img src="/cdn/static/cms/images/promos/santander-cycles-hyde-park_rdax_400x200.jpg" alt="Santander Cycles hyde park" />
        
        <div class="text-link">
             <h2>Santander Cycles</h2>
            <p>Hire, ride and return - all you need is a bank card</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/cycling/cycling-in-london/bikes-on-public-transport?intcmp=2366" >
        <img src="/cdn/static/cms/images/promos/cycling-train-station_rdax_400x200.jpg" alt="Taking your train on public transport" />
        
        <div class="text-link">
             <h2>Bikes on public transport</h2>
            <p>Find out where you can take your bike</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/cycling/routes-and-maps?intcmp=2344" >
        <img src="/cdn/static/cms/images/promos/map-teaser_rdax_400x200.jpg" alt="An assortment of photographs laid out on a paper map" />
        
        <div class="text-link">
             <h2>Routes and maps</h2>
            <p>Explore London's growing cycle network</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="https://londonblog.tfl.gov.uk/category/cycling/?intcmp=58113" >
        <img src="/cdn/static/cms/images/promos/london-skyline-dusk_rdax_400x200.jpg" alt="London skyline at dusk - Tower Bridge and Thames" />
        
        <div class="text-link">
             <h2>Experience London blog</h2>
            <p>Read about the best things to do in London plus find new cycling routes and events</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/cycling/cycling-in-london/electric-bikes?intcmp=2398" >
        <img src="/cdn/static/cms/images/promos/e-bikes-main-landing-teaser_rdax_400x200.jpg" alt="Girl riding an e-bike across a zebra crossing" />
        
        <div class="text-link">
             <h2>Electric bikes</h2>
            <p>Find out about e-bikes and how they can make cycling easier</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/cycling/cycling-in-london/avoid-theft?intcmp=9524" >
        <img src="/cdn/static/cms/images/promos/good-locking-practice-bike-teaser_rdax_400x200.jpg" alt="Advice on how to lock up your bike" />
        
        <div class="text-link">
             <h2>Protect your bike from theft</h2>
            <p>Locking tips and advice</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/cycling/cycling-in-london/cycle-parking?intcmp=2369" >
        <img src="/cdn/static/cms/images/promos/cycle-riders-london_rdax_400x200.jpg" alt="cyclists riding in London" />
        
        <div class="text-link">
             <h2>Cycle parking</h2>
            <p>Find out where you can park your bike</p>
        </div>
    </a>
</div>
 
 
                </div>
        
        
        
          
        
    </div>
    
      
      <div class="aside no-full-width-intro" role="complementary">
    
        <div data-set="sidenav-container" class="large">
          
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/cycling/index" class="heading">
                    <h2 id="sub-menu-heading">Cycling<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/new-to-cycling">Get started with cycling</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/santander-cycles">Santander Cycles</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london">Cycling in London</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/rider-profiles">Rider stories</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/cycle-skills">Cycle Skills</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/avoid-theft">Protect your bike from theft</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/cycle-parking">Cycle parking</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/bikes-on-public-transport">Bikes on public transport</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/cycling-with-children">Cycling with children</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/electric-bikes">Electric bikes</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps">Routes & maps</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>
        <div class="module-grid clearfix">
          
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
          <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://businessoffers.tfl.gov.uk/barclayscyclesuperhighways/home.html" class="plain-button">Cycling Workplaces scheme</a>
    </div>
</div>
 
        </div>
        <div data-set="sidenav-container" class="small-medium"></div>
      </div>
  </div>
 
        
        
        
            @{ViewBag.Description = "Information and tips to help you stay safe and make the most of cycling around London";}
        
            
        


 