
    
  



@{ViewBag.Title = "Fiona's story";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/cycling/fiona-s-story";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/cycling/index">Cycling</a></li>
                
            
                 <li><a href="/modes/cycling/cycling-in-london">Cycling in London</a></li>
                
            
                 <li><a href="/modes/cycling/cycling-in-london/rider-profiles">Rider stories</a></li>
                
            
            
                <li><span class="last-breadcrumb">Fiona's story</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Fiona's story</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    
      
      
           
      <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/fquinn1-edited.jpg" alt="Fiona Quinn" />
        
        
        
    </div>   
 </div>
 <div>

<h2>How long have you been cycling in London?</h2>
<p>I started cycling in London around 3 years ago when I got a new bike on the cycle to work scheme. I initially started cycling at the weekends either into London or into Surrey and then began entering events such as London to Brighton. </p>
<h2>What got you into cycling?</h2>
<p>A couple of my friends at work had gotten bikes through the <a href="https://businessoffers.tfl.gov.uk/">cycle to work scheme</a> and my partner at the time was a keen cyclist, he often cycled to the other side of London for work.<br />
<br />
I was keen to get fitter but hate the gym so I liked the idea of being able to explore new places while doing some gentle exercise.</p>
<h2>Why do you ride a bike?</h2>
<p>I now really love cycle touring, it's such a wonderful way to get around, see new places and be outside. But I also like riding locally on my bike, to get some fresh air, to save money and it's sometimes quicker than public transport or driving too, for short journeys.</p>
<h2>Where do you cycle?</h2>
<p>I usually cycle locally day to day, into town to the shops or to work, but every now and again I like to go a little further. Last October I cycled 1000 miles up the length of the country solo and unsupported over 3 weeks. It was an incredible journey and it's amazing how easy it is to cycle that distance.</p>
<h2>What would you say to women considering cycling in London?</h2>
<p>Give it a go, get some lessons or a friendly cycling group to ride with if you're a bit unsure, then push your boundaries and go somewhere new. London has some incredible cycling routes and National Cycling Route 4 which starts in London can take you to Wales if you're feeling adventurous!</p>
<h2>What do you like most about cycling in London?</h2>
<p>It's such a cycle friendly city. We often don't realise it but it is. It's relatively flat, there's loads of cycle routes and everywhere is much closer than you think when you don't have to spend time waiting for the next tube.</p>
</div>
 <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/fquinn2-edited.jpg" alt="Fiona Quinn Scotland" />
        
        
        
    </div>   
 </div>
 <div>

<h2>How does cycling make you feel?</h2>
<p>I feel free when I'm cycling - I could go anywhere and it doesn't cost me a thing!</p>
<h2>What bike do you ride?</h2>
<p>A Specialized vita comp hybrid.</p>
<h2>What helped you to cycle in London?</h2>
<p>The <a href="https://businessoffers.tfl.gov.uk/">cycle to work scheme</a> prompted me to buy a bike and the council's one to one <a href="/modes/cycling/cycling-in-london/cycle-skills">Cycle Skills</a> session gave me the confidence to go further on my bike.</p>
<h2>You're now a Cycle Skills instructor, what made you get into this?</h2>
<p>I wanted to share my love of cycling, spend more time outdoors and generally support healthy lifestyles. Cycling's great for everyone (even those that don't cycle yet) because it reduces the number of cars on the road which helps improve air quality.<br />
<br />
I love teaching others to cycle. It's great to watch their confidence grow and start to use cycling as both a means of transport and a source of fun and adventure.</p>
<p>My first lesson was with Eric, who's now my boss. It was brilliant to get little pointers on how to improve my road positioning and even just to have someone experienced and knowledgeable who I could ask those questions to, like, "am I allowed to cycle in a bus lane?". It was a real confidence boost.</p>
<ul>
    <li><a href="/modes/cycling/cycling-in-london/rider-profiles">Read other rider stories</a></li>
    <li><a href="/modes/cycling/cycling-in-london/cycle-skills">Book a cycle skills session</a></li>
    <li><a href="/modes/cycling/index">Plan your ride</a></li>
</ul>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/cycling/index" class="heading">
                    <h2 id="sub-menu-heading">Cycling<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/new-to-cycling">Get started with cycling</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/santander-cycles">Santander Cycles</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london">Cycling in London</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/rider-profiles">Rider stories</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/modes/cycling/beth-s-story">Beth's story</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/isabelle-s-story">Isabelle's story</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/katie-s-story">Katie's story</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/hollie-s-story">Hollie's story</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/alix-s-story">Alix's story</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/sarah-s-story">Sarah's story</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/modes/cycling/fiona-s-story">Fiona's story</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/jeanette-s-story">Jeanette's story</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/isabelle">Isabelle</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/cycle-skills">Cycle Skills</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/avoid-theft">Protect your bike from theft</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/cycle-parking">Cycle parking</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/bikes-on-public-transport">Bikes on public transport</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/cycling-with-children">Cycling with children</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/electric-bikes">Electric bikes</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps">Routes & maps</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Fiona's cycling story";}
        
            
        


 