
    
  



@{ViewBag.Title = "Hollie's story";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/cycling/hollie-s-story";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/cycling/index">Cycling</a></li>
                
            
                 <li><a href="/modes/cycling/cycling-in-london">Cycling in London</a></li>
                
            
                 <li><a href="/modes/cycling/cycling-in-london/rider-profiles">Rider stories</a></li>
                
            
            
                <li><span class="last-breadcrumb">Hollie's story</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Hollie's story</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    
      
      
           
      <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/hollie-bike-edited-photo-profile.jpg" alt="Hollie with her bike" />
        
        
        
    </div>   
 </div>
 <div>

<h2>How long have you been cycling in London?</h2>
<p>I've cycled in London for nearly a year. I can't believe I spent the first six months of my time here without a bike.</p>
<h2>What got you into cycling?</h2>
<p>I went on a trip to Copenhagen and fell in love with the way of life there. Cycling is obviously a huge part of that, so I decided to take a slice of Scandi life for myself by investing in a bike.</p>
<h2>Why do you ride a bike?</h2>
<p>There's something liberating about getting around London quickly in the open air. It also means I never have to do a spin session at the gym ever again. Yay!</p>
<h2>Where do you cycle?</h2>
<p>I mostly use my bike for getting to work and back. I sometimes use it for popping round to a friend's house for a cup of tea and I like to go on mini Sunday adventures when it's sunny.</p>
<h2>What would you say to women considering cycling in London?</h2>
<p>You can build confidence by booking onto one of <a href="/modes/cycling/cycling-in-london/cycle-skills">TFL's cycling courses</a>. It's a great way of keeping fit, exploring this amazing city and helping reduce our air pollution problem. Also, think about how much money you will save on transport per year - mine works out at &pound;640 for the commute alone!</p>
<h2>What do you like most about cycling in London?</h2>
<p>I like knowing that I'm being proactive about not adding to the high pollution levels. I also love finding cool side streets that I wouldn't normally pass through, especially ones with dreamy houses and blossom tree lined pavements. I'm currently obsessed with Trinity Church Square in Southwark.</p>
<h2>How does cycling make you feel?</h2>
<p>Free! I'm not confined to a bus route or a Tube line. I like cycling to and from work because that is the time when I switch off and focus on the route ahead. Cycling is really beneficial if you live with anxiety or stress.</p>
<h2>What bike do you ride?</h2>
<p>Millie the Metropole is a Dutch bicycle and a damn fine looking one at that. I bought her second hand from a lovely lady on Gumtree. She's not the easiest frame to manoeuvre through city cycling but I can't bear to even think about replacing her with a nimbler model.</p>
<h2>What helped you to cycle in London?</h2>
<p>I fractured both my elbows at the beginning of the year and it really knocked my cycling confidence. Once I was back in good physical health, I booked onto a <a href="/modes/cycling/cycling-in-london/cycle-skills">Cycle Skills</a> session through the TFL website.  My tutor spent a total of nearly six hours with me over two sessions. We ironed out some of my bad habits and I learnt more techniques on how to be a good, safer cyclist. We also cycled my new work commute, which was incredibly helpful as I was quite scared of cycling through Elephant &amp; Castle and Waterloo. And this was all for free! I cannot recommend it enough.</p>
<h2>Do you often cycle with someone?</h2>
<p>Nope. Part of the reason I enjoy cycling is because it's a time for me to clear my head and enjoy some solo time. However, it is great that friends and family have the option to hire out a bike with <a href="/modes/cycling/santander-cycles">Santander Cycles</a> if they want to come along for a ride to the park.</p>
<h2>Women's Tour</h2>
<p>The Women's Tour arrives in London on Sunday June 11th &#45; alongside the professional race there'll be a host of activities on the day including the <a href="https://www.breastcancercare.org.uk/pinkribbontour">Breast Cancer Care Pink Ribbon Tour</a> and plenty of fun for the family in Trafalgar Square.</p>
<ul>
    <li><a href="/modes/cycling/cycling-in-london/rider-profiles">Read other rider stories</a></li>
    <li><a href="/modes/cycling/cycling-in-london/cycle-skills">Book a cycle skills session</a></li>
    <li><a href="/modes/cycling/index">Plan your ride</a></li>
</ul>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/cycling/index" class="heading">
                    <h2 id="sub-menu-heading">Cycling<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/new-to-cycling">Get started with cycling</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/santander-cycles">Santander Cycles</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london">Cycling in London</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/rider-profiles">Rider stories</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/modes/cycling/beth-s-story">Beth's story</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/isabelle-s-story">Isabelle's story</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/katie-s-story">Katie's story</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/modes/cycling/hollie-s-story">Hollie's story</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/alix-s-story">Alix's story</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/sarah-s-story">Sarah's story</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/fiona-s-story">Fiona's story</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/jeanette-s-story">Jeanette's story</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/isabelle">Isabelle</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/cycle-skills">Cycle Skills</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/avoid-theft">Protect your bike from theft</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/cycle-parking">Cycle parking</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/bikes-on-public-transport">Bikes on public transport</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/cycling-with-children">Cycling with children</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/electric-bikes">Electric bikes</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps">Routes & maps</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Hollie's cycling story";}
        
            
        


 