
    
  


<!-- rhroot -->
@{ViewBag.Title = "Cycling";}
@{ViewBag.Keywords = "Cycling ,TfL";}
@{ViewBag.Url = "/modes/cycling/index";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
            
                <li><span class="last-breadcrumb">Cycling</span></li>
            
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container landing-page section-landing-container with-logo">
        <h1>Cycling</h1>
        
        <div class="heading-logo">
            <img src="/cdn/static/cms/images/logos/tfl-partner.png" alt="Cycling logo" />
        </div>
        
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">
        <div class="small-medium" data-set="widget"></div>
        <div class="primary-teaser landing-page-teaser">
            <div class="news-teaser cycling">
  
  <a href="/campaign/active-travel?intcmp=53225"  data-img="/cdn/static/cms/images/promos/active-travel-cycling.jpg" data-img-breakpoint="medium" data-img-alt="woman on bike looking over a river">
    <img src="/cdn/static/cms/images/promos/active-travel-cycling_rdax_600x300.jpg" alt="woman on bike looking over a river" />
    <div class="text-link sit-bottom">
      <h2>Try a new route, find a new London</h2>
      <p>Walk, cycle and discover with TfL this summer</p>
    </div>
  </a>
</div>

 
        </div>
        
        <div class="clearfix">
            
        </div>
        <div class="module-grid clearfix">
            <div class="news-teaser">

    <a href="/modes/cycling/routes-and-maps/cycle-superhighways?intcmp=2352" >
        <img src="/cdn/static/cms/images/promos/cycle-superhighway-farringdon-road_rdax_400x200.jpg" alt="woman cycling on a cycle superhighway, on a Santander Cycle" />
        
        <div class="text-link">
             <h2>New Cycle Superhighway open</h2>
            <p>Explore Cycle Superhighway 6, a route from Elephant and Castle to King's Cross</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/cycling/routes-and-maps/quietways?intcmp=21098" >
        <img src="/cdn/static/cms/images/promos/cycling-quietway-two_rdax_400x200.jpg" alt="woman cycling on a quietway" />
        
        <div class="text-link">
             <h2>New Quietways open</h2>
            <p>Explore these easy to follow cycle routes on quieter backstreets across London</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/cycling/routes-and-maps?intcmp=2344" >
        <img src="/cdn/static/cms/images/promos/map-teaser_rdax_400x200.jpg" alt="An assortment of photographs laid out on a paper map" />
        
        <div class="text-link">
             <h2>Routes and maps</h2>
            <p>Explore London's growing cycle network</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="https://londonblog.tfl.gov.uk/category/cycling/?intcmp=58113" >
        <img src="/cdn/static/cms/images/promos/london-skyline-dusk_rdax_400x200.jpg" alt="London skyline at dusk - Tower Bridge and Thames" />
        
        <div class="text-link">
             <h2>Experience London blog</h2>
            <p>Read about the best things to do in London plus find new cycling routes and events</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="https://londonblog.tfl.gov.uk/2017/07/21/short-and-scenic-routes-the-wandle-trail/?intcmp=48009" >
        <img src="/cdn/static/cms/images/promos/couple-park-bike_rdax_400x200.jpg" alt="Couple with bikes" />
        
        <div class="text-link">
             <h2>Scenic cycle rides</h2>
            <p>Try our family-friendly, car-free routes</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/cycling/santander-cycles?intcmp=2295" >
        <img src="/cdn/static/cms/images/promos/santander-cycles-hyde-park_rdax_400x200.jpg" alt="Santander Cycles hyde park" />
        
        <div class="text-link">
             <h2>Santander Cycles </h2>
            <p>Hire a bike from just &pound;2</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/cycling/cycling-in-london/cycle-skills?intcmp=2386" >
        <img src="/cdn/static/cms/images/promos/bike-landing_rdax_400x200.jpg" alt="Cycling skills people riding bikes along a towpath" />
        
        <div class="text-link">
             <h2>Brush up on your cycling skills</h2>
            <p>Book a cycle skills session</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/river/explore-london-tickets?intcmp=47992" >
        <img src="/cdn/static/cms/images/promos/3way-ticket-teaser_rdax_400x200.jpg" alt="Emirates Air Line cable car, Santander Cycles and River tickets" />
        
        <div class="text-link">
             <h2>Emirates Air Line, river and Santander Cycles ticket</h2>
            <p>Save up to 20% with an Explore London combined ticket</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/cycling/cycling-in-london/bikes-on-public-transport?intcmp=2366" >
        <img src="/cdn/static/cms/images/promos/cycling-train-station_rdax_400x200.jpg" alt="Taking your train on public transport" />
        
        <div class="text-link">
             <h2>Bikes on public transport</h2>
            <p>Find out where you can take your bike</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/campaign/tfl-and-british-cycling?intcmp=44522" >
        <img src="/cdn/static/cms/images/promos/tfl-british-cycling-teaser_rdax_400x200.jpg" alt="People cycling at the Olympic park in Stratford" />
        
        <div class="text-link">
             <h2>TfL and British Cycling</h2>
            <p>Find out about group rides, cycle clubs, membership and more</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/cycling/cycling-in-london?intcmp=2364" >
        <img src="/cdn/static/cms/images/promos/e-bikes-main-landing-teaser_rdax_400x200.jpg" alt="Girl riding an e-bike across a zebra crossing" />
        
        <div class="text-link">
             <h2>Cycling in London</h2>
            <p>Make the most of cycling, with info on cycle parking, training and e-bikes</p>
        </div>
    </a>
</div>
 
 
        </div>
    </div>
    <div class="aside" role="complementary">
        <div class="large" data-set="widget">
            <div class="moving-source-order">
            

                <div class="widget-wrapper">
                    <div class="expandable-box">
                        <div class="content">
                            <div class="always-visible widget-heading">
                                <div class="controls">&nbsp;</div>
                                <div class="widget-title">
                                    Plan a journey
                                </div>
                            </div>
                            <div class="start-hidden widget-content journey-planner-widget clearfix">
                                @{Html.RenderAction("Index", "JourneyPlanner", new
                                    { jptype = "cycling" } 
                                );}
                            </div>
                        </div>
                    </div>
                </div>
            
 
            </div>
        </div>
        <div class="module-grid">
            












<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
            <div>
    
    <div class="contact-info-box">
        <div class="contact-info-header">
            <h3>Contact us</h3>
        </div>
        
        
            
        
        
            
                
        
        
        <div class="content-group">
            <p>
                <abbr title="Chat">Chat</abbr><br />
                 
        On <a href="https://m.me/transportforlondon">Facebook</a> or <a href="https://twitter.com/messages/compose?recipient_id=47319664">Twitter</a>
        
        
            </p>
        </div>
        
        
        <div class="content-group">
            <p>
                <abbr title="Telephone number">Call</abbr>&nbsp;<a href="/corporate/terms-and-conditions/tfl-call-charges">Charges apply</a><br />
                0343 222 1234
            </p>
        </div>
        
        
        <div class="content-group">
            <p>
                <abbr title="Textphone">Textphone</abbr><br />
                0800 112 3456
            </p>
        </div>
        
        
        <div class="content-group">
            <p>
                <abbr title="Address">Write</abbr>
            </p>
            <p><a href="/help-and-contact/contact-us-about-cycling">Fill in a form</a> or send a letter to:</p>
        </div>
        
        
        <div class="content-group">
            TfL Customer Services<br />4th Floor<br />14 Pier Walk<br />London SE10 0ES
        </div>
        
    </div>
</div>
   

<div><a class="twitter-timeline" data-tweet-limit="3" href="https://twitter.com/SantanderCycles">Tweets by SantanderCycles</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>
<div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/publications-and-reports/cycling" class="plain-button">Cycling reports &amp; publications</a>
<a href="https://tfl.gov.uk/airquality-consultation" class="plain-button">Air quality consultation</a>
<a href="/modes/cycling/cycle-superhighways" class="plain-button">Cycle Superhighways</a>
<a href="/corporate/publications-and-reports/streets-toolkit" class="plain-button">Streets toolkit</a>
<a href="/corporate/about-tfl/what-we-do/cycling" class="plain-button">What we do - Cycling</a>
    </div>
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://www.londontravelwatch.org.uk/home/" class="plain-button">London TravelWatch</a>
    </div>
</div>
 <div class="follow-social email">
  
  <div class="social-image">
    
  </div>
  <div class="social-text">
    <h3>Email updates</h3>
    <p>Hop aboard the TfL email service for updates, personalised offers and promotions</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="/travel-information/social-media-and-email-updates/email-updates">Register</a>
  </div> 
</div>
 
        </div>
    </div>
    <div class="small-medium" data-set="content">&nbsp;</div>
</div>
 
        
        
        
            @{ViewBag.Description = "Information on cycle hire, training, routes, safety and social rides in London.";}
        
            
        


 