
    
  



@{ViewBag.Title = "Isabelle's story";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/cycling/isabelle-s-story";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/cycling/index">Cycling</a></li>
                
            
                 <li><a href="/modes/cycling/cycling-in-london">Cycling in London</a></li>
                
            
                 <li><a href="/modes/cycling/cycling-in-london/rider-profiles">Rider stories</a></li>
                
            
            
                <li><span class="last-breadcrumb">Isabelle's story</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Isabelle's story</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    
      
      
           
      <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/womens-tour-isabelle-story.jpg" alt="Isabelle" />
        
        
        
    </div>   
 </div>
 <div>

<h2>How long have you been cycling in London?</h2>
<p>Since I moved here last year in August.</p>
<h2>What got you into cycling?</h2>
<p>I cycled a lot before moving to London, thought it a good habit and wanted to stick to it.</p>
<h2>Why do you ride a bike?</h2>
<p>Cycling makes me arrive fully energised at work - bye bye grumpy mornings. I also enjoy not being crammed in the morning tube. And you'd be surprised how often travelling by bicycle is faster than by public transport.</p>
<h2>Where do you cycle?</h2>
<p>I live in the North West of London, and I'd say that my cycle area is roughly bordered by the Barbican on the east side, Hampstead Heath in the north, Westminster in the south and Notting Hill in the west. But whenever Citymapper tells me I can be faster by bicycle than by public transport, and/or whenever the sun is out, I jump on my bike.</p>
</div>
 <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/isabelle-cycling-road.jpg" alt="Isabelle riding her bike" />
        
        
        
    </div>   
 </div>
 <div>

<h2>What would you say to women considering cycling in London?</h2>
<p>Not only to women, but to everyone: when you are completely new to cycling in London, try it in your area, gradually expand your route to less familiar roads and see if you like it. If it starts growing on you, make sure to be seen. </p>
<h2>What do you like most about cycling in London?</h2>
<p>In general, I really like the friendly vibe among London cyclists. One day I was waiting at a traffic light and the man behind me offered to help out as he noticed my tyre was a bit flat (Thanks again, Mark). As we were standing on the side of the road fixing my tyre, in the timespan of two minutes two other cyclists asked if we were okay - so nice. I also lost count of the funny, tiny conversations I had with other cyclists while waiting for a green light.</p>
</div>
 <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/isabelle-brompton.jpg" alt="Isabelle on her Brompton" />
        
        
        
    </div>   
 </div>
 <div>

<h2>What bike do you ride?</h2>
<p>A bright blue Raleigh Solitaire - not ideal for longer journeys but I love it.</p>
<h2>What helped you to cycle in London?</h2>
<p>The fact that you at least have the idea you are contributing to a greener city, while saving money and getting some exercise.</p>
<h2>What has helped you get more out of riding a bike?
</h2>
<p>I once attended a meeting from the <a href="http://camdencyclists.org.uk/">Camden Cycling Campaign</a>, which was interesting and insightful as it was a platform for sharing ideas to improve the cycling landscape in London.</p>
<ul>
    <li><a href="/modes/cycling/cycling-in-london/rider-profiles">Read other rider stories</a></li>
    <li><a href="/modes/cycling/cycling-in-london/cycle-skills">Book a cycle skills session</a></li>
    <li><a href="/modes/cycling/index">Plan your ride</a></li>
</ul>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/cycling/index" class="heading">
                    <h2 id="sub-menu-heading">Cycling<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/new-to-cycling">Get started with cycling</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/santander-cycles">Santander Cycles</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london">Cycling in London</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/rider-profiles">Rider stories</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/modes/cycling/beth-s-story">Beth's story</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/modes/cycling/isabelle-s-story">Isabelle's story</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/katie-s-story">Katie's story</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/hollie-s-story">Hollie's story</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/alix-s-story">Alix's story</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/sarah-s-story">Sarah's story</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/fiona-s-story">Fiona's story</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/jeanette-s-story">Jeanette's story</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/isabelle">Isabelle</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/cycle-skills">Cycle Skills</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/avoid-theft">Protect your bike from theft</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/cycle-parking">Cycle parking</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/bikes-on-public-transport">Bikes on public transport</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/cycling-with-children">Cycling with children</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/electric-bikes">Electric bikes</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps">Routes & maps</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Isabelle's cycling story";}
        
            
        


 