
    
  



@{ViewBag.Title = "Katie's story";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/cycling/katie-s-story";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/cycling/index">Cycling</a></li>
                
            
                 <li><a href="/modes/cycling/cycling-in-london">Cycling in London</a></li>
                
            
                 <li><a href="/modes/cycling/cycling-in-london/rider-profiles">Rider stories</a></li>
                
            
            
                <li><span class="last-breadcrumb">Katie's story</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Katie's story</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    
      
      
           
      <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/katie-santander-cycles.jpg" alt="Katie with Santander Cycle" />
        
        
        
    </div>   
 </div>
 <div>

<h2>How long have you been cycling in London?</h2>
<p>Only since February when I decided enough was enough and I should brave a bike again!</p>
<h2>What got you into cycling?</h2>
<p>Up until February, I hadn't been on a bike &#45; properly &#45; for about 20 years. I learned as a kid but as an adult I haven't had much reason to re-engage. That was until the social media consultancy I run decided to live a different consumer trend every month of 2017 - and that month was cycling. My way of living it was to get back on the bike.</p>
<h2>Why do you ride a bike?</h2>
<p>I run my own business so I'm always looking for ways to be more efficient. I travel around London a lot so there's huge appeal in being able to jump on a bike - it's quick, easy and cost-effective. I love the fresh air!</p>
<h2>Where do you cycle?</h2>
<p>At the moment, the quieter streets of London, in the future - everywhere!</p>
<h2>What would you say to women considering cycling in London?</h2>
<p>If I can get back on a bike after 20 years, anyone can do it. I've been quite nervous of London roads but actually, it's more perception than reality. Just start slow and build it up (and I can highly recommend the <a href="/modes/cycling/cycling-in-london/cycle-skills">free cycle lessons TFL provide</a>s as a first step!)</p>
<h2>What do you like most about cycling in London?</h2>
<p>Being able to take the time to see the amazing things about the city you live in. It's so easy to take for granted how incredible, diverse and vibrant London is. You can't get up much speed in central London but you do have to concentrate on your surroundings so you actually see what's going on around you</p>
</div>
 <div>


</div>
 <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/katie-bike.jpg" alt="Katie cycle skills bike" />
        
        
        
    </div>   
 </div>
 <div>

<h2>How does cycling make you feel?</h2>
<p>Like I'm doing something good for myself and the world around me.</p>
<h2>What bike do you ride?</h2>
<p>At the moment I use <a href="/modes/cycling/santander-cycles">Santander Cycles</a>, I'm working up to one of my own….</p>
<h2>What helped you to cycle in London?</h2>
<p>Aside from the embarrassment of saying you can't ride a bike at 33… I've got friends (mainly my business partner) who regularly cycle in London and have been very encouraging of getting me back on a bike. I've been able to go out with them and build up my confidence. The biggest thing though, was the Cycle Skills training I did in Merton. I like to know what it is I am and aren't supposed to be doing, and this was great for that.</p>
<h2>Do you often cycle with someone? </h2>
<p>My brother and my business partner are my (un)lucky frequent chaperones! </p>
<h2>How has TfL helped you get more out of riding a bike?</h2>
<p>If you've thought about cycling in London, but want some help or need more confidence, get yourself booked on a Cycle Skills session. They're free, the groups are very small (I was the only one in mine) and if all the instructors are like mine (the fab Maeve) you're in excellent hands. In two hours they take you through the very basics through to skills such as road positioning, handling junctions and doing a U-turn. They must've known in advance I like to get lost… They provide a bike and helmet if you need one - there's really no excuse! My goal now - which I thought I'd never say - is to cycle all the way to work (Wimbledon to Kings Cross) on my own. It's a big step - for me at least - but Cycle Skills in Merton will also chaperone you on a route of your choice. How amazing is that?! Maybe not for poor Maeve :-)</p>
<ul>
    <li><a href="/modes/cycling/cycling-in-london/rider-profiles">Read other rider stories</a></li>
    <li><a href="/modes/cycling/cycling-in-london/cycle-skills">Book a cycle skills session</a></li>
    <li><a href="/modes/cycling/index">Plan your ride</a></li>
</ul>
</div>
 <div class="clearfix">
    <div class="image-box">
    
        
        
        
    </div>   
 </div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/cycling/index" class="heading">
                    <h2 id="sub-menu-heading">Cycling<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/new-to-cycling">Get started with cycling</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/santander-cycles">Santander Cycles</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london">Cycling in London</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/rider-profiles">Rider stories</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/modes/cycling/beth-s-story">Beth's story</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/isabelle-s-story">Isabelle's story</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/modes/cycling/katie-s-story">Katie's story</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/hollie-s-story">Hollie's story</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/alix-s-story">Alix's story</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/sarah-s-story">Sarah's story</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/fiona-s-story">Fiona's story</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/jeanette-s-story">Jeanette's story</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/isabelle">Isabelle</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/cycle-skills">Cycle Skills</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/avoid-theft">Protect your bike from theft</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/cycle-parking">Cycle parking</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/bikes-on-public-transport">Bikes on public transport</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/cycling-with-children">Cycling with children</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/electric-bikes">Electric bikes</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps">Routes & maps</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Katie's cycling story";}
        
            
        


 