
    
  



@{ViewBag.Title = "Get started with cycling";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/cycling/new-to-cycling";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

  <div class="section-image-container medium-large" data-highlight-image="/cdn/static/cms/images/promos/bikes-flowers-header-small.jpg" data-highlight-for=".section-image-container" data-highlight-size="medium-large" style="background-image: url(/cdn/static/cms/images/promos/bikes-flowers-header-small.jpg)"> </div>

<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/cycling/index">Cycling</a></li>
                
            
            
                <li><span class="last-breadcrumb">Get started with cycling</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 

  
  <div class="r">
    <div class="headline-container section-title section-landing-container ">
      <div class="section-title-wrap">
        <h1 class="hero-headline">Get started with cycling</h1>
        
      </div>
    </div>
  </div>



    
   
    <div class="r">
        <div class="main clearfix" role="main">
            
        
        
            <div class="section-overview full-width clearfix ">
                <div class="small-medium" data-set="section-intro"></div>
                <div>
                    <div class="large" data-set="section-intro">
                        
                    </div>
                <p>If you're thinking about starting cycling, we're here to help. We offer free Cycle Skills lessons, give advice on how to protect your bike and have some great guides for when you're ready to take to the road.</p>
                </div>
            </div>
        
         
        
        
        
                
                
                <div class="module-grid clearfix">
                    
                    
                    
                    <div class="news-teaser">

    <a href="/modes/cycling/cycling-in-london/cycle-skills?intcmp=2386" >
        <img src="/cdn/static/cms/images/promos/bike-landing_rdax_400x200.jpg" alt="Cycling skills people riding bikes along a towpath" />
        
        <div class="text-link">
             <h2>Brush up on your cycling skills</h2>
            <p>Book a session now</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/cycling/cycling-advice?intcmp=47656" >
        <img src="/cdn/static/cms/images/promos/bikes_rdax_400x200.jpg" alt="A collection of bicycles" />
        
        <div class="text-link">
             <h2>Cycling tips and advice</h2>
            <p>Guides to help you feel at ease on the road</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/cycling/cycling-in-london/rider-profiles?intcmp=47329" >
        <img src="/cdn/static/cms/images/promos/womens-tour-isabelle-teaser_rdax_400x200.jpg" alt="Isabelle in front of gate Regent Park" />
        
        <div class="text-link">
             <h2>New to cycling stories</h2>
            <p>How cyclists in the city got started</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/cycling/santander-cycles?intcmp=2295" >
        <img src="/cdn/static/cms/images/promos/santander-cycles-hyde-park_rdax_400x200.jpg" alt="Santander Cycles hyde park" />
        
        <div class="text-link">
             <h2>Try out cycling</h2>
            <p>Hire a bike with Santander Cycles</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/cycling/routes-and-maps/cycle-superhighways?intcmp=2352" >
        <img src="/cdn/static/cms/images/promos/cycle-superhighway-farringdon-road_rdax_400x200.jpg" alt="woman cycling on a cycle superhighway, on a Santander Cycle" />
        
        <div class="text-link">
             <h2>New Cycle Superhighway open</h2>
            <p>Explore Cycle Superhighway 6, a route from Elephant and Castle to King's Cross</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/cycling/routes-and-maps/quietways?intcmp=21098" >
        <img src="/cdn/static/cms/images/promos/cycling-quietway-two_rdax_400x200.jpg" alt="woman cycling on a quietway" />
        
        <div class="text-link">
             <h2>New Quietways open</h2>
            <p>Explore these easy to follow cycle routes on quieter backstreets across London</p>
        </div>
    </a>
</div>
 
 <div class="vertical-button-container">



<a href="https://londonblog.tfl.gov.uk/2017/07/21/short-and-scenic-routes-the-wandle-trail/"  class="plain-button">Short and scenic cycle rides</a>

</div>
<div class="vertical-button-container">



<a href="/modes/cycling/routes-and-maps"  class="plain-button">Routes and maps</a>

</div>

                </div>
        
        
        
          
        
    </div>
    
      
      <div class="aside no-full-width-intro" role="complementary">
    
        <div data-set="sidenav-container" class="large">
          
        </div>
        <div class="module-grid clearfix">
          
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
          
        </div>
        <div data-set="sidenav-container" class="small-medium"></div>
      </div>
  </div>
 
        
        
        
            @{ViewBag.Description = "Information for new cyclists in London";}
        
            
        


 