
    
  



@{ViewBag.Title = "Protect your bike from theft";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/cycling/protect-your-bike-from-theft";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/cycling/index">Cycling</a></li>
                
            
                 <li><a href="/modes/cycling/new-to-cycling">Get started with cycling</a></li>
                
            
                 <li><a href="/modes/cycling/cycling-advice">Cycling tips and advice</a></li>
                
            
            
                <li><span class="last-breadcrumb">Protect your bike from theft</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Protect your bike from theft</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    
      
      
           
      <div class="clearfix">
    <div class="image-box light-box">
    
        
        
        <a href="/cdn/static/cms/images/good-locking-practice-bike.jpg" class="modal-launch" target="_blank">
        <img src="/cdn/static/cms/images/good-locking-practice-bike.jpg" alt="Guide to locking your bike safely" />
        
        </a>
        
        
    </div>   
 </div>
 <div>

<h2>Protect your bike from theft</h2>
<p>Around 20,000 bikes are reported stolen in London each year. Thieves think cycle theft is a low-risk, high-reward crime. Follow these tips to lock thieves out and ensure your bike remains safe and secure.</p>
<ul>
    <li><strong>Get your bike security marked and registered at BikeRegister</strong><br />
    Having your bike security marked and registered is a visible deterrent to bike thieves. They know that if they are caught in possession of a registered bike, the rightful owner can be traced and they will be arrested. <a href="https://www.bikeregister.com/">Find out how to register your bike</a></li>
    <li><strong>Record details of your bike</strong><br />
    Frame number (normally found underneath the bike between the pedals or where the back wheel slots in), BikeRegister number, other distinguishing features, and take a photo</li>
    <li><strong>Use locks of gold 'Sold Secure' standard</strong><br />
    Also, use two different types of lock, with at least one being a high quality D-lock. It takes thieves a few seconds to cut through poor-quality locks. Make it as difficult for them as possible</li>
    <li><strong>Lock the frame and both wheels to the cycle parking stand </strong><br />
    <a href="/cdn/static/cms/documents/good-locking-practice.pdf">See examples of good locking practice on our poster PDF 2.23MB</a><strong> <br />
    </strong></li>
    <li><strong>Make the locks and bike hard to move</strong><br />
    Lock your bike as close to the stand as possible. <a href="/cdn/static/cms/documents/common-bike-theft-techniques.pdf">Find out common techniques cycle thieves use</a><br />
    <a href="/cdn/static/cms/documents/common-bike-theft-techniques.pdf">PDF 809KB</a></li>
    <li><strong>Lock your bike at recognised secure cycle parking</strong><br />
    It should be well lit and covered by CCTV.</li>
    <li><strong>Take the same care to lock your bike securely at home</strong><br />
    Bikes get stolen from communal hallways, gardens and sheds</li>
    <li><strong>Don't buy a stolen second-hand bike</strong><br />
    Insist on proof of ownership and check the bike frame number at BikeRegister.</li>
    <li><strong>If your bike has been stolen, contact the police</strong><br />
    Give them your BikeRegister number, photo and any other details </li>
</ul>
<h2>How to report a theft</h2>
<ul>
    <li>For thefts from the railway, Tube, DLR and Tram stations, contact the British Transport Police through their website or call 0800 405 040</li>
    <li>
    For thefts within the City of London, <a href="https://www.cityoflondon.police.uk/contact-city-police/reporting-a-crime/Pages/Online-crime-report.aspx">contact City of London Police through their website</a> or call 020 7601 2000</li>
    <li>
    For thefts anywhere else in Greater London, <a href="https://www.met.police.uk/report/how-to-report-a-crime/">contact Metropolitan Police Service through their website</a> or call 101</li>
</ul>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/cycling/index" class="heading">
                    <h2 id="sub-menu-heading">Cycling<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/modes/cycling/new-to-cycling">Get started with cycling</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-advice">Cycling tips and advice</a></div>
                                        <ul>
                                            
                                                <li class="selected"><div class="link-wrapper"><a href="/modes/cycling/protect-your-bike-from-theft">Protect your bike from theft</a></div>
                                            
 
                                        </ul>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/santander-cycles">Santander Cycles</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london">Cycling in London</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps">Routes & maps</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Protect your bike from theft";}
        
            
        


 