
    
  



@{ViewBag.Title = "Routes & maps";}
@{ViewBag.Keywords = "Cyclists,Cycling,TfL";}
@{ViewBag.Url = "/modes/cycling/routes-and-maps";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/cycling/index">Cycling</a></li>
                
            
            
                <li><span class="last-breadcrumb">Routes & maps</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container landing-page section-landing-container">
        <h1>Routes & maps</h1>
        
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">
        <div class="small-medium" data-set="widget"></div>
        <div class="primary-teaser landing-page-teaser">
            <div class="news-teaser ">
  
  <a href="https://tfl.gov.uk/maps/cycle?intcmp=40402&intcmp=58492"  data-img="/cdn/static/cms/images/promos/map-teaser.jpg" data-img-breakpoint="medium" data-img-alt="An assortment of photographs laid out on a paper map">
    <img src="/cdn/static/cms/images/promos/map-teaser_rdax_600x300.jpg" alt="An assortment of photographs laid out on a paper map" />
    <div class="text-link sit-top">
      <h2>Cycle map</h2>
      <p>See cycle routes and Santander Cycle docking stations</p>
    </div>
  </a>
</div>

 
        </div>
        
        <div class="clearfix">
            <div>

<p>Discover London on your bike. With our local cycling guides you can discover family-friendly routes through parks, waterways and forests.</p>
</div>
 
        </div>
        <div class="module-grid clearfix">
            <div class="news-teaser">

    <a href="/modes/cycling/routes-and-maps/quietways?intcmp=21098" >
        <img src="/cdn/static/cms/images/promos/cycling-quietway-two_rdax_400x200.jpg" alt="woman cycling on a quietway" />
        
        <div class="text-link">
             <h2>Quietways</h2>
            <p>We're working to create Quietway cycling routes across London</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/cycling/routes-and-maps/cycle-superhighways?intcmp=2352" >
        <img src="/cdn/static/cms/images/promos/cycle-superhighway-farringdon-road_rdax_400x200.jpg" alt="woman cycling on a cycle superhighway, on a Santander Cycle" />
        
        <div class="text-link">
             <h2>Cycle Superhighways</h2>
            <p>We're working to create Cycle Superhighways across London</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/cycling/routes-and-maps/new-cycle-routes?intcmp=57033" >
        
        
        <div class="text-link">
             <h2>New cycle routes</h2>
            <p>We're expanding the cycle network to connect people and places all over London</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/cycling/santander-cycles/leisure-routes?intcmp=2327" >
        
        
        <div class="text-link">
             <h2>Leisure routes</h2>
            <p>Discover London's hidden gems with a hire bike</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/campaign/tfl-and-british-cycling?intcmp=44522" >
        
        
        <div class="text-link">
             <h2>TfL & British Cycling</h2>
            <p>Find guided rides and search leisure routes to suit all abilities</p>
        </div>
    </a>
</div>
 
 
        </div>
    </div>
    <div class="aside" role="complementary">
        <div class="large" data-set="widget">
            <div class="moving-source-order">
            
            </div>
        </div>
        <div class="module-grid">
            
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
            <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/modes/cycling/routes-and-maps/cycle-mini-hollands" class="plain-button">Mini-Holland programme</a>
    </div>
</div>
 
        </div>
    </div>
    <div class="small-medium" data-set="content">&nbsp;</div>
</div>
 
        
        
        
            @{ViewBag.Description = "Discover London with our family-friendly cycle routes";}
        
            
        


 