
    
  



@{ViewBag.Title = "Sarah's story";}
@{ViewBag.Keywords = "TfL,Ebike, cycling";}
@{ViewBag.Url = "/modes/cycling/sarah-s-story";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/cycling/index">Cycling</a></li>
                
            
                 <li><a href="/modes/cycling/cycling-in-london">Cycling in London</a></li>
                
            
                 <li><a href="/modes/cycling/cycling-in-london/rider-profiles">Rider stories</a></li>
                
            
            
                <li><span class="last-breadcrumb">Sarah's story</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Sarah's story</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    
      
      
           
      <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/sarah-cycling-ebike4.jpg" alt="Sarah on her ebike" />
        
        
        
    </div>   
 </div>
 <div>

<h2>How long have you been cycling in London?</h2>
<p>I've been working on cycling projects in London for 14 years but only been cycling in central London since the launch of Barclays Cycle Hire (now Santander Cycles) in 2010. I use <a href="/modes/cycling/santander-cycles">Santander Cycles</a> to get to meetings and site visits all over London. Like half of cycle hire's customers, I never cycled in central London before the scheme was introduced. I occasionally cycle locally where I live (the London Borough of Barnet) but it's pretty hilly so before I got my e-bike, not often.</p>
<h2>What got you into cycling?</h2>
<p>I cycled all the time at University but never considered it as a commuting option when I returned to Barnet, mainly because where I live (Mill Hill &#45; bit of a clue there) is so hilly.</p>
<h2>How long have you had your e-bike?</h2>
<p>I got a new e-bike through the Cycle to Work scheme a few weeks ago. It's the new Victoria Pendleton one from Halfords.</p>
<h2>Why do you ride an e-bike?</h2>
<p>I tried an e-bike when I was 8 months pregnant with my third daughter and was completely bowled over. They're amazing! I think you get completely sold on them from the first time you try one &#45; they're so much fun. All my friends have been trying mine. I thought they would be too expensive but in the sale, the one I got from Halfords was &pound;600, which is about the cost of a fancy, ordinary bike and the cost is reduced through the Cycle to Work scheme. You can go for about 30 miles on one charge, so there's plenty of battery life to get me to work and back but I could charge the battery at work if I needed to.&nbsp;</p>
<h2>Did you use a standard bike previously?</h2>
<p>
Yes, which I'm going to keep for holidays as it's lighter to transport and as we do a lot of camping holidays, I won't need to worry about charging up an e-bike battery.</p>
<h2>Where do you cycle?</h2>
<p>Previously, I'd cycle occasionally in North and North-West London on my own bike and regularly on Santander Cycles in central London, but I wouldn't cycle on the very hilly areas in between. Now, famous hills like Highgate Hill and Hampstead Heath are no longer barriers to my cycling. My commute is from Mill Hill to Finchley Central, then Hampstead Heath, Kentish Town, Camden, Bloomsbury and finally the North South Superhighway (CS6) straight to my office.</p>
<h2>
What would you say to women considering cycling in London?</h2>
<p>Most parts of London, particularly in East and West London and most of Central London, are pretty flat and really cyclable. I've never worn 'cycling gear' to cycle &#45; just my normal clothes as at the speed I pootle along, it's no more of a strenuous activity than going for a walk. If you're thinking about cycling, use the <a href="/plan-a-journey/index">TfL journey planner</a> to look at different route options and give them a go on a weekend to get the hang of it. </p>
<p>Once you start cycling, you'll find out short-cuts or the best scenic routes to take. If you're thinking of cycling to work, speak to colleagues who currently cycle as I've found people who cycle to work are always enthusiastic about sharing their top tips or personal short-cuts. And use two, good quality D-locks on your bike when you're parking it.</p>
<h2>What would you say to women considering buying an e-bike?</h2>
<p>
Just do it! It just opens up so many more journeys to be cycled &#45; longer distances, all sorts of terrains. It's still good exercise, but you don't need to be really fit to do it &#45; I could cycle on it at eight months pregnant easier than I could walk at that stage. My favourite thing about it is that you get all of the fun bits of cycling as it's easy to get up hills and awesome to come down them!</p>
</div>
 <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/sarah-ebike-9.jpg" alt="Sarah on her ebike 9" />
        
        
        
    </div>   
 </div>
 <div>


</div>
 <div class="clearfix">
    <div class="image-box">
    
        
        
        
    </div>   
 </div>
 <div>

<h2>What do you like most about cycling in London?</h2>
<p>
There are so many parts of London now where people on cycles outnumber any other mode of transport &#45; it's incredible to see how busy the North South Superhighway (CS6) is at rush hour, for example. I wouldn't dream of driving my car into central London but cycling around gives you such a fantastic sense of the city's geography and gives you endless opportunities to explore places you wouldn't necessarily go to on foot.</p>
<h2>How does cycling make you feel?</h2>
<p>
Cycling puts a smile on my face, especially when the sun is shining. It gives you such a sense of freedom. When I commute by train, I spend the whole journey with my head in my phone wasting time on social media. When I cycle I'm making eye contact with people, smiling, saying 'good morning' to walkers and others cycling on Hampstead Heath, chatting to other cyclists at lights, watching the world go by and I have time and space to myself to think about my day or daydream. I also don't feel guilty about skipping the gym on a day I've cycled to work.</p>
<h2>What bike do you ride?</h2>
<p>
I ride the Victoria Pendleton Somerby electric bike from Halfords.</p>
<h2>What helped you to cycle in London?</h2>
<p>I work in cycling, so I'm a pretty warm to the idea already, but I've always been able to use the hills as an excuse for why I don't cycle to work. The first time I tried an e-bike I realised that wasn't a barrier any more. One of my colleagues bought an e-bike about two months ago. He'd injured his knee a few years ago and couldn't really cycle any more. The joy on his face coming in every day on his e-bike sold it to me &#45; he was like a changed person.</p>
<h2>Do you often cycle with someone?</h2>
<p>
My elder two daughters are both learning to ride bikes and we got my eldest a really nice bike for her 8th birthday. The idea of being able to go out on leisure rides with them now makes me so excited. I've just ordered a child seat for my e-bike so that my youngest daughter can ride with me on her way to nursery. I occasionally cycle with a friend of mine on the way to work, but even though he's one of the fittest people I know, he can't keep up with me on the hills on his normal bike so slows me down a bit!</p>
<h2>How has TfL helped you get more out of riding a bike?</h2>
<p>
I use Santander Cycles all the time &#45; at least once a week. I'm very fond of them as I worked in the original team who brought them to London. I had a <a href="/modes/cycling/cycling-in-london/cycle-skills">Cycle Skills</a> session a few years ago, which I couldn't recommend more highly. My confidence in mixing with traffic has increased hugely following the training session. There are so many useful tips you learn that you wouldn't remember from being a child. Trainers can also help you plan your routes to work.</p>
<ul>
    <li><a href="/modes/cycling/cycling-in-london/rider-profiles">Read other rider stories</a></li>
    <li><a href="/modes/cycling/cycling-in-london/cycle-skills">Book a cycle skills session</a></li>
    <li><a href="/modes/cycling/index">Plan your ride</a></li>
</ul>
</div>
 <div class="clearfix">
    <div class="image-box">
    
        
        
        
    </div>   
 </div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/cycling/index" class="heading">
                    <h2 id="sub-menu-heading">Cycling<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/new-to-cycling">Get started with cycling</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/santander-cycles">Santander Cycles</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london">Cycling in London</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/rider-profiles">Rider stories</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/modes/cycling/beth-s-story">Beth's story</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/isabelle-s-story">Isabelle's story</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/katie-s-story">Katie's story</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/hollie-s-story">Hollie's story</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/alix-s-story">Alix's story</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/modes/cycling/sarah-s-story">Sarah's story</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/fiona-s-story">Fiona's story</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/isabelle">Isabelle</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/jeanette-s-story">Jeanette's story</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/cycle-skills">Cycle Skills</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/avoid-theft">Protect your bike from theft</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/cycle-parking">Cycle parking</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/bikes-on-public-transport">Bikes on public transport</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/cycling-with-children">Cycling with children</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/electric-bikes">Electric bikes</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps">Routes & maps</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Sarah Burr's cycling story";}
        
            
        


 