
    
  



@{ViewBag.Title = "Consultations & surveys";}
@{ViewBag.Keywords = "Planning and construction,Public,TfL";}
@{ViewBag.Url = "/corporate/about-tfl/how-we-work/planning-for-the-future/consultations-and-surveys";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/how-we-work">How we work</a></li>
                
            
                 <li><a href="/corporate/about-tfl/how-we-work/planning-for-the-future">Planning for the future</a></li>
                
            
            
                <li><span class="last-breadcrumb">Consultations & surveys</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Consultations & surveys</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We value the opinions of our customers and stakeholders, and regularly ask for views on a range of transport issues.
        
      </div>
    
    <div class="on-this-page">
      <p>We consult on:</p>
<ul>
    <li>New guidance, policy updates and amendments</li>
    <li>Changes to bus services</li>
    <li>Relocation of bus stops and shelters</li>
    <li>Design and management of London roads</li>
    <li>Major transport projects and developments</li>
</ul>
<p>One of the ways we gather feedback is through online questionnaires on our <a href="https://consultations.tfl.gov.uk/">consultations hub</a>.</p>
<h2>How we reach a decision</h2>
<p>We always consider feedback during the decision-making process. Final plans will also take other factors into account, including relevant financial, legal, safety and technical issues.
</p>
<p>Some decisions, such as highway changes, also depend on decisions made by London boroughs.</p>
<p>Once a decision is made, it is published online.</p>
<h2>London Travel Demand Survey </h2>
<p>Each year, 8,000 randomly selected households in London and the surrounding area are interviewed about their travel habits as part of the <a href="/corporate/about-tfl/how-we-work/planning-for-the-future/consultations-and-surveys/london-travel-demand-survey">London Travel Demand Survey</a>. </p>
<h2>Travelcard Survey</h2>
<p>We run an <a href="/corporate/about-tfl/how-we-work/planning-for-the-future/consultations-and-surveys/travelcard-survey">annual survey on Travelcard usage</a> to help us understand how they are used.</p>
<p>We distribute thousands of Travelcard diaries every year and donate &pound;2 to charity for each completed survey returned to us.</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/how-we-work" class="heading">
                    <h2 id="sub-menu-heading">How we work<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/our-role">Our role</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/how-we-are-governed">How we are governed</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/how-we-are-funded">How we are funded</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future">Planning for the future</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/bakerloo-line-extension">Bakerloo line extension</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/consultations-and-surveys">Consultations & surveys</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/consultations-and-surveys/london-travel-demand-survey">London Travel Demand Survey</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/consultations-and-surveys/travelcard-survey">Travelcard survey</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/developing-the-rail-network">Developing the rail network</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/healthy-streets">Healthy Streets</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/london-airports">London's airports</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/new-river-crossings-for-london">New river crossings for London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/rotherhithe-canary-wharf-crossing">Rotherhithe-Canary Wharf crossing </a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/public-affairs">Public affairs</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/our-customer-commitments">Our customer commitments</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We consult the public regularly on changes we're planning to services as well as roads and other infrastructure. We also run surveys to understand how people use London's transport network";}
        
            
        


 