
    
  



@{ViewBag.Title = "Rotherhithe-Canary Wharf crossing ";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/about-tfl/how-we-work/planning-for-the-future/rotherhithe-canary-wharf-crossing";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/how-we-work">How we work</a></li>
                
            
                 <li><a href="/corporate/about-tfl/how-we-work/planning-for-the-future">Planning for the future</a></li>
                
            
            
                <li><span class="last-breadcrumb">Rotherhithe-Canary Wharf crossing </span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Rotherhithe-Canary Wharf crossing </h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We want to build a new river crossing for pedestrians and cyclists between Rotherhithe and Canary Wharf.
        
      </div>
    
    
      <p>This will create a much needed new route across the Thames in east London and benefit communities on both sides of the river.</p>
<p>It will link into nearby cycle routes and help encourage more people to walk and cycle in line with the Mayor's <a href="/corporate/about-tfl/how-we-work/planning-for-the-future/healthy-streets">Healthy Streets approach for London</a>.&nbsp; </p>
      
           
      <div class="clearfix">
    <div class="image-box light-box">
    
        
        
        <a href="/cdn/static/cms/images/river-crossing-points-large.jpg" class="modal-launch" target="_blank">
        <img src="/cdn/static/cms/images/river-crossing-points.jpg" alt="Map of proposed river crossing points" />
        <span class="caption">Click to open a larger .jpg image</span>
        </a>
        
        
    </div>   
 </div>
 <div>

<p>The proposal forms part of the Mayor's wider package of river crossings and new walking and cycling infrastructure in east London as set out in his Manifesto and <a href="/corporate/about-tfl/the-mayors-transport-strategy">the Mayor's Transport Strategy</a>.</p>

<p>A new river crossing would give thousands of people a direct, above ground link between Canada Water and Canary Wharf, and support jobs and new homes in the area.</p>

<p>We have worked with the engineering consultants Arcadis and Knight Architects to review the need for a new crossing and explore different options to make sure the crossing chosen is value for money. We considered design and engineering issues and modelled demand for different crossings at this location, as well as speaking to local residents and stakeholders.</p>

<p>This work led to a shortlist of three options:</p>

<ul>
	<li>Enhanced ferry service</li>
	<li>Navigable bridge that opens to allow river traffic to pass through</li>
	<li>Tunnel</li>
</ul>

<p>These options were assessed on their ability to meet the scheme's objectives, likely costs, potential benefits and possible impact.</p>

<h2>Consultation</h2>

<p>So far, a navigable bridge is our preferred option and we're investigating it in greater detail. Londoners gave their views on this decision, and other options such as a specific location, during our public consultation in late 2017/early 2018. The consultation report and our response to the issues raised are on the <a href="https://consultations.tfl.gov.uk/rivercrossings/rotherhithe-canarywharf/?cid=r2cw-crossing">Rotherhithe-Canary Wharf crossing consultation page</a>.</p>

<p>While our preference is for a navigable bridge, no final decisions have been made and Londoners are welcome to recommend alternative designs or options as part of the consultation process.</p>

<h2>Next steps</h2>

<p>We've been speaking with organisations such as the Port of London Authority, landowners and the borough councils on either side of the river to understand the benefits and effect of different options. Within the northern/central areas these include landing points, bridge heights, opening mechanisms and operating arrangements. Understanding these will help with the design for a navigable bridge.</p>

<p>We are still working through these issues to make sure our proposals best reflect the needs of users of the new crossing and the river, as well as the local communities. We're now planning a public consultation in 2019.</p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/how-we-work" class="heading">
                    <h2 id="sub-menu-heading">How we work<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/our-role">Our role</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/how-we-are-governed">How we are governed</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/how-we-are-funded">How we are funded</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future">Planning for the future</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/bakerloo-line-extension">Bakerloo line extension</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/consultations-and-surveys">Consultations & surveys</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/developing-the-rail-network">Developing the rail network</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/healthy-streets">Healthy Streets</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/improving-station-information">Improving station information</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/london-airports">London's airports</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/new-river-crossings-for-london">New river crossings for London</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/planning-for-the-future/rotherhithe-canary-wharf-crossing">Rotherhithe-Canary Wharf crossing </a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/public-affairs">Public affairs</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/how-we-work/our-customer-commitments">Our customer commitments</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact us</h3>
         </div>
        
        
        
        
        <p class="content-group">
            <span class="visually-hidden">Email address</span>
            <a href="mailto:rivercrossings&#64;tfl.gov.uk">rivercrossings&#64;tfl.gov.uk</a>
        </p>
        
        <div class="content-group">
            <p>
                
                
                
                
                
                
                
                
            </p>
            
        </div>
        
        <div class="content-group">
            
            
            
                
                
                
            
            
            <p>Email us with any questions or to register for project updates.</p>
        </div>
        
        
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We are proposing a new river crossing for pedestrians and cyclists between Rotherhithe and Canary Wharf";}
        
            
        


 