


@{ViewBag.Title = "Liverpool Street station closure on May Bank Holiday";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Liverpool Street station closure on May Bank Holiday</h1>
        <div class="content-page-press-release">
        14 April 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Disruption to be minimised as latest stage in &pound;1.4bn rail transformation is finished.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The installation of this bridge is a crucial part of the East London Railway and the LO network which will bring benefits to all rail travellers"</div>
        <div class="quote-footer">
            <div class="quotee-name">Peter Richards</div>
            <div class="quotee-job-title">TfL's LO Infrastructure Development Manager</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The installation of this bridge is a crucial part of the East London Railway and the LO network which will bring benefits to all rail travellers
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>Liverpool Street mainline station is to close during Sunday 4&nbsp;May&nbsp;and Monday 5 May for vital engineering work as part of Transport for London's (TfL) &pound;1.4bn investment in improving&nbsp;the Capital's&nbsp;rail services. </p>
<p>As part of the work&nbsp;to link the new London Overground (LO) network to an extended East London Line,&nbsp;a team of engineers&nbsp;will&nbsp;roll an 800 tonne bridge into place, the second key installation for the project in five weeks. </p>
<p>The bridge will carry the extended East London line over all the main lines coming out of Liverpool Street station, and is a crucial part of the project that will&nbsp;put&nbsp;Hackney&nbsp;on the Tube map&nbsp;for the first time, and involve the building of new stations at Shoreditch High Street, Hoxton, Haggerston, and Dalston Junction. </p>
<h2>Benefits</h2>
<p>To ensure safety, it is essential to close the station, which will re-open for the start of services on Tuesday&nbsp;6 May.</p>
<p>During this time, trains which normally use Liverpool Street mainline station will run from Stratford and Tottenham Hale stations. </p>
<p>Liverpool Street Underground station will remain open and unaffected throughout. </p>
<p>The work is being carried out over the last two days of the Bank Holiday because fewer people than normal use the station, minimising disruption. </p>
<h2>Regeneration</h2>
<p>Installation of the new bridge is a huge engineering operation, which involves inching it slowly into place on the same kind of wheels used to manoeuvre space shuttles to their launch pads.</p>
<p>The intricate process can be followed, via web cams, on the TfL website.</p>
<p>TfL's LO Infrastructure Development Manager, Peter Richards, said: "We recognise that closing Liverpool Street for safety reasons during this operation will cause disruption to passengers. </p>
<p>"We are keeping this to a minimum by doing the work during the second half of the Bank Holiday weekend when fewer people are travelling.</p>
<p>"The installation of this bridge is a crucial part of the East London Railway and the LO network which will bring benefits to all rail travellers, supporting the regeneration of East London and connecting 20 of London's 33 boroughs with a new fast, frequent and reliable overground railway."</p>
<p>Network Rail is also using the closure to carry out works between Stratford and Liverpool Street, including overhead line renewal, track renewal, and signalling maintenance.<strong><p>
<h2>Alternative travel arrangements </h2></strong>
<p>National Express East Anglia services are subject to the following alterations:</p>
<p>All services will start/terminate at Stratford.</p>
<p>Passengers are to use&nbsp;LU services between Stratford and London Liverpool Street.</p>
<p>A bus service will operate between Stratford and Liverpool Street outside of LU operating hours.</p>
<p>The Chingford/Hertford East/Enfield Town services will start/terminate at Hackney Downs.</p>
<p>Liverpool Street to Cambridge services start/terminate at Tottenham Hale.</p>
<p>Stansted Express services will start/terminate at Tottenham Hale, with a bus connection to London Liverpool Street outside of LU Victoria line operating hours.</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>From May 2, a short section of Brick Lane will be closed at the northern end between Grimsby Street and Pedley Street to vehicle traffic for four months to allow supplementary works around the bridge and build a new viaduct over Brick Lane </li>
<li>The bridge is 84m long, 10m high, 10m wide and weighs 812 tonnes </li>
<li>A 42m temporary "nose", 300 tonnes of temporary steel work and two jacks will be required to help move the bridge into place </li>
<li>The 500 tonnes concrete deck on the rear half of the bridge will be used as a counterweight during the lift. Half way through the lift, 320 tonnes of concrete will be poured to complete the concrete deck </li>
<li>The bridge is made of British Corus steel at Chepstow in South Wales and assembled on the East London site over the last four months </li>
<li>The East London Line Extension is a &pound;1bn project to extend the former Tube line north to Highbury and Islington, south to West Croydon and Crystal Palace and upgrade it to take LO trains </li>
<li>As part of the LO network it will connect 20 of London's 33 boroughs </li>
<li>The new East London Railway is due to open in June 2010 </li>
<li>A third railway bridge will be wheeled into place across Network Rail tracks at New Cross Gate in south London during the weekend of May 10 to 12. The first of this trio of bridges was lifted into place across Shoreditch High Street during the weekend of 29 -31 March </li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Liverpool Street mainline station is to close during Sunday 4&nbsp;May&nbsp;and Monday 5 May for vital engineering work as part of Transport for London's (TfL) &pound;1.4bn investment in improving&nbsp;the Capital's&nbsp;rail services. As part of the";}
        
        


 