


@{ViewBag.Title = "TfL rejects Porsche's claims on CO2 emissions";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>TfL rejects Porsche's claims on CO2 emissions</h1>
        <div class="content-page-press-release">
        10 April 2008
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Car manufacturer's claims seek to deflect attention from their cars' high CO2 emissions.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The CO2 Charge will cut emissions from cars"</div>
        <div class="quote-footer">
            <div class="quotee-name">Malcolm Murray-Clark</div>
            <div class="quotee-job-title">Managing Director Planning</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            The CO2 Charge will cut emissions from cars 
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>TfL&nbsp;today rejected Porsche's claims that the CO2 Charge will increase CO2 emissions.</p>
<p>The decision to go ahead with the CO2 Charge was based on a report which included robust research on CO2 emissions undertaken by TfL and reported to the Mayor.</p>
<p>The decision was not based upon CO2 emissions estimated by King's College.</p>
<p>TfL commissioned King's College to carry out research into Nitrogen Oxides (NOx) and Particulate Matter (PM10) emissions.</p>
<p>The potential increases of such emissions originally modelled by King's College were negligible in the short term.</p>
<p>However, as we informed Porsche some weeks ago, these figures are being refined&nbsp;and therefore the impact on air quality is likely to be significantly less than originally predicted.</p>
<h2>Air quality</h2>
<p>Sean Beevers, in charge of the air quality modelling work at the Environmental Research Group at King's College said: "Through further discussion with TfL we now understand that the results contained in our draft reports&nbsp;to TfL in relation to traffic pollutants and CO2 need to be refined.</p>
<p>"This problem arose&nbsp;due to ambiguity in the assumptions used. As a consequence&nbsp;of this&nbsp;process moving forward we are currently providing TfL with revised assessments.</p>
<p>"These are likely to show that the PM10 and NOx effects are smaller than previously projected and that our estimates of the CO2 effects are broadly comparable with those that have been produced by TfL."</p>
<p>Malcolm Murray-Clark, Managing Director Planning, said: "TfL's analysis of the impact on CO2 is accurate and robust and shows that the CO2 Charge will cut emissions from cars travelling to and from the zone by up to 5,000 tonnes in 2009.</p>
<p>"We have made clear we will vigorously contest Porsche's claims and any tactics designed to deflect attention away from the main issue.&nbsp; They should focus their attention on cutting CO2 emissions from the cars they produce, rather than pursuing this pointless legal action.</p>
<p>"We have already seen several motor manufacturers rise to the challenge of cutting CO2 emissions from their cars and Porsche should join them."</p>
<p>
<hr>

<p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>A recent IPSOS-MORI survey revealed that 61 per cent of Londoners support the proposed &pound;25 CO2 Charge for gas guzzlers driving &nbsp;within the Congestion Charge zone, with just 29 per cent opposed; </li>
<li>It also showed that 67 per cent of Londoners support the 100 per cent discount for those vehicles that emit the lowest levels of carbon &nbsp;dioxide, with only 21 per cent opposed; </li>
<li>65&nbsp;per cent of Londoners thought that the package of measures is good for London, while 19 per cent disagree On behalf of TfL, &nbsp;Ipsos MORI conducted a telephone survey on CO2 charging with 1,041 adults aged 16+ across London between 11-12 March 2008</li></ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "TfL&nbsp;today rejected Porsche's claims that the CO2 Charge will increase CO2 emissions.The decision to go ahead with the CO2 Charge was based on a report which included robust research on CO2 emissions undertaken by TfL and reported to the Mayor.The";}
        
        


 