
    
  



@{ViewBag.Title = "Cycling Toolkit";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/boroughs/cycling-toolkit";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/boroughs/index">Boroughs</a></li>
                
            
                 <li><a href="/info-for/boroughs/planning-and-resources">Planning & resources</a></li>
                
            
            
                <li><span class="last-breadcrumb">Cycling Toolkit</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Cycling Toolkit</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        If you're involved in cycling initiatives in your borough, this toolkit offers you a useful mix of information, advice and resources to help make them a success.
        
      </div>
    
    
      
        <p>If you think you have content that would be useful to other boroughs that we can add here, please email us at <a href="mailto:cyclingtoolkit&#64;tfl.gov.uk">cyclingtoolkit&#64;tfl.gov.uk</a>.</p>
         
        <p>Additional documents can be found on the <a href="/corporate/publications-and-reports/cycling">Cycling page in Publications</a>.</p>
    
      
           
      <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="vision-for-cycling-films-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Cycling Toolkit-Vision for Cycling films"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="vision-for-cycling-films-heading" class="accordion-heading">Vision for Cycling films</div>
            </div>
            <div id="vision-for-cycling-films-content" class="start-hidden" role="region" aria-labelledby="vision-for-cycling-films-heading">
<h2>Cycling in London films toolkit</h2>
<p>
Under the previous mayor Boris Johnson, we produced a series of short films about his Vision for Cycling in London campaign. (The current London mayor, Sadiq Khan, covers this topic in the <a href="/corporate/about-tfl/corporate-and-social-responsibility/transport-and-health">Healthy Streets for London</a> document.)</p>
<p>The films focus on the cycling infrastructure that is being delivered across inner and outer London boroughs. They're designed to help boroughs communicate the plans and real benefits that the Vision can bring.</p>
<p>All four films are available via YouTube links. Higher resolution versions can also be downloaded from the TfL FTP site.</p>
<h3>What was the campaign?</h3>
<ul>
    <li>The films explain the various elements of the Vision and what they could mean to people living or travelling in London</li>
    <li>Two films focus on inner London and one on outer London - a Pan-London film provides a summary view</li>
    <li>The Pan-London film is publicly available on the TfL YouTube channel </li>
    <li>There are two versions of the inner London films; a summary 4 minute edit and a more detailed 10 minute edit</li>
    <li>The films have been produced for Boroughs and partners to use in presentations, at stakeholder meetings, during consultation/public events and at conferences. Only the Pan-London film can be posted online and promoted via social media channels</li>
</ul>
<h3>What is available to boroughs?
</h3>
<p>High res versions of the four films are available for download from the TfL FTP site, in Quicktime and Windows Media File formats. Lower res versions are available via YouTube.</p>
<p>To get sign in details for the TfL FTP site or the private links for the inner and outer London films, please contact your borough transport officer. </p>
<p>(Access to FTP sites can be done via a browser, but you may find your system's security settings don't allow access to FTP sites. You should check with your borough IT team to ensure you will be able to access the FTP site. Licensed software can also be used to access an FTP site.) </p>
<h3>Logos and layouts
</h3>
<p>London boroughs are not allowed to add their own logo to the films.</p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="your-audience-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Cycling Toolkit-Your audience"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="your-audience-heading" class="accordion-heading">Your audience</div>
            </div>
            <div id="your-audience-content" class="start-hidden" role="region" aria-labelledby="your-audience-heading">

        <h3>Motivation research </h3>
        <p>Several reports on public support for cycling in London are available in the <a href="/corporate/publications-and-reports/cycling">Encouraging cycling section of the Cycling publications page</a>. </p>
         
    

<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap xls" href="/cdn/static/cms/documents/analysis-of-potentially-cyclable-trips.xls">
    <div class="document-download-text">
        <p>Analysis of potentially cyclable trips</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLS 226KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.22 -->
 

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/current-cycle-travel-and-cyclists-by-borough-of-residence.xlsx">
    <div class="document-download-text">
        <p>Cycle usage by boroughs</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 98KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.10 -->
 
</div>

</div>
 
<div>




<h3>Talking to your audience</h3>
<p>Social marketing can help you understand the motivations of your intended audience, and how to encourage them to change behaviours.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/social-marketing-tools-and-tips.pdf">
    <div class="document-download-text">
        <p>Social marketing tips presentation</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.03MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.03 -->
 
</div>
<p>The NSMC (formerly the National Social Marketing Centre) has guides, including the Big Pocket Guide to  Social Marketing, available to download.
</p>
<ul>
    <li><a href="http://www.thensmc.com/resource/big-pocket-guide-social-marketing">NSMC tools and resources</a> </li>
</ul>
</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="planning-your-cycling-strategy-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Cycling Toolkit-Planning your cycling strategy"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="planning-your-cycling-strategy-heading" class="accordion-heading">Planning your cycling strategy</div>
            </div>
            <div id="planning-your-cycling-strategy-content" class="start-hidden" role="region" aria-labelledby="planning-your-cycling-strategy-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cycling-activity-in-your-borough.pdf">
    <div class="document-download-text">
        <p>Cycling activity in your borough</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 76KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="safety-and-security-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Cycling Toolkit-Safety and security"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="safety-and-security-heading" class="accordion-heading">Safety and security</div>
            </div>
            <div id="safety-and-security-content" class="start-hidden" role="region" aria-labelledby="safety-and-security-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cycle-safety-action-plan.pdf">
    <div class="document-download-text">
        <p>Cycle Safety Action Plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.33MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.33 -->
 
</div>
<p>Cycle security guidance:</p>
<ul>
    <li><a href="/travel-information/safety/road-safety-advice/driving-and-cycling-safety">Cycling safety tips</a></li>
    <li>Bike maintenance</li>
    <li><a href="/modes/cycling/cycling-in-london/avoid-theft">Avoid cycle theft</a></li>
</ul>
<p>We also work with the Metropolitan Police, British Transport Police and City of London Police on <a href="http://content.met.police.uk/Article/Cycle-Security/1400007266910/1400007266910">cycle security campaigns</a>.</p>
<h3>Exchanging Places cycle safety events</h3>
<p>The Metropolitan Police Service and the City of London Police hold regular Exchanging Places sessions.<br />
These events give cyclists the opportunity to physically sit in the driver's seat of a Heavy Goods Vehicle (HGV) or bus. This allows the cyclist to see what the driver can and cannot see at the kerbside and directly in front of their vehicle. Since Exchanging Places began in 2007, more than 30,000 people have taken the opportunity to sit in an HGV.</p>
<p>As part of <a href="/corporate/safety-and-security/road-safety/vision-zero-for-london">the Vision Zero commitment</a> we have partnered with the Metropolitan Police Service and Royal College of Art to recreate Exchanging Places as a virtual reality experience, allowing more cyclists and pedestrians than ever to exchange places with HGV drivers. The new mobile headsets allow up to 10 people to participate at once, and is accessible for all ages.</p>
<p>Exchanging Places sessions are ongoing, both with the new virtual reality technology and with a lorry present. London boroughs can help to provide support for Exchanging Places events by providing a venue and space, or by paying for add-ons such as <a href="https://www.lifecycleuk.org.uk/dr-bike">a Dr Bike session</a> with an experienced on-site mechanic - this is particularly helpful in attracting cyclists.</p>
<p>To host an Exchanging Places event in partnership with the Metropolitan Police Cycle Safety Team, email <a href="mailto:exchanging.places&#64;met.police.uk">exchanging.places&#64;met.police.uk</a>.</p>
</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="resources-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Cycling Toolkit-Resources"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="resources-heading" class="accordion-heading">Resources</div>
            </div>
            <div id="resources-content" class="start-hidden" role="region" aria-labelledby="resources-heading">

        <p>Campaign toolkits, events and activities for raising the profile of cycling in your borough.</p>
    

<div>




<h3>General resources</h3>
<ul>
    <li><a href="/modes/cycling/cycling-in-london/cycle-skills">Cycle skills</a></li>
    <li><a href="http://think.direct.gov.uk/cycling.html">THINK! Cycling</a></li>
    <li><a href="https://www.gov.uk/government/publications/think-cyclist">THINK! cyclist stakeholder toolkit</a></li>
</ul>
<h3>Resources for business</h3>
<p>The <a href="/info-for/business-and-commercial/travel-for-business/cycling-for-business">Cycling for business</a> page has information on:</p>
<ul>
    <li>Cycle parking for visitors</li>
    <li>Santander Cycles business accounts</li>
    <li>Tax savings on bikes</li>
    <li>The TfL Cycling Workplaces scheme... and more</li>
</ul>
<h3>Specialist resource</h3>
<ul>
    <li><a href="http://www.goskyride.com/Breeze/Index">Breeze - bike rides for women</a></li>
</ul>
<div class="multi-document-download-container">
    
</div>
<h3>STARS - School travel plan accreditation scheme</h3>
<p>TfL's travel plan accreditation programme has several programmes and activities to help schools support healthy travel, including by bicycle. </p>
<ul>
    <li><a href="https://stars.tfl.gov.uk/PublicPages/Home.aspx">STARS website</a></li>
</ul>
<p>The Toolkits section on the STARS website has resources to help schools set up:</p>
<ul>
    <li>Cycle clubs</li>
    <li>Big Bikers Breakfast</li>
    <li>Scooter and Bike pools</li>
</ul>
<p>There is also a page on <a href="http://www.staccreditation.org.uk/school/cycling.php">Cycling activities for schools</a>.</p>
</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="cycling-schemes-to-support-your-strategy-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Cycling Toolkit-Cycling schemes to support your strategy"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="cycling-schemes-to-support-your-strategy-heading" class="accordion-heading">Cycling schemes to support your strategy</div>
            </div>
            <div id="cycling-schemes-to-support-your-strategy-content" class="start-hidden" role="region" aria-labelledby="cycling-schemes-to-support-your-strategy-heading">
<ul>
    <li><a href="/modes/cycling/santander-cycles">Santander Cycles</a></li>
    <li><a href="/modes/cycling/routes-and-maps/cycle-superhighways">Cycle Superhighways</a></li>
    <li><a href="http://businessoffers.tfl.gov.uk/barclayscyclesuperhighways/home.html">TfL Cycling Workplaces Scheme</a></li>
    <li><a href="/info-for/business-and-commercial/travel-for-business/cycling-for-business">Cycling for business schemes</a></li>
    <li>Cycle Hire for landowners</li>
</ul>

            </div>
        </div>
    </div>
 
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/boroughs/index" class="heading">
                    <h2 id="sub-menu-heading">Boroughs<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/borough-funding">Borough funding</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/boroughs/planning-and-resources">Planning & resources</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/professional-services-frameworks">Professional services frameworks</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/sub-regional-transport-planning">Sub-regional transport planning</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/low-emission-neighbourhoods">Low Emission Neighbourhoods</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/healthy-workplace-charter">Healthy Workplace Charter</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/boroughs/cycling-toolkit">Cycling Toolkit</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/safety">Safety</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/street-types">Street Types for London</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/legible-london">Legible London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/bus-lane-database">Bus lane database</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/information-by-borough">Information by borough</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>
    
    <div class="contact-info-box">
        <div class="contact-info-header">
            <h3>Contact us</h3>
        </div>
        
        
            
        
        
            
                
                 
        
        
        
        
        
        <div class="content-group">
            <p>
                <abbr title="Address">Write</abbr>
            </p>
            <p>Email <a href="mailto:cyclingtoolkit&#64;tfl.gov.uk">cyclingtoolkit&#64;tfl.gov.uk</a>. </p>
        </div>
        
        
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "The toolkit is designed to help borough officers create and run cycling programs";}
        
            
        


 