
    
  



@{ViewBag.Title = "Healthy Workplace Charter";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/boroughs/healthy-workplace-charter";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/boroughs/index">Boroughs</a></li>
                
            
                 <li><a href="/info-for/boroughs/planning-and-resources">Planning & resources</a></li>
                
            
            
                <li><span class="last-breadcrumb">Healthy Workplace Charter</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Healthy Workplace Charter</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We endorse the London Healthy Workplace Charter and work to support its adoption in partnership with 26 boroughs, including the City of London.
        
      </div>
    
    <div class="on-this-page">
      <p>The <a href="http://www.london.gov.uk/healthyworkplace">Healthy Workplace Charter</a> is a structured framework designed to recognise and support business investment in staff health and wellbeing. Launched in 2012, it has the full support of local authorities and the GLA family.</p>
<p>We hold the Excellence award for the charter and want to encourage our partners and stakeholders to get free support from the GLA and local authorities to make their workplaces healthier and happier.</p>
<p>The Charter is:</p>
<ul>
    <li>An evidence-based accreditation scheme</li>
    <li>Coordinated by the Mayor of London's Office, supported by Public Health England and backed by leading employers</li>
    <li>Aimed at supporting and inspiring employers to create health-enhancing, engaged and productive workplaces</li>
</ul>
<p>The benefits of the Charter are:</p>
<ul>
    <li>An evidence-based template to design employee wellbeing strategies (with a long track record of success)</li>
    <li>Proven strategies to enhance employee health and increase engagement and productivity</li>
    <li>Fully-funded consultancy and support from an expert in workplace health and wellbeing</li>
    <li>A change to be recognised as a top employer in London - to promote a company's brand and attract top talent</li>
    <li>Access to an exclusive network of leading employers</li>
</ul>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/boroughs/index" class="heading">
                    <h2 id="sub-menu-heading">Boroughs<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/borough-funding">Borough funding</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/boroughs/planning-and-resources">Planning & resources</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/professional-services-frameworks">Professional services frameworks</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/sub-regional-transport-planning">Sub-regional transport planning</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/low-emission-neighbourhoods">Low Emission Neighbourhoods</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/boroughs/healthy-workplace-charter">Healthy Workplace Charter</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/cycling-toolkit">Cycling Toolkit</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/safety">Safety</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/street-types">Street Types for London</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/legible-london">Legible London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/bus-lane-database">Bus lane database</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/information-by-borough">Information by borough</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "TfL endorses the Healthy Workplace Charter";}
        
            
        


 