
    
  


<!-- rhroot -->
@{ViewBag.Title = "Boroughs";}
@{ViewBag.Keywords = "Boroughs,TfL";}
@{ViewBag.Url = "/info-for/boroughs/index";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

  

<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
            
                <li><span class="last-breadcrumb">Boroughs</span></li>
            
        
 
        </ol>
    </div>
</div>
     
 

  
  <div class="r">
    <div class="headline-container section-title section-landing-container ">
      <div class="section-title-wrap">
        <h1 class="hero-headline">Boroughs</h1>
        
      </div>
    </div>
  </div>



    
   
    <div class="r">
        <div class="main clearfix" role="main">
            
        
        
            <div class="section-overview full-width clearfix ">
                <div class="small-medium" data-set="section-intro"></div>
                <div>
                    <div class="large" data-set="section-intro">
                        
                    </div>
                <p>We work closely with London's 32 boroughs and the City of London to integrate transport planning and operations across the Capital.</p>
<p>In this section borough officers and members can find information and toolkits on a range of subjects. Examples include funding streams, TfL's major projects, operational performance and sub-regional activity. Contact details for additional enquiries are also available.</p>
                </div>
            </div>
        
         
        
        
        
                
                
                <div class="module-grid clearfix">
                    
                    
                    
                    <div>

<div class="news-teaser">

    <a href="/info-for/boroughs/borough-funding?intcmp=17422" >
        <img src="/cdn/static/cms/images/promos/workers_rdax_400x200.jpg" alt="Workers on Chiswick Bridge" />
        
        <div class="text-link">
             <h2>Borough funding</h2>
            <p>Our funding streams include LIPs and Crossrail complementary measures</p>
        </div>
    </a>
</div>
 
 
<div>




<h3>Borough survey</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/borough-survey-feedback-2017.pdf">
    <div class="document-download-text">
        <p>Borough survey 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 148KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 
</div>

</div>
 <div class="vertical-button-container">



<a href="/travel-information/improvements-and-projects/index"  class="plain-button">Improvements &amp; projects</a>


<a href="/info-for/urban-planning-and-construction/index"  class="plain-button">Urban planning and construction</a>

</div>

</div>
 <div>

<div class="news-teaser">

    <a href="/info-for/boroughs/information-by-borough?intcmp=17175" >
        <img src="/cdn/static/cms/images/promos/shard-boroughs.jpg" alt="Shard borough image" />
        
        <div class="text-link">
             <h2>Information by borough</h2>
            <p>LIPS letters, traffic management updates and more for each borough</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/publications-and-reports/index?intcmp=887" >
        
        
        <div class="text-link">
             <h2>Publications & reports</h2>
            <p>Find key documents produced by TfL</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/boroughs/planning-and-resources?intcmp=17420" >
        <img src="/cdn/static/cms/images/promos/box-junction_rdax_400x200.jpg" alt="Box junction" />
        
        <div class="text-link">
             <h2>Planning & resources</h2>
            <p>Get help with Sub-regional transport plans or download campaign material</p>
        </div>
    </a>
</div>
 
 
</div>
 
                </div>
        
        
        
          
        
    </div>
    
      
      <div class="aside no-full-width-intro" role="complementary">
    
        <div data-set="sidenav-container" class="large">
          
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/boroughs/index" class="heading">
                    <h2 id="sub-menu-heading">Boroughs<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/borough-funding">Borough funding</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/planning-and-resources">Planning & resources</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/information-by-borough">Information by borough</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>
        <div class="module-grid clearfix">
          












<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
          <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/modes/cycling/routes-and-maps/cycle-superhighways" class="plain-button">Cycle Superhighways</a>
<a href="/corporate/safety-and-security/road-safety/safety-enforcement-cameras" class="plain-button">Safety enforcement cameras</a>
<a href="/info-for/schools-and-young-people/index" class="plain-button">Schools &amp; young people</a>
<a href="/corporate/about-tfl/corporate-and-social-responsibility/transport-and-health" class="plain-button">Transport &amp; healthcare</a>
<a href="/corporate/publications-and-reports/strategic-transport-and-land-use-models" class="plain-button">Strategic transport &amp; land-use models</a>
    </div>
</div>
 <div class="related-links">

    <h3>Related website</h3>

<div class="vertical-button-container">

<a href="https://consultations.tfl.gov.uk/" class="plain-button">TfL consultation hub</a>
    </div>
</div>
 
        </div>
        <div data-set="sidenav-container" class="small-medium"></div>
      </div>
  </div>
 
        
        
        
            @{ViewBag.Description = "We have services to help London's 33 local authorities make planning decisions affecting the Capital's transport network, particularly roads";}
        
            
        


 