
    
  



@{ViewBag.Title = "Information by borough";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/boroughs/information-by-borough";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/boroughs/index">Boroughs</a></li>
                
            
            
                <li><span class="last-breadcrumb">Information by borough</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Information by borough</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Each of the 32 London Boroughs and the City of London has its own page.
        
      </div>
    
    
      <p>These pages include factsheets and key documents such as letters relating to LIPs and traffic infrastructure updates.</p>
      
           
      <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/boroughs-map-static.gif" alt="Boroughs map" />
    </div>
    
        <h2>London Boroughs </h2>
        <ol>
            <li><a href="/info-for/boroughs/barking-and-dagenham">Barking &amp; Dagenham</a></li>
            <li>    <a href="/info-for/boroughs/barnet">Barnet</a></li>
            <li>    <a href="/info-for/boroughs/bexley">Bexley</a></li>
            <li>    <a href="/info-for/boroughs/brent">Brent</a></li>
            <li>    <a href="/info-for/boroughs/bromley">Bromley</a></li>
            <li>    <a href="/info-for/boroughs/camden">Camden</a></li>
            <li>    <a href="/info-for/boroughs/city-of-london">City of London</a></li>
            <li>    <a href="/info-for/boroughs/croydon">Croydon</a></li>
            <li>    <a href="/info-for/boroughs/ealing">Ealing</a></li>
            <li>    <a href="/info-for/boroughs/enfield">Enfield</a></li>
            <li>    <a href="/info-for/boroughs/greenwich">Greenwich</a></li>
            <li>    <a href="/info-for/boroughs/hackney">Hackney</a></li>
            <li>    <a href="/info-for/boroughs/hammersmith-and-fulham">Hammersmith &amp; Fulham</a></li>
            <li>    <a href="/info-for/boroughs/haringey">Haringey</a></li>
            <li>    <a href="/info-for/boroughs/harrow">Harrow</a></li>
            <li>    <a href="/info-for/boroughs/havering">Havering</a></li>
            <li>    <a href="/info-for/boroughs/hillingdon">Hillingdon</a></li>
            <li>    <a href="/info-for/boroughs/hounslow">Hounslow</a></li>
            <li>    <a href="/info-for/boroughs/islington">Islington</a></li>
            <li>    <a href="/info-for/boroughs/kensington-and-chelsea">Kensington &amp; Chelsea</a></li>
            <li>    <a href="/info-for/boroughs/kingston-upon-thames">Kingston upon Thames</a></li>
            <li>    <a href="/info-for/boroughs/lambeth">Lambeth</a></li>
            <li>    <a href="/info-for/boroughs/lewisham">Lewisham</a></li>
            <li>    <a href="/info-for/boroughs/merton">Merton</a></li>
            <li>    <a href="/info-for/boroughs/newham">Newham</a></li>
            <li>    <a href="/info-for/boroughs/redbridge">Redbridge</a></li>
            <li>    <a href="/info-for/boroughs/richmond-upon-thames">Richmond upon Thames</a></li>
            <li>    <a href="/info-for/boroughs/southwark">Southwark</a></li>
            <li>    <a href="/info-for/boroughs/sutton">Sutton</a></li>
            <li>    <a href="/info-for/boroughs/tower-hamlets">Tower Hamlets</a></li>
            <li>    <a href="/info-for/boroughs/waltham-forest">Waltham Forest</a></li>
            <li>    <a href="/info-for/boroughs/wandsworth">Wandsworth</a></li>
            <li>    <a href="/info-for/boroughs/westminster">Westminster</a></li>
        </ol>
     
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We work closely with London's 32 boroughs and the City of London on a range of transport issues";}
        
            
        


 