
    
  



@{ViewBag.Title = "Local Implementation Plans";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/boroughs/local-implementation-plans";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/boroughs/index">Boroughs</a></li>
                
            
                 <li><a href="/info-for/boroughs/borough-funding">Borough funding</a></li>
                
            
            
                <li><span class="last-breadcrumb">Local Implementation Plans</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Local Implementation Plans</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Each London borough is required to develop a Local Implementation Plan (LIP). The LIP sets out how the borough will deliver the Mayor's Transport Strategy at local level.
        
      </div>
    
    <div class="on-this-page">
      <p>LIP funding is the process through which TfL provides financial support to boroughs for schemes to improve their transport networks in line with Mayor's Transport Strategy objectives.</p>

<p>The latest LIP delivery plan is on the <a href="/corporate/publications-and-reports/local-implementation-plans">LIPs page in Publications &amp; reports</a>.</p>

<h2>LIP Funding</h2>

<p>We provide boroughs with financial support for schemes to improve their transport networks.</p>

<p>Funding is allocated under five main programmes:</p>

<ul>
	<li>Corridors, neighbourhoods and supporting measures</li>
	<li>Liveable Neighbourhoods</li>
	<li>Principal road maintenance</li>
	<li>Bridge strengthening</li>
	<li>Traffic signal modernisation for sites on borough roads</li>
</ul>

<p>Corridors, neighbourhoods and supporting measures funding is allocated using a formula that was agreed with London Councils and the London Technical Advisory Group (LoTAG) in 2010.</p>

<p><a href="/info-for/boroughs/liveable-neighbourhoods">Read more about Liveable Neighbourhoods.</a></p>

<p>Funding for Principal road maintenance and bridge strengthening is awarded to roads and bridges most in need of repair, and is established through condition surveys.</p>
      
           
      
<div>



<h2>Third LIPs</h2>


<p>After collaborating with London Councils and boroughs throughout 2017, we have now published guidance for the third round of LIP development. This has been published alongside the <a href="/corporate/about-tfl/the-mayors-transport-strategy">2018 Mayor's Transport Strategy</a>.</p>
<p>The purpose of this guidance is to help with the preparation and approval of the third round of LIPs by:</p>
<ul>
    <li>Supporting boroughs in preparing LIPs that help achieve the Mayor's Transport Strategy vision and priorities</li>
    <li>Giving boroughs ownership of their own programmes and flexibility to reflect local circumstances</li>
    <li>Reducing resource burdens for the boroughs and TfL, in terms of preparing, monitoring and reviewing LIP submissions</li>
    <li>Better enabling transport to be integrated with wider health, economic, social and environmental objectives at a local level</li>
</ul>
<p>The third round LIPs will become effective from April 2019. The following guidance was published in March 2018.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/third-lips-guidance-2018.pdf">
    <div class="document-download-text">
        <p>Guidance for borough officers on developing the Third LIPs</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.95MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.95 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lip3-template-april2018.pdf">
    <div class="document-download-text">
        <p>Third LIPs model template</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 120KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 

<a class="document-download-wrap docx" href="/cdn/static/cms/documents/lip3-template-april2018.docx">
    <div class="document-download-text">
        <p>Third LIPS model template (Word)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            DOCX 71KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 
</div>

</div>
 
<div>




<h2>LIP spending and delivery plans</h2>

<p>Each year, London boroughs must submit a LIP annual spending submission with specific details of individual schemes they want to take forward. At the end of the financial year, each borough must submit a report on how they have delivered a range of priorities such as cycle parking, 20 mph zones and pedestrian crossings.</p>

<p><a href="/corporate/publications-and-reports/local-implementation-plans">See the final LIPS allocations.</a></p>

<p>To see what each borough put in their LIP funding letter, see <a href="/info-for/boroughs/information-by-borough">Information by borough</a>.</p>

<h2>LIPS guidance</h2>

<p>The LIP formula funding allocations for 'Corridors, Neighbourhoods and Supporting Measures' are calculated for each borough.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/18-19-lip-ass-guidance.pdf">
    <div class="document-download-text">
        <p>Interim LIP guidance 2018/19</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 269KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.26 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lip-guidance-17-18.pdf">
    <div class="document-download-text">
        <p>Interim LIP guidance 2017/18</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 306KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lip-guidance-2016-2017.pdf">
    <div class="document-download-text">
        <p>LIP guidance 2016/17</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 290KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.28 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lip-finance-guidance-19.pdf">
    <div class="document-download-text">
        <p>LIP finance and reporting guidance</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 385KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.38 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lip-formula-funding-presentation.pdf">
    <div class="document-download-text">
        <p>Explanation of LIP Formula Funding - January 2012</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 586KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.57 -->
 
</div>

</div>
 <div>

<h2>Boroughs Portal</h2>

<p>The Boroughs Portal is a web-based system that we, along with boroughs and partnerships, use to manage LIP and non-LIP funding that we provide.</p>

<p>The Portal is used to apply for funds, allocate funds, report on scheme progress, and the subsequent claiming of funds from TfL.</p>

<p><strong>Borough Funding</strong><br />
<strong>Email:</strong>&nbsp;<a href="mailto:bspsupport&#64;tfl.gov.uk">bspsupport&#64;tfl.gov.uk</a></p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/boroughs/index" class="heading">
                    <h2 id="sub-menu-heading">Boroughs<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/boroughs/borough-funding">Borough funding</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/boroughs/local-implementation-plans">Local Implementation Plans</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/boroughs/major-schemes">Major Schemes</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/boroughs/evaluations-programmes">Monitoring & research</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/boroughs/older-lips-guidance">Older LIPs guidance</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/liveable-neighbourhoods">Liveable Neighbourhoods </a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/planning-and-resources">Planning & resources</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/information-by-borough">Information by borough</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/publications-and-reports/streets-toolkit" class="plain-button">Streets toolkit</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Find out how to apply for Local Implementation Plan (LIP) funding";}
        
            
        


 