
    
  



@{ViewBag.Title = "Low Emission Neighbourhoods";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/boroughs/low-emission-neighbourhoods";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/boroughs/index">Boroughs</a></li>
                
            
                 <li><a href="/info-for/boroughs/planning-and-resources">Planning & resources</a></li>
                
            
            
                <li><span class="last-breadcrumb">Low Emission Neighbourhoods</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Low Emission Neighbourhoods</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        A low emission neighbourhood (LEN) is a scheme aimed at improving air quality and promoting sustainable living in a particular area.
        
      </div>
    
    
      
      
           
      <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/low-emission-neighbourhoods-page_rdax_400x250.jpg" alt="Low Emission Neighbourhoods logo" />
        
        
        
    </div>
    <p>We are working with the GLA and the London boroughs improve air quality through projects funded by the &pound;20m <a href="https://www.london.gov.uk/what-we-do/environment/pollution-and-air-quality/mayors-air-quality-fund">Mayor's Air Quality Fund (MAQF)</a>.</p>
<p>As part of MAQF, we are supporting 5 LENs</p>
<p>Featured schemes in a LENs include:</p>
<ul>
    <li>
    Car-free days </li>
    <li>
    Smaller green spaces such as pocket parks</li>
    <li>Green cover including vegetation on roofs</li>
    <li>
    Behaviour change initiatives</li>
    <li>No idling zones</li>
    <li>Coordinated deliveries</li>
    <li>
    Electric vehicles</li>
</ul>
<h2>Upcoming LENs</h2>
<p>These LENs will be created by April 2019:</p>
<ul>
    <li><a href="https://www.cityoflondon.gov.uk/business/environmental-health/environmental-protection/air-quality/Pages/Low-Emission-Neighbourhood.aspx">Barbican</a> (City of London)</li>
    <li><a href="https://zeroemissionsnetwork.com/len">City Fringe (Shoreditch)</a> (Hackney, Islington and Tower Hamlets)</li>
    <li><a href="http://royalgreenwich.gov.uk/lowemissionneighbourhood">Greenwich Town Centre</a> (Greenwich)</li>
    <li>Ilford Garden Junction (Newham and Redbridge)</li>
    <li><a href="http://marylebonelen.org/">Marylebone</a> (Westminster)</li>
</ul>
<p>The total LEN budget is &pound;11m including &pound;5m from the MAQF and the Ultra Low Emission Zone along with committed match funding from boroughs and private sector.</p>
 </div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/low-emissions-neighbourhoods-poster.pdf">
    <div class="document-download-text">
        <p>Download the Low Emissions Neighbourhoods poster</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.81MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.81 -->
 
</div>

</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/boroughs/index" class="heading">
                    <h2 id="sub-menu-heading">Boroughs<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/borough-funding">Borough funding</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/boroughs/planning-and-resources">Planning & resources</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/professional-services-frameworks">Professional services frameworks</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/sub-regional-transport-planning">Sub-regional transport planning</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/boroughs/low-emission-neighbourhoods">Low Emission Neighbourhoods</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/healthy-workplace-charter">Healthy Workplace Charter</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/cycling-toolkit">Cycling Toolkit</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/safety">Safety</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/street-types">Street Types for London</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/legible-london">Legible London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/bus-lane-database">Bus lane database</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/information-by-borough">Information by borough</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We're helping some London boroughs improve air quality by supporting their Low Emission Neighbourhoods";}
        
            
        


 