
    
  



@{ViewBag.Title = "Older LIPs guidance";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/boroughs/older-lips-guidance";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/boroughs/index">Boroughs</a></li>
                
            
                 <li><a href="/info-for/boroughs/borough-funding">Borough funding</a></li>
                
            
                 <li><a href="/info-for/boroughs/local-implementation-plans">Local Implementation Plans</a></li>
                
            
            
                <li><span class="last-breadcrumb">Older LIPs guidance</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Older LIPs guidance</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We are currently consulting on draft guidance for third Local Implementation Plans (LIPs). The documents on this page relate to earlier versions of LIPs.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      
<div>



<h2>Second LIPs</h2>


<p>The then-Mayor produced guidance in 2010 that set out requirements and support for London boroughs in producing their second LIPs. </p>
<p>To go along with this, a supplementary note on setting targets for second LIPs was also produced to help boroughs identify and agree LIP targets. Since then, all the boroughs have adopted their second LIP.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lip2-guidance-may-2010.pdf">
    <div class="document-download-text">
        <p>Guidance on developing second LIPs - May 2010</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.47MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.47 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/setting-targets-for-second-round-lips.pdf">
    <div class="document-download-text">
        <p>Setting targets for second round LIPs</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 390KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.38 -->
 
</div>

        <p>The Guidance was published alongside the revised <a href="/corporate/about-tfl/the-mayors-transport-strategy">Mayor's Transport Strategy</a>.</p>
    
</div>
 
<div>



<h2>LIPs mandatory indicators</h2>



        <p>Definitions for each of the five mandatory indicators.</p>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lip-mandatory-indicator-asset-condition.pdf">
    <div class="document-download-text">
        <p>Asset condition indicator</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 22KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lip-mandatory-indicator-bus-service-reliability.pdf">
    <div class="document-download-text">
        <p>Bus service reliability indicator</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 22KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lip-mandatory-indicator-co2-emissions.pdf">
    <div class="document-download-text">
        <p>CO&sup2; emissions indicator</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 43KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lip-mandatory-indicator-mode-share.pdf">
    <div class="document-download-text">
        <p>Mode share indicator</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 31KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lip-mandatory-indicator-road-traffic-casualties.pdf">
    <div class="document-download-text">
        <p>Road traffic casualties indicator</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 154KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/boroughs/index" class="heading">
                    <h2 id="sub-menu-heading">Boroughs<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/boroughs/borough-funding">Borough funding</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/boroughs/local-implementation-plans">Local Implementation Plans</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/boroughs/major-schemes">Major Schemes</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/boroughs/evaluations-programmes">Monitoring & research</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/boroughs/older-lips-guidance">Older LIPs guidance</a></div>
                                            
 
                                        </ul>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/crossrail-complementary-measures">Crossrail complementary measures</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/liveable-neighbourhoods">Liveable Neighbourhoods </a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/planning-and-resources">Planning & resources</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/information-by-borough">Information by borough</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Guidance for earlier versions of LIPs";}
        
            
        


 