
    
  



@{ViewBag.Title = "Safety";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/boroughs/safety";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/boroughs/index">Boroughs</a></li>
                
            
                 <li><a href="/info-for/boroughs/planning-and-resources">Planning & resources</a></li>
                
            
            
                <li><span class="last-breadcrumb">Safety</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Safety</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    <div class="on-this-page">
      
      
           
      
<div>



<h2>Road safety borough toolkits</h2>



        <p>We run a range of safety campaigns aimed at drivers and cyclists, teenagers, older pedestrians, motorists and powered two-wheeler riders.</p>
        <p>London boroughs can use campaign assets in their own channels, including posters, leaflets, films and radio adverts. To request toolkits, including assets, for our safety campaigns, please email <a href="mailto:marketingtoolkits&#64;tfl.gov.uk">marketingtoolkits&#64;tfl.gov.uk</a>.</p>
         
         
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/road-safety-advertising-toolkit.pdf">
    <div class="document-download-text">
        <p>Road safety advertising toolkit</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 167KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/toolkit-guide-motorists.pdf">
    <div class="document-download-text">
        <p>Motorist safety</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 90KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 
</div>
<p>You can find other road safety documents on the <a href="/corporate/publications-and-reports/road-safety">Road safety page in Publications</a>.</p>
<h3>Related contact information</h3>
<p>Borough officers with requests for personal injury road traffic collision data can contact us at <a href="mailto:collisiondata&#64;tfl.gov.uk">collisiondata&#64;tfl.gov.uk</a>.</p>
<p>(Members of the public who need collision data should contact us via our <a href="/help-and-contact/index">feedback forms</a>.)</p>
<p>Road safety audit requests: <a href="mailto:tflsafetyaudit&#64;tfl.gov.uk">tflsafetyaudit&#64;tfl.gov.uk</a>.</p>
<p>For help with 2016/17 interim target setting, or any general road safety queries, please contact: <a href="mailto:dproadsafety&#64;tfl.gov.uk">dproadsafety&#64;tfl.gov.uk</a>.</p>
</div>
 
<div>




<h2>Safe Streets for London</h2>
<p>The Safe Streets for London plan was designed to support the Vision for Cycling of former Mayor Boris Johnson, outcomes from the <a href="/corporate/publications-and-reports/roads-task-force">Roads Task Force</a>, and to build on the progress in making roads safer.</p>
<p>The plan is being delivered through a partnership of all those who design, build, manage and use London's roads.</p>
<p>Find out more about <a href="/corporate/safety-and-security/road-safety/safe-streets-for-london">Safe Streets for London</a>.</p>
<h2>Safer Travel at Night</h2>
<p>This ongoing initiative aims to raise awareness of the dangers of using unbooked
minicabs, provides access to safer travel alternatives and involves action by TfL
and the police against illegal cab activity. We produce the campaign in partnership with the Metropolitan Police Service, British Transport Police and City of London police.</p>
<p>The initiative - running since 2002 - offers several tools that boroughs can promote to help their residents and employees stay safe when travelling at night.</p>
<h3>Unbooked minicabs and illegal cabs</h3>
<p>Unbooked minicabs, illegal cabs and touts pose a serious
risk to the travelling public and are linked to some of the most serious
crimes in London including sexual assault and robbery. </p>
<p>Only taxis
(black cabs) can be hailed on the street and all minicab journeys must
be booked with a a licensed minicab operator, using an app, over the phone or at a minicab office. Any minicab that isn't booked
is illegal, uninsured for the purposes of carrying passengers, and
unsafe.</p>
<h3>Findaride</h3>
<p>Findaride is an online search facility that allows users to search for licensed private hire operators by the type of service offered (minicab, limousine, school runs etc) and the areas they serve. </p>
<p>Find out how to <a href="/info-for/open-data-users/our-open-data#on-this-page-4">add the Findaride service to your own site</a>.</p>
<h3>Talks and events</h3>
<p>If you organise or hold events and would like someone from TfL or our police partners to come along and talk about safer travel and how people can stay safe when travelling around London then please contact us. </p>
<h3>Students in your area</h3>
<p>Students, especially those new to London, may not be familiar with the rules about cabs and how to stay safe when travelling late at night. Contact us if you would like to discuss the opportunities for promoting Safer Travel at Night in London to students in your borough. </p>
<h3>Enforcement Activity and reporting problems</h3>
<p>Cab enforcement police officers across London are working with TfL to keep your residents and employees safe by cracking down on unbooked minicabs, unsafe vehicles and preventing cab related sexual offences, using both undercover and high visibility tactics to deter, detect and apprehend offenders. </p>
<p><a href="/help-and-contact/reporting-touting-and-illegal-cabs">Find out how to report any problems with unlicensed or illegal cab</a>.</p>
<div class="multi-document-download-container">
    
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/boroughs/index" class="heading">
                    <h2 id="sub-menu-heading">Boroughs<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/borough-funding">Borough funding</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/boroughs/planning-and-resources">Planning & resources</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/professional-services-frameworks">Professional services frameworks</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/sub-regional-transport-planning">Sub-regional transport planning</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/low-emission-neighbourhoods">Low Emission Neighbourhoods</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/healthy-workplace-charter">Healthy Workplace Charter</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/cycling-toolkit">Cycling Toolkit</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/boroughs/safety">Safety</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/street-types">Street Types for London</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/legible-london">Legible London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/boroughs/bus-lane-database">Bus lane database</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/boroughs/information-by-borough">Information by borough</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Related website</h3>

<div class="vertical-button-container">

<a href="http://www.tmsconsultancy.co.uk/training" class="plain-button">TMS road safety training</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Our safety campaigns include assets that London boroughs can use to promote these issues locally";}
        
            
        


 