
    
  



@{ViewBag.Title = "What is an e-bike?";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/cycling/start-cycling/electric-bikes/what-is-an-e-bike";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/cycling/index">Cycling</a></li>
                
            
                 <li><a href="/modes/cycling/cycling-in-london">Cycling in London</a></li>
                
            
                 <li><a href="/modes/cycling/cycling-in-london/electric-bikes">Electric bikes</a></li>
                
            
            
                <li><span class="last-breadcrumb">What is an e-bike?</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>What is an e-bike?</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        An e-bike, or electric bike, is a standard pedal cycle fitted with a battery and electric motor. When you pedal, the motor kicks in to take up some of the strain. Once it reaches a top speed of 15.5 mph (25 kph), it cuts out and leaves the rest up to leg power alone. You can go faster than this, but not with the help of the motor.
        
      </div>
    
    <div class="on-this-page">
      <p>Most e-bikes have a range of power settings so that you can adjust the level of assistance the bike provides. It can also be turned off completely, so you can use it like a standard pedal bike.</p>
<p>You don't need a special licence to use an e-bike*, and it doesn't need an MOT, but insurance is recommended. As long as you're at least 14 years old, you can pick one up and pedal straight out of the shop.</p>
<p>You're free to travel anywhere a regular pedal&nbsp;bike can. </p>
<p>E-bikes are easy, practical and fun, are are inexpensive to run. You're also&nbsp;free to travel anywhere a regular pedal bike can.&nbsp;</p>
<p><a href="http://ebikes.london/find-a-test-ride/">Find a free test ride</a>&nbsp;to try one out before you buy.</p>
<h2>About e-bike batteries</h2>
<p>E-bikes are fitted with a rechargeable battery that powers the motor, which helps to drive the pedals when power assistance is active. The battery is detachable and recharged via a standard mains socket, so you can bring it indoors when power is low and have it fully charged for when you next set out.</p>
<p>Batteries tend to be either mounted on the frame or fitted within specially designed racks above the back wheel, and vary in power. This is an important factor in determining what kind of range you will achieve.</p>
<p>Another factor to consider is how you use your e-bike. Advertised battery ranges often reflect ideal riding conditions and conservative battery assistance, so the range of your own battery will depend heavily on the types of rides you undertake and the level of assistance you use. For example, you can expect a battery to deplete faster when used on full power assistance in the hilly suburbs of north London, than when used on low power along the comparatively flat routes through the centre of the city.</p>
<p>However, a typical e-bike battery should last the length of a reasonable commute through London to work and back. Just choose a battery with twice your normal daily usage and you should have plenty of power to complete your ride.&nbsp;If you do ever run out of battery, you'll still be able to pedal the bike home.</p>
<h2>How much do e-bikes cost?</h2>
<p>E-bikes tend to cost more than regular bikes because of the battery and motor, and are typically priced between &pound;500 and &pound;2,500.</p>
<p>However, running costs are low &#45; they're easy and cheap to recharge, costing between 5 and 10 pence per charge &#45; and you do not need a licence*, or to pay for an MOT or Vehicle Excise Duty. You'll never have to pay for petrol either, so e-bikes are much cheaper than owning and using&nbsp;a&nbsp;car or other motor vehicle.</p>
<p>Insurance is also not required, though it is recommended that you take out a policy. Standard bicycle insurance or household insurance policies may not include e-bikes, so make sure you check the terms of any policy.</p>
<h2>The law and e-bikes</h2>
You should be aware of these legal requirements if you are considering riding an e-bike:
<ul>
    <li>You must be at least 14 years old to ride an e-bike</li>
    <li>E-bikes&nbsp;have a legal maximum motor power output of 250 watts and a power-assisted speed of up to 15.5 mph (25 kph)</li>
    <li>You must follow the rules of the road, as you would if you were using any other vehicle on the UK's roads.&nbsp;<a href="https://www.gov.uk/guidance/the-highway-code">Refer to the&nbsp;Highway Code for more information</a>.</li>
</ul>
<p><a href="https://www.gov.uk/electric-bike-rules">Learn more about the laws&nbsp;on using e-bikes</a>.</p>
<h2>Advice and further information</h2>
<p>For more information about e-bikes, we recommend you speak to one of the companies listed on the <a href="http://ebikes.london/find-a-test-ride/">e-bikeslondon website</a>, or visit other specialist e-bike websites.</p>
<p>*Except Northern Ireland, where you need to obtain a motorcycle licence to ride an e-bike, and are required to tax, insure and register your ride with the DVLA.</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/cycling/index" class="heading">
                    <h2 id="sub-menu-heading">Cycling<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/new-to-cycling">Get started with cycling</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/santander-cycles">Santander Cycles</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london">Cycling in London</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/rider-profiles">Rider stories</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/cycle-skills">Cycle Skills</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/avoid-theft">Protect your bike from theft</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/cycle-parking">Cycle parking</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/bikes-on-public-transport">Bikes on public transport</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/cycling-with-children">Cycling with children</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/electric-bikes">Electric bikes</a></div>
                                        <ul>
                                            
                                                <li class="selected"><div class="link-wrapper"><a href="/modes/cycling/start-cycling/electric-bikes/what-is-an-e-bike">What is an e-bike?</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/start-cycling/electric-bikes/is-an-e-bike-for-me">Is an e-bike for me?</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps">Routes & maps</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Information on e-bikes, their batteries, how much they cost and the law around using them";}
        
            
        


 