
    
  



@{ViewBag.Title = "Crossrail alerts";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/suppliers-and-contractors/health-safety-and-environment/crossrail/crossrail-alerts";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/suppliers-and-contractors/index">Suppliers & contractors</a></li>
                
            
                 <li><a href="/info-for/suppliers-and-contractors/health-safety-environment">Health, safety & environment</a></li>
                
            
                 <li><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/crossrail">Crossrail</a></li>
                
            
            
                <li><span class="last-breadcrumb">Crossrail alerts</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Crossrail alerts</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    <div class="on-this-page">
      
      
           
      
<div>



<h2>Crossrail alerts (2015)</h2>



<div class="multi-document-download-container">
    
</div>

</div>
 
<div>



<h2>Crossrail alerts (2014)</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/counterfeit-competence-skills-cards-june-2014.pdf">
    <div class="document-download-text">
        <p>Counterfeit competence/skills cards</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 469KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.46 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fbu-industrial-action-days-june-2014.pdf">
    <div class="document-download-text">
        <p>Industrial action - Fire Brigade Union - June 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 275KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.27 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fire-brigade-union-industrial-action-days-april-2014.pdf">
    <div class="document-download-text">
        <p>Industrial action - Fire Brigade Union - May 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 277KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.27 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/safe-use-of-plate-compactor-may-2014.pdf">
    <div class="document-download-text">
        <p>Safe use of plate compactor</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 603KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.59 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/delivery-vehicle-handbrake-failure-may-2014.pdf">
    <div class="document-download-text">
        <p>Delivery vehicle handbrake failure</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 470KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.46 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/chandelier-lifts-april-2014.pdf">
    <div class="document-download-text">
        <p>Chandelier lifts</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 375KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.37 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/exclsuion-zones-restricted-zones2-april-2014.pdf">
    <div class="document-download-text">
        <p>Exclusion / restricted zones</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 441KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.43 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/exclsuion-zones-and-restricted-zones-april-2014.pdf">
    <div class="document-download-text">
        <p>Exclusion / restricted zones - 7 March 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 403KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.39 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/slips-trips-and-falls-march-2014.pdf">
    <div class="document-download-text">
        <p>Slips, trips and falls</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 546KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.53 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/segregation-of-plant-and-people-march-2014.pdf">
    <div class="document-download-text">
        <p>Segregation of plant and people (non Crossrail)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 617KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.60 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/scaffold-board-integrity-march-2014.pdf">
    <div class="document-download-text">
        <p>Scaffold board integrity</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 714KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.70 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/excavator-slew-ring-failure-march-2014.pdf">
    <div class="document-download-text">
        <p>Excavator slew ring failure</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 464KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.45 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/routine-plant-inspections-march-2014.pdf">
    <div class="document-download-text">
        <p>Routine plant inspections</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 455KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.44 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/safety-stand-down-march-2014.pdf">
    <div class="document-download-text">
        <p>Safety stand down</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 707KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.69 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/hot-works-march-2014.pdf">
    <div class="document-download-text">
        <p>Hot works</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 513KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.50 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/petrol-saw-fire-march-2014.pdf">
    <div class="document-download-text">
        <p>Petrol saw fire</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 393KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.38 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/welfare-maintenance-april-2014.pdf">
    <div class="document-download-text">
        <p>Welfare maintenance</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 392KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.38 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/traffic-marshall-struck-by-vehicle-february-2014.pdf">
    <div class="document-download-text">
        <p>Travel marshal struck by vehicle exiting site</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 493KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.48 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/welfare-unit-fire-february-2014.pdf">
    <div class="document-download-text">
        <p>Welfare unit fire</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 479KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.47 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/changes-to-riddor-january-2014.pdf">
    <div class="document-download-text">
        <p>Changes to RIDDOR - Jan 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 423KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.41 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fatality-non-crossrail-january-2014.pdf">
    <div class="document-download-text">
        <p>Fatality (non-Crossrail)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 384KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.37 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fly-jib-sheared-on-pick-and-carry-crane-january-2014.pdf">
    <div class="document-download-text">
        <p>Fly jib sheared on pick and carry crane</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 518KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.51 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/near-miss-involving-pick-and-carry-crane-january-2014.pdf">
    <div class="document-download-text">
        <p>Near miss involving pick and carry crane</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 480KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.47 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/staying-focused-january-2014.pdf">
    <div class="document-download-text">
        <p>Staying focused</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 501KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.49 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/strangulation-non-crossrail-january-2014.pdf">
    <div class="document-download-text">
        <p>Strangulation (non Crossrail)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 402KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.39 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/use-of-hoodies-january-2014.pdf">
    <div class="document-download-text">
        <p>Use of hoodies</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 548KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.54 -->
 
</div>

</div>
 
<div>



<h2>Crossrail alerts (2013)</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/crane-access-november-2013.pdf">
    <div class="document-download-text">
        <p>Crane access arrangements</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 464KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.45 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/safe-use-of-lifting-equipment-december-2013.pdf">
    <div class="document-download-text">
        <p>Safe use of lifting equipment</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 473KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.46 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/failure-of-lifting-accessory-december-2013.pdf">
    <div class="document-download-text">
        <p>Failure of lifting accessory</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 514KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.50 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/breaker-attachment-failure-december-2013.pdf">
    <div class="document-download-text">
        <p>Breaker attachment failure</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 484KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.47 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/12-tips-for-the-festive-period-december-2013.pdf">
    <div class="document-download-text">
        <p>12 tips for the festive period</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 588KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.57 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/slewing-plant-fatality-hong-kong-november-2013.pdf">
    <div class="document-download-text">
        <p>Slewing plant fatality (Hong Kong)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 433KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.42 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/refuelling-systems-novmeber-2013.pdf">
    <div class="document-download-text">
        <p>Refuelling equipment operations</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 281KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.27 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fire-brigade-industrial-action-days-december-2013.pdf">
    <div class="document-download-text">
        <p>Industrial action - Fire Brigade Union</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 379KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.37 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tower-crane-access-december-2013.pdf">
    <div class="document-download-text">
        <p>Tower crane access</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 536KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.52 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/winter-weather-conditions-october-2013.pdf">
    <div class="document-download-text">
        <p>Winter weather warning</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 396KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.39 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fire-brigade-industrial-action-days-october-2013.pdf">
    <div class="document-download-text">
        <p>Industrial action - Fire Brigade Union - October 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 344KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.34 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fire-brigade-industrial-action-days-november-2013.pdf">
    <div class="document-download-text">
        <p>Industrial action - Fire Brigade Union - September 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 348KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.34 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/remote-control-lorry-loaders-august-2013.pdf">
    <div class="document-download-text">
        <p>Remote control lorry loaders</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 380KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.37 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/concrete-pumping-line-connection-failure-july-2013.pdf">
    <div class="document-download-text">
        <p>Concrete pumping line connection failure</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 457KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.45 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/misuse-failure-mode-on-folk-attachment-july-2013.pdf">
    <div class="document-download-text">
        <p>Misuse failure mode on folk attachment</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 488KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.48 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/heat-in-the-workplace-july-2013.pdf">
    <div class="document-download-text">
        <p>Heat in the workplace</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 274KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.27 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/use-of-knives-on-crossrail-july-2013.pdf">
    <div class="document-download-text">
        <p>Use of knives on Crossrail</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 413KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.40 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/injured-using-angle-grinder-july-2013.pdf">
    <div class="document-download-text">
        <p>Injured using angle grinder</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 517KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.50 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/genie-level-sensors-recall-july-2013.pdf">
    <div class="document-download-text">
        <p>Genie safety notice - level sensors recall</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 406KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.40 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/genie-135-70-incident-june-2013.pdf">
    <div class="document-download-text">
        <p>Genie Z135 incident (work at height fatality)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 422KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.41 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/suspension-from-use-of-rexquote-genie-june-2013.pdf">
    <div class="document-download-text">
        <p>Suspension from use of accessrailers</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 514KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.50 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lifting-tc125-e-tunnelling-machine-june-2013.pdf">
    <div class="document-download-text">
        <p>TC125 - E-Tunnelling Machine</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 419KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.41 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/screw-bolt-fixing-failures-may-2013.pdf">
    <div class="document-download-text">
        <p>Screw bolt fixing failures</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 448KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.44 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/meyco-potenza-concrete-spraying-unit-may-2013.pdf">
    <div class="document-download-text">
        <p>Meyco Potenza concrete spraying unit</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 283KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.28 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/whip-arrestors-april-2013.pdf">
    <div class="document-download-text">
        <p>Whip arrestors</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 400KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.39 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/fluke-electrical-equipment-recall-march-2013.pdf">
    <div class="document-download-text">
        <p>Fluke electrical equipment recall</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 341KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.33 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/theft-of-survey-equipment-february-2013.pdf">
    <div class="document-download-text">
        <p>Theft of survey equipment</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 301KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.29 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/office-safety-february-2013.pdf">
    <div class="document-download-text">
        <p>Office safety</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 376KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.37 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/protecting-tbtc-loop-cable-february-2013.pdf">
    <div class="document-download-text">
        <p>Protecting the TBTC Loop cable</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 666KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.65 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/monitoring-equipment-february-2013.pdf">
    <div class="document-download-text">
        <p>Use of instrumentation and monitoring assets</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 373KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.36 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lifting-operation-fatality-non-crossrail-site-february-2013.pdf">
    <div class="document-download-text">
        <p>Lifting operation fatality (non Crossrail site)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 416KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.41 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/buried-service-strike-at-high-holborn-january-2013.pdf">
    <div class="document-download-text">
        <p>Buried Service Strike - High Holborn</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 649KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.63 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Crossrail alerts";}
        
            
        


 