
    






















@section adverts {
    <div class="top-banner-advert" aria-hidden="true">
        <div class="large" data-advert="/76889402/driving/low_emission_zone" data-advert-sizes="970, 90|970, 250"></div>
        <div class="medium" data-advert="/76889402/driving/low_emission_zone" data-advert-sizes="728, 90"></div>
        <div class="small" data-advert="/76889402/driving/low_emission_zone" data-advert-sizes="300, 50|320, 50"></div>
    </div>
}


 
  



@{ViewBag.Title = "Changes to the LEZ";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/low-emission-zone/changes-to-the-lez";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                 <li><a href="/modes/driving/low-emission-zone">Low Emission Zone</a></li>
                
            
            
                <li><span class="last-breadcrumb">Changes to the LEZ</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Changes to the LEZ</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>From 26 October 2020, Low Emission Zone (LEZ) standards will be tighter. Heavy vehicles including lorries, buses and coaches will need to meet the new standards or pay a daily charge to drive within the zone.</p>
        
      </div>
    
    <div class="on-this-page">
      <h2>Emissions standards</h2>

<p>Current LEZ emissions standards set a limit for how much particulate matter (PM) a vehicle may emit. PM is very fine particles of pollutants which can contribute to asthma, heart and lung disease, other respiratory illnesses and even early death.</p>

<p>From 26 October 2020 the LEZ emission standards for heavy vehicles will also set a limit for emissions of nitrogen oxides (NOx), which form harmful nitrogen dioxide (NO2) in the atmosphere. Vehicles need to meet the LEZ emissions standards based on vehicle type and the type of emission.</p>

<p><strong>From 26 October 2020, LEZ standards will be:</strong></p>

<ul>
	<li><strong>Euro VI</strong> for buses and coaches over 5 tonnes, lorries and other specialist vehicles over 3.5 tonnes - this is the same as the ULEZ standard (these vehicles will no longer need to pay a separate ULEZ charge)</li>
	<li><strong>Euro 3</strong> for PM for larger vans and minibuses - this is the same as the current LEZ standard</li>
</ul>

<p>If you drive a larger van or minibus within the ULEZ area, you also need to pay the ULEZ charge if you do not meet the ULEZ standard of Euro 4 petrol/Euro 6 diesel.</p>
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/ruc-cdn/static/cms/documents/lez-ulez-comparison-table.pdf">
    <div class="document-download-text">
        <p>ULEZ and LEZ emissions standards and charges</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 38KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 
</div>
<p>Explore some of the <a href="/modes/driving/low-emission-zone/ways-to-meet-the-standards">ways to meet the LEZ standards</a>.</p>
</div>
 <div>

<h2>Meeting the standards</h2>

<p>Your vehicle registration document (V5C) will help identify your vehicle's Euro emission standard.</p>

<p>The LEZ is enforced based on declared emissions of the vehicle rather than age, but Euro VI engines are generally those registered with the DVLA after 2014.</p>

<p>Vans and minibuses registered on or after 1 January 2002 will meet the existing Euro 3 emissions standard, which is not changing.</p>

<p>Vehicles which meet the ULEZ standards will already meet the tighter LEZ standards.</p>

<h3>Vehicle types that may not meet the tighter LEZ standards (if registered as new before 2014)</h3>

<h4>More than 3.5 tonnes gross vehicle weight</h4>

<p>Lorries<br />
Motor caravans<br />
Motorised horseboxes<br />
Breakdown and recovery vehicles<br />
Snow ploughs<br />
Gritters<br />
Refuse collection vehicles<br />
Road sweepers<br />
Concrete mixers<br />
Fire engines<br />
Tippers<br />
Removal lorries<br />
Other specialist vehicles</p>

<h4>More than 5 tonnes gross vehicle weight</h4>

<p>Buses<br />
Coaches (with 8+ passenger seats)</p>

<h3>Vehicles types not meeting current or tighter LEZ standards (if registered as new before 1 January 2002)</h3>

<h4>Over 1.205 tonnes unladen up to and including 3.5 tonnes gross vehicle weight</h4>

<p>Larger vans<br />
Motorised horseboxes<br />
4x4 light utility vehicles<br />
Pick-ups<br />
Other specialist vehicles</p>

<h4>2.5 - 3.5 tonnes gross vehicle weight</h4>

<p>Motor caravans<br />
Ambulances</p>

<h4>5 tonnes or less gross vehicle weight</h4>

<p>Minibuses (with 8+ passenger seats)</p>

<h2>How charges and penalties will change</h2>

<h3>From 26 October 2020</h3>

<p>If you drive a bus, coach, lorry or other specialist vehicle over 3.5 tonnes within the LEZ and it:</p>

<ul>
	<li>Does not meet Euro VI, you will need to pay a daily charge of &pound;100</li>
	<li>Does not meet Euro IV PM standard, you will need to pay &pound;300</li>
	<li>When the LEZ standards tighten, you will no longer need to pay a separate ULEZ charge if you drive a bus, lorry or other specialist vehicle over 3.5 tonnes.</li>
	<li>If your larger van or minibus does not meet Euro 3, you will need to pay a daily LEZ charge of &pound;100. If you drive a larger van or minibus within the ULEZ area you will also need to pay the daily ULEZ charge if you do not meet the ULEZ standard of Euro 4 petrol/Euro 6 diesel.</li>
</ul>

<p><a href="/modes/driving/low-emission-zone/penalty-charges">Penalty charges will also change from 26 October 2020.</a></p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
                <a href="/modes/driving/low-emission-zone" class="heading">
                    <h3 id="sub-menu-heading" class="h2">Low Emission Zone<span class="visually-hidden"> navigation</span></h3>
                </a>
                <ul>
                    
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/about-the-lez">LEZ: Where and when</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/make-a-payment">Pay a LEZ charge</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/ways-to-meet-the-standards">Ways to meet the LEZ standards</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/find-out-if-you-need-to-register">Find out if you need to register</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/check-if-your-vehicle-is-affected">Check if your vehicle is affected</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/penalty-charges">Penalty charges for the LEZ</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/manufacturers-and-fitters">Manufacturers and fitters</a></div></li>
                            
 
                                <li class="selected" aria-label="selected page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/changes-to-the-lez">Changes to the LEZ</a></div>
                            </li>
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/contact-lez">Contact LEZ</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/driving/lez" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/driving/lez" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

     @section scripts {
<div class="bottom-advert ">
    <div class="close-ad-button visually-hidden"><span class="close-icon-circle"></span></div>
    <div data-advert="/76889402/driving/" data-advert-sizes="320, 50"></div>
</div>
}

 
        
        
        
            @{ViewBag.Description = "From 26 October 2020, Low Emission Zone (LEZ) standards will be tighter. Heavy vehicles including lorries, buses and coaches will need to meet the new standards or pay a daily charge to drive within the zone.";}
        
            
        


 