
    
  



@{ViewBag.Title = "Santander Cycles membership";}
@{ViewBag.Keywords = "Cyclists,Cycling,TfL";}
@{ViewBag.Url = "/modes/cycling/santander-cycles/register-for-your-own-key";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/cycling/index">Cycling</a></li>
                
            
                 <li><a href="/modes/cycling/santander-cycles">Santander Cycles</a></li>
                
            
            
                <li><span class="last-breadcrumb">Santander Cycles membership</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Santander Cycles membership</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        If you use Santander Cycles regularly and aren't already a registered user, why not sign up to make hiring bikes even quicker?<BR>
        
      </div>
    
    
      
      
           
      <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/santander-british-museum.jpg" alt="Santander Cycles at the British Museum" />
        
        
        
    </div>   
 </div>
 <div>

<p>Membership gives you faster, cost effective bike access, giving you more time to explore London. Benefits include:</p>

<ul>
	<li>Quicker access to the bikes with your own key</li>
	<li>Save money with yearly access to the bikes for &pound;90 - that's just 25p per day</li>
	<li>Pay as you go costs &pound;2 for 24 hour access plus any extra ride charges for journeys over 30 minutes</li>
</ul>

<p>It's easy to join - you can become a member using the Santander Cycles app, or by setting up an online account.</p>

<h2>Students save 25%</h2>

<p>If you're 18 or over and studying in London, you can hire a Santander Cycle for a year for &pound;67.50. To get your discount, <a href="https://www.myunidays.com/GB/en-GB/partners/tfl/view/online">log in to UNIDAYS</a>. You'll receive an email with your code which you can use when you <a href="https://santandercycles.tfl.gov.uk/Registration">buy yearly membership</a>.</p>

<ul>
</ul>

<h2>Santander Cycles app</h2>

<p>The Santander Cycles app sends a release code direct to your smartphone, letting you skip past the terminal and get on your bike quicker. <a href="/modes/cycling/santander-cycles/community">Find out more about the app</a>.</p>

<h2>Online membership</h2>

<p>Online membership gives you a handy monthly overview of your rides. Once you've taken 5 trips, we'll email you a monthly activity statement showing how far you've gone, total distance and calories burnt. You'll get a yearly activity report too. You can also:</p>

<ul>
	<li>
	<p>Register for a key - get faster access to Santander Cycles by <a href="https://santandercycles.tfl.gov.uk/Registration">registering for a cycle hire key</a>. They cost a one-off fee of &pound;3</p>
	</li>
	<li>
	<p>Activate your key - shortly after you've registered for your key, you'll receive a welcome pack in the post. <a href="https://santandercycles.tfl.gov.uk/">When the key arrives, you can activate it online</a></p>
	</li>
	<li>
	<p>Order extra keys - if you want to ride with family and friends you can order extra keys when you sign up</p>
	</li>
</ul>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        <div class="login-widget option-one moving-source-order">

    <h3>My account</h3>
    <a href="https://santandercycles.tfl.gov.uk/" class="primary-button">Sign in</a>
    <p>Not signed up? <a href="https://santandercycles.tfl.gov.uk/Registration">Become a member</a></p>
</div>
 
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/cycling/index" class="heading">
                    <h2 id="sub-menu-heading">Cycling<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/new-to-cycling">Get started with cycling</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/modes/cycling/santander-cycles">Santander Cycles</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/how-it-works">How it works</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/what-you-pay">What you pay</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/find-a-docking-station">Find a docking station</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/register-for-your-own-key">Santander Cycles membership</a></div>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/leisure-routes">Leisure routes</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/lost-stolen-or-faulty">Lost, stolen or faulty</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/community">Santander Cycles app</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/suggestions-and-complaints">Suggestions & complaints</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/business-accounts">Santander Cycles business accounts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/blaze-laserlights">Blaze Laserlights</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london">Cycling in London</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps">Routes & maps</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/cycle_hire" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/cycle_hire" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Regular users can get a key for quick access to Santander Cycles";}
        
            
        


 