
    
  



@{ViewBag.Title = "Community Ambassador open days";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/dlr/ambassador-open-days";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/dlr/index">DLR</a></li>
                
            
                 <li><a href="/modes/dlr/dlr-ambassadors">DLR ambassadors</a></li>
                
            
            
                <li><span class="last-breadcrumb">Community Ambassador open days</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Community Ambassador open days</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        DLR ambassadors host drop-in sessions at local supermarkets, community centres and other locations. These sessions offer information and advice about travelling on the DLR, engineering works and accessibility trips.
        
      </div>
    
    <div class="on-this-page">
      <h2>Lucy Sabia</h2>
<p>Contact Lucy at <a href="mailto:ambassadors&#64;keolisameydlr.co.uk">ambassadors&#64;keolisameydlr.co.uk</a> or follow <a href="https://twitter.com/LondonDLR?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">&#64;LondonDLR</a> for dates and times of open days at the following locations.</p>
<h3>ASDA in Beckton</h3>
<p>Tollgate Road, Beckton E6 4JP<br />
Nearest DLR: Beckton</p>
<h3>Canning Town Library</h3>
<p>Barking Road E16 4HB<br />
Nearest DLR: Beckton</p>
<h3>The Globe Library</h3>
<p>1 Kingsford Way, Beckton E6 5JQ<br />
Nearest DLR: Beckton</p>
<h3>The Co-operative Food</h3>
<p>24 Barking Road E16 1TU<br />
Nearest DLR: Canning Town</p>
<h3>Beckton Community Centre</h3>
<p>14 East Ham Manor Way E6 5NG<br />
Nearest DLR: Beckton and Cyprus</p>
<h2>Lorna Samuel</h2>
<p>Contact Lorna at <a href="mailto:ambassadors&#64;keolisameydlr.co.uk">ambassadors&#64;keolisameydlr.co.uk</a> or follow <a href="https://twitter.com/LondonDLR?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">&#64;LondonDLR</a> for dates and times of open days at the following locations.</p>
<h3>Wilkinson</h3>
<p>45 Woolwich New Road SE18 6EU<br />
Nearest DLR: Woolwich Arsenal</p>
<h3>Woolwich Library at the Woolwich Centre</h3>
<p>35 Wellington Street SE18 6HQ<br />
Nearest DLR: Woolwich Arsenal</p>
<h3>Tesco Extra</h3>
<p>Grand Depot Road, Woolwich SE18 6HQ<br />
Nearest DLR: Woolwich Arsenal</p>
<h2>Mohammed A. Salam</h2>
<p>Contact Mohammed at <a href="mailto:ambassadors&#64;keolisameydlr.co.uk">ambassadors&#64;keolisameydlr.co.uk</a> or follow <a href="https://twitter.com/LondonDLR?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">&#64;LondonDLR</a> for dates and times of open days at the following locations.</p>
<h3>Ideas Store Watney Market</h3>
<p>260 Commercial Road E1 2FB<br />
Nearest DLR: Shadwell</p>
<h3>Multicultural Centre</h3>
<p>Harford Street Multicentre<br />
1st floor, 115 Harford Street E1 4FS<br />
Nearest DLR: Limehouse</p>
<h3>Queen Mary University of London</h3>
<p>Queen Mary University of London<br />
Mile End Road<br />
London E1 4NS<br />
Nearest DLR: Limehouse</p>
<hr />
<h2>Charlene Marks</h2>
<p>Contact Charlene at <a href="mailto:ambassadors&#64;keolisameydlr.co.uk">ambassadors&#64;keolisameydlr.co.uk</a> or follow  <a href="https://twitter.com/LondonDLR?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">&#64;LondonDLR</a> for dates and times of open days at the following locations.</p>
<h3>ASDA in Crossharbour</h3>
<p>151 East Ferry Road E14 3BT<br />
Nearest DLR: Crossharbour</p>
<h3>Tesco Express</h3>
<p>41 Millharbour, Isle of Dogs, E14 9NA<br />
</p>
<h3>Greenwich Stockwell Street Library</h3>
<p>10 Stockwell Street, Greenwich SE10 9BD<br />
Nearest DLR: Cutty Sark<br />
</p>
<h3>Cubitt Town Library</h3>
<p>52 Strattondale St, Isle of Dogs, London E14 3HG<br />
Nearest DLR: Crossharbour</p>
<h3>Premium Inn Westfield</h3>
<p>Westfield Stratford City, 9 Montfichet Rd, London E20 1EE<br />
Nearest DLR: Stratford</p>
<hr />
<h2>Lynsey Peat</h2>
<p>Contact Lynsey at <a href="mailto:ambassadors&#64;keolisameydlr.co.uk">ambassadors&#64;keolisameydlr.co.uk</a> or follow <a href="https://twitter.com/LondonDLR?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">&#64;LondonDLR</a> for dates and times of open days at the following locations.</p>
<h3>Idea Store Canary Wharf</h3>
<p>Churchill Place, E14 5RB<br />
Nearest DLR: Heron Quays</p>
<h3>Idea Store Chrisp Street</h3>
<p>185 E India Dock Rd, Poplar, London E14 6BT </p>
<p>Nearest DLR: All Saints</p>
<h3 ><br />
Holiday Inn Westfield</h3>
<p>10a Chestnut Plaza, London E20 1GL<br />
Nearest DLR: Stratford</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/dlr/index" class="heading">
                    <h2 id="sub-menu-heading">DLR<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/modes/dlr/dlr-ambassadors">DLR ambassadors</a></div>
                                <ul>
                                    
                                        <li class="selected"><div class="link-wrapper"><a href="/modes/dlr/ambassador-open-days">Community Ambassador open days</a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/modes/dlr/improving-the-dlr">Improving the DLR</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/dlr" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/dlr" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact DLR   </h3>
         </div>
        
        
        
        
        <div class="content-group">
            <p>
                
                
                <abbr title="Telephone number">Phone</abbr>: 0343 222 1234 (DLR Lost Property 020 7363 9550)<br />
                
                
                
                
                <abbr title="Fax number">Fax</abbr>: 0343 222 7000<br />
                <abbr title="Textphone">Textphone</abbr>: 0800 112 3456
            </p>
            <p><a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a><br />
08:00-20:00 seven days a week</p>
        </div>
        
        <div class="content-group">
            <h4>TfL Customer Services</h4>
            
            <p>
                
                4th Floor<br />
                14 Pier Walk<br />
                
                London SE10 0ES
            </p>
            
            
        </div>
        
                
        <div class="vertical-button-container clearfix">
            <a href="/help-and-contact/contact-dlr" class="plain-button">Contact DLR</a>
        </div>
        
    </div>
</div>
 <div class="follow-social twitter">
  
  <div class="social-image">
    <span class="mode-icon dlr">&nbsp;</span>
  </div>
  <div class="social-text">
    <h3>Twitter travel advice</h3>
    <p>News and customer service</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="https://twitter.com/LondonDLR">Follow &#64;LondonDLR</a>
  </div> 
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://www.londontravelwatch.org.uk/home/" class="plain-button">London TravelWatch</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "DLR ambassadors host drop-in sessions at local supermarkets, community centres and other locations. These sessions offer information and advice about travelling on the DLR, engineering works and accessibility trips. ";}
        
            
        


 