
    
  



@{ViewBag.Title = "Improving the DLR";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/dlr/improving-the-dlr";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/dlr/index">DLR</a></li>
                
            
            
                <li><span class="last-breadcrumb">Improving the DLR</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Improving the DLR</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Improved frequency and capacity on many DLR services. 
        
      </div>
    
    
      
      
           
      <div>

<h2>New escalators at Limehouse</h2>

<p>We have installed new escalators at the main entrance to the westbound DLR platform at Limehouse station making it easier to get around. The new escalators will help to ease congestion at peak times, improve the accessibility of the station and reduce the time it takes to change between the westbound DLR and c2c platforms.</p>

<p>The installation of&nbsp;a new&nbsp;ramp is also now complete, improving accessibility around the station..</p>

<h2>DLR cars get new seats</h2>

<p>DLR services are getting busier each year so we've introduced a new seating layout to increase the space available within the train, as well as it making it easier to board.</p>

<p>Our 55 B2007 stock vehicles have been converted to a longitudinal seating layout: this means that most of the seats are against the walls instead of being in the middle of the cars. The transverse seats at either end are unchanged.</p>

<p>The converted cars have exactly the same number of seats and they're wider than they were before, making it easier for standing customers to move down between the seats.</p>

<p>A review of the new seating arrangement showed that passengers are now moving down inside the train more than they were before, thanks to the extra room that has been created between the seats and the new grab poles.</p>

<p>Overall, this means that we can now accommodate more passengers on board each of these trains at the busiest times.</p>
</div>
 <div>

<h2>Reinvestment</h2>

<p>DLR customers&nbsp;will benefit from new walk-through trains from 2022.</p>

<p>The new trains, which will increase capacity by over 30%, will be more reliable and&nbsp;have real time information, air-conditioning and mobile device charging points.</p>

<p>To support growth in the Docklands area, TfL will replace two thirds of the existing trains, some of which are 25 years old, and order an additional 10 new trains to provide even more capacity.</p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/dlr/index" class="heading">
                    <h2 id="sub-menu-heading">DLR<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/modes/dlr/dlr-ambassadors">DLR ambassadors</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/modes/dlr/improving-the-dlr">Improving the DLR</a></div>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/dlr" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/dlr" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="vertical-button-container">



<a href="/travel-information/improvements-and-projects/index"  class="plain-button">See all improvements and projects</a>

</div>

      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Improved frequency and capacity on many DLR services. ";}
        
            
        


 