
    
  



@{ViewBag.Title = "HGVs, lorries, buses & coaches";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/low-emission-zone/check-if-your-vehicle-is-affected/hgvs-lorries-buses-and-coaches";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                 <li><a href="/modes/driving/low-emission-zone">Low Emission Zone</a></li>
                
            
                 <li><a href="/modes/driving/low-emission-zone/check-if-your-vehicle-is-affected">Check if your vehicle is affected</a></li>
                
            
            
                <li><span class="last-breadcrumb">HGVs, lorries, buses & coaches</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>HGVs, lorries, buses & coaches</h1>

  </div>
</div>
<div class="main-and-aside r">
  
<div class="login-aside">
                @{
                    Html.RenderAction(
                        "UserLoginBox", 
                        "Account", 
                        new { 
                            Area = "Ruc", 
                            returnUrl = "/modes/driving/account-account-landing-29377"
                        }
                    );
                }
            </div>
      

 
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>If you want to drive a lorry, bus, coach or other specialist heavy diesel vehicle in the Low Emission Zone (LEZ) without paying a daily charge, it needs to meet certain emissions standards.</p>
        
      </div>
    
    <div class="on-this-page">
      <p>Currently, these vehicles must meet the Euro IV standard for particulate matter (PM), whether used for commercial or for private purposes.</p>

<p>On 26 October 2020 we will introduce <a href="/modes/driving/low-emission-zone/changes-to-the-lez">stronger LEZ emissions standards</a> London-wide for heavy vehicles including lorries, buses and coaches.</p>

<p>Petrol or diesel vehicles in central London must also meet new <a href="https://tfl.gov.uk/modes/driving/ultra-low-emission-zone/ways-to-meet-the-standard">Ultra Low Emission Zone (ULEZ) standards</a>, even if you meet LEZ standards.</p>

<p>&nbsp;</p>

<h2>What are the emissions standards?</h2>

<p>The LEZ emissions standards are based on Euro standards for the emission of PM. PM is very fine particles of soot emitted by vehicles, which have an effect on health. This type of pollution can contribute to asthma, heart and lung disease, other respiratory illnesses and even early death.</p>

<p>The age and weight of a vehicle indicate the level of PM it produces.</p>

<p>The table below shows those diesel vehicles which don't meet the LEZ emissions standards. If you own any of the vehicles listed, you will need to take action before driving within the LEZ, or <a href="/modes/driving/pay-to-drive-in-london">pay the daily charge</a>.</p>

<div class="table-container">
<div class="table-container"><table>
	<thead>
		<tr>
			<th colspan="2" id="table_heading_0" rowspan="1"><strong>Diesel vehicles that don't meet the LEZ emissions standards (when registered as new before 1 October 2006)</strong></th>
		</tr>
		<tr>
			<th colspan="1" id="table_heading_1" rowspan="1"><strong>Vehicle type</strong></th>
			<th colspan="1" id="table_heading_2" rowspan="1"><strong>Weight </strong></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td headers="table_heading_0">Lorries<br />
			Motor caravans<br />
			Motorised horseboxes<br />
			Breakdown and recovery vehicles<br />
			Snow ploughs<br />
			Gritters<br />
			Refuse collection vehicles<br />
			Road sweepers<br />
			Concrete mixers<br />
			Fire engines<br />
			Tippers<br />
			Removal lorries<br />
			Other specialist vehicles</td>
			<td headers="table_heading_2">More than 3.5 tonnes gross vehicle weight</td>
		</tr>
		<tr>
			<td headers="table_heading_0">Buses<br />
			Coaches (with 8+ passenger seats)</td>
			<td headers="table_heading_2">More than 5 tonnes gross vehicle weight</td>
		</tr>
	</tbody>
</table></div>
</div>

<p>If your vehicle isn't included in this table, use our tools to <a href="/modes/driving/low-emission-zone/check-if-your-vehicle-is-affected">check if your vehicle is affected</a>.</p>

<p>If your vehicle is affected by the LEZ, <a href="/modes/driving/low-emission-zone/ways-to-meet-the-standards">find out what your options are</a>.</p>

<h2>Early adopters</h2>

<p>Some vehicles first registered shortly before 1 October 2006 will also meet the LEZ Euro IV standard as some manufacturers started producing and using engines which met the Euro IV standard before this date. These vehicles are known as 'early adopters'.</p>
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/ruc-cdn/static/cms/documents/early-adopters.pdf">
    <div class="document-download-text">
        <p>Find out if your vehicle is an early adopter and what you need to do</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 752KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.73 -->
 
</div>

</div>
 <div>

<p>Vehicles need to meet the Euro IV standard for PM. Vehicles registered as new on or after 1 October 2006 are assumed to meet these standards.</p>

<h2>Does my vehicle meet the standards?</h2>

<p>The quickest way to check if your vehicle meets the standards is to enter your number plate details into our vehicle checker or use our vehicle type tool.</p>

<p><a href="/modes/driving/low-emission-zone/check-if-your-vehicle-is-affected">Check if your vehicle is affected</a>.</p>

<p>Your vehicle <strong>will </strong>meet the current emissions standards if:</p>

<ul>
	<li>It was first registered as new <strong>on or after 1 October 2006</strong>, or</li>
	<li>You have received a Low Emission Certificate (LEC) or a Reduced Pollution Certificate (RPC) for fitting an approved full filter or converting to an approved gas engine</li>
</ul>

<p>You will then be free to drive within the LEZ without taking any action.</p>

<p>Your vehicle <strong>will not</strong> meet the current emissions standards if:</p>

<ul>
	<li>It was first registered as new any time <strong>before 1 October 2006</strong>, or</li>
	<li>You currently hold a LEC or an RPC but you have only fitted a partial filter, or</li>
	<li>You have received a LEC or an RPC for an Eligible Engine (these no longer meet the LEZ standards), or</li>
	<li>You have received an RPC which has box 'M' ticked (this can be found under the 'Particulate trap fitted or modification type used' section of the certificate)</li>
</ul>

<p>If any of these are true, then you'll need to take action if you want to drive within the LEZ without paying the daily charge.</p>

<p><a href="/modes/driving/low-emission-zone/manufacturers-and-fitters">Find out more about vehicles with LECs and RPCs.</a></p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
                <a href="/modes/driving/low-emission-zone" class="heading">
                    <h3 id="sub-menu-heading" class="h2">Low Emission Zone<span class="visually-hidden"> navigation</span></h3>
                </a>
                <ul>
                    
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/about-the-lez">LEZ: Where and when</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/make-a-payment">Pay a LEZ charge</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/ways-to-meet-the-standards">Ways to meet the LEZ standards</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/find-out-if-you-need-to-register">Find out if you need to register</a></div></li>
                            
 
                                <li class="selected parent" aria-label="selected page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/check-if-your-vehicle-is-affected">Check if your vehicle is affected</a></div>
                                <ul>
                                    
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/check-if-your-vehicle-is-affected/exemptions-and-discounts">Exemptions & discounts</a></div></li>
                            
 
                                        <li class="selected" aria-label="selected page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/check-if-your-vehicle-is-affected/hgvs-lorries-buses-and-coaches">HGVs, lorries, buses & coaches</a></div>
                                    </li>
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/check-if-your-vehicle-is-affected/lgvs-vans-minibuses-and-4x4s">LGVs, vans, minibuses and 4x4s</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/penalty-charges">Penalty charges for the LEZ</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/manufacturers-and-fitters">Manufacturers and fitters</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/changes-to-the-lez">Changes to the LEZ</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/low-emission-zone/contact-lez">Contact LEZ</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/driving/lez" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/driving/lez" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div>
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/modes/driving/congestion-charge/contact-congestion-charge" class="plain-button">Contact Congestion Charge</a>
<a href="/modes/driving/ultra-low-emission-zone/contact-ulez" class="plain-button">Contact ULEZ</a>
<a href="/info-for/deliveries-in-london/" class="plain-button">Deliveries in London</a>
<a href="/corporate/publications-and-reports/low-emission-zone" class="plain-button">LEZ publications</a>
    </div>
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="https://www.gov.uk/government/organisations/driver-and-vehicle-standards-agency" class="plain-button">DVSA</a>
<a href="http://www.dft.gov.uk/dvla/about.aspx" class="plain-button">DVLA</a>
<a href="http://www.cleanerairforlondon.org.uk/" class="plain-button">Cleaner Air for London</a>
<a href="https://www.sourcelondon.net/" class="plain-button">Source London</a>
    </div>
</div>
 <div class="follow-social twitter">
  
  <div class="social-image">
    
  </div>
  <div class="social-text">
    <h3>Follow us on Twitter</h3>
    <p>Realtime traffic information for roads in London</p>
  </div>
  <div class="social-button">
    
  </div> 
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "Lorries, buses & coaches and heavy specialist vehicles need to meet certain emissions standards";}
        
            
        


 