
    
  



@{ViewBag.Title = "TfL Supplier Awards";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/suppliers-and-contractors/tfl-supplier-awards";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/suppliers-and-contractors/index">Suppliers & contractors</a></li>
                
            
            
                <li><span class="last-breadcrumb">TfL Supplier Awards</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>TfL Supplier Awards</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The TfL Supplier Awards is our chance to recognise the excellent work our supply chain does for us, and the contribution that a wide range of companies make to running and improving transport in London.
        
      </div>
    
    
      
      
           
      <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/tfl-suppliers-awards-2017_rdax_400x250.jpg" alt="TfL Supplier Awards 2017 at the London Transport Museum" />
        <span class="caption">TfL Supplier Awards at the London Transport Museum</span>
        
        
    </div>
    <p>The 2018 TfL Supplier Awards ceremony will take place at the London Transport Museum on Wednesday 5 December.</p>
<p>This year, the awards are open to all our suppliers for their efforts in a range of areas, from increasing opportunities for those underrepresented in the workplace to their work to protect the environment. </p>
 </div>
   <div class="pull-quote">
    
        <div class="quote-body">"We are excited to open up our Supplier Awards again for nominations, following their success last year. It's important to recognise all of the hard work that our suppliers put into keeping Londoners and visitors on the move. I urge our suppliers to put themselves forward, so that they can be recognised for their positive impact on the Capital."</div>
        <div class="quote-footer">
            <div class="quotee-name">David Wylie</div>
            <div class="quotee-job-title">Chief Procurement Officer, TfL</div>
        </div>
    </div>
   <p>We're inviting submissions in the following categories:</p>
<ul>
    <li>Health, Safety and Environment</li>
    <li>Efficiencies and Innovation</li>
    <li>Collaboration</li>
    <li>Diversity and Inclusion</li>
    <li>Small and Medium Enterprise
    </li>
</ul>
<p><a href="https://www.surveymonkey.co.uk/r/SAwards2018 "><strong>Submit your interest in being considered for TfL's 2018 Supplier Awards</strong></a><strong><a href="https://www.surveymonkey.co.uk/r/SAwards2018 ">.</a></strong></p>
<p>Submissions open from Wednesday 15 August and close on Tuesday 11 September.</p>

 
 
<div>




<p>Read the full list of categories and evaluation criteria:</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-supplier-awards-categories.pdf">
    <div class="document-download-text">
        <p>TfL Supplier Awards - Categories & Criteria</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 53KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 
</div>

</div>
 <div>

<p>Last year, there were 80 submissions and Siemens were recognised as TfL's Supplier of the Year. They had proven themselves to be an outstanding supplier, working with us to support women back into employment and developing the potential of those already in the transport industry. They also developed their operational practices when installing traffic signals to increase efficiency and reduce the impact on customers and have been a key part of the success of delivering 36 trains per hour on the Victoria line.</p>
<h3>Some of our 2017 winners </h3>
<p><a href="https://www.flickr.com/photos/tflpress/sets/72157688598241571">See more photos of the 2017 Supplier Awards ceremony on Flickr</a>.</p>
</div>
 

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/costain-skanska.jpg" alt="Best Health Initiative Award - Costain Skanska JV" />
                <figcaption>
<span class="figure-title">Best Health Initiative Award - Costain Skanska JV</span>
<span class="figure-description">TfL Supplier Awards 2017</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/fm-conway.jpg" alt="Best Safety Initiative Award - FM Conway" />
                <figcaption>
<span class="figure-title">Best Safety Initiative Award - FM Conway</span>
<span class="figure-description">TfL Supplier Awards 2017</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/ferrovial-lor.jpg" alt="Best Environmental Initiative Award - Ferrovial/Laing O'Rourke JV" />
                <figcaption>
<span class="figure-title">Best Environmental Initiative Award - Ferrovial/Laing O'Rourke JV</span>
<span class="figure-description">TfL Supplier Awards 2017</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/siemens-telent.jpg" alt="Best Efficiencies and Innovation Award - Siemens and Telent (joint winners)" />
                <figcaption>
<span class="figure-title">Best Efficiencies and Innovation Award - Siemens and Telent (joint winners)</span>
<span class="figure-description">TfL Supplier Awards 2017</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/bam-nuttall.jpg" alt="Collaboration Award - Bam Nuttall" />
                <figcaption>
<span class="figure-title">Collaboration Award - Bam Nuttall</span>
<span class="figure-description">TfL Supplier Awards 2017</span>
                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/suppliers-and-contractors/index" class="heading">
                    <h2 id="sub-menu-heading">Suppliers & contractors<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/become-a-supplier">Become a TfL supplier</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/opportunities">Find contract opportunities</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/recieving-orders-and-getting-paid">Invoicing and getting paid</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/what-we-buy">What we buy</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/supplier-relations">Supplier relations</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-toolkit">Digital toolkit</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-environment">Health, safety & environment</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/design-standards-and-licensing">Design standards & licensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/london-buses-tenders">London Buses tenders</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/london-service-permits">London Service Permits</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/tfl-supplier-awards">TfL Supplier Awards</a></div>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/info-for/suppliers-and-contractors/supplier-relations/supplier-skills" class="plain-button">Supplier skills</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "The Transport for London Supplier Awards is our chance to recognise the excellent work our supply chain does for us, and recognising the contribution that a wide range of companies make to running and improving transport in our capital";}
        
            
        


 