
    
  



@{ViewBag.Title = "Youth involvement";}
@{ViewBag.Keywords = "Schools and young people,TfL";}
@{ViewBag.Url = "/info-for/schools-and-young-people/youth-involvement";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/schools-and-young-people/index">Schools & young people</a></li>
                
            
            
                <li><span class="last-breadcrumb">Youth involvement</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Youth involvement</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        More than a third of the Capital's population is under 25. There are an estimated 2.8 million young people living in Greater London and rising all the time
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<p>There are over 3,000 schools in the Capital, more than 300 colleges and universities, and a large number of voluntary youth organisations. Giving young people a voice has never been more important.</p>

<p>That's why we work with young people and organisations representing them to ensure under 25s have a direct voice within our policy and decision making process</p>
</div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/tfl-youth-panel_rdax_400x250.jpg" alt="youth-panel" />
        
        
        
    </div>
    <h2>Youth Panel</h2>

<p>Our Youth Panel consists of around 25 volunteers, aged 16 to 25, who regularly travel in London. They play an important role in helping create a transport network that works for them and other young people across our city.</p>

<p>The panel has&nbsp;been around since 2009, and members have helped shape&nbsp;the Mayor's Transport Strategy,&nbsp;road safety campaigns, and Year of Engineering, among many other initiatives. They also formally submit consultation responses, representing the voice of young Londoners, and take part in some of our campaigns.</p>
 </div>
 <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/youth-panel-meeting.jpg" alt="Youth panel meeting" />
        
        
        
    </div>   
 </div>
 <div>

<h3>Joining the panel</h3>

<p>We recruit every January and hold elections for executive committee roles in April. If you are interested in becoming a part of our Youth Panel, or finding out&nbsp; more about their work&nbsp; please e-mail <a href="mailto:youthpanel&#64;tfl.gov.uk.">youthpanel&#64;tfl.gov.uk.</a></p>

<h3>Meet our&nbsp;executive committee</h3>

<p>Our executive committee meet in between panel meetings and steer the work of the Youth Panel. They are elected by the panel and suggest projects and campaigns for the panel to work on. They also lead on the organisation and delivery of our Youth Participation Day.<br />
&nbsp;</p>
</div>
 <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/executive-committee.jpg" alt="Executive committee" />
        <span class="caption">Executive committee</span>
        
        
    </div>   
 </div>
 <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="harry---youth-panel-chair-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Youth involvement-Harry - Youth Panel chair"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="harry---youth-panel-chair-heading" class="accordion-heading">Harry - Youth Panel chair</div>
            </div>
            <div id="harry---youth-panel-chair-content" class="start-hidden" role="region" aria-labelledby="harry---youth-panel-chair-heading">
<p>I first joined the panel whilst running a youth travel ambassador campaign to get more young people cycling to school. Over the past few years, I have served as chair, steering the panel's agenda and leading its response to wider consultations; including on road safety, anti social behaviour and active travel.</p>

<p>I'm immensely proud of the work the panel has completed over the past few years, encouraging and informing on tangible changes to the transport system, that make noticeable differences to young Londoners' lives.</p>

<p>The chair's responsibilities include:</p>

<ul>
	<li>Chairing Youth Panel meetings</li>
	<li>Delivering key note speech at Youth Participation Day</li>
	<li>Sharing information with other members when requested</li>
	<li>Keeping up to date on the activities at TfL</li>
	<li>Reviewing and signing minutes of panel meetings</li>
	<li>Attending committee meetings (every 1 to 2 months)</li>
	<li>Representing Youth Panel at internal and external events</li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="ryan---vice-chair-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Youth involvement-Ryan - Vice chair"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="ryan---vice-chair-heading" class="accordion-heading">Ryan - Vice chair</div>
            </div>
            <div id="ryan---vice-chair-content" class="start-hidden" role="region" aria-labelledby="ryan---vice-chair-heading">
<p>&nbsp;The vice chair's responsibilities include:</p>

<ul>
	<li>Standing in for the chair at Youth Panel meetings if they are absent</li>
	<li>Working closely with the chair to establish a constructive relationship and share responsibilities</li>
	<li>Supporting the chair on leading with consultation responses</li>
	<li>Attending committee meetings</li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="joe---secretary-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Youth involvement-Joe - Secretary"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="joe---secretary-heading" class="accordion-heading">Joe - Secretary</div>
            </div>
            <div id="joe---secretary-content" class="start-hidden" role="region" aria-labelledby="joe---secretary-heading">
<p>The secretary's responsibilities include:</p>

<ul>
	<li>Taking minutes for the Youth Panel meetings</li>
	<li>Sharing information with other members when requested</li>
	<li>Helping to perform administrative duties for Youth Participation Day</li>
	<li>Attending committee meetings</li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="melissa---diversity-and-inclusion-champion-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Youth involvement-Melissa - Diversity and inclusion champion"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="melissa---diversity-and-inclusion-champion-heading" class="accordion-heading">Melissa - Diversity and inclusion champion</div>
            </div>
            <div id="melissa---diversity-and-inclusion-champion-content" class="start-hidden" role="region" aria-labelledby="melissa---diversity-and-inclusion-champion-heading">
<p>I joined the panel largely because I think it's important to have young people's voices involved in decision-making as we tend to be creative, enthusiastic and perceptive.</p>

<p>We often offer valuable information to TfL, so they can directly improve their services for young people. I've really enjoyed the platform we've been given and my time here hence why I've been a member for almost three years.</p>

<p>Learning about engineering and the complexity of infrastructure projects has been a pleasant surprise as a panellist, too.</p>

<p>&nbsp;Diversity and inclusion champion responsibilities include:</p>

<ul>
	<li>Representing the needs and perspective of London's diverse customers when consulting on policies and campaigns</li>
	<li>Working with the engagement champion to develop relationships with relevant charity, voluntary and community sector organisations</li>
	<li>Attending committee meetings</li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="salome---engagement-champion-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Youth involvement-Salome - Engagement champion"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="salome---engagement-champion-heading" class="accordion-heading">Salome - Engagement champion</div>
            </div>
            <div id="salome---engagement-champion-content" class="start-hidden" role="region" aria-labelledby="salome---engagement-champion-heading">
<p>I joined the panel in 2017 because I wanted to meet other young people like me interested in transportation and to learn more about how TfL works. The chance to get my experiences as a youth transport user really listened to has been very rewarding and running events like Youth Participation Day has taught me a lot about teamwork and leadership.</p>

<p>Engagement champion responsibilities include:</p>

<ul>
	<li>Developing relationships with similar organisations</li>
	<li>Raising the profile of the Youth Panel amongst other organisations</li>
	<li>Promoting events, such as Youth Participation Day</li>
	<li>Promoting recruitment</li>
	<li>Leading on planning events</li>
	<li>Attending committee meetings</li>
</ul>

            </div>
        </div>
    </div>
 
</div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/youth-panel_rdax_400x250.jpg" alt="Youth panel" />
        
        
        
    </div>
    <p style="line-height:normal">&nbsp;</p>

<h2>Youth Participation Day</h2>

<p style="line-height:normal"><span>Our Youth Panel leads and co-ordinates our annual Youth Participation Day at the London Transport Museum.</span></p>

<p style="line-height:normal"><span>This annual event, which began in 2008, sees youth representatives taking part in interactive workshops to address key issues such as safety and security, access to employment and what actions need to be taken to reduce casualties on London's roads.</span></p>

<p style="line-height:normal"><span>Youth Participation Day is held in spring. More details about how to get involved will be promoted on our social media channels.</span></p>
 </div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/schools-and-young-people/index" class="heading">
                    <h2 id="sub-menu-heading">Schools & young people<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/inspire-engineering">Inspire Engineering</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/info-for/schools-and-young-people/youth-involvement">Youth involvement</a></div>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/schools-and-young-people/teaching-resources">Educational resources</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/schools-and-young-people/safety-and-citizenship">Safety & Citizenship</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/young-car-drivers">Young car drivers</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/schools-and-young-people/innovate-tfl">Innovate TfL</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "How TfL engages with young people and the organisations representing them.";}
        
            
        


 