            

            </li>
            
            <li class="live-board-feed-item clearfix" data-bind="attr: { 'data-destination-id': destinationId, 'data-line-name': lineName }" data-destination-id="940GZZLUEPG" data-line-name="Central">
             <span class="central live-board-route line-text" data-bind="attr: { class: lineClassName }">
            </span>
            <span class="live-board-destination">
            <span class="visually-hidden"><span data-bind="html: lineName">Central</span> to </span>
            <span class="train-number internal" data-bind="visible: vehicleId.length > 0 &amp;&amp; vehicleId.length < 5, html: vehicleId" style="display: none;">022</span>
            <span class="train-destination" data-bind="html: destinationName">Epping</span>
            <span class="train-current-state internal" data-bind="html: currentLocation">At Leyton</span>
            </span>
            <span class="live-board-eta" data-bind="html: timeToStation"><span class="visually-hidden">departing in </span>7 mins</span>
            </li>
            
            <li class="live-board-feed-item clearfix" data-bind="attr: { 'data-destination-id': destinationId, 'data-line-name': lineName }" data-destination-id="940GZZLUEPG" data-line-name="Central">
             <span class="central live-board-route line-text" data-bind="attr: { class: lineClassName }">
            </span>
            <span class="live-board-destination">
            <span class="visually-hidden"><span data-bind="html: lineName">Central</span> to </span>
            <span class="train-number internal" data-bind="visible: vehicleId.length > 0 &amp;&amp; vehicleId.length < 5, html: vehicleId" style="display: none;">052</span>
            <span class="train-destination" data-bind="html: destinationName">Epping</span>
            <span class="train-current-state internal" data-bind="html: currentLocation">At Mile End</span>
            </span>
            <span class="live-board-eta" data-bind="html: timeToStation"><span class="visually-hidden">departing in </span>14 mins</span>
            </li>
            
            <li class="live-board-feed-item clearfix paginate-hidden" data-bind="attr: { 'data-destination-id': destinationId, 'data-line-name': lineName }" data-destination-id="940GZZLUEPG" data-line-name="Central">
             <span class="central live-board-route line-text" data-bind="attr: { class: lineClassName }">
            </span>
            <span class="live-board-destination">
            <span class="visually-hidden"><span data-bind="html: lineName">Central</span> to </span>
            <span class="train-number internal" data-bind="visible: vehicleId.length > 0 &amp;&amp; vehicleId.length < 5, html: vehicleId" style="display: none;">127</span>
            <span class="train-destination" data-bind="html: destinationName">Epping</span>
            <span class="train-current-state internal" data-bind="html: currentLocation">Between Chancery Lane and St. Paul's</span>
            </span>
            <span class="live-board-eta" data-bind="html: timeToStation"><span class="visually-hidden">departing in </span>27 mins</span>
            </li>
            </ol>
            <a href="#" class="live-board-link"><span class="down-icon-blue"></span><span class="visually-hidden">Load </span>More<span class="visually-hidden"> departures</span></a>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            <div id="first-last-service" class="widget-wrapper  always-expanded plain-widget">
            <div class="expandable-box">
            <div class="content">
            <div class="widget-heading ">
            <h2 class="widget-title">First and last services, timetables and route details</h2>
            </div>
            <div class="widget-content padded-content">
            <div class="first-last-summary">
            <div class="form-info-middle-icon">This service runs non-stop between Friday morning and Sunday evening</div>
            </div>
            <div class="vertical-button-container">
            <a href="/tube/timetable/central?fromId=940GZZLUSWF" class="link-button">View Central timetable</a>
            <a href="/tube/route/central" class="link-button">View all stops on Central route</a>
            </div> </div>
            </div>
            </div>
            </div>
            <div class="widget-wrapper" id="accessibility">
            <div class="expandable-box">
            <div class="content">
            <div class="always-visible widget-heading">
            <div class="controls">&nbsp;</div>
            <h2 class="widget-title">Accessibility information</h2>
            </div>
            <div class="start-hidden widget-content clearfix">
            
            <h4>Platform and train access</h4>
            <p>Find out more about step free access on the tube with our guide: </p>
            <a href="/cdn/static/cms/documents/step-free-tube-guide-map.pdf" class="link-button">Step free tube guide (PDF)</a>
            <p>Find out more from our range of accessibility guides in alternative formats to help you plan and make journeys: </p>
            <a href="/forms/12387.aspx" class="link-button">Accessibility Guides</a>
            </div>
            </div>
            </div>
            </div>
            <div class="widget-wrapper" id="facilities">
            <div class="expandable-box">
            <div class="content">
            <div class="always-visible widget-heading">
            <div class="controls">&nbsp;</div>
            <h2 class="widget-title">Station facilities</h2>
            </div>
            <div class="start-hidden widget-content clearfix">
            <div class="clearfix">
            <ul class="icon-list">
            <li><span class="i ticket-halls-icon"></span>Ticket Halls</li>
            <li><span class="i toilets-icon"></span>Toilets</li>
            <li><span class="i car-park-icon"></span>Car park</li>
            <li><span class="i payphones-icon"></span>Payphones</li>
            <li><span class="i gates-icon"></span>Gates</li>
             <li><span class="i boarding-ramps-icon"></span>Boarding Ramps</li>
            <li><span class="i waiting-room-icon"></span>Waiting Room</li>
            <li><span class="i bridge-icon"></span>Bridge</li>
            <li><span class="i wifi-icon"></span>WiFi</li>
            </ul>
            </div>
            <hr>
            <h3>Address</h3>
            South Woodford Station<br>London Underground Ltd.<br>George Lane<br>London<br>E18 1JJ </div>
            </div>
            </div>
            </div>
            <div id="other-modes" class="widget-wrapper always-expanded plain-widget">
            <div class="widget-heading">
            <h2 class="widget-title">Other transport options </h2>
            </div>
            <div class="widget-content nearby-list">
            <a href="/bus/stop/490G00217D/south-woodford-station" class="link-button with-icon primary">
            <span class="i bus-icon"></span>
            Bus
            </a>
            <div class="accordion" id="ssp-taxi-rank-link">
            <div class="expandable-box">
            <div class="content">
            <div class="always-visible" id="taxi-rank-heading" role="button" aria-expanded="false" aria-controls="ssp-taxi-rank-data" tabindex="0">
            <div class="controls controls-show-icon">&nbsp;</div>
            <div class="accordion-heading with-icon primary">
            <span class="i taxi-icon-heading"></span>Taxi Ranks
            </div>
            </div>
            <div id="ssp-taxi-rank-data" class="start-hidden" role="region" aria-labelledby="taxi-rank-heading">
            <div class="expanded-result-details">
            <div>
            <div class="nearby-mode-information">
            <span class="mode-icon taxi-icon"><span class="visually-hidden">Taxi Rank</span></span>
            </div>
            <div class="nearby-mode-details">
            <span class="nearby-list-heading">George Lane (Sainsbury's), South Woodford</span>
            <span class="nearby-list-information">
            <span class="bch-bikes-available">Redbridge</span>
            </span>
            </div>
            </div>
            </div>
            <div class="expanded-result-details">
            <div>
            <div class="nearby-mode-information">
            <span class="mode-icon taxi-icon"><span class="visually-hidden">Taxi Rank</span></span>
            </div>
            <div class="nearby-mode-details">
            <span class="nearby-list-heading">George Lane (Lizard Lounge)</span>
            <span class="nearby-list-information">
            <span class="bch-bikes-available">Redbridge</span>
            </span>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            <div class="accordion" id="ssp-car-park-link">
            <div class="expandable-box">
            <div class="content">
            <div class="always-visible car-park-heading" role="button" aria-expanded="false" aria-controls="ssp-car-park-data" tabindex="0">
            <div class="controls controls-show-icon">&nbsp;</div>
            <div class="accordion-heading with-icon primary">
            <span class="i car-park-icon"></span>Car Parks
            </div>
            </div>
            <div id="ssp-car-park-data" class="start-hidden" role="region" aria-labelledby="car-park-heading">
            Loading
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            <div id="station-crowding" class="station-crowding widget-wrapper always-expanded plain-widget">
            <div class="widget-heading">
            <h2 class="widget-title">Busiest times at this station</h2>
            </div>
            <div id="busy-times" class="widget-content busy-times chart-spinner">
            <div class="verticle-anchor">
            <div id="chart-container" class="chart-container" height="260">
            <svg id="chart" class="chart" width="4000" height="250"><g transform="translate(25,20)"><g transform="translate(45, 0)"><rect rx="5" ry="5" width="37" class="0500-0515 bar" id="0500-0515" height="5" y="195"></rect></g><g transform="translate(91, 0)"><rect rx="5" ry="5" width="37" class="0515-0530 bar" id="0515-0530" height="7" y="193"></rect></g><g transform="translate(137, 0)"><rect rx="5" ry="5" width="37" class="0530-0545 bar" id="0530-0545" height="11" y="189"></rect></g><g transform="translate(183, 0)"><rect rx="5" ry="5" width="37" class="0545-0600 bar" id="0545-0600" height="18" y="182"></rect></g><g transform="translate(229, 0)"><rect rx="5" ry="5" width="37" class="0600-0615 bar" id="0600-0615" height="27" y="173"></rect></g><g transform="translate(275, 0)"><rect rx="5" ry="5" width="37" class="0615-0630 bar" id="0615-0630" height="35" y="165"></rect></g><g transform="translate(321, 0)"><rect rx="5" ry="5" width="37" class="0630-0645 bar" id="0630-0645" height="43" y="157"></rect></g><g transform="translate(367, 0)"><rect rx="5" ry="5" width="37" class="0645-0700 bar" id="0645-0700" height="57" y="143"></rect></g><g transform="translate(413, 0)"><rect rx="5" ry="5" width="37" class="0700-0715 bar" id="0700-0715" height="77" y="123"></rect></g><g transform="translate(459, 0)"><rect rx="5" ry="5" width="37" class="0715-0730 bar" id="0715-0730" height="106" y="94"></rect></g><g transform="translate(505, 0)"><rect rx="5" ry="5" width="37" class="0730-0745 bar" id="0730-0745" height="139" y="61"></rect></g><g transform="translate(551, 0)"><rect rx="5" ry="5" width="37" class="0745-0800 bar" id="0745-0800" height="174" y="26"></rect></g><g transform="translate(597, 0)"><rect rx="5" ry="5" width="37" class="0800-0815 bar" id="0800-0815" height="199" y="1"></rect></g><g transform="translate(643, 0)"><rect rx="5" ry="5" width="37" class="0815-0830 bar" id="0815-0830" height="197" y="3"></rect></g><g transform="translate(689, 0)"><rect rx="5" ry="5" width="37" class="0830-0845 bar" id="0830-0845" height="165" y="35"></rect></g><g transform="translate(735, 0)"><rect rx="5" ry="5" width="37" class="0845-0900 bar" id="0845-0900" height="123" y="77"></rect></g><g transform="translate(781, 0)"><rect rx="5" ry="5" width="37" class="0900-0915 bar" id="0900-0915" height="91" y="109"></rect></g><g transform="translate(827, 0)"><rect rx="5" ry="5" width="37" class="0915-0930 bar" id="0915-0930" height="69" y="131"></rect></g><g transform="translate(873, 0)"><rect rx="5" ry="5" width="37" class="0930-0945 bar" id="0930-0945" height="54" y="146"></rect></g><g transform="translate(919, 0)"><rect rx="5" ry="5" width="37" class="0945-1000 bar" id="0945-1000" height="43" y="157"></rect></g><g transform="translate(965, 0)"><rect rx="5" ry="5" width="37" class="1000-1015 bar" id="1000-1015" height="37" y="163"></rect></g><g transform="translate(1011, 0)"><rect rx="5" ry="5" width="37" class="1015-1030 bar" id="1015-1030" height="32" y="168"></rect></g><g transform="translate(1057, 0)"><rect rx="5" ry="5" width="37" class="1030-1045 bar" id="1030-1045" height="28" y="172"></rect></g><g transform="translate(1103, 0)"><rect rx="5" ry="5" width="37" class="1045-1100 bar" id="1045-1100" height="26" y="174"></rect></g><g transform="translate(1149, 0)"><rect rx="5" ry="5" width="37" class="1100-1115 bar" id="1100-1115" height="26" y="174"></rect></g><g transform="translate(1195, 0)"><rect rx="5" ry="5" width="37" class="1115-1130 bar" id="1115-1130" height="27" y="173"></rect></g><g transform="translate(1241, 0)"><rect rx="5" ry="5" width="37" class="1130-1145 bar" id="1130-1145" height="27" y="173"></rect></g><g transform="translate(1287, 0)"><rect rx="5" ry="5" width="37" class="1145-1200 bar" id="1145-1200" height="26" y="174"></rect></g><g transform="translate(1333, 0)"><rect rx="5" ry="5" width="37" class="1200-1215 bar" id="1200-1215" height="26" y="174"></rect></g><g transform="translate(1379, 0)"><rect rx="5" ry="5" width="37" class="1215-1230 bar" id="1215-1230" height="25" y="175"></rect></g><g transform="translate(1425, 0)"><rect rx="5" ry="5" width="37" class="1230-1245 bar" id="1230-1245" height="23" y="177"></rect></g><g transform="translate(1471, 0)"><rect rx="5" ry="5" width="37" class="1245-1300 bar" id="1245-1300" height="22" y="178"></rect></g><g transform="translate(1517, 0)"><rect rx="5" ry="5" width="37" class="1300-1315 bar" id="1300-1315" height="22" y="178"></rect></g><g transform="translate(1563, 0)"><rect rx="5" ry="5" width="37" class="1315-1330 bar" id="1315-1330" height="21" y="179"></rect></g><g transform="translate(1609, 0)"><rect rx="5" ry="5" width="37" class="1330-1345 bar" id="1330-1345" height="20" y="180"></rect></g><g transform="translate(1655, 0)"><rect rx="5" ry="5" width="37" class="1345-1400 bar" id="1345-1400" height="18" y="182"></rect></g><g transform="translate(1701, 0)"><rect rx="5" ry="5" width="37" class="1400-1415 bar" id="1400-1415" height="18" y="182"></rect></g><g transform="translate(1747, 0)"><rect rx="5" ry="5" width="37" class="1415-1430 bar" id="1415-1430" height="19" y="181"></rect></g><g transform="translate(1793, 0)"><rect rx="5" ry="5" width="37" class="1430-1445 bar" id="1430-1445" height="18" y="182"></rect></g><g transform="translate(1839, 0)"><rect rx="5" ry="5" width="37" class="1445-1500 bar" id="1445-1500" height="18" y="182"></rect></g><g transform="translate(1885, 0)"><rect rx="5" ry="5" width="37" class="1500-1515 bar" id="1500-1515" height="18" y="182"></rect></g><g transform="translate(1931, 0)"><rect rx="5" ry="5" width="37" class="1515-1530 bar" id="1515-1530" height="19" y="181"></rect></g><g transform="translate(1977, 0)"><rect rx="5" ry="5" width="37" class="1530-1545 bar" id="1530-1545" height="20" y="180"></rect></g><g transform="translate(2023, 0)"><rect rx="5" ry="5" width="37" class="1545-1600 bar" id="1545-1600" height="21" y="179"></rect></g><g transform="translate(2069, 0)"><rect rx="5" ry="5" width="37" class="1600-1615 bar" id="1600-1615" height="23" y="177"></rect></g><g transform="translate(2115, 0)"><rect rx="5" ry="5" width="37" class="1615-1630 bar" id="1615-1630" height="26" y="174"></rect></g><g transform="translate(2161, 0)"><rect rx="5" ry="5" width="37" class="1630-1645 bar" id="1630-1645" height="28" y="172"></rect></g><g transform="translate(2207, 0)"><rect rx="5" ry="5" width="37" class="1645-1700 bar" id="1645-1700" height="33" y="167"></rect></g><g transform="translate(2253, 0)"><rect rx="5" ry="5" width="37" class="1700-1715 bar" id="1700-1715" height="37" y="163"></rect></g><g transform="translate(2299, 0)"><rect rx="5" ry="5" width="37" class="1715-1730 bar" id="1715-1730" height="38" y="162"></rect></g><g transform="translate(2345, 0)"><rect rx="5" ry="5" width="37" class="1730-1745 bar" id="1730-1745" height="36" y="164"></rect></g><g transform="translate(2391, 0)"><rect rx="5" ry="5" width="37" class="1745-1800 bar" id="1745-1800" height="32" y="168"></rect></g><g transform="translate(2437, 0)"><rect rx="5" ry="5" width="37" class="1800-1815 bar" id="1800-1815" height="31" y="169"></rect></g><g transform="translate(2483, 0)"><rect rx="5" ry="5" width="37" class="1815-1830 bar" id="1815-1830" height="27" y="173"></rect></g><g transform="translate(2529, 0)"><rect rx="5" ry="5" width="37" class="1830-1845 bar" id="1830-1845" height="23" y="177"></rect></g><g transform="translate(2575, 0)"><rect rx="5" ry="5" width="37" class="1845-1900 bar" id="1845-1900" height="21" y="179"></rect></g><g transform="translate(2621, 0)"><rect rx="5" ry="5" width="37" class="1900-1915 bar" id="1900-1915" height="20" y="180"></rect></g><g transform="translate(2667, 0)"><rect rx="5" ry="5" width="37" class="1915-1930 bar" id="1915-1930" height="17" y="183"></rect></g><g transform="translate(2713, 0)"><rect rx="5" ry="5" width="37" class="1930-1945 bar" id="1930-1945" height="14" y="186"></rect></g><g transform="translate(2759, 0)"><rect rx="5" ry="5" width="37" class="1945-2000 bar" id="1945-2000" height="12" y="188"></rect></g><g transform="translate(2805, 0)"><rect rx="5" ry="5" width="37" class="2000-2015 bar" id="2000-2015" height="11" y="189"></rect></g><g transform="translate(2851, 0)"><rect rx="5" ry="5" width="37" class="2015-2030 bar" id="2015-2030" height="10" y="190"></rect></g><g transform="translate(2897, 0)"><rect rx="5" ry="5" width="37" class="2030-2045 bar" id="2030-2045" height="8" y="192"></rect></g><g transform="translate(2943, 0)"><rect rx="5" ry="5" width="37" class="2045-2100 bar" id="2045-2100" height="7" y="193"></rect></g><g transform="translate(2989, 0)"><rect rx="5" ry="5" width="37" class="2100-2115 bar" id="2100-2115" height="8" y="192"></rect></g><g transform="translate(3035, 0)"><rect rx="5" ry="5" width="37" class="2115-2130 bar" id="2115-2130" height="8" y="192"></rect></g><g transform="translate(3081, 0)"><rect rx="5" ry="5" width="37" class="2130-2145 bar" id="2130-2145" height="6" y="194"></rect></g><g transform="translate(3127, 0)"><rect rx="5" ry="5" width="37" class="2145-2200 bar" id="2145-2200" height="5" y="195"></rect></g><g transform="translate(3173, 0)"><rect rx="5" ry="5" width="37" class="2200-2215 bar" id="2200-2215" height="5" y="195"></rect></g><g transform="translate(3219, 0)"><rect rx="5" ry="5" width="37" class="2215-2230 bar" id="2215-2230" height="7" y="193"></rect></g><g transform="translate(3265, 0)"><rect rx="5" ry="5" width="37" class="2230-2245 bar" id="2230-2245" height="7" y="193"></rect></g><g transform="translate(3311, 0)"><rect rx="5" ry="5" width="37" class="2245-2300 bar" id="2245-2300" height="6" y="194"></rect></g><g transform="translate(3357, 0)"><rect rx="5" ry="5" width="37" class="2300-2315 bar" id="2300-2315" height="6" y="194"></rect></g><g transform="translate(3403, 0)"><rect rx="5" ry="5" width="37" class="2315-2330 bar" id="2315-2330" height="5" y="195"></rect></g><g transform="translate(3449, 0)"><rect rx="5" ry="5" width="37" class="2330-2345 bar" id="2330-2345" height="5" y="195"></rect></g><g transform="translate(3495, 0)"><rect rx="5" ry="5" width="37" class="2345-0000 bar" id="2345-0000" height="1" y="199"></rect></g><g transform="translate(3541, 0)"><rect rx="5" ry="5" width="37" class="0000-0015 bar" id="0000-0015" height="1" y="199"></rect></g><g transform="translate(3587, 0)"><rect rx="5" ry="5" width="37" class="0015-0030 bar" id="0015-0030" height="1" y="199"></rect></g><g transform="translate(3633, 0)"><rect rx="5" ry="5" width="37" class="0030-0045 bar" id="0030-0045" height="1" y="199"></rect></g><g transform="translate(3679, 0)"><rect rx="5" ry="5" width="37" class="0045-0100 bar" id="0045-0100" height="1" y="199"></rect></g><g transform="translate(3725, 0)"><rect rx="5" ry="5" width="37" class="0100-0115 bar" id="0100-0115" height="1" y="199"></rect></g><g transform="translate(3771, 0)"><rect rx="5" ry="5" width="37" class="0115-0130 bar" id="0115-0130" height="1" y="199"></rect></g><g transform="translate(3817, 0)"><rect rx="5" ry="5" width="37" class="0130-0145 bar" id="0130-0145" height="1" y="199"></rect></g><g transform="translate(3863, 0)"><rect rx="5" ry="5" width="37" class="0145-0200 bar" id="0145-0200" height="1" y="199"></rect></g></g></svg>
            </div>
            </div>
            <div class="clearfix earlier-later">
            <a href="#" class="earlier">Earlier</a>
            <span class="time-slice">22:15 - 22:30</span>
            <a href="#" class="later">Later</a>
            </div>
            <div class="clearfix train-loading"></div>
            <div class="footer">
            <span class="message">Represents typical weekday journeys to help you decide how to travel.</span>
            </div>
            </div>
            <div class="about-busy-times">
            <a href="/corporate/about-tfl/how-we-work/planning-for-the-future/improving-station-information" class="link-button primary">More about busiest times</a>
            </div>
            </div>
            <div data-set="ssp-sidebar" class="small-medium"></div>
            </div>
            </div>
