
    
  



@{ViewBag.Title = "Building Surveying";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/careers/apprenticeships/building-surveying";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/careers/index">Careers</a></li>
                
            
                 <li><a href="/corporate/careers/apprenticeships">Apprenticeships</a></li>
                
            
                 <li><a href="/corporate/careers/apprenticeships/why-tfl">Why TfL?</a></li>
                
            
            
                <li><span class="last-breadcrumb">Building Surveying</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Building Surveying</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        This scheme is now closed. 
        
      </div>
    
    <div class="on-this-page">
      <strong>*You can only apply for one apprenticeship scheme per year. So, between January and August 2017, we will only accept your first application. Any additional applications you submit will not be considered.*</strong>
      
           
      
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="https://tfl.taleo.net/careersection/apprentice/jobdetail.ftl?job=022482" class="secondary-button no-hover" >Apply now</a>

    </div>
</div> 
 
</div>
 

<div class="table-container"><table>
    <tbody>
        <tr>
            <td>Apprenticeship level: Level 3 </td>
        </tr>
        <tr>
            <td>Scheme length: 2 years 6 months</td>
        </tr>
        <tr>
            <td>Salary: &pound;17,802</td>
        </tr>
        <tr>
            <td>Requirements: 5 GCSEs A*-C including maths and English language. You must be 18 years of age by 1 September 2017 to be eligible for this scheme</td>
        </tr>
        <tr>
            <td>Applications: This scheme is now closed.
            <p><strong>Note: Before you apply, we strongly advise you to read the <a href="/corporate/careers/apprenticeships/application-process">application process information</a> thoroughly and in full. It tells you everything you need to know and provides details about what to expect as part of your application.</strong></p>
            </td>
        </tr>
    </tbody>
</table></div>
<p>As one of our building surveyors, you'll become be part of the renowned TfL engineering. That means you'll gain the unique experience of working on the essential infrastructure, designed to keep London moving.</p>
<h2>About the role</h2>
<p>Building surveyors are involved in all aspects of property and construction; from supervising large developments to planning small extensions, it's one of the widest areas of surveying practice. This means that a building surveyor's work can can include anything&nbsp;from the conservation and restoration of historic buildings, to contemporary new developments.</p>
<p>We have&nbsp;a wide variety of properties, ranging from historic listed buildings to major transport interchanges and depots, so this role is varied: you could find yourself surveying and providing advice about the upkeep of these types of properties, performing routine maintenance or working on major station redevelopments. </p>
<p>As your training develops you'll be able to identify building defects and advise on cost effective and appropriate ways to deal with them, as well as providing answers to a wide range of construction-related issues.</p>
<h2>About you</h2>
<p>On this challenging and rewarding apprenticeship, you'll gain a Level 3 qualification as a surveying technician. Through a combination of on-the-job learning from our leading professionals, and classroom training, you'll develop the skills and knowledge needed for a successful career in surveying.<br />
Our intention is to bring you up to the level of Associate of the Royal Institution of Chartered Surveyors (Assoc RICS). </p>
<p>This scheme is a great foundation to start a career in the built environment and it's a possible launch pad into developing full membership of RICS (and beyond). As an associate of RICS (or any membership level) you'll be expected to keep your skills and knowledge up to date, and commit to lifelong learning. </p>
<p>Chartered building surveyors are clearly differentiated from the rest of their market by their enhanced technical knowledge and professional standards. Achieving the associate status will enhance your professional status with employers and clients which could lead to more, and varied, employment opportunities.</p>
<p>As well as strong technical skills, you'll need to have excellent people skills, and the highest levels of integrity. All your clients, whether a large corporation or an individual member of the public, need to have the utmost confidence in the impartial advice given by you as a chartered building surveyor.</p>
<p>Learn more about the benefits for all of our apprenticeships schemes, and find out exactly what we're looking for. </p>
If you're successful you'll have to pass pre-employment checks before joining. These will include reference checks, qualifications checks, right to work in the UK and in some cases a medical and a Criminal Records Bureau (CRB)&nbsp;check.
<p>&nbsp;</p>

 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/careers/index" class="heading">
                    <h2 id="sub-menu-heading">Careers<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/graduates">Graduates</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/careers/apprenticeships">Apprenticeships</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/why-tfl">Why TfL?</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/building-services-engineering">Building Services Engineering</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/building-surveying">Building Surveying</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/civil-engineering-apprenticeship">Civil Engineering (Highways)</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/commercial-procurement">Commercial Procurement</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/crossrail">Crossrail Operations Engineering</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/cyber-security">Cyber Security</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/design-development-engineering">Design & Development Engineering</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/electrical">Electrical Power Delivery</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/engineering-design">Engineering Design (CAD)</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/finance-apprenticeship">Finance </a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/management">General Management</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/human-resources">Human Resource Management</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/infrastructure-technology">Infrastructure Technology</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/intelligent-transport-systems">Intelligent Transport Systems </a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/maintenance-engineering">London Underground Engineering</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/project-management">Project Management </a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/project-planner">Project Planning</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/quantity-surveying">Quantity Surveying </a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/rail-signalling-design-engineering">Rail Signalling Design Engineering</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/rail-systems-performance-engineering">Rail Systems Performance Engineering</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/software-developer">Software Development</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/track-renewal">Track Renewal</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/transport-planning">Transport Planning</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/application-process">How to apply</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/choosing-your-apprenticeship">Choosing your apprenticeship</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/apprenticeship-schemes">Apprenticeship schemes</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/degree-apprenticeships">Degree apprenticeships</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/what-s-it-really-li">Meet our current apprentices</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/steps-into-work">Steps into work </a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/smart-sourcing-programme">Smart Sourcing programme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/rewarding-you">Rewarding you</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/employability-toolkit">Employability toolkit</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "The Building Surveying apprenticeship 2017";}
        
            
        


 