
    
  



@{ViewBag.Title = "Business Analysis";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/careers/apprenticeships/business-analysis";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

@{
    Response.Status = "301 Moved permanently";
    Response.AddHeader("Location", "https://careers.tfl.gov.uk/");   
}

 
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/careers/index">Careers</a></li>
                
            
                 <li><a href="/corporate/careers/apprenticeships">Apprenticeships</a></li>
                
            
                 <li><a href="/corporate/careers/apprenticeships/apprenticeship-schemes">Apprenticeship schemes</a></li>
                
            
            
                <li><span class="last-breadcrumb">Business Analysis</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Business Analysis</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Business analysis plays a key part in the projects that are carried out in TfL. Our business analysts look at the way we work and our habits as a whole, so they can examine the overall impact. Based on their findings they can also suggest ongoing improvements.
        
      </div>
    
    <div class="on-this-page">
      <p><strong>Apprenticeship level</strong>:	4<br />
<strong>Approximate scheme length</strong>:	18 months<br />
<strong>Location:</strong>	London<br />
<strong>Salary:</strong> Starts from &pound;18,624<br />
<strong>Eligibility criteria:</strong><br />
5 GCSE's Grade A* - C including maths and English language or equivalent.  2 A-Levels in any subject at grade A* - D or equivalent. You are not eligible for this scheme if you currently hold or are working towards a qualification at the same or higher level in a related subject and content from the qualification of this scheme. You must be 18 years of age by 1st September of the year in which you apply, to be eligible for this scheme.</p>
<h3>What will I be doing?</h3>
<p>In this role you'll be supporting our business analysis team and working on a variety of exciting projects, such as implementing new ticket machines, updating ticketing software to support faster top ups and contactless payments, development of Oyster app. There are several projects in Tech and Data (T&amp;D) all of which are improving the technology used in TfL to keep London moving and growing. These could not happen without the involvement and groundwork undertaken by a business analyst.</p>
<h3>What will the programme involve?</h3>
<p>Our apprentices will do 4 rotation placements within their scheme. These can include a 6 month placement within the T&amp;D business analysis department and then three 3 month placements in other T&amp;D areas, one of which would be commercial T&amp;D.</p>
<p>In this role you will gain experience of the work of a business analyst in a large organisation. This will involve eliciting requirements from stakeholders, process mapping, gap analysis and some forms of data analysis. On the rotational placements you will gain a more strategic view of T&amp;D and TfL.</p>
<h3>What training and support will I get?</h3>
<p>For the duration of the scheme you will have a business sponsor that is responsible for the design and delivery of the apprenticeship scheme. They will help secure the right placements for you and support you in your professional development. You will also have a mentor that'll support and guide you, sharing their knowledge and expertise. Finally you can expect to have a buddy, either a previous apprentice or graduate from this scheme. Your buddy can answer any day to day questions you have and share their experiences with you.</p>
<p>During the scheme you will not only complete the qualification but also have opportunities to complete additional training courses. These will vary from soft skills training to technical skills training. Your sponsors and placement managers will ensure you attend all the relevant training to support you in your role.</p>
<h3>What do we look for?</h3>
<p>As you will be working with a different variety of people, you will have good communication and presentation skills (both written and verbal). You'll also be a good negotiator and problem solver, keen to embrace the challenge.</p>
<p>We'd like to see your passion about the business and about helping projects to be implemented successfully.</p>
<h3>Where can this career take me?</h3>
<p>Over the last 10 years the role of business analysis has grown in all sectors and there are a lot of opportunities for career advancement. This will give you the chance to view a business on a strategic level and learn skills that would be of use in many companies such as stakeholder management, effective communication, planning and analysis. Broad skills that will enable you to have the opportunity to choose which direction your career takes you.</p>
<h3>Contacting Us</h3>
<p>If at any time you need to speak to anyone within the recruitment team then please contact us Monday &#45; Friday between 08:30 and 17:30 on 0333 0062939 (Option 1) or alternatively email us at <a href="mailto:apprenticeshipenquiries&#64;tfljobs.co.uk">apprenticeshipenquiries&#64;tfljobs.co.uk</a>.</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/careers/index" class="heading">
                    <h2 id="sub-menu-heading">Careers<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/graduates">Graduates</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/careers/apprenticeships">Apprenticeships</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/why-tfl">Why TfL?</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/application-process">How to apply</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/choosing-your-apprenticeship">Choosing your apprenticeship</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/apprenticeship-schemes">Apprenticeship schemes</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/crossrail-maintenance">Crossrail Maintenance</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/london-underground-maintenance">London Underground Maintenance</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/civil-engineering-technician">Civil Engineering Technician</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/civil-engineering-level">Civil Engineering (Level 6)</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/railway-signalling-engineering">Railway Signalling Engineering</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/intelligent-transport-systems-highwa">Intelligent Transport Systems (Highways)</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/railways-system-engineering">Railways System Engineering</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/design-and-development-engineering">Design and Development Engineering</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/software-technician">Software Technician</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/software-development">Software Development</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/business-analysis">Business Analysis</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/cyber-security">Cyber Security</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/infrastructure-technician">Infrastructure Technician</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/project-controls">Project Controls</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/project-management">Project Management</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/general-management">General Management</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/transport-planning">Transport Planning</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/finance">Finance</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/human-resources-scheme">Human Resources</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/procurement">Procurement</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/quantity-surveying-level-3">Quantity Surveying Level 3</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/quantity-surveying-level-6">Quantity Surveying Level 6</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/commercial-property-surveying">Commercial Property Surveying</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/building-surveying">Building Surveying</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/degree-apprenticeships">Degree apprenticeships</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/what-s-it-really-li">Meet our current apprentices</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/steps-into-work">Steps into work </a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/smart-sourcing-programme">Smart Sourcing programme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/rewarding-you">Rewarding you</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/employability-toolkit">Employability toolkit</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Business Analysis";}
        
            
        


 