
    
  



@{ViewBag.Title = "Commercial Procurement";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/careers/apprenticeships/commercial-procurement";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

@{
    Response.Status = "301 Moved permanently";
    Response.AddHeader("Location", "https://careers.tfl.gov.uk/");   
}

 
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/careers/index">Careers</a></li>
                
            
                 <li><a href="/corporate/careers/apprenticeships">Apprenticeships</a></li>
                
            
                 <li><a href="/corporate/careers/apprenticeships/why-tfl">Why TfL?</a></li>
                
            
            
                <li><span class="last-breadcrumb">Commercial Procurement</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Commercial Procurement</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        This scheme is now closed. 
        
      </div>
    
    <div class="on-this-page">
      <strong>*You can only apply for one apprenticeship scheme per year. So, between January and August 2017, we will only accept your first application. Any additional applications you submit will not be considered.*</strong>
      
           
      
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="https://tfl.taleo.net/careersection/apprentice/jobdetail.ftl?job=022528" class="secondary-button no-hover" >Apply now</a>

    </div>
</div> 
 
</div>
 

<div class="table-container"><table>
    <tbody>
        <tr>
            <td>Apprenticeship level: CIPS Level 4</td>
        </tr>
        <tr>
            <td>Scheme length: 2 years</td>
        </tr>
        <tr>
            <td>Salary: Starting from &pound;17,802</td>
        </tr>
        <tr>
            <td>Requirements: 5 GCSEs A*-C including maths and English language, plus 2 A levels in any discipline. You must be 18 years of age by 1 September 2017 to be eligible for this scheme</td>
        </tr>
        <tr>
            <td>Applications: This scheme will close on Wednesday 26 April 2017, although you should submit your application as early as possible. Depending on the number of applications, schemes can close early
            <p><strong>Note: Before you apply, we strongly advise you to read the <a href="/corporate/careers/apprenticeships/application-process">application process information</a> thoroughly and in full. It tells you everything you need to know and provides details about what to expect as part of your application.</strong></p>
            </td>
        </tr>
    </tbody>
</table></div>


 <div>

<p>Commercial Procurement performs a broad, versatile&nbsp;function for us and covers the end-to-end commercial lifecycle of goods and services. It involves creating sourcing strategies and early market engagement, managing the procurement stages for goods and services, and the commercial management of the contracts that we award, as well as contract closeouts and final accounts. Our role also includes supply chain management and performance management.</p>
<p>We aim to perform our procurement and commercial activities to the highest standard. We work towards developing a strong, committed supply chain where we are a client of choice for suppliers. We manage the risks between us as client and the wider supply chain, and through a very active procurement and commercial function, our objective is always to deliver value for money.&nbsp;&nbsp;</p>
<h2>About the role</h2>
<p>As an apprentice in the Commercial team, you'll gain insight into the processes behind the delivery of a wide range of capital projects, our business units and those supporting our operations.&nbsp;We have a&nbsp;diverse and interesting portfolio of work, all of which is geared to delivering the Mayor's agenda for London and the people who live in and visit London.</p>
<p>This scheme provides the unique opportunity to become a part of this function and&nbsp; learn transferrable skills that can unlock a career within commercial procurement.</p>
<p>As a commercial procurement apprentice, you'll receive practical experience and formal academic training that will span the entire commercial lifecycle.</p>
<p>The aim of our scheme is to combine practical hands-on experience with academic learning. You'll&nbsp;have &nbsp;the opportunity to complete a Level 4 Diploma from the Chartered Institute of Procurement &amp; Supply (CIPS). This experience and knowledge will give you the chance to position yourself as an effective, commercially-skilled professional with transferable skills and great&nbsp;career options.</p>
<p>The skills and knowledge you can gain from this scheme include:</p>
<ul>
    <li>Procurement and supply</li>
    <li>Pre-Procurement and early market engagement</li>
    <li>Sourcing and contract agreements</li>
    <li>Supplier management</li>
    <li>Negotiation</li>
    <li>Decision making</li>
    <li>Cost and contract management</li>
    <li>Stakeholder engagement and management</li>
    <li>Risk and compliance</li>
</ul>
<h3>Placements</h3>
<p>The apprenticeship scheme is split into two, six-month placements in the first year and, either three, four-month placements, or two, six-month placements in the second. Placements are mainly office-based where you'll have the opportunity to work with commercial managers in a broad range of diverse business areas. There will also be some opportunity for you to go out and visit the construction and operational sites you're involved with.</p>
<p>During your placements, you'll work on every stage of the commercial lifecycle work across various parts of TfL. These could include:</p>
<h3>Rail Operations</h3>
<p>Apprentices help us with the procurement and the subsequent management of multi-billion pound maintenance contracts and services, and materials supply. This could include major line or station upgrades and improvements, new train fleets, signalling systems or enhancements to areas like communications, power and track.</p>
<h3>Surface Operations &amp; Infrastructure</h3>
<p>Spanning a wide range of areas, this includes London Buses, London River Services, London Overground, DLR, Trams, Emirates Airline, Santander Cycles, London Streets (road and traffic management), Taxi and Private Hire (TPH), and Congestion Charging.</p>
<h3>Major Projects</h3>
<p>Our upgrade and capacity enhancement capital projects rival some of the largest and most complex in Europe. Driven by the need to increase capacity, improve reliability and enhance the customer experience, these projects are often exciting and varied. They're also challenging, given the constraints of working within a busy city while operational services continue round the clock, seven days a week. Planning, teamwork, innovation and collaboration with the supply chain are all essential ingredients needed to make these the success they are.</p>
<h3>Corporate Services</h3>
<p>Our Corporate Services provide three functions, including: </p>
<ul>
    <li>Business and professional&nbsp;services for us, the GLA and other similar bodies</li>
    <li>Commercial development and secondary revenue, which provides a unique opportunity to be involved with property development and other second revenue schemes</li>
    <li>Purchasing and management utilities (electricity, gas, water, etc across TfL</li>
</ul>
<h3>Other services</h3>
<p>Apprentices also work in other commercial areas covering functions like: Information and Communication Technology (ICT), Corporate Services, Capital Planning (Systems), Major Projects and Strategy, Planning and Governance.</p>
<h2>About you</h2>
<p>Because commercial procurement involves customer liaison skills, networking with a variety of partners and work closely with organisations under the Mayor of London, you'll need to be:</p>
<ul>
    <li>Enthusiastic, energetic and self motivated</li>
    <li>Good at problem solving and keen to take on challenges</li>
    <li>Forward thinking, able to challenge and full of innovative ideas</li>
    <li>A strong team player with good communication skills</li>
    <li>Highly motivated and ready to make the most of your placements in different commercial teams</li>
    <li>Good at retaining information, able to ask the right questions and keen to develop your own learning but also have the ability to ask questions to develop your own learning</li>
    <li>Adaptable, flexible and able to embrace change&nbsp;&nbsp;&nbsp;</li>
    <li>Confident in your written and verbal skills</li>
</ul>
<p>A&nbsp;good grasp of the English language would also be an advantage&nbsp;because writing contracts, proof-reading and the comprehension of complex documents are a vital part of the job. </p>
<p>
Successfully completing the CIPS L4 Diploma means you'll become eligible for the equivalent membership of the Institute. CIPS L4 is also a pre-requisite for MCIPS (L6) and the full professional licence and therefore offers the potential for chartered status.</p>
<p>Learn more about the benefits for all of our apprenticeships schemes, and find out exactly what we're looking for. </p>
<p>If you're successful you'll have to pass pre-employment checks before joining. These will include reference checks, qualifications checks, right to work in the UK and in some cases a medical and a Criminal Records Bureau check.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/careers/index" class="heading">
                    <h2 id="sub-menu-heading">Careers<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/graduates">Graduates</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/careers/apprenticeships">Apprenticeships</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/why-tfl">Why TfL?</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/building-services-engineering">Building Services Engineering</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/building-surveying">Building Surveying</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/civil-engineering-apprenticeship">Civil Engineering (Highways)</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/commercial-procurement">Commercial Procurement</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/crossrail">Crossrail Operations Engineering</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/cyber-security">Cyber Security</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/design-development-engineering">Design & Development Engineering</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/electrical">Electrical Power Delivery</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/engineering-design">Engineering Design (CAD)</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/finance-apprenticeship">Finance </a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/management">General Management</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/human-resources">Human Resource Management</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/infrastructure-technology">Infrastructure Technology</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/intelligent-transport-systems">Intelligent Transport Systems </a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/maintenance-engineering">London Underground Engineering</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/project-management">Project Management </a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/project-planner">Project Planning</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/quantity-surveying">Quantity Surveying </a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/rail-signalling-design-engineering">Rail Signalling Design Engineering</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/rail-systems-performance-engineering">Rail Systems Performance Engineering</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/software-developer">Software Development</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/track-renewal">Track Renewal</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/transport-planning">Transport Planning</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/application-process">How to apply</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/choosing-your-apprenticeship">Choosing your apprenticeship</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/apprenticeship-schemes">Apprenticeship schemes</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/degree-apprenticeships">Degree apprenticeships</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/what-s-it-really-li">Meet our current apprentices</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/steps-into-work">Steps into work </a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/smart-sourcing-programme">Smart Sourcing programme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/rewarding-you">Rewarding you</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/employability-toolkit">Employability toolkit</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Information about the TfL Commercial Procurement apprenticeship 2017";}
        
            
        


 