
    
  



@{ViewBag.Title = "Design & Development Engineering";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/careers/apprenticeships/design-development-engineering";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/careers/index">Careers</a></li>
                
            
                 <li><a href="/corporate/careers/apprenticeships">Apprenticeships</a></li>
                
            
                 <li><a href="/corporate/careers/apprenticeships/why-tfl">Why TfL?</a></li>
                
            
            
                <li><span class="last-breadcrumb">Design & Development Engineering</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Design & Development Engineering</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        This scheme is now closed. 
        
      </div>
    
    <div class="on-this-page">
      <strong>*You can only apply for one apprenticeship scheme per year. So, between January and August 2017, we will only accept your first application. Any additional applications you submit will not be considered.*</strong>
      
           
      
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="https://tfl.taleo.net/careersection/apprentice/jobdetail.ftl?job=022479" class="secondary-button no-hover" >Apply now</a>

    </div>
</div> 
 
</div>
 

<div class="table-container"><table>
    <tbody>
        <tr>
            <td>Apprenticeship level: Level 6</td>
        </tr>
        <tr>
            <td>Scheme length: 3 years</td>
        </tr>
        <tr>
            <td>Salary: Starting from &pound;17,802</td>
        </tr>
        <tr>
            <td>Requirements: 5 GCSEs A*-C including maths and English language, plus 2 A levels at grade C, or above, in maths and one other STEM (physics, ICT, computing or electronics) subjects. You must be 18 years of age by 1 September 2017 to be eligible for this scheme</td>
        </tr>
        <tr>
            <td>Applications: This scheme is now closed
            <p><strong>Note: Before you apply, we strongly advise you to read the <a href="/corporate/careers/apprenticeships/application-process">application process information</a> thoroughly and in full. It tells you everything you need to know and provides details about what to expect as part of your application.</strong></p>
            </td>
        </tr>
    </tbody>
</table></div>


 <div>

<p>Our degree-level apprenticeship will provide you with an exciting opportunity to make a huge impact on the millions of journeys customers make across London each day. </p>
<p>We develop innovative solutions and concepts that make sure our current and future infrastructure can deliver the safe and reliable service our customers deserve.</p>
<h2>About the role</h2>
<p>	During this apprenticeship, you will get a chance to:</p>
<ul>
    <li>Design and develop new solutions using knowledge of electronics hardware and software</li>
    <li>Test bespoke hardware/software solutions to deliver business objectives</li>
    <li>Work on projects which may include: lighting, monitoring, indoor navigation, and many other themes</li>
    <li>Explore data extraction and new engineering opportunities</li>
    <li>Design and deliver devices capable of being manufactured at a competitive cost</li>
</ul>
<p>We need to make sure our infrastructure and equipment can face future challenges but to do this, we need to conceptualise, develop and test new engineering solutions on the operational railway.<br />
During its peak, London Underground runs 540 trains serving 270 stations and as journeys increase, customers will expect more from the Tube network.</p>
<h3>Placements</h3>
<ul>
    <li>You'll work on six, 6-month long placements</li>
    <li>For design work, placements are mainly office based, although you'll get some time on site/in the laboratory for testing</li>
    <li>There are opportunities to work on frontline transport operations</li>
</ul>
<p>You could also find yourself developing exciting new engineering technologies with its own project plan. This would including testing, compliance and health and safety activities, using your hardware and software skills to create a solution for senior management teams, or you could be working as part of a multi-million pound project and working in a large team. This might involve collaborating and communicating effectively to develop a design fit for purpose, structured programming and circuit design.</p>
<h2>About you</h2>
<p>This new, exciting and challenging apprenticeship will broaden your understanding of electronics and give you the expertise to create minimal viable products and fully operational solutions. You'll also get to design and deliver devices that provide a useful function, capable of being manufactured at a competitive cost.</p>
<p>You'll use your self-starter motivation and organised thinking to achieve a degree in electronics or electrical and electronic engineering. This could be either a BA Hons; BSc Hons or BBA Hons, accredited by a body such as the Institution of Engineering and Technology (IET). This will include vocational and academic elements to allow you to work towards chartered membership of the IET in the future.</p>
<p>
It's important for you to meet all the requirements of the scheme so you can pass the end of your assessment. Towards the end of the scheme, we'll also start trying to find out which areas of TfL you'd like to work in. Where possible, we try to find placements for you in the areas you'd like to continue after the scheme, so you can get the right experience for your career goals.</p>
<p>Successfully completing your apprenticeship could lead to a role in engineering or in one of our many office functions. It's really is up to you and what suits you best.</p>
<p>Learn more about the benefits for all of our apprenticeships schemes, and find out exactly what we're looking for. </p>
If you're successful you'll have to pass pre-employment checks before joining. These will include reference checks, qualifications checks, right to work in the UK and in some cases a medical and a Criminal Records Bureau (CRB) check.
<p> </p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/careers/index" class="heading">
                    <h2 id="sub-menu-heading">Careers<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/graduates">Graduates</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/careers/apprenticeships">Apprenticeships</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/why-tfl">Why TfL?</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/building-services-engineering">Building Services Engineering</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/building-surveying">Building Surveying</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/civil-engineering-apprenticeship">Civil Engineering (Highways)</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/commercial-procurement">Commercial Procurement</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/crossrail">Crossrail Operations Engineering</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/cyber-security">Cyber Security</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/design-development-engineering">Design & Development Engineering</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/electrical">Electrical Power Delivery</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/engineering-design">Engineering Design (CAD)</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/finance-apprenticeship">Finance </a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/management">General Management</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/human-resources">Human Resource Management</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/infrastructure-technology">Infrastructure Technology</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/intelligent-transport-systems">Intelligent Transport Systems </a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/maintenance-engineering">London Underground Engineering</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/project-management">Project Management </a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/project-planner">Project Planning</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/quantity-surveying">Quantity Surveying </a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/rail-signalling-design-engineering">Rail Signalling Design Engineering</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/rail-systems-performance-engineering">Rail Systems Performance Engineering</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/software-developer">Software Development</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/track-renewal">Track Renewal</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/transport-planning">Transport Planning</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/application-process">How to apply</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/choosing-your-apprenticeship">Choosing your apprenticeship</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/apprenticeship-schemes">Apprenticeship schemes</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/degree-apprenticeships">Degree apprenticeships</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/what-s-it-really-li">Meet our current apprentices</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/steps-into-work">Steps into work </a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/smart-sourcing-programme">Smart Sourcing programme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/rewarding-you">Rewarding you</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/employability-toolkit">Employability toolkit</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Information about the 2017 Design & Development Engineering apprenticeship";}
        
            
        


 