
    
  



@{ViewBag.Title = "Engineering Design (CAD)";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/careers/apprenticeships/engineering-design";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

@{
    Response.Status = "301 Moved permanently";
    Response.AddHeader("Location", "https://careers.tfl.gov.uk/");   
}

 
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/careers/index">Careers</a></li>
                
            
                 <li><a href="/corporate/careers/apprenticeships">Apprenticeships</a></li>
                
            
                 <li><a href="/corporate/careers/apprenticeships/why-tfl">Why TfL?</a></li>
                
            
            
                <li><span class="last-breadcrumb">Engineering Design (CAD)</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Engineering Design (CAD)</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        This scheme is now closed. 
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<strong>*You can only apply for one apprenticeship scheme per year. So, between January and August 2017, we will only accept your first application. Any additional applications you submit will not be considered.*</strong>
</div>
 
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="https://tfl.taleo.net/careersection/apprentice/jobdetail.ftl?job=022513" class="secondary-button no-hover" >Apply now</a>

    </div>
</div> 
 
</div>
 

<div class="table-container"><table>
    <tbody>
        <tr>
            <td>Apprenticeship level: Level 3</td>
        </tr>
        <tr>
            <td>Scheme length: 3 years 6 months</td>
        </tr>
        <tr>
            <td>Salary: Salaries start from &pound;17,802</td>
        </tr>
        <tr>
            <td>Requirements: 5 GCSE's A*-C including maths at B grade, English language, and science (ICT desirable). You must be 17 years of age by 1 September 2017 to be eligible for this scheme</td>
        </tr>
        <tr>
            <td>Applications: This scheme will close on Wednesday 19 April 2017, although you should submit your application as early as possible. Depending on the number of applications, schemes can close early
            <p><strong>Note: Before you apply, we strongly advise you to read the <a href="/corporate/careers/apprenticeships/application-process">application process information</a> thoroughly and in full. It tells you everything you need to know and provides details about what to expect as part of your application.</strong></p>
            </td>
        </tr>
    </tbody>
</table></div>


 <div>

<p>As London's population continues to grow, it's vital that the transportation network supporting it also continues to evolve to meet the new demand. For over 150 years the London Underground network of tunnels and stations has played a key role in allowing the city to thrive. However, to maintain and expand this vast network, we need highly skilled and experienced engineers and designers.</p>
<h2>About the role</h2>
<p>We've designed this apprenticeship scheme to find the next generation of talent who can keep London Underground evolving. Over the course of the scheme, you'll work alongside experienced engineers across a range of engineering disciplines, learning the function of computer aided design (CAD) and the art of producing engineering drawings. You'll be at the heart of engineering design, using innovation and creativity to turn visions into reality through CAD and building information modelling (BIM). As an apprentice you'll support a wide range of projects essential to the maintenance and improvement of London's underground rail network.</p>
<h3>Placements</h3>
<p>You'll complete a number of placements during the scheme, with your first year being spent in London Underground's Capital Programmes Directorate (CPD) in the central CAD team. After your first year you'll work in other engineering disciplines, such as:</p>
<ul>
    <li>Survey</li>
    <li>GIS (Geographic Information System)</li>
    <li>Innovations</li>
    <li>Civil Engineering</li>
    <li>Mechanical Engineering</li>
    <li>Electrical Engineering</li>
</ul>
<h2>About you</h2>
<p>On this varied and challenging apprenticeship, you'll gain an NVQ Level 3 Diploma in Engineering Construction Design and Draughting and a BTEC National Certificate in Construction and the Built Environment. Through a combination of on-the-job learning from leading professionals and experienced CAD modellers and engineers, and classroom training, you'll develop valuable skills, gain a broad range of industry experience and take the first steps towards a career as a CAD designer. You'll also benefit from additional training including:</p>
<ul>
    <li>Bentley Micro station V8i (CAD software)</li>
    <li>2D and 3D modelling</li>
    <li>Producing engineering drawings</li>
    <li> Introduction to BIM</li>
</ul>
<p>So, if you're a creative individual who's interested in and enthusiastic about technical drawing and designing, then this is the apprenticeship scheme for you. Working on both large and small projects, either as part of a team, or independently, you'll be performance driven and have  excellent organisational skills.</p>
<p>Once you've successfully completed your apprenticeship, you'll be able to demonstrate you have the flair and technical knowledge to accurately model within CAD professionally. </p>
<p>Learn more about the benefits of all our apprenticeships schemes, and find out exactly what we're looking for. </p>
<p>If you're successful you'll have to pass pre-employment checks before joining. These will include reference checks, qualifications checks, right to work in the UK and in some cases a medical and a Criminal Records Bureau (CRB) check.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/careers/index" class="heading">
                    <h2 id="sub-menu-heading">Careers<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/graduates">Graduates</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/careers/apprenticeships">Apprenticeships</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/why-tfl">Why TfL?</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/building-services-engineering">Building Services Engineering</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/building-surveying">Building Surveying</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/civil-engineering-apprenticeship">Civil Engineering (Highways)</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/commercial-procurement">Commercial Procurement</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/crossrail">Crossrail Operations Engineering</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/cyber-security">Cyber Security</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/design-development-engineering">Design & Development Engineering</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/electrical">Electrical Power Delivery</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/engineering-design">Engineering Design (CAD)</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/finance-apprenticeship">Finance </a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/management">General Management</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/human-resources">Human Resource Management</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/infrastructure-technology">Infrastructure Technology</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/intelligent-transport-systems">Intelligent Transport Systems </a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/maintenance-engineering">London Underground Engineering</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/project-management">Project Management </a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/project-planner">Project Planning</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/quantity-surveying">Quantity Surveying </a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/rail-signalling-design-engineering">Rail Signalling Design Engineering</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/rail-systems-performance-engineering">Rail Systems Performance Engineering</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/software-developer">Software Development</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/track-renewal">Track Renewal</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/transport-planning">Transport Planning</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/application-process">How to apply</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/choosing-your-apprenticeship">Choosing your apprenticeship</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/apprenticeship-schemes">Apprenticeship schemes</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/degree-apprenticeships">Degree apprenticeships</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/what-s-it-really-li">Meet our current apprentices</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/steps-into-work">Steps into work </a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/smart-sourcing-programme">Smart Sourcing programme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/rewarding-you">Rewarding you</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/employability-toolkit">Employability toolkit</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "The 2017 Engineering Design Apprenticeship page";}
        
            
        


 