
    
  



@{ViewBag.Title = "Human Resources";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/careers/apprenticeships/human-resources-scheme";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

@{
    Response.Status = "301 Moved permanently";
    Response.AddHeader("Location", "https://careers.tfl.gov.uk/");   
}

 
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/careers/index">Careers</a></li>
                
            
                 <li><a href="/corporate/careers/apprenticeships">Apprenticeships</a></li>
                
            
                 <li><a href="/corporate/careers/apprenticeships/apprenticeship-schemes">Apprenticeship schemes</a></li>
                
            
            
                <li><span class="last-breadcrumb">Human Resources</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Human Resources</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        A role in human resources at TfL is all about the people that keep London moving. Your role will contribute towards ensuring we hire, develop and support the employees at the heart of our business, by making sure the right people, with the right experience and skills, are in the right jobs.
        
      </div>
    
    <div class="on-this-page">
      <p><strong>Apprenticeship level:</strong> 5<br />
<strong>Approximate scheme length:</strong>	2 years<br />
<strong>Location:</strong>	London<br />
<strong>Salary</strong>: Starts from &pound;18,624<br />
<strong>Eligibility criteria:</strong><br />
5 GCSE's A*-C including maths &amp; English language + 2 A Levels at grade A*-D or equivalent. You are not eligible for this scheme if you currently hold or are working towards a qualification at the same or higher level in a related subject and content from the qualification of this scheme. You must be 18 years of age by 1st September of the year in which you apply, to be eligible for this scheme.</p>
<h3>What will I be doing?</h3>
<p>You'll begin a comprehensive development programme designed to kick start your successful career in HR.  A combination of practical, on the job experience and theory will combine to give you an overview of best professional practise, resourcing and talent planning, performance management and employment law.</p>
<h3>What will the scheme involve?</h3>
<p>In your first year on the scheme you will complete 3 four-month placements in the following areas;<br />
HR Services - Customer Delivery: first line response dealing with business queries, gaining an in depth knowledge of our policies and how things work at TfL.<br />
HR Specialist and HR Services: this could include working on talent programmes, specialist recruitment and strategic resourcing projects, or equality and inclusion.<br />
HR Delivery - PMA support: applying practical employment law knowledge to support our business to manage cases including discipline, grievance, and performance.</p>
<p>In the second year, you will complete one placement supporting an HR business partner with a range of initiatives including talent and resourcing, change programmes and organisational structure and design.</p>
<h3>What training and support will I get?</h3>
<p>For the duration of the scheme you'll have a business sponsor who is responsible for the design and delivery of your training. They will help to secure the right placements for you and support you in your professional development. You'll also have a mentor that'll support and guide you, sharing their knowledge and expertise. Finally, you will have a buddy, who is either a previous apprentice or graduate from your scheme. Your buddy can answer any day to day questions you have and share their experiences with you.</p>
<p>During the scheme you'll not only complete the qualification but also have opportunities to complete additional training courses. These will vary from soft skills training to technical skills training. Your sponsors and placement managers will ensure you attend all the relevant training to support you in your role.</p>
<h3>What do we look for?</h3>
<p>As HR is all about our people, you'll be a strong communicator, able to build relationships easily and collaborate well with others. Beyond that, our HR team is passionate about acting as a forward thinking partner to the business, creating innovative solutions to inform TfL's wider business strategy, and helping to ensure the future of the business. So demonstrating your potential and motivation to learn how to do this is really important.</p>
<h3>Where can this career take me?</h3>
<p>You'll gain a CIPD Level 5 in Applied Human Resources and become a CIPD associate member. Through a combination of on-the-job learning and classroom training, you'll develop the diverse skills and understanding needed for a successful career in HR. This foundation can lead to a role in employee case management, recruitment, learning and development, talent, equality and inclusion, or business partnering depending on which areas you have developed interests in on the scheme.</p>
<h3>Contacting Us</h3>
<p>If at any time you need to speak to anyone within the recruitment team then please contact us Monday &#45; Friday between 08:30 and 17:30 on 0333 0062939 (Option 1) or alternatively email us at <a href="mailto:apprenticeshipenquiries&#64;tfljobs.co.uk">apprenticeshipenquiries&#64;tfljobs.co.uk</a>.</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/careers/index" class="heading">
                    <h2 id="sub-menu-heading">Careers<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/graduates">Graduates</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/careers/apprenticeships">Apprenticeships</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/why-tfl">Why TfL?</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/application-process">How to apply</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/choosing-your-apprenticeship">Choosing your apprenticeship</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/apprenticeship-schemes">Apprenticeship schemes</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/crossrail-maintenance">Crossrail Maintenance</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/london-underground-maintenance">London Underground Maintenance</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/civil-engineering-technician">Civil Engineering Technician</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/civil-engineering-level">Civil Engineering (Level 6)</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/railway-signalling-engineering">Railway Signalling Engineering</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/intelligent-transport-systems-highwa">Intelligent Transport Systems (Highways)</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/railways-system-engineering">Railways System Engineering</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/design-and-development-engineering">Design and Development Engineering</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/software-technician">Software Technician</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/software-development">Software Development</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/business-analysis">Business Analysis</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/cyber-security">Cyber Security</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/infrastructure-technician">Infrastructure Technician</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/project-controls">Project Controls</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/project-management">Project Management</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/general-management">General Management</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/transport-planning">Transport Planning</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/finance">Finance</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/human-resources-scheme">Human Resources</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/procurement">Procurement</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/quantity-surveying-level-3">Quantity Surveying Level 3</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/quantity-surveying-level-6">Quantity Surveying Level 6</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/commercial-property-surveying">Commercial Property Surveying</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/building-surveying">Building Surveying</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/degree-apprenticeships">Degree apprenticeships</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/what-s-it-really-li">Meet our current apprentices</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/steps-into-work">Steps into work </a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/smart-sourcing-programme">Smart Sourcing programme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/rewarding-you">Rewarding you</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/employability-toolkit">Employability toolkit</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Human Resources";}
        
            
        


 