
    
  



@{ViewBag.Title = "General Management";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/careers/apprenticeships/management";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/careers/index">Careers</a></li>
                
            
                 <li><a href="/corporate/careers/apprenticeships">Apprenticeships</a></li>
                
            
                 <li><a href="/corporate/careers/apprenticeships/why-tfl">Why TfL?</a></li>
                
            
            
                <li><span class="last-breadcrumb">General Management</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>General Management</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        This scheme is now closed. 
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<strong>*You can only apply for one apprenticeship scheme per year. So, between January and August 2017, we will only accept your first application. Any additional applications you submit will not be considered.*</strong>
</div>
 
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="https://tfl.taleo.net/careersection/apprentice/jobdetail.ftl?job=022480" class="secondary-button no-hover" >Apply now</a>

    </div>
</div> 
 
</div>
 

<div class="table-container"><table>
    <tbody>
        <tr>
            <td>Apprenticeship level: Level 6</td>
        </tr>
        <tr>
            <td>Scheme length: 4 years</td>
        </tr>
        <tr>
            <td>Salary: Salaries start from &pound;17,802</td>
        </tr>
        <tr>
            <td>Requirements: Five GCSE's grade A* - C including maths and English language and two A levels at grade B, or above, in any discipline. You must be 18 years of age by 1 September 2017 to be eligible for this scheme</td>
        </tr>
        <tr>
            <td>Applications: This scheme is now closed
            <p><strong>Note: Before you apply, we strongly advise you to read the <a href="/corporate/careers/apprenticeships/application-process">application process information</a> thoroughly and in full. It tells you everything you need to know and provides details about what to expect as part of your application.</strong></p>
            </td>
        </tr>
    </tbody>
</table></div>


 <div>

<p>We are a large organization and the things we do have a huge impact on both Londoners and visitors to our city, so every journey really does matter. General management is at the heart of everything we do and every decision we make.</p>
<h2>About the role</h2>
<p>General management offers a broad range of experiences, and the opportunity to rise to a position of real authority in the field that inspires you and suits your skills.</p>
<p>Our degree-level apprenticeship in management will provide you with a comprehensive structured training programme. Set over four years it also offers an introduction to a variety of project areas and the skills required to be a good manager. The programme develops professional managers capable of managing complex projects  and getting results at a strategic and/or operational level.</p>
<h3>Placements: </h3>
<p>This apprenticeship is split into eight, six-month placements. Although predominantly office-based, at least one is likely to be on frontline transport operations and will involve shift work.</p>
<p>So, you might be a customer service manager at a busy Zone 1 Tube station, leading a team of staff to make sure that the morning peak or a big concert passes smoothly. Or, you could be on one of our wide-ranging office placements  such as finance, external communications, or strategy. Perhaps you'll be looking for ways to increase the commercial income we make from our network, or even working on a project to introduce exciting new technology that will transform our customers' experience.</p>
<h2>About you</h2>
<p>This is an exciting and challenging apprenticeship. It will broaden your understanding of management and allow you to experience the operational imperatives of the business.</p>
<p>You'll work towards achieving a degree in management and business (this could be either a BA Hons; BSc Hons or BBA Hons). You'll also have full chartered membership of the Chartered Management Institute (CMI), incorporating vocational and academic elements. Successful apprentices will become chartered members of the CMI (CMgr MCMI).</p>
<p>It's important for you to meet all the requirements of the scheme so you can pass the end of your assessment. Towards the end of the scheme, we'll also start trying to find out which areas of TfL you'd like to work in. Where possible, we try to find placements for you in the areas you'd like to continue after the scheme, so you can get the right experience for your career goals.</p>
<p>Successfully completing your apprenticeship could lead to a role in front line transport operations or in one of our office functions. It really is up to you and whatever suits you best. </p>
<p>Learn more about the benefits of all our apprenticeships schemes, and find out exactly what we're looking for. </p>
<p>If you're successful you'll have to pass pre-employment checks before joining. These will include reference checks, qualifications checks, right to work in the UK and in some cases a medical and a Criminal Records Bureau (CRB) check.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/careers/index" class="heading">
                    <h2 id="sub-menu-heading">Careers<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/graduates">Graduates</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/careers/apprenticeships">Apprenticeships</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/why-tfl">Why TfL?</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/building-services-engineering">Building Services Engineering</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/building-surveying">Building Surveying</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/civil-engineering-apprenticeship">Civil Engineering (Highways)</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/commercial-procurement">Commercial Procurement</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/crossrail">Crossrail Operations Engineering</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/cyber-security">Cyber Security</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/design-development-engineering">Design & Development Engineering</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/electrical">Electrical Power Delivery</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/engineering-design">Engineering Design (CAD)</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/finance-apprenticeship">Finance </a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/management">General Management</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/human-resources">Human Resource Management</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/infrastructure-technology">Infrastructure Technology</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/intelligent-transport-systems">Intelligent Transport Systems </a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/maintenance-engineering">London Underground Engineering</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/project-management">Project Management </a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/project-planner">Project Planning</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/quantity-surveying">Quantity Surveying </a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/rail-signalling-design-engineering">Rail Signalling Design Engineering</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/rail-systems-performance-engineering">Rail Systems Performance Engineering</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/software-developer">Software Development</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/track-renewal">Track Renewal</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/transport-planning">Transport Planning</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/application-process">How to apply</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/choosing-your-apprenticeship">Choosing your apprenticeship</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/apprenticeship-schemes">Apprenticeship schemes</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/degree-apprenticeships">Degree apprenticeships</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/what-s-it-really-li">Meet our current apprentices</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/steps-into-work">Steps into work </a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/smart-sourcing-programme">Smart Sourcing programme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/rewarding-you">Rewarding you</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/employability-toolkit">Employability toolkit</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "A page about the TfL 2017 General Management apprenticeship scheme";}
        
            
        


 