
    
  



@{ViewBag.Title = "Meet our current apprentices";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/careers/apprenticeships/what-s-it-really-li";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

@{
    Response.Status = "301 Moved permanently";
    Response.AddHeader("Location", "https://careers.tfl.gov.uk/");   
}

 
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/careers/index">Careers</a></li>
                
            
                 <li><a href="/corporate/careers/apprenticeships">Apprenticeships</a></li>
                
            
            
                <li><span class="last-breadcrumb">Meet our current apprentices</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Meet our current apprentices</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Find out more about what it's really like to be one of our apprentices.<BR>
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div class="clearfix">
    <div class="image-box left-float">
    
        
        
        <img src="/cdn/static/cms/images/bethany-case-study-apprenti_rdax_400x250.jpg" alt="Apprenticeship Bethany case study" />
        
        
        
    </div>
    <h2>Crossrail Engineering apprentice</h2>
<h3>Bethany Clark</h3>
<p><strong>"It ticked all the boxes for what I wanted to learn and achieve."</strong></p>
<p>My goal is to be a fully qualified railway engineer and I'm on track to reach this through the Crossrail apprenticeship scheme. </p>
<p>Before joining TfL, I left school with&nbsp;nine GCSE's and&nbsp;went on to do&nbsp;an advanced technology BTEC in engineering at Procat College. I&nbsp; joined the Crossrail scheme in September (2016) because it ticked all the boxes for what I wanted to learn and achieve. </p>
<p>Since starting the scheme I've had a mix of classroom-taught learning as well as the hands-on experience. You get so much support on the scheme and I am excited to start my first placement out in the business where I can start applying my new knowledge and really make a difference.</p>
 </div>
 <div class="clearfix">
    <div class="image-box left-float">
    
        
        
        <img src="/cdn/static/cms/images/josh-torlot-apprentices-cas_rdax_400x250.jpg" alt="Apprentices case study, Josh Torlot" />
        
        
        
    </div>
    <h2>Quantity Surveying apprentice</h2>
<h3>Joshua Torlot</h3>
<p><strong>"I can say I definitely made the right decision."</strong></p>
<p>I joined TfL on the Quantity Surveying scheme after considering both university and an apprenticeship. I'm glad I chose to do an apprenticeship and would definitely recommend this scheme. Since joining I've developed lots of skills, from social and personal to professional skills. </p>
<p>The best thing about the scheme is that you're fully supported, and by the time I finish I'll  have just as good a qualification as someone who went to university.  I'll also have experience which puts me in a good position to continue developing my career and work towards chartership. I can say I've definitely made the right decision.</p>
 </div>
 <div class="clearfix">
    <div class="image-box left-float">
    
        
        
        <img src="/cdn/static/cms/images/apprentices-muhammad-case-s_rdax_400x250.jpg" alt="Apprentices case study, Muhammad Patel" />
        
        
        
    </div>
    <h2>Engineering apprentice</h2>
<h3>Muhammad Shiraj Patel</h3>
<p><strong>"You get the chance to earn while you learn."</strong></p>
<p>I always wanted to be proud of where I worked. I did have other options when I was leaving school but by the time I finished I knew that an apprenticeship was right for me. You get the chance to earn while you learn, working towards professional qualifications as part of your day job. </p>
<p>TfL's engineering apprenticeship opens up so many opportunities as it gives you experiences in a range of engineering placements.  Everyday our service is used and I love knowing that what I do makes a difference.</p>
 </div>
 <div class="clearfix">
    <div class="image-box left-float">
    
        
        
        <img src="/cdn/static/cms/images/apprentices-rebecca-case-st_rdax_400x250.jpg" alt="Apprentices case study, Rebecca" />
        
        
        
    </div>
    <h2>Human Resources (HR)</h2>
<h3>Rebecca Sabine-Simpson</h3>
<p><strong>"Everyone is so friendly"</strong></p>
<p>I think a common misconception for people outside of the organisation is that if you work for TfL you're probably a train driver, but there are so many more roles and people working behind the scenes to help 'keep London moving.' It's really interesting to see how all these teams work cohesively to achieve this. </p>
<p>Everyone is so friendly, and as a young apprentice it was nice to come into an organisation that was so welcoming and knowing that people want you to do well. </p>
<p>So far on my scheme I've worked in a variety of HR teams, which have all performed very different functions, but now I'm in my year-long placement with the HR Business Partners. One exciting project I  recently worked on involved helping the Smart Sourcing team. We helped people who might not otherwise have been able to (because of things like gaps in their career), get back into the workplace. We worked with ex-military personnel, women and ex-offenders, and it was really interesting to hear their stories.</p>
 </div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/careers/index" class="heading">
                    <h2 id="sub-menu-heading">Careers<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/graduates">Graduates</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/careers/apprenticeships">Apprenticeships</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/why-tfl">Why TfL?</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/application-process">How to apply</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/choosing-your-apprenticeship">Choosing your apprenticeship</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/apprenticeship-schemes">Apprenticeship schemes</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/degree-apprenticeships">Degree apprenticeships</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/corporate/careers/apprenticeships/what-s-it-really-li">Meet our current apprentices</a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/steps-into-work">Steps into work </a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/smart-sourcing-programme">Smart Sourcing programme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/rewarding-you">Rewarding you</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/employability-toolkit">Employability toolkit</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Meet the future stars of the TfL apprenticeship scheme";}
        
            
        


 