


@{ViewBag.Title = "Team GB hockey hopeful Simon Mantell leads the way in encouraging Londoners to swap to cycling this summer";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Team GB hockey hopeful Simon Mantell leads the way in encouraging Londoners to swap to cycling this summer</h1>
        <div class="content-page-press-release">
        14 June 2012
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Londoners are being encouraged to consider cycling to 'Get Ahead of the Games'.
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"With just a bit of planning, cycling offers a cheap and convenient way to get from A to B and is one alternative that Londoners wanting to get ahead of the Games this summer should definitely consider."</div>
        <div class="quote-footer">
            <div class="quotee-name">Simon Mantell</div>
            <div class="quotee-job-title">England hockey player</div>
        </div>
</div>

 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            With just a bit of planning, cycling offers a cheap and convenient way to get from A to B and is one alternative that Londoners wanting to get ahead of the Games this summer should definitely consider.
                            
                        </p>
                    </div>
                
            
            
            <p>Transport for London (TfL) and London 2012 have teamed up with Olympic hockey gold medal hopeful, Simon Mantell, to produce a short film providing hints and tips to encourage Londoners travelling in Games transport 'hotspot' areas to swap to cycling for all or part of their journeys. </p>
<p>Up to one million extra people a day are expected to use the transport network during the Games, as London transforms into a giant cultural and sporting venue. As a result, the Capital's transport network will be very busy, and at certain times and certain places will be much busier than usual. </p>
<p>For that reason, Londoners and those who live, work and travel in the capital are being urged to explore their alternative travel options at <a href="http://www.getaheadofthegames.com">www.getaheadofthegames.com</a></p>
<p>Simon Mantell's film, which shows him taking the train to Waterloo and then picking up a Barclays Cycle Hire bike to complete his journey to London Bridge, aims to demonstrate how simple it is to swap to cycling for all or part of a journey. </p>
<h2>Top tips</h2>
<p>The film, available to view at <a href="http://www.youtube.com/GAOTG">www.youtube.com/GAOTG</a>, also provides top tips for Londoners and commuters who are considering going by bike this summer. These include: </p>
<ul>
<li>Logging on to <a href="http://www.tfl.gov.uk/cycling">www.tfl.gov.uk/cycling</a> for recommended cycling routes: you don't need to cycle on busy roads to get from A to B - there are quieter and safer routes off the beaten track</li>
<li>Make sure you and your bike are ready for cycling: check the tyres are pumped up, you have a pump and a puncture repair kit with you, and take a bottle of water</li>
<li>Think about what you will do when you get to the other end: are there showers at your workplace, do you need a change of clothes, where will you lock your bike at your destination and where will you store your cycling gear?</li>
<li>Think safe: wear bright coloured clothing so you can be seen, think about wearing a helmet, use lights after dark, use hand signals and pay attention to other road users and what is going on around you. For 12 top tips, including advice on how to get cheap or free cycle training, visit <a href="http://www.tfl.gov.uk/roadusers/cycling/14798.aspx">http://www.tfl.gov.uk/roadusers/cycling/14798.aspx</a></li>
<li>Finally, think about security: the cost of your lock should be 10-15 per cent of the cost of your bike. A 'D-lock' is excellent and should go through the back wheel of your bike. Also make sure you park in a busy area where someone stealing a bike will be more noticeable</li></ul>
<h2>Quick and easy</h2>
<p>Simon Mantell, England hockey player, said: 'I'm not a regular cyclist but was surprised how quick and easy my ride from Waterloo to London Bridge was. </p>
<p>'With just a bit of planning, cycling offers a cheap and convenient way to get from A to B and is one alternative that Londoners wanting to get ahead of the Games this summer should definitely consider.' </p>
<p>Ben Plowden, Director of Planning, TfL Surface Transport, added: 'We hope this short film will act as a trigger for those who live, work or travel in London to consider swapping to cycling during Games-time for all or part of their journey. </p>
<p>'There are many thousands of bicycles lying unused in halls and sheds across the capital, and I'd urge those who need to travel into or around central London during the Games to consider whether they could go by bike. </p>
<p>'By following our list of top tips, those new to cycling will find that it's a simple, affordable and healthy way to get around the capital and avoid the 'hotspot' stations at the times they are expected to be in high demand.'</p>
<p>On Friday 15 June 2012 between 13:00 - 14:00, Simon Mantell will be taking questions over Twitter with cycling expert Andreas Kambanis, discussing their experiences of cycling around London. Those wanting to join in with the chat should follow #MantellCycling on Twitter.<br></p>
<p>
<hr>
</p>
            <p type="1"><strong>Notes to editors:</strong></p>
<ol type="1">
<li>There are 12 million journeys a day made on London's public transport network. On the busiest days of the Games up to one million extra people will use the public transport network during the Games. Log onto <a href="http://www.getaheadofthegames.com">www.getaheadofthegames.com</a> for full and final information on when and where the Tube and rail networks will be most affected during this summer's London 2012 Games and follow the &#64;GAOTG Twitter feed for the latest tips, travel information and advice</li>
<li>TfL and London 2012 have been working with businesses in London and around venues across the UK for well over a year and there is increasing evidence that they are planning ahead to reduce their travel and avoid the hotspots. In London alone, 500 major businesses employing more than 600,000 people have signed up for specific travel advice and have drafted travel plans which they have shared with TfL</li>
<li>TfL has developed free walking maps in partnership with Network Rail to encourage people to swap short Tube journeys for walking ones during Games time.&nbsp; The maps will be distributed to commuters arriving at London's mainline railway stations from 2 July until the end of the Games from 11 mainline train stations (Liverpool Street, London Bridge, Kings Cross/St Pancras, Victoria, Paddington, Marylebone, Waterloo, Fenchurch Street, Euston, Cannon Street and Charing Cross) and a number of Games venue stations<br></li></ol>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London (TfL) and London 2012 have teamed up with Olympic hockey gold medal hopeful, Simon Mantell, to produce a short film providing hints and tips to encourage Londoners travelling in Games transport 'hotspot' areas to swap to cycling for";}
        
        


 