
    
  



@{ViewBag.Title = "International Women's Day";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/campaign/women-in-transport/women-in-transport-events";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/campaign/index">Campaigns</a></li>
                
            
                 <li><a href="/campaign/women-in-transport">Women at TfL</a></li>
                
            
            
                <li><span class="last-breadcrumb">International Women's Day</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>International Women's Day</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We are committed to supporting and celebrating gender equality and diversity in the workplace, and across London. 
        
      </div>
    
    
      
      
           
      <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/womenintransport-logo.jpg" alt="Women in Transport new logo" />
    </div>
    <p>This year, with support from Siemens, we are running a programme of employee events to celebrate International Women's Day 2018 and are calling on our staff, and Londoners, to help forge a more inclusive, gender equal world. The theme for this year's International Women's Day is #PressforProgress. <a href="http://www.internationalwomensday.com">Find out more</a>. </p> 
</div>
 <div>

<h2>Siemens - where everyone is valued </h2>
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/siemens-iwd-logo2.jpg" alt="Siemens IWD logo" />
    </div>
    <p>Siemens believe diversity enhances creativity and innovation, so are delighted to partner with Transport for London to celebrate International Women's Day 2018.  Find out more about Siemens' approach to <a href="http://www.siemens.co.uk/diversity">diversity</a> and <a href="http://www.siemens.co.uk/careers">career opportunities</a> with them.   </p> 
</div>
 <div>

<h2>Championing Women in Transport</h2>
<p>Our International Women's Day events build on the legacy of our Women in Transport programme which aims to attract more women to the transport industry.  Find out more about our <a href="/campaign/women-in-transport">Women in Transport</a> programme.</p>
<h2>Career opportunities for women</h2>
<p>We offer a range of exciting career opportunities at TfL, including <a href="/corporate/careers/apprenticeships">apprenticeships</a>, and are keen to bring women and young people from a diverse range of backgrounds into the business and help them forge fascinating careers.</p>
<p>Find out more about our <a href="/corporate/careers/index">career opportunities</a>. </p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Information highlighting what TfL are doing for IWD";}
        
            
        


 