
    
  



@{ViewBag.Title = "Protecting the environment";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/deliveries-in-london/protecting-the-environment";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/deliveries-in-london/index">Deliveries in London</a></li>
                
            
            
                <li><span class="last-breadcrumb">Protecting the environment</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Protecting the environment</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We're working to reduce the impact of commercial vehicles on the environment. Learn more about how this could affect your organisation, and how you can get involved.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<h2>Ultra Low Emission Zone (ULEZ)</h2>

<p>Nearly 9,500 people die early each year due to London's poor air quality, and road transport is the largest source of pollutant emissions.</p>

<p>To help tackle this, the ULEZ&nbsp;is in&nbsp;force in central London. Vehicles including vans and HGVs need to meet emission standards to enter the zone or&nbsp;pay a daily charge.</p>

<p>To find out how you can reduce emissions, and save money in the process, <a href="https://tfl.gov.uk/modes/driving/ultra-low-emission-zone?intcmp=26434">visit the ULEZ web pages</a>.</p>
</div>
 <div>

<h2>LoCITY: collaborating to protect the environment</h2>
<p>Transport is a major contributor to air pollution in London, accounting for 63% of NOx emissions. Commercial vehicles are responsible for around one third of road transport NOx emissions in the capital. We may also be subject to financial penalties from the European Commission for non-compliance with air quality levels.</p>
<p>With this in mind, we have launched LoCITY, a ground-breaking industry-led initiative to reduce the impact of commercial vehicles on the environment.
</p>
<p>LoCITY is:</p>
<ul>
    <li>Improving London's air quality and delivering health benefits to Londoners</li>
    <li>Contributing towards London's targets on reducing carbon dioxide emissions</li>
    <li>Helping fleets save money by running cleaner, more efficient vehicles</li>
</ul>
<p><a href="http://www.locity.org.uk">Learn more and get involved by visiting the LoCITY website</a></p>
</div>
 <div>

<h2>Low Emission Zone: reducing vehicle emissions</h2>

<p>TfL has already introduced a Low Emission Zone (LEZ) to reduce the impact of road transport on the environment. The LEZ covers most of Greater London and helps reduce emissions from heavy diesel vehicles in London.</p>

<p><a href="/modes/driving/low-emission-zone">Visit the Low Emission Zone web pages</a></p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/deliveries-in-london/index" class="heading">
                    <h2 id="sub-menu-heading">Deliveries in London<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-efficiently">Efficient deliveries</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-safely">Delivering safely</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-legally">Delivering legally</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/protecting-the-environment">Protecting the environment</a></div>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/deliveries-in-london/delivering-goods-by-water">Delivering goods by water</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/deliveries-in-london/training-courses-and-events">Training courses and events</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "How we're working to reduce the impact of commercial vehicles on the environment";}
        
            
        


 