
    
  



@{ViewBag.Title = "Culture & heritage updates";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/travel-information/social-media-and-email-updates/culture-and-heritage-updates";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/social-media-and-email-updates/index">Social media & email updates</a></li>
                
            
            
                <li><span class="last-breadcrumb">Culture & heritage updates</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Culture & heritage updates</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Art, poetry, history and interesting facts about London's transport.
        
      </div>
    
    <div class="on-this-page">
      <h2>Art on the Underground</h2>
<p>Follow us on Twitter to receive regular Art on the Underground news. If you'd like to tag us in your updates use #AOTU and #ArtontheUnderground.</p>
      
           
      
<div class="module-grid clearfix">
<div class="follow-social twitter">
  
  <div class="social-image">
    <span class="mode-icon underground">&nbsp;</span>
  </div>
  <div class="social-text">
    <h3>Art on the Underground on Twitter</h3>
    <p>News and information about our arts programme</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="http://www.twitter.com/aotulondon">Follow &#64;aotulondon</a>
  </div> 
</div>
 <div class="follow-social facebook">
  
  <div class="social-image">
    <span class="mode-icon underground">&nbsp;</span>
  </div>
  <div class="social-text">
    <h3>Art on the Underground on Facebook</h3>
    <p>News and information about our arts programme</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="http://www.facebook.com/artontheunderground">Like</a>
  </div> 
</div>
 <div class="follow-social youtube">
  
  <div class="social-image">
    <span class="mode-icon underground">&nbsp;</span>
  </div>
  <div class="social-text">
    <h3>Art on the Underground on YouTube</h3>
    <p>Videos of our arts programme</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="http://www.youtube.com/artontheunderground">Subscribe</a>
  </div> 
</div>
 <div class="follow-social flickr">
  
  <div class="social-image">
    <span class="mode-icon underground">&nbsp;</span>
  </div>
  <div class="social-text">
    <h3>Art on the Underground on Flickr</h3>
    <p>Images of our arts programme</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="http://www.flickr.com/photos/aotu">Follow </a>
  </div> 
</div>
 
</div>
 <div>

<h2>Transported by Design</h2>
<p>We're showcasing London's rich transport design heritage with a programme of events, exhibitions and competitions for Transported by Design. We use the hashtags #DesignIcons and #TransportedbyDesign. Join in discussions on <a href="https://www.facebook.com/hashtag/transportedbydesign">Facebook</a>, <a href="https://twitter.com/search?f=tweets&amp;vertical=default&amp;q=%23DesignIcons%20OR%20%23TransportedbyDesign">Twitter</a> and <a href="https://www.instagram.com/explore/tags/transportedbydesign/">Instagram</a>. Follow our <a href="http://transportedbydesign.tumblr.com/">Transported by Design Tumblr</a>.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/travel-information/social-media-and-email-updates/index" class="heading">
                    <h2 id="sub-menu-heading">Social media & email updates<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/travel-information/social-media-and-email-updates/travel-alerts-on-twitter">Travel alerts on Twitter</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/social-media-and-email-updates/email-updates">Email updates </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/social-media-and-email-updates/news-updates">News updates</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/social-media-and-email-updates/careers-updates">Careers updates</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/travel-information/social-media-and-email-updates/culture-and-heritage-updates">Culture & heritage updates</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/travel-information/social-media-and-email-updates/journey-alerts">Journey alerts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/social-media-and-email-updates/facebook-travelbot">Facebook TravelBot</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Art, poetry, history and interesting facts about London's transport. on social media";}
        
            
        


 