
    
  



@{ViewBag.Title = "News updates";}
@{ViewBag.Keywords = "Public,TfL";}
@{ViewBag.Url = "/travel-information/social-media-and-email-updates/news-updates";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/social-media-and-email-updates/index">Social media & email updates</a></li>
                
            
            
                <li><span class="last-breadcrumb">News updates</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>News updates</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Keep updated with the latest news about the Capital's transport network plus travel advice, trivia and competitions.
        
      </div>
    
    
      <p>Follow us on Facebook, Twitter and YouTube to receive regular updates. </p>
<p>If you want to tag us in your updates, use #TransportforLondon.</p>
      
           
      
<div class="module-grid clearfix">
<div class="follow-social facebook">
  
  <div class="social-image">
    <span class="mode-icon underground">&nbsp;</span>
  </div>
  <div class="social-text">
    <h3>Tube information on Facebook</h3>
    <p>News and information about London Underground</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="http://www.facebook.com/londonunderground">Like</a>
  </div> 
</div>
 <div class="follow-social facebook">
  
  <div class="social-image">
    
  </div>
  <div class="social-text">
    <h3>News on Facebook</h3>
    <p>Get updates about London's transport system</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="https://www.facebook.com/transportforlondon">Like</a>
  </div> 
</div>
 <div class="follow-social instagram">
  
  <div class="social-image">
    
  </div>
  <div class="social-text">
    <h3>TfL on Instagram</h3>
    <p>Images, news and information</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="http://instagram.com/transportforlondon">Follow</a>
  </div> 
</div>
 <div class="follow-social twitter">
  
  <div class="social-image">
    
  </div>
  <div class="social-text">
    <h3>TfL news on Twitter</h3>
    <p>News and latest information </p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="https://twitter.com/TfL">Follow &#64;TfL</a>
  </div> 
</div>
 <div class="follow-social twitter">
  
  <div class="social-image">
    
  </div>
  <div class="social-text">
    <h3>Tube and rail travel advice</h3>
    <p>News and customer service - Tube, DLR, London Overground, trams and Emirates Air Line</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="http://www.twitter.com/TfLTravelAlerts">Follow &#64;TfLTravelAlerts</a>
  </div> 
</div>
 <div class="follow-social youtube">
  
  <div class="social-image">
    
  </div>
  <div class="social-text">
    <h3>TfL on YouTube</h3>
    <p>Videos of our news and information </p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="http://www.youtube.com/transportforlondon">Subscribe</a>
  </div> 
</div>
 
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/travel-information/social-media-and-email-updates/index" class="heading">
                    <h2 id="sub-menu-heading">Social media & email updates<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/travel-information/social-media-and-email-updates/travel-alerts-on-twitter">Travel alerts on Twitter</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/social-media-and-email-updates/email-updates">Email updates </a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/travel-information/social-media-and-email-updates/news-updates">News updates</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/travel-information/social-media-and-email-updates/careers-updates">Careers updates</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/social-media-and-email-updates/culture-and-heritage-updates">Culture & heritage updates</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/social-media-and-email-updates/journey-alerts">Journey alerts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/social-media-and-email-updates/facebook-travelbot">Facebook TravelBot</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Latest news plus travel advice, trivia and competitions on social media";}
        
            
        


 