
    
  



@{ViewBag.Title = "Travel alerts on Twitter";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/travel-information/social-media-and-email-updates/travel-alerts-on-twitter";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/social-media-and-email-updates/index">Social media & email updates</a></li>
                
            
            
                <li><span class="last-breadcrumb">Travel alerts on Twitter</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Travel alerts on Twitter</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Find out how to get alerts about major disruptions on your line through Twitter direct messages and how to check the status of your line.<BR>
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div class="clearfix">
    <div class="image-box light-box right-float">
    
        
        
        <a href="/cdn/static/cms/images/twitter-travel-alerts.png" class="modal-launch" target="_blank">
             <img src="/cdn/static/cms/images/twitter-travel-alerts_rdax_400x250.png" alt="Travel alerts on Twitter" />
             
        </a>
        
        
    </div>
    <h2>About the service</h2>
<p><a href="http://twitter.com/messages/compose?recipient_id=355994177">We have created a system to provide alerts</a> about major disruptions through Twitter direct messages. The service is free and uses our data to inform you when there are significant delays or an alternative route is required. Within a direct message, you can also instantly check the status of your line.</p>
<p>Travel alerts and a status checker are available for all Tube lines, DLR, London Overground and TfL Rail.</p>
<h2>How to check your line status</h2>
<ol>
    <li>On Twitter, open a direct message with one of our accounts and select 'Check status now'</li>
    <li>Select the specific line and you will instantly receive the current status including disruption information</li>
</ol>
<h2>How to subscribe</h2>
<ol>
    <li>On Twitter, open a direct message with one of our accounts and select 'Subscribe or edit alerts'</li>
    <li>Select the specific lines for which you would like to get alerts</li>
</ol>
<p>To receive these alerts, you will need to <a href="https://support.twitter.com/articles/20169887">enable notifications on your phone</a>.</p>
<h2>How to personalise your alerts</h2>
<p>On Twitter, open a direct message with one of our accounts and select 'Subscribe or edit alerts'. Your subscriptions can be personalised with the following options:</p>
<ul>
    <li>To receive alerts from specific lines, select 'Add subscriptions'</li>
    <li>To remove specific lines, select 'Remove subscriptions'</li>
    <li>The default time to receive alerts is set to  'Commuting times' (07:00-10:00 and 16:00-19:00, Monday to Friday). To change this setting to receive alerts at all times, select 'Always' or to stop all alerts, select 'Never'</li>
</ul>
 </div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/travel-information/social-media-and-email-updates/index" class="heading">
                    <h2 id="sub-menu-heading">Social media & email updates<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected"><div class="link-wrapper"><a href="/travel-information/social-media-and-email-updates/travel-alerts-on-twitter">Travel alerts on Twitter</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/travel-information/social-media-and-email-updates/email-updates">Email updates </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/social-media-and-email-updates/news-updates">News updates</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/social-media-and-email-updates/careers-updates">Careers updates</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/social-media-and-email-updates/culture-and-heritage-updates">Culture & heritage updates</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/social-media-and-email-updates/journey-alerts">Journey alerts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/travel-information/social-media-and-email-updates/facebook-travelbot">Facebook TravelBot</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Get alerts from TfL about major travel disruptions through Twitter direct message notifications";}
        
            
        


 