
    
  


<!-- rhroot -->
@{ViewBag.Title = "Annual Report";}
@{ViewBag.Keywords = "Investors,Media,Public,A,Corporate information,Finance,Performance,Regular reports,Research,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/annual-report";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Annual Report</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Annual Report</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Our Annual Report summarises our achievements over the last financial year and the work we have done to improve your transport network.
        
      </div>
    
    
      
      
           
      <div>

<h2>Year at a glance - 2017/18</h2>
</div>
 

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/april-2017.jpg" alt="April 2017" />
                <figcaption>
<span class="figure-title">April 2017</span>
<span class="figure-description">New 'Please offer me a seat' badges help customers with invisible conditions</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/may-2017.jpg" alt="May 2017" />
                <figcaption>
<span class="figure-title">May 2017</span>
<span class="figure-description">The new Samsung Pay app can be used for 'pay as you go' travel on our network</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/june-2017.jpg" alt="June 2017" />
                <figcaption>
<span class="figure-title">June 2017</span>
<span class="figure-description">New trains that will serve the Elizabeth line run from Liverpool Street to Shenfield</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/july-2017.jpg" alt="July 2017" />
                <figcaption>
<span class="figure-title">July 2017</span>
<span class="figure-description">A &pound;42m fund will help taxi drivers replace the most polluting diesel cabs</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/august-2017.jpg" alt="August 2017" />
                <figcaption>
<span class="figure-title">August 2017</span>
<span class="figure-description">Figures show the Night Tube boosted London's economy by &pound;171m in its first year</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/september-2017.jpg" alt="September 2017" />
                <figcaption>
<span class="figure-title">September 2017</span>
<span class="figure-description">Collecting anonymised WiFi connection data can help us improve the Tube </span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/october-2017.jpg" alt="October 2017" />
                <figcaption>
<span class="figure-title">October 2017</span>
<span class="figure-description">The T-Charge sets a tough emissions standard for older, more polluting vehicles</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/november-2017.jpg" alt="November 2017" />
                <figcaption>
<span class="figure-title">November 2017</span>
<span class="figure-description">The second Oxford Street consultation outlines plans for the historic shopping avenue</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/december-2017.jpg" alt="December 2017" />
                <figcaption>
<span class="figure-title">December 2017</span>
<span class="figure-description">London Overground's first 24-hour services start running at weekends</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/january-2018.jpg" alt="January 2018" />
                <figcaption>
<span class="figure-title">January 2018</span>
<span class="figure-description">Hopper fare expands -  unlimited bus and tram journeys in an hour cost customers &pound;1.50</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/february-2018.jpg" alt="February 2018" />
                <figcaption>
<span class="figure-title">February 2018</span>
<span class="figure-description">Santander Cycles is extended to Brixton, with seven docking stations and 200 bikes</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/march-2018.jpg" alt="March 2018" />
                <figcaption>
<span class="figure-title">March 2018</span>
<span class="figure-description">Bromley-by-Bow becomes the 73rd Tube station with step-free access</span>
                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
 
<div>




<h2>2017/18 Annual Report and statement of accounts</h2>
<div class="multi-document-download-container">
    

<a class="document-download-wrap portrait-download-image with-image pdfpdf" href="/cdn/static/cms/documents/tfl-annual-report-and-statement-of-accounts-2017-18.pdf">
    <div class="document-download-text">
        <p>Annual Report and statement of accounts 2017/2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.05MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/tfl-annual-report-17-18-thumb.jpg" alt="Cover of TfL Annual Report 2017/18" />
    </div>

</a>

<!-- 5.05 -->
 
</div>
<h2></h2>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/publications-and-reports/annual-report" class="heading">
                    <h2 id="sub-menu-heading">Annual Report<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/annual-reports-past-years">Annual Reports - past years</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/about-tfl/index" class="plain-button">About TfL</a>
<a href="/corporate/transparency/audit-of-accounts---notice-of-public-rights" class="plain-button">Audit of accounts - Notice of public rights</a>
<a href="/corporate/publications-and-reports/business-plan" class="plain-button">Budget and Business Plan</a>
<a href="/corporate/publications-and-reports/audit-and-assurance-committee" class="plain-button">Audit &amp; Assurance committee</a>
<a href="/corporate/about-tfl/the-mayors-transport-strategy" class="plain-button">The Mayor's Transport Strategy</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "These reports summarise the work we have done to improve London's transport network";}
        
            
        


 