
    
  


<!-- rhroot -->
@{ViewBag.Title = "Customer service & Op performance";}
@{ViewBag.Keywords = "DLR passengers,London Overground passengers,Public,Tube passengers,C,R,S,Committee and panel meetings,DLR,London Overground,Rail,Tube,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/customer-service-op-performance";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Customer service & Op performance</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Customer service & Op performance</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The Customer service & Operational performance panel has a clear focus on delivery for TfL's customers, including accessibility and the sharing of learning from across the whole organisation. 
        
      </div>
    
    
      <p><strong>Members:</strong> Dr Mee Ling Ng OBE (Chair), Dr Alice Maynard CBE (Vice Chair),&nbsp;Bronwen Handyside,&nbsp;Anne McMeel, Dr Nelson Ogunshakin OBE, Val Shawcross CBE&nbsp;and Dr Lynn Sloman</p>

<h2>Quarterly reports</h2>

<p>The panel produces quarterly reports that look at TfL's performance in relation to the themes of the <a href="/corporate/about-tfl/the-mayors-transport-strategy">Mayor's Transport Strategy</a>.</p>
      
           
      <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2018/2019-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Customer service & Op performance-2018/2019"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2018/2019-heading" class="accordion-heading">2018/2019</div>
            </div>
            <div id="2018/2019-content" class="start-hidden" role="region" aria-labelledby="2018/2019-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/customer-service-and-operational-performance-report-2018-19-q3.pdf">
    <div class="document-download-text">
        <p>Q3: 16 September 2018 - 8 December 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 16.72MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 16.72 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/customer-service-and-operational-performance-report-2018-19-q2.pdf">
    <div class="document-download-text">
        <p>Q2: 24 June 2018 &#45; 15 September 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.43MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.43 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/customer-service-and-operational-performance-report-2018-19-q1.pdf">
    <div class="document-download-text">
        <p>Q1: 1 April 2018 &#45; 23 June 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 7.07MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 7.07 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2017/2018-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Customer service & Op performance-2017/2018"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2017/2018-heading" class="accordion-heading">2017/2018</div>
            </div>
            <div id="2017/2018-content" class="start-hidden" role="region" aria-labelledby="2017/2018-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/customer-service-and-operational-performance-report-2017-18-q4.pdf">
    <div class="document-download-text">
        <p>Q4: 10 December 2017 - 31 March 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.61MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.61 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 
</div>
 <h2> 2018 meeting papers</h2>






    


<div class="accordion">
<div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    24 January
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20180124-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 39KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20180124-part-1-item03-minutes.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Previous Meeting</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 44KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20180124-part-1-item04-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 46KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20180124-part-1-item05-quarterly-customer-services-ops-report.pdf">
    <div class="document-download-text">
        <p>Item 5 - Quarterly Customer Services and Operational Performance Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 7.12MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 7.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20180124-part-1-item06-night-tube-one-year-on.pdf">
    <div class="document-download-text">
        <p>Item 6 - Night Tube One Year On</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 263KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.26 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20180124-part-1-item07-customer-information-strategy.pdf">
    <div class="document-download-text">
        <p>Item 7 - Customer Information Strategy: Signage and Wayfinding</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.72MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.72 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20180124-part-1-item08-forward-plan.pdf">
    <div class="document-download-text">
        <p>Item 8 - Member Suggestions for Future Agenda Items</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 64KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    06 June
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20180606-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 44KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20180606-part-1-item03-minutes.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting of the Panel held on 24 January 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 32KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20180606-part-1-item04-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.25MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.25 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20180606-part-1-item05-ops-report.pdf">
    <div class="document-download-text">
        <p>Item 5 - Quarterly Customer Services and Operational Performance Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.66MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.66 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20180606-part-1-item06-review-of-bus-services.pdf">
    <div class="document-download-text">
        <p>Item 6 - Review of Bus Services to London's Hospitals - Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.94MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.94 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20180606-part-1-item07-independent-evacuation.pdf">
    <div class="document-download-text">
        <p>Item 7 - Independent Evacuation of Disabled People from London Underground Stations </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 23KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20180606-part-1-item08-ats.pdf">
    <div class="document-download-text">
        <p>Item 8 - Assisted Transport Services</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 116KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20180606-part-1-item09-lu-station-action-plan.pdf">
    <div class="document-download-text">
        <p>Item 9 - London Underground Station Action Plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 334KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.33 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20180606-part-1-item10-member-suggestions.pdf">
    <div class="document-download-text">
        <p>Item 10 - Member Suggestions for Future Agenda Discussions</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 72KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    11 September
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-11-sept-2018.pdf">
    <div class="document-download-text">
        <p>11 September 2018 - Agenda and Papers</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 9.58MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 9.58 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    14 November
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csopp-20181114-agenda-and-papers.pdf">
    <div class="document-download-text">
        <p>14 November 2018 - agenda and papers</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 10.69MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 10.69 -->
            
              </div>
            </div>
        </div>
 

   </div>
 
</div>
 <h2> 2019 meeting papers</h2>






    


<div class="accordion">
<div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    13 February
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/csop-panel-20190213-agenda-and-papers.pdf">
    <div class="document-download-text">
        <p>13 February 2019 - agenda and papers</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 21.91MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 21.91 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    13 June
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                           
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    12 September
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                           
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    27 November
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                           
              </div>
            </div>
        </div>
 

   </div>
 
</div>
 <div>

<p>TfL's decision-making structure and proceedings, together with Schemes of Delegation and Authorities, are laid out in the TfL standing orders. The TfL committees and panels document sets out the terms of reference for each committee and panel. Both TfL's standing orders and TfL committees and panels documents can be found on the <a href="/corporate/publications-and-reports/standing-orders">Standing orders page</a>.
</p>
<p>You are welcome to attend any meeting of TfL's Board, committees and/or panels. These are held in public, except where private, personal or specific financial information is to be discussed.</p>
<p>Papers are published five working days before each meeting (unless accepted by the relevant Chair as urgent items).</p>
<p>The date, time and venue for forthcoming meetings is listed on the public notice of meetings. This notice, plus further information on our meetings and Board Members, is available on the <a href="/corporate/about-tfl/how-we-work/how-we-are-governed">How we are governed page</a>. </p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/publications-and-reports/customer-service-op-performance" class="heading">
                    <h2 id="sub-menu-heading">Customer service & Op performance<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/cs-and-op-performance-past-years">Papers - past years</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/rail-and-underground-past-years">Rail & Underground 2006-2016</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/surface-transport-past-years">Surface Transport 2006-2016</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/publications-and-reports/board-papers" class="plain-button">Board papers</a>
<a href="/corporate/publications-and-reports/standing-orders" class="plain-button">Standing orders</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Agendas and minutes from the most recent Customer service & Operational performance panel meetings";}
        
            
        


 