
    
  


<!-- rhroot -->
@{ViewBag.Title = "Expenditure";}
@{ViewBag.Keywords = "E,Corporate information,Finance,Regular reports,Transparency data ,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/expenditure-over-250";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Expenditure</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Expenditure</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We publish reports of all TfL expenditure over &pound;250 and Crossrail expenditure over &pound;500.
        
      </div>
    
    <div class="on-this-page">
      
    
      
           
      
<div>



<h2>TfL expenditure over &pound;250</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tflspend2019p10.pdf">
    <div class="document-download-text">
        <p>Payments greater than &pound;250: 9 December 2018 to 5 January 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 791KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.77 -->
 

<a class="document-download-wrap csv" href="/cdn/static/cms/documents/tflspend2019p10.csv">
    <div class="document-download-text">
        <p>Payments greater than &pound;250: 9 December 2018 to 5 January 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            CSV 1.15MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.15 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tflspend2019p09.pdf">
    <div class="document-download-text">
        <p>Payments greater than &pound;250: 11 November 2018 to 8 December 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 889KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.87 -->
 

<a class="document-download-wrap csv" href="/cdn/static/cms/documents/tflspend2019p09.csv">
    <div class="document-download-text">
        <p>Payments greater than &pound;250: 11 November 2018 to 8 December 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            CSV 1.28MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.28 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tflspend2019p08.pdf">
    <div class="document-download-text">
        <p>Payments greater than &pound;250: 14 October 2018 to 10 November 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 872KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.85 -->
 

<a class="document-download-wrap csv" href="/cdn/static/cms/documents/tflspend2019p08.csv">
    <div class="document-download-text">
        <p>Payments greater than &pound;250: 14 October 2018 to 10 November 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            CSV 1.27MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.27 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tflspend2019p07.pdf">
    <div class="document-download-text">
        <p>Payments greater than &pound;250: 16 September 2018 - 13 October 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 842KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.82 -->
 

<a class="document-download-wrap csv" href="/cdn/static/cms/documents/tflspend2019p07.csv">
    <div class="document-download-text">
        <p>Payments greater than &pound;250: 16 September 2018 - 13 October 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            CSV 1.24MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.24 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tflspend2019p06.pdf">
    <div class="document-download-text">
        <p>Payments greater than &pound;250: 19 August 2018 - 15 September 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 791KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.77 -->
 

<a class="document-download-wrap csv" href="/cdn/static/cms/documents/tflspend2019p06.csv">
    <div class="document-download-text">
        <p>Payments greater than &pound;250: 19 August 2018 - 15 September 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            CSV 1.19MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.19 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tflspend2019p05.pdf">
    <div class="document-download-text">
        <p>Payments greater than &pound;250: 22 July 2018 - 18 August 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 882KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.86 -->
 

<a class="document-download-wrap csv" href="/cdn/static/cms/documents/tflspend2019p05.csv">
    <div class="document-download-text">
        <p>Payments greater than &pound;250: 22 July 2018 - 18 August 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            CSV 1.30MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.30 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tflspend2019p04.pdf">
    <div class="document-download-text">
        <p>Payments greater than &pound;250: 24 June 2018 - 21 July 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 868KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.85 -->
 

<a class="document-download-wrap csv" href="/cdn/static/cms/documents/tflspend2019p04.csv">
    <div class="document-download-text">
        <p>Payments greater than &pound;250: 24 June 2018 - 21 July 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            CSV 1.32MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.32 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tflspend2019p03.pdf">
    <div class="document-download-text">
        <p>Payments greater than &pound;250: 27 May 2018 - 23 June 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 762KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.74 -->
 

<a class="document-download-wrap csv" href="/cdn/static/cms/documents/tflspend2019p03.csv">
    <div class="document-download-text">
        <p>Payments greater than &pound;250: 27 May 2018 - 23 June 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            CSV 1.11MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tflspend2019p02.pdf">
    <div class="document-download-text">
        <p>Payments greater than &pound;250: 29 April 2018 - 26 May 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 0.98MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.98 -->
 

<a class="document-download-wrap csv" href="/cdn/static/cms/documents/tflspend2019p02.csv">
    <div class="document-download-text">
        <p>Payments greater than &pound;250: 29 April 2018 - 26 May 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            CSV 1.55MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.55 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tflspend2019p01.pdf">
    <div class="document-download-text">
        <p>Payments greater than &pound;250: 1 April 2018 - 28 April 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 677KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.66 -->
 

<a class="document-download-wrap csv" href="/cdn/static/cms/documents/tflspend2019p01.csv">
    <div class="document-download-text">
        <p>Payments greater than &pound;250: 1 April 2018 - 28 April 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            CSV 1.53MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.53 -->
 
</div>

</div>
 
<div>



<h2>Crossrail expenditure over &pound;500</h2>


Visit the <a href="http://www.crossrail.co.uk/">Crossrail website</a> for information relating to previous years
<div class="multi-document-download-container">
    

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/crossrail-expenditure-p12.xlsx">
    <div class="document-download-text">
        <p>Payments greater than &pound;500: 3 February - 2 March 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 88KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/crossrail-expenditure-p11.xlsx">
    <div class="document-download-text">
        <p>Payments greater than &pound;500: 6 January - 2 February 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 94KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/crossrail-expenditure-p10.xlsx">
    <div class="document-download-text">
        <p>Payments greater than &pound;500: 9 December 2018 - 5 January 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 75KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/crossrail-expenditure-p9.xlsx">
    <div class="document-download-text">
        <p>Payments greater than &pound;500: 11 November - 8 December 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 87KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/crossrail-expenditure-p8.xlsx">
    <div class="document-download-text">
        <p>Payments greater than &pound;500: 14 October - 10 November 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 86KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/crossrail-expenditure-p7.xlsx">
    <div class="document-download-text">
        <p>Payments greater than &pound;500: 16 September - 13 October 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 84KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/crossrail-expenditure-p6.xlsx">
    <div class="document-download-text">
        <p>Payments greater than &pound;500: 19 August - 15 September 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 82KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/crossrail-expenditure-p5.xlsx">
    <div class="document-download-text">
        <p>Payments greater than &pound;500: 22 July - 18 August 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 84KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/crossrail-expenditure-p3.xlsx">
    <div class="document-download-text">
        <p>Payments greater than &pound;500: 27 May 2018 - 23 June 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 90KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/crossrail-expenditure-p2.xlsx">
    <div class="document-download-text">
        <p>Payments greater than &pound;500: 29 April 2018 - 26 May 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 77KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/crossrail-expenditure-p1.xlsx">
    <div class="document-download-text">
        <p>Payments greater than &pound;500: 1 April 2018 - 28 April 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 89KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.09 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/publications-and-reports/expenditure-over-250" class="heading">
                    <h2 id="sub-menu-heading">Expenditure<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/previous-years">Previous years</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/publications-and-reports/chief-officers-expenses" class="plain-button">Chief Officers' expenses</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We believe in being open about our costs. These reports list all expenditure of more than £250 for TfL and more than £500 for Crossrail";}
        
            
        


 