
    
  


<!-- rhroot -->
@{ViewBag.Title = "Programmes & Investment committee";}
@{ViewBag.Keywords = "Public,C,I,P,Committee and panel meetings,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/programmes-and-investment-committee";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Programmes & Investment committee</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Programmes & Investment committee</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        This committee will focus on capital programme authority approvals and delivery of the overall TfL Investment Programme.<BR>
        
      </div>
    
    
      <p><strong>Members:</strong> Prof Greg Clark CBE (Chair), Dr Nelson Ogunshakin OBE (Vice Chair), Heidi Alexander, Ron Kalifa OBE, Dr Alice Maynard CBE, Dr Nina Skorupska CBE, Dr Lynn Sloman and Ben Story.</p>
      
           
      <h2> 2018 meeting papers</h2>






    


<div class="accordion">
<div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    21 February
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180221-agenda-web.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 42KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180221-item03-pt1-minutes-for-approval-20171212.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting held on 12 December 2017</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 50KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180221-item04-pt1-actions.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 45KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180221-item05-pt1-ipr-q3.pdf">
    <div class="document-download-text">
        <p>Item 5 - Investment Programme Report - Quarter 3 - 2017/18</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.47MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.47 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180221-item06-pt-1-project-monitoring.pdf">
    <div class="document-download-text">
        <p>Item 6 - Project Monitoring - Programme and Project Approvals</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 54KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180221-item07-pt-1-crossrail-2.pdf">
    <div class="document-download-text">
        <p>Item 7 - Crossrail 2</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 49KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180221-item08-pt-1-tech-and-data.pdf">
    <div class="document-download-text">
        <p>Item 8 - Technology and Data Programme 2018/19 and 2019/20</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 771KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.75 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180221-item09-pt-1-major-stations.pdf">
    <div class="document-download-text">
        <p>Item 9 - London Underground Major Stations Programme</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.21MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.21 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180221-item10-pt-1-track-renewals.pdf">
    <div class="document-download-text">
        <p>Item 10 - London Underground Track Renewals Programme 2018/19 and 2019/20</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 167KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180221-item11-pt1-rolling-stock-renewals.pdf">
    <div class="document-download-text">
        <p>Item 11 - London Underground Rolling Stock Renewals Programme</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 85KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180221-item12-pt1-crossrail-update.pdf">
    <div class="document-download-text">
        <p>Item 12 - Crossrail Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 28KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap not-for-beta placeholder-image" href="/shared/DocumentComingSoon" data-pull-content="#body">
    <div class="document-download-text">
        <p>Item 13 - Member suggestions for future agenda discussions</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!--  -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    16 May
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180516-agenda-web.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 47KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180516-item03-20180221-minutes-for-approval.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting of the Committee held on 21 February 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 59KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180516-item04a-part1-actions.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 39KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180516-item05-update-on-major-projects.pdf">
    <div class="document-download-text">
        <p>Item 5 - Update on Major Projects, Programmes and Investment</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 35KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180516-item06-delegated-authority.pdf">
    <div class="document-download-text">
        <p>Item 6 - Use of Delgated Authority</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 129KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180516-item07-barking-riverside.pdf">
    <div class="document-download-text">
        <p>Item 7 - Barking Riverside Extension Update and Procurement Authority Request</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 398KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.39 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180516-item08-deep-tube-update.pdf">
    <div class="document-download-text">
        <p>Item 8 - Deep Tube Programme </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 113KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180516-item09-lu-signalling.pdf">
    <div class="document-download-text">
        <p>Item 9 - London Underground Legacy Signalling and Information</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 116KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180516-item10-rotherhithe-to-canary-wharf.pdf">
    <div class="document-download-text">
        <p>Item 10 - Rotherhithe to Canary Wharf Crossing</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 79KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180516-item11-crossrail.pdf">
    <div class="document-download-text">
        <p>Item 11 - Crossrail Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 956KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.93 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180516-item-12-member-suggestions-future-business.pdf">
    <div class="document-download-text">
        <p>Item 12 - Member Suggestions for Future Agenda items</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 74KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    03 July
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180703-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 48KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180703-item03-minutes.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the Meeting of the Committee held on 16 May 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 48KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180703-item04-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 37KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180703-item05-q4-ipr-web.pdf">
    <div class="document-download-text">
        <p>Item 5 - Investment Programme Report - Quarter 4 2017/18</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.49MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.49 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180703-item06-ippag-quarterly-report.pdf">
    <div class="document-download-text">
        <p>Item 6 - Independent Investment Programme Advisory Group - Quarterly Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 103KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180703-item07-use-of-delegated-authority.pdf">
    <div class="document-download-text">
        <p>Item 7 - Use of Delegated Authority</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 64KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180703-item08-tfl-growth-fund.pdf">
    <div class="document-download-text">
        <p>Item 8 - TfL Growth Fund </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 576KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.56 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180703-item09-healthy-streets-programme.pdf">
    <div class="document-download-text">
        <p>Item 9 - Healthy Streets Programme 2018/19 and 2019/20</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 788KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.77 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180703-item10-silvertown-tunnel.pdf">
    <div class="document-download-text">
        <p>Item 10 - Silvertown Tunnel</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 561KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.55 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180703-item11-lu-world-class-capacity-programme.pdf">
    <div class="document-download-text">
        <p>Item 11 - London Underground World Class Capacity Programme</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 86KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180703-item12-lu-power-cooling-and-energy-programme.pdf">
    <div class="document-download-text">
        <p>Item 12 - London Underground Power, Cooling and Energy Programme</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 105KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180703-item13-lu-stations-renewals-and-enhancements-programme.pdf">
    <div class="document-download-text">
        <p>Item 13 - London Underground Stations Renewals and Enhancements Programme</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 138KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180703-item14-crossrail-update.pdf">
    <div class="document-download-text">
        <p>Item 14 - Crossrail Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.21MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.21 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20180703-item15-forward-plan.pdf">
    <div class="document-download-text">
        <p>Item 15 - Forward Programme</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 77KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    11 October
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20181011-agenda-and-papers.pdf">
    <div class="document-download-text">
        <p>11 October 2018 - Agenda and papers</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 7.14MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 7.14 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    11 December
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20181211-public-pack.pdf">
    <div class="document-download-text">
        <p>11 December - Agenda and Papers</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 9.71MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 9.71 -->
            
              </div>
            </div>
        </div>
 

   </div>
 
</div>
 <h2> 2019 meeting papers</h2>






    


<div class="accordion">
<div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    06 March
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20190306-agenda-and-documents-public.pdf">
    <div class="document-download-text">
        <p>6 March - Agenda and Papers</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 15.58MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 15.58 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    15 May
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20190515-supplemental-public-agenda.pdf">
    <div class="document-download-text">
        <p>15 May 2019 - Supplementary Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 702KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.69 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pic-20190515-public-agenda.pdf">
    <div class="document-download-text">
        <p>15 May 2019 - Agenda and Papers</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.96MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.96 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    17 July
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                           
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    23 October
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                           
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    18 December
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                           
              </div>
            </div>
        </div>
 

   </div>
 
</div>
 <div>

<p>TfL's decision-making structure and proceedings, together with Schemes of Delegation and Authorities, are laid out in the TfL standing orders. The TfL committees and panels document sets out the terms of reference for each committee and panel. Both TfL's standing orders and TfL committees and panels documents can be found on the <a href="/corporate/publications-and-reports/standing-orders">Standing orders page</a>.
</p>
<p>You are welcome to attend any meeting of TfL's Board, committees and/or panels. These are held in public, except where private, personal or specific financial information is to be discussed.</p>
<p>Papers are published five working days before each meeting (unless accepted by the relevant Chair as urgent items).</p>
<p>The date, time and venue for forthcoming meetings is listed on the public notice of meetings. This notice, plus further information on our meetings and Board Members, is available on the <a href="/corporate/about-tfl/how-we-work/how-we-are-governed">How we are governed page</a>. </p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/publications-and-reports/programmes-and-investment-committee" class="heading">
                    <h2 id="sub-menu-heading">Programmes & Investment committee<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/p-and-i-past-years">Papers - past years</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/publications-and-reports/finance-committee" class="plain-button">Finance committee</a>
<a href="/corporate/publications-and-reports/finance-and-policy-past-years" class="plain-button">Finance &amp; Policy 2006-2016</a>
<a href="/corporate/about-tfl/how-we-work/how-we-are-governed" class="plain-button">How we are governed</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Agendas and minutes from all Programmmes & Investment committee meetings";}
        
            
        


 