
    
  


<!-- rhroot -->
@{ViewBag.Title = "Safety, Sustainability & HR panel";}
@{ViewBag.Keywords = "Planning and construction,Public,A,C,S,Committee and panel meetings,Environment,Policy,Safety and security,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/safety-sustainability-hr";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Safety, Sustainability & HR panel</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Safety, Sustainability & HR panel</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The panel considers wide-ranging issues including policy, strategy, the implementation of the Mayor's Transport Strategy and operating business performance in relation to safety and sustainability considerations for TfL's services and reviews and monitors human resources issues including equality and inclusion across TfL
        
      </div>
    
    
      <p><strong>Members: </strong> Kay Carberry CBE (Chair), Dr Nina Skorupska CBE (Vice Chair), Bronwen Handyside, Dr Mee Ling Ng OBE and Val Shawcross CBE.<strong>
</strong></p>
      
           
      <div class="accordion">


<h2>Quarterly human resources reports</h2>



<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2018/19-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Safety, Sustainability & HR panel-2018/19"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2018/19-heading" class="accordion-heading">2018/19</div>
            </div>
            <div id="2018/19-content" class="start-hidden" role="region" aria-labelledby="2018/19-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/human-resources-report-2018-19-q3.pdf">
    <div class="document-download-text">
        <p>Human resources report Q3</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.46MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.46 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/human-resources-report-2018-19-q2.pdf">
    <div class="document-download-text">
        <p>Human resources report Q2</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 922KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.90 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/human-resources-report-2018-19-q1.pdf">
    <div class="document-download-text">
        <p>Human resources report Q1</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 856KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.84 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2017/18-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Safety, Sustainability & HR panel-2017/18"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2017/18-heading" class="accordion-heading">2017/18</div>
            </div>
            <div id="2017/18-content" class="start-hidden" role="region" aria-labelledby="2017/18-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/human-resources-report-2017-18-q4.pdf">
    <div class="document-download-text">
        <p>Human resources report Q4</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.48MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.48 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/human-resources-report-2017-18-q3.pdf">
    <div class="document-download-text">
        <p>Human resources report Q3</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.53MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.53 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 
</div>
 <div class="accordion">


<h2>Quarterly health, safety and environment reports</h2>



<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2018/19-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Safety, Sustainability & HR panel-2018/19"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2018/19-heading" class="accordion-heading">2018/19</div>
            </div>
            <div id="2018/19-content" class="start-hidden" role="region" aria-labelledby="2018/19-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/hse-q3-2018-19-report.pdf">
    <div class="document-download-text">
        <p>Health, safety and environment report Q3</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.45MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.45 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/health-safety-and-environment-report-2018-19-q2.pdf">
    <div class="document-download-text">
        <p>Health, safety and environment report Q2</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.71MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.71 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/health-safety-and-environment-report-2018-19-q1.pdf">
    <div class="document-download-text">
        <p>Health, safety and environment report Q1</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.81MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.81 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="2017/18-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Safety, Sustainability & HR panel-2017/18"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="2017/18-heading" class="accordion-heading">2017/18</div>
            </div>
            <div id="2017/18-content" class="start-hidden" role="region" aria-labelledby="2017/18-heading">


<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/health-safety-and-environment-report-2017-18-q4.pdf">
    <div class="document-download-text">
        <p>Health, safety and environment report Q4</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.75MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.75 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/health-safety-and-environment-report-2017-18-q3.pdf">
    <div class="document-download-text">
        <p>Health, safety and environment report Q3</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 15.84MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 15.84 -->
 
</div>

</div>
 
            </div>
        </div>
    </div>
 
</div>
 <h2> 2018 meeting papers</h2>






    


<div class="accordion">
<div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    22 January
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20180122-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 37KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20180122-item03-tram-overturning-at-sandilands-investigations-update.pdf">
    <div class="document-download-text">
        <p>Item 3 - Tram Overturning at Sandilands, Croydon on 9 November 2016 &#45; RAIB and TfL Investigations Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.36MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.36 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20180122-item04-tram-overturning-at-sandilands-non-operational-responses.pdf">
    <div class="document-download-text">
        <p>Item 4 - Tram Overturning at Sandilands, Croydon on 9 November 2016 &#45; Non-Operational Incident Responses Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 47KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    28 February
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/agenda.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 52KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/item03-minutes.pdf">
    <div class="document-download-text">
        <p>Item 3 - Minutes of the meetings held on 22 November 2017 and 22 January 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 69KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/item04-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 757KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.74 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/item05-quarterly-hse-report.pdf">
    <div class="document-download-text">
        <p>Item 5 - Quarterly Health, Safety and Environment Reports</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 15.91MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 15.91 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/item06-independent-evacuation-of-disabled-passengers.pdf">
    <div class="document-download-text">
        <p>Item 6 - Independent Evacuation of Disabled People from London Underground Stations in a Security Incident</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 81KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/item07-bus-driver-facility.pdf">
    <div class="document-download-text">
        <p>Item 7 - Bus Driver Facility Improvements</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 142KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/item08-air-quality-update.pdf">
    <div class="document-download-text">
        <p>Item 8 - Air Quality Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 168KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/item09-climate-change-adaptation.pdf">
    <div class="document-download-text">
        <p>Item 9 - Climate Change Adaptation</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.49MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.49 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/item10-hr-quarterly-report.pdf">
    <div class="document-download-text">
        <p>Item 10 - Human Resources Quarterly Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.58MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.58 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/item11-learning-and-development.pdf">
    <div class="document-download-text">
        <p>Item 11 - Learning and Development Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 147KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/item12-transformation-update.pdf">
    <div class="document-download-text">
        <p>Item 12 - Transformation Update </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 54KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/item13-member-suggestions.pdf">
    <div class="document-download-text">
        <p>Item 13 -Member Suggestions for Future Agenda Discussions</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 200KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.20 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    20 June
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20180620-agenda.pdf">
    <div class="document-download-text">
        <p>Agenda</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 90KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20180620-item03-mins.pdf">
    <div class="document-download-text">
        <p>Item 3 -  Minutes of the Meeting of the Safety, Sustainability and Accessibility Panel held on 28 February 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 45KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20180620-item04-actions-list.pdf">
    <div class="document-download-text">
        <p>Item 4 - Matters Arising and Actions List</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 246KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.24 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20180620-item05-hr-report.pdf">
    <div class="document-download-text">
        <p>Item 5 - Human Resources Quarterly Report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.64MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.64 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20180620-part-1-item-06-transformation-update.pdf">
    <div class="document-download-text">
        <p>Item 6 - Transformation Update</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 29KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20180620-part-1-item-07-tfl-energy-strategy.pdf">
    <div class="document-download-text">
        <p>Item 7 - Energy Strategy</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 263KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.26 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20180620-part-1-item-08-responsible-procurement.pdf">
    <div class="document-download-text">
        <p>Item 8 - Responsible Procurement</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 88KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20180620-part-1-item-09-quarter-four-health-safety-environment-performance-report.pdf">
    <div class="document-download-text">
        <p>Item 9 - Quarterly Health, Safety and Environment Performance Reports</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.77MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.77 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20180620-part-1-item-09-appendix-q4-stats.pdf">
    <div class="document-download-text">
        <p>Item 9 - Appendix - Q4 Statistics</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 122KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20180620-part-1-item-10-improving-cyclist-safety-in-london.pdf">
    <div class="document-download-text">
        <p>Item 10 - Improving Cyclist Safety in London</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.09MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sshrp-20180620-part-1-item-11-forward-plan.pdf">
    <div class="document-download-text">
        <p>Item 11 - Member Suggestions for Future Agenda Discussions</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 66KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    27 September
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/safety-sustainability-human-resources-panel-agenda-and-papers-27-september-2018.pdf">
    <div class="document-download-text">
        <p>Safety, Sustainability and Human Resources Panel 27 September 2018 Agenda and Papers</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 7.77MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 7.77 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    05 December
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/safety-sustainability-and-human-resources-panel-5-december-2018-agenda-and-papers.pdf">
    <div class="document-download-text">
        <p>Safety, Sustainability and Human Resources Panel 5 December 2018 Agenda and Papers</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 10.46MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 10.46 -->
            
              </div>
            </div>
        </div>
 

   </div>
 
</div>
 <h2> 2019 meeting papers</h2>






    


<div class="accordion">
<div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    27 February
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/safety-sustainability-and-human-resources-panel-27-02-19.pdf">
    <div class="document-download-text">
        <p>Agenda and Papers - 27 February 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.77MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.77 -->
            
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    10 July
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                           
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    04 September
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                           
              </div>
            </div>
        </div>
 

   </div>
 <div class="expandable-box">

        <div class="content">
            <div class="always-visible">
                <a class="controls" href="javascript:void(0);">&nbsp;</a>
                <div class="accordion-heading">
                    13 November
                </div>
            </div>
            <div class="start-hidden">
                <div class="multi-document-download-container">
                           
              </div>
            </div>
        </div>
 

   </div>
 
</div>
 <div>

<p>TfL's decision-making structure and proceedings, together with Schemes of Delegation and Authorities, are laid out in the TfL standing orders. The TfL committees and panels document sets out the terms of reference for each committee and panel. Both TfL's standing orders and TfL committees and panels documents can be found on the <a href="/corporate/publications-and-reports/standing-orders">Standing orders page</a>.
</p>
<p>You are welcome to attend any meeting of TfL's Board, committees and/or panels. These are held in public, except where private, personal or specific financial information is to be discussed.</p>
<p>Papers are published five working days before each meeting (unless accepted by the relevant Chair as urgent items).</p>
<p>The date, time and venue for forthcoming meetings is listed on the public notice of meetings. This notice, plus further information on our meetings and Board Members, is available on the <a href="/corporate/about-tfl/how-we-work/how-we-are-governed">How we are governed page</a>. </p>
</div>
 
<div>



<h2>TfL internal audit report - Management of fatigue in Tram Operations Limited</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/management-of-fatigue-in-tram-operations.pdf">
    <div class="document-download-text">
        <p>Management of fatigue in Tram Operations Limited</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 279KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.27 -->
 
</div>

</div>
 
<div>



<h2>Paper to the TfL board</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/24-july-2018-board-briefing-note-on-fatigue.pdf">
    <div class="document-download-text">
        <p>Paper to the TfL board, 24 July 2018</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 169KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.17 -->
 
</div>

</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/publications-and-reports/safety-sustainability-hr" class="heading">
                    <h2 id="sub-menu-heading">Safety, Sustainability & HR panel<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/ss-and-hr-past-years">Papers - past years</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/publications-and-reports/past-years">Previous panels</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/publications-and-reports/board-papers" class="plain-button">Board papers</a>
<a href="/corporate/publications-and-reports/standing-orders" class="plain-button">Standing orders</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "This panel covers issues ranging from equalities and accessibility to TfL's approach to CO2";}
        
            
        


 