
    
  



@{ViewBag.Title = "Ticketing reports archive";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/ticketing-reports-archive";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
                 <li><a href="/corporate/publications-and-reports/oyster-card">Oyster card</a></li>
                
            
            
                <li><span class="last-breadcrumb">Ticketing reports archive</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Ticketing reports archive</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    <div class="on-this-page">
      
      
           
      
<div>



<h2>Oyster card balances and refunds</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/oyster-card-balances-and-refunds-september-2014.pdf">
    <div class="document-download-text">
        <p>Oyster card balances and refunds September 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 132KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/oyster-card-balances-and-refunds-june-2014.pdf">
    <div class="document-download-text">
        <p>Oyster card balances and refunds June 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 136KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/oyster-balances-refunds-april-2014.pdf">
    <div class="document-download-text">
        <p>Oyster card balances and refunds April 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 132KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/oyster-card-balances-and-refunds-nov2013.pdf">
    <div class="document-download-text">
        <p>Oyster card balances and refunds October 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 131KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/oyster-card-balances-and-refunds-july-2013.pdf">
    <div class="document-download-text">
        <p>Oyster card balances and refunds July 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 128KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 
</div>

</div>
 
<div>



<h2>Trends in Oyster card usage</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/trend-of-oyster-card-usage-1-october-2013-to-30-september-2014.pdf">
    <div class="document-download-text">
        <p>Trend of Oyster card usage 1 October 2013 to 30 September 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 128KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/trend-of-oyster-card-usage-1-july-2013-to-30-june-2014.pdf">
    <div class="document-download-text">
        <p>Trend of Oyster card usage 1 July 2013 - 30 June 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 129KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/trend-oyster-usage-april-2013-march-2014.pdf">
    <div class="document-download-text">
        <p>Trend of Oyster card usage 1 April 2013 to 31 March 2014 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 130KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/trend-of-oyster-card-usage-nov-2012-october-2013.pdf">
    <div class="document-download-text">
        <p>Trend of Oyster card usage 1 November 2012 to 31 October 2013</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 129KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 
</div>

</div>
 
<div>



<h2>Daily breakdown of Oyster card usage</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/daily-breakdown-of-oyster-card-usage-1-october-2012-to-30-september-2014.xlsx">
    <div class="document-download-text">
        <p>Daily breakdown of Oyster card usage 1 October 2012 to 30 September 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 30KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap xlsx" href="/cdn/static/cms/documents/daily-breakdown-oyster-usage-august-2012-march-2014.xlsx">
    <div class="document-download-text">
        <p>Daily breakdown of Oyster card usage 1 August 2012 to 31 March 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            XLSX 26KB
            
        </p>
    </div>
    <div class="document-download-icon download-spread">
    </div>

</a>

<!-- 0.03 -->
 
</div>

</div>
 
<div>



<h2>Oyster photocard scheme data</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/photocard-data.pdf">
    <div class="document-download-text">
        <p>Oyster photocard data 2014/15</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 221KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.22 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Archived reports relating to Oyster, contactless etc";}
        
            
        


 