
    
  



@{ViewBag.Title = "Victoria Coach Station";}
@{ViewBag.Keywords = "Coach drivers,Public,C,V,Performance,Coaches,TfL";}
@{ViewBag.Url = "/corporate/publications-and-reports/victoria-coach-station";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/publications-and-reports/index">Publications & reports</a></li>
                
            
            
                <li><span class="last-breadcrumb">Victoria Coach Station</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Victoria Coach Station</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We are responsible for Victoria Coach Station, London's largest coach hub. We represent the interests of visitors to London travelling by coach, as well as ensuring coaches in the Capital have a minimal impact on the wider road network.
        
      </div>
    
    
      
        <p>Providing a safe, comfortable environment for coach travellers, as well as those seeing off or welcoming passengers, is of prime importance. In fulfilling this role we are charged with making a defined commercial profit.</p>
        <h2>Customer Satisfaction Survey results</h2>
        <p>Below are the results of our quarterly Customer Satisfaction Surveys in six key areas.&nbsp; </p>
    
      
           
      


        <p>
        </p>
        <div class="table-container"><table>
            <thead>
                <tr>
                    <th colspan="1" rowspan="1" id="table_heading_0">&nbsp;</th>
                    <th colspan="1" rowspan="1" id="table_heading_1">&nbsp;<strong>Target (%</strong>)<br />
                    </th>
                    <th colspan="1" rowspan="1" id="table_heading_2"><strong>Q1 2012/13</strong> <br />
                    </th>
                    <th colspan="1" rowspan="1" id="table_heading_3">&nbsp;<strong>Q2 2012/13</strong><br />
                    </th>
                    <th colspan="1" rowspan="1" id="table_heading_4">&nbsp;<strong>Q3 2012/13</strong><br />
                    </th>
                    <th colspan="1" rowspan="1" id="table_heading_5">&nbsp;<strong>Q4 2012/12</strong><br />
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td headers="table_heading_0">Information and signage<br />
                    </td>
                    <td headers="table_heading_1">&nbsp;80</td>
                    <td headers="table_heading_2">&nbsp;86</td>
                    <td headers="table_heading_3">&nbsp;85</td>
                    <td headers="table_heading_4">&nbsp;84</td>
                    <td headers="table_heading_5">&nbsp;87</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">Cleanliness</td>
                    <td headers="table_heading_1">&nbsp;73</td>
                    <td headers="table_heading_2">&nbsp;75</td>
                    <td headers="table_heading_3">&nbsp;76</td>
                    <td headers="table_heading_4">&nbsp;75</td>
                    <td headers="table_heading_5">&nbsp;77</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">Staff availability and helpfulness<br />
                    </td>
                    <td headers="table_heading_1">&nbsp;75</td>
                    <td headers="table_heading_2">&nbsp;84</td>
                    <td headers="table_heading_3">&nbsp;82</td>
                    <td headers="table_heading_4">&nbsp;82</td>
                    <td headers="table_heading_5">&nbsp;85</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">Facilities and services<br />
                    </td>
                    <td headers="table_heading_1">&nbsp;72</td>
                    <td headers="table_heading_2">&nbsp;75</td>
                    <td headers="table_heading_3">&nbsp;72</td>
                    <td headers="table_heading_4">&nbsp;71</td>
                    <td headers="table_heading_5">&nbsp;77</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">Pleasantness</td>
                    <td headers="table_heading_1">&nbsp;72</td>
                    <td headers="table_heading_2">&nbsp;77</td>
                    <td headers="table_heading_3">&nbsp;77</td>
                    <td headers="table_heading_4">&nbsp;76</td>
                    <td headers="table_heading_5">&nbsp;79</td>
                </tr>
                <tr>
                    <td headers="table_heading_0">Overall performance of Victoria Coach Station<br />
                    </td>
                    <td headers="table_heading_1">&nbsp;72</td>
                    <td headers="table_heading_2">&nbsp;80</td>
                    <td headers="table_heading_3">&nbsp;80</td>
                    <td headers="table_heading_4">&nbsp;80</td>
                    <td headers="table_heading_5">&nbsp;81</td>
                </tr>
            </tbody>
        </table></div>
         
    

        <p>
        We believe that our customers are entitled to expect staff to be helpful, pleasant and knowledgeable about the services we offer.&nbsp;&nbsp; </p>
        <p>We also believe that <a href="/modes/coaches/victoria-coach-station">Victoria Coach Station</a> should provide clear and accurate information and a clean and civilised environment in all waiting areas. </p>
    

 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/customer-service-excellence-logo.jpg" alt="Customer Service Excellence logo" />
    </div>
    
        <p>Victoria Coach Station is the first organisation in the transport sector to be awarded the Government's Customer Service Excellence Standard.</p>
        <p>This award replaces the former government Charter Mark Scheme and was given in recognition of the outstanding level of customer service we provide at the Coach Station.
        </p>
     
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/info-for/coach-drivers/index" class="plain-button">Coach drivers</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Quarterly customer satisfaction surveys for Victoria Coach Station";}
        
            
        


 