
    
  



@{ViewBag.Title = "Environment ";}
@{ViewBag.Keywords = "Public,TfL";}
@{ViewBag.Url = "/corporate/about-tfl/corporate-and-social-responsibility/environment";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

@{
    Response.Status = "301 Moved permanently";
    Response.AddHeader("Location", "/corporate/about-tfl/environment");   
}

 
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/corporate-and-social-responsibility">Corporate social responsibility</a></li>
                
            
            
                <li><span class="last-breadcrumb">Environment </span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Environment </h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        This page looks at what we're doing to reduce the impact of transport operations on the environment.
        
      </div>
    
    <div class="on-this-page">
      
        <p>Full details of our environmental objectives are set out in our latest <a href="/corporate/publications-and-reports/health-safety-and-environment">Health, Safety and Environment Report</a>.</p>
    
      
           
      
<div>



<h2>Ultra Low Emission Vehicles (ULEVs)</h2>


<p>Our Ultra Low Emission Vehicle Delivery Plan, launched in July 2015, sets out our vision for ULEVs to be the preferred option in London for public transport, fleets and private vehicle owners.</p>
<p>The action plan included addresses issues and challenges currently limiting ULEV uptake in London. We will continue to build our relationships with our partners and stakeholders to make London the ULEV capital of Europe.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/ulev-delivery-plan.pdf">
    <div class="document-download-text">
        <p>Ultra Low Emission Vehicle Delivery Plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 3.31MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 3.31 -->
 
</div>

</div>
 
<div>



<h2>Transport Emissions Roadmap</h2>


<p>Our Transport Emissions Roadmap published in 2014 looks at how to reduce emissions from transport in London. It reports on what we have already done and what we may do in the future. It provides a range of possible new measures that the Mayor, TfL, the London boroughs, the Government, EU and other&nbsp; parties should consider to help meet the challenge of reducing air pollutants and CO2 emissions in London. </p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/transport-emissions-roadmap.pdf">
    <div class="document-download-text">
        <p>Transport Emissions Roadmap - September 2014</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.26MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.26 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/low-emission-neighbourhoods.pdf">
    <div class="document-download-text">
        <p>Low emission neighbourhoods guidance</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 145KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 
</div>

</div>
 <div>

<h2><hr />
Tackling climate change </h2>
<p>Predictions suggest London's transport systems will need to operate through warmer, wetter winters and hotter, drier summers, with increased incidences of storms and flooding. </p>
<p>Tackling climate change and enhancing the environment is very important to us, and we have a responsibility to operate a low-carbon network that is also resilient to any changes to the climate.</p>
<p>We support the target to reduce the Capital's CO2 emissions by 60% (against 1990 levels) by 2025. </p>
<p>By then, the city's population is expected to have risen by one million and it is vital we provide the services London needs to support growth while minimising emissions and damage to the local environment. Our initiatives to reduce carbon emissions from transport include: </p>
<ul>
    <li><strong>Smarter Travel:</strong> Travel planning advice and tools for businesses, schools and residents to help them adopt safer, healthier and more sustainable transport options </li>
    <li><strong>Encouraging cycling and walking:</strong> Improving the urban environment, developing a range of walking routes and using more of the Legible London signs to help people easily <a href="/modes/walking/find-your-way-around">find their way around the Capital</a> </li>
    <li><strong>Deliveries in London:</strong> We work with operators, boroughs and partners across the freight industry to ensure that goods and services get delivered in London on time, and in a safe, clean and efficient way. Find out how we're helping on the <a href="/info-for/deliveries-in-london/index">Deliveries in London pages</a></li>
    <li><strong>Cleaner buses:</strong> We are fitting diesel particulate filters, selective catalytic reduction and ensuring that our new vehicles have hybrid engines and the latest engine standards to reduce their emissions</li>
    <li><strong>Regenerative braking:</strong> As part of our ongoing Tube improvement we are upgrading lines and increasing passenger capacity. Energy-saving measures include regenerative braking on trains, which saves up to 25% of electricity used</li>
    <li><strong>Source London:</strong> Launched in 2011, the city-wide electric vehicle charging network has 1,300 charge points across the Capital</li>
    <li><strong>Greener offices:</strong> Our Re:fit programme is improving the efficiency of metering, lighting and heating systems in head offices and operational buildings</li>
    <li><strong>Encouraging staff to take to two wheels</strong>. We offer Cycle2work, a tax-efficient scheme that allows staff to buy a bike and associated safety equipment free of tax and National Insurance contributions</li>
</ul>
<hr />
</div>
 <div>

<h2>Making London's air cleaner</h2>
<h3>Air quality: reducing NOx and PM10 emissions</h3>
<p>We have set a target to achieve a 40% reduction in total NOx emissions and 50% in total PM10 emissions by 2017/18 against 2005/06 levels. </p>
<p>The target applies to all our public transport services, including taxis and private hire vehicles. The Low Emission Zone, introduced in 2008, covers most of central London. To drive in it without paying a daily charge, vehicles must meet certain emissions standards that limit pollution coming from their exhausts. Emission standards for the zone were tightened in 2012</p>
<p>The majority of our nitrogen oxide (NOx) emissions come from buses. We have made it a priority to replace older, less efficient vehicles with some of the most environmentally friendly buses in the world. </p>
<p>We can also influence taxi and private hire vehicle emissions through licensing arrangements (which state limits on Euro standards and vehicle age).</p>
<p>The Mayor's Air Quality Strategy was published by the Greater London Authority in 2010. It highlighted that the vast majority of London already meets the European Union (EU) limit value for annual mean atmospheric particulates (PM10) concentrations. </p>
<p>However, it also identified a small number of locations in central London that risk exceeding the limit. </p>
<p>As a result, and to complement London-wide measures already being taken to improve air quality, the Mayor committed to applying targeted local measures to help the Capital meet EU targets.</p>
<p>In March 2011, the DfT awarded us &pound;5m to develop and deliver a package of local measures focused on reducing PM10 pollution at priority locations and other identified PM10 hotspots. </p>
<p>This led to the creation of the Clean Air Fund programme. Achievements include:</p>
<ul>
    <li>More than 100 buses fitted with diesel particulate filters</li>
    <li>An awareness raising and education campaign in 2012 to discourage unnecessary engine idling</li>
    <li>Deployment of five taxi marshals in central London to improve management of the ranks, discourage unnecessary engine idling and promote smarter driving courses</li>
    <li>A trial of two green walls outside Edgware Road Tube station and the Mermaid Theatre on Upper Thames Street</li>
    <li>Planting hundreds of new trees and shrubs at identified PM10 hotspots</li>
    <li>A trial application of dust suppressants at known hotspots along six road corridors (Victoria Embankment/Upper Thames Street, Marylebone Road/Euston Road, Park Lane, A2, Earls Court Road and Blackwall Tunnel approaches) and at two construction sites and five industrial waste sites</li>
    <li>Engagement with more than 300 businesses in priority locations focusing on reducing their travel and deliveries</li>
</ul>
</div>
 <div>

<h2>Encouraging cycling and walking</h2>
<h3>The cycling revolution</h3>
<p>In March 2013 the Mayor's Vision for Cycling was published, outlining ambitious plans to be introduced over a four-year period. </p>
<p>A range of new cycle routes are opening throughout the city alongside Tube lines and bus routes. </p>
<p>Other improvements include:</p>
<ul>
    <li>The creation of a 15-mile segregated cycle route from west London, through the heart of the city, to Canary Wharf and Barking</li>
    <li>A new network of direct, continuous, fully-signposted 'Quietways' routes on side streets, running into the suburbs, aimed at people put off by cycling in traffic</li>
    <li>A new 'Central London Grid' of bike routes in the City and West End, using segregation, quiet streets, and two-way cycling on one-way traffic streets, to join all the other routes together</li>
    <li>More Dutch-style fully segregated lanes</li>
    <li>Bikes will also be better separated from vehicles on many streets</li>
    <li>Substantial improvements to both existing and proposed superhighways</li>
</ul>
<h3>Making walking count</h3>
<p>Most journeys involve at least some walking, and a quarter of all journeys in London are made on foot. </p>
<p>Encouraging people to walk more has benefits not only for their health and wellbeing, but also for the environment, economy and community.</p>
<p>The Mayor proposes to improve the quality and provision of information and resources to make walking trips easier, and to improve the urban realm to create safer, more comfortable and attractive conditions.</p>
<h2>Noise pollution</h2>
<p>We are working to minimise transport-related noise by promoting smoother driving, the use of quieter vehicles and reducing the noise impact of roadworks and improvement projects.
</p>
<h2>Cutting down on waste</h2>
<p>We monitor and aim to reduce the waste produced from our operations, construction and the public transport modes, along with increasing the proportion recycled. </p>
<p>For example, more than 70% of newspapers, plastics, cardboard and cans left at Tube stations gets recycled.</p>
<h2>Protecting wildlife</h2>
<p>Although the Tube is often associated with underground tunnels, more than half of the transport network is above ground. </p>
<p>The 4,000 hectares of land surrounding the Tube's rail tracks acts as a safe haven for a huge variety of wildlife, including bats, badgers, reptiles and water voles. We are working to protect and enhance the biodiversity of our track and highway verges, including street trees. </p>
<p>We have a Green Estate management plan for our road network which comprises a Tree Strategy, Landscape Management Plan and a Biodiversity Action Plan.</p>
<h3>Did you know?</h3>
<p>Around 550 plant species, 42 bird species, 14 mammals, 538 invertebrate species, three reptile species and three amphibian species have been recorded on our land.</p>
<p>Find out more about how we look after our land and our trackside neighbours.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/corporate-and-social-responsibility" class="heading">
                    <h2 id="sub-menu-heading">Corporate social responsibility<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/about-tfl/corporate-and-social-responsibility/charities">Charities</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/about-tfl/corporate-and-social-responsibility/environment">Environment </a></div>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/about-tfl/corporate-and-social-responsibility/equality-and-inclusion">Equality & inclusion</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/corporate-and-social-responsibility/transport-and-health">Transport & health</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "This page looks at what we're doing to reduce the impact of transport operations on the environment.";}
        
            
        


 