
    
  



@{ViewBag.Title = "Transport & health";}
@{ViewBag.Keywords = "Businesses,Planning and construction,TfL";}
@{ViewBag.Url = "/corporate/about-tfl/corporate-and-social-responsibility/transport-and-health";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/corporate-and-social-responsibility">Corporate social responsibility</a></li>
                
            
            
                <li><span class="last-breadcrumb">Transport & health</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Transport & health</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We are committed to doing what we can to improve health in London through the services we deliver. This page describes the main relationships between transport and health and sets out the actions we are taking to improve health.<BR>
        
      </div>
    
    
      <p>It also provides technical guidance on transport and health activities.</p>
<h2>Healthy Streets</h2>
<p> The Mayor has created the Healthy Streets Approach to help us to improve air quality, reduce congestion and make London's diverse communities become greener, healthier and more attractive places in which to live, play and do business.</p>
<p>Find out about the Healthy Streets Approach on the <a href="/corporate/about-tfl/how-we-work/planning-for-the-future/healthy-streets">Heathy Streets page</a>.</p>
<h3>Healthy Streets survey</h3>
<p>In 2014, 2015 and 2016 we surveyed people in London to get their views on how the Capital's streets are performing against the 10 Healthy Streets indicators. In 2017 we published a summary of the survey results.</p>
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/key-findings-from-the-healthy-streets-survey.pdf">
    <div class="document-download-text">
        <p>Healthy Streets survey - key findings</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.53MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.53 -->
 
</div>

</div>
 
<div>



<h2>Health action plan</h2>


<p>We produced our first health action plan in 2014. It set out the main connections between transport and health and the work we are doing to improve the health of Londoners. </p>
<p>Annual progress reports on delivering our health action plan have followed in every year since 2015.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/improving-the-health-of-londoners-transport-action-plan-year-three-progress-report.pdf">
    <div class="document-download-text">
        <p>Improving the health of Londoners - year 3 progress report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 658KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.64 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/improving-the-health-of-londoners-transport-action-plan-year-2-progress-report.pdf">
    <div class="document-download-text">
        <p>Improving the health of Londoners - year 2 progress report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 561KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.55 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/improving-the-health-of-londoners-transport-action-plan-year-1-progress-report.pdf">
    <div class="document-download-text">
        <p>Improving the health of Londoners - year 1 progress report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 739KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.72 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/executive-summary-improving-the-health-of-londoners-transport-action-plan.pdf">
    <div class="document-download-text">
        <p>Improving the health of Londoners - Executive summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.16MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/improving-the-health-of-londoners-transport-action-plan.pdf">
    <div class="document-download-text">
        <p>Improving the health of Londoners </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.04MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.04 -->
 
</div>
<p>Further publications on the relationship between transport and health in London can also be found on the <a href="https://www.london.gov.uk/">Greater London Authority website</a>.</p>
</div>
 <div>

<h2>Health benefits of transport </h2>
<p>Health benefits should be considered when planning and assessing transport schemes.  We are committed to quantifying and monetising health benefits of our projects and policies where possible and supporting others to do the same.  </p>
<p>We produced a guidance document for valuing the health benefits of transport schemes in London using two tools: Health Economic Assessment Tool for walking and cycling and Sickness Absence Reduction Tool.</p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/valuing-the-health-benefits-of-transport-schemes.pdf">
    <div class="document-download-text">
        <p>Valuing the health benefit of transport schemes: guidance for London</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.94MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.94 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/valuing-the-health-benefits-of-transport-schemes-data-tables.pdf">
    <div class="document-download-text">
        <p>Valuing the health benefits of transport schemes: data tables</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 216KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.21 -->
 
</div>

</div>
 
<div>



<h2>Speed, emissions & health</h2>


<p>As part of the Healthy Streets Approach, we're implementing measures across London to reduce the dominance of motor traffic.</p>
<p>We produced this evidence review to give policy makers and practitioners information about the impact of speed reduction measures on air quality and health.</p>
<ul>
    <li>Research in London suggests 20mph zones don't increase pollution from exhaust emissions</li>
    <li>Steady, slow traffic is less polluting than stop-start traffic. This is because cars emit more pollution when they accelerate and decelerate</li>
    <li>Cycle and bus lanes help relieve congestion and reduce pollution city-wide. Since opening the East-West and North-South Cycle Superhighways, these routes are moving 5% more people per hour than they could without cycle lanes</li>
    <li>When people start cycling to work the health benefits outweigh the harms by 65 to one. This is mainly from the extra exercise they get</li>
    <li>A person would have to walk for 16 hours or cycle for seven hours in London for the harms from air pollution to outweigh the exercise benefits</li>
    <li>The risk of serious road injuries dramatically falls when cars drive more slowly. 20mph zones in London reduced casualties and collisions by around 40% and particularly reduced danger for children</li>
    <li>After introducing 20mph zones in Edinburgh, primary school children were over seven times more likely to cycle to school and three in four children walked to school</li>
    <li>Speed bumps typically reduce collisions by around 44%</li>
</ul>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/speed-emissions-and-health.pdf">
    <div class="document-download-text">
        <p>Speed, emissions & health</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 538KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.53 -->
 
</div>

</div>
 <div>

<h2>Transport planning for healthcare</h2>
<p>We are working with London healthcare organisations to help them plan their transport-related needs.</p>
<p>As part of this commitment - which came out of the <a href="/corporate/about-tfl/the-mayors-transport-strategy">Mayor's transport strategy</a> - we have produced a best practice guide in cooperation with the NHS.</p>
<p>The guide looks at how the NHS can enable patients to access healthcare via public transport - and to promote a healthy lifestyle with sustainable and active travel.</p>
<p>It is updated regularly as we work with the NHS and other health sector partners on needs raised during consultation on the Mayor's transport strategy.</p>
<p>We welcome additional case studies for the guide from health organisations and others. Please email <a href="mailto:transportandhealthcare&#64;tfl.gov.uk">transportandhealthcare&#64;tfl.gov.uk</a>. &nbsp;</p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfls-healthier-lifestyles-best-practice-guide.pdf">
    <div class="document-download-text">
        <p>Transport planning for healthier lifestyles - a best practice guide</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.93MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.93 -->
 
</div>

</div>
 <div>

<h2>How we help NHS reconfigurations </h2>
<p>The London healthcare sector accounts for around one million trips daily and when reviewing their service may have to consider a number of travel and transport issues such as:</p>
<ul>
    <li>How to calculate changes in journey time for service users </li>
    <li>Carrying out a transport assessment </li>
</ul>
<p>As part of the reconfiguration work, the NHS will need to provide detailed travel time analysis and present this to relevant stakeholders. We help the NHS in a number of different ways during this process, we:</p>
<ul>
    <li>Provide an introductory meeting for health reconfiguration project managers </li>
    <li>Advise on all relevant transport aspects such as data modeling and bus planning </li>
    <li>Provide data from our Health Service Travel Analysis Toolkit (H-STAT) </li>
</ul>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/travel-and-transport-analysis-in-the-nhs.pdf">
    <div class="document-download-text">
        <p>Travel and transport analysis for the NHS</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 650KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.63 -->
 
</div>
<ul>
    <li>Offer travel planning information and stakeholder engagement </li>
    <li>Share best practice on the presentation of data</li>
</ul>
<p>We will not be able to undertake the required analysis, but will need to receive the results in order to be able to assess whether there are significant impacts in the transport network.</p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/corporate-and-social-responsibility" class="heading">
                    <h2 id="sub-menu-heading">Corporate social responsibility<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/about-tfl/corporate-and-social-responsibility/charities">Charities</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/corporate-and-social-responsibility/environment">Environment </a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/about-tfl/corporate-and-social-responsibility/equality-and-inclusion">Equality & inclusion</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/about-tfl/corporate-and-social-responsibility/transport-and-health">Transport & health</a></div>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Boosting public transport means boosting public health";}
        
            
        


 