
    
  



@{ViewBag.Title = "Transport & health";}
@{ViewBag.Keywords = "Businesses,Planning and construction,TfL";}
@{ViewBag.Url = "/corporate/about-tfl/corporate-and-social-responsibility/transport-and-health";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/corporate-and-social-responsibility">Corporate social responsibility</a></li>
                
            
            
                <li><span class="last-breadcrumb">Transport & health</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Transport & health</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We are committed to improving health in London through the services we deliver. This page describes the main relationships between transport and health and sets out what we're doing to improve health.
        
      </div>
    
    
      <h2>How transport and health are connected</h2>

<p>The <a href="/corporate/about-tfl/the-mayors-transport-strategy">Mayor's Transport Strategy</a> looks at the all the ways that our transport system affects people's health.</p>

<h3>Active travel and physical activity</h3>

<p>People who are physically active every day reduce their risk of many illnesses, including heart disease, stroke, depression, type 2 diabetes and some cancers. By 2041, we want all Londoners to be walking or cycling for at least 20 minutes every day and for 80% of trips in London to be made by walking, cycling or using public transport.</p>

<h3>Air quality</h3>

<p>Road vehicles like cars and vans cause around half of London's air pollution. The choices people make about how they travel, such as using public transport or turning off car engines while stationary, affect the safety of the air we all breathe. We work with the Greater London Authority (GLA) and London boroughs to reduce air pollution.</p>

<h3>Road traffic collisions</h3>

<p>Every year in London people are injured or even killed by collisions on the road. We want to stop this happening. By 2041, we want no one to be killed or seriously injured on London's roads. Find out more about our <a href="/corporate/safety-and-security/road-safety/vision-zero-for-london">Vision Zero for London</a>.</p>

<h3>Noise</h3>

<p>Noise pollution in London can stop people sleeping, make them stressed and anxious and make it harder to concentrate at work or school. Noise also makes our streets less pleasant for walking and cycling. We want more people to walk and cycle, and to use quieter cars at lower speeds.</p>

<h3>Access to services</h3>

<p>Londoners use the transport system - from walking on the streets, using buses and the Tube to driving on the roads - to get to work, school, shops, and healthcare, as well as to see family and friends and get out and about for fun. We need all these things for a healthy, happy life.</p>

<h2>Healthy Streets</h2>

<p>Led by the Mayor of London, we are taking the <a href="/corporate/about-tfl/how-we-work/planning-for-the-future/healthy-streets">Healthy Streets Approach</a> to encourage more Londoners to walk, cycle and use public transport. This will help us improve air quality, reduce congestion and make London's diverse communities greener, healthier and more attractive places in which to live, play and do business.</p>

<p>The Mayor's Transport Stategy is built around the Healthy Streets Approach. The Approach is also used in the <a href="https://www.london.gov.uk/what-we-do/health/health-inequalities-strategy">Mayor's Health Inequalities Strategy</a>.</p>

<p>Find out more about the options in London for:</p>

<ul>
	<li><a href="/modes/cycling/index">Cycling</a></li>
	<li><a href="/modes/walking/index">Walking</a></li>
</ul>

<h2>Economic benefits of healthy transport</h2>

<p>We have guidance, case studies and research showing how getting more people walking and cycling is good for the economy. See more on the <a href="/corporate/publications-and-reports/economic-benefits-of-walking-and-cycling">Economic benefits of walking and cycling page</a>.</p>

<h2>Transport planning for healthcare</h2>

<p>The London healthcare sector accounts for around one million trips daily. We work with the NHS and other healthcare organisations in London to help them plan their transport-related needs.</p>

<p>We can do this by:</p>

<ul>
	<li>Meeting with project managers</li>
	<li>Giving advice on data modelling, journey time calculation and bus planning</li>
	<li>Giving data from our Health Service Travel Analysis Tool (H-STAT)</li>
</ul>
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/travel-and-transport-analysis-in-the-nhs.pdf">
    <div class="document-download-text">
        <p>Travel and transport analysis for the NHS</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 650KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.63 -->
 
</div>

</div>
 
<div>




<p>In cooperation with the NHS we produced a best practice guide on how the NHS can help patients access healthcare by public transport, and promote a healthy lifestyle with sustainable and active travel.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfls-healthier-lifestyles-best-practice-guide.pdf">
    <div class="document-download-text">
        <p>Transport planning for healthier lifestyles - a best practice guide</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.93MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.93 -->
 
</div>

</div>
 
<div>



<h2>Health action plan 2014</h2>


<p>Before the current Mayor's Transport Strategy we produced a 3-year Health action plan in 2014. Here we wrote about main connections between transport and health and outlined the work we were doing to improve the health of Londoners. Three annual progress reports were also produced.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/improving-the-health-of-londoners-transport-action-plan.pdf">
    <div class="document-download-text">
        <p>Improving the health of Londoners </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 4.04MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 4.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/executive-summary-improving-the-health-of-londoners-transport-action-plan.pdf">
    <div class="document-download-text">
        <p>Improving the health of Londoners - Executive summary</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.16MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/improving-the-health-of-londoners-transport-action-plan-year-1-progress-report.pdf">
    <div class="document-download-text">
        <p>Improving the health of Londoners - year 1 progress report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 739KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.72 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/improving-the-health-of-londoners-transport-action-plan-year-2-progress-report.pdf">
    <div class="document-download-text">
        <p>Improving the health of Londoners - year 2 progress report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 561KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.55 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/improving-the-health-of-londoners-transport-action-plan-year-three-progress-report.pdf">
    <div class="document-download-text">
        <p>Improving the health of Londoners - year 3 progress report</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 658KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.64 -->
 
</div>

</div>
 
<div>




<h3>Other background reports</h3>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/speed-emissions-and-health.pdf">
    <div class="document-download-text">
        <p>Speed, emissions & health</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 538KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.53 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/key-findings-from-the-healthy-streets-survey.pdf">
    <div class="document-download-text">
        <p>Healthy Streets survey - key findings</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.53MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.53 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/valuing-the-health-benefits-of-transport-schemes.pdf">
    <div class="document-download-text">
        <p>Valuing the health benefit of transport schemes: guidance for London</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.94MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.94 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/valuing-the-health-benefits-of-transport-schemes-data-tables.pdf">
    <div class="document-download-text">
        <p>Valuing the health benefits of transport schemes: data tables</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 216KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.21 -->
 
</div>

</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/corporate-and-social-responsibility" class="heading">
                    <h2 id="sub-menu-heading">Corporate social responsibility<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/about-tfl/corporate-and-social-responsibility/charities">Charities</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/about-tfl/corporate-and-social-responsibility/equality-and-inclusion">Equality & inclusion</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/about-tfl/corporate-and-social-responsibility/transport-and-health">Transport & health</a></div>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Boosting public transport means boosting public health";}
        
            
        


 