
    
  



@{ViewBag.Title = "Announcements";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/investors/announcements";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/investors/index">Investors</a></li>
                
            
            
                <li><span class="last-breadcrumb">Announcements</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Announcements</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Read the latest news and announcements for investors.
        
      </div>
    
    
      
      
           
      <div>

<h2>29 September 2017</h2>
<p><a href="/corporate/publications-and-reports/annual-report">TfL publishes Annual Report and statement of accounts</a></p>
</div>
 <div>

<h2>27 March 2017</h2>
<p><a href="/corporate/publications-and-reports/funding-letters">TfL receives revised funding letter from Government</a></p>
</div>
 <div>

<h2>29 July 2016</h2>
<p><a href="/corporate/publications-and-reports/annual-reports-past-years">TfL publishes Annual Report and statement of accounts</a></p>
</div>
 
<div>



<h2>23 July 2015</h2>


<p><a href="/corporate/publications-and-reports/annual-reports-past-years">TfL publishes Annual Report and statement of accounts</a></p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rns-publication-mtn-prospectus.pdf">
    <div class="document-download-text">
        <p>TfL publishes MTN prospectus dated 23 July 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 91KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 
</div>

</div>
 
<div>



<h2>22 April 2015</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rns-apr-2025-bond-final-terms.pdf">
    <div class="document-download-text">
        <p>TfL publishes Final Terms for issue of &pound;400m 2.125% Notes due April 2025</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 20KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 
</div>

</div>
 <div>

<h2>11 December 2014</h2>
<p><a href="/info-for/investors/reports">TfL publishes its latest Business Plan for the period to 2020/2021</a></p>
</div>
 
<div>



<h2>14 May 2014</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rns-tfl-april-2064-bond-final-terms-14-05-2014.pdf">
    <div class="document-download-text">
        <p>TfL publishes Final Terms for &pound;130m tap of existing 4% Notes due April 2064</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 26KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 
</div>

</div>
 
<div>



<h2>12 March 2014</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/rns-tfl-april-2064-bond-final-terms.pdf">
    <div class="document-download-text">
        <p>TfL publishes Final Terms for issue of &pound;370m 4% Notes due April 2064</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 26KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 
</div>

</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/investors/index" class="heading">
                    <h2 id="sub-menu-heading">Investors<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/investors/credit-highlights">Credit highlights</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/investors/Ratings">Ratings</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/investors/funding-sources">Funding sources</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/investors/borrowing-programme">Borrowing programme</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/info-for/investors/announcements">Announcements</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/investors/reports">Reports</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = " Read the latest news and announcements for investors";}
        
            
        


 