
    
  



@{ViewBag.Title = "Borrowing programme";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/investors/borrowing-programme";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/investors/index">Investors</a></li>
                
            
            
                <li><span class="last-breadcrumb">Borrowing programme</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Borrowing programme</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We are the UK's leading public sector issuer of capital markets debt after the Government's Debt Management Office.
        
      </div>
    
    
      <h2>Public market borrowing programmes
</h2>
<p>Investment in Transport for London can be made through either of our two public market borrowing programmes: </p>
<ul>
    <li>A &pound;5bn Medium Term Note (MTN)</li>
    <li>A &pound;2bn Commercial Paper (CP)</li>
</ul>
<p>Since July 2012 we have issued more than &pound;3bn of bonds under our MTN programme and are an active player in the CP market. The funds raised from our borrowing programmes are used for capital expenditure and to re-finance existing debt. Our funds are purchased by both domestic and international investors.
</p>
      
           
      <div>


        <h2>Documentation</h2>
        <p> Download documentation relating to the <a href="/info-for/investors/borrowing-program/documentation">MTN and CP programmes</a>.</p>
    
</div>
 <div>

<h2>Green Bond</h2>
<p>Our overarching goal is to keep London working, growing, and making it a better place to live by providing safe, reliable and sustainable transport.</p>
<p>With London's population expected to exceed 10 million by 2030, we will need to increase its service capacity to support such growth. We are committed to do so using good practice, innovation and smart technology in order to achieve environmentally-efficient growth, consistent with its driving principles.</p>
<p>We issued our debut sterling Green Bond in April 2015. The purpose of the Green Bond is to finance five eligible green project categories, detailed in our Green Bond framework.</p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-green-bond-framework.pdf">
    <div class="document-download-text">
        <p>TfL Green Bond framework</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 232KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.23 -->
 
</div>
<p>DNV GL Business Assurance Services Limited (DNV GL) has been commissioned to provide a second party opinion of the Green Bond framework, to include an assessment of the alignment of it with the Green Bond principles and to review the environmental benefits of the five eligible green project categories.</p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/dnv-gl-green-bond-opinion.pdf">
    <div class="document-download-text">
        <p>Green Bond second party opinion </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 386KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.38 -->
 
</div>

</div>
 
<div>




<p>The TfL <a href="/corporate/publications-and-reports/health-safety-and-environment">Health, Safety and Environment report</a>, as well as the management assertion on the use of proceeds, is published on an annual basis. As of 31 March 2019 there have been no changes to the allocation of the proceeds from TfL 2.125% Notes Due 24 April 2025 since 31 March 2016, as reported in the management assertion below.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-green-bond-management-assertion-2016.pdf">
    <div class="document-download-text">
        <p>Use of Proceeds management assertion (2016)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 412KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.40 -->
 
</div>

</div>
 <div>

<p><a href="/corporate/about-tfl/environment">Read more about our environmental policies.</a> </p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/investors/index" class="heading">
                    <h2 id="sub-menu-heading">Investors<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/investors/credit-highlights">Credit highlights</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/investors/Ratings">Ratings</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/investors/funding-sources">Funding sources</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/investors/borrowing-programme">Borrowing programme</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/info-for/investors/borrowing-program/documentation">Documentation</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/investors/announcements">Announcements</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/investors/reports">Reports</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Investment in TfL can be made through our public market borrowing programmes";}
        
            
        


 