
    
  



@{ViewBag.Title = "Credit highlights";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/investors/credit-highlights";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/investors/index">Investors</a></li>
                
            
            
                <li><span class="last-breadcrumb">Credit highlights</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Credit highlights</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Our principal activity is to provide safe, integrated, efficient and economic transport facilities and services within Greater London.
        
      </div>
    
    
      <ol>
    <li><strong>
    Critical for London and the UK economy</strong><br />
    <ul>
        <li>We are the integrated transport authority responsible for operating the Capital's public transport network and managing London's main roads</li>
        <li>Every day around 31 million journeys are made on our network</li>
        <li>Constantly growing demand for services, with London's population set to reach around 10 million by 2030</li>
    </ul>
    </li>
    <li><strong>Strong statutory framework and relationship with Government</strong><br />
    <ul>
        <li>A public sector statutory corporation, created by primary legislation</li>
        <li>Subject to the Local Government Prudential Borrowing regime, with limits on borrowing agreed with Government as part of our funding settlement</li>
        <li>Required by legislation to produce a balanced budget each year</li>
        <li>Immediate access to central government funding via the Public Works Loan Board virtually eliminates liquidity risk</li>
        <li>Treated as part of Government in terms of Public Sector Net Debt by Office of National Statistics</li>
    </ul>
    </li>
    <li><strong>Strong record of meeting operational and investment goals</strong><br />
    <ul>
        <li>Consistent delivery of balanced Business Plan and key projects</li>
        <li>Transparent financial planning and commitment to fiscal discipline</li>
    </ul>
    </li>
    <li><strong>Highly-rated issuer</strong><br />
    <ul>
        <li>Ranked within one notch below the UK Government by the three main rating agencies</li>
    </ul>
    </li>
</ol>
      
           
      
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/investors/index" class="heading">
                    <h2 id="sub-menu-heading">Investors<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected"><div class="link-wrapper"><a href="/info-for/investors/credit-highlights">Credit highlights</a></div>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/investors/Ratings">Ratings</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/investors/funding-sources">Funding sources</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/investors/borrowing-programme">Borrowing programme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/investors/announcements">Announcements</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/investors/reports">Reports</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/about-tfl/what-we-do" class="plain-button">What we do</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Several factors have helped to generate our solid credit ratings' performance";}
        
            
        


 