
    
  



@{ViewBag.Title = "Taxi delicensing";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/terms-and-conditions/taxi-delicensing";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/terms-and-conditions/index">Terms & conditions </a></li>
                
            
            
                <li><span class="last-breadcrumb">Taxi delicensing</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Taxi delicensing</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Please read these terms and conditions carefully. These terms set out the eligibility criteria, your obligations, payment, state aid considerations and other important information.
        
      </div>
    
    
      
      
           
      
<ol>
	<li>These terms and conditions apply to the Scheme provided by Transport for London ("TfL"). The terms and conditions are between TfL and the Legal Owner. TfL reserves the right to make changes to these terms and conditions from time to time.</li>
	<br />
	<li>The Scheme is part of the Taxi and Private Hire Action Plan launched jointly by the Mayor of London and TfL. The Scheme is open to Taxis that meet the Eligibility Criteria as set out below. It allows the (i) Legal Owner; or (ii) the Registered Keeper with permission of the Legal Owner of a Taxi to apply to have their Taxi Delicensed by TfL in return for a Payment from TfL if the Application is successful. The Scheme will run while funding is in place and Applications will be accepted for assessment. The total available funding may increase and decrease at the discretion of TfL. No commitment is made around the duration of the funding term or the total funding available.</li>
	<br />
	<li>In these terms and conditions the following words shall have the meaning as set out below:<br />
	<br />
	<strong>Application</strong> means the application submitted by the Legal Owner / or Registered Keeper (acting with permission from the Legal Owner) to TfL to Delicense their Taxi from use as a Taxi in Greater London;<br />
	<br />
	<strong>Data Protection Legislation</strong> means the Data Protection Act 2018 and Regulation (EU) 2016/679 the General Data Protection Regulation as amended from time to time;<br />
	<br />
	<strong>Delicensing or "Delicence"</strong> is the process by which a Taxi is no longer licensed in Greater London by TfL in exchange for an agreed Payment;<br />
	<br />
	<strong>De Minimis Aid</strong> means the ceiling of two hundred thousand euros (&euro;200,000) of financial assistance provided under the De Minimis Block Exemption to a Legal Owner as further described in Clause 34 and in the De Minimis Disclosure Form (please see Schedule 1 to this Agreement) over a three year fiscal period;<br />
	<br />
	<strong>Delicensing Inspection</strong> is an inspection process of the Taxi and applicable documentation, conducted at a TfL inspection centre for the purpose of assessing eligibility for the Delicensing Scheme;<br />
	<br />
	<strong>Fleet Owner</strong> is a business in the UK owning two or more taxis;<br />
	<br />
	<strong>Inspection Letter</strong> means a letter sent by TfL to the Legal Owner and/or Registered Keeper once TfL has approved an Application setting out the details of the Inspection;<br />
	<br />
	<strong>Legal Owner</strong> is the person able to demonstrate ownership of the vehicle by way of proof of purchase i.e. bill of sale or proof the vehicle was given as a gift;<br />
	<br />
	<strong>Payment</strong> is made to a Legal Owner by TfL in return for the Legal Owner and / or Registered Keeper's Taxi being Delicensed. A Payment will be made following the successful completion of an Application and Delicensing Inspection;<br />
	<br />
	<strong>Report</strong> is the report issued by TfL to the Legal Owner and / or Registered Keeper once an Delicensing Inspection has taken place;<br />
	<br />
	<strong>Registered Keeper</strong> is the person named in section five of the Taxi's V5C registration document. The registered keeper is usually the person who is actually using / keeping the Taxi and this is not necessarily the Legal Owner of the Taxi;<br />
	<br />
	<strong>Scheme</strong> means the delicensing scheme as further described in clause 2 and <a href="/info-for/taxis-and-private-hire/emissions-standards-for-taxis">detailed here</a>.<br />
	<br />
	<strong>Taxi</strong> is a vehicle licensed under section six of the Metropolitan Public Carriage Act 1869;<br />
	<br />
	<strong>Taxi Vehicle Licence</strong> is the vehicle licence issued by TfL for a period of one year;<br />
	<br />
	<strong>Taxi Licensing Requirements</strong> is TfL's standard for licensing and re-licensing a Taxi for use as a taxi in Greater London as per the <a href="http://content.tfl.gov.uk/taxi-conditions-of-fitness-update.pdf">TfL Conditions of Fitness</a> and <a href="http://content.tfl.gov.uk/vehicle-licence-inspection-manual.pdf">Inspection Manual</a>; and<br />
	<br />
	<strong>We</strong> refers to Transport for London (TfL).<br />
	<br />
	<strong>Eligibility Criteria</strong></li>
	<br />
	<li>One Application is required per Taxi. An application to Delicence multiple Taxis in one Application will be rejected.</li>
	<br />
	<li>Once the Application is submitted and the correct signed documentation is received by TfL, the Legal Owner or Registered Keeper acting with permission of the Legal Owner will have <strong>28 working days following receipt of an Inspection Letter to present their vehicle at a TfL authorised test centre for a Delicensing Inspection to be carried out &#45; this must be completed at one of three inspection centres (details provided in the Inspection Letter). There is no cost to the Legal Owner or Registered Keeper for the Delicensing Inspection to be carried out</strong>. TfL is not liable for any other costs associated with the Delicensing Inspections including but not limited to fuel, drivers' wages, any issues that need to be rectified with the taxi and/or paperwork which are discovered during the Delicensing Inspection or the cost to relicense a Taxi with TfL if this is required.</li>
	<br />
	<li>If the Delicensing Inspection is not completed (this means the Taxi has not successfully passed the Delicensing Inspection) within the <strong>28 working days</strong> from the date of the Inspection Letter, this will result in the withdrawal of your Application without notice by TfL.</li>
	<br />
	<li>An Application must be made by either the (i) Legal Owner; or (ii) Registered Keeper acting with permission of the Legal Owner of the Taxi. Where the Registered Keeper is not the Legal Owner the Registered Keeper must ensure they have written and signed permission from the Legal Owner before applying to delicense (as set out in the Proof of Permission document) the Taxi and provide the Legal Owner with the Application. TfL may, at its discretion, require additional evidence from the Registered Keeper that the Legal Owner has given permission for this Application before processing the Application. Furthermore, TfL may verify any information directly with the Legal Owner using the information provided in the Proof of Permission.</li>
	<br />
	<li>The Scheme is split into two Payment structures: Payment Band 1: the Taxi to be Delicensed must not exceed 13 years old from its DVLA first date of registration (as stated on the V5C) and have either a Euro three, four or five engine or Payment Band 2: the Taxi to be Delicensed must be at least 13 years old but not more that 14 years old from its DVLA first date of registration (as stated on the V5C) and have either a Euro three, four or five engine. For avoidance of doubt, the Taxi must not be more than 13 years old at the time it passes the Delicensing Inspection. The Taxi age is determined with reference to the dates shown at 4(B) and (B1) of the Taxi's V5C registration document. The Taxi euro emissions output is determined with reference to the Taxi's V5C registration document. The Legal Owner or Registered Keeper (or authorised third party) acting with permission of the Legal Owner will be required to bring the Taxi's V5C registration document to the Taxi Delicensing Inspection.</li>
	<br />
	<li>The Taxi must have a valid Taxi Vehicle Licence, issued by TfL to be eligible to apply for this Scheme. A successful Delicensing Inspection must take place before the Taxi Vehicle Licence expires. It is the responsibility of the Legal Owner or Registered Keeper (acting with permission of the Legal Owner) to ensure they present the Taxi for the Delicensing Inspection before the Taxi Vehicle Licence expires. If the Taxi Vehicle Licence expires before the Taxi Delicensing Inspection, the Legal Owner or Registered Keeper (acting with permission of the Legal Owner) will need to relicense the Taxi prior to its Delicensing Inspection. The cost for a new Taxi Vehicle licence is at no cost to TfL.</li>
	<br />
	<li>At the time of submitting an Application and presenting the vehicle for a Delicensing Inspection, the Taxi must be roadworthy and have a valid MOT certificate which has been issued no more than six months prior to the Delicensing Inspection and must be provided as part of the documents provided at the Delicensing Inspection.</li>
	<br />
	<li>The Taxi must successfully pass the Delicensing Inspection, before the expiry of the Taxi Vehicle Licence in order to be eligible for a Payment.</li>
	<br />
	<li>The Taxi shall not have more than three consecutive months (90 calendar days) within a rolling 12 month period without a Taxi Vehicle Licence to be eligible for this Scheme. A Taxi which has not been licensed in London by TfL for more than 90 continuous calendar days in the last rolling 12 months is not eligible to apply for this Scheme.</li>
	<br />
	<li>The information provided by the Legal Owner or Registered Keeper (acting with permission of the Legal Owner) in the Application must match up with the licensing records and documents held by TfL. If there are any discrepancies TfL will seek further information as necessary.</li>
	<br />
	<li>The Legal Owner must not have exceeded the De Minimis Aid level as further set out in Clause 34.</li>
	<br />
	<li>TfL may request additional documentation from the Legal Owner or Registered Keeper (acting with permission of the Legal Owner) to ensure the Legal Owner meets the eligibility criteria to TfL's satisfaction as set out above. The Legal owner or Registered Keeper as applicable shall respond within 10 working days from TfL requesting such information.<br />
	<br />
	<strong>Delicensing Inspection</strong></li>
	<br />
	<li>The Legal Owner may appoint the Registered Keeper or a third party to present the Taxi at the Delicensing Inspection only. The third party must provide sufficient evidence to satisfy TfL that the Registered Keeper or third party has applicable authority to manage the Delicensing Inspection on behalf of the Legal Owner. TfL in its absolute discretion may refuse a third party from undertaking this process if it not satisfied with the evidence provided.</li>
	<br />
	<li>The Legal Owner or Registered Keeper (acting with permission of the Legal Owner) or authorised third party must bring to the Delicensing Inspection all required documentation as set out in the Inspection Letter. Failure to provide all documentation will result in the Inspection either being unsuccessful, rescheduled or cancelled. Please note if the Taxi does not successfully pass the Delicensing Inspection within 28 working days from receipt of the Inspection Letter this will result in the Application being terminated without notice to the applicant by TfL.</li>
	<br />
	<li>As part of the Delicensing Inspection, TfL will retain the Taxi Vehicle Licence i.e. the Legal Owner or Registered Keeper or authorised third party will surrender the Taxi Vehicle Licence on the day of the Delicensing Inspection. For the avoidance of doubt, regardless of the outcome of the Delicensing Inspection, the vehicle shall not operate in London and the vehicle shall not be used for the carriage of fare paying passengers.</li>
	<br />
	<li>Following the Delicensing Inspection, the Legal Owner or Registered Keeper (acting with permission of the Legal Owner) or authorised third party will be issued with a Report informing them whether the Taxi have passed or failed the Inspection.</li>
	<br />
	<li>Once a Taxi successfully passes the Delicensing Inspection the Taxi shall not be used for the carriage of fare paying passengers in London nor be relicensed again by TfL from the date of the Delicensing Inspection.</li>
	<br />
	<li>Once the vehicle has been Delicensed or vehicle licence removed following a Delicensing Inspection, the vehicle will no longer be exempt from the London Congestion Charge and Ultra Low Emission Zone and therefore will be subject to the daily charges thereafter.<br />
	<br />
	<strong>Payment</strong></li>
	<br />
	<li>A Legal Owner's Taxi that meets the eligibility criteria as set out above in the Eligibility Criteria section above and passes the Delicensing Inspection is eligible for a Payment.</li>
	<br />
	<li>Applications will be allocated a temporary Application number based on the time and date stamp of the email received from the Legal Owner or Registered Keeper (acting with permission of the Legal Owner). A final Application number will only be assigned following the successful completion of the Application, and Delicensing Inspection and We have verified all information has been provided following the Delicensing Inspection. A final Application number will determine the Payment that may be payable.</li>
	<br />
	<li>The Payment amount is determined by; (i) the Taxi age at the time of a successful Delicensing Inspection as set out in Clause 8; and (ii) the time and date the Application was received by TfL in relation to other Applications. The agreed level of payments can be found on the TfL website &#45; https://tfl.gov.uk/info-for/taxis-and-private-hire/taxi-delicensing-scheme. The Payment amounts are subject to change at TfL's sole discretion and without prior notice.</li>
	<br />
	<li>If a Taxi passes the Delicensing Inspection and the Legal Owner or Registered Keeper (acting with permission of the Legal Owner) (or authorised third party) has been issued with a Report confirming such outcome, the Payment amount will be confirmed by TfL in writing to the Legal Owner of the Taxi. Payment will only be made to the Legal Owner of the Taxi and to a UK bank account.</li>
	<br />
	<li>TfL will request bank details of a UK bank account from the Legal Owner and the Payment will be made by BACS within 21 working days of receiving bank details from the Legal Owner.<br />
	<br />
	<strong>Legal Owner's Obligations</strong></li>
	<br />
	<li>The Legal Owner warrants:<br />
	<br />
	a) they have full capacity and authority to enter into this Agreement with TfL and appropriate authority from the Registered Keeper as applicable;<br />
	<br />
	b) all information and documentation provided as part of the Application and Delicensing Inspection is accurate. The Legal Owner or Registered Keeper (acting with permission of the Legal Owner) will inform TfL immediately if any part of the information provided is no longer correct; and<br />
	<br />
	c) that the Legal Owner or Registered Keeper (acting with permission of the Legal Owner) will not attempt to sell their Taxi after receiving a Payment if there is any outstanding finances or other charges on the Taxi.<br />
	<br />
	<strong>Restrictions following a successful Delicensing Application</strong></li>
	<br />
	<li>Once a Payment has been paid to the Legal Owner in accordance with these terms and conditions the Application cannot be withdrawn and the following shall apply:<br />
	<br />
	a) the Taxi shall remain permanently delicensed in Greater London;<br />
	<br />
	b) a delicensed Taxi cannot be relicensed in Greater London;<br />
	<br />
	c) the delicensing Taxi is not permitted for use in Greater London as a Taxi; and<br />
	<br />
	d) a delicensing of a Taxi cannot be reversed.</li>
	<br />
	<li>Should Payments levels made as part of the delicensing Scheme change, TfL will not compensate those Legal Owners already in receipt of a Payment or who have a written confirmation of a confirmed Payment. All Payments made or offered are final.<br />
	<br />
	<strong>Termination of the Application by TfL</strong></li>
	<br />
	<li>TfL, in its absolute discretion, can decline an Application if the Legal Owner or Registered Keeper (acting with permission of the Legal Owner) does not;<br />
	<br />
	a) submit the Proof of Permission, Terms and Conditions and State Aid De Minimis Disclosure Form within 14 working days from receiving the Taxi Delicensing Scheme - Second Stage of Application Process letter;<br />
	<br />
	b) carry out a Delicensing Inspection within 28 working days from receiving the Inspection Letter;<br />
	<br />
	c) provide sufficient information or additional information as required by TfL within 10 working days from TfL requesting such information;<br />
	<br />
	d) fails to attend the Delicensing Inspection on the time and date as referred to in the Inspection Letter (or alternative date as agreed); and/or<br />
	<br />
	e) breaches the terms and conditions.</li>
	<br />
	<li>Where an Application is found to be in breach of these Terms and Conditions including fraudulent applications, TfL shall seek recovery of the Payment paid to the Legal Owner and may prosecute the Legal Owner and or Registered Keeper and revoke the Legal Owner and / or Registered Keeper's Taxi Licence.<br />
	<br />
	<strong>Liability</strong></li>
	<br />
	<li>TfL is not liable and not responsible for any losses, costs, claims, damages, demands, expenses, liabilities, proceeding and judgments incurred by a Legal Owner, Registered Keeper or third party as a result of participating in this Scheme including but not limited to submitting the Application and attending the Delicensing Inspection.</li>
	<br />
	<li>TfL is not responsible or liable for any action taken by a Legal Owner or Registered Keeper in relation to the sale, lease, financial arrangement, future use of a delicensed Taxi including disposal, crushing or dismantling of a Taxi.<br />
	<br />
	<strong>State Aid</strong></li>
	<br />
	<li>In accepting the Payment, the Legal Owner shall comply with all applicable European Union rules on state aid. The Legal Owner shall fully cooperate with TfL in utilising the applicable approvals and procedures in relation to state aid rules.<br />
	<br />
	<strong>Data Protection</strong></li>
	<br />
	<li>TfL, it subsidiaries and service providers will comply with all its obligations under the Data Protection Legislation and will only process the Legal Owner and / or Registered Keepers personal data (as defined in the Data Protection Legislation) for the purposes of assessing your eligibility for the Scheme and to contact you regarding your Application.<br />
	<br />
	<strong>Governing Law</strong></li>
	<br />
	<li>This Agreement is governed by the laws of England. The Courts of England have exclusive jurisdiction to settle any dispute which may arise out of or in connection with this Agreement.</li>
</ol>



 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/terms-and-conditions/index" class="heading">
                    <h2 id="sub-menu-heading">Terms & conditions <span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/competitions">Competitions</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/ticketing-and-travel-conditions-of-carriage">Conditions of Carriage</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/conveyancing-searches">Conveyancing searches</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/live-bus-departure-information">Live Bus & River Bus arrivals</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/online-accounts">Online accounts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/pay-to-drive-in-london">Pay to drive in London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/pay-to-drive-in-london-app">Pay to drive in London app</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/santander-cycles">Santander Cycles</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/scrappage-scheme">Scrappage scheme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/social-media">Social media</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/stars">STARS</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/terms-and-conditions/taxi-delicensing">Taxi delicensing</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/technology-innovation-portal">Technology Innovation Portal</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-oyster-app">TfL Oyster and contactless app</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/tfl-pension-fund">TfL Pension Fund</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/transport-data-service">Transport Data Service </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/visitor-oyster-shop">Visitor Oyster shop</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/webcat">WebCAT</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/website">Website</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/terms-and-conditions/dlr-discovery">DLR Discovery</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Terms and conditions for applicatoins to the ULEZ taxi delicensing scheme";}
        
            
        


 