


@{ViewBag.Title = "London Transport Museum unveils restored early B-type bus";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">London Transport Museum unveils restored early B-type bus</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>London Transport Museum unveils restored early B-type bus</h1>
        <div class="content-page-press-release">
        12 June 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        One of only four B-type London buses in existence
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"The B-type bus is an important tribute to the civilian contribution made to the war effort during the First World War, at home and overseas. The project is a memorial not only to the bus drivers and their mechanics who worked on the Front Line, but also to those who stayed behind to provide a public transport service to millions of Londoners often in extremely dangerous conditions as London came under attack from aerial bombardment for the first time"</div>
        <div class="quote-footer">
            <div class="quotee-name">Sam Mullins</div>
            <div class="quotee-job-title">Director, London Transport Museum</div>
        </div>
</div>

 <div class="on-this-page">

        <ul>
            <li>No. B2737 restored as part of the First World War commemorations</li>
            <li>More than 1,000 London buses saw service on the Western Front</li>
            <li>In September the vehicle will be converted into 'Battle Bus' wartime appearance and tour the battlefields of France and Belgium</li>
        </ul>
        <p>London Transport Museum will this morning (10:00am - Thursday 12 June) unveil a restored double deck open top B-type bus in Covent Garden Piazza as part of the Year of the Bus and the museum's commemorations of the First World War. </p>
        <p>The B-type bus No. B2737 will appear in public for the first time - resplendent in its red and cream livery, and featuring advertisements from the pre-war era - including Camp coffee, Veno's cough medicine and Wright's coal tar soap.</p>
        <p>The public will have only a limited number of opportunities to admire the restored bus before its transformation into a war time 'Battle Bus' in September, after which it will embark on a tour to the battlefields of France and Belgium to commemorate the sacrifices made by so many, including bus drivers, mechanics and transport workers during the First World War.</p>
        <p>One of only four surviving B-type London buses, bus No. B2737 was built at the AEC Works in Walthamstow in 1914 and served on route 9 out of Mortlake garage in south west London operating between Barnes and Liverpool Street. </p>
        <p>Single ordinary tickets cost 3&frac12;d.</p>
        <p>The bus has cost around &pound;250,000 to restore and was made possible with a grant of just over &pound;750,000 from the Heritage Lottery Fund (HLF), and further funding from the London Transport Museum Friends and public donations. </p>
        <p>Features include original and reproduced enamel advertisements and passenger information from the period including signs featuring instructions and warnings such as 'No spitting' and 'Beware of pickpockets, male and female'. </p>
        <p>The remainder of the HLF grant covers a range of activities including an apprenticeship programme and collections support. </p>
        <p>It is also funding a programme of learning and participation which will ensure that communities across London will have the chance to see and learn about B2737, B-type buses and their role in the First World War through community exhibitions and a touring programme.</p>
        <p>The lower deck saloon is decorated with wooden fretwork panels displaying a motif and is equipped with electric lighting which was first introduced on buses in 1912. </p>
        <p>The original cushioned moquette fabric seat covering design has been recreated thanks to a fragment of material that was discovered during the restoration process. </p>
        <p>It was woven by Holdsworth &amp; Co, the same Yorkshire company that produced the original B-type moquette. </p>
        <p>The open top deck seats are fitted with wet-weather canvas lap covers and a sign warning passengers '… not to stand up while the omnibus is passing under railway bridges'.</p>
        <p>The restoration project was led by London Transport Museum curator, Tim Shields working with independent restorer Richard Peskett. </p>
        <p>The team sourced and utilised a variety of original but decayed parts, including B-type bodies, chassis, gearboxes and an engine, in order to produce a moving memorial to the London bus drivers of 100 years ago. </p>
        <p>The restoration is part of a wider five year programme of activities with volunteers and apprentices across the entire centenaries of the war until 2018 and made possible thanks to support of the HLF and London Transport Museum Friends.</p>
        <p>Visitors to London Transport Museum are able to find out more about the role of B-type buses at home and abroad at a special exhibition to commemorate the First World War. </p>
        <p>Goodbye Piccadilly &#45; from Home Front to Western Front commemorates the contribution of London's motor buses and their drivers and mechanics to the First World War and the upheaval for Londoners on what became for the first time the 'Home Front'.</p>
        <p>Sam Mullins, Director of London Transport Museum said: </p>
        <p>'The B-type bus is an important tribute to the civilian contribution made to the war effort during the First World War, at home and overseas. The project is a memorial not only to the bus drivers and their mechanics who worked on the Front Line, but also to those who stayed behind to provide a public transport service to millions of Londoners often in extremely dangerous conditions as London came under attack from aerial bombardment for the first time."</p>
        <p>Blondel Cluff, Chair of the London Committee of the Heritage Lottery Fund, said: </p>
        <p>'This legendary vehicle quite literally links the Home Front with the Western Front.&nbsp; Later this summer it will embark on a journey through time from London to Flanders fields as a superbly restored testament to the courage of London bus crews &#45; civilians pressed into service along with their vehicles &#45; who gave unstinting support to the war effort a century ago.'</p>
        <p>About the B-type busesIntroduced into service in 1910 by the London General Omnibus Company (LGOC) the B-type was the world's first reliable mass-produced motor bus. </p>
        <p>With interchangeable parts and light enough to meet the 3.5-ton limit introduced in March 1910, the buses were designed to cope with the challenges of London roads and traffic and the demands of a growing population, unlike its predecessors which were subject to frequent breakdowns.</p>
        <p>The new buses could reach a speed of 16 mph and seated 34 passengers. </p>
        <p>With its top deck open to the elements and solid rubber tyres providing a bumpy ride, travelling on the B-type was not a comfortable experience for passengers or indeed the drivers who were also exposed to the extremities of the weather.</p>
        <p>By 1914 nearly 2,500 B-types were in service on 112 bus routes covering a total of approximately 1,106 miles &#45; nearly four times the distance covered three years earlier when B-type buses first appeared on London's roads. </p>
        <p>The new technology led to bus routes being extended out to the developing suburbs of London and into London's country, running as far afield as Windsor, St Albans and Maidenhead, which enabled Londoners to enjoy day trips to the countryside at a time when very few people owned a car.</p>
        <p>First World War service B-type buses were commandeered into military service at the beginning of the war in 1914, along with their civilian drivers and mechanics. </p>
        <p>With their windows boarded up and painted khaki to disguise their bright red livery, over 1,000 London buses were deployed for use on the Front Line. </p>
        <p>They were used to transport troops, and also served as ambulances and even mobile pigeon lofts enabling messages to be sent from the Front Line back to headquarters.</p>
        <p>In September 2014 B-type No. B2737 will be transformed into wartime 'Battle Bus' livery and will visit key sites including Ypres, Arras and Passchendaele to pay respects to the sacrifices made by so many during the First World War.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
        <p>Ends</p>
        <p>Further information, interview requests and images:</p>
        <ul>
            <li>Wendy Neville - Head of Communications, 020 7565 7266 <a href="mailto:wendy.neville&#64;ltmuseum.co.uk">wendy.neville&#64;ltmuseum.co.uk</a></li>
            <li>Siobhan Ion - Marketing and PR Executive, 020 7565 7448 <a href="mailto:siobhan.ion&#64;ltmuseum.co.uk">siobhan.ion&#64;ltmuseum.co.uk</a></li>
            <li>For additional background information about B-type buses and B-type bus No. B2737 please visit our blog at <a href="http://blog.ltmuseum.co.uk/">http://blog.ltmuseum.co.uk/</a></li>
        </ul>
        <div style="text-align: left;">
        <p>Notes for editors:</p>
        <ul>
            <li>The public can see the restored B-type No. B2737 before its transformation into a war time 'Battle Bus' at the following events:</li>
        </ul>
        <ul>
            <li>21 June Stockwell Bus Garage Open Day</li>
            <li>22 June Year of the Bus cavalcade, Regent Street</li>
            <li>28 June Fulwell Bus Garage Open Day</li>
            <li>12/13 July Routemaster 60, Finsbury Park</li>
            <li>15 July Walthamstow Bus Station</li>
            <li>16 July The Worshipful Company of Carmen Cart Marking Ceremony</li>
        </ul>
        <p>About London Transport Museum</p>
        <ul>
            <li>London Transport Museum is situated in the heart of Covent Garden and filled with stunning exhibits; the Museum explores the powerful link between transport and the growth of modern London, culture and society since 1800. Historic vehicles, world-famous posters and the very best objects from the Museum's extraordinary collection are brought together to tell the story of London's development and the part transport played in defining the unique identity of the city.</li>
            <li>The Museum is an educational and heritage preservation charity.&nbsp; Its purpose is to conserve and explain the history of London's transport, to offer people an understanding of the Capital's past development and to engage them in the debate about its future. The Museum's charity number is 1123122.</li>
        </ul>
        <p>About the Heritage Lottery Fund</p>
        <ul>
            <li>Using money raised through the National Lottery, the Heritage Lottery Fund (HLF) aims to make a lasting difference for heritage, people and communities across the UK and help build a resilient heritage economy. From museums, parks and historic places to archaeology, natural environment and cultural traditions, we invest in every part of our diverse heritage. HLF has supported over 36,000 projects with more than &pound;6bn across the UK. Follow us on twitter &#64;heritagelottery #understandingWW1.</li>
        </ul>
        <p>About the Year of the Bus</p>
        <ul>
            <li>Events and activities are being held throughout 2014 by Transport for London (TfL) &#45; working in partnership with London Transport Museum - to celebrate the role that London buses, bus drivers and the staff who support them play in keeping the capital moving, and mark a number of important anniversaries. These include 60 years since the creation of the original and iconic Routemaster, 75 years since the launch of its predecessor the RT-type bus, and 100 years since hundreds of London buses were sent to the Western Front to play a crucial role during the First World War. For more information log on to <a href="http://www.tfl.gov.uk/yearofthebus">www.tfl.gov.uk/yearofthebus</a> and <a href="http://www.ltmuseum.co.uk">www.ltmuseum.co.uk</a> </li>
        </ul>
        </div>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-June-London Transport Museum unveils restored early B-type bus -->

 
 
        
        
            @{ViewBag.Description = "London Transport Museum unveils restored early B-type bus";}
        
        


 