


@{ViewBag.Title = "Rejuvenated lift shaft revolutionises track engineering ";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/june">June</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Rejuvenated lift shaft revolutionises track engineering </span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Rejuvenated lift shaft revolutionises track engineering </h1>
        <div class="content-page-press-release">
        06 June 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        St Paul's Hub makes huge savings made in manpower and cost   
        
    </div>



 <div class="on-this-page">

        <p>Customers
        on London Underground's (LU's) Central line are getting smoother&nbsp; journeys
        sooner thanks to the innovative use of a century-old lift-shaft that has been
        brought out of retirement to speed up track renewal works
        .
        </p>
        <p>After
        serving the busy but now defunct Post Office Station between 1900 and the
        1930s, the 114 year-old 33-metre deep lift shaft opposite St Paul's Underground
        station on the Central line has been out of commission apart from a brief
        period of military service when it housed the Central Electricity Board wartime offices.&nbsp;
        &nbsp;
        </p>
        <p>But
        with St Paul's the focal point for large-scale track renewal on 14 miles of
        nearby Tube tunnels which will give customers smoother and quicker journeys, LU
        has converted the shaft to serve as a one-stop logistics hub to deliver all the
        materials needed deep underground.&nbsp;
        </p>
        <p>The
        shaft now boasts two industrial-size lifts and conveyor belts to turn it into a
        fast and efficient delivery and extraction system. Two or three days of
        materials can be stored at the base of the shaft which is part of what were the
        station platforms. Then as soon as the station is shut to the public, materials
        are loaded via the station platforms, straight on to track trolleys which run
        out to work sites and bring waste and rubble back.
        &nbsp;
        </p>
        <p>
        Not
        only does the hub mean fewer lorry deliveries to other central London stations,
        it also removes the need to load each night's materials into stations before
        getting down to work.&nbsp; That means LU's Track Delivery Unit can double the amount
        of improvement works it carries out in the Engineering Hours available to them
        between 01:00hrs and 05:00hrs each night. The hub has reduced emissions through
        fewer lorry journeys by more than 10 tonnes, and saved more than &pound;500,000 in
        its first year &#45; all money which is reinvested in London's transport network to
        improve services for customers.
        &nbsp;</p>
        <p>
        LU
        Project Manager Ray Hallett, who led the rejuvenation of the lift shaft, said
        &quot;Access for large scale renewal works on the Tube is a perennial problem &#45; both
        underground and on the surface - and we're always looking for ways to minimise
        its impact on Londoners. I'd been looking at the shaft for some time, thinking
        we could put it to good use as it was one of the few that had not been built
        over. With the start of a big round of upgrade works in 2010 and ten of the
        sites being located in the St Pauls area, I saw a chance to bring it to life
        again.&quot;
        &nbsp;
        </p>
        <p>Traditionally,
        the problem of engineering access to the Tube has been solved by restricting
        all deliveries, maintenance work and supplies to Engineering Hours &#45; London
        Underground's &quot;downtime&quot; between 01:00hrs and 05:00hrs when the Underground
        stops running, stations are shut and the power to the rails is turned off.
        &nbsp;
        </p>
        <p>During
        this four-hour break, all over the Tube network, workers carry all their own
        tools and supplies from trucks parked on the surface, down through stations and
        along the tracks to the work site. Then, before 05:00hrs when the trains start
        running, they have to take every single thing that's been carried down plus any
        waste or rubble, back out again.
        &nbsp;
        </p>
        <p>It's
        time-consuming, expensive and frustrating and making it happen in any busy
        central London location is doubly difficult as the Capital's 21st
        century night time economy gathers pace.
        &nbsp;
        </p>
        <p>
        Ray
        added: &quot;We always try hard not to do anything that adds to traffic congestion
        above ground at any time of the day and restricting passenger access to
        stations &#45; even late at night &#45; is an option of last resort.
        &nbsp;
        &quot;The
        Hub has proved very effective in many ways. One person can move two tons of
        supplies from the street to the track in 15 minutes whereas before that would
        take 27 men to do the same job. We can also reduce the average work gang
        numbers from 18 to 12 without compromising safety and we still expect to move
        around 10,000 tons in the first year of using this new system.&quot;</p>
         
         
         
        <hr />
         
        <ul>
            <li>&nbsp;The
            works being carried out in the St.Paul's area are part of a huge programme of
            modernisation being carried out by London Underground, with major stations,
            trains, track and signalling being modernised or replaced to provide more
            capacity for a growing city. LU's plans to improve customer service will also
            see the public areas of stations &#45; ticket halls, ticket gates and platforms &#45;
            become personalised customer service centres, replicating the standards of
            service offered during the London 2012 Games</li>
            <li>Still
            photos are available</li>
            <li>Please
            see http://youtu.be/vfVmcAiGWuA</li>
        </ul>
    

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-June-Rejuvenated lift shaft revolutionises track engineering  -->

 
 
        
        
            @{ViewBag.Description = "St Paul’s Hub makes huge savings made in manpower and cost   ";}
        
        


 