<%- include('../../includes/head') %>

  <section id="title" class="container-fluid">
    <div class="container-lft">
      <h1 class="h-standard">Car clubs</h1>
    </div>
  </section>

  <section id="main" class="container-fluid">
    <div class="container-lft">
      <div class="row">
        <div class="col-12 col-lg-8">
          <div class="card">
            <div class="card-body">
              <p class="card-text">In the coming years, London faces challenges of population growth, congestion and the environment. Car clubs provide a cost-effective and flexible alternative to owning a car, and can help tackle these challenges.</p>
              <p class="card-text">Joining a car club provides the convenience of owning a car without the hassle or costs of repairs, servicing or parking. Members can book cars locally for just an hour, up to a whole weekend, or longer. </p>
            </div>
          </div>
          <!-- to do - refactor this -->
          <div class="clearfix">
            <div class="clearfix">
              <div class="image-box right-float">
                <img src="https://tfl.gov.uk/cdn/static/cms/images/car-clubs_rdax_400x250.jpg" alt="" role="presentation">
                <span class="caption">Unlock a car using your smartcard or smartphone</span>
              </div>
              <h2>How car clubs work</h2>
              <p>Car club vehicles can be booked by members for any length of time from 30 minutes, with the flexibility to increase the booking period to anything from an hour up to a whole weekend, or longer by arrangement.
              </p>
              <ul>
                <li>Book online, by app or by phone</li>
                <li>Drive for as long as you've booked it for (increasing if you need to)</li>
                <li>Pay direct from your
                  account (based
                  on hours used and mileage)</li>
              </ul>
              <p>Use the links on this page to find a car club&nbsp;that suits&nbsp;you.</p>
              <h2>What are the benefits?</h2>
              <ul>
                <li><strong>Convenient car use</strong><br>
                  The convenience of a car without the hassle of owning one -
                  no more servicing, insurance, parking, MOT, repairs </li>
                <li><strong>Self-service</strong><br>
                  Cars are accessible to members at all hour</li>
                <li><strong>Protect the environment</strong><br>
                  Car club vehicles are energy efficient and cleaner than the
                  average car. They also reduce the need to own a car and discourage unnecessary
                  car travel. Some car clubs offer electric vehicles (EVs) which emit neither harmful CO2 nor air pollutants from the tailpipe
                </li>
              </ul>
            </div>
            <div>
              <h2>Case studies</h2>
              <h3>James Kennedy, DriveNow</h3>
              <p>James, an urban bicycle manufacturer, says: "I use <a href="https://uk.drive-now.com/" class="external-link" target="_parent">DriveNow</a> at least twice a week. For me and my wife it makes no sense to own a car in London, but sometimes we need to move things between our home and our respective workshops that we can't carry by bicycle, so we grab one of the cars that's invariably within 50 yards of our home in De Beauvoir and move it that way. I keep a lot of bicycle frames for the business in our attic so it's great to be able to chuck them in the boot and drive them up to Hackney Downs. I even occasionally treat myself to a drive home if it's hammering it down with rain!"</p>
              <h3>West End in Schools, St Martin's Lane, London WC2, City Car Club</h3>
              <p>West End in Schools says: "West End in Schools takes top actors from London's West End into schools all over the UK to inspire students and promote literacy. Ensuring our teams are in the right place at the right time is vital, and as they often carry sets and costumes, public transport is rarely an option.</p>
              <p>"Having a range of modern vehicles from <a href="http://www.citycarclub.co.uk/" class="external-link" target="_parent">City Car Club</a> available when we need them all over London has really helped us to expand our business. We're very conscious about the impact of our operation on the environment. Having a large choice of hybrid vehicles is environmentally sound, and helps us avoid the congestion charge.</p>
              <p>"The customer service is excellent, the vehicles are well maintained, and as City Car Club has vehicles in multiple cities around the UK, there's now no limit to how far we can go."</p>
              <h3>HJ Media, City Car Club</h3>
              <p>HJ Media says: "We initially joined <a href="http://www.citycarclub.co.uk/" class="external-link" target="_parent">City Car Club</a> as a back up to my own unreliable car. We later scrapped the car as it was too expensive to get it repaired and chose not to replace it as using a car club was proving more cost-effective.</p>
              <p>"Using a car club gave us easy and fast access to local cars and gave us peace of mind due to the reliability of service."</p>
            </div>
            <div class="clearfix">
              <div class="image-box right-float">
                <img src="https://tfl.gov.uk/cdn/static/cms/images/rebecca-pritchard_rdax_400x250.jpg" alt="" role="presentation">
              </div>
              <h3>Rebecca, Zipcar</h3>
              <p>Rebecca lives in Herne Hill, London, where she is a member of <a href="http://www.zipcar.co.uk/ " class="external-link" target="_parent">Zipcar</a>. She works in Shepherd's Bush, where she is also a car club member on a business account.</p>
              <p>Rebecca first explored the idea of joining a car club because she didn't want to buy a car, partly due to the difficulty of parking in London. She finds being a member of a car club a great way to get around, and regularly uses a mix of public transport and car club vehicles to visit friends and go shopping.</p>
              <p>Rebecca says: "I've used my car club for all sorts of things, but mostly to go and visit friends that live further away. I've used cars and vans for moving house and big shops and always recommend the idea of joining to friends and family."</p>
            </div>
            <div class="clearfix">
              <div class="image-box right-float">
                <img src="https://tfl.gov.uk/cdn/static/cms/images/peter-finn_rdax_400x250.jpg" alt="" role="presentation">
              </div>
              <h3>Peter, Clerk of Works, The Hall School, Hampstead, Zipcar</h3>
              <p>Peter says: "Being an inner London school, we have very little space to keep our own van, so on the occasions where one of our minibuses isn't suitable for the journey, I opt to book a <a href="http://www.zipcar.co.uk/ " class="external-link" target="_parent">Zipcar</a> van.</p>
              <p>"We have access to four or five vans within walking distance of the school and we use them at various times throughout the year. They are a valuable and cost-effective resource for the school.</p>
              <p>"For last year's carol concert we were able to book a van for the amount of time required to transport 300 chairs from the school to the church. Previously for a similar job we've had to hire a van for a whole day.</p>
              <p>"Car club membership has saved the school a lot of money that can now be spent on other things."</p>
            </div>
            <div class="clearfix">
              <div class="image-box right-float">
                <img src="https://tfl.gov.uk/cdn/static/cms/images/farruh-hashimov_rdax_400x250.jpg" alt="" role="presentation">
              </div>
              <h3>Farrauh, Poplar, E-Car</h3>
              <p>Farrauh says: "I don't own a car, but like any young person I need to get out and about. And I know the options available to me. Naturally, I take public transport regularly, but I enjoy the freedom that only a car can give.</p>
              <p>"<a href="http://www.e-carclub.org/ " class="external-link" target="_parent">E-Car</a> makes sense on the crucial points of price and availability. As a result, it plays an increasingly important role in community life. Not everyone can afford to keep a car and this is a great chance for people to take those necessary journeys. And there are no petrol costs, that's important. Of all the options out there, E-Car clearly wins over the competition."</p>
            </div>
            <div class="clearfix">
              <div class="image-box right-float">
                <img src="https://tfl.gov.uk/cdn/static/cms/images/jubayar-ahmed_rdax_400x250.jpg" alt="" role="presentation">
              </div>
              <h3>Jubayar, Poplar, E-Car</h3>
              <p>Jubayar says: "The cars are great. I'm actually thinking of buying an electric car now in the future. I really like them, especially for journeys when I go and see friends and family in east London or Essex.</p>
              <p>"The thing is, if I take the train it costs me as much as if I took an <a href="http://www.e-carclub.org/ " class="external-link" target="_parent">E-Car</a>. And beyond the savings, the comfort and the convenience. It's zero emissions. It's good for the environment and this is important in London. Electric cars are the future."</p>
            </div>
            <div>
              <h2>Car Club strategy and research</h2>
              <div class="card">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><a href="title-basic.html" class="download">A Car Club Strategy for London, May 2015 (pdf 709kb)</a></li>
                  <li class="list-group-item"><a href="header-complex.html" class="download">Car Clubs Evidence Summary, March 2015 (pdf 424kb)</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="row">
            <div class="col-12 col-sm-6 col-lg-12">
              <h5 class="h-highlight h-dark">Car clubs</h5>
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Blah Ad</h4>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-12">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Related websites</h4>
                  <ul class="list-group">
                    <li class="list-group-item"><a href="#" class="external">Blue City</a></li>
                    <li class="list-group-item"><a href="#" class="external">Co-wheels</a></li>
                    <li class="list-group-item"><a href="#" class="external">DriveNow</a></li>
                    <li class="list-group-item"><a href="#" class="external">E-car club</a></li>
                    <li class="list-group-item"><a href="#" class="external">Enterprise car club</a></li>
                    <li class="list-group-item"><a href="#" class="external">Hertz 24/7</a></li>
                    <li class="list-group-item"><a href="#" class="external">Ubeeqo Car Club</a></li>
                    <li class="list-group-item"><a href="#" class="external">Zipcar</a></li>
                    <li class="list-group-item"><a href="#" class="external">British Vehicle Rental and Leasing Association (BVLRA)</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <%- include('../../includes/foot') %>