
    
  



@{ViewBag.Title = "LU Alerts";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/suppliers-and-contractors/health-safety-and-environment/london-underground/alerts";}
@{ViewBag.Language = "en";}
        
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/suppliers-and-contractors/index">Suppliers & contractors</a></li>
                
            
                 <li><a href="/info-for/suppliers-and-contractors/health-safety-environment">Health, safety & environment</a></li>
                
            
                 <li><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/london-underground">London Underground</a></li>
                
            
            
                <li><span class="last-breadcrumb">LU Alerts</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>LU Alerts</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Safety alerts are used to alert staff and contractors to specific issues of an safety nature. They are published when a unique, unusual or particularly dangerous asset-related failure or incident has occurred or been identified, or where an incident has been caused by lack of knowledge of safety rules. 
        
      </div>
    
    <div class="on-this-page">
      
        <p>Latest alert added: 28 July 2014</p>
    
      
           
      
<div>



<h2>Safety alerts 2015</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/operative-received-chemical-burn-from-concrete-15-02-15.pdf">
    <div class="document-download-text">
        <p>Operative Received Chemical Burn From Concrete</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 442KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.43 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/dislodged-lock-nut-hits-operatives-hard-hat-15022015.pdf">
    <div class="document-download-text">
        <p>Dislodged Lock Nut Hits Operative's Hard Hat </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 439KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.43 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/overturned-dumper-alert-30-01-15.pdf">
    <div class="document-download-text">
        <p>Overturned Dumper</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 464KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.45 -->
 
</div>

</div>
 
<div>



<h2>Safety alerts 2014</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/11-alert-metal-support-bars-on-lmr-hatches-jun-2014.pdf">
    <div class="document-download-text">
        <p>Metal support bars on Lift Machine Room hatches</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 731KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.71 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/hse-alert-10-assets-contaminated-by-human-waste.pdf">
    <div class="document-download-text">
        <p>Assets contaminated by human waste</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 49KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/hse-alert-9-equipment-cabinet-door-fouls-kinematic-envelope.pdf">
    <div class="document-download-text">
        <p>Equipment cabinet door fouls kinematic envelope</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 49KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/hse-alert-8-oak-processionary-moths.pdf">
    <div class="document-download-text">
        <p>Oak processionary moths and caterpillars</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 588KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.57 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/7-alert-segregations-of-plant-and-people-mar-2014.pdf">
    <div class="document-download-text">
        <p>Segregation of plant and people</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 25KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/6-alert-noisy-works-at-willesden-green-station.pdf">
    <div class="document-download-text">
        <p>Noisy works at Willesden Green station</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 35KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/4-alert-excessive-loading-of-station-lighting-columns-feb-2014.pdf">
    <div class="document-download-text">
        <p>Excessive loading of station lighting columns</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 134KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/3-alert-working-in-complex-track-areas-risk-of-electric-shock-feb-2014.pdf">
    <div class="document-download-text">
        <p>Working in complex track areas</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 41KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/1-alert-protection-master-track-trolleys-on-tbtc-track-jan-2014.pdf">
    <div class="document-download-text">
        <p>Protection master responsibilities using track trolleys</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 27KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 
</div>

</div>
 
<div>



<h2>Safety alerts 2013</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/19-safety-alert-signal-relay-wrong-side-failure-aug-2013.pdf">
    <div class="document-download-text">
        <p>Signal relay wrong side failure</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 51KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/17-safety-alert-fallen-redundant-pipe-hanger-july-2013.pdf">
    <div class="document-download-text">
        <p>Redundant pipe hanger</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 73KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/11-safety-alert-s-stock-trip-cock-hard-standings-may-2013.pdf">
    <div class="document-download-text">
        <p>S-stock trip cock hard markings</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 161KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/13-safety-alert-use-of-iron-men-june-2013.pdf">
    <div class="document-download-text">
        <p>Safe use of iron men</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 64KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/12-safety-alert-met-line-speed-change-may-2013.pdf">
    <div class="document-download-text">
        <p>Metropolitan line speed change</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 61KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/11-safety-alert-new-walkway-markings-may-2013.pdf">
    <div class="document-download-text">
        <p>New walkway markings</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 165KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/10-safety-alert-oak-processionary-moths-april-2013.pdf">
    <div class="document-download-text">
        <p>Control of Oak Processionary caterpillars and moths</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 87KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/6-safety-alert-working-in-substations-march-2013.pdf">
    <div class="document-download-text">
        <p>Working in substations</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 51KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/8-safety-alert-broken-hilti-points-march-2013.pdf">
    <div class="document-download-text">
        <p>Broken Hilti points</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 91KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/1-safety-alert-upminster-depot-tc-jan-2013.pdf">
    <div class="document-download-text">
        <p>Energisation of new north sidings at Upminster depot</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 43KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/2-safety-alert-attending-to-vehicles-in-possessions-jan-2013.pdf">
    <div class="document-download-text">
        <p>Attending to vehicles in possessions</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 45KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 
</div>

</div>
 
<div>



<h2>Safety alerts 2012</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/14-coordination-of-subcontractor-installations-oct-2012.pdf">
    <div class="document-download-text">
        <p>Coordination of subcontractor installations </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 104KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/15-safety-alert-asbestos-victoria-ss-office-oct-2012.pdf">
    <div class="document-download-text">
        <p>Asbestos Victoria station supervisor's office</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 38KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/16-safety-alert-monitoring-prisms-in-passenger-areas-oct-2012.pdf">
    <div class="document-download-text">
        <p>Monitoring prisms in passenger areas</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 88KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/12-safety-alert-live-cables-in-stations-june-2012.pdf">
    <div class="document-download-text">
        <p>Live cables in stations</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 33KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 
</div>

</div>
 
<div>



<h2>Safety alerts 2010</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/11-safety-alert-ltb-heaters-july-2010.pdf">
    <div class="document-download-text">
        <p>LTB heater units and asbestos</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 99KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/suppliers-and-contractors/index" class="heading">
                    <h2 id="sub-menu-heading">Suppliers & contractors<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/become-a-supplier">Become a TfL supplier</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/opportunities">Find contract opportunities</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/recieving-orders-and-getting-paid">Invoicing and getting paid</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/what-we-buy">What we buy</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/supplier-relations">Supplier relations</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-toolkit">Digital toolkit</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-environment">Health, safety & environment</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/london-underground">London Underground</a></div>
                                        <ul>
                                            
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/london-underground/alerts">LU Alerts</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/london-underground/bulletins">LU Bulletins</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/london-underground/campaigns">Campaigns</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/london-underground/strategy-and-performance">Strategy & performance </a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/london-underground/learning-and-good-practice">Learning & good practice</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/london-underground/toolbox-talks">Toolbox talks</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/london-underground/health">Health</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/london-underground/lu-supplier-forum">LU Supplier Forum</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/supplier-handbook">LU Supplier Handbook</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/crossrail">Crossrail</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/traffic-management">Traffic management</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/design-standards-and-licensing">Design standards & licensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/london-buses-tenders">London Buses tenders</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/london-service-permits">London Service Permits</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/tfl-supplier-awards">TfL Supplier Awards</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact us </h3>
         </div>
        
        
        
        
        <p class="content-group">
            <span class="visually-hidden">Email address</span>
            <a href="mailto:SQEContracts&#64;tube.tfl.gov.uk">SQEContracts&#64;tube.tfl.gov.uk</a>
        </p>
        
        <div class="content-group">
            <p>
                
                
                
                
                
                
                
                
            </p>
            
        </div>
        
        <div class="content-group">
            
            
            
                
                
                
            
            
            
        </div>
        
        
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Safety alerts are used to alert staff and contractors to specific issues of an safety nature. They are published when a unique, unusual or particularly dangerous asset-related failure or incident has occurred or been identified, or where an incident has been caused by lack of knowledge of safety rules. ";}
        
            
        


 