
    
  



@{ViewBag.Title = "LU Bulletins";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/suppliers-and-contractors/health-safety-and-environment/london-underground/bulletins";}
@{ViewBag.Language = "en";}
        
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/suppliers-and-contractors/index">Suppliers & contractors</a></li>
                
            
                 <li><a href="/info-for/suppliers-and-contractors/health-safety-environment">Health, safety & environment</a></li>
                
            
                 <li><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/london-underground">London Underground</a></li>
                
            
            
                <li><span class="last-breadcrumb">LU Bulletins</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>LU Bulletins</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Safety bulletins are published to communicate general safety update information or reminders.
        
      </div>
    
    <div class="on-this-page">
      
        <p>Latest bulletin added: 28 July 2014 </p>
    
      
           
      
<div>



<h2>Safety bulletins 2015</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/overturned-dumper-alert-30-01-15.pdf">
    <div class="document-download-text">
        <p>Overturned Dumper</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 464KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.45 -->
 
</div>

</div>
 
<div>



<h2>Safety bulletins 2014</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/12-safety-bulletin-use-of-lindapter-clamps-for-fixings-jun-2014.pdf">
    <div class="document-download-text">
        <p>Use of Lindapter clamps for fixings</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 120KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/hse-bulletin-10-nesting-birds.pdf">
    <div class="document-download-text">
        <p>Nesting birds</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 98KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/hse-bulletin-9-in-2014-operation-of-the-weed-killing-train.pdf">
    <div class="document-download-text">
        <p>Operation of the weed killing train</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 65KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/hse-bulletin-8-in-2014-fire-brigade-strikes.pdf">
    <div class="document-download-text">
        <p>Fire brigade strikes</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 18KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/hse-bulletin-7-reporting-the-discovery-of-hypodermic-needles.pdf">
    <div class="document-download-text">
        <p>Reporting the discovery of hypodermic needles</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 26KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/hse-bulletin-6-in-2014-signing-in-at-depots.pdf">
    <div class="document-download-text">
        <p>Signing in at depots</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 18KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/hse-bulletin-5-illegal-disposal-of-waste.pdf">
    <div class="document-download-text">
        <p>Illegal disposal of waste</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 61KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/hse-bulletin-4-risk-of-electric-shock-running-rails.pdf">
    <div class="document-download-text">
        <p>Risk of electric shock running rails</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 17KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/3-bulletin-correct-use-of-movement-limiting-devices.pdf">
    <div class="document-download-text">
        <p>Correct use of movement limiting devices</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 79KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/2-bulletin-tripping-hazards-redundant-screw-spikes-and-coach-screws-jan-2014.pdf">
    <div class="document-download-text">
        <p>Tripping hazards</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 127KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/1-bulletin-approved-iron-men-jan-2014.pdf">
    <div class="document-download-text">
        <p>Types of approved iron men</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 92KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 
</div>

</div>
 
<div>



<h2>Safety bulletins 2013</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/26-safety-bulletin-work-on-or-adjacent-to-utilities-and-high-voltage-cables-dec-2013.pdf">
    <div class="document-download-text">
        <p>Work on or adjacent to utilities and high voltage cables</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 52KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/26-safety-bulletin-stamping-out-unsafe-practices-nov-2013.pdf">
    <div class="document-download-text">
        <p>Stamping out unsafe practices</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 48KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/23-safety-bulletin-false-widow-spider-oct-2013.pdf">
    <div class="document-download-text">
        <p>False widow spider</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 86KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/24-safety-bulletin-walking-in-the-track-environment-oct-2013.pdf">
    <div class="document-download-text">
        <p>Walking in the track environment</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 88KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.09 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/25-safety-bulletin-hoods-and-wooly-hats-oct-2013.pdf">
    <div class="document-download-text">
        <p>Hooded clothing and woolly hats</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 61KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/16-safety-bulletin-exclusion-zones-keep-you-safe-sept-2013.pdf">
    <div class="document-download-text">
        <p>Exclusion zones keep you safe</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 42KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/17-safety-bulletin-precautions-for-tree-climbing-sept-2013.pdf">
    <div class="document-download-text">
        <p>Precautions for tree climbing</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 64KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/18-safety-bulletin-polyester-resin-anchor-bolts-sept-2013.pdf">
    <div class="document-download-text">
        <p>Polyester resin anchor bolts</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 81KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/19-safety-bulletin-communications-with-the-tac-sep-2013.pdf">
    <div class="document-download-text">
        <p>Communications with the TAC</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 44KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/20-safety-bulletin-hidden-hypodermic-needles-sept-2013.pdf">
    <div class="document-download-text">
        <p>Hidden hypodermic needles</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 29KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.03 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/21-safety-bulletin-broken-conductor-rail-pots-injury-sept-2013.pdf">
    <div class="document-download-text">
        <p>Injury from broken conductor rail pot</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 78KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/08-safety-bulletin-dialing-999-and-auto-phones-jul-2013.pdf">
    <div class="document-download-text">
        <p>Ambulance requests (non-operational staff)</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 41KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/09-safety-bulletin-angel-escalators-jul-2013.pdf">
    <div class="document-download-text">
        <p>Restrictions to movement of materials on Angel escalators</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 42KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/10-safety-bulletin-damaged-cable-covers-jul-2013.pdf">
    <div class="document-download-text">
        <p>Damaged fibreglass cable covers</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 113KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/12-safety-bulletin-safe-access-and-egress-to-track-jul-2013.pdf">
    <div class="document-download-text">
        <p>Platform to track access/egress</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 158KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/11-safety-bulletin-cdm-compliance-of-contract-variations-jul-2013.pdf">
    <div class="document-download-text">
        <p>Contract variations: CDM compliance</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 37KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/06-safety-bulletin-manual-handling-rail-apr-2013.pdf">
    <div class="document-download-text">
        <p>Manual handling rail</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 56KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/7-safety-bulletin-grp-scaffold-towers-apr-2013.pdf">
    <div class="document-download-text">
        <p>Glass reinforced plastic (GRP) towers</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 80KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/07-safety-bulletin-grp-scaffold-towers-re-issue-apr-2013.pdf">
    <div class="document-download-text">
        <p>GRP scaffold towers reissue</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 85KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/03-safety-bulletin-quensh-14-mar-2013.pdf">
    <div class="document-download-text">
        <p>QUENSH V14 issued</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 51KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/04-safety-bulletin-lifting-using-excavator-mounted-vibrators-mar-2013.pdf">
    <div class="document-download-text">
        <p>Safe use of excavator mounted vibrators</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 105KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/01-safety-bulletin-failed-roundel-sign-jan-2013.pdf">
    <div class="document-download-text">
        <p>Failed London Overground roundel sign</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 77KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/02-safety-bulletin-significant-spill-of-de-icing-fluid-jan-2013.pdf">
    <div class="document-download-text">
        <p>Significant spill of de-icing fluid</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 73KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 
</div>

</div>
 
<div>



<h2>Safety bulletins 2012</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/08-safety-bulletin-near-miss-apr-2012.pdf">
    <div class="document-download-text">
        <p>What is a near miss?</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 56KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/suppliers-and-contractors/index" class="heading">
                    <h2 id="sub-menu-heading">Suppliers & contractors<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/become-a-supplier">Become a TfL supplier</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/opportunities">Find contract opportunities</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/recieving-orders-and-getting-paid">Invoicing and getting paid</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/what-we-buy">What we buy</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/supplier-relations">Supplier relations</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-toolkit">Digital toolkit</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-environment">Health, safety & environment</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/london-underground">London Underground</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/london-underground/alerts">LU Alerts</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/london-underground/bulletins">LU Bulletins</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/london-underground/campaigns">Campaigns</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/london-underground/strategy-and-performance">Strategy & performance </a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/london-underground/learning-and-good-practice">Learning & good practice</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/london-underground/toolbox-talks">Toolbox talks</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/london-underground/health">Health</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/london-underground/lu-supplier-forum">LU Supplier Forum</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/supplier-handbook">LU Supplier Handbook</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/crossrail">Crossrail</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/traffic-management">Traffic management</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/design-standards-and-licensing">Design standards & licensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/london-buses-tenders">London Buses tenders</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/london-service-permits">London Service Permits</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/tfl-supplier-awards">TfL Supplier Awards</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact us </h3>
         </div>
        
        
        
        
        <p class="content-group">
            <span class="visually-hidden">Email address</span>
            <a href="mailto:SQEContracts&#64;tube.tfl.gov.uk">SQEContracts&#64;tube.tfl.gov.uk</a>
        </p>
        
        <div class="content-group">
            <p>
                
                
                
                
                
                
                
                
            </p>
            
        </div>
        
        <div class="content-group">
            
            
            
                
                
                
            
            
            
        </div>
        
        
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Safety bulletins are published to communicate general safety update information or reminders.";}
        
            
        


 