
    
  



@{ViewBag.Title = "Learning & good practice";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/suppliers-and-contractors/health-safety-and-environment/london-underground/learning-and-good-practice";}
@{ViewBag.Language = "en";}
        
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/suppliers-and-contractors/index">Suppliers & contractors</a></li>
                
            
                 <li><a href="/info-for/suppliers-and-contractors/health-safety-environment">Health, safety & environment</a></li>
                
            
                 <li><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/london-underground">London Underground</a></li>
                
            
            
                <li><span class="last-breadcrumb">Learning & good practice</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Learning & good practice</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        This information can help you improve health and safety on site. London Underground's health, safety and environment (HSE) Learning Points documents are designed to capture and share key learning points to improve industry HSE performance. 
        
      </div>
    
    
      
        <p>These Learning Points may have arisen through incidents, accidents, or an event that went particularly well - or not so well.</p>
        <p>If you would like to share learning from your own organisation, and believe the industry would benefit, please complete the HSE learning points template (see below) and <a href="mailto:SQEContracts&#64;tube.tfl.gov.uk">email the finished document to us</a>.</p>
    
      
           
      
<div>



<h2>Recognising good practice: The London Underground (LU) Beacon scheme</h2>


<p>LU recognises suppliers who demonstrate good practice in site management through its Beacon award scheme. More information on how to become a Beacon supplier can be found below. </p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/beaconsiteguidance.pdf">
    <div class="document-download-text">
        <p>The LU Beacon scheme</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.55MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.55 -->
 
</div>

</div>
 
<div>





<div class="multi-document-download-container">
    
</div>

</div>
 
<div>



<h2>Lessons learned </h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap doc" href="/cdn/static/cms/documents/hse-learning-points-template.doc">
    <div class="document-download-text">
        <p>Lessons learned template </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            DOC 40KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lessons-learned-prorection-of-vulnerable-assets.pdf">
    <div class="document-download-text">
        <p>Protection of valuable assets</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 182KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.18 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/hse-learning-points-vinci-potential-fire.pdf">
    <div class="document-download-text">
        <p>Potential fire in drying room</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 36KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 
</div>

</div>
 <div>


        <p>To promote good HSE practice, a library of innovations, products or systems that have been applied by LU or its suppliers to solve a HSE problem.&nbsp; </p>
        <p>If you would like to share good practice from your own organisation and believe the industry would benefit please complete the HSE good practice template and <a href="mailto:SQEContracts&#64;tube.tfl.gov.uk">email it to us</a>. </p>
         
         
    
</div>
 
<div>



<h2>Good practice documents</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap doc" href="/cdn/static/cms/documents/hse-template-good-practice.doc">
    <div class="document-download-text">
        <p>Good practice template</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            DOC 40KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/hse-good-practice-foam-cover.pdf">
    <div class="document-download-text">
        <p>Implementation of foam cover to protect frames</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 40KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/hse-good-practice-near-miss-reporting.pdf">
    <div class="document-download-text">
        <p>Best practice in near miss reporting</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 84KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/apr-13-pit-platform.pdf">
    <div class="document-download-text">
        <p>Implementation of pit platform</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 68KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/apr-13-mobile-cable-style.pdf">
    <div class="document-download-text">
        <p>Implementation of a mobile cable stile</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 172KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.17 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/feb-13-dust-suppression.pdf">
    <div class="document-download-text">
        <p>Dust suppression</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 16KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.02 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/apr-13-vinci-stand-down.pdf">
    <div class="document-download-text">
        <p>Safety stand down days</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 254KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.25 -->
 
</div>

</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/suppliers-and-contractors/index" class="heading">
                    <h2 id="sub-menu-heading">Suppliers & contractors<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/become-a-supplier">Become a TfL supplier</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/opportunities">Find contract opportunities</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/recieving-orders-and-getting-paid">Invoicing and getting paid</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/what-we-buy">What we buy</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/supplier-relations">Supplier relations</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-toolkit">Digital toolkit</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-environment">Health, safety & environment</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/london-underground">London Underground</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/london-underground/alerts">LU Alerts</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/london-underground/bulletins">LU Bulletins</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/london-underground/campaigns">Campaigns</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/london-underground/strategy-and-performance">Strategy & performance </a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/london-underground/learning-and-good-practice">Learning & good practice</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/london-underground/toolbox-talks">Toolbox talks</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/london-underground/health">Health</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/london-underground/lu-supplier-forum">LU Supplier Forum</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/supplier-handbook">LU Supplier Handbook</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/crossrail">Crossrail</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/traffic-management">Traffic management</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/design-standards-and-licensing">Design standards & licensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/london-buses-tenders">London Buses tenders</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/london-service-permits">London Service Permits</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/tfl-supplier-awards">TfL Supplier Awards</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact us </h3>
         </div>
        
        
        
        
        <p class="content-group">
            <span class="visually-hidden">Email address</span>
            <a href="mailto:SQEContracts&#64;tube.tfl.gov.uk">SQEContracts&#64;tube.tfl.gov.uk</a>
        </p>
        
        <div class="content-group">
            <p>
                
                
                
                
                
                
                
                
            </p>
            
        </div>
        
        <div class="content-group">
            
            
            
                
                
                
            
            
            
        </div>
        
        
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "This information can help you improve health and safety on site. London Underground's health, safety and environment (HSE) Learning Points documents are designed to capture and share key learning points to improve industry HSE performance. ";}
        
            
        


 