
    
  



@{ViewBag.Title = "Strategy & performance ";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/suppliers-and-contractors/health-safety-and-environment/london-underground/strategy-and-performance";}
@{ViewBag.Language = "en";}
        
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/suppliers-and-contractors/index">Suppliers & contractors</a></li>
                
            
                 <li><a href="/info-for/suppliers-and-contractors/health-safety-environment">Health, safety & environment</a></li>
                
            
                 <li><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/london-underground">London Underground</a></li>
                
            
            
                <li><span class="last-breadcrumb">Strategy & performance </span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Strategy & performance </h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        London Underground has outlined its overall direction and intent for health, safety and the environment through these strategies and supporting plans.
        
      </div>
    
    
      
      
           
      
<div>



<h2>Strategy documents</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lu-capital-programmes-health-safety-environment-strategy.pdf">
    <div class="document-download-text">
        <p>CPD HS&E strategy 2014-17</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 656KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.64 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/lu-capital-programs-health-and-safety-and-environment-improvement-plan.pdf">
    <div class="document-download-text">
        <p>CPD HS&E Improvement plan</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 240KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.23 -->
 
</div>

</div>
 
<div>



<h2>Performance reports</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pccu-hse-dashboard.pdf">
    <div class="document-download-text">
        <p>PCCU HSE Dashboards Period 10 2014/15</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 227KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.22 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cpd-hse-dashboard.pdf">
    <div class="document-download-text">
        <p>CPD HSE Dashboards Period 10 2014/15 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 451KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.44 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sup-hse-dashboard.pdf">
    <div class="document-download-text">
        <p>SUP HSE Dashboards Period 10 2014/15 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 208KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.20 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stations-and-crossrail-hse-dashboard.pdf">
    <div class="document-download-text">
        <p>Stations and Crossrail HSE Dashboards Period 10 2014/15 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 272KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.27 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pway-hse-dashboard.pdf">
    <div class="document-download-text">
        <p>PWAY HSE Dashboards Period 10 2014/15 </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 288KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.28 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pway-hse-dashboard.pdf">
    <div class="document-download-text">
        <p>PWAY HSE Dashboard Period 8 2014/15</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 288KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.28 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pccu-hse-dashboard.pdf">
    <div class="document-download-text">
        <p>PCCU HSE Dashboard Period 8 2014/15</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 227KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.22 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sup-hse-dashboard.pdf">
    <div class="document-download-text">
        <p>SUP HSE Dashboard Period 8 2014/15</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 208KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.20 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stations-and-crossrail-hse-dashboard.pdf">
    <div class="document-download-text">
        <p>stations & Crossrail HSE Dashboard Period 8 2014/15</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 272KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.27 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cpd-hse-dashboard-p8-2014-15.pdf">
    <div class="document-download-text">
        <p>Capital programmes period 8/14/15</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 469KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.46 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pccu-hse-dashboard.pdf">
    <div class="document-download-text">
        <p>PCCU period 4/14-15</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 227KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.22 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/bcv-upgrades-hse-dashboard.pdf">
    <div class="document-download-text">
        <p>BCV upgrades period 4/14-15</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 193KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.19 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stations-and-crossrail-hse-dashboard.pdf">
    <div class="document-download-text">
        <p>LU stations and Crossrail period 4/14-15</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 272KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.27 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/cpd-hse-dashboard.pdf">
    <div class="document-download-text">
        <p>Capital programmes period 4/14-15</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 451KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.44 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/p10-hse-dashboard-pway.pdf">
    <div class="document-download-text">
        <p>Permanent way period 4/14-15</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 225KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.22 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/sup-hse-dashboard.pdf">
    <div class="document-download-text">
        <p>SUP (overall) period 4/14-15</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 208KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.20 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/p1-stations-and-crossrail-hse-dashboard.pdf">
    <div class="document-download-text">
        <p>LU stations and Crossrail period 1/14-15</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 212KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.21 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/p1-sup-hse-dashboard.pdf">
    <div class="document-download-text">
        <p>SUP depots period 1/14-15</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 192KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.19 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/p1-pccu-hse-dashboard.pdf">
    <div class="document-download-text">
        <p>PCCU period 1/14-15</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 194KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.19 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/p1-pway-hse-dashboard.pdf">
    <div class="document-download-text">
        <p>Permanent way period 1/14-15</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 204KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.20 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/p1-cpd-hse-dashboard.pdf">
    <div class="document-download-text">
        <p>Capital programmes period 1/14-15</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 437KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.43 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/p10-hse-dashboard-bcv.pdf">
    <div class="document-download-text">
        <p>BCV upgrades period 10/13-14</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 209KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.20 -->
 
</div>

</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/suppliers-and-contractors/index" class="heading">
                    <h2 id="sub-menu-heading">Suppliers & contractors<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/become-a-supplier">Become a TfL supplier</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/opportunities">Find contract opportunities</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/recieving-orders-and-getting-paid">Invoicing and getting paid</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/what-we-buy">What we buy</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/supplier-relations">Supplier relations</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/digital-toolkit">Digital toolkit</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-environment">Health, safety & environment</a></div>
                                <ul>
                                    
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/london-underground">London Underground</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/london-underground/alerts">LU Alerts</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/london-underground/bulletins">LU Bulletins</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/london-underground/campaigns">Campaigns</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/london-underground/strategy-and-performance">Strategy & performance </a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/london-underground/learning-and-good-practice">Learning & good practice</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/london-underground/toolbox-talks">Toolbox talks</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/london-underground/health">Health</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/london-underground/lu-supplier-forum">LU Supplier Forum</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/supplier-handbook">LU Supplier Handbook</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/crossrail">Crossrail</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/health-safety-and-environment/traffic-management">Traffic management</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/design-standards-and-licensing">Design standards & licensing</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/london-buses-tenders">London Buses tenders</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/london-service-permits">London Service Permits</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/suppliers-and-contractors/tfl-supplier-awards">TfL Supplier Awards</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact us </h3>
         </div>
        
        
        
        
        <p class="content-group">
            <span class="visually-hidden">Email address</span>
            <a href="mailto:SQEContracts&#64;tube.tfl.gov.uk">SQEContracts&#64;tube.tfl.gov.uk</a>
        </p>
        
        <div class="content-group">
            <p>
                
                
                
                
                
                
                
                
            </p>
            
        </div>
        
        <div class="content-group">
            
            
            
                
                
                
            
            
            
        </div>
        
        
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "London Underground has outlined its overall direction and intent for health, safety and the environment through these strategies and supporting plans.";}
        
            
        


 