
    
  



@{ViewBag.Title = "August Bank Holiday & Notting Hill Carnival";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/status-updates/major-works-and-events/august-bank-holiday-and-notting-hill-carnival";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

@{
    Response.Status = "302 Moved temporarily";
    Response.AddHeader("Location", "/status-updates/major-works-and-events");   
}

 
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/status-updates/index">Status updates</a></li>
                
            
                 <li><a href="/status-updates/major-works-and-events">Major works & events</a></li>
                
            
            
                <li><span class="last-breadcrumb">August Bank Holiday & Notting Hill Carnival</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>August Bank Holiday & Notting Hill Carnival</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        From Saturday 25 August until Monday 27 August, the majority of the transport network is open. Make the most of your bank holiday weekend by checking the planned works and events that may affect your journey below.
        
      </div>
    
    <div class="on-this-page">
      <h2> Map of TfL track and station closures</h2>
      
           
      <div class="clearfix">
    <div class="image-box light-box">
    
        
        
        <a href="/cdn/static/cms/images/august-bh-closure-map-2018-large.png" class="modal-launch" target="_blank">
        <img src="/cdn/static/cms/images/august-bh-closure-map-2018-small.png" alt="August Bank Holiday closures 2018" />
        
        </a>
        
        
    </div>   
 </div>
 
<div>




<h2></h2>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/august-bh-closure-map-2018.pdf">
    <div class="document-download-text">
        <p>Map of TfL track and station closures</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 222KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.22 -->
 
</div>

</div>
 <div>

<h2>London Overground</h2>
<p>On Monday 27 August, a Saturday service will run on London Overground routes not affected by closures. An amended Saturday service will run on routes with closures:</p>
<h3>Gospel Oak - Barking route</h3>
<p>From Saturday 25 August until Monday 27 August, there will be no service between South Tottenham and Barking. Use the Victoria line between Seven Sisters (for South Tottenham) and Walthamstow Central or local buses. Replacement bus services will run between Walthamstow Central and Barking.</p>
<h3>Liverpool Street - Enfield Town / Cheshunt / Chingford route</h3>
<p>On Sunday 26 August until 10:15, there will be no service between Liverpool Street and Enfield Town / Cheshunt (via Seven Sisters) / Chingford. Use local buses or Tube services between Liverpool Street and Seven Sisters/Hackney Downs. Replacement bus services will run between Seven Sisters and Enfield Town / Cheshunt and between Hackney Downs and Chingford.</p>
<h3>Watford Junction - Euston route</h3>
<p>On Saturday 25 August and Sunday 26 August, there will be no service between Euston and Watford Junction. Use the Bakerloo line between Queen's Park and Stonebridge Park. Replacement bus services will run between Stonebridge Park and Harrow &amp; Wealdstone / Watford Junction.</p>
<p>On Monday 27 August, there will be no service between Euston and Kilburn High Road. Please use local buses or Tube services.</p>
<h3>Highbury &amp; Islington - West Croydon / Clapham Junction route</h3>
<p>From Saturday 25 August until Monday 27 August there will be no service between Surrey Quays and Clapham Junction. Replacement bus services will run.</p>
<h3>Clapham Junction - Stratford route</h3>
<p>On Sunday 26 August until 11:15, there will be no service between Clapham Junction and Willesden Junction. Please use local buses.</p>
</div>
 <div>

<h2>London Underground</h2>
<h3>District line</h3>
<p>From Saturday 25 August until Monday 27 August there will be no service between Parsons Green and Wimbledon. Replacement bus services will run.</p>
<h3>Bakerloo line</h3>
<p>On Saturday 25 August and Sunday 26 August there will be no service between Stonebridge Park and Harrow &amp; Wealdstone. Replacement bus services will run.</p>
<h3>Other lines</h3>
<p>On Monday 27 August, Tube lines without closures will run Saturday services, with some changes:</p>
<ul>
    <li>On the Jubilee, Northern, Piccadilly and Victoria lines, first and last trains will be at Monday to Thursday times</li>
    <li>On the Central line, first and last trains will be at Monday to Thursday times except at Hainault, Grange Hill, Chigwell, Roding Valley and Woodford, where first trains will be at Saturday times</li>
</ul>
<h2>TfL Rail</h2>
<p>On Saturday 25 August, there will be a reduced train service between Paddington and Heathrow and trains will not stop at Acton Main Line station.</p>
<p>On Monday 27 August, TfL Rail will run a Saturday service.</p>
<h2>DLR</h2>
<p>On Monday 27 August, the DLR will run a Saturday service.</p>
<p>Also, during weekends until Sunday 9 September, exclusive DLR Discovery guided tours will run. <a href="https://londonblog.tfl.gov.uk/2018/07/23/dlr-discovery-explore-east-london">Book your DLR Discovery ticket.</a></p>
<h2>London Trams</h2>
<p>On Monday 27 August, London Trams will run a Sunday service.</p>
<h2>Emirates Air Line</h2>
<p>On Monday 27 August, Emirates Air Line will be open 09:00-22:00.</p>
<h2>National Rail</h2>
<p>Planned works will affect National Rail, including services to and from Euston, Liverpool Street, and Victoria. For more information, visit the <a href="http://nationalrail.co.uk/">National Rail website.</a></p>
<h2>Buses</h2>
<p>On Monday 27 August, buses will run a Sunday service.</p>
<p>
Due to the Notting Hill Carnival on Sunday 26 August and Monday 27 August, buses in west London may be on diversion or stop short of their final destination. <a href="/plan-a-journey/index">Check before you travel.</a></p>
<h2>Road</h2>
<p>The Notting Hill Carnival takes place on Sunday 26 August and Monday 27 August in west London. The areas around Notting Hill, Ladbroke Grove and Westbourne Park will be very busy with some road closures:</p>
<p>From approx. 12:00 Saturday 25 August:</p>
<ul>
    <li>Kensal Road together with adjoining roads will be closed</li>
    <li>Roads will reopen as soon as it is safe to do so on Saturday night</li>
</ul>
<p>From Sunday 26 August at approx. 7:00 until Tuesday 28 August:</p>
<ul>
    <li>Extensive road closures will extend north from Notting Hill Gate to Harrow Road, and from Latimer Road, St. Mark's Road and Clarendon Road in the east to Porchester Road, and Queensway in the west</li>
    <li>Roads will reopen as soon as it is safe to do so early Tuesday morning</li>
</ul>
<p>Ongoing road works across London may also cause disruption to your journey, with major projects in the areas of <a href="https://bronte.online.tfl.gov.uk/status-updates/major-works-and-events/baker-street-roadworks">Baker Street</a>, <a href="https://bronte.online.tfl.gov.uk/status-updates/major-works-and-events/victoria-embankment">Victoria Embankment</a> and <a href="https://tfl.gov.uk/travel-information/improvements-and-projects/highbury-and-islington?cid=highbury-corner">Highbury Corner.</a></p>
<p><a href="https://tfl.gov.uk/traffic/status/">Check before you travel.</a></p>
<h3>Driving</h3>
<p>There will be no Congestion Charge or T-Charge from Saturday to Monday. The charges resume as normal on Tuesday 28 August.</p>
<p>Planned works mean there will be traffic diversions in central London. Please allow extra time and check <a href="https://tfl.gov.uk/traffic/status/">traffic status updates</a> for the latest information.</p>
<h2>Coaches</h2>
<p>Coach services are expected to be very busy over the weekend, so advance booking is strongly recommended. <a href="https://tfl.gov.uk/modes/coaches/coach-companies">Please check the timetable of your service with your service operator.</a></p>
<p><a href="http://www.tfl.gov.uk/coaches">Victoria Coach Station Ticket Office and Left Luggage Office</a> opening times are as usual.</p>
<h2>River</h2>
<p>The Woolwich Ferry runs on their Sunday service on Monday 27 August.<br />
Thames Clippers runs on a weekend service on Monday 27 August.</p>
<p><a href="https://tfl.gov.uk/modes/river">Check River services for more information on other services operating.</a></p>
<h2>Cycling</h2>
<p>Santander Cycles will be available throughout the August Bank Holiday. Some docking stations will be out of service at times due to the Notting Hill Carnival or planned works.</p>
<p>For live information on docking stations, <a href="http://tfl.gov.uk/modes/cycling/santander-cycles/find-a-docking-station">visit our docking stations map</a> or use the Santander Cycles App.</p>
<h2>Taxi &amp; Private Hire</h2>
<p>Taxi (black cabs) and private hire services, including minicabs, will be running throughout the August Bank Holiday.</p>
<p>Please be aware that planned works and closures on the roads may affect your journey. <a href="https://tfl.gov.uk/traffic/status/">Visit traffic status updates for the latest information.</a></p>
<h2>Dial-a-Ride</h2>
<p>Limited services will operate on the Bank Holiday Monday, but the booking office will be closed. Special booking dates apply for journeys on Bank Holiday Monday and on Tuesday 28 August.</p>
<p>Regular bookings will not run on Bank Holiday Monday but if you still wish to travel on this day, <a href="http://www.tfl.gov.uk/modes/dial-a-ride/">please make a one-off booking.</a></p>
</div>
 <div>

<h2>Notting Hill Carnival</h2>
<p>The Notting Hill Carnival takes place on Sunday 26 and Monday 27 August in west London. The areas around Notting Hill, Ladbroke Grove and Westbourne Park will be very busy with some road closures.</p>
<p>
Tube and rail will be the best way to get around, however some stations will be exit only or closed during the event. Buses around west London may be on diversion or stop short of their final destination. <a href="https://tfl.gov.uk/tube-dlr-overground/status/">Check  before you travel.</a></p>
<p>Some Santandar Cycle docking stations in the area will be suspended. You can check availability using our <a href="http://tfl.gov.uk/modes/cycling/santander-cycles/find-a-docking-station">docking station map</a> or use the Santander Cycles App.</p>
<p><a href="/status-updates/index">For the latest road information, see our traffic status updates page.</a></p>
<h3>Tube station changes for Notting Hill Carnival</h3>
<p>Stations close to the carnival will be subject to restrictions on both Sunday and Monday:</p>
<ul>
    <li>Holland Park (Central line) &#45; Station closed from 18:00</li>
    <li>Ladbroke Grove &#45; Station closed</li>
    <li>Latimer Road &#45; Station closed from 23:30</li>
    <li>Notting Hill Gate  &#45; Exit only 11:00-19:00. During this time the Circle and District line will not stop</li>
    <li>Royal Oak &#45; Exit only 11:00-18:00. Station closed from 18:00</li>
    <li>Westbourne Park &#45; Exit only 11:00-18:00. Station closed from 23:30</li>
</ul>
<p>Night Tube services on the Central line will operate throughout Saturday night into Sunday morning.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="follow-social twitter">
  
  <div class="social-image">
    
  </div>
  <div class="social-text">
    <h3>Travel advice and inspiration</h3>
    <p>Ideas for travel in London and advance infomration about major service changes</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="http://www.twitter.com/TfLTravelAlerts">Follow &#64;TfLTravelAlerts</a>
  </div> 
</div>
 <div class="follow-social twitter">
  
  <div class="social-image">
    <span class="mode-icon streets">&nbsp;</span>
  </div>
  <div class="social-text">
    <h3>Traffic news</h3>
    <p>News about traffic in London</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="http://www.twitter.com/TfLTrafficNews">Follow &#64;TfLTrafficNews</a>
  </div> 
</div>
 <div class="follow-social facebook">
  
  <div class="social-image">
    
  </div>
  <div class="social-text">
    <h3>Facebook TravelBot</h3>
    <p>Check status of Tube, rail and bus or find a bus stop and when the next bus is due</p>
  </div>
  <div class="social-button">
    <a class="secondary-button" href="https://m.me/tfltravelbot">Message</a>
  </div> 
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Travel information for the August bank holiday 2018, including Notting Hill Carnival";}
        
            
        


 