
    
  



@{ViewBag.Title = "Baker Street road works";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/status-updates/major-works-and-events/baker-street-roadworks";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

@{
    Response.Status = "302 Moved temporarily";
    Response.AddHeader("Location", "https://tfl.gov.uk/traffic/status/?disruptionIds=TIMS-165573");   
}

 
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/status-updates/index">Status updates</a></li>
                
            
                 <li><a href="/status-updates/major-works-and-events">Major works & events</a></li>
                
            
            
                <li><span class="last-breadcrumb">Baker Street road works</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Baker Street road works</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Two-way traffic will be re-introduced to Baker Street and Gloucester Place over the weekend of 21-24 February 2019. Here's how your journey could be affected.
        
      </div>
    
    <div class="on-this-page">
      <p>From 20:00 on&nbsp;Thursday 21 February to Sunday 24 February, sections of road will progressively close on:</p>

<ul>
	<li>Gloucester Place and Portman Street</li>
	<li>Park Road</li>
	<li>Baker Street and Orchard Street</li>
	<li>Oxford Street (between Marble Arch and Orchard Street).</li>
</ul>

<p>This will allow final works to be completed for the switch.</p>

<p>Once these roads are closed they will&nbsp;only reopen when the area is ready for two-way for traffic. We expect to make the switch to two-way traffic on Sunday 24 February 2019, as soon as all works are completed and it is safe to do so.</p>

<p>Get live updates on traffic conditions during the road closures on our <a href="http://tfl.gov.uk/traffic/status/?Input=baker%20street&amp;disruptionIds=TIMS-165573">traffic status map</a>.</p>
      
           
      
<div>





<div class="multi-document-download-container">
    
</div>

</div>
 <div>

<h2>Traffic impact map</h2>
<p>View the construction area and live traffic conditions on our traffic status map. Or view the map below for the impact of the works on traffic in the coming months or download the PDF</p>
<hr />
</div>
 
       
@{Html.RenderAction("MajorWorkEvent", "Plans", new { disruptionId = "TDM-0038"} );}
        







 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/baker-street-two-way-traffic-impact-21-24-feb.pdf">
    <div class="document-download-text">
        <p>Baker Street switch 21-24 February - traffic impact map</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.67MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.67 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/baker-street-two-way-and-nearby-major-road-works-v125.pdf">
    <div class="document-download-text">
        <p>Baker Street traffic impact map &#45;  February 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 0.99MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.99 -->
 
</div>

</div>
 <div>

<hr />
<h2>Driving</h2>

<h3>Driving through the area</h3>

<p>Extensive road closures in the area that mean you will not be able to travel southbound on Park Road from the junction with Gloucester Place.</p>

<p>If you are travelling north/south through London on the A5 or A41 expect long queues and extensive delays. You are advised to avoid the area until the roads reopen for two way traffic. Seek alternative routes where possible and leave extra time for your journey.</p>

<p>Consider alternative ways of making your journey, especially the Tube.</p>

<p>View the construction area and live traffic conditions on our <a href="http://tfl.gov.uk/traffic/status/?Input=baker%20street&amp;disruptionIds=TIMS-165573">traffic status map</a>.</p>

<p>For news about traffic in London, follow <a href="https://twitter.com/tfltrafficnews">&#64;TfLTrafficNews</a>.</p>

<h3>Local traffic</h3>

<p>Side roads will remain open. We recommend using alternative means of travel, especially walking or Tube.</p>

<h3>Deliveries and servicing</h3>

<p>You are advised to arrange deliveries outside this time as access will be limited. Find out more about <a href="/info-for/deliveries-in-london/delivering-efficiently">changing deliveries</a>.</p>

<hr />
<h2>Tube</h2>

<p>Tube and Rail services are unaffected by the works. Access to&nbsp;Baker Street and Bond StreetTube stations will be maintained throughout the works.</p>

<p>The Tube will be one of the best ways of making journeys to and from the area during these works. Baker Street is on the Jubilee Line, which&nbsp;runs along the A41 Finchley Road.</p>

<p><a href="/plan-a-journey/index">Plan a&nbsp;journey</a>.</p>

<hr />
</div>
 
<div>




<h2>Buses</h2>

<h3>20:00 Thursday 21 &#45; Sunday 24 February 2019 (road closures)</h3>

<p>Temporary changes apply to bus services in the area during works. Services will continue but some buses will stop short of their destination or be on diversion.&nbsp; <a href="/plan-a-journey/index">Plan your journey</a>.</p>

<h3>From Sunday 24 February 2019</h3>

<p>Routes will be realigned on Baker Street and Gloucester Place following the reopening of roads in the new two-way system on Sunday 24 February. See the map below.</p>

<p>For the latest information on how buses are running, see our <a href="http://tfl.gov.uk/bus/status/">bus status updates</a>. For news about the bus network, follow <a href="https://twitter.com/TfLBusAlerts">&#64;TfLBusAlerts</a>.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/baker-street-buses-map-from-24-feb.pdf">
    <div class="document-download-text">
        <p>Map - where to catch buses from 24 February</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 134KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 
</div>

</div>
 <div>

<h2>Walking</h2>

<h3>20:00 Thursday 21 &#45; Sunday 24 February 2019 (road closures)</h3>

<p>All footways will remain open. Stewards will be able to help.</p>

<h3>From Sunday 24 February 2019</h3>

<p>Look both ways when the two-way traffic system comes into place on Sunday 24 February.</p>

<p>See our map showing <a href="/cdn/static/cms/documents/walking-tube-map.pdf">walking times between stations</a> on the same Tube line.</p>

<hr />
<h2>Cycling</h2>

<p>During the road closures, you can still use adjacent local roads.</p>

<p>Cyclists travelling east to west can use</p>

<ul>
	<li>The London Cycle Network (LCN) Route 0, which brings cyclists east west along Seymour Street, Portman Square and Wigmore Street.</li>
	<li>The LCN Route 40, which feeds cyclists from Crawford Street.</li>
</ul>

<p>Cyclists travelling north to south can use:</p>

<ul>
	<li>Great Cumberland &#45; Bryanston Square &#45; Enford Street &#45; Harewood Avenue, which connects with Seymour and Crawford for connections east to west on the London Cycle Network</li>
	<li>James St &#45; Marylebone High Street, which connects with east to west routes at Wigmore and Crawford Street</li>
</ul>

<p>Find&nbsp;information on <a href="/modes/cycling/index">cycling and nearby cycle routes</a>.</p>

<hr />
<h2>Coaches</h2>

<h3>20:00 Thursday 21 &#45; Sunday 24 February 2019 (road closures)</h3>

<p>Coaches will be diverted via St John's Wood Road and Edgware Road during the road closures.</p>

<h4>Alternative set down and pick up points will be as follows:</h4>

<p>Northbound coaches towards Luton and Stansted Airports, Hemel Hempstead, Leighton Buzzard will serve:</p>

<ul>
	<li>Marble Arch (except Airport Bus Express)</li>
	<li>Finchley Road, Underground Station, coach stop CL</li>
</ul>

<p>National Express services towards Northampton and the Midlands will not serve Marble Arch, Baker Street or Finchley Road until Monday 25 February. Passengers should use Victoria Coach Station.</p>

<p>Until 15:00 Sunday 24 February, Coach route X90 towards Oxford will serve:</p>

<ul>
	<li>Marble Arch, Speaker's Corner coach stop 14</li>
	<li>Edgware Road Underground Station, Chapel Street bus stop ET</li>
</ul>

<p>After the switch, the coach routes will remain as they currently are now.</p>
</div>
 
<div>





<div class="multi-document-download-container">
    
</div>
<h2>About the scheme</h2>
<p>The aim of this project is to reduce the dominance of traffic along Baker Street and Gloucester Place which divides up the area, creating access and safety problems. For more information, please visit the <a href="http://www.bakerstreettwoway.co.uk/">project webpage</a>.<br />
</p>
</div>
 <div>

<h2>Related works</h2>

<p>Find out <a href="/status-updates/major-works-and-events/travel-advice-for-road-users">all major roadworks in London</a>, or specific travel advice for current projects in London:</p>

<ul>
	<li>Chelsea Embankment</li>
	<li><a href="/status-updates/major-works-and-events/road-changes-at-victoria-embankment">Victoria Embankment</a></li>
</ul>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
                <a href="/status-updates/major-works-and-events" class="heading">
                    <h2 id="sub-menu-heading">Major works & events<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/august-bank-holiday-and-notting-hill-carnival">August Bank Holiday & Notting Hill Carnival</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/status-updates/major-works-and-events/baker-street-roadworks">Baker Street roadworks</a></div>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/status-updates/major-works-and-events/christmas-travel">Christmas travel</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/cycle-superhighway-11">Cycle Superhighway 11</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/easter-travel-2018">Easter travel 2018</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/easter-travel-2019">Easter travel 2019</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/hammersmith-bridge-closure">Hammersmith Bridge closure</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/highbury-corner-roundabout">Highbury Corner roundabout</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/improvements-between-acton-and-wood-lane">Improvements between Acton and Wood Lane</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/may-bank-holidays-2019">Spring Bank Holiday 2019</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/old-street-roundabout">Old Street roundabout</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/status-updates/major-works-and-events/ride-london-2019">Prudential RideLondon 2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/status-updates/major-works-and-events/ridelondon">RideLondon</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/road-changes-at-victoria-embankment">Road changes at Victoria Embankment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/tour-of-britain-2018">Tour of Britain 2018</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/travel-advice-for-road-users">Travel advice for road users</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/victoria-embankment">Victoria Embankment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/west-end-project">West End Project</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/cycleway-4">Cycleway 4</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We're changing the road system around Baker Street. Find out travel advice here";}
        
            
        


 