
    
  


<!-- rhroot -->
@{ViewBag.Title = "Christmas travel";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/status-updates/major-works-and-events/christmas-travel";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

@{
    Response.Status = "302 Moved temporarily";
    Response.AddHeader("Location", "/status-updates/major-works-and-events/major-works-and-events");   
}

 
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/status-updates/index">Status updates</a></li>
                
            
                 <li><a href="/status-updates/major-works-and-events">Major works & events</a></li>
                
            
            
                <li><span class="last-breadcrumb">Christmas travel</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Christmas travel</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        As Christmas approaches, London becomes busier with shoppers and party-goers. Between Sunday 23 December 2018 and Tuesday 1 January 2019, most of our services will be running. There will be some service changes and planned work on parts of the public transport and road networks.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<h2>Travel changes and information</h2>

<p>Between Saturday 22 December 2018 and&nbsp;Tuesday 1&nbsp;January 2019, planned works and service changes may affect your journey.</p>

<p>Key service changes&nbsp;will include:</p>

<ul>
	<li>No services on Christmas Day except for <a href="/modes/cycling/santander-cycles">Santander Cycles</a>, <a href="/modes/dial-a-ride/index">Dial-a-Ride</a>&nbsp;(for registered members only), <a href="/modes/taxis-and-minicabs/index">Taxi and Private Hire</a>&nbsp;and <a href="/modes/coaches/index">coaches</a>&nbsp;which are available throughout the Christmas period</li>
	<li>No London Overground, TfL Rail or Thames Clippers services on Boxing Day</li>
	<li>Dial-a-Ride services&nbsp;will run throughout the Christmas season (for registered members), but are limited on certain days and are <a href="/cdn/static/cms/documents/in-touch-leaflet-2019-a4-1nov.pdf">subject to different booking dates</a></li>
	<li>Changes to frequency and timetable of&nbsp;most&nbsp;services during this period</li>
</ul>

<h2>Free travel</h2>

<p>There will be free&nbsp;travel on TfL services&nbsp;from 23:45 on New Year's Eve until 04.30 on New Year's Day (except on Thames Clippers and Emirates Air Line ).</p>

<h2>Information</h2>

<p>Check before you travel and plan ahead using our&nbsp;travel tools.&nbsp;See:</p>

<ul>
	<li>The latest <a href="http://tfl.gov.uk/traffic/status/?Input=&amp;lineIds=&amp;dateTypeSelect=Future%20date&amp;direction=&amp;startDate=2018-12-14T00%3A00%3A00&amp;endDate=2018-12-14T23%3A59%3A59&amp;disruptionIds=TIMS-202397&amp;intcmp=56354">status updates</a>&nbsp;for Tube, rail, DLR and Trams</li>
	<li><a href="http://tfl.gov.uk/traffic/status/">Status updates</a> for roads</li>
	<li><a href="https://tfl.gov.uk/plan-a-journey/">Plan a journey</a>, which can help you plan your route by public transport, cycling or walking</li>
	<li><a href="https://tfl.gov.uk/maps?Input=Current+location+">Nearby</a>, which&nbsp;uses your current location or a postcode or address of your choice and places you on a map, showing you Tube, bus, river, London Overground, DLR, TfL Rail and Santander Cycles locations around you</li>
	<li><a href="http://twitter.com/tfltrafficnews">&#64;TfLTrafficNews</a> as well as the <a href="http://m.me/tfltravelbot">TfL Travelbot</a> on Facebook Messenger</li>
	<li>Our <a href="https://tfl.gov.uk/travel-information/social-media-and-email-updates/email-updates">email updates</a></li>
</ul>
</div>
 <div>

<h2>Daily travel advice</h2>

<p>Find out more about travelling on the following days:</p>

<ul>
	<li><a href="/status-updates/major-works-and-events/sunday-23-december-2018">Sunday 23 December</a></li>
	<li><a href="/status-updates/major-works-and-events/christmas-eve-2018">Christmas Eve</a></li>
	<li><a href="/status-updates/major-works-and-events/christmas-day-2018">Christmas Day</a></li>
	<li><a href="/status-updates/major-works-and-events/boxing-day-2018">Boxing Day</a></li>
	<li><a href="/status-updates/major-works-and-events/thursday-27-december-2018">Thursday 27 December</a></li>
	<li><a href="/status-updates/major-works-and-events/friday-28-december-2018">Friday 28 December</a></li>
	<li><a href="/status-updates/major-works-and-events/saturday-29-december-2018">Saturday 29 December</a></li>
	<li><a href="/status-updates/major-works-and-events/sunday-30-december-2018">Sunday 30 December</a></li>
	<li><a href="/status-updates/major-works-and-events/new-year-s-eve-2018">New Year's Eve</a></li>
	<li><a href="/status-updates/major-works-and-events/new-year-s-day-2019">New Year's Day</a></li>
	<li><a href="/status-updates/major-works-and-events/wednesday-2-january-2019">Wednesday 2 January</a></li>
</ul>

<h2>Updates</h2>

<p>All information is subject to change. We'll be updating this page regularly with more detail of what's running over Christmas and New Year.</p>

<p><strong>Last updated:&nbsp;Friday 21&nbsp;December 2018</strong></p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
                <a href="/status-updates/major-works-and-events" class="heading">
                    <h2 id="sub-menu-heading">Major works & events<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/august-bank-holiday-and-notting-hill-carnival">August Bank Holiday & Notting Hill Carnival</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/baker-street-roadworks">Baker Street roadworks</a></div></li>
                            
 
                <a href="/status-updates/major-works-and-events/christmas-travel" class="heading">
                    <h2 id="sub-menu-heading">Christmas travel<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/sunday-23-december-2018">Sunday 23 December 2018</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/christmas-eve-2018">Christmas Eve 2018</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/christmas-day-2018">Christmas Day 2018</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/boxing-day-2018">Boxing Day 2018</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/thursday-27-december-2018">Thursday 27 December 2018</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/friday-28-december-2018">Friday 28 December 2018</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/saturday-29-december-2018">Saturday 29 December 2018</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/sunday-30-december-2018">Sunday 30 December 2018</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/new-year-s-eve-2018">New Year's Eve 2018</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/new-year-s-day-2019">New Year's Day 2019</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/wednesday-2-january-2019">Wednesday 2 January 2019</a></div></li>
                            
 
                </ul>
            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/cycle-superhighway-11">Cycle Superhighway 11</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/easter-travel-2018">Easter travel 2018</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/easter-travel-2019">Easter travel 2019</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/hammersmith-bridge-closure">Hammersmith Bridge closure</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/highbury-corner-roundabout">Highbury Corner roundabout</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/improvements-between-acton-and-wood-lane">Improvements between Acton and Wood Lane</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/may-bank-holidays-2019">Spring Bank Holiday 2019</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/old-street-roundabout">Old Street roundabout</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/ride-london-2019">Prudential RideLondon 2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/status-updates/major-works-and-events/ridelondon">RideLondon</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/road-changes-at-victoria-embankment">Road changes at Victoria Embankment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/tour-of-britain-2018">Tour of Britain 2018</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/travel-advice-for-road-users">Travel advice for road users</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/victoria-embankment">Victoria Embankment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/west-end-project">West End Project</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Travel over Christmas and New Year's 2017/2018 in London may be affected by planned works, events and service changes";}
        
            
        


 