
    
  



@{ViewBag.Title = "Easter travel 2018";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/status-updates/major-works-and-events/easter-travel-2018";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

@{
    Response.Status = "301 Moved permanently";
    Response.AddHeader("Location", "/status-updates/major-works-and-events");   
}

 
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/status-updates/index">Status updates</a></li>
                
            
                 <li><a href="/status-updates/major-works-and-events">Major works & events</a></li>
                
            
            
                <li><span class="last-breadcrumb">Easter travel 2018</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Easter travel 2018</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Between Friday 30 March and Monday 2 April, the majority of the transport network is open. If you're travelling in London, make the most of your bank holiday weekend by checking the planned works and events that may affect your journey. You can find travel advice for the Easter weekend here.
        
      </div>
    
    <div class="on-this-page">
      <p><strong>Page last updated: 2 April 2018, 18:45</strong></p>
<p><strong>Essential works on the Northern line may take longer than expected. It is possible that very early Northern line services may be disrupted on Tuesday 3 April.</strong></p>
<p>Check <a href="/status-updates/index">Status updates</a> before you travel on Tuesday morning or follow us on Twitter &#64;northernline for the latest travel information.</p>
<p>If you're travelling in London over the Easter Bank Holiday, closures include:</p>
<ul>
    <li><strong>TfL Rail:</strong> No service on the entire line from Friday until Monday</li>
    <li><strong>London Overground:</strong> No service between
    <ul>
        <li>Romford and Upminster from Friday until Monday</li>
        <li>Liverpool Street and Enfield Town/Cheshunt/Walthamstow Central from Saturday until Monday (closure extends to Chingford on Sunday only until 10:15)</li>
        <li>New Cross Gate and Crystal Palace/West Croydon on Saturday and Sunday</li>
    </ul>
    </li>
    <li><strong>Northern line:</strong> No service between Charing Cross/Moorgate and Golders Green/East Finchley from Friday until Monday</li>
    <li><strong>Circle and Hammersmith &amp; City lines:</strong> No service between Edgware Road and Hammersmith on Saturday and Sunday</li>
    <li><strong>District line:</strong> No service between Edgware Road and High Street Kensington on Saturday and Sunday</li>
    <li><strong>London Trams:</strong> No service between Sandilands and Reeves Corner from Friday until Wednesday 4 April (closure changes to Sandilands to East Croydon from Thursday 5 April until Sunday 8 April).</li>
    <li><strong>National Rail:</strong> Planned works will affect services, including to and from Heathrow, Euston, Liverpool Street, London Bridge, Moorgate, Paddington and Waterloo</li>
</ul>
<p>Other travel changes include:</p>
<ul>
    <li><strong>Driving: </strong>No Congestion Charge or T-Charge from Friday to Monday</li>
    <li><strong>Buses:</strong> Amended timetable for Friday and Monday</li>
    <li><strong>DLR: </strong>A Saturday service will run on Friday, Saturday and Monday</li>
</ul>
<p>Thursday 29 March is also expected to be busy in and around London.</p>
<ul>
</ul>
      
           
      
<div>



<h2>Easter closures map</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap landscape-download-image with-image pdfpdf" href="/cdn/static/cms/documents/easter-closure-map-2018.pdf">
    <div class="document-download-text">
        <p>TfL Rail, London Overground, Tube and tram closures</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 238KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/easter-closure-map-2018-sm2.jpg" alt="Easter travel map" />
    </div>

</a>

<!-- 0.23 -->
 
</div>
<h2>TfL Rail</h2>
<p>There's no service on the entire line from Friday 30 March until Monday 2 April while Network Rail carries out track and station improvements including Crossrail construction work.<br />
<br />
Please use the Central line between Liverpool Street and Stratford. Rail replacement buses will also run between:</p>
<ul>
    <li>Stratford City and Romford calling at Forest Gate, Manor Park, Ilford, Seven Kings, Goodmayes and Chadwell Heath (approx. every 10 minutes)</li>
    <li>Newbury Park (for the Central line) and Shenfield calling at Chadwell Heath, Romford, Gidea Park, Harold Wood and Brentwood (approx. every 15 minutes)</li>
</ul>
<p>For live information on TfL Rail, see our <a href="/status-updates/index">status updates</a> page or <a href="https://twitter.com/tflrail">follow &#64;TfLRail on Twitter</a>.</p>
<hr />
<h2>London Overground</h2>
<ul>
    <li>No service between Romford and Upminster from Friday 30 March until Monday 2 April due to Crossrail construction work and Network Rail infrastructure work. Please use local bus routes:
    <ul>
        <li> 165 Romford - Emerson Park (approx. every 10-20 mins)</li>
        <li> 248 Romford - Upminster (approx. every 7-20 mins)</li>
        <li> 370 Romford - Emerson Park - Upminster (approx. every 15-30 mins)</li>
    </ul>
    </li>
    <li>No service between Liverpool Street and Enfield Town/Cheshunt/Walthamstow Central from Saturday 31 March to Monday 2 April (extends to Chingford on Sunday 1 April until approximately 10:15). This is due to Network Rail track and infrastructure work and station improvement works at White Hart Lane
    <ul>
        <li>Please use alternative Tube or local bus routes. Rail replacement buses will also run approximately every 15-30 minutes to each destination:
        <ul>
            <li><strong>Service L1:</strong> Seven Sisters to Enfield Town calling at Bruce Grove, White Hart Lane, Silver Street, Edmonton Green and Bush Hill Park</li>
            <li><strong>Service L2:</strong> Seven Sister to Cheshunt calling at Bruce Grove, White Hart Lane, Silver Street, Edmonton Green, Bush Hill Park, Southbury, Turkey Street and Theobalds Grove</li>
            <li><strong>Service L3:</strong> Hackney Downs to Walthamstow Central calling at Clapton and St James Street (continues to Wood Street, Highams Park and Chingford on Sunday until approximately 10:15)</li>
        </ul>
        </li>
    </ul>
    </li>
    <li>No service between New Cross Gate and Crystal Palace/West Croydon on Saturday 31 March and Sunday 1 April due to Network Rail track and infrastructure work
    <ul>
        <li>Rail replacement buses will run approximately every 10 minutes:
        <ul>
            <li>New Cross Gate to West Croydon calling at Brockley, Honor Oak Park, Forest Hill, Sydenham, Crystal Palace, Anerley (walk to/from Penge West), Norwood Junction and Selhurst</li>
        </ul>
        </li>
    </ul>
    </li>
</ul>
<h3>Service changes</h3>
<p>Routes affected by closures:</p>
<ul>
    <li>An amended Saturday service will run on Friday, Saturday and Monday. An amended Sunday service will run on Sunday</li>
</ul>
<p>Routes without closures:</p>
<ul>
    <li>An amended Saturday service will run on Friday and Monday</li>
    <li>A Saturday service will run on Saturday </li>
    <li>A Sunday service will run on Sunday</li>
</ul>
<p>For live information on London Overground, see our <a href="/status-updates/index">status updates</a> page or <a href="https://twitter.com/ldnoverground">follow &#64;LDNOverground on Twitter</a>.</p>
<hr />
<h2>Tube</h2>
<h3>Circle line and Hammersmith &amp; City lines: Saturday 31 March and Sunday 1 April</h3>
<ul>
    <li>There's no service between Edgware Road and Hammersmith on the Circle line and Hammersmith &amp; City lines while we test new signalling. Please use alternative Tube and local bus routes.</li>
</ul>
<h3>District line: Saturday 31 March and Sunday 1 April</h3>
<ul>
    <li>There's no service between Edgware Road and High Street Kensington while we test new signalling. Please use alternative Tube and local bus routes.</li>
</ul>
<h3>Northern line: Friday 30 March - Monday 2 April</h3>
<ul>
    <li>There's no service between Charing Cross/Moorgate and Golders Green/East Finchley while we carry out points works at Camden Town. Please use alternative Tube, bus or rail replacement bus services.</li>
</ul>
<p>Rail replacement buses will run between:
</p>
<ul>
    <li>Euston and Finchley Road (for the Jubilee line) calling at Mornington Crescent, Camden Town, Chalk Farm, Belsize Park, Hampstead and Golders Green (approx. every 4 minutes)</li>
    <li>King's Cross St Pancras and Finchley Central calling at Camden Town, Kentish Town, Tufnell Park, Archway, Highgate and East Finchley (approx. every 8 minutes)</li>
</ul>
<p>Also, on Tuesday 3 and Wednesday 4 April, all southbound Northern line trains from Edgware will be via Charing Cross and all trains from High Barnet and Mill Hill East will be via Bank. </p>
<p>For up-to-date information on Tube services <a href="https://twitter.com/TfLTravelAlerts">follow &#64;TfLTravelAlerts </a>or visit TfL's<a href="/travel-information/social-media-and-email-updates/index"> individual Tube line accounts </a>for real-time information.</p>
<hr />
<h2>London Trams</h2>
<p>There's no service between Sandilands and Reeves Corner from Friday 30 March to Wednesday 4 April while we carry out track renewal work.</p>
<p> Please use local bus routes or the express rail replacement buses which will run approximately every 8-10 minutes between Sandilands and Waddon Marsh calling at Vicarage Road (for Wandle Park)</p>
<p>From Thursday 5 until Sunday 8 April, there is no service between Sandilands and East Croydon. Please use local bus routes.</p>
<p>For the latest information on how trams are running, visit our <a href="https://tfl.gov.uk/tube-dlr-overground/status/">status updates page </a>or <a href="http://www.twitter.com/tramslondon">follow &#64;TramsLondon </a>on Twitter.</p>
<hr />
<p> </p>
</div>
 <div>

<h2>Driving</h2>

<ul>
	<li>There will be no Congestion Charge or T-Charge from Friday 30 March until&nbsp;Monday 2 April.</li>
	<li>Planned works mean there will be traffic diversions in central London. Please allow extra time.</li>
</ul>

<h3>Camden High Street closure</h3>

<ul>
	<li>Camden High Street will be closed between the junctions of the A400, Kentish Town Road and Inverness Street, while maintenance works are carried out at Camden Town Station.<br />
	This closure will take place from Thursday 29 March at 22:00 to Tuesday 3 April at 06:00. A signed diversion route will be in place. However some delays are expected so please allow more time for your journey.<br />
	Parking suspensions will be enforced at various locations from 17:30 Thursday 29 March through to 06:00 Tuesday 3 April.</li>
</ul>

<h3>Baker Street&nbsp;two-way</h3>

<ul>
	<li>Works are taking place to <a href="/travel-information/improvements-and-projects/baker-street">convert Baker Street and Gloucester Place to two-way traffic</a>. One lane in each direction will be closed along Marylebone Road (between the junctions with Balcombe Street and Baker Street) until May 2018.</li>
</ul>

<h3>West End project</h3>

<ul>
	<li>Works are set to begin to convert Tottenham Court Road and Gower Street to two-way traffic. <a href="/status-updates/index">Status updates here</a>.</li>
</ul>

<h3>Wigmore Street</h3>

<ul>
	<li>Work to improve Wigmore Street for pedestrians and cyclists is underway. Six junctions will be improved with upgraded pedestrian crossings, advanced stop lines for cyclists and where possible widened footways.</li>
</ul>

<p>For the latest information on traffic conditions, see our <a href="https://tfl.gov.uk/traffic/status/">traffic status updates page</a> or <a href="https://twitter.com/tfltrafficnews">follow &#64;TfLTrafficNews on Twitter</a>.</p>

<hr />
<h2>Buses</h2>

<p>On Friday 30 March and Monday 2 April, buses will run to a different timetable.</p>

<ul>
	<li>Friday &#45; Saturday service</li>
	<li>Saturday &#45; normal (Saturday) service</li>
	<li>Sunday &#45; normal (Sunday) service</li>
	<li>Monday &#45; Sunday service</li>
</ul>

<p>For the latest information on how buses are running, see our <a href="https://tfl.gov.uk/bus/status/">bus status updates</a> or follow <a href="https://twitter.com/TfLBusAlerts">&#64;TfLBusAlerts on Twitter</a>.</p>

<hr />
<h2>DLR</h2>

<ul>
	<li>A Saturday service will run on Friday, Saturday and Monday</li>
	<li>On Sunday, a normal Sunday service will run</li>
</ul>

<p>For live information on DLR, see our <a href="/status-updates/index">status updates</a> page or <a href="https://twitter.com/londonDLR">follow &#64;LondonDLR on Twitter</a>.</p>

<hr />
<h2>Cycling</h2>

<p>Santander Cycles will be available throughout the Easter Bank Holiday.</p>

<p>The following docking stations will be out of service for works:</p>

<ul>
	<li>Smugglers Way</li>
	<li>Flood Street</li>
	<li>Drummond Street</li>
	<li>Foley Street, Fitzrovia</li>
	<li>Bourne Street, Belgravia</li>
	<li>Clifford Street, Mayfair</li>
	<li>Portugal Street, Holborn</li>
	<li>Moor Street, Soho</li>
	<li>Westfield Eastern Access Road, Shepherd's Bush (long-term)</li>
	<li>Rodney Street, Angel (long-term)</li>
	<li>South Quay West, Canary Wharf (long-term)</li>
</ul>

<p>Check availability of Santander Cycles using the <a href="/modes/cycling/santander-cycles/find-a-docking-station">online docking station map</a>, or download Santander Cycles from the <a href="https://itunes.apple.com/gb/app/santander-cycles/id974792287?mt=8">App Store</a> or <a href="https://play.google.com/store/apps/details?id=uk.gov.tfl.cyclehire&amp;hl=en_GB">Google Play</a>. Follow <a href="http://www.twitter.com/santandercycles">&#64;SantanderCycles on Twitter </a>for the latest updates.</p>

<hr />
<h2>Coaches</h2>

<p>Services are expected to be very busy, so advance booking is strongly recommended. Please check the timetable of your service with your service operator. Get the <a href="/modes/coaches/coach-companies">full list of coach operators</a>.</p>

<hr />
<h2>Dial-a-Ride</h2>

<ul>
	<li>Regular bookings will not run on Good Friday and Easter Monday but if you still wish to travel, please make a one-off booking</li>
</ul>

<p>Full details of Easter booking arrangements are available on the<a href="/modes/dial-a-ride/index"> Dial-a-Ride page</a>.</p>

<hr />
<h2>Taxis &amp; private hire vehicles</h2>

<ul>
	<li>Taxi (black cabs) and private hire services, including minicabs, will be running throughout Easter. Find out more about taxi&nbsp;<a href="/modes/taxis-and-minicabs/taxi-fares">fares</a>.</li>
	<li><a href="/modes/taxis-and-minicabs/book-a-taxi">Find booking information, i</a>ncluding phone numbers and email addresses,&nbsp;for minicab and other private hire operators in London</li>
</ul>

<p>For up-to-date information, visit our <a href="/modes/taxis-and-minicabs/index">taxis and minicabs section</a> or <a href="https://twitter.com/TfLTPH">follow &#64;TfLTPH on Twitter</a>.</p>

<p>Please be aware that planned works and closures on the roads may affect your journey. Visit our<a href="http://tfl.gov.uk/traffic/status/"> live traffic status tool </a>for more information.</p>

<hr />
<h2>Rivers</h2>

<p>The Woolwich Ferry will run a Sunday service on Friday and Monday, and a normal service on Saturday and Sunday.<br />
Thames Clippers will run a weekend service on Friday and Monday, and a normal service on Saturday and Sunday.<br />
<a href="/modes/river/index">Check&nbsp;our river section</a>&nbsp;for more information</p>

<hr />
<h2>Emirates Air Line</h2>

<ul>
	<li>On Friday and Saturday, services will run between 08:00 and 23:00</li>
	<li>On Sunday and Monday, services will run between 09:00 and 22:00</li>
</ul>

<p>Find out more in our <a href="/modes/emirates-air-line/index">Emirates Air Line section</a> or <a href="http://www.twitter.com/emiratesairldn">follow &#64;EmiratesAirLDN </a>on Twitter.</p>

<hr />
<p>&nbsp;</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
                <a href="/status-updates/major-works-and-events" class="heading">
                    <h2 id="sub-menu-heading">Major works & events<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/august-bank-holiday-and-notting-hill-carnival">August Bank Holiday & Notting Hill Carnival</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/baker-street-roadworks">Baker Street roadworks</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/status-updates/major-works-and-events/christmas-travel">Christmas travel</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/cycle-superhighway-11">Cycle Superhighway 11</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/status-updates/major-works-and-events/easter-travel-2018">Easter travel 2018</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/easter-travel-2019">Easter travel 2019</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/hammersmith-bridge-closure">Hammersmith Bridge closure</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/highbury-corner-roundabout">Highbury Corner roundabout</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/improvements-between-acton-and-wood-lane">Improvements between Acton and Wood Lane</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/may-bank-holidays-2019">Spring Bank Holiday 2019</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/old-street-roundabout">Old Street roundabout</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/ride-london-2019">Prudential RideLondon 2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/status-updates/major-works-and-events/ridelondon">RideLondon</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/road-changes-at-victoria-embankment">Road changes at Victoria Embankment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/tour-of-britain-2018">Tour of Britain 2018</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/travel-advice-for-road-users">Travel advice for road users</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/victoria-embankment">Victoria Embankment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/west-end-project">West End Project</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "London is open over Easter. If you’re travelling in London between Friday 30 March and Monday 2 April 2018, planned work and events may affect your journey. ";}
        
            
        


 