
    
  



@{ViewBag.Title = "Hammersmith Bridge closure";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/status-updates/major-works-and-events/hammersmith-bridge-closure";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/status-updates/index">Status updates</a></li>
                
            
                 <li><a href="/status-updates/major-works-and-events">Major works & events</a></li>
                
            
            
                <li><span class="last-breadcrumb">Hammersmith Bridge closure</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Hammersmith Bridge closure</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Hammersmith Bridge is closed to motor traffic for safety reasons.
        
      </div>
    
    <div class="on-this-page">
      <h2>Bridge closure</h2>

<p>Hammersmith Bridge is closed to motor&nbsp;traffic&nbsp;until major safety-critical strengthening work is completed. There are diversions for motorists via Chiswick Bridge and Putney Bridge.</p>

<p>The bridge can still be used for walking and cycling.</p>

<p>The closure will last until major refurbishment works to the 132-year-old bridge are complete. We are working with&nbsp;<a href="https://www.lbhf.gov.uk/hot-topics/hammersmith-bridge-repairs">Hammersmith and Fulham</a>&nbsp;Council to confirm the final plan for this work as soon as possible.</p>

<h2>Use our travel tools</h2>

<p>Check before you travel and plan ahead using our travel tools. Keep up-to-date with the latest service information.</p>

<ul>
	<li>TfL Twitter accounts, including <a href="https://twitter.com/TfLTravelAlerts">&#64;TfLBusAlerts</a> and <a href="http://twitter.com/tfltrafficnews">&#64;TfLTrafficNews</a> as well as the <a href="http://m.me/tfltravelbot">TfL Travelbot</a> on Facebook Messenger</li>
	<li><a href="https://tfl.gov.uk/plan-a-journey/">Plan a journey</a>, which can help you plan your route by public transport, cycling or walking</li>
	<li>The latest status updates for&nbsp;<a href="https://tfl.gov.uk/traffic/status/?dateTypeSelect=Now&amp;Input=Hammersmith%20Bridge%20Road%2C%20London%2C%20UK&amp;disruptionIds=TIMS-213175">roads</a>&nbsp;in the area around Hammersmith Bridge</li>
	<li><a href="https://tfl.gov.uk/maps?Input=Current+location+">Nearby</a>, which&nbsp;uses your current location or a postcode or address of your choice and places you on a map, showing you Tube, bus, river, London Overground, DLR, TfL Rail and Santander Cycles locations around you</li>
	<li>Our <a href="https://tfl.gov.uk/travel-information/social-media-and-email-updates/email-updates">email updates</a></li>
</ul>

<h2>Buses</h2>

<h3>Bus changes from 18 May 2019</h3>

<p>We are making changes to the local bus network&nbsp;from 18 May 2019.</p>

<ul>
	<li>Routes 33, 72, 209, 419, and 485 will run shortened or altered routes</li>
	<li>A new route, route 533 will run between Barnes and Hammersmith via Chiswick Bridge</li>
	<li>We will run more buses on route 265 between Roehampton and Putney Bridge station</li>
</ul>

<p>The&nbsp;changes are designed to:</p>

<ul>
	<li style="margin:0cm 0cm 0.0001pt">provide or enhance direct links between Roehampton, Mortlake, Barnes and the Tube network at Putney Bridge</li>
	<li style="margin:0cm 0cm 0.0001pt">retain a direct link between Barnes, Mortlake and Hammersmith, where there is step-free access to the Tube</li>
	<li style="margin:0cm 0cm 0.0001pt">reinstate route 72 to its full length north of the river so it again runs between Hammersmith and East Acton</li>
</ul>

<p>You can see details of these changes and provide feedback <a href="https://consultations.tfl.gov.uk/buses/hammersmith-bridge">on our consultations page</a>.</p>

<p>These changes replace the current temporary changes to six routes that were introduced in April.</p>

<h3>Bus alternatives</h3>

<p>Route 265 connects with Putney Bridge station for the District line. Route 220 connects Putney Bridge with Hammersmith.</p>

<p>Route 337 connects with East Putney station for the District line.</p>

<p>Bus routes which normally run across Chiswick Bridge and Putney Bridge continue to do so.</p>

<p>It&nbsp;takes approximately&nbsp;15-20 minutes to walk between the bus stops in Castelnau or Lonsdale Road on the&nbsp;southern side&nbsp;of the river&nbsp;and Hammersmith bus station&nbsp;across Hammersmith Bridge.</p>

<p>Follow <a href="https://twitter.com/TfLBusAlerts">&#64;TfLBusAlerts</a> for news and service information.</p>

<h2>Walking and cycling</h2>

<p>The bridge will remain open to pedestrians and cyclists.</p>

<h2>Drivers and deliveries</h2>

<p>There are diversions via Chiswick Bridge and Putney Bridge. Delays on the diversion routes and other roads in the area are expected.</p>

<p>Find an alternative route and river crossing where possible.</p>

<p>For the latest information on how London roads are operating, see our <a href="https://tfl.gov.uk/traffic/status">traffic status updates map.</a></p>

<p>For news about traffic in London, follow <a href="https://twitter.com/TfLTrafficNews">&#64;TfLTrafficNews</a> on Twitter.</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Hammersmith Bridge closure";}
        
            
        


 