
    
  



@{ViewBag.Title = "Spring Bank Holiday 2019";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/status-updates/major-works-and-events/may-bank-holidays-2019";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/status-updates/index">Status updates</a></li>
                
            
                 <li><a href="/status-updates/major-works-and-events">Major works & events</a></li>
                
            
            
                <li><span class="last-breadcrumb">Spring Bank Holiday 2019</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Spring Bank Holiday 2019</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Over the Spring Bank Holiday weekend most of our services will be open. There will be some changes and planned work on some parts of the public transport and road networks.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<p>Google Translate is available at the bottom of this page.</p>

<h2>Tube</h2>

<p>A Saturday service will run on Bank Holiday Monday.</p>

<p>There will be changes to District and Piccadilly line services, including travel to and from Heathrow Airport&nbsp; between Saturday 25 and Bank Holiday Monday 27 May while we renew track and drainage:</p>

<ul>
	<li>No Piccadilly line trains between Hammersmith and Heathrow /&nbsp;Uxbridge from around midnight on Friday night /&nbsp;Saturday morning&nbsp;and&nbsp;all day Sunday and Bank Holiday Monday. A reduced service will run with trains about every 4 minutes on the rest of the line. Some trains will terminate at Green Park.</li>
	<li>No District line trains between Turnham Green and Ealing Broadway all day Saturday, Sunday and Bank Holiday Monday</li>
	<li>District line trains will call at Kensington (Olympia)
	<ul>
		<li>Hammersmith and Earl's Court may be busy - change between the District and Piccadilly lines at Baron's Court as Gunnersbury station is likely to be very busy</li>
	</ul>
	</li>
</ul>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/district-piccadilly-closure-map-25-27may.pdf">
    <div class="document-download-text">
        <p>Tube map showing closures and alternative transport options</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 291KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.28 -->
 
</div>

</div>
 <div>

<h3>Local journeys on the District and Piccadilly lines</h3>

<ul>
	<li>For stations between Acton Town and Heathrow: Use the Central line via Ealing Broadway or the District line via Gunnersbury and follow purple signs for replacement&nbsp;bus A</li>
	<li>Replacement bus A runs every 7-10 minutes between Gunnersbury and Heathrow Central bus station calling at: Gunnersbury - Acton Town - Ealing Common - Ealing Broadway (for the Central line) - South Ealing - Northfields - Boston Manor - Osterley - Hounslow East* - Hounslow Central (stop at Bell Corner) - Hounslow West* - Hatton Cross - Heathrow Central bus station (for Terminals 2 &amp; 3)</li>
	<li>For Terminals 4 or 5, go to Terminals 2/3 and use free inter-terminal transfer services</li>
	<li>Bus A runs throughout the night and extends to Hammersmith and Heathrow Terminal 5 during Friday and Saturday Night Tube.</li>
	<li>For stations between Acton Town and Rayners Lane: Use the Central line via Hanger Lane, the District line via Gunnersbury or the Metropolitan line via Rayners Lane and follow blue signs for replacement&nbsp;bus E, which runs every 7-10 minutes</li>
	<li>replacement bus E calls at:&nbsp;<span style="line-height:115%"><span lang="EN"><span style="line-height:115%">Gunnersbury - Acton Town - Ealing Common - North Ealing - Hanger Lane (for the Central line and nearby Park Royal) - Alperton - Sudbury Town* - Sudbury Hill - South Harrow - Rayners Lane (for the Metropolitan line). </span></span></span></li>
	<li>
	<p>For stations between Rayners Lane and Uxbridge: use the Metropolitan line. For Chiswick Park: use local buses to or from Turnham Green or Gunnersbury</p>
	</li>
</ul>

<h4>Step-free journeys to or from Acton Town, Hounslow East, Hounslow West or Sudbury Town</h4>

<p>Gunnersbury station is not step-free. Speak to a member of staff before travelling.</p>

<p>Alternatively:</p>

<ul>
	<li>Acton Town &#45; use nearby Acton Central station for step-free access to London Overground services. Or use local bus 266 to Hammersmith for step-free access to the Circle, District, Hammersmith &amp; City or Piccadilly lines.</li>
	<li>Hounslow East &#45; use replacement bus A to Heathrow Central Bus station for step-free access to TfL Rail services. Or use local bus H37 to Richmond for step-free access to the District line and London Overground services.</li>
	<li>Hounslow West - use replacement bus A to Heathrow Central Bus station for step-free access to TfL Rail services. Or use local bus H91 to Hammersmith for step-free access to the Circle, District, Hammersmith &amp; City or Piccadilly lines.</li>
	<li>Sudbury Town &#45; use local bus H17 to Wembley Central for step-free access to the Bakerloo line and National Rail services. Or use local bus 92 to Greenford for step-free access to the Central line and National Rail services.<br />
	&nbsp;</li>
</ul>

<h2>Travelling to or from Heathrow Airport</h2>

<p>Allow extra time for your journey, especially&nbsp;if you are flying out of Heathrow Airport.</p>

<h3>Taking luggage or buggies to the airport</h3>

<ul>
	<li>Take the District, Piccadilly, Circle or Hammersmith &amp; City lines to Hammersmith</li>
	<li>Non-stop coaches are running between Hammersmith&nbsp;and Heathrow Airport via the motorway&nbsp;every 3-8 minutes. There are porters and lifts at Hammersmith and Heathrow and extra space for luggage and buggies:
	<ul>
		<li>Between Terminal 5 and Hammersmith: follow green signs for coach B</li>
		<li>Between Terminal 2/3 and Hammersmith: follow orange signs for coach C</li>
		<li>During Night Tube, follow purple signs for all-stations bus A (which is wheelchair accessible)</li>
	</ul>
	</li>
	<li>For Terminal 4: go to Terminals 2/3 and use the free train or bus transfer services</li>
	<li>Coaches are not wheelchair-accessible</li>
</ul>
</div>
 <div class="clearfix">
    <div class="image-box light-box">
    
        
        
        <a href="/cdn/static/cms/images/heathrow-infographics-03-2b.jpg" class="modal-launch" target="_blank">
        <img src="/cdn/static/cms/images/heathrow-infographics-03-2b-small.jpg" alt="Heathrow infographic" />
        
        </a>
        
        
    </div>   
 </div>
 <div class="clearfix">
    <div class="image-box light-box">
    
        
        
        <a href="/cdn/static/cms/images/heathrow-infographics-03-1b-fullsize.jpg" class="modal-launch" target="_blank">
        <img src="/cdn/static/cms/images/heathrow-infographics-03-1b-small.jpg" alt="Heathrow infographic" />
        
        </a>
        
        
    </div>   
 </div>
 <div>

<h3>Accessible routes to the airport</h3>

<ul>
	<li>Take the&nbsp;Hammersmith &amp; City line to Paddington</li>
	<li>TfL Rail runs every 30 minutes to and from Terminals 2, 3 &amp; 4.</li>
	<li>Speak to a member of staff for ramp access to TfL Rail trains</li>
	<li>For Terminal 5, go to Terminals 2/3 or 4 and use the free train or bus transfer services
	<ul>
		<li>Alternatively, use South Western Railway services between Waterloo and Feltham, for local bus 285 to Heathrow Central Bus station</li>
	</ul>
	</li>
	<li>Only during Night Tube
	<ul>
		<li>Take the Piccadilly or District lines to Hammersmith</li>
		<li>Follow purple signs for extended all-stations replacement bus A to Terminals 2, 3 and 5 (which is wheelchair accessible)</li>
		<li>For Terminal 4, go to Terminals 2/3 or 5 and use the free train or bus transfer services</li>
	</ul>
	</li>
</ul>

<h3>Paying for your travel</h3>

<ul>
	<li>Pay as you go with Oyster or contactless, or buy a paper Tube ticket</li>
	<li>Paper Tube tickets will be accepted on other services including TfL Rail betweeb Paddington and Heathrow and on South Western Railway trains between Waterloo and Feltham (via Hounslow)</li>
	<li>Paper Tube tickets will not be accepted on Heathrow Express trains between Paddington and Heathrow</li>
</ul>

<h2>Buses</h2>

<p>Sunday service running on Bank Holiday Monday&nbsp;27 May.</p>

<p>For the latest information on how buses are running, see our <a href="https://tfl.gov.uk/bus/status">bus status updates</a>.</p>

<p>Follow <a href="https://twitter.com/TfLBusAlerts">&#64;TfLBusAlerts</a> for news and service information.</p>

<h2>DLR</h2>

<p>We are running a Saturday service on Bank Holiday Monday (27 May)</p>

<p>See how the DLR is running on our <a href="https://tfl.gov.uk/tube-dlr-overground/status/">status updates</a> page.</p>

<p>Follow <a href="https://twitter.com/LondonDLR"> &#64;LondonDLR</a> for news and service information.</p>

<h2>London Overground</h2>

<h3 style="margin-bottom:10pt; margin-left:0cm; margin-right:0cm; margin-top:0cm">All weekend</h3>

<p>Gunnersbury station is likely to be very busy due to the Piccadilly and District line closures.</p>

<h3>Saturday&nbsp;25 May</h3>

<p>Euston to Watford Junction - Saturday service</p>

<h3>Sunday&nbsp;26 May</h3>

<p>No service between Clapham Junction and Willesden Junction. Use local buses via any reasonable route</p>

<p>&nbsp;Euston to&nbsp;Watford Junction -&nbsp;Sunday service</p>

<h3>Bank Holiday Monday 27 May</h3>

<ul>
	<li>An amended weekday service will run between&nbsp;Highbury &amp; Islington&nbsp;and New Cross, Clapham Junction, Crystal Palace and West Croydon</li>
	<li>An amended Saturday service will run:
	<ul>
		<li>between Gospel Oak&nbsp;and Barking</li>
		<li>between&nbsp;Euston and Watford Junction</li>
		<li>Between Liverpool Street and Enfield Town, Cheshunt (via Seven Sisters) and Chingford</li>
		<li>between Stratford&nbsp;and Richmond/Clapham Junction</li>
	</ul>
	</li>
	<li>A Saturday service will run between Romford&nbsp;and Upminster</li>
</ul>

<p>See how London Overground is running on our <a href="https://tfl.gov.uk/tube-dlr-overground/status/">status updates</a> page.</p>

<p>Follow <a href="http://twitter.com/LDNOverground">&#64;LDNOverground</a> on Twitter for news and service information.</p>

<h2>TfL Rail</h2>

<p>On Bank Holiday Monday&nbsp;27 May, we&nbsp;are running a Saturday service between Liverpool Street and Shenfield. Trains&nbsp;between Paddington and Heathrow are likely to be very busy because of the Piccadilly and District line closure.</p>

<p>See how&nbsp;TfL Rail&nbsp;is running on our <a href="https://tfl.gov.uk/tube-dlr-overground/status/">status updates</a> page.</p>

<p>Follow <a href="http://twitter.com/TfLRail">&#64;TfLRail</a> for news and service information.</p>

<h2>Trams</h2>

<p>On Sunday 26 May there is no service between Sandilands and Elmers End / Birkbeck until 09:00.</p>

<p>See how trams are running on our <a href="https://tfl.gov.uk/tube-dlr-overground/status/"> status updates</a> page.</p>

<p>Follow&nbsp;<a href="https://twitter.com/TramsLondon">&#64;TramsLondon</a> for news and service information.</p>

<h2>Major roadworks</h2>

<p><a href="/status-updates/major-works-and-events/old-street-roundabout">Old Street Roundabout</a> will change to two-way traffic over the Bank Holiday&nbsp;weekend. City Road (south) and Old Street (west)&nbsp;will be temporarily closed over the weekend. Traffic and bus routes will be on diversion over the weekend. Access will be maintained on the Inner Ring Road.</p>

<p>If you are driving,&nbsp;walking or cycling in the area, take extra care especially when crossing the road.</p>

<h2>Driving</h2>

<p>There is no <a href="https://tfl.gov.uk/modes/driving/congestion-charge">Congestion Charge (CC)</a> on Monday&nbsp;27 May. The Congestion Charge resumes as normal on Tuesday&nbsp;28 May.</p>

<p>The <a href="https://tfl.gov.uk/modes/driving/ultra-low-emission-zone">Ultra Low Emission Zone (ULEZ)</a> remains in operation 24/7 throughout the bank holiday weekend.</p>

<p>For the latest information on London roads, see our <a href="https://tfl.gov.uk/traffic/status">traffic status updates map.</a></p>

<p>For news about traffic in London, follow <a href="https://twitter.com/TfLTrafficNews">&#64;TfLTrafficNews</a> on Twitter.</p>

<h2>Dial-a-Ride</h2>

<p>Services will run throughout the long weekend (for registered members only), but no regular bookings will operate on Bank Holiday Monday.</p>

<p>Please book in advance at the earliest opportunity.</p>

<p>For more details&nbsp; of services, see our <a href="/modes/dial-a-ride/index">Dial-a-Ride pages</a>.</p>

<h2>Emirates Air Line</h2>

<p>The cable car is running over the bank holiday weekend.</p>

<p>On Sunday, the cable car will open an hour later and run 09:00-23:00.</p>

<p>On Bank Holiday Monday&nbsp;27 May, services run from 09:00 until 22:00</p>

<p>See how the cable car is running in our <a href="https://tfl.gov.uk/cable-car/status">Status updates for Emirates&nbsp;Air Line.</a>&nbsp;Follow <a href="https://twitter.com/EmiratesAirLDN">&#64;EmiratesAirLine </a>on Twitter&nbsp;for news and service information.</p>

<h2>River</h2>

<h3>Bank Holiday Monday&nbsp;27 May</h3>

<ul>
	<li>Thames Clippers will run a weekend service</li>
	<li>Woolwich Ferry will run a one ferry service</li>
</ul>

<p>Follow<a href="https://twitter.com/tflriver">&nbsp;&#64;TfLRiver</a> for news and service information.</p>

<h2>Cycling</h2>

<p>Old Street Roundabout will change to two-way traffic over the Bank Holiday weekend. City Road (south) and Old Street (west) will be temporarily closed over the weekend. Traffic and bus routes will be on diversion over the weekend. Access will be maintained on the Inner Ring Road.</p>

<p>If you are cycling in the area, take extra care especially when crossing the road.</p>

<h2>Walking&nbsp;</h2>

<p>Old Street Roundabout will change to two-way traffic over the Bank Holiday weekend. City Road (south) and Old Street (west) will be temporarily closed over the weekend. Traffic and bus routes will be on diversion over the weekend. Access will be maintained on the Inner Ring Road.</p>

<p>If you are walking in the area, take extra care.</p>

<p>Closures are subject to change. For the latest information, see our six month look ahead for <a href="https://tfl.gov.uk/cdn/static/cms/documents/track-closures.pdf">track </a>and <a href="https://tfl.gov.uk/cdn/static/cms/documents/station-closures.pdf">stations</a>.</p>

<p>This page will be updated with more information as it becomes available.</p>
</div>
 <div>

<h2>Information</h2>

<p>Check before you travel and plan ahead using our&nbsp;travel tools.&nbsp;See:</p>

<ul>
	<li>The latest status updates for&nbsp;<a href="http://tfl.gov.uk/traffic/status/?Input=&amp;lineIds=&amp;dateTypeSelect=Future%20date&amp;direction=&amp;startDate=2018-12-14T00%3A00%3A00&amp;endDate=2018-12-14T23%3A59%3A59&amp;disruptionIds=TIMS-202397&amp;intcmp=56354">Tube, rail, DLR and trams</a>,&nbsp;<a href="http://tfl.gov.uk/bus/status/">buses</a> and <a href="http://tfl.gov.uk/traffic/status/">roads</a></li>
	<li><a href="https://tfl.gov.uk/plan-a-journey/">Plan a journey</a>, which can help you plan your route by public transport, cycling or walking</li>
	<li><a href="https://tfl.gov.uk/maps?Input=Current+location+">Nearby</a>, which&nbsp;uses your current location or a postcode or address of your choice and places you on a map, showing you Tube, bus, river, London Overground, DLR, TfL Rail and Santander Cycles locations around you</li>
	<li><a href="http://twitter.com/tfltravelalerts">&#64;TfLTravelalerts</a>, <a href="http://twitter.com/tflbusalerts">&#64;TfLBusAlerts</a> and <a href="http://twitter.com/tfltrafficnews">&#64;TfLTrafficNews</a> as well as the <a href="http://m.me/tfltravelbot">TfL Travelbot</a> on Facebook Messenger</li>
	<li>Our <a href="https://tfl.gov.uk/travel-information/social-media-and-email-updates/email-updates">email updates</a></li>
</ul>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Travel changes for May Day and Witsun Bank Holidays 2019";}
        
            
        


 