
    
  



@{ViewBag.Title = "New Year's Eve 2018";}
@{ViewBag.Keywords = "TfL,Christmas New Year travel 2018 2019 London";}
@{ViewBag.Url = "/status-updates/major-works-and-events/new-year-s-eve-2018";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

@{
    Response.Status = "302 Moved temporarily";
    Response.AddHeader("Location", "/status-updates/major-works-and-events");   
}

 
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/status-updates/index">Status updates</a></li>
                
            
                 <li><a href="/status-updates/major-works-and-events">Major works & events</a></li>
                
            
                 <li><a href="/status-updates/major-works-and-events/christmas-travel">Christmas travel</a></li>
                
            
            
                <li><span class="last-breadcrumb">New Year's Eve 2018</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>New Year's Eve 2018</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Over Christmas and New Year, most of the TfL network is open. However, there are changes and planned works that may affect your journey.
        
      </div>
    
    <div class="on-this-page">
      <p>Travel on TfL public transport will be free from 23:45 on New Year's Eve until 04:30 on New Year's Day.</p>

<p>For travel after 04:30 tomorrow, see our <a href="/status-updates/major-works-and-events/new-year-s-day-2019">New Year's Day page</a>.</p>

<p>You must have a ticket for the Mayor of London's New Year's Eve&nbsp;fireworks event in central London. If you do not have a ticket, there are plenty of other places to celebrate the New Year. For more information (including what you can bring to the event)&nbsp;visit <a href="http://www.london.gov.uk/nye">www.london.gov.uk/nye</a></p>

<p>There are changes and planned works on the following services today. All our other services are running normally.</p>

<p>See our <a href="https://tfl.gov.uk/tube-dlr-overground/status/?Input=&amp;lineIds=&amp;dateTypeSelect=Future date&amp;direction=&amp;startDate=2018-12-31T00%3a00%3a00&amp;endDate=2018-12-31T23%3a59%3a59">Status updates map for Monday 31 December</a> for Tube, Overground, TfL Rail, DLR and tram services.</p>

<h2>Tube</h2>

<p>We are running a special all-night service on most lines:</p>

<ul>
	<li>No Piccadilly line service between Rayners Lane and Uxbridge</li>
	<li>First trains will be at weekday times</li>
	<li>On most lines, trains will run every 2-8 minutes in central London and every 5-15 minutes in outer areas and on branches until 04:30 on New Year's Day</li>
	<li>The Waterloo &amp; City line will run every 3-10 minutes until about 02:30</li>
	<li>Services are not as frequent on some sections of the Central, Circle, Hammersmith &amp; City, Metropolitan and&nbsp;Piccadilly lines. <a href="/plan-a-journey/index">Check your journey</a></li>
</ul>

<h3>Tube stations</h3>

<p>The following Tube stations will be closed or exit-only:</p>

<ul>
	<li>Blackfriars station &#45; between 23:30 until 04:30, open for Tube services only (National Rail trains will not stop)</li>
	<li>Chalk Farm - closed from 22:00</li>
	<li>Charing Cross - closed from 19:00</li>
	<li>Covent Garden - exit only from 19:00</li>
	<li>Embankment - closed from 23:30 until 00:15</li>
	<li>Lambeth North &#45; closed from 23:30</li>
	<li>Leicester Square - exit only from 20:00, closed from 23:30</li>
	<li>Piccadilly Circus - closed from 23:30</li>
	<li>Southwark - exit only from 23:45</li>
	<li>St Paul's &#45; exit only from 23:45</li>
	<li>Westminster - interchange only from 21:30</li>
</ul>

<p>For travel after 04:30 please check our <a href="/status-updates/major-works-and-events/new-year-s-day-2019">New Year's Day</a> page.</p>

<hr />
<h2>London Overground</h2>

<p>There are changes to services today:</p>

<ul>
	<li>A&nbsp;weekday service is running:
	<ul>
		<li>between Highbury &amp; Islington and Crystal Palace / West Croydon</li>
		<li>between Dalston Junction and New Cross / Clapham Junction</li>
	</ul>
	</li>
	<li>A&nbsp;Saturday service&nbsp;is runing:
	<ul>
		<li>between Richmond / Clapham Junction and Stratford</li>
		<li>between Watford Junction and Euston</li>
	</ul>
	</li>
	<li>No service between South Tottenham and Barking</li>
	<li>No service between Romford and Upminster</li>
	<li>No service between Edmonton Green and Cheshunt</li>
	<li>Reduced service between Liverpool Street and Chingford (trains about&nbsp;every 20 minutes, not stopping at Bethnal Green, Hackney Downs and Clapton)</li>
	<li>Reduced service between Liverpool Street and Edmonton Green / Enfield Town (trains about every 20 minutes,&nbsp;not stopping at Bethnal Green, Cambridge Heath, London Fields and Hackney Downs)</li>
	<li>Special all-night service between Highbury &amp; Islington and New Cross Gate (trains run about every 15 minutes)</li>
	<li>Special service between Willesden Junction and Stratford (trains run about 15 minutes until 02:30)</li>
	<li>Special service between Liverpool Street and Enfield Town (not stopping at Bethnal Green, Cambridge Heath, London Fields or Hackney Downs) every 30 minutes until 02:30</li>
	<li>Use replacement or local buses - check <a href="https://tfl.gov.uk/tube-dlr-overground/status/?Input=&amp;lineIds=&amp;dateTypeSelect=Future date&amp;direction=&amp;startDate=2018-12-31T00%3a00%3a00&amp;endDate=2018-12-31T23%3a59%3a59#line-raillo-overground">Status updates</a><br />
	&nbsp;</li>
</ul>

<p>Follow <a href="http://twitter.com/LDNOverground">&#64;LDNOverground</a> for news and service information.</p>

<hr />
<h2>TfL Rail</h2>

<p>There are changes to services today:</p>

<h3>Liverpool Street-Shenfield</h3>

<ul>
	<li>No service between Liverpool Street and Romford</li>
	<li>Trains run about every 15 minutes between Romford and Shenfield all day and overnight</li>
	<li><a href="https://tfl.gov.uk/tube-dlr-overground/status/?Input=&amp;lineIds=&amp;dateTypeSelect=Future date&amp;direction=&amp;startDate=2018-12-31T00%3a00%3a00&amp;endDate=2018-12-31T23%3a59%3a59#line-raillo-overground">Replacement buses</a> run between Stratford and Romford about every 10-15 minutes, except between 00:00 (midnight) and 05:30 when buses run about every 30 minutes</li>
</ul>

<h3>Paddington-Heathrow Terminal 4</h3>

<ul>
	<li>Trains will not stop at Heathrow Terminal 4 after midnight</li>
	<li>Trains run between Paddington and Hayes &amp; Harlington, not stopping at Acton Main Line, about every 30 minutes until 00:30, then about every 30 minutes until 04:30 when a normal weekday service runs</li>
</ul>

<p>Follow <a href="http://twitter.com/TfLRail">&#64;TfLRail</a> for news and service information.</p>

<hr />
<h2>DLR</h2>

<ul>
	<li>We are running a special all-night service</li>
	<li>Trains run every 15 minutes on all routes from 00:30 until 08:00</li>
</ul>

<hr />
<h2>Trams</h2>

<p>We are running a Saturday service today.</p>

<ul>
	<li>There is a special all-night service&nbsp;every 30 minutes between Wimbledon and Beckenham Junction / New Addington</li>
	<li>This runs until Sunday first tram times on <a href="/status-updates/major-works-and-events/new-year-s-day-2019">New Year's Day</a></li>
</ul>

<p>Follow&nbsp;<a href="https://twitter.com/TramsLondon">&#64;TramsLondon</a> for news and service information</p>

<hr />
<h2>Buses</h2>

<ul>
	<li>A Saturday service&nbsp;is running until 14:00, with changes for New Year's Eve celebrations</li>
	<li>An enhanced Saturday service is running on route&nbsp;507</li>
	<li>A limited service is running on normal Monday to Friday only routes&nbsp;521 and X68</li>
</ul>

<h3>Buses after 14:00</h3>

<ul>
	<li>From 14:00, bus routes in central London will be diverted or stop short of their final destination in preparation for the ticketed fireworks celebration</li>
	<li>If you are not attending the fireworks event, begin your bus journey before 14:00, if you can, to avoid delays</li>
</ul>

<h3>Buses after 19:30</h3>

<p>From 19:30, buses will operate from hub locations:</p>

<ul>
	<li>Elephant &amp; Castle - for south-east, south-west and south London</li>
	<li>Holborn - for east and north-east London</li>
	<li>Oxford Circus - for east, west and north-west London</li>
	<li>Tottenham Court Road - for north and north-east London</li>
	<li>Green Park - for west and south-west London</li>
	<li>Victoria - for south, south-west and north-west London</li>
</ul>

<p>These services are running all night:</p>

<p>Whole route: 51, 56, 97, 109, 115, 118, 161, 248, 333, 358, 414, 415, 422, 432 and 476</p>

<p>Part of route: 45, 174, 185, 388</p>

<p>Most bus services are expected to return to normal by 06:00 except those affected by the New Year's Day parade.</p>

<p>See all today's planned bus changes on our <a href="https://tfl.gov.uk/bus/status/?Input=&amp;lineIds=&amp;dateTypeSelect=Future date&amp;direction=&amp;startDate=2018-12-31T00%3a00%3a00&amp;endDate=2018-12-31T23%3a59%3a59">Bus status updates map for Monday&nbsp;31 December</a>.</p>

<p>Follow <a href="https://twitter.com/TfLBusAlerts">&#64;TfLBusAlerts</a> for news and service information.</p>

<hr />
<h2>Cycling</h2>

<ul>
	<li>Some sections of the East &#45; West Cycle Superhighway (CS3) and the North &#45; South Cycle Superhighway (CS6) will be affected by road closures for the New Year's Eve celebrations</li>
	<li>Check for <a> planned works and closures on roads on 31 December</a></li>
	<li>Some docking stations will be out of use at times</li>
	<li>To find a docking station, visit <a href="http://tfl.gov.uk/modes/cycling/santander-cycles/find-a-docking-station">tfl.gov.uk/modes/cycling/santander-cycles/find-a-docking-station</a> or use the Santander Cycles App</li>
</ul>

<hr />
<h2>Driving</h2>

<ul>
	<li>The <a href="/modes/driving/congestion-charge">Congestion Charge</a> and T-Charge do not apply today</li>
	<li>From 14:00 there will be road closures&nbsp; around Victoria Embankment, Westminster Bridge, Whitehall and St. James's Park. There will be further closures from 17:00 on Waterloo Bridge and the South Bank</li>
	<li>Most roads should reopen by 06:00 or as soon as it is safe to do so, except those affected by the New Year's Day Parade</li>
	<li>See our <a href="http://tfl.gov.uk/traffic/status/?dateTypeSelect=Future%20date&amp;direction=&amp;startDate=2018-12-31T00%3A00%3A00&amp;endDate=2018-12-31T23%3A59%3A59">traffic status updates map for 31 December</a></li>
</ul>

<p>Follow <a href="https://twitter.com/TfLTrafficNews">&#64;TfLTrafficNews</a> for news and traffic information.</p>

<hr />
<h2>Taxis &amp; minicabs</h2>

<ul>
	<li>There is an extra charge of &pound;4 if you are travelling from 20:00 tonight until 06:00 on Wednesday 2 January. For private hire (including minicabs) there may be an extra charge - check when you book</li>
	<li>Some taxi and minicab journeys may take longer because of road closures for the fireworks display in central London. Allow plenty of time for your journey.</li>
</ul>

<hr />
<h2>River</h2>

<p>Services will finish early from 21:00. The last stop at London Eye Pier will be at 15:19 to enable preparations for the fireworks. Services will stop calling at other piers from 18:45.</p>

<p>Follow <a href="https://twitter.com/TfLTrafficNews">&#64;TfLRiver</a> for news and service information.</p>

<hr />
<h2>National Rail</h2>

<p>Check <a href="http://www.nationalrail.co.uk/service_disruptions/172038.aspx">National Rail's Christmas page</a> for information about service changes and planned works over the festive season.</p>

<hr />
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
                <a href="/status-updates/major-works-and-events" class="heading">
                    <h2 id="sub-menu-heading">Major works & events<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/august-bank-holiday-and-notting-hill-carnival">August Bank Holiday & Notting Hill Carnival</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/baker-street-roadworks">Baker Street roadworks</a></div></li>
                            
 
                <a href="/status-updates/major-works-and-events/christmas-travel" class="heading">
                    <h2 id="sub-menu-heading">Christmas travel<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/sunday-23-december-2018">Sunday 23 December 2018</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/christmas-eve-2018">Christmas Eve 2018</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/christmas-day-2018">Christmas Day 2018</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/boxing-day-2018">Boxing Day 2018</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/thursday-27-december-2018">Thursday 27 December 2018</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/friday-28-december-2018">Friday 28 December 2018</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/saturday-29-december-2018">Saturday 29 December 2018</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/sunday-30-december-2018">Sunday 30 December 2018</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/status-updates/major-works-and-events/new-year-s-eve-2018">New Year's Eve 2018</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/new-year-s-day-2019">New Year's Day 2019</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/wednesday-2-january-2019">Wednesday 2 January 2019</a></div></li>
                            
 
                </ul>
            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/cycle-superhighway-11">Cycle Superhighway 11</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/easter-travel-2018">Easter travel 2018</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/easter-travel-2019">Easter travel 2019</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/hammersmith-bridge-closure">Hammersmith Bridge closure</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/highbury-corner-roundabout">Highbury Corner roundabout</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/improvements-between-acton-and-wood-lane">Improvements between Acton and Wood Lane</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/may-bank-holidays-2019">Spring Bank Holiday 2019</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/old-street-roundabout">Old Street roundabout</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/status-updates/major-works-and-events/ride-london-2019">Prudential RideLondon 2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/status-updates/major-works-and-events/ridelondon">RideLondon</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/road-changes-at-victoria-embankment">Road changes at Victoria Embankment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/tour-of-britain-2018">Tour of Britain 2018</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/travel-advice-for-road-users">Travel advice for road users</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/victoria-embankment">Victoria Embankment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/west-end-project">West End Project</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/cycleway-4">Cycleway 4</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Travel in London over Christmas and the New Year 2018/19 may be affected by planned works, events and service changes";}
        
            
        


 