
    
  



@{ViewBag.Title = "New Year's Day 2019";}
@{ViewBag.Keywords = "TfL,Christmas New Year travel 2018 2019 London";}
@{ViewBag.Url = "/status-updates/major-works-and-events/new-year-s-day-2019";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

@{
    Response.Status = "302 Moved temporarily";
    Response.AddHeader("Location", "/status-updates/major-works-and-events");   
}

 
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/status-updates/index">Status updates</a></li>
                
            
                 <li><a href="/status-updates/major-works-and-events">Major works & events</a></li>
                
            
                 <li><a href="/status-updates/major-works-and-events/christmas-travel">Christmas travel</a></li>
                
            
            
                <li><span class="last-breadcrumb">New Year's Day 2019</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>New Year's Day 2019</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Over Christmas and New Year, most of the TfL network is open. However, there are some changes and planned works that may affect your journey.
        
      </div>
    
    <div class="on-this-page">
      <p>See our <a href="http://tfl.gov.uk/tube-dlr-overground/status/?Input=&amp;lineIds=&amp;dateTypeSelect=Future date&amp;direction=&amp;startDate=2019-01-01T00%3a00%3a00&amp;endDate=2019-01-01T23%3a59%3a59">Status updates map for 1 January 2019</a> for Tube, Overground, TfL Rail, DLR and tram services.</p>

<h2>Tube</h2>

<p>We will run a reduced service on all lines:</p>

<ul>
	<li>For travel before 04:30 today, check our <a href="/status-updates/major-works-and-events/new-year-s-eve-2018">New Year's Eve page</a></li>
	<li>There will be no District line service between Earl's Court and Kensington (Olympia)</li>
	<li>There will be no Piccadilly service between Rayners Lane and Uxbridge until 11:00</li>
	<li>On most lines, trains will run about every 3-10 minutes in central London and about every 10-30 minutes in outer areas and on branches after 04:30</li>
	<li>Trains will run less frequently or start later on some sections of the Central, Hammersmith &amp; City, Metropolitan, Piccadilly and Waterloo &amp; City lines. <a href="/plan-a-journey/index">Check your journey</a> for details</li>
	<li>Last trains will be at weekday times</li>
</ul>

<h2>London Overground</h2>

<ul>
	<li>On routes without closures we are running a Saturday service</li>
	<li>First trains will be at Sunday times</li>
	<li>No service between South Tottenham and Barking</li>
	<li>No service between Romford and Upminster</li>
	<li>No service between Edmonton Green and Cheshun</li>
	<li>No service between Surrey Quays and Clapham Junction</li>
	<li>Reduced service between Liverpool Street and Chingford (trains run about&nbsp;every 20 minutes, not stopping at Bethnal Green, Hackney Downs and Clapton)</li>
	<li>Reduced service between Liverpool Street and Edmonton Green / Enfield Town&nbsp;(trains run about every 20 minutes, not stopping at Bethnal Green, Cambridge Heath, London Fields and Hackney Downs)</li>
	<li>Use replacement or local buses - check <a href="https://tfl.gov.uk/tube-dlr-overground/status/?Input=&amp;lineIds=&amp;dateTypeSelect=Future date&amp;direction=&amp;startDate=2019-01-01T00%3a00%3a00&amp;endDate=2019-01-01T23%3a59%3a59#line-raillo-overground">Status updates</a></li>
</ul>

<p>Follow <a href="http://twitter.com/LDNOverground">&#64;LDNOverground</a> for news and service information.</p>

<hr />
<h2>TfL Rail</h2>

<p>There are changes to services today:</p>

<ul>
	<li>No service between Liverpool Street and Romford</li>
	<li>Reduced service between Romford and Shenfield (trains run about every 15 minutes)</li>
	<li>Use replacement or local buses - check <a href="https://tfl.gov.uk/tube-dlr-overground/status/?Input=&amp;lineIds=&amp;dateTypeSelect=Future date&amp;direction=&amp;startDate=2019-01-01T00%3a00%3a00&amp;endDate=2019-01-01T23%3a59%3a59#">Status updates</a></li>
</ul>

<p>Follow <a href="http://twitter.com/TfLRail">&#64;TfLRail</a> for news and service information.</p>

<hr />
<h2>DLR</h2>

<p>A Saturday service is running from 08:00.</p>

<p>Follow <a href="http://twitter.com/LondonDLR">&#64;LondonDLR</a> for news and service information.</p>

<hr />
<h2>Trams</h2>

<p>A Sunday service is running today.</p>

<p>Follow&nbsp;<a href="https://twitter.com/TramsLondon">&#64;TramsLondon</a> for news and service information.</p>

<hr />
<h2>Buses</h2>

<p>A Sunday service is running today. Due to road closures for the New Year's Day Parade, some buses in central London will be diverted or stopped short of their final destination until about 18:00. Please check your travel.</p>

<p>See all today's planned bus changes on our <a href="https://tfl.gov.uk/bus/status/?disruptionIds=TIMS-202397&amp;dateTypeSelect=Future%20date&amp;direction=&amp;startDate=2019-01-01T00%3A00%3A00&amp;endDate=2019-01-01">Bus status updates map for Tuesday 1 January 2019</a>.</p>

<p>Follow <a href="https://twitter.com/TfLBusAlerts">&#64;TfLBusAlerts</a> for news and service information.</p>

<hr />
<h2>Driving</h2>

<p>There will be road closures in central London for the New Year's Day Parade. Roads will reopen from 18:00, or as soon as possible.</p>

<ul>
	<li>The following roads will not be reopened following New Year's Eve fireworks event: Piccadilly, Whitehall, Lower Regent Street, Haymarket, Waterloo Place, Cockspur Street, Trafalgar Square, Whitehall, Strand Westbound and Shaftesbury Avenue Westbound, Parliament Square, Bridge Street, Millbank and Victoria Street.</li>
	<li>The <a href="/modes/driving/congestion-charge">Congestion Charge</a> and T-Charge do not apply today</li>
	<li>See our <a href="https://tfl.gov.uk/traffic/status/?Input=&amp;lineIds=&amp;dateTypeSelect=Future date&amp;direction=&amp;startDate=2019-01-01T00%3a00%3a00&amp;endDate=2019-01-01">traffic status updates map for 1 January 2019</a></li>
</ul>

<p>Follow <a href="https://twitter.com/TfLTrafficNews">&#64;TfLTrafficNews</a> on Twitter.</p>

<hr />
<h2>Emirates Air Line</h2>

<p>Today the cable car is running 08:00-19:00.</p>

<p>See <a href="https://tfl.gov.uk/cable-car/status/?%3BlineIds=&amp;%3BdateTypeSelect=Future%20date&amp;%3Bdirection=&amp;%3BstartDate=2018-12-24T00%3A00%3A00&amp;%3BendDate=2018-12-24T23%3A59%3A59&amp;Input=&amp;lineIds=&amp;dateTypeSelect=Future date&amp;direction=&amp;startDate=2019-01-01T00%3a00%3a00&amp;endDate=2019-01-01">Status updates for Emirates&nbsp;Air Line on 1 January 2019</a>&nbsp;or <a href="https://twitter.com/EmiratesAirLDN">follow &#64;EmiratesAirLine on Twitter</a>.</p>

<hr />
<h2>Taxis &amp; minicabs</h2>

<p>For taxis (black cabs) there is an extra charge of &pound;4 if you're travelling today or until 06:00 on Wednesday 2 January. For private hire (including minicabs), there may be an extra charge, please check when you book.</p>

<hr />
<h2>National Rail</h2>

<p>Check <a href="http://www.nationalrail.co.uk/service_disruptions/172038.aspx">National Rail's Christmas page</a> for information about service changes and planned works over the festive season.</p>

<hr />
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
                <a href="/status-updates/major-works-and-events" class="heading">
                    <h2 id="sub-menu-heading">Major works & events<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/august-bank-holiday-and-notting-hill-carnival">August Bank Holiday & Notting Hill Carnival</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/baker-street-roadworks">Baker Street roadworks</a></div></li>
                            
 
                <a href="/status-updates/major-works-and-events/christmas-travel" class="heading">
                    <h2 id="sub-menu-heading">Christmas travel<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/sunday-23-december-2018">Sunday 23 December 2018</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/christmas-eve-2018">Christmas Eve 2018</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/christmas-day-2018">Christmas Day 2018</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/boxing-day-2018">Boxing Day 2018</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/thursday-27-december-2018">Thursday 27 December 2018</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/friday-28-december-2018">Friday 28 December 2018</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/saturday-29-december-2018">Saturday 29 December 2018</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/sunday-30-december-2018">Sunday 30 December 2018</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/new-year-s-eve-2018">New Year's Eve 2018</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/status-updates/major-works-and-events/new-year-s-day-2019">New Year's Day 2019</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/wednesday-2-january-2019">Wednesday 2 January 2019</a></div></li>
                            
 
                </ul>
            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/cycle-superhighway-11">Cycle Superhighway 11</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/easter-travel-2018">Easter travel 2018</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/easter-travel-2019">Easter travel 2019</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/hammersmith-bridge-closure">Hammersmith Bridge closure</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/highbury-corner-roundabout">Highbury Corner roundabout</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/improvements-between-acton-and-wood-lane">Improvements between Acton and Wood Lane</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/may-bank-holidays-2019">Spring Bank Holiday 2019</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/old-street-roundabout">Old Street roundabout</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/status-updates/major-works-and-events/ride-london-2019">Prudential RideLondon 2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/status-updates/major-works-and-events/ridelondon">RideLondon</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/road-changes-at-victoria-embankment">Road changes at Victoria Embankment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/tour-of-britain-2018">Tour of Britain 2018</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/travel-advice-for-road-users">Travel advice for road users</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/victoria-embankment">Victoria Embankment</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/west-end-project">West End Project</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/status-updates/major-works-and-events/cycleway-4">Cycleway 4</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Travel in London over Christmas and the New Year 2018/19 may be affected by planned works, events and service changes";}
        
            
        


 