
    
  



@{ViewBag.Title = "Prudential RideLondon 2018";}
@{ViewBag.Keywords = "TfL,RideLondon, Prudential RideLondon";}
@{ViewBag.Url = "/status-updates/major-works-and-events/ridelondon";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

@{
    Response.Status = "302 Moved temporarily";
    Response.AddHeader("Location", "/status-updates/major-works-and-events");   
}

 

  <div class="section-image-container medium-large" data-highlight-image="/cdn/static/cms/images/promos/webpageheader1.png" data-highlight-for=".section-image-container" data-highlight-size="medium-large" style="background-image: url(/cdn/static/cms/images/promos/webpageheader1.png)"> </div>

<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/status-updates/index">Status updates</a></li>
                
            
                 <li><a href="/status-updates/major-works-and-events">Major works & events</a></li>
                
            
            
                <li><span class="last-breadcrumb">Prudential RideLondon 2018</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 

  
  <div class="r">
    <div class="headline-container section-title section-landing-container ">
      <div class="section-title-wrap">
        <h1 class="hero-headline">RideLondon</h1>
        
      </div>
    </div>
  </div>



    
   
    <div class="r">
        <div class="main clearfix" role="main">
            
        
        
            <div class="section-overview full-width clearfix ">
                <div class="small-medium" data-set="section-intro"></div>
                <div>
                    <div class="large" data-set="section-intro">
                        
                    </div>
                <p>The Prudential RideLondon cycling events return on Saturday 28 July on closed roads in central London and on Sunday 29 July on closed roads in east, central and south-west London, and in parts of Surrey.</p>
                </div>
            </div>
        
         
        
        
        
                
                <div class="clearfix">
                    <div>

<p>You can view the event route maps on the <a href="https://www.prudentialridelondon.co.uk/">Prudential RideLondon&nbsp;website</a>. See below for travel advice for Saturday 28 July. <a href="/status-updates/major-works-and-events/ridelondon-sunday-29-july">Click here</a>&nbsp;for travel advice for Sunday 29 July</p>

<h2>Travel disruption and advice</h2>

<h3>Drivers</h3>

<p>Road closures will impact more than the immediate Prudential RideLondon event routes, which cannot be crossed by vehicles. Drivers are advised to, wherever possible, avoid areas near and around the event routes as follows:</p>

<ul>
	<li>On Saturday 28 July between 05:00 and 19:30&nbsp; in central London</li>
	<li>On Sunday 29 July between 04:00 to 20:00 in east, central and south west London and in the affected parts of Surrey</li>
</ul>

<p>Roads between Tower Bridge and Commercial Street will be busier than usual and your journey may take up to twice as long, especially between 16:00 and 20:00 on Saturday.</p>

<p>There will also be significant disruption on London's roads on Sunday, in particular around Battersea Park Road, the A308 in Kingston and the A13 Newham Way, where journey times are anticipated to double.</p>

<p>Drivers will be unable to cross the route and journeys from west to south or southwest London will need to be made via the M25.&nbsp; If you must drive, please ensure you allow plenty of time and prepare to take a longer route than usual.</p>

<h3>Buses</h3>

<p>Bus routes will be on diversion or will finish early due to the road closures on both event days. Many central London bus routes will not serve their usual stops. You are advised to plan ahead and check publicity for more information.</p>

<h3>Tube</h3>

<p>Tube &amp; Rail will be the best way to get around central London on the day. Please plan ahead and check before you travel.</p>

<p>Please <a href="https://tfl.gov.uk/plan-a-journey/">plan your journey</a> ahead of the event.</p>
</div>
 
<h2>Spectators</h2>

<p>On Saturday 28 July, spectators will be able to watch the following events in London:</p>

<ul>
	<li>Prudential RideLondon FreeCycle &#45; up to 70,000 cyclists exploring an 8-mile traffic-free loop in central London.</li>
	<li>Prudential RideLondon Classique &#45; see the world's best female cyclists compete in this UCI World Tour race.</li>
	<li>Brompton World Championships &#45; The 11th Brompton World Championship Final will take place on closed roads around St James's Park.</li>
</ul>

<p>Other areas to watch the action along the route and nearest stations include:</p>
<div class="table-container"><table border="1" cellpadding="1" cellspacing="1" style="height:158px; width:440px">
	<tbody>
		<tr>
			<td style="width: 141px;"><strong>Spectator points</strong></td>
			<td style="width: 121px;"><strong>Stations</strong></td>
			<td style="width: 167px;"><strong>Lines</strong></td>
		</tr>
		<tr>
			<td style="width: 141px;">St James's Park</td>
			<td style="width: 121px;">St James's Park</td>
			<td style="width: 167px;">Circle &amp; District</td>
		</tr>
		<tr>
			<td style="width: 141px;">Green Park</td>
			<td style="width: 121px;">Green Park</td>
			<td style="width: 167px;">Jubilee, Piccadilly &amp; Victoria</td>
		</tr>
		<tr>
			<td style="width: 141px;">Westminster</td>
			<td style="width: 121px;">Westminster</td>
			<td style="width: 167px;">Circle, District &amp; Jubilee</td>
		</tr>
		<tr>
			<td style="width: 141px;">Piccadilly Circus</td>
			<td style="width: 121px;">Piccadilly Circus</td>
			<td style="width: 167px;">Bakerloo &amp; Piccadilly</td>
		</tr>
		<tr>
			<td style="width: 141px;">Leicester Square</td>
			<td style="width: 121px;">Leicester Square</td>
			<td style="width: 167px;">Northern &amp; Piccadilly</td>
		</tr>
	</tbody>
</table></div>
<p>For spectator advice for Sunday 29 July, <a href="/status-updates/major-works-and-events/ridelondon-sunday-29-july">click here</a>.</p>

<h3>Road users</h3>

<p>Closures will be in place in and around St James's Park to prepare for the weekend events.</p>

<h4>Road closures from 07:30 on Friday 27 July &#45; 06:00 on Monday 30 July</h4>

<ul>
	<li>The Mall (between Horse Guards Road and Queens Gardens)</li>
	<li>Marlborough road</li>
</ul>

<h4>Road closures in central London</h4>

<p><strong>Saturday 28 July</strong></p>

<p>Prudential RideLondon FreeCycle follows an 8-mile circuit of closed roads in Westminster and the City of London. If you are driving in the vicinity of these road closures you will experience additional delays. Please allow more time for your journey.</p>

<p><strong>Road closures from 05:00 &#45; 18:00:</strong></p>

<ul>
	<li>St Paul's Churchyard</li>
</ul>

<p><strong>From 06:00 &#45; 18:00:</strong></p>

<ul>
	<li>Aldwych</li>
	<li>Angel Street</li>
	<li>Cannon Street</li>
	<li>Cheapside</li>
	<li>Cornhill</li>
	<li>Fenchurch Street</li>
	<li>Gresham Street</li>
	<li>Holborn</li>
	<li>Holborn Viaduct</li>
	<li>King Edward Street</li>
	<li>King Street</li>
	<li>King William Street</li>
	<li>Kingsway</li>
	<li>Leadenhalll Street</li>
	<li>Lime Street</li>
	<li>Lincolns Inn Fields</li>
	<li>Lombard Street</li>
	<li>Lothbury, Bartholomew Lane</li>
	<li>New Change</li>
	<li>Newgate Street</li>
	<li>Newman's Row</li>
	<li>Puddle Dock</li>
	<li>Queen Victoria Street</li>
	<li>St Martin's Le Grand</li>
	<li>Threadneedle Street</li>
	<li>White Lion Hill</li>
</ul>

<p><strong>From 07:00 &#45; 18:00:</strong></p>

<ul>
	<li>Upper Thames Street</li>
	<li>Victoria Embankment</li>
	<li>Aldwych</li>
	<li>Kingsway southbound</li>
	<li>Waterloo Bridge</li>
</ul>

<p><strong>From 07:00 &#45; 19:30:</strong></p>

<ul>
	<li>The Strand</li>
	<li>Horse Guards Avenue</li>
	<li>Whitehall</li>
	<li>Parliament Square (north side)</li>
	<li>Trafalgar Square</li>
	<li>Cockspur Street</li>
	<li>Duncannon Street</li>
	<li>Pall Mall East</li>
</ul>

<p><strong>From 04:00 on Saturday 28 July &#45; 06:00 on Monday 30 July:</strong></p>

<ul>
	<li>Constitution Hill</li>
	<li>Horse Guards Road</li>
	<li>Birdcage Walk</li>
	<li>Spur Road</li>
	<li>Great George Street</li>
</ul>

<p><a href="/status-updates/major-works-and-events/ridelondon-sunday-29-july">Click here</a>&nbsp;for details of Sunday 29 June road closures.</p>

<h3>RideLondon live road closure tool</h3>

<p>To help plan your travel, road closure information for Saturday 28 and Sunday 29 July can be viewed prior to the event and live on the day by <a href="http://PrudentialRideLondon.co.uk/road-closures">clicking here</a>.</p>

 

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/prudential-ride-london-traffic-impact8.png" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
 <div>

<h2>Buses</h2>

<p>Buses in and around the route areas on both days will be on diversion or will terminate earlier than usual to avoid the road closures. Some stops will also be temporarily relocated or suspended. Please allow more time for your journey and consider using the Tube if you are traveling in central London on Saturday 28 and Sunday 29 July.<br />
&nbsp;</p>

<p>On Saturday 28 July, the following bus routes will be affected between 05:00 and 20:00 in the City and Westminster:</p>

<ul>
	<li>1, 3, 4, 6, 8, 9, 11, 12, 13, 15, 17, 21, 23, 24, 25, 26, 29,&nbsp; 43, 45, 46, 56, 59, 68, 76, 87, 88, 91, 100, 133, 139, 141, 159, 168, 171, 172, 188, 242, 243, 341, 388, 453, RV1, N8, N11, N15, N26, N133, N551.</li>
</ul>

<p><a href="https://tfl.gov.uk/plan-a-journey/">Plan your journey</a> on our website and for up-to-date information on bus services follow <a href="https://twitter.com/TfLBusAlerts">&#64;TfLBusAlerts</a>.</p>

<h2>Taxi and Private hire</h2>

<p>Some taxi and private hire journeys will be affected by the road closures for the Prudential RideLondon weekend. The following taxi ranks will be suspended during the weekend:</p>

<p>Saturday 28 July, from 06:00 to 18:00:</p>

<ul>
	<li>Aldwych - Me Hotel</li>
	<li>Aldwych - No. 1 Hotel</li>
	<li>Carey Street</li>
	<li>Embankment Place</li>
	<li>Exeter Street -Strand Palace (until 19:30)</li>
	<li>Holborn - Waterhouse Court</li>
	<li>Lincoln's Inn Fields</li>
	<li>Lincoln's Inn Fields - rest rank</li>
	<li>Strand - Charing Cross Station (until 19:30)</li>
	<li>Strand - Clement Danes</li>
	<li>Strand - opposite Australia House</li>
</ul>

<p>Further information about taxi and private hire services can be found <a href="https://tfl.gov.uk/modes/taxis-and-minicabs/">here</a>.</p>

<p>Booking information, including phone numbers and email addresses, about minicab and other private hire operators in London is available from TfL's <a href="http://tfl.gov.uk/forms/12389.aspx">Cabwise service</a>.</p>

<p>Taxi drivers and private hire drivers and operators can follow <a href="https://twitter.com/TfLTPH">&#64;TfLTPH</a> on Twitter for the latest TfL updates.</p>

<h2>Coaches</h2>

<p>Please contact your coach operator for details about changes to services and allow plenty of time to travel.</p>

<p>Coach services to and from Victoria will generally operate as normal on Saturday 28 July, although there may be some diversions on services that pass through the City of London and Westminster.</p>

<p>The following coach services will be affected:</p>

<ul>
	<li>National Express route A7 to Stansted Airport will not serve stops at Waterloo or Blackfriars but will continue to serve Victoria &#45; please contact <a href="https://www.nationalexpress.com/en/help/contact">National Express</a> for details</li>
	<li>Tour buses will be diverted in central London</li>
</ul>

<p>Tourist coach drivers are advised that a large number of central London's coach parking bays will be closed on both days. This includes all coach parking on Park Lane northbound between Curzon Gate and Grosvenor Gate on Sunday 29 July.</p>

<p>Please plan ahead, contact your coach operator for details of changes and allow plenty of time to travel. More information can be found <a href="https://tfl.gov.uk/modes/coaches/">on our website</a>.</p>

<h2>Walking</h2>

<p>Footways along the routes will remain open to ensure pedestrian access to properties and that spectators can enjoy the event. Crowd and safety barriers will be in place along certain sections of the routes. Designated, marshalled crossing points will be available in these areas to help people cross the route safely. Please take extra care if crossing any part of the route on foot.</p>

<p>Walking is&nbsp;often the quickest option during big events in London. For maps and more information visit the <a href="https://tfl.gov.uk/modes/walking/">walking section</a> on our website.</p>

<h2>Tube</h2>

<p>Tube &amp; rail will be the best way to get around central London at the weekend, although stations may be busier than usual.</p>

<p>We encourage anyone travelling to the events or around the affected areas to <a href="https://tfl.gov.uk/plan-a-journey/">plan ahead</a> to make the most of the weekend.</p>

<h3>Bicycles on the Tube</h3>

<p>You can take a folded bike anywhere and anytime on both the Tube and Night Tube. However there are limitations on where you can travel with non-folded bikes. <a href="http://content.tfl.gov.uk/bicycles-on-public-transport.pdf">Click here</a> to view the map for details of where you can travel with your non-folded bike.</p>

<p>For up to date information on Tube services follow <a href="https://twitter.com/TfLTravelAlerts">&#64;TfLTravelAlerts</a> or visit the <a href="https://tfl.gov.uk/travel-information/social-media-and-email-updates/">social media pages</a> of the TfL website for individual Tube line accounts for real-time information.</p>

<h3>Planned engineering works</h3>

<ul>
	<li>No service on the Metropolitan line from Aldgate to Wembley Park</li>
</ul>

<h3>London Overground planned engineering works</h3>

<p><strong>Saturday 28 and Sunday 29 July:</strong></p>

<ul>
	<li>No service between Hackney Downs to Enfield Town/ Cheshunt (via Seven Sisters)</li>
	<li>No service from Liverpool Street to Walthamstow Central</li>
	<li>No service from&nbsp; Willesden Junction to Clapham Junction</li>
</ul>

<p><strong>Sunday 29 July 2018</strong></p>

<ul>
	<li>No service from&nbsp; New Cross Gate to Crystal Palace/ West Croydon</li>
	<li>No service from South Tottenham to Barking until 12:30</li>
</ul>

<h2>Airport users</h2>

<p>People planning to drive to or from airports on Saturday 28 and Sunday 29 July are urged to check if their journey will take them across the race routes. Consider allowing plenty of time to travel, using public transport to make your journey instead, or plan alternative routes to avoid the road closures.</p>

<h2>Santander Cycle Hire hubs</h2>

<p>There will be no suspensions of Santander Cycle Hire docking stations in and around the route area over the weekend.</p>

<p>However, busier roads in the area of the event&nbsp;may make it difficult for cycle hire redistribution vehicles to collect and/or replace bicycles.&nbsp;Customers are advised to check cycle and space availability on the day using the live, online <a href="http://tfl.gov.uk/santandercycles">docking station map</a>&nbsp;or the <a href="https://tfl.gov.uk/modes/cycling/santander-cycles/community">Santander Cycles app</a>.</p>

<p>On Saturday 28 July, extra Santander Cycle Hire bikes will be available near the FreeCycle route. The nearest docking stations to the FreeCycle route can be found at:</p>

<ul>
	<li>Craven Street</li>
	<li>Lincoln Inn Fields</li>
	<li>Wellington Arch</li>
</ul>

<p>These will have staff on hand to create additional space to dock and provide more bikes to hire. Follow <a href="https://twitter.com/SantanderCycles">&#64;SantanderCycles</a> on Twitter for the latest updates.</p>

<h2>Freight</h2>

<p>If you make or receive deliveries in central London over weekends, you may be affected by congestion and increased journey times because of road closures on Saturday 28 and Sunday 29 July.</p>

<p>Depending on the size and nature of your business, our key advice during the event road closures is to communicate changes to your employees and suppliers.</p>

<p>You should also speak to your suppliers about whether they can re-time their deliveries and servicing trips to avoid road closures and the busiest time between Saturday 28 and Sunday 29 July&nbsp; 2018.</p>
</div>
 
                </div>
                <hr>
                
                
                <div class="module-grid clearfix">
                    
                    
                    
                    
                </div>
        
        
        
          
        
    </div>
    
      
      <div class="aside no-full-width-intro" role="complementary">
    
        <div data-set="sidenav-container" class="large">
          
        </div>
        <div class="module-grid clearfix">
          




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
          
        </div>
        <div data-set="sidenav-container" class="small-medium"></div>
      </div>
  </div>
 
        
        
        
            @{ViewBag.Description = "Travel advice and information for Prudential RideLondon, Saturday 28 and Sunday 29 July 2018";}
        
            
        


 