
    
  



@{ViewBag.Title = "Driver safety";}
@{ViewBag.Keywords = "Drivers,Safety and security,Driving,TfL";}
@{ViewBag.Url = "/corporate/safety-and-security/road-safety/driver-safety";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/safety-and-security/index">Safety & security</a></li>
                
            
                 <li><a href="/corporate/safety-and-security/road-safety">Reducing road danger</a></li>
                
            
            
                <li><span class="last-breadcrumb">Driver safety</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Driver safety</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Car drivers and their passengers are more likely to be hurt on London's roads than anyone else. We are committed to developing measures that ensure all drivers are safe on our roads.
        
      </div>
    
    
      
      
           
      <div>

<p>Young drivers are especially at risk. Their lack of experience can mean they take undue risks. Almost 15% of collisions involving 17-25 year old drivers were speed related. Bus and coach drivers also present us with unique challenges.</p>
<p>Here are some of the steps we're taking:</p>
<h2>Think slow</h2>
<p>We've taken a range of steps to cut speeding across London. For example, we've supported the introduction of 20mph schemes, including Home Zones on Borough roads and speed cameras in over 300 key spots.</p>
<h2>Coaching for coaches</h2>
<p>To make coach drivers more aware of the danger they can pose to cyclists, pedestrians and other road users, we run special training schemes for drivers from London's major coach companies.</p>
<h2>Bus to bike</h2>
<p>Bus drivers have received cycle awareness training at a series of road shows. These events gave them the opportunity to experience a cyclist's view when approaching, overtaking and being followed by a bus.</p>
<h2>Exchanging Places</h2>
<p>Exchanging Places events are aimed at bus drivers and cyclists. These are run with the assistance of the police and are similar to those organised for Heavy Goods Vehicle (HGV) drivers giving cyclists the opportunity to sit in the driver's seat of a HGV or bus. This allows the cyclist to see what the driver can and cannot see at the kerbside and directly in front of their vehicle. There is also the opportunity to try Exchanging Places as a virtual reality experience. These new mobile headsets allow 10 people to participate at once, and is accessible for all ages.</p>
<p>Email <a href="mailto:exchanging.places&#64;met.police.uk">exchanging.places&#64;met.police.uk</a> to suggest a location for an exchanging places event.</p>
<h2>Vision Zero for London</h2>
<p>Transport for London is committed to reducing road danger, by working in partnership with the police, London boroughs and stakeholders to achieve the Vision Zero ambition of creating a road network free from death and serious injury by 2041. <a href="/corporate/safety-and-security/road-safety/vision-zero-for-london">Read more information on Vision Zero.</a></p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/safety-and-security/road-safety" class="heading">
                    <h2 id="sub-menu-heading">Reducing road danger<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/vision-zero-for-london">Vision Zero for London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/london-collision-map">London collision map</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/safety-enforcement-cameras">Safety enforcement cameras</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/bus-safety">Bus safety</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/cycle-safety">Cycle safety</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/cycle-security-plan">Cycle security</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/driver-safety">Driver safety</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/walking-safety">Walking safety</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/community-roadwatch">Community Roadwatch</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/safe-streets-for-london">Safe Streets for London</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/travel-information/safety/road-safety-advice/motorcycling-in-london" class="plain-button">Motorcycle safety</a>
    </div>
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://think.direct.gov.uk/" class="plain-button">THINK!</a>
<a href="https://www.gov.uk/government/organisations/department-for-transport" class="plain-button">Department for Transport</a>
<a href="http://content.met.police.uk/Home" class="plain-button">Metropolitan Police</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Developing measures to ensure drivers are safe on London's roads";}
        
            
        


 