
    
  



@{ViewBag.Title = "Safety enforcement cameras";}
@{ViewBag.Keywords = "Coach drivers,Drivers,Freight industry,Taxi and private hire,Safety and security,Driving,TfL";}
@{ViewBag.Url = "/corporate/safety-and-security/road-safety/safety-enforcement-cameras";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/safety-and-security/index">Safety & security</a></li>
                
            
                 <li><a href="/corporate/safety-and-security/road-safety">Reducing road danger</a></li>
                
            
            
                <li><span class="last-breadcrumb">Safety enforcement cameras</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Safety enforcement cameras</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We're doing what we can to stop drivers speeding so our roads are much safer.
        
      </div>
    
    
      <p>
Safety cameras play a vital role in our campaign.</p>
<p>We've installed
speed and red light cameras at sites where people have been killed or
seriously injured (KSI) due to a driver going too fast or running a red
light. On roads where we've introduced them, the number of people killed
or seriously injured (KSI) fell by a dramatic 50%. That means
our cameras help prevent 500 deaths or serious injuries each year.
</p>
<p>TfL is currently undergoing a safety camera replacement programme, upgrading from wet film to digital cameras. Approximately 700 spot speed and red light cameras will be upgraded, with the programme completion scheduled for the end of 2016.</p>
<p>Four average speed camera trial routes will be installed across London as a part of the upgrade programme. The trial routes include:</p>
<ol>
    <li>A40 (between the Polish War Memorial and Paddington Slip Road)</li>
    <li>A406 North Circular Road (between Hanger Lane and Bounds Green Road)</li>
    <li>A316 (between the M3 and Staveley Road)</li>
    <li>A2 (between the Blackwall Tunnel and Dartford Heath)</li>
</ol>
<p>The A40 was the first of the systems to go live in October 2015 followed by the A406 and A316 systems in June 2016, while the A2 system is scheduled to go live in 2017. <a href="https://tfl.gov.uk/info-for/media/press-releases/2014/september/tfl-upgrades-london-s-safety-cameras">Replacement programme press release</a></p>
<p>Below is a map of our safety cameras:</p>
      
           
      


  
    @{ Html.RenderAction("EmbeddedMap", "Maps", new
      {                     
        layers="gla-boundary,congestion-charging-zone,low-emissions-zone,station-stop,cycle-hire,jam-cam,red-light-cam,speed-cam,variable-message-sign,coach-ban-areas,coach-parking", 
        layersVisibleAtLoad="jam-cam,red-light-cam,speed-cam",
        centreLat="",
        centreLng="",
        allowNationalBounds="0",
        zoom="14",
        showSatelliteMap="0",
        showUserLocation="1", 
        kmlUrl=""
      });
    }
  
 
 <div>

<p>Here are some more ways we're putting the brakes on speed:</p>
<h2>London Speed Awareness Scheme</h2>
<p>When a driver is
caught breaking the speed limit by a small amount, we work with London's
police to encourage them to drive more slowly and more safely under the
London Speed Awareness Scheme. After coming to one of these workshops,
drivers are much less likely to go over the speed limit.</p>
<h2>London Traffic Light Awareness Scheme</h2>
<p>These
workshops educate drivers about the dangers of ignoring traffic signals.
The scheme gives drivers the opportunity to assess their own driving
and to give them the information they need to make the right choices
about how they drive in future.</p>
<h2>Be safe, slow down</h2>
<p>Reducing the average speed on
London's roads by just one mile per hour would cut the number of
crashes by 6%. Speed was reported as a factor in almost half (46%) of all fatal collisions, and 39% of KSI collisions in 2015.</p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/safety-and-security/road-safety" class="heading">
                    <h2 id="sub-menu-heading">Reducing road danger<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/vision-zero-for-london">Vision Zero for London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/london-collision-map">London collision map</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/safety-enforcement-cameras">Safety enforcement cameras</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/bus-safety">Bus safety</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/cycle-safety">Cycle safety</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/cycle-security-plan">Cycle security</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/driver-safety">Driver safety</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/walking-safety">Walking safety</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/community-roadwatch">Community Roadwatch</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/safe-streets-for-london">Safe Streets for London</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://think.direct.gov.uk/" class="plain-button">THINK!</a>
<a href="https://www.gov.uk/government/organisations/department-for-transport" class="plain-button">Department for Transport</a>
<a href="http://content.met.police.uk/Home" class="plain-button">Metropolitan Police</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "How we aim to stop drivers speeding and make our roads safer";}
        
            
        


 