
    
  



@{ViewBag.Title = "Walking safety";}
@{ViewBag.Keywords = "Pedestrians,Safety and security,Walking,TfL";}
@{ViewBag.Url = "/corporate/safety-and-security/road-safety/walking-safety";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/safety-and-security/index">Safety & security</a></li>
                
            
                 <li><a href="/corporate/safety-and-security/road-safety">Reducing road danger</a></li>
                
            
            
                <li><span class="last-breadcrumb">Walking safety</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Walking safety</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        To encourage Londoners to walk more, we're taking big steps to make the Capital's roads even safer for pedestrians.
        
      </div>
    
    
      
      
           
      <div>

<p>We'd like to see more Londoners use their feet. It's good for the environment and your health. That's why we support the 'Make Walking Count' campaign. It aims to increase the number of trips made by foot by one million a day by 2031.</p>
<h2>Pedestrian Countdown</h2>
<p>Pedestrian Countdown technology is in place at more than 900 traffic light sites across London as of December 2016.</p>
<p>Pedestrian Countdown at traffic signals tells you how long you have to cross the road after the green man light has gone out.</p>
<p>The technology also helps to smooth traffic flow by a few seconds for drivers, motorcyclists, buses and cyclists. The guidelines for installing Pedestrian Countdown are on the <a href="/corporate/publications-and-reports/streets#countdown">Streets publications page</a>.</p>
<h2>Small steps</h2>
<p>Keeping children safe is a top priority. That's why we teach them road safety from a very young age. Popular schemes include <a href="/info-for/schools-and-young-people/teaching-resources/children-s-traffic-club-london">The Children's Traffic Club London</a> (three to four-year-olds) and the <a href="/info-for/schools-and-young-people/teaching-resources/junior-travel-ambassadors">Junior Travel Ambassadors</a> scheme (nine to 11-year-olds).</p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/safety-and-security/road-safety" class="heading">
                    <h2 id="sub-menu-heading">Reducing road danger<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/vision-zero-for-london">Vision Zero for London</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/london-collision-map">London collision map</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/safety-enforcement-cameras">Safety enforcement cameras</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/bus-safety">Bus safety</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/cycle-safety">Cycle safety</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/cycle-security-plan">Cycle security</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/driver-safety">Driver safety</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/walking-safety">Walking safety</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/community-roadwatch">Community Roadwatch</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/safety-and-security/road-safety/safe-streets-for-london">Safe Streets for London</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/info-for/schools-and-young-people/teaching-resources" class="plain-button">Teaching resources</a>
<a href="/modes/walking/index" class="plain-button">Walking</a>
    </div>
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://think.direct.gov.uk/" class="plain-button">THINK!</a>
<a href="https://www.gov.uk/government/organisations/department-for-transport" class="plain-button">Department for Transport</a>
<a href="http://content.met.police.uk/Home" class="plain-button">Metropolitan Police</a>
<a href="http://www.rospa.com/" class="plain-button">The Royal Society for the Prevention of Accidents</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Taking steps to make the Capital's roads even safer for pedestrians. ";}
        
            
        


 