
    
  



@{ViewBag.Title = "Independent shops & markets";}
@{ViewBag.Keywords = "Cyclists,Cycling,TfL";}
@{ViewBag.Url = "/modes/cycling/santander-cycles/leisure-routes/independent-shops-and-markets";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/cycling/index">Cycling</a></li>
                
            
                 <li><a href="/modes/cycling/santander-cycles">Santander Cycles</a></li>
                
            
                 <li><a href="/modes/cycling/santander-cycles/leisure-routes">Leisure routes</a></li>
                
            
            
                <li><span class="last-breadcrumb">Independent shops & markets</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Independent shops & markets</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Escape the masses in the shopping centres or on Oxford Street, and head towards London's independent shops and markets. 
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/admiral-vernon-leisure-cycling-route.jpg" alt="Admiral Vernon pub" />
        
        
        
    </div>   
 </div>
 <div>

<p> This ride is perfect for a spot of shopping with plenty of unique gifts, vintage clothes and jewellery, leaving you spoilt for choice. You'll probably spend more time off the bike than on it. The use of cycle lanes and canal towpaths make this route a pleasant ride for anyone who wants to avoid the busy streets. </p>
<p>Start the day by browsing the world-famous Camden Market. The market is open daily but the weekends tend to be the most popular, when more of the stalls are open. There are also plenty of food stalls here.</p>
<p>
You can pick up a Cycle Hire bike from Castlehaven Road which is opposite the Hawley Arms pub. Wheel it down to the canal path and once you are clear of the crowds cycle along the canal towards Angel.</p>
<p>This peaceful section of the canal will take you all the way to Angel. It'll be easy to spot when it's time to get back on the road as the canal will come to an end at a huge tunnel which passes under Angel. </p>
<p>After a short ride through Angel you'll reach Camden Passage. This tiny street is filled with small shops and hosts an antique market on Wednesdays and Saturdays. </p>
<p>Near here is Bobbins Bicycles which is a shop selling fashionable cycling accessories. It is open from Tuesday to Saturday.</p>
<p>Exmouth Market is the next stop. The area is home to charming little cafes, restaurants and clothes shops. The market is open from Thursday to Saturday. </p>
<p>Finally, hire another bike and head towards Spitalfields Market. There's plenty to see around this part of London. From quirky gifts to delicious food - it's a great area to explore on foot. Dock your hire bike at the Norton Folgate docking station or nearby on Appold Street.</p>
<p>Depending on the day you choose to visit there will be different markets open. If you are here on a Sunday then there also the fresh flower market on Columbia Road. There is also Brick Lane market and the Sunday Upmarket which sells clothes and jewellery. </p>
<p>Distance: 4.8 miles (7.7 km)</p>
<p>Route supplied by <a href="http://www.londoncyclist.co.uk/">the London Cyclist Blog</a>. </p>
</div>
 


  
    @{ Html.RenderAction("EmbeddedMap", "Maps", new
      {                     
        layers="cycle-hire", 
        layersVisibleAtLoad="cycle-hire",
        centreLat="",
        centreLng="",
        allowNationalBounds="0",
        zoom="16",
        showSatelliteMap="0",
        showUserLocation="1", 
        kmlUrl="/cdn/static/cms/map-layers/tour-of-londons-independent-shops-and-markets.kml"
      });
    }
  
 
 <div>

<h2>Directions: Camden Market-Passage</h2>
<p>Hire a bike from Castlehaven Road near the Camden Market.</p>
<p>Walk the bike back towards Camden Market and cross over to the other side of the road. To get onto Regent's Canal, look for the path marked Camden Lock East Yard.</p>
<p>Once you're on the canal, continue under the bridge and cycle towards Islington. Remember, pedestrians have priority at all times.</p>
<p>When you can't go any further along the canal (because of the tunnel), take the path up to the left. On Muriel Street, continue left followed by a right onto Carnegie Street.</p>
<p>Continue left on Charlotte Terrace and then right onto Copenhagen Street.</p>
<p>Turn right using the cycle link onto Cloudesley Road and left on Ritchie Street.</p>
<p>The route continues straight ahead on Bromfield Street. Using the cycle link, continue to the left.</p>
<p>At the traffic lights, continue straight ahead over the junction and walk your bike along the Camden Passage.</p>
<h2>Camden Passage to Exmouth Market</h2>
<p>Continue to the right. After the Camden Passage, continue straight ahead to re-join Upper Street.</p>
<p>Keep going straight, over the junction, and then take a right turn onto Arlington Way. You'll pass by Bobbin Bicycles.</p>
<p>Turn right at the end of Arlington Way.</p>
<p>Turn left on Rosoman Street just after Finsbury Town Hall. Exmouth Market is located on the right.</p>
</div>
 <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/one-of-a-kind-quirky-london-cycling.jpg" alt="One of a kind" />
        
        
        
    </div>   
 </div>
 <div>

<h2>Exmouth Market to Spitalfields Market</h2>
<p>Continue straight down Skinner Street, along the cycle path, and turn right onto St. John Street.</p>
<p>Continue straight ahead, over Clerkenwell Road, and you'll reach Smithfield Market. Take a left onto Charterhouse Street and then the next right onto Lindsey Street.</p>
<p>Head left onto Long Lane and continue straight ahead over the junction.</p>
<p>Keep going straight ahead. Beech Street will become Chiswell Street.</p>
<p>When you reach Finsbury Square, turn left and then take the next right. Continue straight ahead onto Christopher Street.</p>
<p>Take the next right followed by the second left onto Sun Street and follow the road as it curves to the left and becomes Appold Street.</p>
<p>Turn right on to Primrose Street and, at the end, there will be a docking station on the left. Spitalfields Market is straight ahead.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/cycling/index" class="heading">
                    <h2 id="sub-menu-heading">Cycling<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/new-to-cycling">Get started with cycling</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/modes/cycling/santander-cycles">Santander Cycles</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/how-it-works">How it works</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/what-you-pay">What you pay</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/find-a-docking-station">Find a docking station</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/register-for-your-own-key">Santander Cycles membership</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/leisure-routes">Leisure routes</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/leisure-routes/saturday-markets">Saturday markets</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/leisure-routes/independent-shops-and-markets">Independent shops & markets</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/leisure-routes/londons-secret-gardens">London's secret gardens</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/leisure-routes/quirky-london">Quirky London</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/leisure-routes/sporting-sights">Sporting sights</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/leisure-routes/route-ideas-for-explore-london-ticket-holders">Route ideas for Explore London ticket holders</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/lost-stolen-or-faulty">Lost, stolen or faulty</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/community">Santander Cycles app</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/suggestions-and-complaints">Suggestions & complaints</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/business-accounts">Santander Cycles business accounts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/blaze-laserlights">Blaze Laserlights</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london">Cycling in London</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps">Routes & maps</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/cycle_hire" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/cycle_hire" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Discover London's independent shops and markets by bike";}
        
            
        


 