
    
  



@{ViewBag.Title = "London's secret gardens";}
@{ViewBag.Keywords = "Cyclists,Cycling,TfL";}
@{ViewBag.Url = "/modes/cycling/santander-cycles/leisure-routes/londons-secret-gardens";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/cycling/index">Cycling</a></li>
                
            
                 <li><a href="/modes/cycling/santander-cycles">Santander Cycles</a></li>
                
            
                 <li><a href="/modes/cycling/santander-cycles/leisure-routes">Leisure routes</a></li>
                
            
            
                <li><span class="last-breadcrumb">London's secret gardens</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>London's secret gardens</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        The tranquility and calm offered by London's hidden gardens are a welcome break from the whirlwind that life in London can be. Yet many of them go unnoticed, overshadowed by grander tourist destinations. You only get a sneak glimpse of some parks from the gate, others are open to everyone seven days a week.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/gardens-leisure-cycling-route.jpg" alt="Holland Park" />
        
        
        
    </div>   
 </div>
 <div>

<p>Hire a bike from the Ladbroke Grove central docking station. Nearby is a very famous little park in London. In the film Notting Hill, Rosmead Gardens is where Julia Roberts and Hugh Grant hop over the fence to walk around. Unfortunately, the garden is very private so you can only catch glimpses from the gate.</p>
<p>The next stop is Holland Park and more specifically a tiny little park in the centre of it called Kyoto Garden. This was created as part of the 1991 London Festival of Japan and provides Japanese-style gardens.</p>
<p>Afterwards, pedal onwards to Hyde Park. From the Serpentine bridge you'll have incredible views of London. Once you reach Lancaster Gate, take some time to try to spot the Hyde Park Pet Cemetery. Looking through the railings you should be able to spot the tiny Victorian era tomb stones with messages dedicated to beloved pets.</p>
<p>Finally, the route continues down towards Chelsea Physic Gardens. You'll need to dock your bike on the King's Road in front of the Royal Avenue House. From there it is a short walk down to the gardens through a very nice part of London.</p>
<p>The Chelsea Physic Gardens are the oldest botanical gardens in the UK. Note that there is an entry fee for the garden and it isn't always open to the public so it's worth checking their website before your visit.</p>
<p>As an alternative, very near here is also the Royal Hospital Grounds and the National Army Museum. Both are worth of a visit if you are in the area with some time to spare.</p>
</div>
 


  
    @{ Html.RenderAction("EmbeddedMap", "Maps", new
      {                     
        layers="cycle-hire", 
        layersVisibleAtLoad="cycle-hire",
        centreLat="",
        centreLng="",
        allowNationalBounds="0",
        zoom="16",
        showSatelliteMap="0",
        showUserLocation="1", 
        kmlUrl="/cdn/static/cms/map-layers/londons-secret-gardens.kml"
      });
    }
  
 
 <div>


        Distance: 6.7 miles (10.7 km)
        <p>Route supplied by <a href="http://www.londoncyclist.co.uk/">the London Cyclist Blog</a>.</p>
         
    
</div>
 <div>

<h2>Directions: Ladbroke Gr-Holland Pk </h2>
<p>Start on Rosmead Road and take the right onto Lansdowne Road.</p>
<p>Take the first left onto Lansdowne Rise.</p>
<p>Continue right on Lansdowne Crescent and turn right onto Ladbroke Grove after St John's Church.</p>
<p>Continue straight on Ladbroke Grove and at the traffic lights turn right onto Holland Park Avenue. </p>
<p>Shortly after turning, look for the turn to the left marked Holland Walk, where you'll need to wheel your bike onto the pavement.</p>
<p>Follow the path uphill and take the right turn into Holland Park. Cycling isn't allowed in the park, so this docking station is a good place to leave your bike. </p>
<h2>Holland Park to Kyoto Gardens</h2>
<p>Once you're inside the park, turn to the right. </p>
<p>Shortly afterwards, take the turn to the left and walk straight ahead to Kyoto Gardens. </p>
</div>
 <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/peacock.jpg" alt="Peacock" />
        
        
        
    </div>   
 </div>
 <div>


</div>
 <div>

<h2>Kyoto Gardens to Hyde Park</h2>
<p>Double back on yourself to return to Holland Walk.</p>
<p>Continue down Holland Walk and turn left onto Kensington High Street.</p>
<p>Cycle down Kensington High Street and take the left turn just before the Royal Garden Hotel. You may need to walk your bike past the security gates here.</p>
<p>Take the first road on the right, cycle past the small car park and into Hyde Park.</p>
<h2>Hyde Park to Chelsea Physic Garden</h2>
<p>Carefully cycle straight ahead along the path through Hyde Park. Once you reach the road, take a left and continue on the cycle path next to the pavement.</p>
<p>After the Pet Cemetery, follow the road inside Hyde Park as it curves to the right.</p>
<p>Leave the road and take the right turn, past the docking station and Speaker's Corner. Follow the cycle path as it cuts down through Hyde Park.</p>
<p>Stay on the cycle path as it curves round to the right.</p>
<p>Take the left turn on the crossroads, which will take you out of Hyde Park. You'll cross the sandy path allocated to horse riders.</p>
<p>At the traffic lights, cross straight ahead and use the cycle lane on King William Street. Stay on this road straight ahead as it becomes Lowndes Square and then Lowndes Street.</p>
<p>Lowndes Street will become Chesham Street and you'll need to turn down Lyall Street.</p>
<p>Turn right onto Eaton Square and follow it until Sloane Square.</p>
<p>Take the third exit, straight over the roundabout at Sloane Square. Cycle down Kings Road. Alternatively, you can dismount and use the pedestrian crossings around the junction.</p>
<p>Dock your bike at Royal Avenue. From here you can walk towards Chelsea Physic Garden. Go down Royal Avenue, take a right on Leonard Terrace and then left on Ormonde Gate. At the end of Ormonde, take a right turn down and follow it to the Chelsea Physic Garden.</p>
<p>&nbsp;</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/cycling/index" class="heading">
                    <h2 id="sub-menu-heading">Cycling<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/new-to-cycling">Get started with cycling</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/modes/cycling/santander-cycles">Santander Cycles</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/how-it-works">How it works</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/what-you-pay">What you pay</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/find-a-docking-station">Find a docking station</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/register-for-your-own-key">Santander Cycles membership</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/leisure-routes">Leisure routes</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/leisure-routes/saturday-markets">Saturday markets</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/leisure-routes/independent-shops-and-markets">Independent shops & markets</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/leisure-routes/londons-secret-gardens">London's secret gardens</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/leisure-routes/quirky-london">Quirky London</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/leisure-routes/sporting-sights">Sporting sights</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/leisure-routes/route-ideas-for-explore-london-ticket-holders">Route ideas for Explore London ticket holders</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/lost-stolen-or-faulty">Lost, stolen or faulty</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/community">Santander Cycles app</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/suggestions-and-complaints">Suggestions & complaints</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/business-accounts">Santander Cycles business accounts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/blaze-laserlights">Blaze Laserlights</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london">Cycling in London</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps">Routes & maps</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/cycle_hire" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/cycle_hire" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Discover London's secret gardens by bike";}
        
            
        


 