
    
  



@{ViewBag.Title = "Quirky London";}
@{ViewBag.Keywords = "Cyclists,Cycling,TfL";}
@{ViewBag.Url = "/modes/cycling/santander-cycles/leisure-routes/quirky-london";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/cycling/index">Cycling</a></li>
                
            
                 <li><a href="/modes/cycling/santander-cycles">Santander Cycles</a></li>
                
            
                 <li><a href="/modes/cycling/santander-cycles/leisure-routes">Leisure routes</a></li>
                
            
            
                <li><span class="last-breadcrumb">Quirky London</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Quirky London</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Step away from the tourist clich&eacute;s and discover another side to the city. From ancient burial grounds, to creepy museums, creative coffees and brightly coloured squares, London has hidden gems in every corner to suit every taste.  
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/quirky-london-alice-shop.jpg" alt="Alice's shop" />
        
        
        
    </div>   
 </div>
 <div>

<p>Start this short ride by hiring a bike from Hop Exchange docking station near London Bridge. Travel a short distance down Southwark Street and turn left on Redcross Way. Here you'll find the Cross Bones Graveyard. This was a graveyard for prostitutes and paupers refused burial in church grounds on account of being judged as sinners.</p>
<p>The otherwise unnoticeable graveyard is today marked by ribbons and other notes of sympathy that have been placed by locals. The site is said to contain the bodies of over 15,000 people.</p>
<p>Head across the Thames and follow the cycle route straight ahead. The next sight is London's oldest church. It is the church of St Bartholomew the Great which was originally founded in 1123. It is one of the oldest surviving examples of a timber-frame house front. Near here is also the statue of the Golden Boy.</p>
<p>The statue marks the spot where the Great Fire of London ended back in 1666. It was long believe that the fire was God's way of punishing the citizens of London for their gluttony. The golden fat boy is a reminder not to commit this sin again.</p>
<p>The next interesting stop is the Hunterian Museum. This contains curious displays of anatomical specimens.</p>
<p>The tour ends at Neal's Yard. The nearest docking station is on Drury Lane. Neal's Yard is a colourful little nest in the heart of London. It is home to a number of quirky shops. Near here there's also Freud's bar, serving cocktails to a small crowd underground. There's also the Monmouth coffee shop which coffee lovers will adore.</p>
</div>
 


  
    @{ Html.RenderAction("EmbeddedMap", "Maps", new
      {                     
        layers="cycle-hire", 
        layersVisibleAtLoad="cycle-hire",
        centreLat="",
        centreLng="",
        allowNationalBounds="0",
        zoom="16",
        showSatelliteMap="0",
        showUserLocation="1", 
        kmlUrl="/cdn/static/cms/map-layers/quirky.kml"
      });
    }
  
 
 <div>


        <p>Distance: 3.4 miles (5.5 km)</p>
        <p>Route supplied by <a href="http://www.londoncyclist.co.uk/">the London Cyclist Blog</a>.</p>
    
</div>
 <div>

<h2>Directions</h2>
<h3>Hop Exchange to Cross Bones</h3>
<p>Undock your bike on Southwark Street and cycle down the road, taking the first left on to Redcross Way.</p>
<p>Around halfway down the street you'll see the Cross Bones Graveyard. Double back on yourself on to Southwark Street and turn left. Take the second right to cycle over Southwark Bridge. Alternatively, you can dismount and use the pedestrian crossing to the left of Thrale Street.</p>
<h3>Cross Bones to Fat Boy</h3>
<p>When you reach the traffic lights, continue straight ahead and on to the cycle link on Queen Street. Keep going straight ahead, crossing over the five junctions.</p>
<p>At the end of King Street, take a left on to Gresham Street, followed by the second right on to Wood Street.</p>
<p>Take the next left down London Wall, followed by the third exit at the roundabout, down Aldersgate Street. Alternatively, you can dismount and use the pedestrian crossings around the junction.</p>
<p>Take the next left on to Long Lane, followed by a sharp left on to Cloth Street and then a sharp right on to Middle Street. Continue straight ahead and on the left you'll see the church of St Bartholomew-the-Great.</p>
<p>Follow the roundabout around and head down Giltspur Street on the left. On the corner of Cock Lane, turn right and you'll see the Golden Fat Boy.</p>
<h3>Fat Boy to Hunterian Museum</h3>
<p>Pedal down Cock Lane and turn right at the end. You'll reach Smithfield Market where you'll need to take a right on the main road, up Farringdon Street. Alternatively, you can dismount and use the pedestrian crossings around the junction.</p>
<p>Take the next left on to Charterhouse Street.</p>
<p>At the roundabout, take the third exit down New Fetter Lane and continue straight ahead.</p>
<p>At the end of New Fetter Lane, turn right on to Fleet Street, followed by the next right on to Chancery Lane.</p>
<p>Take the first left on to Carey Street and then turn right on Serle Street.</p>
<p>Turn left onto Lincoln's Inn Fields and you'll be at the Hunterian Museum, which is inside the Royal College of Surgeons.</p>
</div>
 <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/neals-yard-quirky-london-cycling.jpg" alt="Neals Yard" />
        
        
        
    </div>   
 </div>
 <div>

<h2>Hunterian Museum to Neal's Yard</h2>
<p>After the museum, take a right onto Lincoln's Inn Fields, followed by a left shortly after, onto Remnant Street.</p>
<p>Continue straight ahead onto Great Queen Street and dock your bike on Drury Lane.</p>
<p>Continue on foot up Drury Lane and take the left onto Shorts Gardens. Continue straight ahead and, after Neal Street, head into Neal's Yard.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/cycling/index" class="heading">
                    <h2 id="sub-menu-heading">Cycling<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/new-to-cycling">Get started with cycling</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/modes/cycling/santander-cycles">Santander Cycles</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/how-it-works">How it works</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/what-you-pay">What you pay</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/find-a-docking-station">Find a docking station</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/register-for-your-own-key">Santander Cycles membership</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/leisure-routes">Leisure routes</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/leisure-routes/saturday-markets">Saturday markets</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/leisure-routes/independent-shops-and-markets">Independent shops & markets</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/leisure-routes/londons-secret-gardens">London's secret gardens</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/leisure-routes/quirky-london">Quirky London</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/leisure-routes/sporting-sights">Sporting sights</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/leisure-routes/route-ideas-for-explore-london-ticket-holders">Route ideas for Explore London ticket holders</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/lost-stolen-or-faulty">Lost, stolen or faulty</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/community">Santander Cycles app</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/suggestions-and-complaints">Suggestions & complaints</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/business-accounts">Santander Cycles business accounts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/blaze-laserlights">Blaze Laserlights</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london">Cycling in London</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps">Routes & maps</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/cycle_hire" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/cycle_hire" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Quirky London - step away from the tourist cliches";}
        
            
        


 