
    
  



@{ViewBag.Title = "Route ideas for Explore London ticket holders";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/cycling/santander-cycles/leisure-routes/route-ideas-for-explore-london-ticket-holders";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/cycling/index">Cycling</a></li>
                
            
                 <li><a href="/modes/cycling/santander-cycles">Santander Cycles</a></li>
                
            
                 <li><a href="/modes/cycling/santander-cycles/leisure-routes">Leisure routes</a></li>
                
            
            
                <li><span class="last-breadcrumb">Route ideas for Explore London ticket holders</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Route ideas for Explore London ticket holders</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Buy a joint or combined Explore London ticket and have a day out exploring London by bike, river and cable car. Here are some routes to help you make the most of your ticket.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      
<div>



<h2>Explore London joint ticket route ideas</h2>


<p>With an <a href="/modes/river/explore-london-tickets">Explore London joint ticket</a>, you can discover London by Santander Cycles bike and <a href="https://www.thamesclippers.com/">MBNA Thames Clippers</a> River bus.</p>

<h3>Route 1: Exploring Maritime Greenwich, Canary Wharf and the Isle of Dogs</h3>

<p>Take the River Bus to Greenwich, where you'll spend the morning exploring. Then go on a Santander Cycles bike ride to explore Canary Wharf and the Isle of Dogs, before getting a River Bus back to central London.</p>

<ol>
	<li>Take an MBNA Thames Clippers River Bus from Westminster Pier to Greenwich Pier</li>
	<li>Explore the historic Maritime Greenwich. There's lots to see in the area including the Cutty Sark, Old Royal Naval College, National Maritime Museum and the Royal Observatory</li>
	<li>Have lunch at Greenwich Market, or enjoy traditional fish and chips at one of the waterfront pubs</li>
	<li>After lunch, walk through the Greenwich Foot Tunnel to the Isle of Dogs and hire a Santander Cycles bike at Island Gardens using your Explore London promo code. Follow our suggested cycle route (approx. 1 hour)&nbsp;and enjoy exploring Canary Wharf and the Isle of Dogs on two wheels, before docking your bike in Canary Wharf</li>
	<li>Enjoy a coffee and some shopping at Canary Wharf (there are lots of shops, cafes and restaurants located underground), before taking an MBNA Thames Clippers River Bus from Canary Wharf Pier back to central London</li>
</ol>

<p>Download the cycle route:</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/isle-of-dogs-leisure-route.pdf">
    <div class="document-download-text">
        <p>Santander Cycles Leisure Route - Discover the Isle of Dogs</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 400KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.39 -->
 
</div>

</div>
 
<div>




<h3>Route 2: Exploring the Tower of London, the Docklands and Canary Wharf</h3>
<p>Take the River Bus to the Tower of London, then go on a Santander Cycles bike ride to explore London's historic Docklands. Have dinner or drinks in Canary Wharf, before taking a sunset River Bus back to central London.</p>
<ol>
    <li>Take an MBNA Thames Clippers River Bus from Westminster Pier to Tower Pier. Get off and spend the morning exploring the Tower of London (please note, the entrance fee is not included in the Explore London ticket)</li>
    <li>Enjoy lunch at one of the many pubs and restaurants in St Katharine Docks nearby</li>
    <li>Hire a Santander Cycles bike from St Katharine Docks using your Explore London promo code and explore the historic streets and docks of Wapping, including Tobacco Dock and Shadwell Basin following our suggested cycle route (approx. 1-1.5 hours)</li>
    <li>Dock your bike near Canary Wharf and stop for dinner or a drink. Head back by River Bus to Westminster at sunset, and see views of Tower Bridge, Tate Modern, Big Ben and the Houses of Parliament</li>
</ol>
<p>Download the cycle route:</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/docklands-and-skyscrapers-leisure-route.pdf">
    <div class="document-download-text">
        <p>Santander Cycles Leisure Route - Historic Docklands & Skyscrapers</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 390KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.38 -->
 
</div>

</div>
 
<div>



<h2>Explore London combined ticket route ideas</h2>


<p>With an <a href="/modes/river/explore-london-tickets">Explore London combined ticket</a>, you can discover London by Santander Cycles bike, MBNA Thames Clippers River bus and Emirates Air Line cable car.</p>
<h3>Route 1: Exploring the Tower of London, the Docklands and enjoying sunset on the Emirates Air Line cable car</h3>
<p>Catch the River Bus to the Tower of London, before hiring a Santander Cycles bike to explore the historic Docklands area. From Canary Wharf catch a River Bus to North Greenwich, before taking a sunset flight on the Emirates Air Line cable car.</p>
<ol>
    <li>Take an MBNA Thames Clippers River Bus from Westminster Pier to Tower Pier, and spend the morning exploring the Tower of London (please note, the entrance price is not included in the Explore London ticket)</li>
    <li>Enjoy lunch at one of the many pubs and restaurants in St Katharine Docks nearby</li>
    <li>Hire a Santander Cycles bike from St Katharine Docks docking station using your ticket promo code and explore the historic streets and docklands of Wapping and Limehouse, including Tobacco Dock and Shadwell Basin, using our suggested route (approx.1.5-2 hours)</li>
    <li>Dock your bike at Canary Wharf and stop for a drink, before hopping on an MBNA Thames Clippers River Bus to North Greenwich Pier</li>
    <li>Enjoy a romantic sunset or night time flight on the Emirates Air Line cable car, before returning to North Greenwich Pier and getting a River Bus back to central London</li>
</ol>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/time-and-tides-leisure-route.pdf">
    <div class="document-download-text">
        <p>Santander Cycles Leisure Route - Time and Tides</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 664KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.65 -->
 
</div>

</div>
 
<div>




<h3>Route 2: Exploring Borough Market, London Bridge and Bankside, cycling through Westminster, and a flight on the Emirates Air Line</h3>
<p>Catch the River Bus to North Greenwich, and take a flight on the Emirates Air Line cable car, before getting a River Bus to London Bridge. Explore the London Bridge and Bankside area, then go on a Santander Cycles bike ride along the river to Westminster.</p>
<ol>
    <li>Take an MBNA Thames Clippers River Bus from Westminster Pier to North Greenwich Pier, where you can enjoy the Emirates Air Line cable car Discovery Experience</li>
    <li>Hop on another River Bus at North Greenwich Pier and get off at London Bridge City Pier</li>
    <li>Explore the riverbank area and have lunch at Borough Market. There's lots to see in the area, including Hay's Galleria, City Hall, views of The Shard, Bermondsey Street and the Fashion and Textile Museum, Southwark Cathedral, The Golden Hinde, Roman ruins and Clink Street, Shakespeare's Globe Theatre and Tate Modern </li>
    <li>Enjoy a walk along the river and then cross Blackfriars Bridge. Hire a Santander Cycles bike from Tallis Street docking station near the Embankment using your Explore London promo code, then enjoy a leisurely riverside cycle (approx. 1 hour) back towards Westminster on Cycle Superhighway 3, a segregated cycle way</li>
</ol>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/river-thames-and-changing-the-guard-leisure-route.pdf">
    <div class="document-download-text">
        <p>Santander Cycles Leisure Routes: The River Thames and Changing the Guard</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.53MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.53 -->
 
</div>
<h2>Other things to see and do along the Thames</h2>
<p>There are lots of interesting places to visit along the river near MBNA Thames Clippers piers. There are Santander Cycles docking stations near all the piers apart from Greenwich and North Greenwich. </p>
<p>Here is a list of attractions near the piers to help you plan what you want to see and do:</p>
<h3>Millbank Pier</h3>
<ul>
    <li>Tate Britain art gallery</li>
</ul>
<h3>Westminster Pier</h3>
<ul>
    <li>Houses of Parliament</li>
    <li>Westminster Abbey</li>
    <li>Churchill War Rooms</li>
    <li>Buckingham Palace and St James's Park</li>
    <li>Whitehall, 10 Downing Street and Horse Guards Parade</li>
</ul>
<h3>London Eye Pier</h3>
<ul>
    <li>
    <p>London Eye</p>
    </li>
</ul>
<h3>Embankment and Festival Piers</h3>
<ul>
    <li>Southbank Centre</li>
    <li>National Theatre</li>
    <li>BFI Southbank (British Film Institute)</li>
    <li>Gabriel's Wharf</li>
    <li>Oxo Tower</li>
</ul>
<h3>Bankside Pier</h3>
<ul>
    <li>Shakespeare's Globe Theatre</li>
    <li>Tate Modern art gallery</li>
</ul>
<h3>London Bridge City Pier</h3>
<ul>
    <li>Borough Market</li>
    <li>Southwark Cathedral</li>
    <li>The Shard</li>
    <li>Hay's Galleria</li>
    <li>Bermondsey Street and the Fashion and Textile Museum</li>
    <li>HMS Belfast</li>
    <li>Tower Bridge</li>
</ul>
<h3>Tower Pier</h3>
<ul>
    <li>Tower of London</li>
    <li>Leadenhall Market and Lloyds of London (1 Lime Street) </li>
    <li>Monument</li>
</ul>
<h3>St Katharine's Pier</h3>
<ul>
    <li>St Katharine Docks</li>
    <li>Historic docks and waterfront including Tobacco Dock and Shadwell Basin</li>
</ul>
<h3>Canary Wharf Pier</h3>
<ul>
    <li>Canary Wharf and the Isle of Dogs</li>
    <li>Museum of London Docklands</li>
</ul>
<h3>Masthouse Terrace Pier</h3>
<ul>
    <li>Canary Wharf and the Isle of Dogs</li>
    <li>Mudchute Park and City Farm</li>
</ul>
<h3>Greenwich Pier</h3>
<ul>
    <li>Old Royal Naval College</li>
    <li>Greenwich Market</li>
    <li>Cutty Sark</li>
    <li>National Maritime Museum</li>
    <li>The Royal Observatory and Peter Harrison Planetarium</li>
    <li>Greenwich Park</li>
    <li>Greenwich Foot Tunnel to Canary Wharf and the Isle of Dogs</li>
</ul>
<h3>North Greenwich Pier</h3>
<ul>
    <li>Emirates Air Line cable car and Aviation Experience exhibition</li>
    <li>The Crystal Sustainable Cities exhibition</li>
    <li>The O2 Arena</li>
</ul>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/cycling/index" class="heading">
                    <h2 id="sub-menu-heading">Cycling<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/new-to-cycling">Get started with cycling</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/modes/cycling/santander-cycles">Santander Cycles</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/how-it-works">How it works</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/what-you-pay">What you pay</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/find-a-docking-station">Find a docking station</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/register-for-your-own-key">Santander Cycles membership</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/leisure-routes">Leisure routes</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/leisure-routes/saturday-markets">Saturday markets</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/leisure-routes/independent-shops-and-markets">Independent shops & markets</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/leisure-routes/londons-secret-gardens">London's secret gardens</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/leisure-routes/quirky-london">Quirky London</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/leisure-routes/sporting-sights">Sporting sights</a></div></li>
                                    
 
                                                <li class="selected"><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/leisure-routes/route-ideas-for-explore-london-ticket-holders">Route ideas for Explore London ticket holders</a></div>
                                            
 
                                        </ul>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/lost-stolen-or-faulty">Lost, stolen or faulty</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/community">Santander Cycles app</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/suggestions-and-complaints">Suggestions & complaints</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/business-accounts">Santander Cycles business accounts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/blaze-laserlights">Blaze Laserlights</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london">Cycling in London</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps">Routes & maps</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/cycle_hire" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/cycle_hire" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/modes/river/explore-london-tickets" class="plain-button">Explore London tickets</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Day trip and cycle route ideas for Explore London ticket holders";}
        
            
        


 