
    
  



@{ViewBag.Title = "Saturday markets";}
@{ViewBag.Keywords = "Cyclists,Cycling,TfL";}
@{ViewBag.Url = "/modes/cycling/santander-cycles/leisure-routes/saturday-markets";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/cycling/index">Cycling</a></li>
                
            
                 <li><a href="/modes/cycling/santander-cycles">Santander Cycles</a></li>
                
            
                 <li><a href="/modes/cycling/santander-cycles/leisure-routes">Leisure routes</a></li>
                
            
            
                <li><span class="last-breadcrumb">Saturday markets</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Saturday markets</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Whether just window shopping or out to spend some cash, London's markets provide a lively urban environment that promises to awaken your senses. 
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/borough-market-cycling-leisure.jpg" alt="Borough Market" />
        
        
        
    </div>   
 </div>
 <div>

<p>
Start the day at Borough Market near London Bridge. You are in London's oldest fruit and vegetable market and this place is truly a foodie's dream. Fresh produce flows out of every corner and crevice. Energise yourself for a day of cycling by grabbing a smoothie or one of the famous sandwiches from Hobbs Pie and Mash.</p>
<p>Once you are ready to move on, the ride continues along National Cycle Route 4 towards Waterloo Bridge. As you cross Waterloo Bridge, take in the stunning views over London. On the other end, Covent Garden awaits.</p>
<p>There are plenty of small boutiques to browse here and you can also take a short detour to visit the <a href="http://www.ltmuseum.co.uk/">London Transport Museum</a> which houses the Capital's rich transport heritage.</p>
<p>After Covent Garden there are some short busy sections as you go past Trafalgar Square but things soon become relaxed and scenic as you turn into St James Park. After pedalling past Buckingham Palace you travel under Wellington Arch and into Hyde Park. The pace here feels nice and sedate and it makes for a fantastic picnic spot if the weather permits.</p>
<p>Finally, after a short ride down Bayswater Road, you'll reach Portobello Market. This is a large market but you have plenty of time to explore as it stays open as late as 18:30.</p>
<p>The market has a great variety from antiques to foods and crafts. There are also often live acts playing along the street so there's plenty here to see and experience in this lively part of London. </p>
</div>
 


  
    @{ Html.RenderAction("EmbeddedMap", "Maps", new
      {                     
        layers="cycle-hire", 
        layersVisibleAtLoad="cycle-hire",
        centreLat="",
        centreLng="",
        allowNationalBounds="0",
        zoom="16",
        showSatelliteMap="0",
        showUserLocation="1", 
        kmlUrl="/cdn/static/cms/map-layers/saturday-at-the-london-markets.kml"
      });
    }
  
 
 <div>


        Distance: 6.3 miles (10.1 km)
        <p>Route supplied by <a href="http://www.londoncyclist.co.uk/">the London Cyclist Blog</a>.</p>
         
    
</div>
 <div>

<h2>Directions: Borough-Covent Garden</h2>
<p>After Borough Market, hire a bike from Park Street and follow Park Street to the left until you turn right on to Sumner Street.</p>
<p>Continue on to Holland Street, past the Tate Modern.</p>
<p>At the end of Holland Street, turn to the left and continue down Hopton Street until you reach Southwark Street.</p>
<p>Turn right on to Southwark Street and take the next right after the railway bridge on to Blackfriars Road.</p>
<p>Continue straight ahead on Upper Ground until you head beneath Waterloo Bridge. Take the immediate left turn and use the cycle path to cycle up to Waterloo Bridge.</p>
<p>Cross over Waterloo Bridge and continue straight ahead on to Wellington Street using the cycle connection.</p>
<p>Take the second left on to Tavistock Street, followed by a right towards Covent Garden market.</p>
<h2>Covent Garden to Trafalgar Square</h2>
<p>After the market, continue down Henrietta Street, taking the turn to the left at the end.</p>
<p>At the end of Bedford Street, turn right to join the Strand. Alternatively, you can dismount and use the pedestrian crossing to the right of Bedford Street.</p>
<p>At the Trafalgar Square roundabout, take the third exit and cycle beneath Admiralty Arch. Alternatively, you can dismount and use the pedestrian crossings across Northumberland Avenue and Whitehall before recommencing cycling.</p>
<h2>Trafalgar Square to Hyde Park</h2>
<p>Continue straight ahead and turn right to go past Buckingham Palace and up Constitution Hill.</p>
<p>At the next roundabout, use the cycle link and go straight ahead beneath Wellington Arch.</p>
<p>On the other end, continue into Hyde Park.</p>
</div>
 <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/portobello-road-sign-leisure-cycling.jpg" alt="Portobello Road" />
        
        
        
    </div>   
 </div>
 <div>

<h2>Hyde Park to Portobello Road</h2>
<p>Inside Hyde Park, pedal along the cycle path that runs parallel to the horse track.</p>
<p>Cross over the road and use the cycle link to continue straight ahead through Hyde Park.</p>
<p>After passing The Round Pond on the right, take the right turn on the Broad Walk.</p>
<p>Turn left upon reaching Bayswater Road and continue straight ahead.</p>
<p>After Notting Hill Gate Tube station, turn right on to Pembridge Road. Alternatively, you can dismount and use the pedestrian crossing ahead of the junction.</p>
<p>At the small roundabout, continue on Pembridge Road on the right.</p>
<p>Turn left on to Portobello Road and dock your bike at the Chepstow Villas docking station.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/cycling/index" class="heading">
                    <h2 id="sub-menu-heading">Cycling<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/new-to-cycling">Get started with cycling</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/modes/cycling/santander-cycles">Santander Cycles</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/how-it-works">How it works</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/what-you-pay">What you pay</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/find-a-docking-station">Find a docking station</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/register-for-your-own-key">Santander Cycles membership</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/leisure-routes">Leisure routes</a></div>
                                        <ul>
                                            
                                                <li class="selected"><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/leisure-routes/saturday-markets">Saturday markets</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/leisure-routes/independent-shops-and-markets">Independent shops & markets</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/leisure-routes/londons-secret-gardens">London's secret gardens</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/leisure-routes/quirky-london">Quirky London</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/leisure-routes/sporting-sights">Sporting sights</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/leisure-routes/route-ideas-for-explore-london-ticket-holders">Route ideas for Explore London ticket holders</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/lost-stolen-or-faulty">Lost, stolen or faulty</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/community">Santander Cycles app</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/suggestions-and-complaints">Suggestions & complaints</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/business-accounts">Santander Cycles business accounts</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/santander-cycles/blaze-laserlights">Blaze Laserlights</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london">Cycling in London</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps">Routes & maps</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/cycle_hire" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/cycle_hire" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Explore London's markets by bike";}
        
            
        


 