
    
  



@{ViewBag.Title = "Cycle Skills";}
@{ViewBag.Keywords = "Cyclists,Cycling,TfL";}
@{ViewBag.Url = "/modes/cycling/cycling-in-london/cycle-skills";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/cycling/index">Cycling</a></li>
                
            
                 <li><a href="/modes/cycling/cycling-in-london">Cycling in London</a></li>
                
            
            
                <li><span class="last-breadcrumb">Cycle Skills</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Cycle Skills</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Whether you're a first-time rider or a regular cyclist looking to improve your skills, we fund free, tailored courses to suit your individual abilities and goals.
        
      </div>
    
    <div class="on-this-page">
      <p>Most local borough cycling teams will lend you a bike so you can take part in a Cycle Skills session. Check with your own local team. </p>
      
           
      <div class="clearfix">
    <div class="image-box left-float">
    
        
        
        <img src="/cdn/static/cms/images/basic-cycle-skills-teaser_rdax_400x250.jpg" alt="Basic cycle skills cartoon bike image" />
        
        
        
    </div>
    <h2>Basic cycle skills</h2>
<p>Learn to cycle with a free session tailored to you. You'll practice in a safe, off-road environment with a fully qualified instructor. In a session you'll learn the basics, build skills and gain confidence to navigate around your local area.</p>
<p>
<a href="/modes/cycling/start-cycling/cycle-training/request-cycle-training">Request a free session in the borough where you live, work or study</a></p>
 </div>
 <div class="clearfix">
    <div class="image-box left-float">
    
        
        
        <img src="/cdn/static/cms/images/urban-cycle-skills-teaser_rdax_400x250.jpg" alt="Urban Cycle Skills cartoon image" />
        
        
        
    </div>
    <h2>Urban cycle skills</h2>
<p>Improve your cycling skills with a free session tailored to you. You'll start in a safe off-road environment to refresh your cycling technique and develop new skills before moving on to practice on quiet roads.</p>
<p><a href="/modes/cycling/start-cycling/cycle-training/request-cycle-training">Request a free session in the borough where you live, work or study</a></p>
 </div>
 <div class="clearfix">
    <div class="image-box left-float">
    
        
        
        <img src="/cdn/static/cms/images/advanced-cycle-skills-teaser_rdax_400x250.jpg" alt="Advanced cycle skills cartoon bike image" />
        
        
        
    </div>
    <h2>Advanced cycle skills</h2>
<p>Perfect your cycling techniques with a free one-to-one session from a fully qualified trainer. Improve your performance when dealing with complex junctions, heavy traffic or cycling at night and receive assurance that you are cycling efficiently and effectively.</p>
<p><a href="/modes/cycling/start-cycling/cycle-training/request-cycle-training">Request a free session in the borough where you live, work or study</a></p>
 </div>
 <div class="clearfix">
    <div class="image-box left-float">
    
        
        
        <img src="/cdn/static/cms/images/family-cycle-skills-teaser_rdax_400x250.jpg" alt="Family cycle skills cartoon bike image" />
        
        
        
    </div>
    <h2>Family cycle skills</h2>
<p>Gain confidence and learn skills to cycle as a family with a free family cycling session. In the session a qualified instructor will teach you how to cycle with children, using quiet routes and parks. These sessions offer the opportunity to build on, or prepare for, Bikeability skills taught in schools.</p>
<p><a href="/modes/cycling/start-cycling/cycle-training/request-cycle-training">Request a free session in the borough where you live, work or study</a></p>
<h2>Younger cyclists
</h2>
<p>Cycling is a fun way for youngsters to keep fit while getting around their local area. Cycle training will teach them the skills they need to ride more safely.</p>
<p>The Bikeability scheme rewards youngsters for taking part in cycle training. They can work their way through the following three levels as they move from primary to secondary school.</p>
<ul>
    <li>Level 1: Learn to control your bike in a safe, off-road environment</li>
    <li>Level 2: Cycle safely on the road with other traffic on quieter roads</li>
    <li>Level 3: Cycle on busier roads and manage complex junctions in London</li>
</ul>
<p>If your child's school doesn't already offer cycle training, the school can contact their borough's road safety/school travel team for information on how to book a course.</p>
<p>Email your full name, your child's full name, phone number and preferred borough to <a href="mailto:schoolsandyoungpeople&#64;tfl.gov.uk">schoolsandyoungpeople&#64;tfl.gov.uk</a></p>
 </div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/cycling/index" class="heading">
                    <h2 id="sub-menu-heading">Cycling<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/new-to-cycling">Get started with cycling</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/santander-cycles">Santander Cycles</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london">Cycling in London</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/rider-profiles">Rider stories</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/cycle-skills">Cycle Skills</a></div>
                                        <ul>
                                            
                                        <li><div class="link-wrapper"><a href="/modes/cycling/start-cycling/cycle-training/advanced-london-by-bike">Advanced London By Bike</a></div></li>
                                    
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/start-cycling/cycle-training/request-cycle-training">Request cycle training</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/avoid-theft">Protect your bike from theft</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/cycle-parking">Cycle parking</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/bikes-on-public-transport">Bikes on public transport</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/cycling-with-children">Cycling with children</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/electric-bikes">Electric bikes</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps">Routes & maps</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        

                <div class="widget-wrapper">
                    <div class="expandable-box">
                        <div class="content">
                            <div class="always-visible widget-heading">
                                <div class="controls">&nbsp;</div>
                                <div class="widget-title">
                                    Plan a journey
                                </div>
                            </div>
                            <div class="start-hidden widget-content journey-planner-widget clearfix">
                                @{Html.RenderAction("Index", "JourneyPlanner", new
                                    { jptype = "cycling" } 
                                );}
                            </div>
                        </div>
                    </div>
                </div>
            
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Free, tailored courses for novices and experienced cyclists";}
        
            
        


 