
    
  



@{ViewBag.Title = "Cycling with children";}
@{ViewBag.Keywords = "Cyclists,Cycling,TfL";}
@{ViewBag.Url = "/modes/cycling/cycling-in-london/cycling-with-children";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/cycling/index">Cycling</a></li>
                
            
                 <li><a href="/modes/cycling/cycling-in-london">Cycling in London</a></li>
                
            
            
                <li><span class="last-breadcrumb">Cycling with children</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Cycling with children</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Cycling with children can be great fun for all the family. Between our top tips and all the available options, you can ride with children of all ages and abilities. 
        
      </div>
    
    <div class="on-this-page">
      
        <h2>Carrying and towing children
        </h2>
        <p><strong>Child seats</strong> - children need to be strong enough to
        support their own head to be carried in a child seat. This is usually
        around nine to 12 months. If your child is very young, you can carry
        them in a smaller front seat so you can see them as you ride. Other
        child seats are fitted to the back of a bike and should only be used for
        children up to five-years-old. Be sure to check the maker's recommended
        weight limit. </p>
        <p><strong>Trailers </strong>- you can carry more
        than one child with you on your bike by using a single or double
        trailer. Trailers are suitable for children up to five-years-old.</p>
        <p><strong>Tag-alongs</strong>
        - this single-wheeled bike attaches to your bike and lets your child
        ride safely while attached to you. Tag-alongs are suitable for children
        from four to nine-years-old.
        </p>
        <p><strong>Tow bar</strong> - convert your child's bike into a tag-along
        using a tow bar. The front wheel is lifted off the ground, allowing
        your child to pedal without having to steer.
        </p>
        <p><strong>Cargo bikes </strong>- these are available in two or three-wheeled versions and have a sturdy, large box area in front of the rider which can be adapted to carry more than one child.</p>
        <h2>Riding with children</h2>
        <p>
        Children usually learn to ride a bike
        between three and six years. When buying your child his or her first
        bike, choose one that fits them, rather than one they can grow into.
        </p>
        <p>There are many ways to help your child build confidence:
        </p>
        <ul>
            <li>Balance bikes are like normal bikes but without the pedals. Your
            child learns to balance, steer and gain confidence on two wheels while
            being able to place their feet on the ground. Consider a balance bike
            with a hand brake </li>
            <li>Tricycles or trikes have pedals so your child can get around on
            their own. They have excellent balance and stability, and are suitable
            for children from ten months to five-years-old Stabilisers are the easiest way to learn because they give rear bike
            support. Children can learn to pedal, steer and brake on their own,
            without needing to balance</li>
            <li>Stabilisers should be removed as soon as
            possible so your child doesn't learn bad habits like leaning while
            turning </li>
        </ul>
        <p>Try one of our <a href="/modes/cycling/routes-and-maps">leisure routes</a> for an ideal family outing on bikes.</p>
        <h2>Safety tips</h2>
        <ul>
            <li>
            When riding with children, ride in a line with an adult at each end.
            If there's only one adult, he or she should be at the rear to keep an
            eye on the children in front. The adult at the rear can also ride
            further out in the road to make sure the children are safe </li>
            <li>A proper fitting helmet is essential. It should not slip from side
            to side or front to back. Ask your retailer to demonstrate that the
            helmet meets safety standards </li>
            <li>Dress children warmly when carrying them in child seats or trailers. They won't be pedalling so they won't warm up like you </li>
        </ul>
        <p>Read more about <a href="/travel-information/safety/road-safety-advice/driving-and-cycling-safety">cycling safety</a>.</p>
    
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/cycling/index" class="heading">
                    <h2 id="sub-menu-heading">Cycling<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/new-to-cycling">Get started with cycling</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/santander-cycles">Santander Cycles</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london">Cycling in London</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/rider-profiles">Rider stories</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/cycle-skills">Cycle Skills</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/avoid-theft">Protect your bike from theft</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/cycle-parking">Cycle parking</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/bikes-on-public-transport">Bikes on public transport</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/cycling-with-children">Cycling with children</a></div>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/electric-bikes">Electric bikes</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps">Routes & maps</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        

                <div class="widget-wrapper">
                    <div class="expandable-box">
                        <div class="content">
                            <div class="always-visible widget-heading">
                                <div class="controls">&nbsp;</div>
                                <div class="widget-title">
                                    Plan a journey
                                </div>
                            </div>
                            <div class="start-hidden widget-content journey-planner-widget clearfix">
                                @{Html.RenderAction("Index", "JourneyPlanner", new
                                    { jptype = "cycling" } 
                                );}
                            </div>
                        </div>
                    </div>
                </div>
            
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Tips for riding with children of all ages and abilities";}
        
            
        


 