
    
  



@{ViewBag.Title = "Rider stories";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/cycling/cycling-in-london/rider-profiles";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

  <div class="section-image-container medium-large" data-highlight-image="/cdn/static/cms/images/promos/bike-ar-web-new.jpg" data-highlight-for=".section-image-container" data-highlight-size="medium-large" style="background-image: url(/cdn/static/cms/images/promos/bike-ar-web-new.jpg)"> </div>

<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/cycling/index">Cycling</a></li>
                
            
                 <li><a href="/modes/cycling/cycling-in-london">Cycling in London</a></li>
                
            
            
                <li><span class="last-breadcrumb">Rider stories</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 

  
  <div class="r">
    <div class="headline-container section-title section-landing-container ">
      <div class="section-title-wrap">
        <h1 class="hero-headline">Rider stories</h1>
        
      </div>
    </div>
  </div>



    
   
    <div class="r">
        <div class="main clearfix" role="main">
            
        
        
            <div class="section-overview full-width clearfix ">
                <div class="small-medium" data-set="section-intro"></div>
                <div>
                    <div class="large" data-set="section-intro">
                        <h2 class="moving-source-order">More and more people are cycling in London</h2>
                    </div>
                <p>Read stories from women who cycle in the city to find out how they got started.</p>
                </div>
            </div>
        
         
        
        
        
                
                
                <div class="module-grid clearfix">
                    
                    
                    
                    <div class="news-teaser">

    <a href="/modes/cycling/jeanette-s-story?intcmp=48054" >
        <img src="/cdn/static/cms/images/promos/jeanette-adams-bike1-teaser_rdax_400x200.jpg" alt="Jeanette on her bike" />
        
        <div class="text-link">
             <h2>Jeanette's story</h2>
            <p>'If I can cycle, you can'</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/cycling/sarah-s-story?intcmp=47873" >
        <img src="/cdn/static/cms/images/promos/sarah-ebike-teaser_rdax_400x200.jpg" alt="Sarah Burr e-bike" />
        
        <div class="text-link">
             <h2>Sarah's story</h2>
            <p>'E-bikes are so much fun!'</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/cycling/fiona-s-story?intcmp=47920Fiona" >
        <img src="/cdn/static/cms/images/promos/fquinn1-edited-teaser_rdax_400x200.jpg" alt="Fiona with her bike" />
        
        <div class="text-link">
             <h2>Fiona</h2>
            <p>'It's such a cycle friendly city'</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/cycling/alix-s-story?intcmp=47845Alix" >
        <img src="/cdn/static/cms/images/promos/alix-cargobike-profile-teaser_rdax_400x200.jpg" alt="Alix cargo bike" />
        
        <div class="text-link">
             <h2>Alix</h2>
            <p>'I feel alive, awake, free'</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/cycling/katie-s-story?intcmp=47595" >
        <img src="/cdn/static/cms/images/promos/katie-bike-teaser_rdax_400x200.jpg" alt="Katie bike" />
        
        <div class="text-link">
             <h2>Katie</h2>
            <p>'I love the fresh air!'</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/cycling/isabelle-s-story?intcmp=47474" >
        <img src="/cdn/static/cms/images/promos/womens-tour-isabelle-teaser_rdax_400x200.jpg" alt="Isabelle in front of gate Regent Park" />
        
        <div class="text-link">
             <h2>Isabelle</h2>
            <p>'Bye bye grumpy mornings'</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/cycling/cycling-in-london/cycle-skills?intcmp=2386" >
        <img src="/cdn/static/cms/images/promos/bike-in-front-hedge-small_rdax_400x200.jpg" alt="Bike in front of hedge" />
        
        <div class="text-link">
             <h2>Cycle skills</h2>
            <p>Book a cycle skills session</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/cycling/santander-cycles?intcmp=2295" >
        <img src="/cdn/static/cms/images/promos/santander-cycles-hyde-park_rdax_400x200.jpg" alt="Santander Cycles hyde park" />
        
        <div class="text-link">
             <h2>Santander Cycles</h2>
            <p>Try out a bike from just &pound;2</p>
        </div>
    </a>
</div>
 
 
                </div>
        
        
        
          
        
    </div>
    
      
      <div class="aside no-full-width-intro" role="complementary">
    
        <div data-set="sidenav-container" class="large">
          
        </div>
        <div class="module-grid clearfix">
          




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
          
        </div>
        <div data-set="sidenav-container" class="small-medium"></div>
      </div>
  </div>
 
        
        
        
            @{ViewBag.Description = "Cyclists stories";}
        
            
        


 