<%- include('../includes/head') %>

  <section id="header" class="container-fluid">
    <div class="container-lft">
      <h1 class="h-standard">Article Teaser</h1>
    </div>
  </section>

  <section id="main" class="container-fluid">
    <div class="container-lft">
      <div class="row">
        <div class="col-12 col-lg-8">
          <!-- main body section that normally sits at two cols wide -->
          <p class="lead">Everyone can pay as you go using an Oyster card to travel on our transport services.</p>
          <p>The article teaser is replaced by a normal paragraph with the lead class added.</p>
        </div>
        <div class="col-12 col-lg-4">
          <!-- right hand nav bit -->
          <div class="card">
            <div class="card-body bg-white">
              <h5 class="card-title">Contactless and Oyster account</h5>
              <p class="card-text">Top up online and see your journey and payment history</p>
              <a href="#" class="btn btn-primary">Sign In</a>
            </div>
          </div>
          <div class="card">
            <div class="card-header bg-dark text-white">
              London Road User Charging
            </div>
            <div class="card-body bg-white">
              <p class="card-text">To access your London Road User account, sign in from here. If you don't have an account yet <a href="#">register</a> here.</p>
              <a href="#" class="btn btn-primary w-100">Sign In</a>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Also on this site</h5>
              <div class="card m-0">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><a href="#">Conditions of Carriage</a></li>
                  <li class="list-group-item"><a href="">Contactless and Oyster outside London</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Contact us</h5>
              <p class="card-text">We're open from 08:00 to 20:00, 7 days a week.</p>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Chat</h5>
              <p class="card-text">On Facebook or Twitter</p>
            </div>
          </div>
          <div class="card">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href="#">Conditions of Carriage</a></li>
              <li class="list-group-item"><a href="">Contactless and Oyster outside London</a></li>
              <li class="list-group-item"><a href="#">Conditions of Carriage</a></li>
              <li class="list-group-item"><a href="">Contactless and Oyster outside London</a></li>
              <li class="list-group-item"><a href="#">Conditions of Carriage</a></li>
              <li class="list-group-item"><a href="">Contactless and Oyster outside London</a></li>
            </ul>
          </div>
          <div class="card">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href="#">Conditions of Carriage</a></li>
              <li class="list-group-item"><a href="">Contactless and Oyster outside London</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include('../includes/foot') %>