<%- include('../includes/head') %>

<%- include('../includes/title', { title: { title: 'Form Submission' }, breadcrumbs: [] }) %>

<section id="main" class="container-fluid">
    <div class="container-lft">
        <h2 class="sr-only">Links to articles related to topic</h2>
        <div class="row pb-3">
            <div class="col-12 col-lg-8">
                <h3>Job done!</h3>
            </div>
            <div class="col-12 col-lg-4" role="complementary">
                <h2 class="sr-only">Complementary features and navigation</h2>
                <!-- right hand nav bit -->
            </div>
        </div>
    </div>
</section>

<%- include('../includes/foot') %>