<%- include('../includes/head') %>

  <section id="header" class="container-fluid">
    <div class="container-lft">
      <h1 class="h-standard">Headers</h1>
    </div>
  </section>

  <section id="header1" class="container-fluid px-0">
    <span class="banner-background d-none d-md-block" style="background-image: url('/css/images/fares-section-image.jpg')"></span>
    <div class="banner-content container-lft p-3">
      <div class=" d-none d-md-block hgt-3"></div>
      <h1 class="h-highlight">This is a really long page title to demonstrate that this still looks fine when forced to
        wrap</h1>
      <div class=" d-none d-md-block hgt-10"></div>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">How much it costs and how to pay to travel around London</h5>
              <p class="card-text">Find out what's the best ticket for you and how to use contactless and Oyster cards,
                view fares, check if you can get a refund or replacement and see if you're eligible for free and
                discounted travel.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="header2" class="container-fluid px-0">
    <span class="banner-background d-none d-md-block" style="background-image: url('/css/images/fares-section-image.jpg')"></span>
    <div class="banner-content container-lft p-3">
      <div class=" d-none d-md-block hgt-3"></div>
      <h1 class="h-highlight h-light">This is a really long page title to demonstrate that this still looks fine when
        forced to wrap</h1>
      <div class=" d-none d-md-block hgt-10"></div>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">How much it costs and how to pay to travel around London</h5>
              <p class="card-text">Find out what's the best ticket for you and how to use contactless and Oyster cards,
                view fares, check if you can get a refund or replacement and see if you're eligible for free and
                discounted travel.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="header3" class="container-fluid px-0">
    <span class="banner-background d-none d-md-block" style="background-image: url('/css/images/fares-section-image.jpg')"></span>
    <div class="banner-content container-lft p-3">
      <div class=" d-none d-md-block hgt-3"></div>
      <h1 class="h-highlight h-dark d-inline-block">Fares</h1>
      <div class="d-none d-md-block hgt-10"></div>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-12 col-md-8 pb-3">
                  <h5 class="card-title">How much it costs and how to pay to travel around London</h5>
                  <p class="card-text">Find out what's the best ticket for you and how to use contactless and Oyster
                    cards,
                    view fares, check if you can get a refund or replacement and see if you're eligible for free and
                    discounted travel.</p>
                </div>
                <div class="col-12 col-md-4">
                  <div class="card">
                    <div class="card-body bg-white">
                      <h5 class="card-title">Contactless and Oyster account</h5>
                      <p class="card-text">Top up online and see your journey and payment history</p>
                      <a href="#" class="btn btn-primary">Sign In</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  </section>

  <section id="main" class="container-fluid">
  </section>

  <%- include('../includes/foot') %>