
    
  



@{ViewBag.Title = "Customer & Communications BAME Internship";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/careers/student-placements/customer-and-communications-internship";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/careers/index">Careers</a></li>
                
            
                 <li><a href="/corporate/careers/graduates">Graduates</a></li>
                
            
                 <li><a href="/corporate/careers/graduate-scheme/placement-opportunities">Placement opportunities</a></li>
                
            
            
                <li><span class="last-breadcrumb">Customer & Communications BAME Internship</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Customer & Communications BAME Internship</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    <div class="on-this-page">
      <h2>Overview</h2>
<div class="table-container"><table>
    <tbody>
        <tr>
            <td>
            <strong>Entry requirements</strong><br />
            You must be an undergraduate or recent graduate of BAME (as defined below) origin on track to receive, or have already achieved, a 2:2 in any degree, or, have no more than one year's experience in the communications industry - such as in marketing, stakeholder engagement, public affairs or other related field.            </td>
        </tr>
        <tr>
            <td>
            <strong>Duration</strong><br />
            11 months
            </td>
        </tr>
        <tr>
            <td>
            <strong>Location</strong><br />
            London
            </td>
        </tr>
        <tr>
            <td>
            <strong>Bursary</strong><br />
            A bursary to cover London living expenses
            </td>
        </tr>
    </tbody>
</table></div>
<p>The Customer and Communications Internship is a diversity initiative targeted at students of African, Afro-Caribbean, Asian or Chinese origin (or combinations of the above) who are studying, have recently graduated, or have demonstrated an interest in the marketing or communications industry. These groups are under-represented regionally, and nationally, in marketing and communications which is why this scheme has been created.</p>
<h2>What you'll be doing</h2>
<p>Working in a fast-paced marketing and communications environment based in TfL's Head office, you will have the opportunity to develop your skills in creating campaigns, developing customer messaging and influence customer behaviour to help you start your career.</p>
<p>You will be involved in key projects and campaigns and  have the opportunity to gain experience in another team, giving you a broader experience of how marketing and communications works at TfL. Throughout your time, you will work collaboratively with other teams across the business, and gain an understanding of transport as well as marketing and communications.</p>
<p>You will be based in one of three areas:</p>
<p><strong>The TfL Customer team</strong><br />
Ensures a transparent and joined-up approach to identifying what is important to our customers and users and developing creative solutions. This includes delivering marketing, customer information and behaviour change campaigns that reach our fare paying customers, road users, those who take the tube, bus, walk, cycle and those affected by our new Healthy Streets agenda &#45; which is basically all of London!</p>
<p><strong>The TfL External Relations team<br />
</strong>External Relations includes our Government Relations and National &amp; Regional Partnerships teams who are responsible for our external engagement and  building and maintaining productive partnerships with customer and representative groups, businesses, politicians and many others.</p>
<p><strong>The TfL Travel Demand Management (TDM) team</strong><br />
Our Travel Demand Management programme reduces congestion and disruption by influencing travel behaviour day-to-day, during major events and engineering work. It is world leading and innovative stuff!</p>
<h2>What we look for</h2>
<p>We're looking for people who:</p>
<ul>
    <li>Are motivated individuals</li>
    <li>Demonstrate an interest in marketing and communications</li>
    <li>Have excellent communication skills, work well in a team and able to manage their own time</li>
</ul>
<p>As a member of the team, we'll give you responsibility and the opportunity to add value from day one.  If you are excited by inspiring and influencing the future.</p>
<h2>Where you can take your career</h2>
<p>A similar internship in the TfL Press Office has been highly successful and these interns have gone on to work in public relations and communications roles in TfL as well as the Metropolitan Police, the NHS, local government and the Arts Council.</p>
<h2>How we'll develop and support you</h2>
<p>During your internship, you will have the opportunity to undertake training courses, giving you the opportunity to develop essential skills for your career, such as presentation and influencing skills.</p>
      
           
      <div>

<h2>Reasonable Adjustments</h2>
<p>If you have any special requirements or require any reasonable adjustments to enable you to take our online tests or to attend our assessment centre, please contact us by phone or email on the contact details below.</p>
<p>Please note: We need a minimum of 48 hours' notice to allow us to try and accommodate reasonable adjustments at the assessment centre. Any adjustments will be confirmed to you in writing, once received, please print a copy and bring this to the assessment with you.</p>
<h2>Contact Us</h2>
<p>If at any time you need to speak to anyone within the Recruitment Team then please contact us on 0333 0062939 (Option 1) or alternatively email us at <a href="mailto:graduatesenquiries&#64;tfljobs.co.uk">graduatesenquiries&#64;tfljobs.co.uk</a></p>
<p>So if you're looking to make an impact on the future of the Capital &#45; and the lives of the people who live and work here, now's the time to make your move.</p>
</div>
 <div>

<hr />
<strong>
Applications for this opportunity are now closed.</strong>
<hr />
</div>
 <div>

<p>We are an equal opportunity employer and value diversity. We do not discriminate on the basis of race, religion, colour, gender, sexual orientation, age or disability status.</p>
</div>
 
<div class="module-grid clearfix">
<div class="news-teaser">

    <a href="/corporate/careers/graduate-scheme/application-process?intcmp=20329" >
        
        
        <div class="text-link">
             <h2>Application process</h2>
            <p>From application to job offer, watch our videos and find out what to expect</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/careers/graduate-scheme/behaviours-and-competencies?intcmp=42394" >
        
        
        <div class="text-link">
             <h2>Behaviours & competencies</h2>
            <p>Have you got what it takes to be one of our team?</p>
        </div>
    </a>
</div>
 
 
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        <div>

<hr />
<strong>
Applications for this opportunity are now closed.</strong>
<hr />
</div>
 <div>

<p>We are an equal opportunity employer and value diversity. We do not discriminate on the basis of race, religion, colour, gender, sexual orientation, age or disability status.</p>
</div>
 
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/careers/index" class="heading">
                    <h2 id="sub-menu-heading">Careers<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/careers/graduates">Graduates</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-opportunities">Graduate opportunities</a></div></li>
                            
 
                <a href="/corporate/careers/graduate-scheme/placement-opportunities" class="heading">
                    <h2 id="sub-menu-heading">Placement opportunities<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/careers/student-placements/customer-and-communications-internship">Customer & Communications BAME Internship</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/student-placements/stuart-ross-bame-internship">Stuart Ross BAME PR Internship</a></div></li>
                            
 
                </ul>
            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/behaviours-and-competencies">Behaviours and competencies</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/salary-and-benefits">Salary & benefits</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/application-process">Application process</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/apprenticeships">Apprenticeships</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/steps-into-work">Steps into work </a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/smart-sourcing-programme">Smart Sourcing programme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/rewarding-you">Rewarding you</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/employability-toolkit">Employability toolkit</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        
<div class="fact-box-wrapper">
    <span class="blue-span">Civil engineering summer scheme</span>
    <div class="fact-box-content">
        
        <div class="vertical-button-container">
        
        <a href="/corporate/careers/graduate-scheme/placement-opportunities"  class="plain-button">What's in it for you?</a> 
        </div>
    </div>
</div>
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Find out about our Customer and Communications BAME Internship graduate scheme";}
        
            
        


 