
    
  



@{ViewBag.Title = "Stuart Ross BAME PR Internship";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/careers/student-placements/stuart-ross-bame-internship";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/careers/index">Careers</a></li>
                
            
                 <li><a href="/corporate/careers/graduates">Graduates</a></li>
                
            
                 <li><a href="/corporate/careers/graduate-scheme/placement-opportunities">Placement opportunities</a></li>
                
            
            
                <li><span class="last-breadcrumb">Stuart Ross BAME PR Internship</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Stuart Ross BAME PR Internship</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Find out more about our public relations internship for candidates of BAME origin. 
        
      </div>
    
    <div class="on-this-page">
      
      
           
      
<h2>Overview</h2>
<div class="table-container"><table>
    <tbody>
        <tr>
            <td><strong>Entry requirements</strong><br />
            You must be an undergraduate or recent graduate of BAME (as defined below) origin on track to receive, or have already achieved, a 2:2 in any degree, or, have no more than one year's experience in media, PR or other related fields.</td>
        </tr>
        <tr>
            <td><strong>Duration</strong><br />
            11 months</td>
        </tr>
        <tr>
            <td><strong>Location</strong><br />
            London</td>
        </tr>
        <tr>
            <td><strong>Bursary</strong><br />
            A bursary to cover London living expenses will be provided</td>
        </tr>
    </tbody>
</table></div>
<p> </p>


 <div>

<p>The Stuart Ross BAME Press Office Internship is a diversity initiative targeted at students of African, Afro-Caribbean, Asian or Chinese origin (or a combination of the above) who are studying or have recently graduated. These groups are under-represented regionally, and nationally, in PR which is why we created this scheme in 2006. In 2016, the internship was renamed the Stuart Ross BAME Internship after TfL's former director of news Stuart Ross, who passed away in January 2016 after a battle with cancer. Stuart was a passionate supporter of the scheme from its inception and a key part of its success to date.</p>
<h2>What you'll be doing</h2>
<p>Based in one of the UK's busiest press offices, you'll get a sense of what working in a high-pressured PR environment is like and the essential skills you need to start your career in PR. From the beginning of your internship, you'll be involved in handling the big stories of the day affecting London's transport and delivering dedicated stories and campaigns.  You'll learn all the skills you need to work in public relations, from writing press releases, dealing with journalists and managing media interviews to generating ideas for high profile campaigns and organising media events.  These could include campaigns like the 'Please offer me a seat' badge, art on the underground and London Poppy day.</p>
<h2>What we look for</h2>
<p>We're looking for people who are:</p>
<ul>
    <li>Motivated to learn and gain experience during the internship</li>
    <li>Passionate about a career in Public Relations</li>
    <li>Thrives in a team</li>
</ul>
<p>As a member of the team, we'll give you responsibility and the opportunity to add value from day one.  If you are excited by inspiring and influencing the future of London and are up for a challenge and thrive under pressure, then this is the career path for you.</p>
<h2>Where you can take your career</h2>
<p>Past interns have done the internship as a year in industry while at university or once they have graduated. In both cases, this programme has been highly successful and our interns have gone on to work in public relations and communications roles in TfL as well as the Metropolitan Police, Marks &amp; Spencer, NHS, local government and the Arts Council.</p>
<h2>How we'll develop and support you</h2>
<p>Whilst on the scheme, we'll support your technical development through a wide range of on-the-job practical experiences and placements.  We'll also support your professional development through a combination of classroom-led training courses, online training courses, mentoring opportunities and structured networking opportunities with scheme alumni. You will receive one-to-one support throughout the programme from your scheme sponsor and your Line Manager. You'll also be connected to a 'buddy' who will be an alumnus from the scheme.</p>
</div>
 <div class="clearfix">
    <div class="image-box left-float">
    
        
        
        <img src="/cdn/static/cms/images/courtnee-stuart-ross-bame-pr-intern_rdax_400x457.jpg" alt="Courtnee, Stuart Ross BAME PR intern" />
        
        
        
    </div>
    <h2>Meet the Intern</h2>
<p>&quot;Throughout my time at TfL, the Press Office was committed to making sure I made the most of my internship, I never thought I would have been given all the opportunities that I had. I have now returned to university to complete my degree with a new found confidence and improved communication, organisation and collaboration skills that can be applied to any industry not just PR and communications. I feel incredibly privileged to have had the opportunity to be part of such a great scheme.&quot;</p>
<p><strong>— Courtnee, Stuart Ross BAME PR intern</strong></p> 
 </div>
 <div class="clearfix">
    <div class="image-box left-float">
    
        
        
        <img src="/cdn/static/cms/images/stuart-ross-bame_rdax_400x457.jpg" alt="Stuart Ross BAME image" />
        
        
        
    </div>
    <h2>About Stuart Ross</h2>
<p>In 2016, the internship was renamed the Stuart Ross BAME Internship after TfL's director of news Stuart Ross, who passed away in January 2016 after a battle with cancer. Stuart was a passionate supporter of the scheme from its inception and a key part of its success to date.</p> 
 </div>
 <div>

<h2>Reasonable Adjustments</h2>
<p>If you have any special requirements or require any reasonable adjustments to enable you to take our online tests or to attend our assessment centre, please contact us by phone or email on the contact details below.</p>
<p>Please note: We need a minimum of 48 hours' notice to allow us to try and accommodate reasonable adjustments at the assessment centre. Any adjustments will be confirmed to you in writing, once received, please print a copy and bring this to the assessment with you.</p>
<h2>Contact Us</h2>
<p>If at any time you need to speak to anyone within the Recruitment Team then please contact us on 0333 0062939 (Option 1) or alternatively email us at <a href="mailto:graduatesenquiries&#64;tfljobs.co.uk">graduatesenquiries&#64;tfljobs.co.uk</a></p>
<p>So if you're looking to make an impact on the future of the Capital &#45; and the lives of the people who live and work here, now's the time to make your move.</p>
</div>
 <div>

<hr />
<strong>
Applications for this opportunity are now closed.</strong>
<hr />
</div>
 <div>

<p>We are an equal opportunity employer and value diversity. We do not discriminate on the basis of race, religion, colour, gender, sexual orientation, age or disability status.</p>
</div>
 
<div class="module-grid clearfix">
<div class="news-teaser">

    <a href="/corporate/careers/graduate-scheme/application-process?intcmp=20329" >
        
        
        <div class="text-link">
             <h2>Application process</h2>
            <p>From application to job offer, watch our videos and find out what to expect</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/careers/graduate-scheme/behaviours-and-competencies?intcmp=42394" >
        
        
        <div class="text-link">
             <h2>Behaviours & competencies</h2>
            <p>Have you got what it takes to be one of our team?</p>
        </div>
    </a>
</div>
 
 
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        <div>

<hr />
<strong>
Applications for this opportunity are now closed.</strong>
<hr />
</div>
 <div>

<p>We are an equal opportunity employer and value diversity. We do not discriminate on the basis of race, religion, colour, gender, sexual orientation, age or disability status.</p>
</div>
 
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/careers/index" class="heading">
                    <h2 id="sub-menu-heading">Careers<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/careers/graduates">Graduates</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/graduate-opportunities">Graduate opportunities</a></div></li>
                            
 
                <a href="/corporate/careers/graduate-scheme/placement-opportunities" class="heading">
                    <h2 id="sub-menu-heading">Placement opportunities<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/careers/student-placements/customer-and-communications-internship">Customer & Communications BAME Internship</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/careers/student-placements/stuart-ross-bame-internship">Stuart Ross BAME PR Internship</a></div>
                            </li>
 
                </ul>
            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/behaviours-and-competencies">Behaviours and competencies</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/salary-and-benefits">Salary & benefits</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme/application-process">Application process</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/apprenticeships">Apprenticeships</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/steps-into-work">Steps into work </a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/smart-sourcing-programme">Smart Sourcing programme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/rewarding-you">Rewarding you</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/employability-toolkit">Employability toolkit</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "A scheme aimed at BAME students and graduates";}
        
            
        


 