
    
  



@{ViewBag.Title = "Challenges";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/business-and-commercial/challenges";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/business-and-commercial/index">Business & commercial</a></li>
                
            
                 <li><a href="/info-for/business-and-commercial/commercial-innovation">Commercial Innovation</a></li>
                
            
                 <li><a href="/info-for/business-and-commercial/innovation-portal">Innovation portal</a></li>
                
            
            
                <li><span class="last-breadcrumb">Challenges</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Challenges</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        There are many business issues and concerns which we are looking to address. These include safety, reliability and delivery challenges.
        
      </div>
    
    <div class="on-this-page">
      When you are <a href="/info-for/business-and-commercial/submit-an-idea">submitting an idea</a>, we'll ask you to select the challenge to which your idea applies.
      
           
      <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/contactless-bus_rdax_400x250.jpg" alt="Contactless bank payment on London buses" />
        
        
        
    </div>
    <h2>Customer</h2>
<p>We want to develop innovative solutions to deliver faster, more        frequent and more reliable services to our customers while improving the        information provided by both frontline staff and mobile and internet        technology.</p>
<h3>Improve information to our frontline staff and our customers</h3>
<ul>
    <li>Give our frontline staff the tools they require to            deliver consistently high standards of personalised customer service </li>
    <li>Give our customers consistent and relevant information across a range of media including internet and mobile technologies</li>
    <li>Integrate the services offered by our customer service            centres across TfL, so that our customers experience a transport network that is integrated</li>
</ul>
<h3>Deliver faster, more frequent services to our customers</h3>
<ul>
    <li>Increase the number of passengers we can accommodate on our vehicles</li>
    <li>Improve our signalling and control systems to allow us to reduce headways and run more trains per hour</li>
    <li>Reduce the amount of time our trains spend stationary in platforms</li>
    <li>Improve our infrastructure to allow us to run our trains at higher speeds and reduce journey times and service volatility</li>
</ul>
<h3>Improve physical accessibility of customer interfacing areas</h3>
<ul>
    <li>Improve the physical accessibility of all areas of the network used by our customers </li>
</ul>
<h3>Improve use and value from the transport system for our customers</h3>
<ul>
    <li>Introduce measures to change customers' travel behaviour and encourage more sustainable travel patterns</li>
</ul>
 </div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/ev-charging-point_rdax_400x250.jpg" alt="Source London is a city-wide network of electric vehicle (EV) charging points. Detail of Elecktomotive Charging Point" />
        
        
        
    </div>
    <h2>Value and sustainability</h2>
<p>We want to use technology to minimise the impact we have on the        environment by improving energy efficiency and reducing noise, while        minimising the impact of external factors, such as weather and theft, on        our services.</p>
<h3>Manage the impact of the weather on the operation of our services</h3>
<ul>
    <li>Minimise the impact of weather, such as snow, high temperatures, frost and leaf fall on our services </li>
    <li>Manage the interface between wheels and rails and reduce the impact of low adhesion on our trains' performance </li>
</ul>
<h3>Minimise the noise associated with operation and maintenance activities</h3>
<ul>
    <li>Reduce our impact on our neighbours by reducing the noise made by the operation of our vehicles, stations and depots </li>
    <li>Use noise reducing technologies when carrying out our maintenance and construction works</li>
</ul>
<h3>Reduce theft from our network</h3>
<ul>
    <li>Give our staff the tools to identify theft, particularly cable theft            and small plant theft, before or as it happens and alert the            authorities </li>
    <li>Give us the tools to collect evidence to secure successful prosecutions </li>
</ul>
<h3>Improve energy efficiency and sustainability</h3>
<ul>
    <li>Make use of low carbon and/or high-thermal efficiency power for direct delivery to our power network </li>
    <li>Understand and monitor our energy consumption and use that data in our decision-making processes </li>
    <li>Adopt low-energy assets and technologies into our business </li>
    <li>Apply technology to reduce the tunnel heating effect of running our services </li>
    <li>Collect and store surplus energy using energy storage and harvesting technologies </li>
    <li>Reduce our reliance on copper for power and communications transmissions </li>
    <li>Apply clean technologies to power our plant and hand tools in the restrictive Tube tunnel environment </li>
    <li>Increase the resilience of our power network </li>
    <li>Identify areas of our systems where we are experiencing electrical loss and apply technology to prevent this </li>
</ul>
<h3>Improve asset intelligence and maintenance processes</h3>
<ul>
    <li>Learn from best practice and apply the lessons learned in other industries to our business </li>
    <li>Challenge and change our maintenance regimes and our engineering standards </li>
    <li>Give our maintenance staff the training and skills they need to do their jobs </li>
    <li>Improve our asset information and use it to improve our system utilisation </li>
</ul>
<h3>Share equipment across the business</h3>
<ul>
    <li>Reduce the cost of purchasing equipment by sharing it across our business </li>
</ul>
 </div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/staff-canary-wharf_rdax_400x250.jpg" alt="Staff member helping a passenger at Canary Wharf Underground station" />
        
        
        
    </div>
    <h2>People</h2>
<p>We want to ensure that our workforce has the tools and frameworks to perform to the best of its ability, while increasing        motivation, collaboration and flexibility. </p>
<h3>Develop high performing teams and encourage collaboration</h3>
<ul>
    <li>Develop high-performing teams and encourage collaboration across teams and with our supply chain </li>
    <li>Identify and develop effective development tools and techniques for our workforce</li>
</ul>
<h3>Increase the flexibility of our workforce</h3>
<ul>
    <li>Develop our people to be multi-skilled across a range of maintenance, renewal and customer service activities </li>
</ul>
<h3>Develop a skills and capability framework in our delivery unit</h3>
<ul>
    <li>Develop a skills and capability framework in our delivery unit to realise gaps and introduce workforce continuity</li>
</ul>
 </div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/london-overground-train_rdax_400x250.jpg" alt="Front view of a London Overground train between stations" />
        
        
        
    </div>
    <h2>Delivery</h2>
<p>We are looking for new technologies and processes to help us achieve        reliable and safe delivery, requiring minimal closures        while driving for efficiencies and cost reductions.         </p>
<h3>Drive improvements in our people, processes and technology</h3>
<ul>
    <li>Optimise our signalling and communications networks and the associated line-side hardware </li>
    <li>Reduce the use of mechanical plant through the use of lightweight            foundations and connections to lightweight line-side structures </li>
    <li>Improve the definition, collection, management and manipulation of            data about the railway to preserve up-to-date asset information and            allow for effective configuration management </li>
</ul>
<h3>Improve safety</h3>
<ul>
    <li>Improve safety by removing unsafe work practices, minimising lost-time injuries and achieving the goal of zero harm </li>
</ul>
<h3>Improve the reliability of assets and services</h3>
<ul>
    <li>Improve the reliability of vehicles so that they need less maintenance </li>
    <li>Develop accurate position detection within the Tube </li>
</ul>
<h3>Minimise closures</h3>
<ul>
    <li>Adopt processes and technologies that minimise the number of            closures needed to maintain and upgrade our network and maximise the            amount of work done during engineering and traffic hours </li>
    <li>Adopt technologies and processes that allow us to complete            maintenance and renewal work without closing our            railway </li>
    <li>Improve access for engineering work at road and/or rail points </li>
    <li>Adopt processes and technologies to allow work at stations to take place during traffic hours </li>
    <li>Seek opportunities to isolate our remotely located equipment </li>
</ul>
<h3>Reduce overall costs and improve programmes delivery predictability</h3>
<ul>
    <li>Reduce overall costs by understanding historic costs, setting challenging targets and driving continuous improvement </li>
    <li>Improve the predictability of the delivery of our investment programme </li>
</ul>
<h3>Improve track renewal methodology</h3>
<ul>
    <li>Adopt new methodologies for ballast renewal and recovery from under            our switches and crossing</li>
    <li>Approaches need to consider both simple and            complex layouts and those including third-rail systems </li>
    <li>Improve our methodology for the recovery of switches and crossings in panel form  </li>
    <li>Allow the quick and efficient removal of the ballast shoulder when we undertake track renewals  </li>
    <li>Techniques for in-line stressing when we undertake track renewals</li>
</ul>
 </div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/lu-asset-technology_rdax_400x250.jpg" alt="London Underground staff using new smartphone devices" />
        
        
        
    </div>
    <h2>Reliability and dependability</h2>
<p>We want to use smart data, technology and processes to bring about a 30% reliability improvement, by        predicting and preventing failures and introducing more reliable assets.</p>
<h3>Predicting and preventing failures - improve asset condition monitoring</h3>
<ul>
    <li>Develop innovative solutions and approaches to record, analyse and report asset condition information </li>
    <li>Adopt new procedures for remote asset condition monitoring, for            example through the application of modern communications technology, to            allow us to predict the need for intervention</li>
    <li>Implement remote monitoring and isolation of our electrical power assets</li>
    <li>Develop systems to allow us to track our plant and equipment on and off sites</li>
    <li>Implement solutions to monitor and manage water ingress into our tunnels</li>
    <li>Develop better ways for inspecting and maintaining drainage on our network</li>
</ul>
<h3>Design and introduce new and upgraded assets</h3>
<ul>
    <li>Improve the way we design, contract and deploy new and upgraded            assets through higher reliability rates and lower maintenance            requirements</li>
</ul>
<h3>Improve reliability of existing assets</h3>
<ul>
    <li>Develop solutions to improve the performance of existing assets</li>
</ul>
 </div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/mind-the-gap-sign_rdax_400x250.jpg" alt="Mind The Gap notice at a London Underground platform" />
        
        
        
    </div>
    <h2>Safety</h2>
<p>We want to develop innovative solutions to improve customer safety and        security, as well as ensuring the safety of everyone working on the network.</p>
<h3>Improve health and safety at work</h3>
<ul>
    <li>Improve safety by reviewing procedures, communications protocols and site roles in implementing the safe system of work </li>
</ul>
<h3>Improve customer safety and security</h3>
<ul>
    <li>Improve customer safety and security on our network</li>
</ul>
<p><a href="/info-for/business-and-commercial/submit-an-idea">Submit your idea to our innovation portal</a></p>
<ul>
</ul>
 </div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/info-for/business-and-commercial/commercial-innovation" class="heading">
                    <h2 id="sub-menu-heading">Commercial Innovation<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/business-and-commercial/innovation-portal">Innovation portal</a></div>
                                <ul>
                                    
                                        <li class="selected"><div class="link-wrapper"><a href="/info-for/business-and-commercial/challenges">Challenges</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/business-and-commercial/submit-an-idea">Submit an idea</a></div></li>
                            
 
                                </ul>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "The different challenges and business issues we face as an organisation";}
        
            
        


 