
    
  



@{ViewBag.Title = "New projects";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/info-for/business-and-commercial/new-projects";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/business-and-commercial/index">Business & commercial</a></li>
                
            
            
                <li><span class="last-breadcrumb">New projects</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>New projects</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        If you're a business looking for an exciting opportunity in a new and unique location, find out more. 
        
      </div>
    
    
      <p>Our Commercial Development team are looking for third party partners to develop innovative commercial projects across Underground, Rail and Surface Transport assets.</p>
<p>We're keen to work with partners who can offer Londoners and visitors new products and services, generating revenues which can be re-invested into London's transport network.</p>
<p>Work on famous 'disused stations' is only the first initiative of what will be a series of exciting commercial opportunities to come to market. </p>
<h2>New partnership opportunity - Down Street station</h2>
<p>&nbsp;</p>
      
           
      

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/down-street-gallery-imge-1.jpg" alt="" />
                <figcaption>

<span class="figure-description">Down Street station tunnel - 1</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/down-street-gallery-imge-3.jpg" alt="" />
                <figcaption>

<span class="figure-description">Down Street station lift shaft</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/down-street-gallery-imge-2.jpg" alt="" />
                <figcaption>

<span class="figure-description">Down Street station tunnel - 2</span>
                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
 
<div>




<p>During a recent review of all our disused assets, the Commercial Development team identified seven stations and one deep level shelter with great commercial potential.</p>
<p>The review also allowed us to establish that:</p>
<ul>
    <li>Few are complete stations and no site is disused or abandoned</li>
    <li>Most, directly lead to live operational railway and continue to perform important operational functions, e.g. maintenance and emergency access</li>
    <li>Each location presents a unique combination of commercial opportunity and operational constraint</li>
</ul>
<p>
We commissioned Carmody Groarke, a firm of architects with experience in this area, to conduct a commercial feasibility study at the disused Down Street station. This study aimed to:</p>
<ul>
    <li>Identify potential secondary revenue opportunities </li>
    <li>Create a methodology, or assessment template, which could be adapted and applied to other sites in the future</li>
</ul>
<p>
The study concluded that the Down Street station site had many attributes which collectively outweighed its constraints. As a result, we're now seeking commercial proposals for this site.</p>
<p>Our digital brochure provides information about the Downs Street site and the tender process. Find out more: </p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/digital-down-street-brochure.pdf">
    <div class="document-download-text">
        <p>Down Street station brochure</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 5.94MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<div>
<h3>Bidders conference and tender competition</h3>
<p>Following the bidders conference held in May 2015, the tender competition was reduced to a shortlist of preferred bidders for Down Street. Our Operational Business department have since been working with these organisations to establish the feasibility and cost of the schemes. </p>
<p>Once we have a decision about Down Street we can proceed, and begin to consider the options for other unique, disused sites on the network.&nbsp; </p>
<p>To register interest in any of our disused stations, please email <a href="mailto:disusedstations&#64;tfl.gov.uk">disusedstations&#64;tfl.gov.uk</a>. </p>
</div>

<!-- 5.94 -->
 
</div>

</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "If you're a business looking for an exciting opportunity in a new and unique location, find out more. ";}
        
            
        


 