
    
  



@{ViewBag.Title = "Property development";}
@{ViewBag.Keywords = "Businesses,TfL";}
@{ViewBag.Url = "/info-for/business-and-commercial/property-development";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/info-for/business-and-commercial/index">Business & commercial</a></li>
                
            
            
                <li><span class="last-breadcrumb">Property development</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Property development</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        As well as being responsible for over 30 million journeys every day, we're also one of London's largest landowners.
        
      </div>
    
    <div class="on-this-page">
      <p>We own a 5,700 acre estate that includes land and properties with huge potential for creating the homes and jobs that the Capital needs. Our landholdings can play a vital role in meeting the Mayor's priorities to build affordable homes, while generating revenue to invest in improving our transport network.</p>

<p>We have the team, sites and programme in place to provide a long-term development pipeline, delivering 10,000 homes across 300 acres. Since May 2016, 50% of our sites have been affordable.</p>

<p>We are using a number of routes to release our sites, including our property partnerships framework of 13 leading developers, direct-development and site-specific partnerships. We also have plans to release our smaller sites.</p>

<p>Our ambitious programme offers an exciting opportunity to build homes and communities around the transport hubs where people want to live and work. To make the most of this we want to work with local authorities, land owners and the best of the development industry.</p>
      
           
      <div>

<h2>Our joint venture sites </h2>
<p>We have signed development agreements and formed partnerships to build new homes and commercial space at these sites.</p>
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/earls-court-campaign.jpg" alt="Earls Court redevelopment" />
    </div>
    <h3>Earls Court - Hammersmith and Fulham, and Kensington and Chelsea</h3>
<p>Earls Court is one of the Capital's most important development opportunities and was our first joint venture. In 2015 we partnered with Capco to establish Earls Court Partnership Limited. Together we'll deliver 1,800 homes on 26.6 acres as part of a wider 77 acre plan. Find out more about the <a href="http://myearlscourt.com">transformation of Earls Court</a>.</p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/kidbrooke-.jpg" alt="Picture of a proposed building for Kidbrooke development" />
    </div>
    <h3>Kidbrooke - Greenwich</h3>

<p>Our four-acre site next to Kidbrooke rail station was the first site to be made available to our property partnerships framework. We have submitted an application for 619 homes, 50% of which are affordable. As well as providing hundreds of genuinely affordable homes, the site will also provide new retail and commercial spaces, improved urban realm and improved bus facilities. In March 2017 we announced Triangle London Developments (TLD) as our preferred bidder for the site. <a href="http://kidbrookestationsquare.org/">Find out about our plans for Kidbrooke.</a></p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/high-street-ken-.jpg" alt="High Street Kensington" />
    </div>
    <h3>South Kensington station - Kensington &amp; Chelsea </h3>
<p>
South Kensington station is a listed building that acts as the gateway to many of London's most renowned museums, the Royal Albert Hall and Imperial College. We have been working with the local community to draw up plans for new shops, homes and office space around the station. In spring 2018 we announced Native Land as our preferred development partner for this site. <a href="/travel-information/improvements-and-projects/south-kensington">Find out about our plans for South Kensington</a>.</p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/northwood.jpg" alt="Picture of a proposed building on the Northwood development" />
    </div>
    <h3>Northwood station - Hillingdon</h3>

<p>Located in zone 6, our 4.7 acre site at Northwood can provide around 250 new homes, 35 per-cent of which will be affordable. Redeveloping this underused site will also provide step-free access at the station, new shops,&nbsp;a public square as well as a new bus interchange, cycle hub and pick-up/drop-off points. In spring 2018 we appointed Triangle London Developments, a consortium between Notting Hill Housing and U+I as our preferred development partner for this site. Find out more about our plans for <a href="https://www.northwoodstationquarter.co.uk/">Northwood Station Quarter</a>.</p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/blackhorse-road-development.jpg" alt="blackhorse road" />
    </div>
    <h3>Blackhorse Road - Waltham Forest</h3>

<p>We got planning permission to redevelop our site at Blackhorse Road in December 2018. Covering 1.5 acres opposite Blackhorse Road Tube station on the Victoria line, we will transform this car park into 350 homes, half of which are affordable. Located within a GLA Housing Zone and Waltham Forest Council's Blackhorse Lane Growth Area, the site will contribute new homes, shops, restaurants and cafes, and new public realm. <a href="http://blackhorsepoint.com/">Find out more about the project, our partnership with Barratt Homes and our proposals.</a> We hope to start construction in mid-2019.</p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/landmark-court-cd.jpg" alt="Landmark Court commercial development" />
    </div>
    <h3>Landmark Court - Southwark</h3>

<p>This 1.9 acre site sits at the heart of London Bridge, with significant potential and flexibility to support a number of uses including up to 180,000 square feet of high quality office space, retail, leisure and&nbsp;35 new homes.We have now appointed U+I as our preferred development partner for the site and we plan to submit a planning application in 2019. <a href="https://www.landmarkcourtsouthwark.co.uk/">See the plans for Landmark Court.</a></p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/fenwick-.jpg" alt="Fenwick" />
    </div>
    <h3>Fenwick South - Lambeth</h3>

<p>We have&nbsp;started work on building 46 new affordable homes on this&nbsp;one acre site. Working with the&nbsp;London Borough of Lambeth, each of these will be&nbsp;high-quality, dual-aspect, one to&nbsp;three bedroom homes.</p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/hoth.png" alt="HOTH" />
    </div>
    <h3>Harrow on the Hill</h3>

<p>We are working with Redrow Homes to deliver approximately 600 homes, a scheme that would also improve transport and access in the town centre. Harrow-on-the-Hill station and neighbouring bus station need significant improvement - these proposals will bring step-free access as well as a safer and better bus station. Find out more about <a href="https://www.harrowonthehillredrow.co.uk/">our proposals</a>.</p> 
</div>
 <div>

<h2>Build to rent</h2>

<p>We have identified seven sites across London with the potential to deliver more than 3,000 homes, with a minimum of 40% affordable on all new planning consents. Using a build to rent approach will allow us to deliver homes quickly while keeping a long term interest in the future development of our significant property estate. It's likely some of the homes will be built through modular construction which is faster than traditional methods. It will also create a long-term, stable way of generating income which can then be reinvested back into the transport network.</p>

<p>The first phase of sites identified are:</p>

<ul>
	<li>Limmo Peninsula, Canning Town, Newham</li>
	<li>Southall Elizabeth line sidings , Ealing</li>
	<li>Nine Elms Tube station, Lambeth</li>
	<li>Armourers Court, Woolwich, Greenwich</li>
	<li>Hounslow West Tube station, Hounslow</li>
	<li>Cockfosters Tube station, Enfield</li>
	<li>Arnos Grove Tube station, Enfield</li>
	<li>Montford Place, Kennington, Lambeth</li>
</ul>
</div>
 <div>

<h2>New partnerships</h2>

<h3>Pocket homes</h3>

<p>We will be working with Pocket Living to provide affordable homes for first time buyers at a number of sites. Pocket homes are targeted specifically at local singles and couples who earn too much to qualify for social housing, but are priced out of the open market. Pocket home buyers own 100% of their property from day one.</p>
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/sudburyt.png" alt="Sudbury Town" />
    </div>
    <h3>Sudbury Town</h3>

<p>Pocket Living is proposing 61 affordable one bedroom homes for local people, as well as new public space at Sudbury Town. A key design feature is to create a high-quality development which is sympathetic to the Grade II* Listed Tube station.</p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/woodsidepk.png" alt="Woodside Park" />
    </div>
    <h3>Woodside Park</h3>

<p>Pocket Living is proposing to build 88 affordable one bedroom homes across two buildings. The development would also include a landscaped communal courtyard and cycle storage for the new homes.</p> 
</div>
 <div>

<h3>Apartments for London (AfL)</h3>

<h3>Osterley</h3>

<p>Built above the existing car park at Osterley&nbsp;Tube station, AfL is proposing up to 118 new affordable homes with a mix of one and two-bedroom homes. The development will also allow improvements to security, landscaping and access to the existing car park.</p>
</div>
 <div>

<h2>Sites currently out to market</h2>
<p>We have launched these sites to market. We are currently evaluating our prospective development partners submissions or they are in the process of preparing their bids.</p>
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/harrow-car-park-development.jpg" alt="Harrow car parks" />
    </div>
    <h3>Harrow car parks</h3>
<p>We have plans to bring three car parks in the London borough of Harrow to market through the GLA's new London Development Panel 2. The three car parks located at Canons Park, Rayners Lane and Stanmore Tube stations will provide a minimum of 400 homes, all of which will be affordable. Using this panel will help us develop the sites sooner and with a partner that has a proven track record of delivering homes on public land. When a partner has been appointed, we will start detailed design work and consult the local community before submitting a planning application in 2019/20.</p> 
</div>
 <div>

<h2>Coming up</h2>
<p>We have an extensive pipeline of sites and are identifying how and when we will bring each one forward. These are the sites we have announced to date.</p>
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/colindale.png" alt="Colindale" />
    </div>
    <h3>Colindale</h3>

<p>Consisting of up to 350 new homes, we are proposing massive improvements to the area with a regenerated station, step-free access to the platform, a wider pavement in front of the station and new commercial space. Find out more about our plans for development at Colindale station.</p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/woodlanearches.jpg" alt="Wood Lane Arches" />
    </div>
    <h3>Wood Lane Arches - Hammersmith and Fulham</h3>

<p>We'll deliver new commercial units by transforming 31 disused railway arches underneath Wood Lane Tube station. The arches will be converted into 20 retail units, workspaces, amenity and cycle parking. Public access arches will support the regeneration of the White City Opportunity Area by creating direct routes between White City Living (developed by St James) and Westfield London. <a href="/travel-information/improvements-and-projects/wood-lane-arches">Find out more about our plans for Wood Lane Arches</a>.</p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/bank2.jpg" alt="Bank CD image" />
    </div>
    <h3>Bank - City of London</h3>
<p><strong>
</strong>We have started works to modernise Bank station, connecting it to Monument station and providing step-free access. Once works are complete, we will develop a new retail and office building above the new station entrance. We expect to start work on the 0.66 acre site once the station is complete in 2021. We have planning permission for a nine storey scheme, including 12,000 square metres of office and 650 square metres of retail space.</p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/nine-elms.jpg" alt="Nine Elms commercial and development" />
    </div>
    <h3>Nine Elms - Lambeth</h3>
<p>
This is a 1.85 acre site above and around the proposed Nine Elms Northern line station.  We have planning permission for 332 homes, and retail and commercial space. We will start on site when the station is finished in 2020.</p> 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/cdn/static/cms/images/northgreenwich.jpg" alt="North Greenwich" />
    </div>
    <h3>North Greenwich - Greenwich</h3>
<p>We are working with our partners Knight Dragon and the GLA to bring forward the development of Peninsula Place. Knight Dragon have unveiled a new &pound;1 billion landmark scheme designed by Santiago Calatrava totalling 1.4 billion square feet which includes a new Tube and bus station.</p> 
</div>
 <div>

<h2>Our property partnerships framework</h2>
<p>In February 2016 we appointed 13 major property development companies and consortia to a development framework which will help to deliver the thousands of homes, offices and retail spaces vital to keep London growing.</p>
<p>The 13 organisations were selected following a competitive procurement process with over 50 companies registering their interest in becoming one of our property partners.</p>
<p>Our framework allows us to work in joint ventures with some of the best developers in the market, on land in London's most iconic locations. It works more efficiently than procuring a joint venture development partner on a site by site basis. The wider GLA family will also be able to use the framework to bring forward developments on their sites.</p>
<p>The property partnership programme is part of our plans to raise&nbsp;&pound;850m in income from property development and disposals by 2021/22 for reinvestment in London's transport network. The partnership is the first phase of our wider property development programme.</p>
<p>The 13 companies and consortiums selected are:</p>
<ul>
    <li>Balfour Beatty PLC</li>
    <li>Barratt Development PLC / London and Quadrant Housing Association (Consortium)</li>
    <li>Berkeley Group PLC</li>
    <li>The British Land Company PLC</li>
    <li>Canary Wharf Group PLC</li>
    <li>Capital and Counties PLC</li>
    <li>U+I / Notting Hill Housing Group (Consortium: Triangle London Developments)</li>
    <li>Land Securities Group PLC</li>
    <li>Mace Limited / Peabody Trust / DV4 Limited (Consortium)</li>
    <li>Mount Anvil Group Limited / Hyde Housing Association Limited</li>
    <li>Redrow Homes Ltd</li>
    <li>Stanhope PLC / Mitsui Fudosan Company Limited</li>
    <li>Taylor Wimpey UK Ltd</li>
</ul>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "As well as being responsible for over 30 million journeys every day, we're also one of London's largest landowners. ";}
        
            
        


 