
    
  



@{ViewBag.Title = "Broadway";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/about-tfl/culture-and-heritage/art-and-design/station-architecture/broadway";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/culture-and-heritage">Culture & heritage</a></li>
                
            
                 <li><a href="/corporate/about-tfl/culture-and-heritage/art-and-design">Art & design</a></li>
                
            
                 <li><a href="/corporate/about-tfl/culture-and-heritage/art-and-design/station-architecture">Station architecture</a></li>
                
            
            
                <li><span class="last-breadcrumb">Broadway</span></li>
            
        
 
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Broadway</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Despite causing controversy in the 1920s, the 55 Broadway building has become an architectural design classic.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<h2>Future of Broadway</h2>
<p> Following careful consideration we have decided to vacate our office building complex at 55 Broadway (55 Broadway, Wing-Over-Station and 100 Petty France) as the building's arrangement and listing do not allow the flexible, modern office space that we require. We have recently been granted planning approval by Westminster Council's planning committee, and will share further information on how the proposals will be progressed once we have it.</p>
<p>In recognition of the significance of the building, we are leading this work rather than engaging an external developer at this stage. This will ensure that the proposed solution for the building is appropriate to its heritage and complements the operation of St James's Park station. </p>
<p>We are sensitive to the place 55 Broadway will always have in TfL's and London's story. We appointed TateHindle to develop a residential-led conversion of 55 Broadway that respects and enhances the iconic features of the building and improves its position within the local urban environment. </p>
<p>The scheme involves 77 units within 55 Broadway, as well as 35 affordable units in the adjoining Wing-Over Station. The development will also include office space as part of the first floor at 55 Broadway.</p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/introduction-55broadway-plans.pdf">
    <div class="document-download-text">
        <p>Introduction to plans for 55 Broadway</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.47MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.47 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/public-realm.pdf">
    <div class="document-download-text">
        <p>Public Realm</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 9.74MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 9.74 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/access-and-retail.pdf">
    <div class="document-download-text">
        <p>Access and Retail</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 11.22MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 11.22 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/broadway-residential-plans.pdf">
    <div class="document-download-text">
        <p>Broadway Residential Plans</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 15.38MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 15.38 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/wing-over-station-sustainability-construction-contacts.pdf">
    <div class="document-download-text">
        <p>Wing-Over-Station, Sustainabiltiy, Construction and Contacts</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 6.04MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 6.04 -->
 
</div>

    
</div>
 
<div>





        <p>We have consulted widely on these proposals with staff, local stakeholders and the public, with over 1,000 visitors viewing our exhibition in September 2014. A summary of responses from attendees can be found below in the Statement of Community Involvement. </p>
        <p>This report highlights the following key points from the feedback we have received:</p>
        <ul>
            <li>70% of respondents agreed that residential is an appropriate use for the site, compared to only 7% that disagreed</li>
            <li>Consultees support the demolition of 100 Petty France, and believe the proposed public realm improvements will positively impact the local area</li>
            <li>Consultees broadly welcome the upgrading of the retail offer on the ground-floor</li>
            <li>Those who attended the exhibition also support our proposals for affordable housing&nbsp;</li>
        </ul>
    
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/statement-of-community-involvement-55-broadway.pdf">
    <div class="document-download-text">
        <p>Statement of community involvement</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.12MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.12 -->
 
</div>
If you have any comments or questions about the scheme, please get in touch at <a href="mailto:55Broadway&#64;tfl.gov.uk">55Broadway&#64;tfl.gov.uk</a>.
</div>
 <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/broadway-culture-and-heritage_rdax_400x250.jpg" alt="55 Broadway" />
        
        
        
    </div>
    
        <h2>Origins</h2>
        <p>In 1927, when the Underground Group decided it wanted its new headquarters to reflect its bold vision of the future, they hired architects Adams, Holden and Pearson for the job. </p>
        <p>It was a challenging job from the start. With its irregular shape and depth (St James's Park station sitting just 7.3 metres below the site, Adams, Holden and Pearson's job was a difficult one. They managed to get around it, however, by incorporating the cross-shaped layout into their design. Doing this benefitted everyone, including staff who now had more natural light, and pedestrians who were able to walk through the ground floor of the offices and across the station booking hall.&nbsp; </p>
        <p>The architects also planned that 55 Broadway would be the tallest building in London. </p>
        <h2>A work of art</h2>
        <p>Built between 1927 and 1929, 55 Broadway was immediately considered a radical building, and not just because of its height. A number of contemporary artists were invited to sculpt decorative features into the stone facade: two just above street level and a further eight above the sixth floor windows on each side of all four wings. But even some of the sculptures caused offence. Jacob Epstein's sculptures (the ones nearest street level) were condemned as primitive, ugly and indecent - as a result, he offered his resignation. It was declined but in the spirit of compromise, Epstein chipped half an inch from the penis of the sculpted, naked young boy. </p>
        <p>Adams, Holden and Pearson's radical approach paid off when The Royal Institute of British Architects acknowledged their work on 55 Broadway with the London Architectural Medal, in 1929.&nbsp; </p>
        <h2>
        Since construction</h2>
        <p>During World War Two, the west wing suffered considerable bomb damage. It was rebuilt soon after but without the original Portland stone facing (because it wasn't readily available at the time). The Portland stone was reinstated in 1963.</p>
        <p>The building was refurbished in the 1980s. The exterior stone work was cleaned, the windows replaced with exact replicas, and a new street-level shopping mall allowed the re-opening of the eastern entrance to the building.</p>
        <p><a href="/corporate/about-tfl/culture-and-heritage/corporate-archives/accessing-our-archives">To find out about 55 Broadway, or research our other designs, contact the Corporate Archives team</a>.</p>
        &nbsp;
    
 </div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/culture-and-heritage/art-and-design" class="heading">
                    <h2 id="sub-menu-heading">Art & design<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/art-and-design/station-architecture">Station architecture</a></div>
                                <ul>
                                    
                                        <li class="selected"><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/art-and-design/station-architecture/broadway">Broadway</a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/art-and-design/harry-becks-tube-map">Harry Beck's Tube map</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/culture-and-heritage/art-and-design/the-roundel">The Roundel</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Despite causing controversy in the 1920s, the 55 Broadway building has become an architectural design classic.";}
        
            
        


 