
    
  



@{ViewBag.Title = "Buses";}
@{ViewBag.Keywords = "Bus passengers,Public,Buses,TfL";}
@{ViewBag.Url = "/corporate/about-tfl/what-we-do/buses";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/what-we-do">What we do</a></li>
                
            
            
                <li><span class="last-breadcrumb">Buses</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Buses</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We manage one of the largest bus networks in the world, with around 9,300 vehicles in the fleet. Our subsidiary company, London Bus Services Ltd, plans routes, specifies service levels and monitors service quality. It is also responsible for around 50 bus stations and more than 19,000 bus stops.
        
      </div>
    
    <div class="on-this-page">
      <h2>Bus operators
</h2>
<p>Most <a href="/modes/buses/index">bus services</a> in London are run by private operators awarded a contract by us. The contract is then managed by London Bus Services Ltd.</p>
<p>All applicants must tender for any service they would like to run.</p>
<p><a href="/info-for/suppliers-and-contractors/london-buses-tenders">Read more about the bus service tender process</a>.</p>
<p>A few bus services in London are run commercially and are not part of our competitive tender process. Operators interested in running this type of service need to <a href="/info-for/suppliers-and-contractors/london-service-permits">apply for a London Service Permit</a>.</p>
<h2>Highlights</h2>
<h3>Going green</h3>
<p>We have the largest electric bus fleet in Europe with more than 2,500 hybrid electric buses. </p>
<p>These vehicles use a combination of an ordinary diesel engine and an electric motor and reduce emissions of local pollutants and CO2 by 30% compared to conventional buses.</p>
<p>We also have hydrogen fuel cell single deck buses. The only emission from these buses is water.</p>
<p>About 5000 buses are being retrofitted with new exhaust systems to cut harmful emissions.</p>
<h3>Technology for passengers</h3>
<p>A system called iBus operates on all London Buses.</p>
<p>Using a combination of technologies including satellite tracking, iBus can pinpoint the location of buses, relaying information between the driver, garage and central control point.</p>
<p><a href="/modes/buses/live-bus-arrivals">Live bus arrival information</a> for all bus stops is available online, on smartphones and via SMS. We also have 2,500 bus stop countdown signs.</p>
<p>Our <a href="/maps_/maps">interactive maps</a> allow people to search by postcode, street name, route number, stop name or place of interest.</p>
<h3>Hopper fare</h3>
<p>Customers can make unlimited bus and tram journeys in one hour for the price of one.</p>
<h2>Network facts
</h2>
<ul>
    <li>Around 9,300 vehicles operate across 675 routes</li>
    <li>London's buses travelled 490 million kilometres in 2017/18</li>
    <li>More than six million bus journeys every weekday - more than two billion passenger trips are made on buses each year in London</li>
    <li>Our entire bus fleet is low-floor and wheelchair accessible, except for a small number of vintage Routemasters</li>
    <li>More than 90% of Londoners live within 400 metres of a bus stop</li>
    <li>Around half of all UK bus trips take place in London</li>
    <li>Realtime bus arrival information is available on our web and mobile services for every bus stop across the network</li>
</ul>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/what-we-do" class="heading">
                    <h2 id="sub-menu-heading">What we do<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/buses">Buses</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/coaches">Coaches</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/cycling">Cycling</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/docklands-light-railway">Docklands Light Railway</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/emirates-air-line">Emirates Air Line</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/dial-a-ride">London Dial-a-Ride</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/london-overground">London Overground</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/london-trams">London Trams</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/london-transport-museum">London Transport Museum</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/london-underground">London Underground</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/river">River</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/roads">Roads</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/taxi-and-private-hire">Taxis & private hire</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/tfl-rail">TfL Rail</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/walking">Walking</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/modes/buses/index" class="plain-button">Buses</a>
<a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/london-buses" class="plain-button">History of London buses</a>
    </div>
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="http://www.ltmuseum.co.uk/" class="plain-button">London Transport Museum</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We manage London's bus network. Most bus services are provided by private companies we contract";}
        
            
        


 