
    
  



@{ViewBag.Title = "Cycling";}
@{ViewBag.Keywords = "Cyclists,Public,Cycling,TfL";}
@{ViewBag.Url = "/corporate/about-tfl/what-we-do/cycling";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/what-we-do">What we do</a></li>
                
            
            
                <li><span class="last-breadcrumb">Cycling</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Cycling</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Encouraging more people to cycle is a major priority for us. Our aim is that by 2041, 80% of journeys in London will be made by cycling, walking and public transport.<BR>
        
      </div>
    
    <div class="on-this-page">
      <p>We also want 70% of Londoners to live within 400 metres of the London-wide cycle network, and for a wider cross-section of Londoners to cycle.</p>
<h2>Santander Cycles
</h2>
<p>Our cycle hire scheme, <a href="/modes/cycling/santander-cycles">Santander Cycles</a>, offers bikes for rent 24 hours a day, in and around central London.</p>
<p>Visitors and residents can hire one of more than 11,500 bikes from around 750 docking stations, use it for business or leisure trips around the Capital, then return it ready for the next person to use.</p>
<p>Docking stations are typically about 400 metres apart, located off main roads, near tourist attractions, in parks, and at Tube and rail stations. </p>
<p>The scheme, originally sponsored by Barclays, started in central London in 2010 and has since extended eastwards to Tower Hamlets, Hackney, Bethnal Green, Bow, Canary Wharf, Mile End and Poplar.</p>
<p>The scheme expanded west in 2014 when more than 2,000 bikes and 5,000 docking points were added. It is is sponsored by Santander and operated for us by Serco.</p>
<p>View the <a href="/corporate/publications-and-reports/cycle-hire-contracts">cycle hire contracts</a>.</p>
<h2>Cycle Superhighways</h2>
<p><a href="/modes/cycling/routes-and-maps/cycle-superhighways">Cycle Superhighways</a> are routes that offer safer and more direct ways into and across London, creating a more enjoyable cycling experience. Segregated cycle tracks feature across many of the Cycle Superhighways,
ensuring cyclists are separated from motor traffic where possible.</p>
<p> The routes have many features to benefit all road users, from widened footways, new pedestrian crossings and innovative safety improvements at junctions.</p>
<h2>Cycle Skills</h2>
<p>Cycle Skills is the name of a range of training sessions created to help Londoners to get on their bike, build confidence or ride smarter. There are four types of sessions available to suit your need - basic, urban, advanced and family sessions.</p>
<p>Free to anyone who lives, works or studies in London. <a href="/modes/cycling/cycling-in-london/cycle-skills">Request a session on the Cycle Skills page</a>.</p>
<p>What you'll learn:</p>
<ul>
    <li>How to ride with confidence</li>
    <li>How to deal with traffic and road positioning</li>
    <li>Road rules for cyclists</li>
    <li>Tips for riding at night or on rainy days</li>
    <li>Great cycling routes</li>
</ul>
<p>We are also working with boroughs and businesses to improve cycle parking and provide cycle safety checks to ensure your bike is fit for the road. <a href="https://businessoffers.tfl.gov.uk/?cid=cyclingworkplaces">Register your employer on the Cycling Workplaces page</a>.</p>
<h2>Cycling Grants London</h2>
<p>Community projects across London can apply for up to &pound;10,000 in funding to deliver cycling initiatives over three years. Funding can cover guided rides, cycle training and bike maintenance to promote the benefits of cycling. </p>
<p>To be eligible for a grant, your organisation must be based or operate inside Greater London and fall within the following groups:</p>
<ul>
    <li>Community groups or clubs</li>
    <li>Charities or not-for-profit organisations</li>
    <li>Social enterprises</li>
</ul>
<h3>Applying for a grant</h3>
<p>The application window for 2018/19 grants is now closed.</p>
<p>Groundwork London administers the grants on our behalf. Find more about Cycling Grants London and how to apply on the <a href="http://www.cyclinggrants.london">Cycling Grants London website</a>, or contact the Groundwork London Cycling Grants team:</p>
<p><strong>Email</strong>: <a href="mailto:cyclinggrantslondon&#64;groundwork.org.uk">cyclinggrantslondon&#64;groundwork.org.uk</a>
</p>
<p>
<strong>Phone</strong>: 020 7239 1286</p>
<h2>Quick facts</h2>
<ul>
    <li>730,000 journeys cycled a day</li>
    <li>The number of cycle trips grew by 154% since 2000, 8.8% between 2016 and 2017</li>
    <li>10.4 million cycle hires in 2017/18</li>
</ul>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/what-we-do" class="heading">
                    <h2 id="sub-menu-heading">What we do<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/buses">Buses</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/coaches">Coaches</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/cycling">Cycling</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/docklands-light-railway">Docklands Light Railway</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/emirates-air-line">Emirates Air Line</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/dial-a-ride">London Dial-a-Ride</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/london-overground">London Overground</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/london-trams">London Trams</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/london-transport-museum">London Transport Museum</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/london-underground">London Underground</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/river">River</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/roads">Roads</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/taxi-and-private-hire">Taxis & private hire</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/tfl-rail">TfL Rail</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/walking">Walking</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/info-for/business-and-commercial/travel-for-business/cycling-for-business" class="plain-button">Cycling for business</a>
<a href="/modes/cycling/index" class="plain-button">Cycling</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Encouraging more people to cycle is a major priority for us";}
        
            
        


 