
    
  



@{ViewBag.Title = "London Underground";}
@{ViewBag.Keywords = "Public,Tube passengers,Tube,TfL";}
@{ViewBag.Url = "/corporate/about-tfl/what-we-do/london-underground";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/what-we-do">What we do</a></li>
                
            
            
                <li><span class="last-breadcrumb">London Underground</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>London Underground</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        London Underground, better known as the Tube, has 11 lines covering 402km and serving 270 stations. Opened in 1863, it is the world's oldest underground railway network, and one of the largest.
        
      </div>
    
    <div class="on-this-page">
      <p>The Tube handles up to 5 million passenger journeys per day. At peak times, there are more than 543 trains whizzing around the Capital. </p>
<h2>Managing the Tube</h2>
<p>London Underground became part of TfL in 2003 - by 2010 we had full responsibility.</p>
<p>We're in charge of all aspects of the Tube's operations including:</p>
<ul>
    <li>Running the trains, stations and control centres</li>
    <li>Making sure the Tube is safe and secure</li>
    <li>Collecting and protecting fares revenue</li>
</ul>
<p>We are also responsible for the maintenance and renewal of most of the infrastructure used by the Tube, although some services run over track that is the responsibility of Network Rail.</p>
<h2>Investing in the future</h2>
<p>More people than ever are using the Tube, with more trains running than at any time in its history. </p>
<p>A <a href="https://tfl.gov.uk/campaign/tube-improvements?intcmp=1251">multi-billion pound programme</a> we are carrying out will increase capacity and accessibility and help us to run services more reliably and more frequently.</p>
<p>It includes introducing new trains, signalling and track, and rebuilding some of the busiest and most complex stations.</p>
<p>Learn more about <a href="/campaign/tube-improvements">our work to improve the Tube</a>.</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/what-we-do" class="heading">
                    <h2 id="sub-menu-heading">What we do<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/buses">Buses</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/coaches">Coaches</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/cycling">Cycling</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/docklands-light-railway">Docklands Light Railway</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/emirates-air-line">Emirates Air Line</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/dial-a-ride">London Dial-a-Ride</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/london-overground">London Overground</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/london-trams">London Trams</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/london-transport-museum">London Transport Museum</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/london-underground">London Underground</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/london-underground/facts-and-figures">Facts & figures</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/london-underground/rolling-stock">Rolling stock</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/river">River</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/roads">Roads</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/taxi-and-private-hire">Taxis & private hire</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/tfl-rail">TfL Rail</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/walking">Walking</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/modes/tube/index" class="plain-button">Tube</a>
<a href="/corporate/about-tfl/culture-and-heritage/londons-transport-a-history/london-underground" class="plain-button">History of London Underground</a>
<a href="/corporate/publications-and-reports/underground-services-performance" class="plain-button">Underground services performance</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "London Underground, better known as the Tube, has 11 lines covering 402km and serving 270 stations";}
        
            
        


 