
    
  



@{ViewBag.Title = "River";}
@{ViewBag.Keywords = "Public,River passengers,River,TfL";}
@{ViewBag.Url = "/corporate/about-tfl/what-we-do/river";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/what-we-do">What we do</a></li>
                
            
            
                <li><span class="last-breadcrumb">River</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>River</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        London River Services (LRS) licenses passenger boat services to use our eight piers along the Thames.<BR>
        
      </div>
    
    
      <p>We do not directly operate any boat services on the Thames - instead, LRS issues licenses and charges independent boat operators to use the berths at:</p>

<ul>
	<li>Greenwich</li>
	<li>Tower</li>
	<li>Bankside</li>
	<li>Blackfriars</li>
	<li>Festival</li>
	<li>Embankment</li>
	<li>Westminster</li>
	<li>Millbank</li>
</ul>

<p>Two main categories of boat services use our piers:</p>

<ul>
	<li>Scheduled service River Bus and River Tours which operate a regular timetable</li>
	<li>Ad hoc charter bookings for private hire boats typically used for corporate events or private parties</li>
</ul>

<p>We also own the Woolwich Ferry vessels and their associated terminals and infrastructure. This cross-river service is run under contract to Briggs Marine and Environmental Services.&nbsp;</p>

<h2>Thames Vision</h2>

<p>LRS, through the <a href="/corporate/about-tfl/the-mayors-transport-strategy">Mayor's Transport Strategy</a>, supports the goals set out in the Port of London Authority (PLA) <a href="http://www.pla.co.uk/About-Us/The-Thames-Vision/About-the-Vision-Project">Thames Vision for 2035</a>, including increasing passenger numbers on the river to 20 million by this date.</p>

<p>LRS works with all river organisations and groups to drive safe, sustainable growth in river traffic so all of London can benefit from this route through the city.</p>

<p>Find out more and plan your river trip on <a href="/modes/river/index">our River travel pages</a>.</p>

<h2>Quick facts</h2>

<ul>
	<li>10 million passenger journeys took place on the river in 2017/18</li>
	<li>The Thames has a large tidal range of up to seven metres between high tide and low tide</li>
	<li>Renovation work we did on Greenwich Pier in 2017/2018 will increase its lifespan by a decade</li>
	<li>Transporting passengers on the Thames first became regulated in 1510 when King Henry VIII granted licenses to watermen that gave them exclusive rights to carry passengers on the river</li>
</ul>
      
           
      
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/what-we-do" class="heading">
                    <h2 id="sub-menu-heading">What we do<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/buses">Buses</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/coaches">Coaches</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/cycling">Cycling</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/docklands-light-railway">Docklands Light Railway</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/emirates-air-line">Emirates Air Line</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/dial-a-ride">London Dial-a-Ride</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/london-overground">London Overground</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/london-trams">London Trams</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/london-transport-museum">London Transport Museum</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/london-underground">London Underground</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/river">River</a></div>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/roads">Roads</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/taxi-and-private-hire">Taxis & private hire</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/tfl-rail">TfL Rail</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/walking">Walking</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/modes/river/index" class="plain-button">River</a>
<a href="/corporate/publications-and-reports/river-action-plan" class="plain-button">River Action Plan</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We manage eight piers along the Thames and license river boat operators to run passengers services to them";}
        
            
        


 