
    
  



@{ViewBag.Title = "Roads";}
@{ViewBag.Keywords = "Drivers,Pedestrians,Public,Driving,Walking,TfL";}
@{ViewBag.Url = "/corporate/about-tfl/what-we-do/roads";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/what-we-do">What we do</a></li>
                
            
            
                <li><span class="last-breadcrumb">Roads</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Roads</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Part of our role is to keep London's roads moving. Given that 80% of all journeys in London are made by road, it's a very important part of what we do. 
        
      </div>
    
    
      <p>Responsibility for managing London's road network is shared between TfL, Highways England, and the 32 London boroughs, plus the City of London.</p>

<ul>
	<li>We manage the Transport for London Road Network (the TLRN or London's 'red routes') and are responsible for the maintenance, management and operation of the Capital's 6,000+ sets of traffic lights</li>
	<li>Highways England manages the national motorway network, including the M25, M1, M4 and M11</li>
	<li>The London boroughs are responsible for all the remaining roads within their boundaries</li>
</ul>

<h2>How we manage London's roads</h2>

<p>We manage our roads using a range of techniques and tools. These include traffic signals to control traffic into and out of central London, our 24-hour traffic control centre, and new technology to improve our knowledge of what is happening on the road network.</p>

<h3>Red routes</h3>

<p>London's red routes form a network of major roads. They make up 5% of the city's roads, but carry up to 30% of traffic.</p>

<p>Key routes, such as the A40 or A406 (North Circular Road), are at the heart of London's road network. They are generally marked with either single or double red lines and form the TLRN.</p>

<p>Our responsibilities include responding quickly to incidents such as floods and road traffic collisions; repairing defects such as potholes, damaged signs or street lighting; and gritting the roads during the winter.</p>

<p><a href="/modes/driving/red-routes/red-route-maps">View a map of London's red routes.</a></p>

<h3>Traffic Control Centre</h3>

<p>In our London Streets Traffic Control Centre (LSTCC) we monitor the road network 24 hours a day, seven days a week.</p>

<p>We have access to around 5,000 CCTV cameras that let us see how traffic is flowing around the Capital.</p>

<p><a href="http://www.tfl.gov.uk/traffic/status">See traffic cameras on a map</a>. (Click the menu in the top right-hand corner of the map to select the cameras option).</p>

<p>During incidents and when congestion is seen on the roads our Traffic Controllers can temporarily change the timings at three quarters of London's traffic lights to help reduce queues.</p>

<p>The LSTCC coordinates our response to major incidents and oversee road closures during events, such as the London Marathon. We have a network of partners who help get roads back to normal after disruptive incidents, including our highways emergency response teams who fix damaged roads and clear up after collisions, flooding or spillages.</p>

<p>The LSTCC is part of a larger operations centre which includes the control rooms for our tunnels, London buses and the Metropolitan Police. It means we can share information quickly and make coordinated actions.</p>

<h3>Traffic information</h3>

<p>We use electronic road signs to alert drivers to disruption and to give advance warning of future disruptions due to roadworks or large events.</p>

<p>We provide live traffic information directly to:</p>

<ul>
	<li>TV and radio stations (for travel broadcasts)</li>
	<li>Satellite navigation companies such as Tomtom and Trafficmaster</li>
	<li>Other third parties, including web and app developers</li>
</ul>
      
           
      <div>

<h2>Traffic lights</h2>
<p>We are responsible for all of London's 6,300 traffic lights.</p>
<p>Our traffic controllers are able to change the length of time a light is green or red to clear an unexpected queue and control vehicles moving into an already congested area.</p>
<p>Traffic lights with computer systems and adaptable timings have been used in London over the last 40 years. We use SCOOT (Split Cycle Offset Optimisation) technology at 75% of our traffic lights. This uses sensors in the road to detect vehicles and uses the information to automatically respond to changes in traffic conditions. This reduces delays at junctions by about 13%.</p>
<p>There are also SCOOT systems at some junctions that will respond to changes in pedestrians and bicycle numbers.</p>
<p>We use smart technology at 31% of our traffic lights to identify and prioritise buses where needed.<br />
Other technology used on traffic signals is Pedestrian Countdown, which uses a digital countdown timer to display the time available to cross.</p>
<p>Our engineers are constantly reviewing and monitoring traffic lights to make sure that they are operating well. We work closely with the London Boroughs and Highways England to make sure the roads are running smoothly.</p>
<h2>Roadworks </h2>
<p>To reduce disruption caused by roadworks, we run a lane rental scheme and charge those carrying out works up to &pound;2,500 a day for working in the most congested areas or at busy times. This encourages work to be completed during quieter times, and more quickly.</p>
<p>Revenue raised by lane rental is reinvested in further innovative measures such as using fast-drying cement, large-scale plates to cover excavations and noise-reducing technologies.</p>
<p>More than 87% of utility roadworks at traffic hotspots are now taking place outside of peak traffic hours, compared to around 30% before the scheme was introduced in 2012. This figure is 99% for TfL roadworks. </p>
<p>We are also responsible for assessing around 88,000 permit applications each year to ensure that jobs are fully coordinated to minimise disruption. </p>
<h2>Reporting problems </h2>
<p>You can report a problem with roadworks using our online reporting system, <a href="/help-and-contact/report-roadworks">Report IT</a>.
</p>
<p>Use our <a href="/help-and-contact/index">Help &amp; contact</a> section to report street faults such as potholes, abandoned vehicles or faulty traffic lights. </p>
<h2>Improving the road network</h2>
<p>We have a continuous <a href="/travel-information/improvements-and-projects/index">programme of improvements</a> taking place across the Capital's road network. </p>
<h2>London Highways Alliance
</h2>
<p>The London Highways Alliance is a joint initiative between TfL and London's boroughs to collaborate on highway management, both in road maintenance and in the design and construction of new schemes.</p>
<p>The Alliance's common specification contracts allow us to deliver work in a more efficient and coordinated way, ensuring greater value for money and ultimately the delivery of a better road network for all.</p>
<p><a href="/corporate/about-tfl/what-we-do/roads/london-highways-alliance">Find out more about the London Highways Alliance</a>.</p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/what-we-do" class="heading">
                    <h2 id="sub-menu-heading">What we do<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/buses">Buses</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/coaches">Coaches</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/cycling">Cycling</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/docklands-light-railway">Docklands Light Railway</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/emirates-air-line">Emirates Air Line</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/dial-a-ride">London Dial-a-Ride</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/london-overground">London Overground</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/london-trams">London Trams</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/london-transport-museum">London Transport Museum</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/london-underground">London Underground</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/river">River</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/roads">Roads</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/roads/london-highways-alliance">London Highways Alliance</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/taxi-and-private-hire">Taxis & private hire</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/tfl-rail">TfL Rail</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/walking">Walking</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="https://tfl.gov.uk/modes/driving/" class="plain-button">Driving</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = " TfL is responsible for London’s major road corridors including red routes and A-roads. We coordinate roadworks and traffic signals, and manage the Congestion Charge and LEZ.";}
        
            
        


 