
    
  



@{ViewBag.Title = "Taxis & private hire";}
@{ViewBag.Keywords = "Public,Taxi and private hire,Taxis and minicabs,TfL";}
@{ViewBag.Url = "/corporate/about-tfl/what-we-do/taxi-and-private-hire";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/what-we-do">What we do</a></li>
                
            
            
                <li><span class="last-breadcrumb">Taxis & private hire</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Taxis & private hire</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We have four key responsibilities for taxi and private hire services in London.
        
      </div>
    
    <div class="on-this-page">
      <p>Find out about our related services for customers on the <a href="/modes/taxis-and-minicabs/index">Taxis &amp; minicab page</a>.</p>
<h2>Regulator</h2>
<p>We set regulations and policies for taxi (black cab) and private hire (minicab and chauffeur) services to protect customers, and ensure vehicles are safe, accessible and meet strict environmental standards.</p>
<p>For taxi services, we are also responsible for setting regulated taxi fares and we work with London boroughs to appoint taxi ranks across London.</p>
<p>Policy decisions are subject to public consultations, customer research, and/or engagement with interested parties, including the taxi and private hire industries.</p>
<h2>Licensing Authority</h2>
<p>We are responsible for licensing all taxi drivers and vehicles, and private hire operators, drivers and vehicles in London. We also set the requirements for licensing to ensure that we maintain the highest standards possible in both industries.</p>
<p>All taxi and private hire driver applicants must meet strict criteria to ensure they are 'fit and proper' before becoming licensed. Many of these checks are completed again every three years as they renew their licence. Requirements include:</p>
<ul>
    <li>Drivers must be of good character. To establish this, applicants and existing drivers must apply for <a href="https://www.gov.uk/government/organisations/disclosure-and-barring-service">Home Office 'enhanced' disclosure and barring service check</a> (formerly known as a criminal records check)</li>
    <li>Drivers must be medically fit - this means meeting the DVLA Group 2 medical standards. When applying for a licence they must undergo a detailed medical examination with a registered practitioner who has access to their full medical history. Medical checks are repeated periodically depending on known medical conditions and the age of the driver</li>
    <li>Drivers must prove their navigational and route planning skills. The standard differs for taxi and private hire applicants</li>
    <li>Taxi drivers must study and pass the world-famous Knowledge of London</li>
    <li>Private hire drivers must undergo a topographical assessment designed to test navigational skills and route-planning ability as well as basic geographical awareness of London and its surrounds</li>
    <li>Private hire drivers must be able to communicate in English at an appropriate level</li>
</ul>
<p>Taxis, private hire vehicles, and private hire operators must also meet a number of requirements in order to be licensed.</p>
<p>Full details of all the criteria required is available on <a href="/info-for/taxis-and-private-hire/licensing">our licensing pages</a>.</p>
<h2>Enforcement Authority</h2>
<p>We work closely with the taxi and private hire trade, the Metropolitan Police Service and the City of London Police to ensure the safety of passengers using London's taxi and private hire services. This includes tackling touting and unlawful plying for hire</p>
<p> More information is available on <a href="/info-for/taxis-and-private-hire/compliance-and-enforcement">our compliance and enforcement page</a>.</p>
<h2>Strategic Transport Authority</h2>
<p>We are responsible for implementing the <a href="/corporate/about-tfl/the-mayors-transport-strategy">Mayor's Transport Strategy</a> and the <a href="/corporate/publications-and-reports/taxi-and-private-hire">Taxi and Private Hire Action Plan</a> which sets out the transport vision for London and details how we will deliver the plan between now and 2031.</p>
<p>This includes plans to significantly reduce emissions in the Capital. As part of this, as of 1 January 2018 all newly licensed taxis are zero emission-capable.</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/what-we-do" class="heading">
                    <h2 id="sub-menu-heading">What we do<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/buses">Buses</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/coaches">Coaches</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/cycling">Cycling</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/docklands-light-railway">Docklands Light Railway</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/emirates-air-line">Emirates Air Line</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/dial-a-ride">London Dial-a-Ride</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/london-overground">London Overground</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/london-trams">London Trams</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/london-transport-museum">London Transport Museum</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/london-underground">London Underground</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/river">River</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/roads">Roads</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/taxi-and-private-hire">Taxis & private hire</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/tfl-rail">TfL Rail</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/walking">Walking</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/info-for/taxis-and-private-hire/index" class="plain-button">Taxi &amp; private hire licensing</a>
<a href="/corporate/safety-and-security/security-on-the-network/cab-enforcement" class="plain-button">Cab enforcement</a>
<a href="/corporate/about-tfl/environment" class="plain-button">Environment</a>
<a href="/modes/taxis-and-minicabs/index" class="plain-button">Taxis &amp; minicabs</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We are the licensing authority for London's taxi and private hire operations, including minicabs, executive cars and chauffeur-driven services";}
        
            
        


 