
    
  



@{ViewBag.Title = "Walking";}
@{ViewBag.Keywords = "Pedestrians,Public,Walking,TfL";}
@{ViewBag.Url = "/corporate/about-tfl/what-we-do/walking";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/what-we-do">What we do</a></li>
                
            
            
                <li><span class="last-breadcrumb">Walking</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Walking</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We are responsible for managing the city's red route strategic roads for everyone, including people who are walking. We also work with the London boroughs to shape the character of London's streets, with the aim of making London the world's most walkable city.<BR>
        
      </div>
    
    
      <p>The Mayor has set out plans to encourage active, efficient and sustainable transport to improve health and the experience on streets where Londoners live, work and spend time.</p>

<p>The main aim in the <a href="/corporate/about-tfl/the-mayors-transport-strategy">Mayor's Transport Strategy</a> is for 80% of all trips in London to be made on foot, by cycle or using public transport by 2041. The <a href="/corporate/about-tfl/the-mayors-transport-strategy#action">Walking action plan</a> is the first of a series of plans to make this a reality.</p>

<h2>Walking action plan</h2>

<p>The plan sets out how we will work with the boroughs, Business Improvement Districts, businesses, the police, schools, community and residents' groups and stakeholder organisations to tackle barriers to walking and make it the easiest and most attractive way of making short trips in London.</p>

<p>Our four main areas of actions are to:</p>

<ul>
	<li>Build and manage streets where people walk</li>
	<li>Plan and design for walking</li>
	<li>Integrate walking with public transport</li>
	<li>Lead a culture change</li>
</ul>

<p>The Walking action plan sits alongside other policies in the Mayor's Transport Strategy such as <a href="/corporate/safety-and-security/road-safety/vision-zero-for-london">Vision Zero for London</a>.</p>

<ul>
</ul>

<h3>Build and manage streets for walking</h3>

<p>We're investing record levels in walking and cycling, with &pound;2.2bn dedicated to the Healthy Streets programme in our five-year <a href="/corporate/publications-and-reports/business-plan">Business Plan</a>. Major schemes to improve walking include the Safer Junctions programme and <a href="/info-for/boroughs/liveable-neighbourhoods">Liveable Neighbourhoods</a>.</p>

<h3>Plan and design for walking</h3>

<p>We are embedding the <a href="/corporate/about-tfl/how-we-work/planning-for-the-future/healthy-streets">Healthy Streets Approach</a> at the heart of our decision-making - with resources available to help put it into practice.</p>

<p>We are also developing London's first design guidance for walking based on the latest evidence and best practice.</p>

<p>This will complement the Streetscape Guidance part of our <a href="/corporate/publications-and-reports/streets-toolkit">Streets toolkit</a>. The guidance helps planners, engineers, designers and other practitioners create high quality streets and public spaces that are accessible to all. It outlines the criteria for good design, material selection, installation and maintenance - whether the project is a major one-off or a smaller local adjustment.</p>
      
           
      
<div>




<p><strong>Pedestrian Comfort Guidance</strong></p>
<p>The design guidance for walking will complement Pedestrian Comfort Guidance (PCG) and Pedestrian Environment Review System (PERS).&nbsp;</p>
<p>PCG is a tool that helps us assess whether pavements are wide enough for the
number of pedestrians who use them.</p>
<p>The PCG guidance document describes how to carry out a comfort assessment and review the results. If you want a copy of the spreadsheet used to calculate the results, email us at <a href="mailto:walking&#64;tfl.gov.uk?Subject=Pedestrian%20Comfort%20Guidance">walking&#64;tfl.gov.uk</a>.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pedestrian-comfort-guidance-technical-guide.pdf">
    <div class="document-download-text">
        <p>Pedestrian Comfort Guidance technical guide</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.50MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 2.50 -->
 
</div>

</div>
 
<div>




<p><strong>Pedestrian Environment Review System</strong></p>
<p>PERS is an audit tool used to assess the quality of places where people walk - such as a street, crossing, around a bus stop or park.</p>
<p>It scores factors which affect people's experience of using streets and public spaces. These include the width of pavements and steepness of dropped kerbs, as well as their general look and feel.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/pedestrian-environment-review-system-factsheet.pdf">
    <div class="document-download-text">
        <p>Pedestrian Environment Review System fact sheet</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 67KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 
</div>

</div>
 <div>

<h3>Integrate walking with public transport</h3>
<p>Most walking in London is part of a longer public transport journey, so improving and expanding the public transport network will increase walking.</p>
<p>The <a href="/travel-information/improvements-and-projects/elizabeth-line">Elizabeth line</a> will be an opportunity to activate thousands of new walking trips. We are also creating 'Active Travel Hub' TfL stations, and improving walkability to central London stations and bus stops.</p>
<h3>Lead a culture change</h3>
<p>Streets make up 80% of public space in London. People don't just travel through these places, they also spend time there. We need to support people to reclaim their streets for the uses they need including socialising and children playing.</p>
<p>We have produced new guidance to support temporary, light-touch and low-cost projects to change the way a streets looks and feels - see Small Change, Big Impact on the <a href="/corporate/about-tfl/how-we-work/planning-for-the-future/healthy-streets">Healthy Streets page</a>.</p>
<p>Most children in London - 8 in 10 - do not reach the recommended minimum of one hour of physical activity a day. We promote walking to school through our <a href="https://stars.tfl.gov.uk/">STARS programme</a>, an accreditation scheme for schools, nurseries and colleges to inspire
young Londoners to travel sustainably, actively, responsibly and safely. We want to double the number of gold-accredited schools from 5000 to 1,000 by 2024. </p>
<p>Our <a href="/campaign/active-travel">active travel campaign</a> encourages people to 'walk, cycle, discover'. We also partner with Public Health England on its <a href="https://www.nhs.uk/oneyou/active10/home">Active 10 campaign</a>.</p>
<p>London's navigation system, <a href="/info-for/boroughs/legible-london">Legible London</a>, makes it easy for people on foot to find their way around. The navigation system includes detailed maps and signs showing realistic walking times. Legible London is integrated across London's transport system.</p>
<p>Maps can be found in Tube stations, at bus stops and Santander Cycles docking stations. We work with boroughs, Business Improvement Districts and other organisations to expand the system.</p>
<p>The <a href="/modes/walking/top-walking-routes">Walk London network</a> consists of seven high quality walking routes across Greater London:</p>
<ul>
    <li>Capital Ring</li>
    <li>Green Chain</li>
    <li>Jubilee Greenway</li>
    <li>Jubilee Walkway</li>
    <li>Lea Valley</li>
    <li>London Outer Orbital Path (LOOP)</li>
    <li>Thames Path</li>
</ul>
<p>The clearly signed routes are specifically designed to be easily accessible by public transport so people can walk as little or as far as they want. The routes give London one of the largest managed walking networks of any city in the world.</p>
</div>
 <div>


</div>
 
<div>





<div class="multi-document-download-container">
    
</div>

</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/what-we-do" class="heading">
                    <h2 id="sub-menu-heading">What we do<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/buses">Buses</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/coaches">Coaches</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/cycling">Cycling</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/docklands-light-railway">Docklands Light Railway</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/emirates-air-line">Emirates Air Line</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/dial-a-ride">London Dial-a-Ride</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/london-overground">London Overground</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/london-trams">London Trams</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/london-transport-museum">London Transport Museum</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/london-underground">London Underground</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/river">River</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/roads">Roads</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/taxi-and-private-hire">Taxis & private hire</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/tfl-rail">TfL Rail</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/about-tfl/what-we-do/walking">Walking</a></div>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/modes/walking/index" class="plain-button">Walking</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We have various schemes and tools to encourage walking in London";}
        
            
        


 