
    
  



@{ViewBag.Title = "Improving London Overground";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/london-overground/improving-london-overground";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/london-overground/index">London Overground</a></li>
                
            
            
                <li><span class="last-breadcrumb">Improving London Overground</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Improving London Overground</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We are continuing to work on London Overground station and service improvements to keep up with the growing demand on the network. Improvements are coming for all routes including brand new trains for West Anglia, Gospel Oak to Barking and others.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<p>We reinvest all our income to run and improve your network so you can expect to see more improvements to stations in the future.</p>

<p>WiFi is available at 79 stations and we've&nbsp;improved ticket halls and ticket gates, installed lifts, widened entrances, improved shelters and increased cycle parking. we are also making continuous improvements to enhance accessibility, reliability and service frequency. Our stations are staffed from first train to last and our staff are equipped with devices to keep them up to date with the latest travel information.</p>

<h2>Improving services</h2>

<h3>New trains for Gospel Oak to Barking services</h3>

<p>We&nbsp;are investing over &pound;300m in 54 new, British built, electric trains.</p>

<p>The delivery of the trains has been delayed to allow Bombardier Transportation to carry out further software development.&nbsp;See our <a href="/modes/london-overground/gospel-oak-to-barking-improvements">Gospel Oak to Barking page for more details. </a></p>
</div>
 <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/electric-lo-train2.jpg" alt="Electric train at Walthamstow Queens Road station" />
        <span class="caption">New electric train testing taking place through Walthamstow Queen's Road station</span>
        
        
    </div>   
 </div>
 <div>

<h3>New trains for West Anglia services</h3>

<p>Over &pound;200 million will be spent on 31 brand new London Overground trains for services to Chingford, Cheshunt and Enfield Town (as well as Romford to Upminster). The new trains will feature walk-through carriages, air-conditioning, live network information and improved accessibility.</p>

<p>We expect the trains to be in service during 2019. Until then we are investing over &pound;2 million to pay for modifications to existing trains inherited from Abellio to ensure they meet our expected standards.</p>

<h3>Night Service</h3>

<p>At the end of 2017 the Night Overground was launched, giving customers more ways to get home round the clock on Friday and Saturday nights. The route runs from Highbury &amp; Islington to New Cross Gate, calling at all stations. See the <a href="/modes/london-overground/london-overground-night-service">London Overground Night Service</a> page&nbsp;for more information.</p>

<h2>Improving stations</h2>

<p>As well as London Overground improvements across the whole network, we are also improving your local stations and the service you receive.</p>

<h3>Staff information</h3>

<p>London Overground staff are now equipped with devices to help customers with live information on route disruption, departure times and station facilities.</p>

<h3>White Hart Lane</h3>

<p>We are working closely with Haringey Council as they regenerate the North Tottenham area. As part of these plans we are improving White Hart Lane station. This will include:</p>

<ul>
	<li>New station entrance, ticket hall, station facilities and station forecourt</li>
	<li>New pedestrian entrance from Penshurst Road</li>
	<li>Improved access from street level to platforms, including new lift access and new platform canopies</li>
	<li>Improvements to the area around the station including new cycle parking</li>
	<li>Improvements to the former station building</li>
</ul>

<h3>Whitechapel</h3>

<p>In preparation for the introduction of the Elizabeth line, we are working closely with Crossrail Ltd on the rebuilding of Whitechapel station. This will provide a step-free interchange between London Overground and the new service.</p>

<h3>West Hampstead</h3>

<p>We are building a brand new station building in West Hampstead on land to the south of the existing station. The new building will have lifts to both platforms and will be bigger and brighter than the current station.</p>

<p>The station has received &pound;3m in funding from the Department for Transport's Access for All fund and &pound;900k from the adjacent Ballymore housing development. The remainder is being invested by TfL.</p>

<p>The new station is designed to accommodate future growth in passenger numbers, with more gates and a much larger passenger circulation area.</p>

<p>This is the largest Access for All scheme on the London Overground network and is a key interchange for north west London, given the proximity to West Hampstead's Thameslink and Underground stations.</p>

<p>Work has now begun and is due to finish during 2019. While we are building the new station, the existing station will remain open.</p>

<p>Over half&nbsp;of London Overground stations now have step-free access from street to platform. A further&nbsp;five stations are proposed to be made step-free by 2024 as part of the Department for Transport's Access for All scheme</p>

<h3>New ticket machines</h3>

<p>New ticket machines are being rolled out across the network. All new machines accept contactless and have a larger screen, allowing the display of additional information (like live departure/disruption information).</p>

<p>These new machines will also allow customers to top up Oyster cards, buy Oyster season tickets up to&nbsp;1 month, purchase advance paper tickets, apply National Rail Railcard discounts and purchase 7 day paper season tickets.</p>

<h2>Improving your future railway</h2>

<p>Rail transport in London is going through a period of massive enhancement. The scale of the projects is unprecedented. Constructing new routes which interchange with the current network, while operating existing services and introducing additional service offerings, is a huge challenge with great potential benefits for our network.</p>

<h3>Barking Riverside</h3>

<p>Barking Riverside is the largest housing development in east London, with planning permission for up to 10,800 new homes, as well as healthcare, shopping, community and leisure facilities.</p>

<p>We are proposing to develop a 4km extension (1.5km of new track) of the London Overground Gospel Oak to Barking route into the Barking Riverside development in the London Borough of Barking and Dagenham. This will be supported by a new station at the heart of the development.</p>

<p>The extension, due to open in 2021,&nbsp;will provide an essential rail link to support the development of Barking Riverside, serving both new and existing residents. It will facilitate an interchange at Barking with the existing Fenchurch Street line and the District and Hammersmith &amp; City lines, improving transport infrastructure to the area.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/london_overground" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/london_overground" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="vertical-button-container">



<a href="/travel-information/improvements-and-projects/index"  class="plain-button">See all improvements and projects</a>

</div>

      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We are continuing to work on station and service improvements to keep up with the growing demand and to maintain the service you have come to expect from a London Overground operated network";}
        
            
        


 