
    
  



@{ViewBag.Title = "Advanced London By Bike";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/cycling/start-cycling/cycle-training/advanced-london-by-bike";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/cycling/index">Cycling</a></li>
                
            
                 <li><a href="/modes/cycling/cycling-in-london">Cycling in London</a></li>
                
            
                 <li><a href="/modes/cycling/cycling-in-london/cycle-skills">Cycle Skills</a></li>
                
            
            
                <li><span class="last-breadcrumb">Advanced London By Bike</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Advanced London By Bike</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Advanced London By Bike (ALBB) is a free scheme we offer - alongside Cycle Training UK (CTUK) - to London's 124 cycling clubs and their 12,000 members.
        
      </div>
    
    
      <p>The aim of ALBB is to use the knowledge and experience of London's cycling club members to help positively influence London's cycling culture.</p>
<p>Whether you're out on the weekend club ride or your daily commute, we want you and your fellow club members to help make London an even better city for cycling.</p>
      
           
        <div class="pull-quote">
    
        <div class="quote-body">"Cycling clubs have such a big role to play in the community, particularly in London where we want to see more people using a bike to commute or participate in cyclo sport. Doing the ALBB with Dulwich Paragon really made me feel more confident cycling on the road. It also created some lively discussion between the group and challenged preconceptions about city riding. Anything that encourages safer riding for all shouldn't be missed."</div>
        <div class="quote-footer">
            <div class="quotee-name">Beth</div>
            <div class="quotee-job-title">Dulwich Paragon CC</div>
        </div>
    </div>
   <h2>Being a cycling influencer</h2>
<p>Think back to when you first started cycling, the unfamiliar language, the worries over riding in traffic and the mechanical issues that seemed just too complicated. As a seasoned club member we want you to use your experience to help people new to cycling - or just about to start - to gain the skills and confidence to fully enjoy the benefits of cycling that you experience every day.</p>
<h2>How can I get involved in ALBB?</h2>
<p>Email us with your club name at <a href="mailto:CommunityEngagement&#64;tfl.gov.uk">CommunityEngagement&#64;tfl.gov.uk</a>. One of our team will join one of your club meetings or perhaps a post-club ride coffee session to talk with you as a group (up to 30 members) about:</p>
<ul>
    <li>Being a great ambassador for cycling</li>
    <li>What's coming next for cycling in London</li>
    <li>Individual riding skills</li>
    <li>Group riding skills</li>
    <li>Myth-busting</li>
</ul>
<p>The session is informal, fun and free, and should generate plenty of discussion to help members further develop a great cycling culture. It can take place at a time and location that suits your club.</p>
<h2>Are there one-to-one sessions too?</h2>
<p>Yes, free two-hour on-bike sessions are available for club members on an individual or small group basis that will help you explore issues on specific routes, receive feedback on your riding skills and undo bad habits.</p>

 
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/cycling/index" class="heading">
                    <h2 id="sub-menu-heading">Cycling<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/new-to-cycling">Get started with cycling</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/santander-cycles">Santander Cycles</a></div></li>
                            
 
                                <li class="selected parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london">Cycling in London</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/rider-profiles">Rider stories</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/cycle-skills">Cycle Skills</a></div>
                                        <ul>
                                            
                                                <li class="selected"><div class="link-wrapper"><a href="/modes/cycling/start-cycling/cycle-training/advanced-london-by-bike">Advanced London By Bike</a></div>
                                            
 
                                        <li><div class="link-wrapper"><a href="/modes/cycling/start-cycling/cycle-training/request-cycle-training">Request cycle training</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/avoid-theft">Protect your bike from theft</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/cycle-parking">Cycle parking</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/bikes-on-public-transport">Bikes on public transport</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/cycling-with-children">Cycling with children</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/cycling-in-london/electric-bikes">Electric bikes</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/modes/cycling/routes-and-maps">Routes & maps</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
























<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Information about the Advanced London By Bike (ALBB) free cycle training sheme offered to London cycling clubs and their members.";}
        
            
        


 