

<div>
  



  



  <p>With a 16+ Zip Oyster photocard you can pay child-rate 7 Day, monthly or longer period Travelcards and Bus &amp; Tram Passes; travel free on buses and trams (if eligible); and half adult rate pay as you go fares on&nbsp; bus, Tube, tram, DLR, London Overground and most National Rail services in London.</p>
<p>An administration fee applies and it will take several days to process an application.</p>
<p>Find out about Zip Oyster photocards.</p>

</div>


 