

<div>
  



  <p>An 11-15 Zip Oyster photocard allows free travel on buses and trams, and child-rate travel on Tube, DLR, London Overground and most National Rail services in London.</p>
<p>An administration fee applies and it will take several days to process an application.&nbsp;</p>
<p>Find out about Zip Oyster photocards.</p>



  

</div>


 