
        <div class="vertical-button-container">
          <a href="/status-updates/major-works-and-events" class="plain-button show-all-reported">Major works & events</a>
        </div>
        @using TfL.Web.Infrastructure;
        @{ Html.RenderAction("FollowSocial", "Modules", new 
          { 
            mode = "", 
            header = "Tube and rail travel advice", 
            description = "News and customer service - Tube, DLR, London Overground, trams and Emirates Air Line", 
            socialMediaPlatform = "twitter", 
            url = "TfLTravelAlerts" 
          }); 
        }        
      
 

 