
    
  



@{ViewBag.Title = "Bus changes";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/buses/bus-service-changes";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/buses/index">Buses</a></li>
                
            
            
                <li><span class="last-breadcrumb">Bus changes</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Bus changes</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Find details of recent and upcoming bus changes.
        
      </div>
    
    
      
      
           
      
<div class="module-grid clearfix">
<div class="news-teaser bus">

    <a href="/modes/buses/permanent-bus-changes?intcmp=47904" >
        
        
        <div class="text-link">
             <h2>Permanent bus changes</h2>
            <p>Find details of permanent bus changes and improvements</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser bus">

    <a href="/modes/buses/temporary-bus-changes?intcmp=47900" >
        
        
        <div class="text-link">
             <h2>Temporary bus changes</h2>
            <p>Find details of significant temporary bus changes including major planned diversions</p>
        </div>
    </a>
</div>
 
 
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/buses" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/buses" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        

                <div class="widget-wrapper">
                    <div class="expandable-box">
                        <div class="content">
                            <div class="always-visible widget-heading">
                                <div class="controls">&nbsp;</div>
                                <div class="widget-title">
                                    Plan a journey
                                </div>
                            </div>
                            <div class="start-hidden widget-content journey-planner-widget clearfix">
                                @{Html.RenderAction("Index", "JourneyPlanner", new
                                    { jptype = "publictransport", mode = Library.MeansOfTransport.Bus } 
                                );}
                            </div>
                        </div>
                    </div>
                </div>
            
 
<div class="fact-box-wrapper">
    <span class="blue-span">Change buses for free with the Hopper fare</span>
    <div class="fact-box-content">
        <p>Make unlimited pay as you go bus and tram journeys within one hour of first touching in for &pound;1.50.</p>
        <div class="vertical-button-container">
        
        <a href="/campaign/hopper-fare"  class="plain-button">More about the Hopper fare</a> 
        </div>
    </div>
</div><div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/travel-information/timetables/index" class="plain-button">Timetables</a>
<a href="/status-updates/major-works-and-events" class="plain-button">Major works &amp; events</a>
    </div>
</div>
   

<div><a class="twitter-timeline" data-tweet-limit="3" href="https://twitter.com/TfLBusAlerts">Tweets by TfLBusAlerts</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>

      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Details of recent and upcoming changes to TfL bus routes";}
        
            
        


 