
    
  



@{ViewBag.Title = "Demand responsive bus service";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/buses/demand-responsive-bus-service";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/buses/index">Buses</a></li>
                
            
            
                <li><span class="last-breadcrumb">Demand responsive bus service</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Demand responsive bus service</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Trialling an on-demand bus service that operates flexibly in response to local demand
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<p>We're introducing a trial demand responsive bus service to determine if it has the potential to complement current public transport services and reduce car dependency in the London Borough of Sutton.&nbsp;</p>
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic left-float">
    
        <img src="/cdn/static/cms/images/go-sutton-logo.gif" alt="go sutton logo" />
    </div>
    <p>The trial service is called <a href="http://www.gosutton.co.uk">GoSutton</a> and is run in collaboration with <a href="https://www.viavan.com/">ViaVan</a> and <a href="https://www.go-ahead.com/en/index.html">Go-Ahead</a>. Services started on Tuesday 28 May 2019 and will run for 12 months. This trial is in line with the commitments in the Mayor's Transport Strategy. Its objectives include finding out if the service can support the shift away from car travel and offer a service that is accessible and easy to use.</p> 
</div>
 
<div>




<h3>Area of operation</h3>

<p>The service will initially operate in the trial launch area and may be extended to include the expansion area in the summer depending on demand, performance and feedback.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap landscape-download-image with-image pngpng" href="/cdn/static/cms/documents/demand-responsive-bus-service-map.png">
    <div class="document-download-text">
        <p>Demand responsive bus service - area map</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PNG 278KB
            
        </p>
    </div>
    <div class="document-download-icon download-image">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/demand-responsive-bus-service-map-small.png" alt="demand responsive buses area map" />
    </div>

</a>

<!-- 0.27 -->
 
</div>

</div>
 <div>

<h3>How it works</h3>

<p>GoSutton takes multiple passengers heading in the same direction and books them into a shared vehicle. The service operates from 'corner to corner', so there are no fixed routes or bus stops. We'll pick you up and drop you off within 200m of your requested destination. This helps us ensure that even with multiple pick-ups, there are no lengthy detours.</p>

<ul>
	<li>The service can be booked by customers aged 13 and over</li>
	<li>Journeys can be booked by phone or through&nbsp;the GoSutton&nbsp;app available on the <a href="https://www.apple.com/uk/ios/app-store/">App Store&nbsp;</a>and <a href="https://play.google.com/store">Google Play</a></li>
	<li>Services will operate between 06:30 and 21:30, Monday to Sunday except Christmas Day</li>
	<li>Journeys cost &pound;3.50</li>
	<li>Oyster cards and contactless are not accepted</li>
	<li>Freedom Pass holders and members of the English National Concessionary Travel Scheme can travel free on the service</li>
	<li>Buses are fully accessible</li>
</ul>

<p>Find out more about the service on the <a href="http://www.gosutton.co.uk">GoSutton website</a>.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/buses" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/buses" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Demand responsive bus services";}
        
            
        


 