
    
  



@{ViewBag.Title = "Permanent bus changes";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/buses/permanent-bus-changes";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/buses/index">Buses</a></li>
                
            
            
                <li><span class="last-breadcrumb">Permanent bus changes</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Permanent bus changes</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Read details of permanent bus changes and improvements.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<h2>Route 8 - Timetable change</h2>

<p>From Saturday 29 June a new timetable will be introduced on route 8. The four week day morning journeys between Liverpool Street and Tottenham Court Road will be replaced with two journeys between Bow Church and Tottenham Court Road. The four week day afternoon journeys between Tottenham Court Road and Liverpool Street will be replaced by one journey between Tottenham Court Road and Bow Church. There is no change to the level of service during the evening and at weekends.</p>

<h2>Route 43 - Timetable change</h2>

<p>From Saturday 22 June temporary schedules will be introduced on all days of the week on routes 43 and 243 during the works to remove Old Street roundabout. Buses will still serve the same routes and stops however extra time will be given to allow buses to pass through the Old Street area. This is to help maintain the reliability of services.</p>

<p>Find out more on the <a href="https://tfl.gov.uk/travel-information/improvements-and-projects/old-street-roundabout">Old Street Roundabout project page</a>.</p>

<h2>Route 49 - Timetable change</h2>

<p>From Saturday 20 July a new timetable will be introduced on route 49 following the completion of urban realm works at White City. The frequency of buses will be restored to every 8 minutes from Monday to Saturday and every 10 minutes on Sunday. There is no change to the level of service during the evening.</p>

<h2>Route 66 - Timetable change</h2>

<p>From Saturday 27 July a new timetable will be introduced on route 66 which increases the frequency of the service from every 12 minutes to every 10 minutes all day from Monday to Friday. There will be no change to times or frequency of buses during the evening or on Saturday and Sunday.</p>

<h2>Route 70 - Timetable change</h2>

<p>From Saturday 13 July a new timetable will be introduced on route 70. There will be no changes to the frequency of the service however buses will be given more time to complete their end to end journey on every day of the week.</p>
</div>
 
<div>



<h2>Route 96 - Re-routing</h2>


<p>From Saturday 29 June buses will use a different route within Dartford town centre as part of the regenerations works. Routes 96, 428 and 492 going westbound towards Crayford will be rerouted via Home Gardens, Westgate Road and High Road. Buses towards Bluewater will not be affected.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/dartford-map-1-july.pdf">
    <div class="document-download-text">
        <p>Map of bus route changes in Dartford town center</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 64KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 
</div>

</div>
 <div>

<h2>Route 133 - Re-routing</h2>

<p>Liverpool Street bus station will reopen on Saturday 3 August. Routes 11, 133, N11 and N133 will be rerouted back to Liverpool Street bus station with no change to the frequency of buses. More information on the reopening of the bus station will be published closer to the reopening date.</p>

<h2>Route 153 - Re-routing</h2>

<p>Liverpool Street bus station will reopen on Saturday 3 August. Route 153 will be extended from Moorgate, Finsbury Square back to Liverpool Street bus station. More information on the reopening of the bus station will be published closer to the reopening date.</p>

<h2>Route 166 - Extra buses</h2>

<p>From Saturday 22 June we will run extra buses between Banstead and Purley to make travelling to summer attractions easier. The extra buses will run every Saturday and Sunday until 1 September.</p>

<h2>Route 175 - Timetable change</h2>

<p>From Saturday 27 July a new timetable will be introduced on route 175 which increases the frequency of the service from every 12 minutes to every 10 minutes all day from Monday to Friday. There will be no change to times or frequency of buses during the evening or on Saturday and Sunday.</p>

<h2>Route 181 - Timetable change</h2>

<p>From Saturday 29 June a new timetable will be introduced on route 181 following the completion of urban realm works at Grove Park. The frequency of buses will be restored to every 12 minutes on Monday to Friday and during the day on Saturday, with end to end journey times reduced slightly to better reflect traffic conditions along the route. During Sunday shopping hours the frequency of buses will be restored to every 15 minutes. There will be no change to times of buses during the evening.</p>

<h2>Route 189 - Timetable change</h2>

<p>From Saturday 22 June the timetable on route 189 will change with the frequency of the service on Monday to Saturday reduced to every 10 minutes to better match demand for the route. There will be no change to the frequency during the evenings or on Sundays. The timetable of the overnight service will not change.</p>

<h2>Route 196 - Timetable change</h2>

<p>From Saturday 20 July a new timetable will be introduced on route 196 following the completion of water main works on Norwood Road. The frequency of buses will be restored to every 12 minutes from Monday to Saturday. There is no change to the level of service during the evening or on Sunday.</p>

<h2>Route 211 - Timetable change</h2>

<p>From Saturday 29 June a new timetable will be introduced on route 211. There will be no change to the frequency of the route however some end to end journey times during the early mornings, and evenings have been reduced slightly to better reflect traffic conditions along the route.</p>

<h2>Route 225 - Timetable change</h2>

<p>From Saturday 13 July temporary schedules will be introduced on all days of the week on route 225 during the works to replace gas mains near New Cross Gate station. Buses will still serve the same routes and stops however extra time will be given to allow buses to pass through the area. To allow for the extra time the frequency of the service will reduce on all days of the week from every 20 minutes to every 22 minutes. This is to help maintain the reliability of the service.</p>

<h2>Route 227 - Timetable change</h2>

<p>From Saturday 22 June a new timetable will be introduced on route 227. There will be no change to the level of service provided but the times of buses will change with evening buses running up to 3 minutes earlier.</p>

<h2>Route 243 - Timetable change</h2>

<p>From Saturday 22 June temporary schedules will be introduced on all days of the week on routes 43 and 243 during the works to remove Old Street roundabout. Buses will still serve the same routes and stops however extra time will be given to allow buses to pass through the Old Street area. This is to help maintain the reliability of services.</p>

<p>Find out more on the <a href="https://tfl.gov.uk/travel-information/improvements-and-projects/old-street-roundabout">Old Street Roundabout project page</a>.&nbsp;</p>

<h2>Route 256 - Timetable change</h2>

<p>From Saturday 27 July a new timetable will be introduced on route 256 following the completion of works at Ardleigh Green Bridge. The frequency of buses will be restored to every 10 minutes during the morning and afternoon peak on Monday to Friday, and all day on Saturday. There is no change to the level of service during the evening or on Sunday.</p>

<h2>Route 260 - Timetable change</h2>

<p>From Saturday 13 July a new timetable will be introduced on route 260 following the completion of urban realm works at White City. The frequency of buses will be restored to every 12 minutes from Monday to Saturday and every 15 minutes on Sundays and in the evenings.</p>

<h2>Route 261 - Timetable change</h2>

<p>From Saturday 29 June a new timetable will be introduced on route 261 following the completion of urban realm works at Grove Park. The frequency of buses will be restored to every 12 minutes on Monday to Friday and during the day on Saturday with end to end journey times reduced slightly to better reflect traffic conditions along the route.</p>

<h2>Route 269 - Timetable change</h2>

<p>From Saturday 13 July a new timetable will be introduced on route 269. There will be no changes to the frequency of the service however buses will be given more time to complete their end to end journey on every day of the week.</p>

<h2>Route 273 - Timetable change</h2>

<p>From Saturday 29 June a new timetable will be introduced on route 273 following the completion of urban realm works at Grove Park. The frequency of buses will be restored to every 20 minutes on Monday to Friday and during the day on Saturday, and every 30 minutes during Sunday shopping hours with end to end journey times reduced slightly to better reflect traffic conditions along the route. There will be no change to times of buses during the evening.</p>

<h2>Route 284 - Timetable change</h2>

<p>From Saturday 29 June a new timetable will be introduced on route 284 following the completion of urban realm works at Grove Park. The frequency of buses will be restored to every 10 minutes during the Monday to Friday morning and afternoon peak, every 12 minutes during the day on Monday to Fridays and Saturdays and every 20 minutes during Sunday shopping hours. End to end journey times will be reduced slightly to better reflect traffic conditions along the route. There will be some minor changes to times of buses during the evening on all days.</p>

<h2>Route 286 - Timetable change</h2>

<p>From Saturday 13 July the timetable on route 286 will change with the frequency of the service during Sunday shopping hours and all evenings of the week will reduce to every 20 minutes to better match demand for the route. First bus on Monday to Friday from Queen Mary's Hospital will run up to 3 minutes earlier. Late evening buses from Queen Mary's Hospital towards Greenwich will run up to 3 minutes earlier.</p>

<h2>Route 294 - Timetable change</h2>

<p>From Saturday 27 July a new timetable will be introduced on route 256 following the completion of works at Ardleigh Green Bridge. The frequency of buses will be restored to every 12 minutes from Monday to Saturday. There is no change to the level of service during the evening or on Sunday.</p>

<h2>Route 301 - New route</h2>

<p>From Saturday 13 July new route 301 will be introduced between Bexleyheath, Market Place and Woolwich, Beresford Street. Buses will run via Long Lane, Bostall Heath, New Road, Abbey Wood Station, Bentham Road, Thamesmead, Central Way, Thamesmead Industrial Estate, Nathan Way, Plumstead Station and Plumstead Road.</p>

<p>Buses will run every 12 minutes during the day Monday to Sunday and every 15 minutes during the evening. The first bus will depart from Woolwich at 0540 (0702 Sundays) and from Bexleyheath at 0605 (0730 Sundays). The last bus will depart from Woolwich at 2357 and from Bexleyheath at 0030.</p>

<p>Route 301 will be operated with double decker buses. Note that the section of route along Long Lane between Bedonwell Road &amp; Pickford Lane and Brampton Road between Okehampton Crescent &amp; Bostall Hill will be operated under Hail &amp; Ride conditions. More details can be found on <a href="https://consultations.tfl.gov.uk/buses/83558683/user_uploads/301-map.pdf">route 301 consultation page</a>.&nbsp;</p>

<h2>Route 316 - Timetable change</h2>

<p>From Saturday 13 July a new timetable will be introduced on route 316 following the completion of urban realm works at White City. The frequency of buses will be restored to every 8 minutes from Monday to Saturday and every 12 minutes on Sunday and in the evening.</p>

<h2>Route 321 - Timetable change</h2>

<p>From Saturday 13 July temporary schedules will be introduced on all days of the week on route 321 during the works to replace gas mains near New Cross Gate station. Buses will still serve the same routes and stops however extra time will be given to allow buses to pass through the area.</p>

<p>To allow for the extra time the frequency of the service will reduce to every 11 minutes from Monday to Saturday and to every 13 minutes on Sundays and evenings. This is to help maintain the reliability of the service. There will be no change to the overnight service on route 321.</p>

<h2>Route 326 - Re-routing</h2>

<p>From Saturday 29 June route 326 will have its route altered at Finchley Central towards Barnet only. Buses will run direct from Hendon Lane to Regents Park Road and will no longer serve Gravel Hill. There will be some minor changes to times of buses towards Barnet.</p>

<h2>Route 401 - Timetable change</h2>

<p>From Saturday 13 July a new timetable will be introduced on route 401. There will be no changes to the frequency of the service however new times will be in operation everyday of the week to better reflect traffic conditions along the route.</p>
</div>
 
<div>



<h2>Route 428 - Re-routing</h2>


<p>From Saturday 29 June buses will use a different route within Dartford town centre as part of the regenerations works. Routes 96, 428 and 492 going westbound towards Crayford will be rerouted via Home Gardens, Westgate Road and High Road. Buses towards Bluewater will not be affected.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/dartford-map-1-july.pdf">
    <div class="document-download-text">
        <p>Map of bus route changes in Dartford town center</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 64KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 
</div>

</div>
 <div>

<h2>Route 452 - Timetable change</h2>

<p>From Saturday 13 July a new timetable will be introduced on route 452. There will be no change to the frequency of the route however some end to end journey times on everyday of the week have been reduced slightly to better reflect traffic conditions along the route.</p>
</div>
 
<div>



<h2>Route 492 - Re-routing</h2>


<p>From Saturday 29 June buses will use a different route within Dartford town centre as part of the regenerations works. Routes 96, 428 and 492 going westbound towards Crayford will be rerouted via Home Gardens, Westgate Road and High Road. Buses towards Bluewater will not be affected.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/dartford-map-1-july.pdf">
    <div class="document-download-text">
        <p>Map of bus route changes in Dartford town center</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 64KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 
</div>

</div>
 <div>

<h2>Route 638 - Timetable change</h2>

<p>From Monday 1 July a new timetable will be introduced on route 638 following the completion of urban realm works at Grove Park. The morning journeys towards Beaverwood School and Kemnal Technology College will change significantly.</p>

<h2>Route B13 - Bus stop changes</h2>

<p>From Saturday 20 July the hail and ride sections along the B13 route will be converted to fixed bus stop locations. There will be no change to the route or times of buses. From this date you will only be able to board &amp; alight a route B13 bus at a fixed bus stop.</p>

<h2>Route H13 - Timetable change</h2>

<p>From Saturday 29 June a new timetable will be introduced on route H12 which increases the frequency of the service from every 12 minutes to every 10 minutes all day from Monday to Saturday. There will be no change to times or frequency of buses during the evening or on Sunday.</p>

<h2>Route U10 - Timetable change</h2>

<p>From Saturday 20 July a temporary timetable will be introduced from Monday to Saturday whilst HS2 works take place on Breakspear Road South. The temporary timetable is due to be in place until Monday 16 September 2019.</p>

<h2>Route N11 - Re-routing</h2>

<p>Liverpool Street bus station will reopen on Saturday 3 August. Routes 11, 133, N11 and N133 will be rerouted back to Liverpool Street bus station with no change to the frequency of buses. More information on the reopening of the bus station will be published closer to the reopening date.</p>

<h2>Route N133 - Re-routing</h2>

<p>Liverpool Street bus station will reopen on Saturday 3 August. Routes 11, 133, N11 and N133 will be rerouted back to Liverpool Street bus station with no change to the frequency of buses. More information on the reopening of the bus station will be published closer to the reopening date.</p>

<h2>Route N277 - Timetable change</h2>

<p>From Saturday 27 July a new timetable will be introduced on route N277. There will be no change to the frequency of the route however some end to end journey times on Monday to Thursday and on Sunday nights will be changed to better reflect traffic conditions along the route.</p>
</div>
 <div class="accordion">





</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/buses/index" class="heading">
                    <h2 id="sub-menu-heading">Buses<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/modes/buses/temporary-bus-changes">Temporary bus changes</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/modes/buses/permanent-bus-changes">Permanent bus changes</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/modes/buses/live-bus-arrivals">Live bus arrivals</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/buses/improving-buses">Improving buses</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/buses/who-runs-your-bus">Who runs your bus</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/buses/cash-free-buses">Cash free buses</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/buses/demand-responsive-bus-service">Demand responsive bus service</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/buses/using-buses-in-london">Using buses in London</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/buses" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/buses" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/modes/buses/improving-buses" class="plain-button">Improving buses</a>
<a href="/plan-a-journey/index" class="plain-button">Plan a journey</a>
    </div>
</div>
 
<div class="fact-box-wrapper">
    <span class="blue-span">Change buses for free with the Hopper fare</span>
    <div class="fact-box-content">
        <p>Make unlimited pay as you go bus and tram journeys within one hour of first touching in for &pound;1.50.</p>
        <div class="vertical-button-container">
        
        <a href="/fares/find-fares/bus-and-tram-fares"  class="plain-button">More about the Hopper fare</a> 
        </div>
    </div>
</div>
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Permanent changes to TfL bus routes including new routes and changes to first and last stops";}
        
            
        


 