
    
  



@{ViewBag.Title = "Permanent bus changes";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/buses/permanent-bus-changes";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/buses/index">Buses</a></li>
                
            
                 <li><a href="/modes/buses/bus-service-changes">Changes to bus routes</a></li>
                
            
            
                <li><span class="last-breadcrumb">Permanent bus changes</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Permanent bus changes</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Read details of permanent bus changes and improvements.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      
<div>



<h2>Summary of permanent bus changes</h2>


<p>This summary lists confirmed permanent bus changes up to two weeks before and up to eight weeks after the planned publication date. It also lists some information on changes within that range where the final details and/or date are not yet confirmed, although it may not be possible to list all such changes.</p>

<p>The information is correct to the date shown within the summary, but is subject to change for operational reasons.</p>

<p>We publish this summary every two weeks, normally on a Friday afternoon. Previous editions of this summary are available on request to <a href="mailto:permbuschanges&#64;tfl.gov.uk">permbuschanges&#64;tfl.gov.uk</a></p>

<p>For more details and maps for permanent changes to routing see individual entries below.</p>
<div class="multi-document-download-container">
    
<a class="document-download-wrap pdf" target="_parent" href="/cdn/static/cms/documents/tfl-permanent-bus-changes.pdf">
<div class="document-download-text">
<p>Permanent bus changes &#45; 29 March 2019 to 7 June 2019 (published Wednesday evening 17 April 2019, reissued Friday morning 3 May 2019); Next edition due Thursday afternoon 16 May 2019 (delayed from Friday evening 10 May 2019)</p>
</div>
<div class="document-download-attachment">
<p>PDF 0.59MB</p>
</div>
<div class="document-download-icon download-doc"></div>
</a>

 
</div>

</div>
 <div>

<h2>Central London bus changes</h2>

<p>There are a number of changes happening to the following routes in central London on 15 June 2019 &#45; 3, 4, 9/N9, 14, 35, &nbsp;40, 45, 46, 53, 59, 67, 76, 100, 134, 149, 171, 172, 205/N205, 242, 341, 343, 388, 468, 476 and RV1.</p>

<p>Listed below are details of the changes taking place in each area.</p>
</div>
 
<div>




<h3>Waterloo</h3>

<p>Route 4 will terminate at Blackfriars instead of Waterloo. Routes 26 and 76 can be used to reach stops towards Waterloo.</p>

<p>Route 76 is re-routed via St. Paul's. Routes 21 and 141 can be used to reach Bank from Hoxton and Moorgate, use route 26 to reach Bank from Waterloo.</p>

<p>Route 172 will terminate at Aldwych instead of Clerkenwell Green. Change to route 341 anywhere between Waterloo and Aldwych to continue your journey.</p>

<p>Route 341 will terminate at Waterloo instead of County Hall. Change to route 76 at Aldwych for County Hall.</p>

<p>Route 341 is re-routed via Farringdon Station. For Holborn Circus change at Farringdon Street, Snow Hill for route 17. Route 521 also provides an alternative link from Waterloo to Chancery Lane and Holborn Circus. For Theobald's Road change at Rosebery Avenue for routes 19/N19 and 38/N38.</p>

<p>Route 343 will be extended via Tower Bridge to terminate at Aldgate.</p>

<p>Route RV1 will no longer run. Route 381 provides an alternative service between Waterloo and City Hall. Route 343 can be used from London Bridge/Tooley Street to Tower Gateway.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/4-26-76-172-341-rv1.pdf">
    <div class="document-download-text">
        <p>Changes in the Waterloo area</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 114KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 
</div>

</div>
 
<div>




<h3>Tottenham Court Road/Holborn</h3>

<p>Route 14 is re-routed to Russell Square. Routes 24 and 29/N29 can be used to reach Warren Street.</p>

<p>Route 134 will terminate at Warren Street instead of Tottenham Court Road. Routes 24 and 29/N29 can be used to reach Tottenham Court Road.</p>

<p>Route 171 will terminate at Elephant &amp; Castle instead of Holborn. Change to routes 1, 68, 168 or 188<br />
to reach Holborn.</p>

<p>Route 172 will terminate at Aldwych instead of Clerkenwell Green. Change to route 341 anywhere<br />
between Waterloo and Aldwych to continue your journey.</p>

<p>Route 341 will terminate at Waterloo instead of County Hall. Change to route 76 at Aldwych for County Hall.</p>

<p>Route 341 is re-routed via Farringdon Station. For Holborn Circus change at Farringdon Street, Snow Hill for route 17. Route 521 also provides an alternative link from Waterloo to Chancery Lane and Holborn Circus. For Theobald's Road change at Rosebery Avenue for routes 19/N19 and 38/N38.</p>

<p>Route 343 will be extended via Tower Bridge to terminate at Aldgate.</p>

<p>Route RV1 will no longer run. Route 381 provides an alternative service between Waterloo and City Hall. Route 343 can be used from London Bridge/Tooley Street to Tower Gateway.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/14-134-171-172-341-rv1.pdf">
    <div class="document-download-text">
        <p>Changes in the Tottenham Court Road/Holborn area</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 124KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 
</div>

</div>
 
<div>




<h3>Victoria/Piccadilly/Oxford Circus</h3>

<p>Route 3 will terminate at Whitehall, Horse Guards Parade instead of Trafalgar Square. Change at Whitehall to continue your journey.</p>

<p>Routes 9/N9 are re-routed via Piccadilly Circus.<br />
Route 14 is re-routed to Russell Square, routes 24 and 29 can be used to reach Warren Street.</p>

<p>Route 53 will terminate at County Hall, route 453 can be used to reach Whitehall during the day. Route N53 will continue to serve stops as far as Whitehall, Horse Guards Parade at night.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/9-14-53-n9.pdf">
    <div class="document-download-text">
        <p>Changes in the Victoria, Piccadilly and Oxford Circus areas</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 115KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 
</div>

</div>
 
<div>




<h3>Euston/Kings Cross</h3>

<p>Route 40 is re-routed to terminate at Clekenwell Green and will no longer<br />
serve Aldgate.</p>

<p>Route 45 will terminate at Elephant and Castle instead of King's Cross. Routes 40 and 63 can be used to reach stops towards Farringdon and route 63 for King's Cross St. Pancras. Routes 17 or 46 will continue to serve Grays Inn Road.</p>

<p>Route 59 will terminate at Euston instead of King's Cross. Routes 73, 205 or 91 can be used to reach stops towards King's Cross.</p>

<p>Route 134 will terminate at Warren Street instead of Tottenham Court Road. Routes 24, 29/N29 and 73/N73 can be used to reach Tottenham Court Road.</p>

<p>Routes 205/N205 are re-routed and will no longer serve Marylebone. Route 453 can be used to reach<br />
Marylebone Station.</p>

<p>Route 476 will terminate at King's Cross instead of Euston. Routes 30, 73, 91 or 205 can be used to reach stops towards Euston.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/45-59-134-476.pdf">
    <div class="document-download-text">
        <p>Changes in the Euston/King's Cross area</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 110KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 
</div>

</div>
 
<div>




<h3>St Pauls/City of London</h3>

<p>Route 4 will terminate at Blackfriars instead of Waterloo. Route 76 can be used to reach stops towards Waterloo. Route 341 can be used from Islington to Fleet Street, Aldwych and Waterloo.</p>

<p>Route 40 is re-routed to Clerkenwell Green and will no longer serve Aldgate. Route 35 can be used for stops between Elephant &amp; Castle and Monument and route 343 for Aldgate.</p>

<p>Route 45 will terminate at Elephant and Castle instead of King's Cross. Routes 40 and 63 can be used to reach stops towards Farringdon and route 63 for King's Cross St. Pancras. Route 17 will continue to serve Grays Inn Road.</p>

<p>Route 76 is re-routed via St.Paul's. A number of other bus routes can be used between Moorgate and Bank.</p>

<p>Route 100 is extended to St. Paul's Station.</p>

<p>Route 242 is re-routed to Aldgate instead of St.Paul's. New route N242 will run via St. Paul's and extend to terminate at Tottenham Court Road.</p>

<p>Route 341 will terminate at Waterloo (Waterloo Road) instead of County Hall. Change to route 76 on Waterloo Bridge for County Hall.</p>

<p>Route 341 is re-routed via Farringdon Station. For Holborn Circus change at Farringdon Street for route 17. For Theobald's Road change at Rosebery Avenue for routes 19/N19 and 38/N38.</p>

<p>Route 343 will be extended via Tower Bridge to terminate at Aldgate.</p>

<p>Route 388 will terminate at Liverpool Street instead of Elephant &amp; Castle. Change at Liverpool Street for route 8 via St. Paul's or use route 100 from Bishopsgate via LondonWall and St. Paul's.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/4-40-45-76-100-242-341.pdf">
    <div class="document-download-text">
        <p>Changes in the St Pauls/City of London area</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 116KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 
</div>

</div>
 
<div>




<h3>London Bridge</h3>

<p>Route 35 will have extra buses running in the AM and PM peak on Monday to Fridays.</p>

<p>Route 40 is re-routed to Clerkenwell Green and will no longer serve Aldgate. Route 35 can be used for stops between Elephant &amp; Castle and Monument and route 343 for Aldgate.</p>

<p>Route 149 will have extra buses running in the AM and PM peak on Monday to Fridays.</p>

<p>Route 242 is re-routed to Aldgate instead of St. Paul's. New route N242 will run via St. Paul's and extend to terminate at Tottenham Court Road.</p>

<p>Route 343 will be extended via Tower Bridge to terminate at Aldgate.</p>

<p>Route 388 will terminate at Liverpool Street instead of Elephant &amp; Castle. Buses will now run every 12 minutes at all times. Change at Liverpool Street for route 8 via St. Paul's or use route 100 from Bishopsgate via London Wall and St. Paul's.</p>

<p>Route RV1 will no longer run. Route 381 provides an alternative service between Waterloo and City Hall. Route 343 can be used from London Bridge/Tooley Street to Tower Gateway.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/35-40-149-242-343-388-rv1.pdf">
    <div class="document-download-text">
        <p>Changes in the London Bridge area</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 112KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 
</div>

</div>
 
<div>




<h3>East/North East</h3>

<p>Route 35 will have extra buses running in the AM and PM peak on Monday to Fridays.</p>

<p>Route 40 is re-routed to Clerkenwell Green and will no longer serve Aldgate. Route 35 can be used for stops between Elephant &amp; Castle and Monument.&nbsp;</p>

<p>Route 67 will terminate at Dalston Junction instead of Aldgate. Route 242 can be used to reach stops towards Aldgate.</p>

<p>Route 100 is extended to St. Paul's Station.</p>

<p>Route 149 will have extra buses running in the AM and PM peak on Monday to Fridays.</p>

<p>Route 242 is re-routed to Aldgate instead of St.Paul's. At night new route N242 will run via St. Paul's and extend to terminate at Tottenham Court Road.</p>

<p>Route 388 will terminate at Liverpool Street instead of Elephant &amp; Castle. Buses will now run every 12 minutes at all times. Change at Liverpool Street for route 8 via St. Paul's or use route 100 from Bishopsgate via London Wall and St. Paul's.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/26-35-67-100-149-242-388.pdf">
    <div class="document-download-text">
        <p>Changes in the East/North East area</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 109KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.11 -->
 
</div>

</div>
 
<div>




<h3>South/South East</h3>

<p>Route 3 will terminate at Whitehall, Horse Guards Parade instead of Trafalgar Square. Route 453 can be used to reach Whitehall during the day.</p>

<p>Route 4 is re-routed to terminate at Blackfriars and will no longer serve Waterloo. Route 76 can be used for stops between St. Paul's and Waterloo.&nbsp;</p>

<p>Route 35 will have extra buses running in the AM and PM peak on Monday to Fridays.</p>

<p>Route 40 is re-routed to Clerkenwell Green and will no longer serve Aldgate. Route 35 can be used for stops between Elephant &amp; Castle and Monument and route 343 for Aldgate.</p>

<p>Route 45 will terminate at Elephant and Castle instead of King's Cross. Routes 40 and 63 can be used to reach stops towards Farringdon and route 63 for King's Cross St. Pancras. Route 17 will continue to serve Grays Inn Road.</p>

<p>Route 53 will terminate at County Hall, route 453 can be used to reach Whitehall during the day. Route N53 will continue to serve stops as far as Whitehall, Horse Guards Parade at night.</p>

<p>Route 76 is re-routed via St.Paul's. A number of other bus routes can be used between Moorgate and Bank.</p>

<p>Route 100 is extended to St. Paul's Station.</p>

<p>Route 171 will terminate at Elephant &amp; Castle instead of Holborn. Change to routes 68, 168 or 188 to reach Holborn.</p>

<p>Route 172 will terminate at Aldwych instead of Clerkenwell Green. Change to route 341 anywhere between Waterloo and Aldwych to continue your journey.</p>

<p>Route 341 will terminate at Waterloo (Waterloo Road) instead of County Hall.</p>

<p>Route 343 will be extended via Tower Bridge to terminate at Aldgate.</p>

<p>Route 388 will terminate at Liverpool Street instead of Elephant &amp; Castle. Change to route 8 for St. Paul's. Change at Bishopsgate for route 35 for Elephant &amp; Castle.</p>

<p>Route 468 is re-routed via Newington Causeway to Borough Road instead of London Road.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/3-35-40-45-53-171-172-343-388-468.pdf">
    <div class="document-download-text">
        <p>Changes in the South/South East area</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 122KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 
</div>

</div>
 
<div>




<h3>North Central</h3>

<p>Route 4 is re-routed to terminate at Blackfriars and will no longer serve<br />
Waterloo. Route 76 can be used for stops between St. Paul's and Waterloo.</p>

<p>Route 76 is re-routed via St.Paul's. A number of other bus routes can be used between Moorgate and Bank.</p>

<p>Route 134 will terminate at Warren Street instead of Tottenham Court<br />
Road. Routes 24, 29/N29 and 73/N73 can be used to reach Tottenham Court Road.</p>

<p>Route 341 will terminate at Waterloo (Waterloo Road) instead of County Hall. Change to route 76 at Aldwych for County Hall.</p>

<p>Route 341 is re-routed via Farringdon Station. For Holborn Circus change<br />
at Farringdon Street, Snow Hill for route 17. For Theobald's Road change at Rosebery Avenue for routes 19/N19 and 38/N38.</p>

<p>Route 476 will terminate at King's Cross instead of Euston. Routes 30 or 73 can be used to reach stops towards Euston.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/4-19-134-271-341-476.pdf">
    <div class="document-download-text">
        <p>Changes in the North Central area</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 129KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 
</div>

</div>
 
<div>



<h2>Tottenham Court Road two-way project</h2>


<p>On Saturday 20 April 2019, two-way traffic will be introduced&nbsp;on Tottenham Court Road and Gower Street. Buses will no longer serve stops on Gower Street but will serve stops on Tottenham Court Road. The changes will affect the following routes: 14, 19, 24, 29, 38, 73, 134, 176, 390, N5, N19, N20, N29, N38, N41, N73, N253 and N279.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/changes-to-buses-in-tottenham-court-road.pdf">
    <div class="document-download-text">
        <p>Changes to buses on Tottenham Court Road</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 122KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.12 -->
 
</div>

</div>
 
<div>



<h2>Baker Street  two-way project</h2>


<p>On Sunday 24 February 2019, two-way traffic was re-introduced to Baker Street and Gloucester Road. Bus stops in the area have been realigned and affect the following routes: 2, 13, 30, 74, 113, 139, 189, 274, N2, N74 and N113.</p>

<p>For the latest information on how buses are running, see our <a href="/status-updates/index">bus status updates</a>. For news about the bus network, follow &#64;TfLBusAlerts.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/baker-street-where-to-catch-your-bus.pdf">
    <div class="document-download-text">
        <p>Changes to bus routes in the Baker Street area</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 133KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 
</div>

</div>
 
<div>



<h2>Routes 88 and C2</h2>


<p>From Saturday 30 March 2019 route C2 will be replaced with an amended route 88, with journey times remaining the same and buses running every eight minutes.</p>

<p>Route 88 will be re-routed via Albany Street and extended to Parliament Hill Fields. It will run&nbsp;24 hours a day and will no longer serve Hampstead Road. Routes 24, 27 and 29 will continue to serve Hampstead&nbsp;Road and can be used as alternatives for you to continue your journey.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/route-88-c2-bus-changes.pdf">
    <div class="document-download-text">
        <p>Route 88 and C2 changes</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 72KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.07 -->
 
</div>

</div>
 
<div>



<h2>Routes 27 and 440</h2>


<p>From Saturday 9 March 2019, route 27 will no longer run between Chiswick Business Park and Hammersmith station. The route will become a day service and a new night service, route N27, will be introduced. Both routes 27 and N27 will run between Chalk Farm and Hammersmith station.</p>

<p>Route 440 will be rerouted via Bollo Lane, Chiswick Business Park, Chiswick High Road, Oxford Road North and Wellesley Road. The service will terminate at Turnham Green Church.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/changes-to-routes-27-and-440-map.pdf">
    <div class="document-download-text">
        <p>Changes to routes 27 and 440</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 80KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 
</div>

</div>
 <div>

<h2>Routes 9 and N9</h2>

<p>From Saturday 26 January 2019 we're changing the timetable of route N9. The main changes are:</p>

<ul>
	<li>All journeys which previously ran between Aldwych and Hounslow bus station only, at the start and end of the night, no longer run</li>
	<li>Some other journeys between Aldwych and Heathrow Terminal 5 at the start and end of the night no longer run</li>
	<li>All nights buses run every 20 minutes at all times (previously was mostly every 20 minutes but every 15 minutes at certain times)</li>
</ul>

<p>Additional journeys run on route 9 between Aldwych and Hammersmith to replace the journeys no longer running on route N9.&nbsp;There are no replacement journeys between Hammersmith and Heathrow Terminal 5. Use&nbsp;<a href="/plan-a-journey/index">Journey Planner</a> to plan alternative routes.</p>

<p>We've made these changes as the route now operates from a different bus garage. The journeys which no longer run were provided by the operator for operational reasons but were not part of our specification for the route</p>
</div>
 
<div>



<h2>Route 15 heritage</h2>


<p>From 2 March 2019, heritage buses on route 15 will operate only on bank holidays and weekends, from the last Saturday in March until the last weekend in September.&nbsp;</p>

<p>The heritage buses on route 15 will continue to run between Tower Gateway and Trafalgar Square.&nbsp;</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/changes-to-route-15-heritage-buses.pdf">
    <div class="document-download-text">
        <p>Changes to route 15 heritage buses</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 464KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.45 -->
 
</div>

</div>
 <div>

<h2>Routes 97 and 357&nbsp;</h2>

<p>From Saturday 15 December 2018 we're permanently re-routing bus routes 97 and 357 directly via Hoe Street in both directions. They will no longer serve Walthamstow Bus Station or stop AP in Selborne Road outside Walthamstow Central station.<br />
&nbsp;<br />
The nearest alternative bus stops will be new stops V and W in Hoe Street, on the rail bridge, approximately 170 metres from the rail station and bus station.<br />
&nbsp;<br />
We're also removing bus stop AP in Selborne Road, which is served by routes 20, 34, 48, 69, 212, 215, 230, 257, 275, 675, N26, N38, N73, W12, W15 and W19. However this will now take place in early 2019, later than planned. While this stop will&nbsp;remain open until then, we may need to close it temporarily at times while works take place.<br />
&nbsp;<br />
These changes are to reduce congestion in Selborne Road and improve reliability and journey times.<br />
&nbsp;<br />
We <a href="https://consultations.tfl.gov.uk/buses/walthamstow-gyratory/">consulted</a> on this change in Summer 2018.<br />
&nbsp;</p>
</div>
 
<div>




<h2>Route 25 and N25</h2>

<p>From Saturday 1 December 2018, route 25 will run between Ilford and City Thameslink/Holborn Circus only, except at night. It will no longer run between City Thameslink/Holborn Circus and Oxford Circus.</p>

<h3>Buses towards City Thameslink</h3>

<ul>
	<li>The last stop will be in Holborn Viaduct near City Thameslink station</li>
	<li>Customers continuing to Holborn station or Tottenham Court Road station can change at St Paul's station at the same stop (SQ) onto route 8</li>
	<li>Customers continuing to Oxford Street or Oxford Circus need to change again at Tottenham Court Road (New Oxford Street) onto routes 55 or 98</li>
</ul>

<h3>Buses towards Ilford</h3>

<ul>
	<li>The first stop will be in Holborn Viaduct (K) near Holborn Circus</li>
	<li>Customers from Tottenham Court Road station or Holborn station can change in Holborn Viaduct at the same stop (K) from route 8</li>
	<li>Customers from Oxford Circus or Oxford Street need to change from routes 55 or 98 to route 8 at Tottenham Court Road (New Oxford Street) and change again in Holborn Viaduct</li>
</ul>

<h3>Night services</h3>

<ul>
	<li>At night, route 25 will be renumbered to N25</li>
	<li>Buses will continue to run between Ilford and Oxford Circus</li>
</ul>

<h3>Stratford</h3>

<ul>
	<li>Buses on routes 25 and N25 will serve Stratford bus station in both directions at all times (previously only towards Ilford)</li>
</ul>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/change-to-route-25-map2.pdf">
    <div class="document-download-text">
        <p>Changes to route 25</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.51MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.51 -->
 
</div>

</div>
 
<div>



<h2>Routes 10 and 23</h2>


<p>From Saturday 24 November route 10 will be withdrawn and will no longer run between Hammersmith and King's Cross.</p>

<p>Route 23 will be withdrawn between Marble Arch and Aldwych but extended from Marble Arch to Hammersmith.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/change-to-routes-10-and-23-map.pdf">
    <div class="document-download-text">
        <p>Changes to routes 10 and 23</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 83KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.08 -->
 
</div>

</div>
 
<div>



<h2>Stratford bus stop changes</h2>


From Monday 17 September 2018 there will be changes to bus stops in Stratford due to the Stratford Gyratory works.  Please see document below for full details
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stratford-bus-stop-changes.pdf">
    <div class="document-download-text">
        <p>Stratford bus stop changes</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 169KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.16 -->
 
</div>

</div>
 <div>

<h2>Routes 303 and 305</h2>
<p>From Saturday 1 September 2018, we're merging routes 303 and 305 to run as a single new route 303 between Kingsbury Circle and Edgware via Colindale and Mill Hill, and withdrawing route 305.</p>
<p>New route 303 will run along Princes Avenue (replacing route 305), Capitol Way (serving Colindale Superstores), then the previous route 303 route as far as Mill Hill Broadway station. It will then run along Hale Lane (eastern section), Dean's Lane (replacing route 305), Deansbrook Road (western section), then the previous route 303 route to Edgware station.</p>
<p>The frequency will be the same as on the previous route 303:</p>
<ul>
    <li>Monday to Saturday daytimes buses will run every 15 minutes</li>
    <li>Sunday daytime buses will run every 20 minutes</li>
    <li>Each evening buses will run every 30 minutes</li>
</ul>
<p>New route 303 will no longer run along Lyndhurst Avenue and Deansbrook Road (eastern section). Route 302 provides alternative buses along these roads. </p>
<p>All roads previously on route 305 will have alternative buses available.</p>
<ul>
    <li>New route 303 will replace route 305 along Princes avenue and Dean's Lane</li>
    <li>Route 302 provides alternative buses along Stag Lane, Watling Avenue (including Burnt Oak station) and Orange Hill Road</li>
    <li>Routes 221, 240 and 292 provide alternative buses along Hale Lane (western section)</li>
</ul>
<p>These changes are to match demand. Find out more about the <a href="https://consultations.tfl.gov.uk/buses/routes-125-303-305">consultation</a> on these changes.</p>
<p>We're also progressively introducing new, more environmentally friendly diesel single deck buses on new route 303.</p>
<h3>Temporary changes to new route 303</h3>
<p>Buses will initially be unable to run along Capitol Way while works are carried out to change a width restriction on Capitol Way near Stag Lane.</p>
<p>From Saturday 1 September 2018 until further notice the new route 303 will be diverted between Princes Avenue and Colindale Avenue / Annesley Avenue along Stag Lane (south of Princes Avenue), Hay Lane and Edgware Road, not serving Stag Lane (north of Princes Avenue), Capitol Way, Colindale Superstores or part of Edgware Road.</p>
<p>The new buses, which are longer than the previous buses, will initially be unable to run along Corner Mead until changes are made to parking restrictions.</p>
<p>From Saturday 1 September 2018 until further notice new route 303 will be diverted to run along the full length of Grahame Park Way, not serving Corner Mead or Field Mead. Customers travelling to/from Corner Mead or Field Mead may find it easier to use the bus stops in Quakers Course during this period.</p>
<p>During the above diversions, buses will run slightly less frequently, to help maintain reliability.</p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/change-to-routes-303-and-305-map.pdf">
    <div class="document-download-text">
        <p>Changes to routes 303 and 305</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 145KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 
</div>

</div>
 
<div>



<h2>Route N550</h2>


<p>From Saturday 1 September 2018 buses on route N550 will be re-routed between Bank and Trafalgar Square to run along Cannon Street, St Paul's Churchyard, Ludgate Hill, Fleet Street and Strand / Aldwych, serving City Thameslink and Charing Cross stations.</p>
<p>Buses on route N550 will no longer serve Queen Victoria Street, Blackfriars station, Victoria Embankment, Temple station, Embankment station or Northumberland Avenue. There are no alternative night bus routes serving these locations, but other night bus routes are available a short walk away.</p>
<p>We're also re-routing buses between Canning Town and Preston's Road to run along Leamouth Road, Orchard Place (for London City Island and Trinity Buoy Wharf), Blackwall Way and Baffin Way, serving East India station.</p>
<p>Buses on route N550 will no longer serve East India Dock Road (west of Leamouth Road), Newby Place / Bazely Street, Poplar High Street, All Saints station or Blackwall station. Routes N15 and N551 provide alternative night buses serving All Saints station and along East India Dock Road, which is a short walk from Newby Place / Bazely Street, Poplar High Street and Blackwall station.</p>
<p>This change is to provide a night bus service for the growing area around London City Island and Trinity Buoy Wharf. It also provides a night bus service for residents in the Blackwall Way area.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/change-to-route-n550-westbound.pdf">
    <div class="document-download-text">
        <p>Change to route N550 westbound</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 63KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/change-to-route-n550-eastbound.pdf">
    <div class="document-download-text">
        <p>Change to route N550 eastbound</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 64KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 
</div>

</div>
 <div>

<h2>Route 412</h2>
<p>From Saturday 1 September 2018, we're rerouting buses as they arrive in Purley.</p>
<p>From Purley Road, Tesco, buses will run along Banstead Road, Fox Lane, Pampisford Road, Christchurch Road and Brighton Road. The last stop will be stop Z1 ('Purley High Street') on Brighton Road (southbound), opposite Purley War Memorial Hospital. Stops D ('Purley Downlands Precinct') and E ('Christchurch Road / Purley Hospital') on Brighton Road (northbound) will no longer be served.</p>
<p>There will be no change to the route and stops towards West Croydon.</p>
<p>This is to improve reliability, as buses will have a shorter distance to travel when empty between journeys. We're initially introducing this as a temporary change, but may make it permanent, following consultation.</p>
<p>To match demand, we're also changing the frequency. Monday to Saturday daytimes buses will run every 20 minutes, with three additional journeys in schoolday peak hours (previously every 15 minutes, with two additional journeys in schoolday peak hours) (the new additional schoolday journey will run from West Croydon to Purley in the morning peak). Sunday daytime and Monday to Saturday evening buses will run every 30 minutes (previously every 20 minutes). </p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/change-to-route-412-map.pdf">
    <div class="document-download-text">
        <p>Change to route 412</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 46KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 
</div>

</div>
 
<div>



<h2>Route 277</h2>


<p>From Saturday 30 June 2018, route 277 will no longer serve stops between Dalston and Highbury Corner. Except at night, it will operate between Crossharbour and Dalston Junction. This is because improvements at Highbury Corner mean that route 277 will no longer be able to terminate there.</p>
<p>From the same date we are extending route 277 at night from Highbury Corner to and from Islington, Angel, along Upper Street. It will be known as route N277 and run between Crossharbour and Islington, Angel along the full current route of route 277.</p>
<p>If you currently use route 277 between Dalston and Highbury Corner you will instead be able to use route 30 during the day and new route N277 during the night.</p>
<p>We're adding some additional journeys to route 30 in peak hours from 23 June 2018.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/277-map-web.pdf">
    <div class="document-download-text">
        <p>Route 277 map</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 62KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.06 -->
 
</div>

</div>
 
<div>



<h2>Route 372</h2>


From Saturday 2 June 2018 buses on route 372 towards Lakeside Shopping Centre will no longer serve stop B on Wennington Road, as they will be re-routed via Old Station Lane, Celtic Farm Road and Ferry Lane.
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/change-to-route-372-map.pdf">
    <div class="document-download-text">
        <p>Changes to route 372</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 47KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 
</div>

</div>
 
<div>



<h2>Route 178</h2>


<p>From Saturday 2 June 2018 bus route 178 will be re-routed.</p>
<p>Northbound</p>
<p>Buses towards Woolwich will be re-routed from Kidbrooke Park Road via Cambert Way, Ryan Close, Tudway Road to Kidbrooke Park Road and will serve two additional stops. The additional stops will be on Ryan Close and Stop W on Tudway Road.</p>
<p>Southbound</p>
<p>Buses towards Lewisham will no longer serve the bus stop on Kidbrooke Park Road. Buses will be re-routed from Kidbrooke Park Road via Cambert Way, Ryan Close, Tudway Road to Kidbrooke Park Road and will serve two additional stops. The additional stops will be on Ryan Close and Tudway Road.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/change-to-route-178-northbound-map.pdf">
    <div class="document-download-text">
        <p>Route 178 northbound changes</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 45KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.04 -->
 

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/change-to-route-178-southbound-map.pdf">
    <div class="document-download-text">
        <p>Route 178 southbound changes</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 51KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 
</div>

</div>
 <div>

<h2>Route RV1</h2>
<p>From 10 February the frequency of route RV1 will be reduced to 3 buses an hour.</p>
<p>Route RV1 currently runs six times an hour between Covent Garden and Tower Gateway via Waterloo Station and London Bridge.</p>
<p>There are three alternative services which run the same route as the RV1:</p>
<ul>
    <li>The 381 runs the same route between Waterloo and City Hall</li>
    <li>
    The 78 and 42 run the same route between City Hall and Tower Gateway</li>
</ul>
</div>
 <div>

<h2>Route 363 &#45; Bricklayers' Arms, Bermondsey</h2>
<h3>Route 363 towards Crystal Palace re-routed over the Bricklayers' Arms flyover.</h3>
<p>From Saturday 6 January 2018 we're re-routing route 363 towards Crystal Palace to run over the Bricklayers' Arms flyover, rather than via the roundabout. </p>
<p>This will provide a shorter journey and improve reliability.</p>
<p>Route 363 will no longer serve the two bus stops near the roundabout (stops BB 'Tower Bridge Road' and BF 'Bricklayers' Arms') but these stops will continue to be served by other routes.</p>
<p>There is no change towards Elephant &amp; Castle.</p>
<p>We intend to re-route route 53 the same way later (date to be confirmed).</p>
<p>Find out more on our <a href="https://consultations.tfl.gov.uk/buses/routes-53-and-363/">consultation page</a>.</p>
</div>
 
<div>




<h2>Croydon town centre</h2>
<p><strong>From Monday 16 October 2017 we have made some changes to bus routes in Croydon town centre. </strong></p>
<p>Routes 50, 60, 119, 166, 197, 264, 312, 405, 407, 412, 455, 466, 468 and N68 are affected.</p>
<p>We have been working with Croydon Council on a pilot scheme to pedestrianise High Street between Park Street and Katharine Street.</p>
<p>These new arrangements are initially for approximately one year and are subject to change for operational reasons. We are working hard to keep the changes to a minimum.</p>
<p>With Croydon Council we will review the impact of these changes, before either making them permanent, or returning to the previous arrangements, in autumn 2018. </p>
<p>For more details on the pedestrianisation scheme please see <a href="https://www.croydon.gov.uk/planningandregeneration/regeneration/delivering-for-croydon/croydon-high-street-0/croydon-high-street">Croydon Council's web page</a>.</p>
<p>Routes 75, 154, 250 and 403 also serve this area but have no changes to route or stops.</p>
<h3>Routes 60, 119, 166, 312, 405, 407, 412, 455, 466, 468 and N68</h3>
<p>Southbound:</p>
<ul>
    <li>Now stop at the east end of Park Street, near Park Lane (Stop KH or KJ, relocated)</li>
    <li>Now run via St George's Walk and Katharine Street to High Street</li>
    <li>No longer stop at the west end of Park Street</li>
    <li>Still stop at the south end of High Street, near Croydon Flyover</li>
</ul>
<p>Northbound:</p>
<ul>
    <li>No change to route or stops</li>
</ul>
<h3>Route 50</h3>
<p>Towards Croydon Town Centre:</p>
<ul>
    <li>Now stops at the east end of Park Street, near Park Lane (Stop KJ, relocated)</li>
    <li>Now runs via St George's Walk and Katharine Street to High Street</li>
    <li>No longer stops at the west end of Park Street</li>
    <li>Last stop is still at the south end of High Street, near Croydon Flyover</li>
</ul>
<p>Towards Stockwell:</p>
<ul>
    <li>First stop is now stop KE in Park Street</li>
    <li>No longer stops in Katharine Street for operational reasons</li>
</ul>
<h3>Routes 109 and N109</h3>
<p>Towards Croydon Town Centre:</p>
<ul>
    <li>No change to route or stops</li>
</ul>
<p>Towards Brixton / Oxford Circus:</p>
<ul>
    <li>First stop is now stop KB in Katherine Street</li>
    <li>Then serves stop KE in Park Street</li>
    <li>No longer serves stop KL in Katherine Street</li>
</ul>
<h3>Route 197</h3>
<p>Towards Croydon Town Centre:</p>
<ul>
    <li>Last stop is now at the east end of Park Street, near Park Lane (Stop KJ, relocated)</li>
    <li>No longer stops at the west end of Park Street or in High Street</li>
</ul>
<p>Towards Peckham:</p>
<ul>
    <li>First stop is now stop KC in Park Lane</li>
    <li>No longer stops in Katharine Street for operational reasons</li>
</ul>
<h3>Route 264</h3>
<p>Towards Croydon Town Centre:</p>
<ul>
    <li>Last stop is now at the east end of Park Street, near Park Lane (Stop KJ, relocated)</li>
    <li>No longer stops at the west end of Park Street or in High Street</li>
</ul>
<p>Towards Tooting:</p>
<ul>
    <li>First stop is now stop KK in Katharine Street</li>
    <li>Then serves stop KE in Park Street</li>
    <li>No longer serves stop KB in Katharine Street</li>
</ul>
<p>View a map of where to catch your bus:</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/where-to-catch-your-bus-croydon-town-centre.pdf">
    <div class="document-download-text">
        <p>Where to catch your bus - Croydon town centre</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 331KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.32 -->
 
</div>

</div>
 
<div>




<h2><strong>Leamouth</strong></h2>
<h3><strong>Route D3</strong></h3>
<p>Route D3 will now start and finish at Orchard Place for London City Island, and no longer serves Saffron Avenue for Tower Hamlets town hall. It will also be rerouted to serve Blackwall Way and Baffin Way (instead of running non-stop along Aspen Way), providing new connections to Canary Wharf, Wapping, Shadwell, Whitechapel and Bethnal Green.</p>
<p>Passengers should change at East India station stop on Blackwall Way for access to Tower Hamlets town hall.</p>
<p>Download the PDF for a map of the new route, bus stops and terminus:</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/changes-to-route-d3.pdf">
    <div class="document-download-text">
        <p>Changes to route D3 - route map</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 104KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.10 -->
 
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/buses/index" class="heading">
                    <h2 id="sub-menu-heading">Buses<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/modes/buses/bus-service-changes">Changes to bus routes</a></div>
                                <ul>
                                    
                                        <li class="selected"><div class="link-wrapper"><a href="/modes/buses/permanent-bus-changes">Permanent bus changes</a></div>
                                    </li>
 
                                <li><div class="link-wrapper"><a href="/modes/buses/temporary-bus-changes">Temporary bus changes</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/modes/buses/live-bus-arrivals">Live bus arrivals</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/buses/improving-buses">Improving buses</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/buses/who-runs-your-bus">Who runs your bus</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/buses/cash-free-buses">Cash free buses</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/buses/demand-responsive-bus-service">Demand responsive bus service</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/buses/using-buses-in-london">Using buses in London</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/buses" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/buses" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/modes/buses/improving-buses" class="plain-button">Improving buses</a>
<a href="/plan-a-journey/index" class="plain-button">Plan a journey</a>
    </div>
</div>
 
<div class="fact-box-wrapper">
    <span class="blue-span">Change buses for free with the Hopper fare</span>
    <div class="fact-box-content">
        <p>Make unlimited pay as you go bus and tram journeys within one hour of first touching in for &pound;1.50.</p>
        <div class="vertical-button-container">
        
        <a href="/campaign/hopper-fare"  class="plain-button">More about the Hopper fare</a> 
        </div>
    </div>
</div>
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Permanent changes to TfL bus routes including new routes and changes to first and last stops";}
        
            
        


 