
    
  



@{ViewBag.Title = "Temporary bus changes";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/buses/temporary-bus-changes";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/buses/index">Buses</a></li>
                
            
                 <li><a href="/modes/buses/bus-service-changes">Changes to bus routes</a></li>
                
            
            
                <li><span class="last-breadcrumb">Temporary bus changes</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Temporary bus changes</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Read details of significant temporary bus changes including major planned diversions.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      
<div>




<h2>Hammersmith Bridge closure</h2>

<p>Bus services are diverted or cut back until major safety-critical strengthening work is completed on Hammersmith Bridge which is currently closed to all motor traffic.</p>

<p>For more information visit our <a href="/status-updates/major-works-and-events/hammersmith-bridge-closure">Hammersmith Bridge closure</a> page.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/hammersmith-bridge-dr.pdf">
    <div class="document-download-text">
        <p>Changes to bus services in Hammersmith bridge area</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 175KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.17 -->
 
</div>

</div>
 
<div>



<h2>Norwood Road</h2>


<p>From 22:00 Monday 27 May until late October 2019, Route 315 will not serve Canterbury Grove, Royal Circus, York Hill, Norwood Road, Norwood High Street and Ernest Avenue.</p>

<p>A diversion will be in place via Leigham Court Road, Crown Lane (Crown Point) and Knights Hill, with buses terminating at Norwood Bus Garage. The diversion will affect buses travelling towards West Norwood only. Buses towards Balham will run as normal.</p>
<div class="multi-document-download-container">
    
</div>

</div>
 
<div>



<h2>Shepherd's Bush Green</h2>


<p>From 09:00 Wednesday 15 August 2018 until 18:00 Saturday 30 March 2019 Bus stop N on Shepherd's Bush Green is closed due to development work nearby.</p>
<p>See document below for information about where to catch your bus.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/stop-n-at-shepherds-bush-green-closed-web.pdf">
    <div class="document-download-text">
        <p>Where to catch your bus</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 134KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.13 -->
 
</div>

</div>
 
<div>




<h2>Feltham station bridge works</h2>

<p>From 29 May 2018 to late&nbsp;August 2019, Hounslow Road will be temporarily closed between New Road and Hanworth Road to all traffic and pedestrians in both directions. This is while improvement works are carried out to the railway bridge at Feltham train station.</p>

<p>For the duration of the works the following bus routes will be diverted:</p>

<p>90, 117, 235, 285, 490, 635, H25 and H26.</p>

<p>The area may be busier than usual. Please check before you travel and allow extra time for your journey.</p>
<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/feltham-station-bridge-works.pdf">
    <div class="document-download-text">
        <p>Feltham station works diversion </p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 154KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.15 -->
 
</div>

</div>
 <div>

<h2>Liverpool Street bus station&nbsp;works</h2>

<p><strong>Bus routes 11, 133, 153, N11, N133 affected</strong></p>

<p>From 23:30 on Monday 6 November 2017 until September 2019, Liverpool Street bus Station is closed to allow construction work on the adjacent Broadgate site&nbsp;redevelopment.</p>

<p>Routes 11, 133, N11 and N133:</p>

<ul>
	<li>Finish at Old Broad Street, near Great Winchester Street (stop Z), approximately 275m from Liverpool Street station.</li>
	<li>Start at London Wall, All Hallows Church (stop U), approximately 275m from Liverpool Street station, and serve Old Broad Street, near Great Winchester Street (stop R) as normal</li>
</ul>

<p>They will return to normal when the bus station reopens.</p>

<p>Route 153</p>

<p>Route&nbsp;153 will continue to start and finish at Moorgate, Finsbury Square (stop J), approximately 500m from Liverpool Street station. It was temporarily re-routed to Moorgate, Finsbury Square to maintain&nbsp; reliability during roadworks and road closures. The route will be restored to the bus station when it reopens.</p>
</div>
 
<div>



<h2>Sutton Hospital - Route S3</h2>


<p><strong>Bus route S3 diverted to Belmont station until further notice.</strong></p>
<p>From Saturday 28 October 2017 until further notice, route S3 no longer serves Sutton Hospital (bus stop K) or Cotswold Road (bus stops E and F).</p>
<p>Route S3 now runs the full length of Downs Road to Belmont rail station. The last stop is stop D and the first stop is stop C. It continues to serve stops M and N in Downs Road (near Cotswold Road) and stop L in the grounds of Royal Marsden Hospital.</p>
<p>This is due to the redevelopment of Sutton Hospital. We are no longer able to use the bus stop in the hospital grounds.</p>
<p>We are working with the developers to reinstate route S3 to the redeveloped site in the future.</p>
<div class="multi-document-download-container">
    
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/modes/buses/index" class="heading">
                    <h2 id="sub-menu-heading">Buses<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/modes/buses/bus-service-changes">Changes to bus routes</a></div>
                                <ul>
                                    
                                <li><div class="link-wrapper"><a href="/modes/buses/permanent-bus-changes">Permanent bus changes</a></div></li>
                            
 
                                        <li class="selected"><div class="link-wrapper"><a href="/modes/buses/temporary-bus-changes">Temporary bus changes</a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/modes/buses/live-bus-arrivals">Live bus arrivals</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/buses/improving-buses">Improving buses</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/buses/who-runs-your-bus">Who runs your bus</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/buses/cash-free-buses">Cash free buses</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/buses/demand-responsive-bus-service">Demand responsive bus service</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/modes/buses/using-buses-in-london">Using buses in London</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/buses" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/buses" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/status-updates/major-works-and-events" class="plain-button">Major works &amp; events</a>
    </div>
</div>
 
<div class="fact-box-wrapper">
    <span class="blue-span">Change buses for free with the Hopper fare</span>
    <div class="fact-box-content">
        <p>Make unlimited pay as you go bus and tram journeys within one hour of first touching in for &pound;1.50.</p>
        <div class="vertical-button-container">
        
        <a href="/campaign/hopper-fare"  class="plain-button">More about the Hopper fare</a> 
        </div>
    </div>
</div>
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Details of temporary changes to TfL bus routes including diversions";}
        
            
        


 