
<a class="broadcast-comms" href="https://contactless.tfl.gov.uk/">
    <div class="r">
        <div class="broadcast-text">
            <h2>Contactless card issues</h2>
            Please use an alternative card while we fix an issue with contactless authorisations
        </div>
    </div>
</a>
 