
<a class="broadcast-comms" href="/travel-information/timetables/index">
    <div class="r">
        <div class="broadcast-text">
            <h2>H&C and Metropolitan map problems</h2>
            Please see status text or plan a journey to see correct closures
        </div>
    </div>
</a>
 