
    
  



@{ViewBag.Title = "Planned line closures and service changes";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/status-updates/planned-track-closures";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/status-updates/index">Status updates</a></li>
                
            
            
                <li><span class="last-breadcrumb">Planned line closures and service changes</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Planned line closures and service changes</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Here we publish a list of closures and significant service changes planned over the next few months.
        
      </div>
    
    <div class="on-this-page">
      <p><strong>Last updated:&nbsp;3 July 2019</strong></p>

<p>This information changes frequently. <a href="/plan-a-journey/index">Check before you travel</a>.</p>

<p>For planned station changes&nbsp;see <a href="/status-updates/stations-lifts-and-escalators-works-and-closures">Stations, lifts and escalator works</a>.</p>
      
           
      <div>

<h3>Unless otherwise indicated, there will be 'no service' between the stations listed below.</h3>
</div>
 

<h3>&nbsp;</h3>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>


 
<h2>July&nbsp;2019&nbsp;</h2>
<h3>Monday&nbsp;1 July&nbsp;&#45; Sunday 7 July</h3>

<div class="table-container"><table style="width:100%">
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Line</h4>
			</th>
			<th rowspan="1" style="width: 25%;">Days</th>
			<th colspan="1" rowspan="1" style="width: 50%;">
			<h4>What's affected</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>London Overground</td>
			<td>Mon 1 until Thur 04 July</td>
			<td><strong>Hackney Downs to Chingford,</strong> no service after 22:30 each evening</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sat 6 and Sun&nbsp;7 July</td>
			<td>
			<p><strong>Whitechapel station, </strong>trains will not stop (including during Friday and Saturday Night Service)</p>

			<p><strong>Willesden Junction to Clapham Junction,</strong> no service</p>

			<p><strong>Surrey Quays to Clapham Junction, </strong>no service</p>

			<p><strong>Liverpool Street to Enfield Town, Cheshunt (via Seven Sisters) and Chingford,</strong> no service</p>
			</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sun&nbsp;7 July</td>
			<td>
			<p><strong>Highbury &amp; Islington to New Cross Gate, </strong>no service from 05:15</p>

			<p><strong>Surrey Quays to New Cross,</strong> no service</p>

			<p><strong>Sydenham to Crystal Palace,</strong> no service</p>
			</td>
		</tr>
		<tr>
			<td>District</td>
			<td>
			<p>Sat 6 July</p>

			<p>Sun 7 July</p>
			</td>
			<td>
			<p><strong>Aldgate East to Barking,</strong> no service</p>

			<p><strong>Edgware Road to High Street Kensington,</strong> no service</p>
			</td>
		</tr>
		<tr>
			<td>Hammersmith &amp; City</td>
			<td>
			<p>Sat 6 July</p>

			<p>Sun 7 July</p>
			</td>
			<td>
			<p><strong>Liverpool Street to Barking,</strong> no service</p>

			<p><strong>Moorgate to Hammersmith,</strong> no service</p>
			</td>
		</tr>
		<tr>
			<td>DLR</td>
			<td>Sat 6 and Sun 7 July</td>
			<td><strong>Custom House station,</strong> trains will not stop</td>
		</tr>
		<tr>
			<td>TfL Rail</td>
			<td>
			<p>Sat 6 July</p>
			</td>
			<td>
			<p><strong>Liverpool Street to Stratford,</strong> no service</p>
			</td>
		</tr>
		<tr>
			<td>Circle</td>
			<td>Sun 7July</td>
			<td><strong>Entire line, </strong>no service</td>
		</tr>
		<tr>
			<td>Metropolitan</td>
			<td>Sun 7 July</td>
			<td><strong>Aldgate to Wembley Park,</strong> no service</td>
		</tr>
	</tbody>
</table></div>

<h3>Monday&nbsp;8 July&nbsp;&#45; Sunday 14 July</h3>

<div class="table-container"><table style="width:100%">
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Line</h4>
			</th>
			<th rowspan="1" style="width: 25%;">Days</th>
			<th colspan="1" rowspan="1" style="width: 50%;">
			<h4>What's affected</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>TfL Rail</td>
			<td>Sat 13 July</td>
			<td><strong>Liverpool Street to Stratford,</strong> no service</td>
		</tr>
		<tr>
			<td>Circle</td>
			<td>Sat 13 and Sun 14 July</td>
			<td><strong>Hammersmith to Tower Hill (via King's Cross St Pancras),</strong> no service</td>
		</tr>
		<tr>
			<td>Hammersmith &amp; City</td>
			<td>Sat 13 and Sun 14 July</td>
			<td><strong>King's Cross St Pancras to Barking,</strong> no service</td>
		</tr>
		<tr>
			<td>Metropolitan</td>
			<td>Sat 13 and Sun 14 July</td>
			<td><strong>King's Cross St Pancras to Aldgate,</strong> no service</td>
		</tr>
		<tr>
			<td>DLR</td>
			<td>Sat 13 and Sun 14 July</td>
			<td><strong>Custom House station,</strong> trains will not stop</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sat 13 and Sun 14 July</td>
			<td>
			<p><strong>Surrey Quays to Clapham Junction, </strong>no service</p>

			<p><strong>Liverpool Street to Enfield Town, Cheshunt (via Seven Sisters) and Chingford,</strong> no service</p>
			</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sun 14 July</td>
			<td><strong>Euston to Kilburn High Road,</strong> no service&nbsp;until 12:15 and after 20:30</td>
		</tr>
	</tbody>
</table></div>

<h3>Monday&nbsp;15 July &#45; Sunday 21 July</h3>

<div class="table-container"><table style="width:100%">
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Line</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Days</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 50%;">
			<h4>What's affected</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>London Overground</td>
			<td>Mon 15 until Thur 18 July</td>
			<td><strong>Sydenham to West Croydon,</strong> no service after 22:15 each evening</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Mon 15 until Thur 18 July</td>
			<td><strong>Hackney Downs to Enfield Town and Cheshunt (via Seven Sisters),</strong> no service after 22:45 each evening</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sat 20 and Sun 21 July</td>
			<td><strong>Liverpool Street to Enfield Town, Cheshunt (via Seven Sisters) and Chingford,</strong> no service</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sun 21 July</td>
			<td>
			<p><strong>Willesden Junction to Shepherd's Bush and Richmond, </strong>no service until 11:30</p>

			<p><strong>Camden Road to Willesden Junction, </strong>no service</p>
			<strong>Sydenham to Crystal Palace,</strong> no service</td>
		</tr>
		<tr>
			<td>TfL Rail</td>
			<td>Sat 20 July</td>
			<td><strong>Liverpool Street to Stratford,</strong> no service</td>
		</tr>
		<tr>
			<td>Circle</td>
			<td>Sat 20 and Sun 21 July</td>
			<td>
			<p><strong>Entire line</strong></p>
			</td>
		</tr>
		<tr>
			<td>District</td>
			<td>Sat 20 and Sun 21 July</td>
			<td>
			<p><strong>Edgware Road to High Street Kensington,</strong> no service</p>

			<p><strong>Earl's Court to Kensington (Olympia),</strong> no service</p>
			</td>
		</tr>
		<tr>
			<td>Hammersmith &amp; City</td>
			<td>Sat 20 and Sun 21 July</td>
			<td>
			<p><strong>Moorgate to Hammersmith,</strong> no service</p>
			</td>
		</tr>
		<tr>
			<td>Metropolitan</td>
			<td>Sat 20 and Sun 21 July</td>
			<td><strong>Aldgate to Wembley Park,</strong> no service</td>
		</tr>
		<tr>
			<td>DLR</td>
			<td>Sat 20 and Sun 21 July</td>
			<td>
			<p><strong>Bank and Tower Gateway to Canary Wharf and Canning Town,</strong> no service</p>

			<p><strong>Stratford to Canary Wharf (via Poplar),</strong> no service</p>
			</td>
		</tr>
	</tbody>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>

<h3>Monday&nbsp;22 July&nbsp;&#45; Wednesday 31 July</h3>

<div class="table-container"><table style="width:100%">
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Line</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Days</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 50%;">
			<h4>What's affected</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>TfL Rail</td>
			<td>Sat 27 July</td>
			<td><strong>Liverpool Street to Stratford,</strong> no service</td>
		</tr>
		<tr>
			<td>DLR</td>
			<td>Sat 27 and Sun 28 July</td>
			<td><strong>Custom House station,</strong> trains will not stop</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sat 27 and Sun 28 July</td>
			<td>
			<p><strong>Camden Road to Willesden Junction,</strong> no service</p>

			<p><strong>Liverpool Street to Enfield Town, Cheshunt (via Seven Sisters) and Chingford,</strong> no service</p>
			</td>
		</tr>
	</tbody>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>


 
<h2>August&nbsp;2019</h2>
<h3>Thursday 1 August&nbsp;&#45; Sunday 4 August</h3>

<div class="table-container"><table style="width:100%">
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Line</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Days</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 50%;">
			<h4>What's affected</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>TfL Rail</td>
			<td>Sat 3 Aug</td>
			<td><strong>Liverpool Street to Stratford,</strong> no service</td>
		</tr>
		<tr>
			<td>Central</td>
			<td>Sat 3 and Sun 4 Aug</td>
			<td>
			<p><strong>Marble Arch to West Ruislip and Ealing Broadway,</strong> no service on Saturday from 01:00 until 04:00 (during Friday Night Tube)</p>

			<p><strong>North Acton to Ealing Broadway,</strong> no service from 04:00 (during Friday Night Tube)</p>
			</td>
		</tr>
		<tr>
			<td>DLR</td>
			<td>Sat 3 and Sun 4 Aug</td>
			<td><strong>Custom House station,</strong> trains will not stop</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sat 3 Aug</td>
			<td><strong>Camden Road to Stratford,</strong> no service after 20:00</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sat 3 and Sun 4 Aug</td>
			<td>
			<p><strong>Liverpool Street to Enfield Town, Cheshunt (via Seven Sisters) and Chingford,</strong> no service</p>
			</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sun 4 Aug</td>
			<td><strong>Euston to Watford Junction,</strong> no service</td>
		</tr>
	</tbody>
</table></div>

<h3>Monday&nbsp;5 August &#45; Sunday 11 August</h3>

<div class="table-container"><table style="width:100%">
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Line</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Days</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 50%;">
			<h4>What's affected</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>London Overground</td>
			<td>Mon 5 until Thur 8 Aug</td>
			<td><strong>Sydenham to West Croydon,</strong> no service after 22:15 each evening</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sat 10 and Sun 11 Aug</td>
			<td>
			<p><strong>Camden Road to Willesden Junction,</strong> no service</p>

			<p><strong>Whitechapel station,</strong> trains will not stop</p>
			</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sun 11 Aug</td>
			<td>
			<p><strong>Kensington (Olympia) to Clapham Junction,</strong> no service</p>

			<p><strong>New Cross Gate to Crystal Palace and West Croydon,</strong> no service until 08:15</p>
			</td>
		</tr>
		<tr>
			<td>Jubilee</td>
			<td>Sat 10&nbsp;Aug</td>
			<td><strong>Waterloo to Wembley Park,</strong> no service from 01:30 until 04:45 during Friday Night Tube)</td>
		</tr>
		<tr>
			<td>Circle</td>
			<td>Sat 10 and Sun 11 Aug</td>
			<td>
			<p><strong>Entire line,</strong> no service until 12:00 on Saturday</p>

			<p><strong>King's Cross St Pancras to Paddington,</strong> no service from 12:00 on Saturday</p>
			</td>
		</tr>
		<tr>
			<td>District</td>
			<td>Sat 10 and Sun 11 Aug</td>
			<td>
			<p><strong>Edgware Road to High Street Kensington,</strong> no service until 12:00 on Saturday</p>

			<p><strong>Edgware Road to Paddington,</strong> no service from 12:00 on Saturday</p>
			</td>
		</tr>
		<tr>
			<td>Hammersmith &amp; City</td>
			<td>Sat 10 and Sun 11 Aug</td>
			<td>
			<p><strong>Moorgate to Hammersmith,</strong> no service until 12:00 on Saturday</p>

			<p><strong>King's Cross St Pancras to Latimer Road,</strong> no service</p>
			</td>
		</tr>
		<tr>
			<td>Metropolitan</td>
			<td>Sat 10 and Sun 11 Aug</td>
			<td><strong>Aldgate to Wembley Park,</strong> no service</td>
		</tr>
	</tbody>
</table></div>

<h3>Monday&nbsp;12 August &#45; Sunday 18 August</h3>

<div class="table-container"><table style="width:100%">
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Line</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Days</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 50%;">
			<h4>What's affected</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>London Overground</td>
			<td>Mon 12 until Thur 15 Aug</td>
			<td><strong>Hackney Downs to Chingford,</strong> no service after 22:30 each evening</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sat 17 and Sun 18 Aug</td>
			<td><strong>Camden Road to Willesden Junction,</strong> no service</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sun 18 Aug</td>
			<td>
			<p><strong>Wandsworth Road to Clapham Junction,</strong> no service until 10:30</p>

			<p><strong>Highbury &amp; Islington to Clapham Junction (via Canada Water),</strong> trains&nbsp;are diverted to/from Battersea Park until 10:30</p>
			</td>
		</tr>
		<tr>
			<td>Circle</td>
			<td>Sat 17 and Sun 18 Aug</td>
			<td><strong>Aldgate to Edgware Road (via Victoria), </strong>no service</td>
		</tr>
		<tr>
			<td>District</td>
			<td>Sat 17 and Sun 18 Aug</td>
			<td><strong>Aldgate East to Earl's Court,</strong> no service</td>
		</tr>
	</tbody>
</table></div>

<h3>Monday&nbsp;19 August&nbsp;&#45; Monday 26 August</h3>

<div class="table-container"><table style="width:100%">
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Line</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Days</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 50%;">
			<h4>What's affected</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>London Trams</td>
			<td>Fri 23 Aug until Mon 26 Aug</td>
			<td><strong>East Croydon to Elmers End,&nbsp;Beckenham Junction and New Addington,</strong> no service</td>
		</tr>
		<tr>
			<td>Metropolitan</td>
			<td>Sat 24 and Sun 25 Aug</td>
			<td><strong>Rayners Lane to Uxbridge,</strong> no service</td>
		</tr>
		<tr>
			<td>Piccadilly</td>
			<td>Sat 24 and Sun 25 Aug</td>
			<td><strong>Rayners Lane to Uxbridge,</strong> no service</td>
		</tr>
		<tr>
			<td>DLR</td>
			<td>Sat 24 and Sun 25 Aug</td>
			<td><strong>Custom House station,</strong> trains will not stop</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sun 25 Aug</td>
			<td><strong>Willesden Junction to Clapham Junction,</strong> no service&nbsp;until 11:00</td>
		</tr>
	</tbody>
</table></div>

<h3>Tuesday 27 August&nbsp;&#45; Saturday 31 August</h3>

<div class="table-container"><table style="width:100%">
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Line</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Days</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 50%;">
			<h4>What's affected</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>London Trams</td>
			<td>Tue 27 Aug until Sat 31 Aug</td>
			<td><strong>East Croydon to Elmers End,&nbsp;Beckenham Junction and New Addington,</strong> no service</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Tue 27 until Thur 29 Aug</td>
			<td><strong>Hackney Downs to Enfield Town and Cheshunt (via Seven Sisters),</strong> no service after 22:45 each evening</td>
		</tr>
	</tbody>
</table></div>


 
<h2>September 2019</h2>
<h3>Sunday 1 September</h3>

<div class="table-container"><table style="width:100%">
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Line</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Days</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 50%;">
			<h4>What's affected</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>London Overground</td>
			<td>
			<p>Sun 1 Sep</p>
			</td>
			<td>
			<p><strong>Camden Road to Willesden Junction, </strong>no service</p>

			<p><strong>Surrey Quays to Clapham Junction, </strong>no service</p>
			</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sun 1 Sep</td>
			<td>
			<p><strong>East Croydon to Elmers End,&nbsp;Birkbeck and New Addington,</strong> no service</p>
			</td>
		</tr>
	</tbody>
</table></div>

<h3>Monday&nbsp;2 September &nbsp;&#45; Sunday 8 September</h3>

<div class="table-container"><table style="width:100%">
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Line</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Days</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 50%;">
			<h4>What's affected</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>District</td>
			<td>Sat 7 and Sun 8 Sep</td>
			<td><strong>Aldgate East to West Ham,</strong> no service</td>
		</tr>
		<tr>
			<td>Hammersmith &amp; City</td>
			<td>Sat 7 and Sun 8 Sep</td>
			<td><strong>Liverpool Street to Barking,</strong> no service</td>
		</tr>
		<tr>
			<td>Metropolitan</td>
			<td>Sat 7 and Sun 8 Sep</td>
			<td><strong>Harrow-on-the-Hill to Uxbridge,</strong> no service</td>
		</tr>
		<tr>
			<td>Piccadilly</td>
			<td>Sat 7 and Sun 8 Sep</td>
			<td><strong>Acton Town to Uxbridge,</strong> no service</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sat 7 and Sun 8 Sep</td>
			<td>
			<p><strong>Kensington (Olympia) to Clapham Junction,</strong> no service</p>

			<p><strong>Whitechapel station,</strong> trains will not stop</p>
			</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sun 8 Sep</td>
			<td>
			<p><strong>South Tottenham to Barking, </strong>no service until 12:30</p>

			<p><strong>Euston to Kilburn High Road,</strong> no service until 12:15</p>

			<p><strong>Liverpool Street to Enfield Town, Cheshunt (via Seven Sisters) and Chingford,</strong> no service until 10:15</p>
			</td>
		</tr>
		<tr>
			<td>London Trams</td>
			<td>Sun 8 Sep</td>
			<td><strong>Addiscombe to Elmers End and Beckenham Junction,</strong> no service until 09:00</td>
		</tr>
	</tbody>
</table></div>

<h3>Monday&nbsp;9 September &#45; Sunday 15 September</h3>

<div class="table-container"><table style="width:100%">
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Line</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Days</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 50%;">
			<h4>What's affected</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Metropolitan</td>
			<td>Sat 14 and Sun 15 Sep</td>
			<td><strong>Harrow-on-the-Hill to Uxbridge,</strong> no service</td>
		</tr>
		<tr>
			<td>Piccadilly</td>
			<td>Sat 14 and Sun 15 Sep</td>
			<td><strong>Acton Town to Uxbridge,</strong> no service</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sat 14 and Sun 15 Sep</td>
			<td><strong>Walthamstow Central to Chingford,</strong> no service</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sun 15 Sep</td>
			<td><strong>Willesden Junction to Richmond,</strong> no service</td>
		</tr>
		<tr>
			<td>TfL Rail</td>
			<td>Sat 14 and Sun 15 Sep</td>
			<td><strong>Paddington to Heathrow Terminals 2 &amp; 3,</strong> no service from 23:20 on Saturday until 08:00 on Sunday</td>
		</tr>
		<tr>
			<td>District</td>
			<td>Sun 15 Sep</td>
			<td><strong>Turnham Green to Richmond,</strong> no service</td>
		</tr>
		<tr>
			<td>London Trams</td>
			<td>Sun 15 Sep</td>
			<td><strong>Addiscombe to Elmers End and Beckenham Junction,</strong> no service until 09:00</td>
		</tr>
	</tbody>
</table></div>

<h3>Monday&nbsp;16 September &#45; Sunday 22 September</h3>

<div class="table-container"><table style="width:100%">
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Line</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Days</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 50%;">
			<h4>What's affected</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Circle</td>
			<td>Sat 21 and Sun 22 Sep</td>
			<td>
			<p><strong>Entire line,&nbsp;</strong>no service until 10:00&nbsp;on Saturday</p>

			<p><strong>Euston Square to Monument,</strong>&nbsp;no service after 10:00 on Saturday and all day Sunday</p>
			</td>
		</tr>
		<tr>
			<td>District</td>
			<td>Sat 21 and Sun 22 Sep</td>
			<td>
			<p><strong>Embankment to West Ham, </strong>no service until 10:00 on Saturday</p>

			<p><strong>Monument to Stepney Green,</strong> no service after 10:00 on Saturday and all day Sunday</p>
			</td>
		</tr>
		<tr>
			<td>Hammersmith &amp; City</td>
			<td>Sat 21 and Sun 22 Sep</td>
			<td>
			<p><strong>Baker Street to Barking,</strong> no service until 10:00 on Saturday</p>

			<p><strong>Euston Square to Stepney Green,</strong> no service after 10:00 on Saturday and all day Sunday</p>
			</td>
		</tr>
		<tr>
			<td>Metropolitan</td>
			<td>Sat 21 and Sun 22 Sep</td>
			<td><strong>Aldgate to Baker Street,</strong> no service</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sat 21 and Sun 22 Sep</td>
			<td>
			<p><strong>Walthamstow Central to Chingford,</strong> no service</p>

			<p><strong>Whitechapel station, </strong>trains will not stop</p>
			</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sun 22 Sep</td>
			<td>
			<p><strong>Hackney Wick to Stratford,</strong> no service</p>

			<p><strong>New Cross Gate to Crystal Palace and West Croydon,</strong> no service</p>
			</td>
		</tr>
		<tr>
			<td>TfL Rail</td>
			<td>Sat 21 and Sun 22 Sep</td>
			<td><strong>Paddington to Heathrow Terminals 2 &amp; 3,</strong> no service from 23:20 on Saturday until 08:00 on Sunday</td>
		</tr>
	</tbody>
</table></div>

<h3>Monday&nbsp;23 September &#45;&nbsp;Monday 30&nbsp;September</h3>

<div class="table-container"><table style="width:100%">
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Line</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Days</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 50%;">
			<h4>What's affected</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>London Overground</td>
			<td>Mon 23 until Thur 26 Sep</td>
			<td><strong>Hackney Downs to Chingford,</strong> no service after 22:30 each evening</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sat 28 and Sun 29 Sep</td>
			<td>
			<p><strong>Willesden Junction to Richmond,</strong> no service</p>

			<p><strong>Gospel Oak to Barking,</strong> no service</p>

			<p><strong>Walthamstow Central to Chingford,</strong> no service</p>
			</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sun 29 Sep</td>
			<td>
			<p><strong>Camden Road to Stratford,</strong> no service after 22:00</p>

			<p><strong>Highbury &amp; Islington to Dalston Junction,</strong> no service after 22:00</p>
			</td>
		</tr>
		<tr>
			<td>Circle</td>
			<td>Sat 28 and Sun 29 Sep</td>
			<td><strong>Edgware Road to Aldgate (via Victoria),</strong> no service</td>
		</tr>
		<tr>
			<td>District</td>
			<td>Sat 28 and Sun 29 Sep</td>
			<td><strong>South Kensington and Edgware Road to Acton Town, Kensington (Olympia), Richmond and Wimbledon,&nbsp;</strong>no service</td>
		</tr>
		<tr>
			<td>Piccadilly</td>
			<td>Sat 28 and Sun 29 Sep</td>
			<td><strong>Hyde Park Corner to Acton Town,</strong> no service</td>
		</tr>
		<tr>
			<td>DLR</td>
			<td>Sat 28 and Sun 29 Sep</td>
			<td><strong>Bank and Tower Gateway to Poplar and West India Quay,</strong> no service</td>
		</tr>
		<tr>
			<td>London Trams</td>
			<td>Sun 29 Sep</td>
			<td><strong>Addiscombe to Elmers End and Beckenham Junction,</strong> no service until 16:00</td>
		</tr>
	</tbody>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>


 
<h2>October 2019</h2>
<h3>Tuesday 1 October &#45; Sunday&nbsp;6 October</h3>

<div class="table-container"><table style="width:100%">
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Line</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Days</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 50%;">
			<h4>What's affected</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Circle</td>
			<td>Sat 5 and Sun 6 Oct</td>
			<td><strong>Edgware Road to Aldgate (via Victoria),</strong> no service</td>
		</tr>
		<tr>
			<td>District</td>
			<td>Sat 5 and Sun 6 Oct</td>
			<td><strong>South Kensington and Edgware Road&nbsp;to Hammersmith, Kensington (Olympia) and Wimbledon,</strong>&nbsp;no service</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sat 5 and Sun 6 Oct</td>
			<td>
			<p><strong>Gospel Oak to Barking,</strong> no service</p>

			<p><strong>Hackney Downs to Chingford,</strong> no service</p>
			</td>
		</tr>
	</tbody>
</table></div>

<h3>Monday 7 October &#45; Sunday 13 October</h3>

<div class="table-container"><table style="width:100%">
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Line</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Days</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 50%;">
			<h4>What's affected</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>London Overground</td>
			<td>Mon 7 until Thur 10 Oct</td>
			<td><strong>Hackney Downs to Chingford,</strong> no service after 22:30 each evening</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sat 12 and Sun 13 Oct</td>
			<td><strong>Willesden Junction to Richmond,</strong> no service</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sun 13 Oct</td>
			<td>
			<p><strong>South Tottenham to Barking,</strong> no service</p>

			<p><strong>Liverpool Street to Enfield Town, Cheshunt (via Seven Sisters) and Chingford,</strong> no service until 10:15</p>
			</td>
		</tr>
		<tr>
			<td>Circle</td>
			<td>Sat 12 and Sun 13 Oct</td>
			<td><strong>Edgware Road to Aldgate (via Victoria), </strong>no service</td>
		</tr>
		<tr>
			<td>District</td>
			<td>Sat 12 and Sun 13 Oct</td>
			<td><strong>Aldgate East and Edgware Road to Ealing Broadway, Kensington (Olympia),</strong> <strong>Richmond and Wimbledon</strong>, no service</td>
		</tr>
		<tr>
			<td>London Trams</td>
			<td>Sun 13 Oct</td>
			<td><strong>Harrington Road to Beckenham Junction,</strong> no service until 12:00</td>
		</tr>
	</tbody>
</table></div>

<h3>Monday 14 October &#45; Sunday 20 October</h3>

<div class="table-container"><table style="width:100%">
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Line</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Days</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 50%;">
			<h4>What's affected</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>London Overground</td>
			<td>Mon 14 untul Thur 17 Oct</td>
			<td><strong>Sydenham to West Croydon,</strong> no service after 22:15 each evening</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sun 20 Oct</td>
			<td><strong>Sydenham to Crystal Palace,</strong> no service</td>
		</tr>
		<tr>
			<td>TfL Rail</td>
			<td>Sat 19 Oct</td>
			<td>
			<p><strong>Hayes &amp; Harlington to Heathrow Terminal 4,</strong> no service</p>

			<p><strong>Paddington to Hayes &amp; Harlington,</strong> reduced service - trains will run every 30 minutes</p>

			<p><strong>Hanwell station,</strong> trains will not stop</p>
			</td>
		</tr>
		<tr>
			<td>Circle</td>
			<td>Sat 19 and Sun 20 Oct</td>
			<td><strong>Edgware Road to Aldgate (via Victoria),</strong> no service</td>
		</tr>
		<tr>
			<td>District</td>
			<td>Sat 19 and Sun 20 Oct</td>
			<td><strong>South Kensington and Edgware Road to Hammersmith, Kensington (Olympia) and Wimbledon,</strong>&nbsp;no service</td>
		</tr>
		<tr>
			<td>DLR</td>
			<td>Sat 19 and Sun 20 Oct</td>
			<td><strong>West Ham to Woolwich Arsenal,</strong> no service</td>
		</tr>
		<tr>
			<td>London Trams</td>
			<td>Sun 20 Oct</td>
			<td><strong>Addiscombe to Elmers End and Beckenham Junction,</strong> no service until 12:00</td>
		</tr>
	</tbody>
</table></div>

<h3>Monday&nbsp;21 October &#45; Thursday 31 October</h3>

<div class="table-container"><table style="width:100%">
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Line</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Days</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 50%;">
			<h4>What's affected</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Circle</td>
			<td>Sat 26 and Sun 27 Oct</td>
			<td><strong>Edgware Road to Aldgate (via Victoria),</strong> no service</td>
		</tr>
		<tr>
			<td>District</td>
			<td>Sat 26 and Sun 27 Oct</td>
			<td><strong>Earl's Court to East Ham,</strong> no service</td>
		</tr>
		<tr>
			<td>Hammersmith &amp; City</td>
			<td>Sat 26 and Sun 27 Oct</td>
			<td><strong>Liverpool Street to Barking,</strong> no service</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sun 27 Oct</td>
			<td><strong>Willesden Junction to Shepherd's Bush and Richmond,</strong> no service until 12:00</td>
		</tr>
		<tr>
			<td>London Trams</td>
			<td>Sun 27 Oct</td>
			<td><strong>Harrington Road to Beckenham Junction,</strong> no service until 12:00</td>
		</tr>
	</tbody>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>


 
<h2>November 2019</h2>
<h3>Saturday 2 and Sunday 3 November</h3>

<div class="table-container"><table style="width:100%">
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Line</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Days</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 50%;">
			<h4>What's affected</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Circle</td>
			<td>Sat 2 and Sun 3 Nov</td>
			<td>
			<p><strong>Aldgate to Edgware Road via Victoria</strong> no service until 08:00 on Saturday</p>

			<p><strong>Monument to Sloane Square</strong> no service after 08:00 on Saturday and all day Sunday</p>
			</td>
		</tr>
		<tr>
			<td>District</td>
			<td>Sat 2 and Sun 3 Nov</td>
			<td>
			<p><strong>South Kensington to Tower Hill</strong> no service until 08:00 on Saturday</p>

			<p><strong>Monument to Sloane Square</strong> no service after 08:00 on Saturday and all day Sunday:</p>
			</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sun 3 Nov</td>
			<td>
			<p><strong>Willesden Junction to Clapham Junction</strong>, no service</p>

			<p><strong>Surrey Quays to Clapham Junction, no service</strong></p>

			<p><strong>Euston to Kilburn High Road</strong> no service until 12:15 and after 20:45</p>

			<p><strong>South Tottenham to Barking</strong> no service until 12:30</p>
			</td>
		</tr>
	</tbody>
</table></div>

<h3>Monday 4 until Sunday 10 November</h3>

<div class="table-container"><table style="width:100%">
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Line</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Days</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 50%;">
			<h4>What's affected</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>London Overground</td>
			<td>Mon 4 until Thu 7 Nov</td>
			<td><strong>Hackney Downs to Chingford</strong> no service after 22:30 each evening</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sun 10 Nov</td>
			<td><strong>Euston to Watford Junction </strong>no service</td>
		</tr>
		<tr>
			<td>Bakerloo</td>
			<td>Sun 10 Nov</td>
			<td><strong>Queen's Park to Harrow &amp; Wealdstone </strong>no service</td>
		</tr>
		<tr>
			<td>TfL Rail</td>
			<td>Sat 9 and Sun 10 Nov</td>
			<td><strong>Paddington to Hayes &amp; Harlington</strong> no service after 21:00 on both days</td>
		</tr>
	</tbody>
</table></div>

<h3>Monday 11 until Sunday 17 November</h3>

<div class="table-container"><table style="width:100%">
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Line</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Days</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 50%;">
			<h4>What's affected</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>DLR</td>
			<td>Sat 16 and Sun 17 Nov</td>
			<td><strong>Stratford International to CanningTown </strong>no service</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sat 16 and Sun 17 Nov</td>
			<td><strong>Camden Road to Stratford </strong>no service</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sun 17 Nov</td>
			<td><strong>Wandsworth Road to Clapham Junction </strong>no service</td>
		</tr>
		<tr>
			<td>TfL Rail</td>
			<td>Sat 16 and Sun 17 Nov</td>
			<td><strong>Paddington to Hayes &amp; Harlington</strong> no service after 21:00 on both days</td>
		</tr>
		<tr>
			<td>London Trams</td>
			<td>Sun 17 Nov</td>
			<td><strong>Reeves Corner to Blackhorse Lane</strong> no service until 12:00</td>
		</tr>
	</tbody>
</table></div>

<h3>Monday 18 until Sunday 24 November</h3>

<div class="table-container"><table style="width:100%">
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Line</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Days</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 50%;">
			<h4>What's affected</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>London Overground</td>
			<td>Mon 18 until Thu 21 Nov</td>
			<td><strong>Hackney Downs to Enfield Town and Cheshunt via Seven Sisters, </strong>no service<strong> </strong>after 22:45 each evening</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sat 23 and Sun 24 Nov</td>
			<td><strong>New Cross Gate to Crystal Palace and West Croydon </strong>no service</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sun 24 Nov</td>
			<td>
			<p><strong>Camden Road to Stratford</strong> no service after 21:45</p>

			<p><strong>Highbury &amp; Islington to Dalston Junction</strong> no service after 22:00</p>
			</td>
		</tr>
		<tr>
			<td>Metropolitan</td>
			<td>Sat 23 and Sun 24 Nov</td>
			<td><strong>Aldgate to Wembley Park </strong>no service</td>
		</tr>
	</tbody>
</table></div>

<h3>Monday 25 November until Saturday 30 November</h3>

<div class="table-container"><table style="width:100%">
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Line</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Days</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 50%;">
			<h4>What's affected</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>District</td>
			<td>Sat 30 Nov</td>
			<td><strong>Tower Hill to East Ham </strong>no service</td>
		</tr>
		<tr>
			<td>Hammersmith &amp; City</td>
			<td>Sat 30 Nov</td>
			<td><strong>Liverpool Street to Barking </strong>no service</td>
		</tr>
		<tr>
			<td>TfL Rail</td>
			<td>Sat 30 Nov</td>
			<td><strong>Liverpool Street to Stratford </strong>no service</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sat 30 Nov</td>
			<td><strong>Whitechapel station</strong> - Trains will not stop</td>
		</tr>
	</tbody>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>


 
<h2>December 2019</h2>
<h3>Sunday 1 December.</h3>

<div class="table-container"><table style="width:100%">
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Line</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Days</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 50%;">
			<h4>What's affected</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>District</td>
			<td>Sun 1 Dec</td>
			<td><strong>Tower Hill to East Ham,</strong> no service</td>
		</tr>
		<tr>
			<td>Hammersmith &amp; City</td>
			<td>Sun 1 Dec</td>
			<td><strong>Liverpool Street to Barking,</strong> no service</td>
		</tr>
		<tr>
			<td>TfL Rail</td>
			<td>Sun 1 Dec</td>
			<td><strong>Liverpool Street to Stratford,</strong> no service</td>
		</tr>
		<tr>
			<td>London Overground</td>
			<td>Sun 1 Dec</td>
			<td>
			<p><strong>New Cross Gate to Crystal Palace and West Croydon, </strong>no service</p>

			<p><strong>Whitechapel station,</strong> trains will not stop</p>

			<p><strong>Liverpool Street to Enfield Town, Cheshunt (via Seven Sisters) and Chingford until 10:15,</strong> trains will not stop</p>
			</td>
		</tr>
	</tbody>
</table></div>

<h3>Monday 2 until Sunday Sunday 8 December</h3>

<div class="table-container"><table style="width:100%">
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Line</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Days</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 50%;">
			<h4>What's affected</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>London Trams</td>
			<td>Sun 8 Dec</td>
			<td><strong>Wimbledon to Mitcham Junction until 12:00,</strong> no service</td>
		</tr>
	</tbody>
</table></div>

<h3>Monday 9 until Sunday 15 December</h3>

<div class="table-container"><table style="width:100%">
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Line</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Days</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 50%;">
			<h4>What's affected</h4>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>London Overground</td>
			<td>Sun 15 Dec</td>
			<td>
			<p><strong>Surrey Quays to Clapham Junction,</strong> no service</p>

			<p><strong>South Tottenham to Barking until 12:30,</strong> no service</p>
			</td>
		</tr>
		<tr>
			<td>London Trams</td>
			<td>Sun 15 Dec</td>
			<td><strong>Addiscombe to Elmers End and Beckenham Junction until 12:00,</strong> no service</td>
		</tr>
	</tbody>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>


 

<h3>&nbsp;</h3>

<h3>&nbsp;</h3>

<h3>&nbsp;</h3>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>

<div class="table-container"><table style="width:100%" summary="Planned changes to lines and services">
	<thead>
	</thead>
</table></div>


 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Track closures - six month look ahead. Find out if planned closures could affect your journey";}
        
            
        


 