
    
  



@{ViewBag.Title = "Stations, lifts, escalators, works and closures ";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/status-updates/stations-lifts-and-escalators-works-and-closures";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/status-updates/index">Status updates</a></li>
                
            
            
                <li><span class="last-breadcrumb">Stations, lifts, escalators, works and closures </span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Stations, lifts, escalators, works and closures </h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Here we publish a list of planned works that affect stations, lifts and escalators.
        
      </div>
    
    
      <h2></h2>
      
           
      
<p><strong>Last updated:&nbsp;20 May 2019</strong></p>

<p>This information changes frequently. <a href="/plan-a-journey/index">Check before you travel</a>.</p>

<p>For planned service changes see <a href="/status-updates/planned-track-closures">Planned line closures and service changes</a>.</p>

<h2><a href="/status-updates/stations-lifts-and-escalators-works-and-closures#a">A</a>&nbsp;&nbsp; <a href="/status-updates/stations-lifts-and-escalators-works-and-closures#b">B</a>&nbsp;&nbsp; <a href="/status-updates/stations-lifts-and-escalators-works-and-closures#c">C</a>&nbsp;&nbsp; <a href="/status-updates/stations-lifts-and-escalators-works-and-closures#d">D</a>&nbsp;&nbsp; <a href="/status-updates/stations-lifts-and-escalators-works-and-closures#e">E</a>&nbsp;&nbsp; <a href="/status-updates/stations-lifts-and-escalators-works-and-closures#f">F</a>&nbsp;&nbsp; <a href="/status-updates/stations-lifts-and-escalators-works-and-closures#g">G</a>&nbsp;&nbsp; <a href="/status-updates/stations-lifts-and-escalators-works-and-closures#h">H</a>&nbsp;&nbsp; <a href="/status-updates/stations-lifts-and-escalators-works-and-closures#i">I</a>&nbsp;&nbsp;&nbsp;<a href="/status-updates/stations-lifts-and-escalators-works-and-closures#k">K</a>&nbsp;&nbsp; <a href="/status-updates/stations-lifts-and-escalators-works-and-closures#l">L</a>&nbsp;&nbsp; <a href="/status-updates/stations-lifts-and-escalators-works-and-closures#m">M</a>&nbsp;&nbsp; <a href="/status-updates/stations-lifts-and-escalators-works-and-closures#n">N</a>&nbsp;&nbsp; <a href="/status-updates/stations-lifts-and-escalators-works-and-closures#o">O</a>&nbsp;&nbsp; <a href="/status-updates/stations-lifts-and-escalators-works-and-closures#p">P</a>&nbsp;&nbsp; <a href="/status-updates/stations-lifts-and-escalators-works-and-closures#q">Q</a>&nbsp;&nbsp; <a href="/status-updates/stations-lifts-and-escalators-works-and-closures#r">R</a>&nbsp;&nbsp; <a href="/status-updates/stations-lifts-and-escalators-works-and-closures#s">S</a>&nbsp;&nbsp; <a href="/status-updates/stations-lifts-and-escalators-works-and-closures#t">T</a>&nbsp;&nbsp; <a href="/status-updates/stations-lifts-and-escalators-works-and-closures#u">U</a>&nbsp;&nbsp; <a href="/status-updates/stations-lifts-and-escalators-works-and-closures#v">V</a>&nbsp;&nbsp; <a href="/status-updates/stations-lifts-and-escalators-works-and-closures#w">W</a></h2>
<div class="table-container"><table style="width:100%" summary="Alphabetical list of stations which are closed or have access issues">
	<thead>
		<tr>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Station</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 25%;">
			<h4>Dates</h4>
			</th>
			<th colspan="1" rowspan="1" style="width: 50%;">
			<h4>What's affected</h4>
			</th>
		</tr>
		<tr>
			<td>
			<h2><a name="a"></a>A</h2>
			</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>Acton Main Line</td>
			<td>
			<p>Sun 2 June 2019</p>
			</td>
			<td><strong>TfL Rail trains will not stop from 08:00</strong></td>
		</tr>
		<tr>
			<td>Acton Main Line</td>
			<td>
			<p>Sun 4 Aug 2019</p>

			<p>Sun 8 Sep 2019</p>
			</td>
			<td><strong>TfL Rail trains will not stop</strong></td>
		</tr>
		<tr>
			<td>Angel</td>
			<td>Fri 21 June until early Sep 2019</td>
			<td><strong>Reduced escalator service</strong></td>
		</tr>
		<tr>
			<td>
			<h2><a name="b"></a>B</h2>
			</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td colspan="1" style="width:25%">Bank</td>
			<td colspan="1" style="width:25%">Mon 1 Apr until late June 2019</td>
			<td colspan="1" style="width:50%"><strong>Reduced escalator service</strong></td>
		</tr>
		<tr>
			<td>Belsize Park</td>
			<td>Mon 20 May 2019 until late Feb 2021</td>
			<td><strong>Reduced lift service.</strong></td>
		</tr>
		<tr>
			<td>
			<h2><a name="c"></a>C</h2>
			</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td colspan="1" style="width:25%">Canary Wharf</td>
			<td colspan="1" style="width:25%">Mon 29 Apr until mid-Aug 2019</td>
			<td colspan="1" style="width:50%">
			<p><strong>No down escalator from street to mezzaine level.</strong></p>

			<p>Please use the stairs.</p>
			</td>
		</tr>
		<tr>
			<td>Clapham North</td>
			<td>Mon 20 May until Thu 22 Aug 2019</td>
			<td>
			<p><strong>No down escalator service.</strong></p>

			<p>Please use the stairs.</p>
			</td>
		</tr>
		<tr>
			<td>
			<h2><a name="d"></a>D</h2>
			</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>
			<h2><a name="e"></a>E</h2>
			</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>Earl's Court</td>
			<td>Tue 22 Jan until mid-July 2019</td>
			<td>
			<p><strong>No step-free access to/from the District line.</strong></p>

			<p>Use alternative routes or speak to a member of staff.</p>
			</td>
		</tr>
		<tr>
			<td>East Ham</td>
			<td>Tue 8 Jan until early July 2019</td>
			<td>
			<p><strong>No step-free access between the ticket hall and the westbound platform.</strong></p>

			<p>Please use nearby stations instead.</p>
			</td>
		</tr>
		<tr>
			<td>Euston</td>
			<td>Mon 8 Apr until late June 2019</td>
			<td>
			<p><strong>Reduced escalator service</strong></p>

			<p>Please use Warren Street or King's Cross St Pancras stations to avoid congestion</p>
			</td>
		</tr>
		<tr>
			<td>
			<h2><a name="f"></a>F</h2>
			</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td colspan="1" style="width:25%">Finsbury Park</td>
			<td colspan="1" style="width:25%">Sat 17 Jul&nbsp;2016&nbsp;until late 2019</td>
			<td colspan="1" style="width:50%">
			<p><strong>Wells Terrace entrance closed&nbsp;on weekdays 07:00-10:00.</strong></p>

			<p>Use the Seven Sisters Road exit instead.</p>

			<p>At all other times use the Seven Sisters Road or Station Place exits and follow the signed walking routes.</p>
			</td>
		</tr>
		<tr>
			<td colspan="1" style="width:25%">Forest Gate</td>
			<td colspan="1" style="width:25%">Sundays from&nbsp;19 May until 9 June 2019</td>
			<td colspan="1" style="width:50%"><strong>Trains will not stop</strong></td>
		</tr>
		<tr>
			<td>
			<h2><a name="g"></a>G</h2>
			</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td colspan="1" style="width:25%">Goodge Street</td>
			<td colspan="1" style="width:25%">Mon 4 Sep 2017&nbsp;until&nbsp;autumn 2019</td>
			<td colspan="1" style="width:50%">
			<p><strong>Exit only on weekdays 07:30-10:00</strong></p>

			<p>Use nearby Warren Street or Tottenham Court Road stations instead.</p>
			</td>
		</tr>
		<tr>
			<td>
			<h2><a name="h"></a>H</h2>
			</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>Hanwell</td>
			<td>Mon 8 Apr until late May 2019</td>
			<td>
			<p><strong>Campbell Road entrance closed. </strong></p>

			<p>Follow the signposted route to the Station Approach entrance, which is a 10 minute walk.</p>
			</td>
		</tr>
		<tr>
			<td>Hanwell</td>
			<td>Sun 8 Sep 2019</td>
			<td><strong>TfL Rail trains will not stop after 21:00</strong></td>
		</tr>
		<tr>
			<td>
			<h2><a name="i"></a>I</h2>
			</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>
			<h2><a name="k"></a>K</h2>
			</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>
			<h2><a name="l"></a>L</h2>
			</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>
			<h2><a name="m"></a>M</h2>
			</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td colspan="1" style="width:25%">Manor Park</td>
			<td colspan="1" style="width:25%">
			<p>Sundays from&nbsp;19 May until 9 June 2019</p>
			</td>
			<td colspan="1" style="width:50%"><strong>Trains will not stop</strong></td>
		</tr>
		<tr>
			<td colspan="1" style="width:25%">Maryland</td>
			<td colspan="1" style="width:25%">Sundays from&nbsp;19 May until 9 June 2019</td>
			<td colspan="1" style="width:50%"><strong>Trains will not stop</strong></td>
		</tr>
		<tr>
			<td colspan="1" style="width:25%">Moorgate</td>
			<td colspan="1" style="width:25%">Fri 29 Mar until late 2019</td>
			<td colspan="1" style="width:50%">
			<p><strong>No down escalator service between the ticket hall and the National Rail platforms.</strong></p>

			<p>Please use the stairs.</p>
			</td>
		</tr>
		<tr>
			<td colspan="1" style="width:25%">Mornington Crescent</td>
			<td colspan="1" style="width:25%">Mon 8 Apr until&nbsp; early June 2019</td>
			<td colspan="1" style="width:50%"><strong>Reduced lift service</strong></td>
		</tr>
		<tr>
			<td>
			<h2><a name="n"></a>N</h2>
			</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>
			<h2><a name="o"></a>O</h2>
			</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>
			<h2><a name="p"></a>P</h2>
			</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>
			<h2><a name="q"></a>Q</h2>
			</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>
			<h2><a name="r"></a>R</h2>
			</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>
			<h2><a name="s"></a>S</h2>
			</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td colspan="1" style="width:25%">Southwark</td>
			<td colspan="1" style="width:25%">Tue 30 Oct 2018 until late May 2019</td>
			<td colspan="1" style="width:50%">
			<p><strong>No up escalator service to Waterloo East weekdays 07:00-10:00.</strong></p>

			<p>Please use the stairs or exit via the Blackdfriars Road ticket hall and walk to the main Waterloo East station entrance.</p>

			<p><strong>No down escalator service from Waterloo East except weekdays 07:00-10:00.</strong></p>

			<p>Please use the stairs or follow signs to Waterloo station for Jubilee line interchange.</p>
			</td>
		</tr>
		<tr>
			<td>
			<h2><a name="t"></a>T</h2>
			</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>
			<h2><a name="u"></a>U</h2>
			</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>
			<h2><a name="v"></a>V</h2>
			</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>Victoria</td>
			<td>Tue 19 Feb 2019 until July 2020</td>
			<td><strong>Reduced escalator service</strong></td>
		</tr>
		<tr>
			<td>
			<h2><a name="w"></a>W</h2>
			</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td colspan="1" style="width:25%">Warren Street</td>
			<td colspan="1" style="width:25%">Mon 19 Aug until mid-Oct 2019</td>
			<td colspan="1" style="width:50%">
			<p><strong>Reduced escalator service. </strong></p>

			<p>Northbound Victoria line trains will not stop, weekdays from 08:00 until 09:45</p>

			<p>The Victoria line will have no access from the street or from the Northern line, weekdays from 08:00 until 09:45 and from 15:30 until 20:00</p>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td colspan="1" style="width:25%">West Ealing</td>
			<td colspan="1" style="width:25%">
			<p>Sun 2 June 2019</p>
			</td>
			<td colspan="1" style="width:50%"><strong>TfL Rail trains will not stop from 08:00</strong></td>
		</tr>
		<tr>
			<td colspan="1" style="width:25%">West Ealing</td>
			<td colspan="1" style="width:25%">
			<p>Sun 4 Aug 2019</p>

			<p>Sun 8 Sep 2019</p>
			</td>
			<td colspan="1" style="width:50%"><strong>TfL Rail trains will not stop</strong></td>
		</tr>
		<tr>
			<td colspan="1" style="width:25%">Whitechapel</td>
			<td colspan="1" style="width:25%">
			<p>Sat 6 July 2019</p>

			<p>Sat 10 and Sun 11 Aug 2019</p>

			<p>Sat 7 and Sun 8 Sep 2019</p>

			<p>Sat 21 and Sun 22 Sep 2019</p>
			</td>
			<td colspan="1" style="width:50%">
			<p><strong>London Overgrond trains will not stop.</strong></p>

			<p>Use local buses to/from Shoreditch High Street or Shadwell.</p>
			</td>
		</tr>
		<tr>
			<td colspan="1" style="width:25%">Wood Green</td>
			<td colspan="1" style="width:25%">Tue 27 Nov 2018&nbsp;until mid-Nov 2019</td>
			<td colspan="1" style="width:50%">
			<p><strong>Reduced escalator service</strong></p>
			</td>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table></div>


 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Look ahead at planned works that affect stations, escalators and lifts";}
        
            
        


 