
    
  



@{ViewBag.Title = "District line strike";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/campaign/district-line-strike";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/campaign/index">Campaigns</a></li>
                
            
            
                <li><span class="last-breadcrumb">District line strike</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>District line strike</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        A strike by some Tube drivers on the District line is planned on Friday 13 April. If it goes ahead, there will be a reduced service on the District line for all of Friday.
        
      </div>
    
    <div class="on-this-page">
      <h4>Last updated: Tuesday 10 April</h4>
<p>There will be delays to District line journeys throughout the day - please allow more time to complete your journeys or change to a different line if possible.</p>
<p>All other Tube lines will operate as normal. Services on the District line are expected to resume normally on Saturday morning.</p>
<p>The impact is expected to be minimal in central London due to normal service on the Circle line, with regular services between Gloucester Road and Tower Hill.</p>
<p>There will be more time between trains going to all western branches of the District line via Earl's Court and east of Tower Hill.</p>
<p>There will be no services to Kensington Olympia. However, London Overground and Southern services will be calling at the station as usual. TfL Travel Ambassadors will be at key locations to provide travel information and advice.</p>
<p>Keep up-to-date with the latest service information. See:</p>
<ul>
    <li>This web page, which will be regularly updated</li>
    <li>TfL Twitter accounts, including <a href="https://twitter.com/TfLTravelAlerts">&#64;TfLTravelAlerts</a> and <a href="https://twitter.com/districtline">&#64;Districtline</a>, as well as the <a href="http://m.me/tfltravelbot">TfL Travelbot</a> on Facebook messenger</li>
    <li><a href="https://tfl.gov.uk/plan-a-journey/">Plan a journey</a> can help you plan your route by public transport, cycling or walking</li>
    <li>Check the latest <a href="https://tfl.gov.uk/tube-dlr-overground/status/">status updates</a></li>
    <li><a href="https://tfl.gov.uk/maps?Input=Current+location+">Nearby </a>uses your current location or a postcode or address of your choice and places you on a map, showing you Tube, bus, river, Overground, DLR, rail and Santander Cycles locations around you</li>
    <li>Sign up to our <a href="https://tfl.gov.uk/travel-information/social-media-and-email-updates/email-updates">email updates</a></li>
</ul>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "District line strike";}
        
            
        


 