
    
  



@{ViewBag.Title = "Hopper fare";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/campaign/hopper-fare";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

  

<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/campaign/index">Campaigns</a></li>
                
            
            
                <li><span class="last-breadcrumb">Hopper fare</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 

  
  <div class="r">
    <div class="headline-container section-title section-landing-container ">
      <div class="section-title-wrap">
        <h1 class="hero-headline">Hopper fare</h1>
        
      </div>
    </div>
  </div>



    
   
    <div class="r">
        <div class="main clearfix" role="main">
            
        
        
            <div class="section-overview full-width clearfix ">
                <div class="small-medium" data-set="section-intro"></div>
                <div>
                    <div class="large" data-set="section-intro">
                        
                    </div>
                <p>Unlimited bus and tram journeys in one hour for the price of one.</p>
                </div>
            </div>
        
         
        
        
        
                
                <div class="clearfix">
                    @this.ScriptBlock( 
@<script> 
      queue.push( 
 "@Html.ScriptPath("modules/animated-banner.min.js")", null 
 );
</script> 
)
<div>

<p>Make a journey using pay as you go (contactless or Oyster)&nbsp;on a bus or tram, and you can make unlimited bus and tram journeys for free within one hour of first touching in.</p>

<p>Touch in using the same card on all the bus and tram journeys you make and the free fares will be applied automatically.</p>

<p>You can travel on Tube, DLR, London Overground, TfL Rail, Emirates Air Line, River Bus or National Rail services between Hopper journeys, and Hopper fares will still apply.</p>

<p>Hopper fares will <strong>not</strong> apply if your Oyster card has a negative pay as you go balance after the first journey. If you clear the negative balance within one hour of touching in, subsequent journeys made within the hour will still be free.</p>

<ul>
</ul>

<p>Hopper fares apply to adult and discounted rates. Fares for bus and tram journeys are shown in our&nbsp;<a href="/fares/find-fares/bus-and-tram-fares">fares tables</a>.</p>

<p>Watch our video to find out all&nbsp;about Hopper fare.</p>
</div>
 <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="FkTlql33vf0" data-video-caption="All about Hopper"></li>
  
  </ul>
</div>
</div>
 
                </div>
                <hr>
                
                
                <div class="module-grid clearfix">
                    
                    
                    
                    
                </div>
        
        
        
          
        
    </div>
    
      
      <div class="aside no-full-width-intro" role="complementary">
    
        <div data-set="sidenav-container" class="large">
          
        </div>
        <div class="module-grid clearfix">
          
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
          
        </div>
        <div data-set="sidenav-container" class="small-medium"></div>
      </div>
  </div>
 
        
        
        
            @{ViewBag.Description = "Make a journey using pay as you go on a bus or tram, and you can make unlimited bus and tram journeys for free within one hour of touching in.";}
        
            
        


 