
    
  



@{ViewBag.Title = "Join the organ donor register";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/campaign/join-the-organ-donor-register";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/campaign/index">Campaigns</a></li>
                
            
            
                <li><span class="last-breadcrumb">Join the organ donor register</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Join the organ donor register</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We've joined forces with NHS Blood and Transplant to encourage our customers to help save lives. 
        
      </div>
    
    
      
    
      
           
      <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/organ-donation_rdax_400x250.jpg" alt="Caragh Rough, 16, had a liver transplant from an organ donor in 1999'" />
        <span class="caption">Caragh Rough, 16, had a life-saving liver transplant from an organ donor</span>
        
        
    </div>
    
        <p>Customers can now join the NHS Organ Donor Register when they sign in to their Oyster or contactless accounts.</p>
        <p>See the 'Help save a life' button when you <a href="https://oyster.tfl.gov.uk/oyster/entry.do">sign in to your Oyster account</a>.</p>
        <p>We hope this partnership will increase the number of people joining the NHS Organ Donor Register and sharing their donation decision with their family.</p>
        <h2>You could save someone's life</h2>
        <p>By donating your organs after you die, you could help save and transform the lives of desperately ill people.</p>
        <p>Each donor is precious:</p>
        <ul>
            <li>Around 7,000 people across the UK are waiting for an organ transplant</li>
            <li>On average three people die every day due to a shortage of donated organs</li>
            <li>Black and Asian communities are particularly underrepresented on the register</li>
        </ul>
        <p>If you needed an organ transplant would you have one? If so please help others.</p>
        <p><strong><a href="https://www.organdonation.nhs.uk/how_to_become_a_donor/registration/consent.asp?campaign=2340&utm_source=tfl&utm_medium=referral&utm_content=campaign_page&utm_campaign=partner">Join the organ donor register now.</a></strong></p>
        <p>To find out more about organ donation visit <a href="https://www.organdonation.nhs.uk?campaign=2341&utm_source=tfl&utm_medium=referral&utm_content=campaign_page_hp&utm_campaign=partner">organdonation.nhs.uk</a>.</p>
    
 </div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We've joined forces with NHS Blood and Transplant to encourage our customers to help save lives. ";}
        
            
        


 