
    
  



@{ViewBag.Title = "Property partnerships";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/campaign/property-partnerships";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/campaign/index">Campaigns</a></li>
                
            
            
                <li><span class="last-breadcrumb">Property partnerships</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Property partnerships</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We own around 5,700 acres of land across the Capital including buildings, land attached to Tube stations, railways and highways, making us one of London's largest landowners.<BR>
        
      </div>
    
    
      
      
           
      <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/x001-00073-commercial-london_rdax_400x250.jpg" alt="View of the London skyline with an Overground train" />
        
        
        
    </div>
    <p>Our development portfolio includes:</p>
<ul>
    <li>Listed buildings that offer the opportunity for residential conversion</li>
    <li>Mixed use and residential developments over stations and depots</li>
    <li>Major regeneration schemes in urban centres</li>
    <li>Brownfield developments in inner and outer London</li>
</ul>
<p>We are looking at ambitious and creative ways to make the most of our exceptional commercial estate so we can increase the level of income we receive from our assets.</p>
<p>Property Partnerships is our main initiative to do this, and involves establishing a framework of partners to develop our assets over a 10-year Business Plan. We have started the process of selecting a small number with whom we can develop long-standing, strategic relationships to deliver our commercial aspirations while enhancing the transport network.</p>
<p>We envisage taking forward over 50 opportunities (with around 65% within zones 1 and 2) over the next 10 years, with many more coming forward. These sites provide an opportunity to generate revenue while helping us to support the growth of jobs and housing in London. </p>
<p>Our operating businesses will work alongside the <a href="/info-for/business-and-commercial/property-development">Property development</a> team and our partners to deliver high-quality schemes.</p>
<p>Watch the video below for further information or see our <a href="http://tflportfolio.sirendev.co.uk">Property Partnership opportunities brochure</a>.</p>
 </div>
 <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="S8tGcubHBMo" data-video-caption=""></li>
  
  </ul>
</div>
</div>
 <div>

<h2>Next Steps</h2>
<p>The deadline for applying to become one of our development partners via the OJEU process has now passed. This formal European procurement process will conclude with the appointment of development partners towards the end of 2015. </p>
<p>If you would like to get in contact with us please <a href="mailto:customer.services&#64;tube.tfl.gov.uk">email our Property Development team</a>. </p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We own around 5,700 acres of land across the Capital including buildings, land attached to Tube stations, railways and highways, making us one of London's largest landowners.";}
        
            
        


 