
    
  



@{ViewBag.Title = "Road tips";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/campaign/road-tips";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/campaign/index">Campaigns</a></li>
                
            
            
                <li><span class="last-breadcrumb">Road tips</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Road tips</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We're responsible for the Transport for London Road Network (TLRN) known as 'red routes' .
        
      </div>
    
    
      
        <p>
        These roads are London's main routes, and although they make
        up&nbsp;only 5% of the total road length, they carry more than 30% of London's
        traffic. There are signs and road
        markings along the red routes which help keep London moving as well as inform
        you of the rules of the road.
        </p>
        <p>We've
        asked the people who use London's roads the most to share useful tips to help you understand
        the rules of loading bays and yellow box junctions in order to help you avoid
        fines and keep traffic flowing. </p>
    
      
           
      <div class="video-gallery-wrapper">

    <div class="ytplayer"></div>

    <div class="gallery-carousel-wrap">
       
  
  
 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
        
            function() {
                var videoPlayer = $(".ytplayer");

                if (videoPlayer.length){
                    videoPlayer.gallery({ videoMode: true });
                }
            }
    );
     </script>
 )
        
  
   <ul class="gallery-carousel">
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="VNgDxKiEwpU" data-video-caption="How yellow box junctions work"></li>
  
    <!--  -->
    
    
     <li class="gallery-thumb" data-youtubeid="GxhMfrUNeyw" data-video-caption="How loading bays work "></li>
  
  </ul>
</div>
</div>
 <div>

<h2>Our fairer approach to helping drivers</h2>

<p>We want to be fair and help drivers. To do this we are using a fairer approach to the issue and payment of penalty charges. We would prefer to avoid issuing a fine if you follow the rules. This includes:</p>

<ul>
	<li>For the first few weeks of a new traffic measure being implemented - such as banned turns or yellow box junctions - we may issue a warning notice first instead of a penalty</li>
	<li>Explaining the road signs and rules that apply</li>
	<li>Making the process of paying or challenging penalty charges as simple as possible by encouraging more people to use the web channel</li>
	<li>Improving the way in which our call centre deals with enquiries about penalty charges.&nbsp;</li>
</ul>

<p><a href="/modes/driving/red-routes/penalty-charge-notices">See our page on Penalty Charge Notices</a>.</p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="https://tfl.gov.uk/modes/driving/red-routes/rules-of-red-routes/yellow-box-junctions" class="plain-button">Yellow box junctions</a>
<a href="https://tfl.gov.uk/modes/driving/red-routes/rules-of-red-routes/loading-for-the-public" class="plain-button">Loading for the public</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We're responsible for the Transport for London Road Network (TLRN) known as 'red routes' .";}
        
            
        


 