
    
  



@{ViewBag.Title = "Tower of London remembers";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/campaign/tower-of-london-remembers";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

@{
    Response.Status = "302 Moved temporarily";
    Response.AddHeader("Location", "/campaign/station-wifi");   
}

 

@{
    Response.Status = "302 Moved temporarily";
    Response.AddHeader("Location", "/plan-a-journey/index");   
}

 
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/campaign/index">Campaigns</a></li>
                
            
            
                <li><span class="last-breadcrumb">Tower of London remembers</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Tower of London remembers</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Large numbers of people are visiting the Tower of London's major art installation Beyond the Deepening Shadow, marking 100 years since the end of the First World War.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<p>Beyond the Deepening Shadow: The Tower Remembers run for eight nights, from Sunday 4 November to&nbsp;Sunday 11 November&nbsp;2018.</p>

<p><a href="https://www.hrp.org.uk/tower-of-london/explore/the-tower-remembers/">Read more about Beyond the Deepening Shadow: The Tower Remembers</a></p>

<p>If you are travelling to and from the Tower of London, please plan ahead and allow extra time for your journey.</p>

<h2>Tube and rail travel advice</h2>

<ul>
	<li>Tower Hill station is very busy every&nbsp;evening because of&nbsp;the event. The station may be exit-only due to large numbers of visitors</li>
	<li>If you are travelling to the Tower of London,&nbsp;please use Aldgate, Aldgate East, Tower Gateway,&nbsp;Monument and London Bridge stations, which are a short walk away</li>
	<li>To plan ahead on the day <a href="/plan-a-journey/index">visit Journey Planner</a></li>
	<li>Use <a href="https://tfl.gov.uk/maps?Input=Current+location+">Nearby</a>, which uses your current location or a postcode or address of your choice and places you on a map, showing you Tube, bus, river, London Overground, DLR, TfL Rail and Santander Cycles locations around you</li>
	<li>For information on Tube, DLR and London Overground services follow&nbsp;<a href="https://twitter.com/TfLTravelAlerts">&#64;TfLTravelAlerts</a>&nbsp;on Twitter</li>
	<li>Check our <a href="https://tfl.gov.uk/travel-information/social-media-and-email-updates/email-updates">email updates</a></li>
	<li>Use the <a href="http://m.me/tfltravelbot">TfL Travelbot</a> on Facebook Messenger</li>
</ul>
</div>
 
<div>



<h2>Walking routes from stations</h2>



<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tower-of-london-walking-2018.pdf">
    <div class="document-download-text">
        <p>Walking routes map</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 537KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.52 -->
 
</div>

</div>
 <div>

<h2>Bus travel advice </h2>
<ul>
    <li>You can use bus routes 15, 42, 78, 100 and RV1 to reach the Tower of London.  These routes stop within 5 to 10 minutes' walking distance of the Tower of London.</li>
    <li>Bus routes to and from the Tower of London may be busier than usual</li>
    <li>To plan ahead on the day <a href="/plan-a-journey/index">visit Journey Planner</a> </li>
    <li>For the latest information on bus services <a href="https://twitter.com/TfLBusAlerts">follow &#64;TfLBusAlerts on Twitter</a></li>
</ul>
<h2>River travel advice</h2>
<ul>
    <li>Tower Millennium Pier is likely to be busier than usual. Allow extra time for journeys or take alternative routes if possible</li>
    <li>For the latest information on TfL's river services <a href="https://twitter.com/TfLriver">follow &#64;TfLRiver on Twitter</a></li>
</ul>
<h2>Road travel advice - drivers</h2>
<ul>
    <li>Please avoid driving to the area if possible. If driving is your only option, be aware that there is no parking at the Tower of London and roads will be busy</li>
    <li>Road closures and diversions will be in place due to the Lord Mayor's Show and Remembrance Day events especially around City of London and Westminster</li>
    <li><a href="/roads/status/?disruptionIds=TIMS-65264">View current disruptions</a>. For the latest information on how London roads are operating, check before you travel and <a href="https://twitter.com/TfLtrafficnews">follow &#64;TfLTrafficNews on Twitter</a></li>
</ul>
<h2>Road travel advice - cyclists</h2>
<ul>
    <li>
    You can travel to Tower Hill by bike - Cycle Superhighway 3 will remain open throughout</li>
    <li>If you plan on taking your bike on public transport, remember that restrictions apply including on train operating companies outside London. Read <a href="/modes/cycling/cycling-in-london/bikes-on-public-transport">our guidance regarding bikes on public transport</a> or your train operating company's website  </li>
    <li>For Santandar Cycle Hire docking station availability use our <a href="/modes/cycling/santander-cycles/find-a-docking-station">live docking station map</a></li>
    <li><a href="http://www.twitter.com/SantanderCycles">Follow &#64;SantanderCycles on Twitter</a> for the latest updates</li>
</ul>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Page for travel demand management information around the Tower of London WW1 remembrance artwork";}
        
            
        


 