
    
  



@{ViewBag.Title = "Year of Engineering";}
@{ViewBag.Keywords = "TfL,Year of Engineering 2018 schools TfL";}
@{ViewBag.Url = "/campaign/year-of-engineering";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/campaign/index">Campaigns</a></li>
                
            
            
                <li><span class="last-breadcrumb">Year of Engineering</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Year of Engineering</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
    
      
      
           
      <div>

<p>TfL is celebrating all things science, technology, engineering and mathematics during the <a href="https://www.yearofengineering.gov.uk">Year of Engineering</a>.</p>
<p>Our science, technology, engineering and mathematics (STEM) volunteers can come to your school to show how school-based subjects come to life in the real world - and how they help us keep London moving.</p>
<p>Our School Skills programme of activities is designed to support the curriculum. It helps young people understand the wide range of STEM careers available in the 21st century and enables parents, carers, teachers and careers advisors to see some of the opportunities of the future.</p>
<p>We aim to support greater diversity in the transport industry, encourage social mobility and address the scarcity of key skills, including technology and engineering. </p>
<h2>Engineering opportunities</h2>
<p>Some of our engineers pictured in their workplaces.</p>
</div>
 

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/engineer3.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/engineer12.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/engineer7b.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/engineer2.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/engineer9.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/engineers6.jpg" alt="Engineers from TfL's rolling stock renewals team" />
                <figcaption>
<span class="figure-title">Engineers from TfL's rolling stock renewals team</span>
<span class="figure-description">TfL engineers photographed with projects they work on</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/engineer8.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/engineer11.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/engineer7.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/engineer4.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/engineer10.jpg" alt="" />
                <figcaption>


                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
 
<h2>School Skills activities and resources for the Year of Engineering</h2>
<div class="table-container"><table>
    <tbody>
        <tr>
            <td><strong>Age group </strong></td>
            <td><strong>Activity </strong></td>
            <td><strong>Purpose</strong> </td>
            <td> </td>
        </tr>
        <tr>
            <td> 16+</td>
            <td> <a href="/info-for/schools-and-young-people/innovate-tfl">Innovate TfL</a></td>
            <td> The TfL Schools Challenge: Innovate TfL, in association with Cleshar, is a unique opportunity for Year 12 and 13 students to develop the skills employers want, and win work experience at TfL. </td>
            <td> </td>
        </tr>
        <tr>
            <td> 14-16</td>
            <td> GCSE project</td>
            <td>This activity complements teaching at GCSE across multiple core and foundation subjects including Mathematics, English, Geography and Design and technology. It's currently in its pilot phase.</td>
            <td> </td>
        </tr>
        <tr>
            <td> 11-19</td>
            <td> <a href="/info-for/schools-and-young-people/teaching-resources/youth-travel-ambassadors">Youth Travel Ambassadors</a></td>
            <td> Young people aged 11-19 can make a difference to the transport issues affecting their school communities. Youth Travel Ambassadors (YTA) is a youth-led programme for secondary schools and sixth form centres in London.<br />
            </td>
            <td> </td>
        </tr>
        <tr>
            <td> 12-14</td>
            <td> <a href="/info-for/schools-and-young-people/inspire-engineering">Inspire engineering days</a></td>
            <td>This interactive day introduces students to how our engineers shape the city we serve, making life in London better. To inspire and enrich problem solving and communication skills in years 7, 8 and 9.
            Primary</td>
            <td> </td>
        </tr>
        <tr>
            <td> Primary</td>
            <td><a href="https://www.ltmuseum.co.uk/learning/schools/key-stage-2">The world's first underground railway</a></td>
            <td>This activity introduces primary school pupils to engineering habits of mind. It's a fun and inspiring way to engage in problem solving and teamwork.</td>
            <td> </td>
        </tr>
        <tr>
            <td>Primary, secondary and further education</td>
            <td> <a href="https://www.stem.org.uk/stem-ambassadors/">STEM Ambassadors</a></td>
            <td>STEM professional volunteers enrich STEM learning in schools. They can be requested through the national <a href="https://www.stem.org.uk/stem-ambassadors/join-stem-ambassador-programme">STEMLearning</a> database or the <a href="mailto:EngineeringAmbassadors&#64;ltmuseum.co.uk">London Transport Museum</a>.<br />
            </td>
            <td> </td>
        </tr>
        <tr>
            <td>Primary, secondary and further education</td>
            <td> <a href="http://www.inspiringthefuture.org/">Inspiring the Future / Inspiring Women / Primary Futures</a></td>
            <td>This initiative aims to improve careers advice from primary to 6th form and to promote the diversity of different careers in transport. Volunteers are requested through the <a href="https://www.inspiringthefuture.org/schools-and-colleges-2">inspiring the future</a> national volunteering database.<br />
            </td>
            <td> </td>
        </tr>
        <tr>
            <td>11-24</td>
            <td><a href="http://www.plotr.co.uk/careers/worlds/a-better-connected-future-transport-careers/">Plotr "A better connected world" transport careers</a></td>
            <td>Plotr is a free-to-access, highly engaging, careers information website that connects young people with employers and jobs that fit their interests, skills and personality. You can explore transport careers in our online transport world. </td>
            <td></td>
        </tr>
    </tbody>
</table></div>
<p id="otms-p-next"> </p>


 <div>

<h2>Register your school</h2>
<p>If you have an enquiry or would like to register your school for an event, email your contact details to <a href="mailto:YoE&#64;tfl.gov.uk">YoE&#64;tfl.gov.uk</a>. </p>
<p>We'll only use your information to contact you about Year of Engineering events and it will be properly safeguarded and processed in accordance with the requirements of privacy and data protection legislation. To find out more about how TfL handles personal data visit our <a href="/corporate/privacy-and-cookies/index">privacy and cookies</a> pages.</p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Year of Engineering 2018";}
        
            
        


 