
    
  



@{ViewBag.Title = "School leaver training programme";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/careers/school-leaver-s-training-programme";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/careers/index">Careers</a></li>
                
            
            
                <li><span class="last-breadcrumb">School leaver training programme</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>School leaver training programme</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Find out more about our Road Space Management school leaver programme. 
        
      </div>
    
    <div class="on-this-page">
      <h2>Programme overview</h2>
<p>Our new, work-based training and development scheme is a great way for you to start building a rewarding career. It's the first step towards full-time employment in one of our most innovative and fast-paced areas.</p>
<p>During this programme, you'll join the Outcomes Delivery team and work alongside people at the forefront of innovation. With a range of challenging responsibilities, you'll develop valuable skills, gain industry experience and help to influence the life of London. Along the way, you'll have the chance to study for recognised qualifications.</p>
<div class="table-container"><table>
    <tbody>
        <tr>
            <td><strong>Programme length</strong><br />
            Four years<br />
            </td>
        </tr>
        <tr>
            <td>Entry requirements<br />
            <ul>
                <li>Three A Levels, grade C or above, or an equivalent Level 3 BTEC Extended Diploma in technical or numerate subjects or social sciences</li>
                <li>GCSEs, grade B or above, in maths and English language</li>
            </ul>
            </td>
        </tr>
        <tr>
            <td><strong>Salary</strong><br />
            A guaranteed minimum salary of London Living Wage, plus benefits<br />
            </td>
        </tr>
        <tr>
            <td><strong>Application dates</strong><br />
            Applications close 18 April 2016. However, we will close schemes when sufficient numbers are received, so we recommend that you apply early.<br />
            </td>
        </tr>
    </tbody>
</table></div>
<h2>About Road Space Management</h2>
<p>From cars and cabs to buses and bikes, Road Space Management makes sure London's above-ground transport network works well for everyone who uses it. Our people are always creating new solutions - from working with app developers, exploring how people use our network, and developing traffic signal strategies to designing the new Cycle Superhighway that will transform cycling for millions of Londoners.</p>
<h2>Joining us</h2>
<p>You will be a valuable member of our team with a key role to play. You'll experience different roles through a range of placements across Road Space Management and, with expert training and support, you'll develop new skills and knowledge. </p>
<p>By getting involved with our engineering solutions and using pioneering modelling software, you'll develop the skills to research and develop new techniques which will make London's road network even more efficient. Discovering the latest thinking in road space design helps us to shape practices that the rest of the world will adopt.</p>
<p>Your experiences will include:</p>
<ul>
    <li>Working on innovative traffic schemes to improve pedestrian access</li>
    <li>Helping to design highway schemes, with specialist engineering insight</li>
    <li>Making new advances at the forefront of cycle safety</li>
    <li>Using world-leading systems for traffic control and signalling</li>
    <li>Modelling traffic using complex software to predict what we need to do next</li>
    <li>Working at the heart of realtime signal control, providing traffic engineering support in the London Streets Traffic Control Centre</li>
    <li>Analysing and interpreting road network performance</li>
    <li>Designing and developing products to transform data into intelligence and business reports</li>
</ul>
<h3>Placements</h3>
<p>After experiencing a variety of placements in your first three years, you'll specialise in an area that really suits you during year four. We'll give you a permanent role and further specialist training.
</p>
<h2>What you get out of it</h2>
<ul>
    <li>
    Practical experience of designing, delivering and analysing schemes for London's roads</li>
    <li>Diverse placements, all at the forefront of innovation</li>
    <li>Guaranteed minimum salary of London Living Wage plus benefits</li>
    <li>Specialist knowledge and skills through training and professional experience</li>
    <li>Great potential to develop an interesting future career</li>
    <li>The possibility to work with us to shape your academic future, should you wish to</li>
    <li>A real salary and benefits</li>
</ul>
<p>Through a rewarding combination of on-the-job experience, formal training and the opportunity for further funded study, you'll develop a host of confidence and capability-boosting skills. We'll set you challenges which will push you to achieve things you might not have imagined. As you progress, you'll get to solve problems, present solutions and contribute to complex projects.</p>
<p>You'll follow a structured training programme which covers a wide range of technical and professional skills - from reviewing and developing schemes and investigating faults to writing reports, analysing and managing data, and using specialist technology. What's more, there may be the opportunity to shape your academic future and take on further study relevant to your role, to enhance your knowledge and enrich your learning experience in a way that suits you.</p>
<h2>Your future</h2>
<p>Depending on your interests and your progression, the programme could open doors to a range of different career paths. For example:</p>
<ul>
    <li>Model and deliver engineering solutions for the road network as a traffic control engineer</li>
    <li>Join a premier, problem-solving team and drive improvements to the road network as a traffic analyst</li>
    <li>Produce high-quality maps using sophisticated tech as a geographic information system (GIS) officer</li>
    <li>Work with data and help us make important decisions as an operations (Business) intelligence specialist</li>
    <li>Design and develop new highway schemes and road network improvements as a design engineer</li>
</ul>
      
           
      
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="https://tfl.taleo.net/careersection/apprentice/jobdetail.ftl?job=018948" class="secondary-button no-hover" >Apply now</a>

    </div>
</div> 
 
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/careers/index" class="heading">
                    <h2 id="sub-menu-heading">Careers<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme">Graduate scheme</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/student-placements">Student placements</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/apprenticeships">Apprenticeships</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/rewarding-you">Rewarding you</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/careers/school-leaver-s-training-programme">School leaver training programme</a></div>
                            </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/employability-toolkit">Employability toolkit</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/smart-sourcing-programme">Smart Sourcing programme</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/steps-into-work">Steps into work </a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/women-in-stations">Women in Stations</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Find out about our Road Space Management School Leaver Programme";}
        
            
        


 