
    
  


<!-- rhroot -->
@{ViewBag.Title = "Student placements";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/careers/student-placements";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/careers/index">Careers</a></li>
                
            
            
                <li><span class="last-breadcrumb">Student placements</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Student placements</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Whether it's for a year or just for the summer, find out more about our work placements for students. 
        
      </div>
    
    <div class="on-this-page">
      <p>If you're still studying, we offer a range of great opportunities for you that may even lead to you joining as a graduate in the future. If you're a penultimate year student or looking to complete a year in industry (YiI), start your journey on a placement with us.</p>
      
           
      <div>

<h2>Summer placement</h2>
<p>
If you're currently in your penultimate year, come and work with us for 10 weeks over the summer. You will gain valuable work experience which will put you in a good position to get on to one of our graduate schemes. The summer placement will give you the chance to get real hands-on experience in whichever area of work you chose.<br />
<br />
We offer student placements in the following areas:</p>
<ul>
    <li><a href="/corporate/careers/graduate-scheme/graduate-roles/stuart-ross-bame-internship">The Stuart Ross BAME PR Internship<br />
    </a></li>
    <li><a href="/corporate/careers/student-placements/mechanical-engineering-summer">Mechanical engineering</a></li>
    <li><a href="/corporate/careers/student-placements/railway-electrical-engineering-summ">Railway electrical engineering</a> </li>
    <li><a href="/corporate/careers/student-placements/civil-engineering-summer">Civil engineering</a>
    </li>
</ul>
<h2>Salary &amp; benefits</h2>
<p>Throughout both placements you'll be paid &pound;17,163 (pro rata for summer placements) for working full-time and get free travel on our networks. Also, at the end of your placement, you will have the opportunity to be considered for a graduate position through our fast track process.</p>
<ul>
    <li>Pension options</li>
    <li>Holiday &#45; 30 days, as well as standard public holidays (pro rata for summer placements)</li>
    <li>Free travel &#45; A free Oyster card for you, and someone you live with, to use on our network</li>
    <li>If you buy an annual travel ticket to travel outside our network, we'll give you 75% of it back. We can also provide an interest free loan to purchase you annual ticket</li>
</ul>
</div>
 
<div class="module-grid clearfix">
<div class="news-teaser">

    <a href="/corporate/careers/graduate-scheme/how-to-apply?intcmp=20329" >
        
        
        <div class="text-link">
             <h2>Application process</h2>
            <p>From application to job offer, find out what to expect</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/careers/graduate-scheme/behaviours-and-competencies?intcmp=42394" >
        
        
        <div class="text-link">
             <h2>Behaviours & competencies</h2>
            <p>Have you got what it takes to be one of our team?</p>
        </div>
    </a>
</div>
 
 
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/careers/index" class="heading">
                    <h2 id="sub-menu-heading">Careers<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/graduate-scheme">Graduate scheme</a></div></li>
                            
 
                <a href="/corporate/careers/student-placements" class="heading">
                    <h2 id="sub-menu-heading">Student placements<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/careers/student-placements/civil-engineering-summer">Civil Engineering - summer</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/student-placements/mechanical-engineering-summer">Mechanical Engineering - summer</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/student-placements/railway-electrical-engineering-summ">Rail Electrical Engineering - summer</a></div></li>
                            
 
                </ul>
            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/apprenticeships">Apprenticeships</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/steps-into-work">Steps into work </a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/smart-sourcing-programme">Smart Sourcing programme</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/careers/rewarding-you">Rewarding you</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/corporate/careers/employability-toolkit">Employability toolkit</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        
<div class="fact-box-wrapper">
    <span class="blue-span">Careers events</span>
    <div class="fact-box-content">
        <p>Find out more about what we've got to offer at an event near you.</p>
        
        
        
    </div>
</div><div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/campaign/women-in-transport" class="plain-button">Women in transport</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Whether it's for a year or just for the summer, find out more about our work placements for students. ";}
        
            
        


 