.svgtitle {
  transform-origin: 100% 90%;
  transform: scale(3.5,3.5);
}

.svgpre {
  transform-origin: 100% 50%;
  transform: scale(1.5,1.5);
}

.svgpost {
  transform-origin: 30% 50%;
  transform: scale(1.5,1.5);
}

.svgfacility {
  /* background-color: $gallery; */
  transform-origin: 30% 50%;
  transform: scale(2,2);
}

/* 
  changing st2 from #195B92 to #006ADB
  changing st3 from #1A5A92 to #006ADB
  changing st94 from fill:#1A5A92 to fill:#006ADB
  changing st96 from fill:#195B92 to fill:#006ADB
*/ 

.st0{opacity:0.3;}
.st1{fill:#FFFFFF;}
.st2{fill:#195B92;}
.st3{fill:#1A5A92;}
.st4{fill:#113B92;}
.st5{fill:#D9002A;}
.st6{fill:#66CC00;}
.st7{fill:#CC3333;}
.st8{fill:#66CCCC;}
.st9{fill:#2D3039;}
.st10{fill:#FEE019;}
.st11{fill:#C5B013;}
.st12{fill:#D2D2D2;}
.st13{fill:#A2A2A2;}
.st14{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
.st15{fill-rule:evenodd;clip-rule:evenodd;fill:#FFCE00;}
.st16{fill-rule:evenodd;clip-rule:evenodd;fill:#807F83;}
.st17{fill:none;stroke:#807F83;stroke-width:5.403200e-02;stroke-linejoin:round;stroke-miterlimit:10;}
.st18{fill-rule:evenodd;clip-rule:evenodd;fill:#EE008A;}
.st19{fill:#652D92;}
.st20{fill:none;stroke:#807F83;stroke-width:5.403300e-02;stroke-linejoin:round;stroke-miterlimit:10;}
.st21{fill:#303030;}
.st22{fill:#FDB913;}
.st23{fill:#2F95EF;}
.st24{fill:#FF9900;}
.st25{fill:#005B9C;}
.st26{fill-rule:evenodd;clip-rule:evenodd;fill:#2D3039;}
.st27{fill:#00ACE2;}
.st28{fill:#FFF200;}
.st29{fill:#D2192E;}
.st30{fill:none;stroke:#EE3124;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:3.9938;}
.st31{fill:none;stroke:#009DDC;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:3.9938;}
.st32{fill:none;stroke:#B06010;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:3.9938;}
.st33{fill:#794400;}
.st34{fill:#00ADEF;}
.st35{fill:#1C3E95;}
.st36{fill:#999999;}
.st37{fill:#609F39;}
.st38{fill:#1FC2FF;}
.st39{fill:#468220;}
.st40{fill:#D8EDC8;}
.st41{fill-rule:evenodd;clip-rule:evenodd;fill:#D7363D;}
.st42{fill:#DCE9F5;}
.st43{fill:#FFFFCD;}
.st44{fill:#9D9FA2;}
.st45{fill-rule:evenodd;clip-rule:evenodd;fill:#FFEFEF;}
.st46{fill-rule:evenodd;clip-rule:evenodd;fill:#FDB913;}
.st47{fill-rule:evenodd;clip-rule:evenodd;fill:#FAF5E1;}
.st48{fill:#BE2026;}
.st49{fill:#FF6600;}
.st50{fill:#009999;}
.st51{fill:#97A69B;}
.st52{fill:#1C3F94;}
.st53{fill:#CCDDE7;}
.st54{fill:#CCCCCC;}
.st55{display:none;}
.st56{display:inline;fill:#113B92;}
.st57{display:inline;fill:#00BEF6;}
.st58{display:inline;fill:#FFFFFF;}
.st59{display:inline;}
.st60{fill:#E8E8E8;}
.st61{fill:#C2D4F5;}
.st62{fill:#DC241F;}
.st63{opacity:0.902;}
.st64{opacity:0.7;}
.st65{opacity:0.5;}
.st66{fill:#326C9E;}
.st67{fill:#FFDE8E;}
.st68{fill:#FDB813;}
.st69{fill:#D52723;}
.st70{fill:#2D0807;}
.st71{fill:#ED3325;}
.st72{fill:#FDCC0F;}
.st73{fill:#D42222;}
.st74{fill:#F0870C;}
.st75{fill:#0099CC;}
.st76{fill:#001849;}
.st77{fill:#9999CC;}
.st78{fill:#C227B9;}
.st79{fill:#5B89AE;}
.st80{fill:#BBCEDD;}
.st81{fill:#FF0000;}
.st82{fill:none;stroke:#1C3F94;stroke-width:2;stroke-linejoin:round;stroke-miterlimit:3.9938;}
.st83{fill:#231F20;}
.st84{fill:#00BA00;}
.st85{fill-rule:evenodd;clip-rule:evenodd;fill:#292A2C;}
.st86{fill:#EFEFEF;}
.st87{fill-rule:evenodd;clip-rule:evenodd;}
.st88{fill:#234110;}
.st89{fill:#E21013;}
.st90{fill:#6DB42D;}
.st91{fill:#2CABC9;}
.st92{fill:none;stroke:#000000;stroke-width:1.1364;stroke-miterlimit:10;}
.st93{fill:none;stroke:#000000;stroke-width:1.1436;stroke-miterlimit:10;}
.st94{fill:#1A5A92;stroke:#FFFFFF;stroke-width:0.7;stroke-miterlimit:10;}
.st95{fill:none;}
.st96{opacity:0.7;fill:#195B92;}
.st97{fill:#176196;}
.st98{fill:#33709D;}
.st99{fill:#EC0000;}
.st100{fill:#DDDDDD;}
.st101{fill:#9C9DA2;}
.st102{fill:#454648;}
.st103{fill:#0F1620;}
.st104{fill:#00AEFF;}
.st105{fill:#031041;}
.st106{fill:#FD868D;}
.st107{fill:#FEC2C6;}
.st108{fill:#0019A8;}
.st109{fill:#34557B;}
.st110{fill:#818181;}
.st111{fill:#1C3E8C;}
.st112{fill:#6B2899;}
.st113{fill:#929292;}
.st114{fill:#E409AB;}
.st115{fill:#0C9BE2;}
.st116{fill:#195A92;}
.st117{fill:#B2CCE3;}
.st118{fill:#DC006B;}
.st119{fill:#1E5B8F;}
.st120{fill:#A8A8A8;}

.svgicon-crosshair { @include svg-icon(1, 1, $y-offset: -12px); }
.svgicon-mappin { @include svg-icon(1, 2, $y-offset: -12px); }
.svgicon-search-blue { @include svg-icon(1, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(2, 1, $y-offset: -12px); }
.svgicon-search { @include svg-icon(2, 2, $y-offset: -12px); }
.svgicon-search-grey { @include svg-icon(2, 3, $y-offset: -12px); }
.svgicon-updown { @include svg-icon(3, 1, $y-offset: -12px); }
.svgicon-stretch { @include svg-icon(3, 2, $y-offset: -12px); }
.svgicon-download-audio { @include svg-icon(3, 3, $y-offset: -12px); }
.svgicon-refresh { @include svg-icon(4, 1, $y-offset: -12px); }
.svgicon-home { @include svg-icon(4, 2, $y-offset: -12px); }
.svgicon-download-image { @include svg-icon(4, 3, $y-offset: -12px); }
.svgicon-tfl { @include svg-icon(5, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(5, 2, $y-offset: -12px); }
.svgicon-download-zip { @include svg-icon(5, 3, $y-offset: -12px); }
.svgicon-tfl-full { @include svg-icon(6, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(6, 2, $y-offset: -12px); }
.svgicon-download-spreadsheet { @include svg-icon(6, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(7, 1, $y-offset: -12px); }
.svgicon-green-tick { @include svg-icon(7, 2, $y-offset: -12px); }
.svgicon-download-document { @include svg-icon(7, 3, $y-offset: -12px); }
.svgicon-download { @include svg-icon(7, 3, $y-offset: -12px); }
.svgicon-facebook { @include svg-icon(8, 1, $y-offset: -12px); }
.svgicon-twitter { @include svg-icon(8, 2, $y-offset: -12px); }
.svgicon-share { @include svg-icon(8, 3, $y-offset: -12px); }
.svgicon-walk { @include svg-icon(9, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(9, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(9, 3, $y-offset: -12px); }

.svgicon-cycle { @include svg-icon(10, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(10, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(10, 3, $y-offset: -12px); }
.svgicon-bus { @include svg-icon(11, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(11, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(11, 3, $y-offset: -12px); }
.svgicon-railway { @include svg-icon(12, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(12, 2, $y-offset: -12px); }
.svgicon-question { @include svg-icon(12, 3, $y-offset: -12px); }
.svgicon-riverboat { @include svg-icon(13, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(13, 2, $y-offset: -12px); }
.svgicon-audio { @include svg-icon(13, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(14, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(14, 2, $y-offset: -12px); }
.svgicon-oyster-tapinout { @include svg-icon(14, 3, $y-offset: -12px); }
.svgicon-down { @include svg-icon(15, 1, $y-offset: -12px); }
.svgicon-oyster-tapchange { @include svg-icon(15, 2, $y-offset: -12px); }
.svgicon-target { @include svg-icon(15, 3, $y-offset: -12px); }
.svgicon-eal { @include svg-icon(16, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(16, 2, $y-offset: -12px); }
.svgicon-upload { @include svg-icon(16, 3, $y-offset: -12px); }
.svgicon-arrows-right { @include svg-icon(17, 1, $y-offset: -12px); }
.svgicon-arrows-down { @include svg-icon(17, 2, $y-offset: -12px); }
.svgicon-roadworks { @include svg-icon(17, 3, $y-offset: -12px); }
.svgicon-arrows-back { @include svg-icon(18, 1, $y-offset: -12px); }
.svgicon-arrows-up { @include svg-icon(18, 2, $y-offset: -12px); }
.svgicon-piechart { @include svg-icon(18, 3, $y-offset: -12px); }
.svgicon-arrow-back { @include svg-icon(19, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(19, 2, $y-offset: -12px); }
.svgicon-spanner { @include svg-icon(19, 3, $y-offset: -12px); }

.svgicon-arrow-up { @include svg-icon(20, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(20, 2, $y-offset: -12px); }
.svgicon-light-arrow-up { @include svg-icon(20, 3, $y-offset: -12px); }
.svgicon-arrow-right { @include svg-icon(21, 1, $y-offset: -12px); }
.svgicon-internal { @include svg-icon(21, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(21, 2, $y-offset: -12px); }
.svgicon-speech-balloon { @include svg-icon(21, 3, $y-offset: -12px); }
.svgicon-arrow-down { @include svg-icon(22, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(22, 2, $y-offset: -12px); }
.svgicon-ligh-arrow-down { @include svg-icon(22, 3, $y-offset: -12px); }
.svgicon-plus { @include svg-icon(23, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(23, 2, $y-offset: -12px); }
.svgicon-block-arrow-down { @include svg-icon(23, 3, $y-offset: -12px); }
.svgicon-minus { @include svg-icon(24, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(24, 2, $y-offset: -12px); }
.svgicon-light-plus { @include svg-icon(24, 3, $y-offset: -12px); }
.svgicon-tick { @include svg-icon(25, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(25, 2, $y-offset: -12px); }
.svgicon-light-minus { @include svg-icon(25, 3, $y-offset: -12px); }
.svgicon-multiply { @include svg-icon(26, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(26, 2, $y-offset: -12px); }
.svgicon-grey-multiply { @include svg-icon(26, 3, $y-offset: -12px); }
.svgicon-warning-triangle { @include svg-icon(27, 1, $y-offset: -12px); }
.svgicon-error-triangle { @include svg-icon(27, 2, $y-offset: -12px); }
.svgicon-light-multiply { @include svg-icon(27, 3, $y-offset: -12px); }
.svgicon-stairs-up { @include svg-icon(28, 1, $y-offset: -12px); }
.svgicon-men-women { @include svg-icon(28, 2, $y-offset: -12px); }
.svgicon-men-women-wheelchair { @include svg-icon(28, 3, $y-offset: -12px); }
.svgicon-stairs-down { @include svg-icon(29, 1, $y-offset: -12px); }
.svgicon-prams { @include svg-icon(29, 2, $y-offset: -12px); }
.svgicon-elevator-down { @include svg-icon(29, 3, $y-offset: -12px); }

.svgicon-escalator-up { @include svg-icon(30, 1, $y-offset: -12px); }
.svgicon-pensioner { @include svg-icon(30, 2, $y-offset: -12px); }
.svgicon-wheelchair { @include svg-icon(30, 3, $y-offset: -12px); }
.svgicon-escalator-down { @include svg-icon(31, 1, $y-offset: -12px); }
.svgicon-luggage { @include svg-icon(31, 2, $y-offset: -12px); }
.svgicon-headphones { @include svg-icon(31, 3, $y-offset: -12px); }
.svgicon-no-ones { @include svg-icon(32, 1, $y-offset: -12px); }
.svgicon-block-wheelchair { @include svg-icon(32, 2, $y-offset: -12px); }
.svgicon-outline-wheelchair { @include svg-icon(32, 3, $y-offset: -12px); }
.svgicon-ramp-on { @include svg-icon(33, 1, $y-offset: -12px); }
.svgicon-ramp-off { @include svg-icon(33, 2, $y-offset: -12px); }
.svgicon-elevator-up { @include svg-icon(33, 3, $y-offset: -12px); }
.svgicon-tube { @include svg-icon(34, 1, $y-offset: -12px); }
.svgicon-buses { @include svg-icon(34, 2, $y-offset: -12px); }
.svgicon-overground { @include svg-icon(34, 3, $y-offset: -12px); }
.svgicon-dlr { @include svg-icon(35, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(35, 2, $y-offset: -12px); }
.svgicon-tfl { @include svg-icon(35, 3, $y-offset: -12px); }
.svgicon-buses-disc { @include svg-icon(36, 1, $y-offset: -12px); }
.svgicon-trams-disc { @include svg-icon(36, 2, $y-offset: -12px); }
.svgicon-photography { @include svg-icon(36, 3, $y-offset: -12px); }
.svgicon-dot { @include svg-icon(37, 1, $y-offset: -12px); }
.svgicon-external { @include svg-icon(37, 2, $y-offset: -12px); }
.svgicon-mail { @include svg-icon(37, 3, $y-offset: -12px); }
.svgicon-star-on { @include svg-icon(38, 1, $y-offset: -12px); }
.svgicon-star-off { @include svg-icon(38, 2, $y-offset: -12px); }
.svgicon-at { @include svg-icon(38, 3, $y-offset: -12px); }
.svgicon-darksun-on { @include svg-icon(39, 1, $y-offset: -12px); }
.svgicon-darksun-off { @include svg-icon(39, 2, $y-offset: -12px); }
.svgicon-phone { @include svg-icon(39, 3, $y-offset: -12px); }

.svgicon-darkmoon-on { @include svg-icon(40, 1, $y-offset: -12px); }
.svgicon-darkmoon-off { @include svg-icon(40, 2, $y-offset: -12px); }
.svgicon-creditcard { @include svg-icon(40, 3, $y-offset: -12px); }
.svgicon-upload-image { @include svg-icon(41, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(41, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(41, 3, $y-offset: -12px); }
.svgicon-lightglobe { @include svg-icon(42, 1, $y-offset: -12px); }
.svgicon-radar { @include svg-icon(42, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(42, 3, $y-offset: -12px); }
.svgicon-24hours { @include svg-icon(43, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(43, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(43, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(44, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(44, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(44, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(45, 1, $y-offset: -12px); }
.svgicon-tube-shddisc { @include svg-icon(45, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(45, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(46, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(46, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(46, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(47, 1, $y-offset: -12px); }
.svgicon-river-shddisc { @include svg-icon(47, 2, $y-offset: -12px); }
.svgicon-bus-shddisc { @include svg-icon(47, 3, $y-offset: -12px); }
.svgicon-eal-shddisc { @include svg-icon(48, 1, $y-offset: -12px); }
.svgicon-taxi-shddisc { @include svg-icon(48, 2, $y-offset: -12px); }
.svgicon-taxistar-shddisc { @include svg-icon(48, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(49, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(49, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(49, 3, $y-offset: -12px); }

.svgicon-a { @include svg-icon(50, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(50, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(50, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(51, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(51, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(51, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(52, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(52, 2, $y-offset: -12px); }
.svgicon-loading { @include svg-icon(52, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(53, 1, $y-offset: -12px); }
.svgicon-carpark { @include svg-icon(53, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(53, 3, $y-offset: -12px); }
.svgicon-bridge { @include svg-icon(54, 1, $y-offset: -12px); }
.svgicon-waitingroom { @include svg-icon(54, 2, $y-offset: -12px); }
.svgicon-tickethall { @include svg-icon(54, 3, $y-offset: -12px); }
.svgicon-gate { @include svg-icon(55, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(55, 2, $y-offset: -12px); }
.svgicon-wifi { @include svg-icon(55, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(56, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(56, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(56, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(57, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(57, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(57, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(58, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(58, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(58, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(59, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(59, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(59, 3, $y-offset: -12px); }

.svgicon-a { @include svg-icon(60, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(60, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(60, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(61, 1, $y-offset: -12px); }
.svgicon-tram { @include svg-icon(61, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(61, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(62, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(62, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(62, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(63, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(63, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(63, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(64, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(64, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(64, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(65, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(65, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(65, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(66, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(66, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(66, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(67, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(67, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(67, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(68, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(68, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(68, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(69, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(69, 2, $y-offset: -12px); }
.svgicon-grid-shddisc { @include svg-icon(69, 3, $y-offset: -12px); }

.svgicon-a { @include svg-icon(70, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(70, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(70, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(71, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(71, 2, $y-offset: -12px); }
.svgicon-cc { @include svg-icon(71, 3, $y-offset: -12px); }
.svgicon-lez { @include svg-icon(72, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(72, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(72, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(73, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(73, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(73, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(74, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(74, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(74, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(75, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(75, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(75, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(76, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(76, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(76, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(77, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(77, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(77, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(78, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(78, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(78, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(79, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(79, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(79, 3, $y-offset: -12px); }

.svgicon-a { @include svg-icon(80, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(80, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(80, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(81, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(81, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(81, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(82, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(82, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(82, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(83, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(83, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(83, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(84, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(84, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(84, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(85, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(85, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(85, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(86, 1, $y-offset: -12px); }
.svgicon-boardingramp { @include svg-icon(86, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(86, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(87, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(87, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(87, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(88, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(88, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(88, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(89, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(89, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(89, 3, $y-offset: -12px); }

.svgicon-a { @include svg-icon(90, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(90, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(90, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(91, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(91, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(91, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(92, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(92, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(92, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(93, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(93, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(93, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(94, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(94, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(94, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(95, 1, $y-offset: -12px); }
.svgicon-santandercycle-shddisc { @include svg-icon(95, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(95, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(96, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(96, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(96, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(97, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(97, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(97, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(98, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(98, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(98, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(99, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(99, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(99, 3, $y-offset: -12px); }

.svgicon-a { @include svg-icon(100, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(100, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(100, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(101, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(101, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(101, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(102, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(102, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(102, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(103, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(103, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(103, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(104, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(104, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(104, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(105, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(105, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(105, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(106, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(106, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(106, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(107, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(107, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(107, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(108, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(108, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(108, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(109, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(109, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(109, 3, $y-offset: -12px); }

.svgicon-carpark-shddisc { @include svg-icon(110, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(110, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(110, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(111, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(111, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(111, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(112, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(112, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(112, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(113, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(113, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(113, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(114, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(114, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(114, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(115, 1, $y-offset: -12px); }
.svgicon-riverboat-grey { @include svg-icon(115, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(115, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(116, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(116, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(116, 3, $y-offset: -12px); }
.svgicon-a { @include svg-icon(117, 1, $y-offset: -12px); }
.svgicon-a { @include svg-icon(117, 2, $y-offset: -12px); }
.svgicon-a { @include svg-icon(117, 3, $y-offset: -12px); }
