
    
  



@{ViewBag.Title = "Air quality";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/about-tfl/air-quality";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

  <div class="section-image-container medium-large" data-highlight-image="/cdn/static/cms/images/promos/air-quality-boy-banner.jpg" data-highlight-for=".section-image-container" data-highlight-size="medium-large" style="background-image: url(/cdn/static/cms/images/promos/air-quality-boy-banner.jpg)"> </div>

<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
            
                <li><span class="last-breadcrumb">Air quality</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 

  
  <div class="r">
    <div class="headline-container section-title section-landing-container ">
      <div class="section-title-wrap">
        <h1 class="hero-headline">Air quality</h1>
        
      </div>
    </div>
  </div>



    
   
    <div class="r">
        <div class="main clearfix" role="main">
            
        
        
            <div class="section-overview full-width clearfix ">
                <div class="small-medium" data-set="section-intro"></div>
                <div>
                    <div class="large" data-set="section-intro">
                        <h2 class="moving-source-order">Cleaning London's air</h2>
                    </div>
                <p>Every child in London is breathing toxic air, mainly caused by polluting road vehicles. Together with the Mayor, Sadiq Khan, we are committed to helping Londoners breathe cleaner air.</p>

<p>We are doing this by introducing the Ultra Low Emission Zone (ULEZ) in central London, cleaning up our bus fleet and taxis, and supporting small businesses and charities to switch to cleaner vehicles.</p>
                </div>
            </div>
        
         
        
        
        
                
                <div class="clearfix">
                    <div>

<p>As Londoners, we all have a role to play in improving our city's air quality. By 2041 we want 80% of trips in London to be made on foot, by cycling or by public transport.&nbsp;</p>

<p>This is a big task, but we can all do our bit by making <a href="/corporate/about-tfl/air-quality#help">small changes to the way we travel</a>.</p>
</div>
 <div>

<h2>London's air quality - how bad is it?</h2>

<p>The volume of road traffic in London makes it one of the most polluted places in the UK - an&nbsp;estimated 5.8 million journeys are made by car every day.</p>

<ul>
	<li>More than 2 million Londoners, including 400,000 children, live in areas which exceed current air pollution limits</li>
	<li>Over 450 London state schools are in areas with dangerously high air pollution levels</li>
</ul>

<p>Air pollution contributes&nbsp;to the <a href="/corporate/about-tfl/air-quality#problem">early deaths of thousands of Londoners every year</a>, with an economic cost to the capital of around &pound;3.7bn a year.</p>
</div>
 
<div class="module-grid clearfix">

<div class="fact-box-wrapper">
    <span class="blue-span">Air quality myth #1</span>
    <div class="fact-box-content">
        <p><strong>Myth:</strong> Only central London is affected by air pollution</p>

<p><strong>FACT:</strong> Pollution affects every borough in the city, not just central London</p>
        
        
        
    </div>
</div>
<div class="fact-box-wrapper">
    <span class="blue-span">Air quality myth #2</span>
    <div class="fact-box-content">
        <p><strong>Myth:</strong> Road vehicles aren't the main cause of London's air pollution</p>

<p><strong>FACT: </strong>Driving polluting vehicles is the single biggest cause, contributing to around half of the air pollution in London</p>
        
        
        
    </div>
</div>
</div>
 <div>

<h2>What we're doing</h2>

<h3>Vehicles</h3>

<ul>
	<li>The <a href="https://tfl.gov.uk/modes/driving/ultra-low-emission-zone">Ultra Low Emission Zone (ULEZ)</a> is expected to reduce harmful road transport emissions of nitrogen oxides (NOx) by 45%</li>
	<li>We're introducing <a href="https://tfl.gov.uk/modes/driving/low-emission-zone/changes-to-the-lez">tougher Low Emission Zone standards</a> for lorries, buses and coaches from 26 October 2020 within Greater London</li>
	<li>All <a href="/modes/buses/improving-buses">new double deck buses</a> in London are hybrid, electric or hydrogen</li>
	<li>6,950 buses (75% of all our buses) - including all buses operating in the ULEZ - meet or exceed the new ULEZ emission standards. By October 2020, every bus in London - all 9,000 of our fleet - will meet or exceed the ULEZ standards</li>
	<li>All <a href="/info-for/taxis-and-private-hire/emissions-standards-for-taxis">new licensed taxis </a> in London must be zero-emission capable. More than 1,700 already operate in London</li>
	<li>We're committed to installing at least <a href="https://tfl.gov.uk/modes/driving/electric-vehicles-and-rapid-charging">300 rapid charge points for electric vehicles by 2020</a>, with over 175 already installed</li>
</ul>

<h3>Healthier streets</h3>

<ul>
	<li>We're helping some London boroughs improve air quality by supporting their <a href="/info-for/boroughs/low-emission-neighbourhoods">Low Emission Neighbourhoods</a> - and a city-wide anti-idling campaign - funded by the <a href="https://www.london.gov.uk/what-we-do/environment/pollution-and-air-quality/mayors-air-quality-fund">Mayor's Air Quality Fund</a></li>
	<li>We're working on initiatives to encourage and enable cycling in London, including <a href="/modes/cycling/routes-and-maps/new-cycle-routes">new cycle routes</a> and <a href="/modes/cycling/cycling-in-london/cycle-skills">free cycle skills training</a></li>
	<li>We're investing in London's streets to make them more attractive places to walk</li>
</ul>
</div>
 <div>

<h2><a id="help" name="help"></a>What you can do to help</h2>

<p><strong>If you can leave the car at home, try these alternatives for a cleaner journey:</strong></p>

<ul>
	<li><strong>Walk or cycle</strong> - Improve your health, save money and <a href="/campaign/active-travel">experience London in a different way</a></li>
	<li><strong>Use our public transport network</strong> - This includes our Night Tube, Night Bus and Night Overground services. <a href="/plan-a-journey/index">Visit our journey planner tool</a></li>
</ul>

<p><strong>If you do need to drive, then consider these options:</strong></p>

<ul>
	<li><strong>Join a car club</strong> - <a href="https://tfl.gov.uk/modes/driving/car-clubs">Car clubs</a> provide a cost-effective and flexible alternative to owning a car</li>
	<li><strong>Go electric</strong> - Electric cars have zero exhaust emissions. Get more information about electric and plug-in hybrids on the <a href="https://www.goultralow.com/">Go Ultra Low website</a></li>
	<li><strong>Think about how you drive</strong> - Turn off your engine when you're parked or waiting in traffic for long periods and drive as smoothly as possible</li>
</ul>

<p><strong>Consider these tips with your next online shop:</strong></p>

<ul>
	<li>When getting home deliveries or shopping online, consider getting all your packages sent in one shipment and picking a green option for your delivery slot</li>
	<li>Consider collecting your parcel from a nearby store rather than having it delivered, and walk to collect your parcel rather than drive</li>
</ul>

<p>Sign up for TfL marketing emails which will include <a href="/travel-information/social-media-and-email-updates/email-updates">updates on air quality in London</a>.</p>
</div>
 
<div class="module-grid clearfix">

<div class="fact-box-wrapper">
    <span class="blue-span">Air quality myth #3</span>
    <div class="fact-box-content">
        <p><strong>Myth:&nbsp;</strong>You don't need to switch off a car engine when stationary</p>

<p><strong>FACT: </strong>Research shows that turning off the engine significantly reduces pollution levels in the surrounding area</p>
        
        
        
    </div>
</div>
<div class="fact-box-wrapper">
    <span class="blue-span">Air quality myth #4</span>
    <div class="fact-box-content">
        <p><strong>Myth:</strong> You can always see when air pollution is bad in London</p>

<p><strong>FACT:</strong> Most airborne toxins are invisible to the naked eye</p>
        
        
        
    </div>
</div>
</div>
 <div>

<h2><a id="problem" name="problem"></a>How road transport harms our air</h2>

<p>Every time we drive, our petrol and diesel cars produce pollutants&nbsp;which can reach deep into the body and cause lasting damage:</p>

<ul>
	<li>Nitrogen oxides -&nbsp;gases in the air including nitrogen oxide (NO) and nitrogen dioxide (NO2) - come mostly from road transport</li>
	<li>Particulate matter is a mixture of very small particles in the air. Particles from road vehicles include carbon emitted from engines and small bits of metal and rubber from engine wear and braking</li>
</ul>

<p>Find out more about these pollutants on the <a href="https://www.breathelondon.org/understanding-air-pollution/">Breathe London website</a>.</p>
</div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap landscape-download-image with-image pdfpdf" href="/cdn/static/cms/documents/borough-pollution-map.pdf">
    <div class="document-download-text">
        <p>Nitrogen dioxide levels in London - map</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 2.91MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

    <div class="document-download-image">
        <img src="/cdn/static/cms/images/air-quality-no2-heatmap-thumb.jpg" alt="air quality heatmap thumb" />
    </div>

</a>

<!-- 2.91 -->
 
</div>

</div>
 <div>

<h2>It hurts to breathe</h2>

<p>High levels&nbsp;of nitrogen dioxide (NO2) in the air can:</p>

<ul>
	<li>Cause shortness of breath and coughing because it irritates the throat and lungs</li>
	<li>Reduce our natural protection from lung infections and make pre-existing conditions such as asthma worse</li>
</ul>

<p>The small particles emitted by road vehicles can pass through the nose and throat and settle deep in the lungs. Some particles are so tiny that they get in the bloodstream and be carried around the body.</p>

<p>Both short and long-term exposure to this particulate matter can:</p>

<ul>
	<li>Increase the risk of cardiovascular diseases</li>
	<li>Shorten life expectancy</li>
</ul>

<h3>Children are vulnerable</h3>

<p>Young children are particularly vulnerable to the effects of air pollution because it can stunt their lung growth. Research shows that children growing up in heavily polluted streets have a smaller lung capacity than those in cleaner areas - on average by 5% - and this can't be reversed.</p>

<p>In pregnant women, pollutants can pass from mother to baby across the placenta.&nbsp;Air pollution is also linked to low birth weight.</p>

<h3>Exercising outdoors</h3>

<p>The benefits of walking or cycling generally outweigh the risks from air pollution for most people who don't suffer from heart or lung problems - so enjoy outdoor activities <a href="/corporate/about-tfl/air-quality-advice">except when pollution levels are high</a>.</p>

<p><a href="https://www.airtext.info/">Sign up for free air quality alerts on the airTEXT website.</a></p>
</div>
 
                </div>
                <hr>
                
                
                <div class="module-grid clearfix">
                    
                    
                    
                    
                </div>
        
        
        
          
        
    </div>
    
      
      <div class="aside no-full-width-intro" role="complementary">
    
        <div data-set="sidenav-container" class="large">
          <div class="news-teaser">

    <div>
        
        <div class="text-only">
            <h2>Sign up for emails</h2>
            
            
            <p>Our TfL marketing emails will include updates on air quality</p>
            
        </div>


            <div class="call-to-action-button">
            
            <a href="/travel-information/social-media-and-email-updates/email-updates" class="secondary-button" >Sign up now</a>
            
            </div>
    </div>
</div>

 <div>

<h3>Air quality advice </h3>
We have <a href="/corporate/about-tfl/air-quality-advice">air quality advice</a> for each level of daily air pollution.<br />
</div>
 
<style>
    .component .info:first-of-type {
        display: none;
    }
</style>
<div class="floating-right-component-module">
    <div class="component">
        
        @{ Html.RenderAction("Index", "AirQuality"); }
        
<p class="info">For more information on local pollution, visit the <a href="http://www.londonair.org.uk/">London Air website</a>.</p>

    </div>

<p>This air quality information is provided by <a href="http://www.londonair.org.uk/LondonAir/Default.aspx">King's College London</a>. </p>
</div>
 
        </div>
        <div class="module-grid clearfix">
          
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
          <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/about-tfl/cycling-and-walking" class="plain-button">Encouraging cycling and walking</a>
<a href="/corporate/about-tfl/corporate-and-social-responsibility/transport-and-health" class="plain-button">Transport and health</a>
<a href="/info-for/deliveries-in-london/protecting-the-environment" class="plain-button">Protecting the environment</a>
    </div>
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="https://www.london.gov.uk/sites/default/files/shorthand/cleaner_vehicles/" class="plain-button">Our air and our vehicles</a>
<a href="https://www.london.gov.uk/what-we-do/environment/pollution-and-air-quality/cleaning-londons-vehicles" class="plain-button">Cleaner vehicle checkers</a>
    </div>
</div>
 
        </div>
        <div data-set="sidenav-container" class="small-medium"></div>
      </div>
  </div>
 
        
        
        
            @{ViewBag.Description = "See what TfL is doing to protect London's air quality";}
        
            
        


 