
    
  



@{ViewBag.Title = "Air quality";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/about-tfl/air-quality";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
            
                <li><span class="last-breadcrumb">Air quality</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container landing-page section-landing-container">
        <h1>Air quality</h1>
        
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">
        <div class="small-medium" data-set="widget"></div>
        <div class="primary-teaser landing-page-teaser">
            <div class="news-teaser driving">
  
  <a href="https://tfl.gov.uk/modes/driving/ultra-low-emission-zone?intcmp=45386"  data-img="/cdn/static/cms/images/promos/ulez-children-teaser.jpg" data-img-breakpoint="medium" data-img-alt="children running">
    <img src="/cdn/static/cms/images/promos/ulez-children-teaser_rdax_600x300.jpg" alt="children running" />
    <div class="text-link sit-bottom">
      <h2>ULEZ</h2>
      <p>The Ultra Low Emission Zone has replaced the T-Charge</p>
    </div>
  </a>
</div>

 
        </div>
        
        <div class="clearfix">
            <div>

<p>Every child in London is breathing toxic air, mainly caused by road vehicles. Led by the Mayor, Sadiq Khan, we are committed to helping Londoners breathe cleaner air.</p>

<p>As part of this commitment, the Ultra Low Emission Zone (ULEZ) in central London operates 24 hours a day.</p>
</div>
 <div>

<h2>How to meet air quality standards</h2>
<p>If you drive in London, you may have to pay one or more of the charges aimed at improving our air quality. Find out what charges may apply by the type of vehicle you drive, or learn more about each charge.</p>
</div>
 <div class="vertical-button-container">



<a href="https://tfl.gov.uk/modes/driving/charges-for-driving-in-london"  class="plain-button">Charges by vehicle type</a>


<a href="https://tfl.gov.uk/modes/driving/ultra-low-emission-zone"  class="plain-button">ULEZ</a>


<a href="https://tfl.gov.uk/modes/driving/low-emission-zone?intcmp=2261"  class="plain-button">LEZ</a>


<a href="https://tfl.gov.uk/modes/driving/ultra-low-emission-zone/discounts-and-exemptions"  class="plain-button">T-Charge (residents only)</a>

</div>
<div>

<p>Drivers going into central London may also have to pay the Congestion Charge.</p>
</div>
 <div class="vertical-button-container">



<a href="https://tfl.gov.uk/modes/driving/congestion-charge"  class="plain-button">Congestion Charge</a>

</div>
<div>

<h2>Air quality consultation</h2>

<p>In 2017/18 we consulted on an&nbsp;expansion of&nbsp;the ULEZ. You can see the results on our <a href="https://consultations.tfl.gov.uk/environment/air-quality-consultation-phase-3b/?cid=airquality-consultation">ULEZ/LEZ consultation page</a>.</p>
</div>
 
        </div>
        <div class="module-grid clearfix">
            <div class="news-teaser">

    <a href="/corporate/about-tfl/air-quality-advice?intcmp=41599" >
        
        
        <div class="text-link">
             <h2>Air quality advice</h2>
            <p>We'll let you know when pollution levels are expected to be higher than normal </p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/buses/improving-buses?intcmp=42923" >
        
        
        <div class="text-link">
             <h2>Improving buses</h2>
            <p>The Low Emission Bus Zone is just one way we're promoting cleaner and greener buses</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/boroughs/low-emission-neighbourhoods?intcmp=49659" >
        
        
        <div class="text-link">
             <h2>Low Emission Neighbourhoods</h2>
            <p>We're helping boroughs create areas that highlight air quality improvement schemes</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/about-tfl/corporate-and-social-responsibility/transport-and-health?intcmp=3511" >
        
        
        <div class="text-link">
             <h2>Transport & health</h2>
            <p>Our services can help to improve the health of Londoners - see what we're doing</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/about-tfl/cycling-and-walking?intcmp=41503" >
        
        
        <div class="text-link">
             <h2>Cycling and walking</h2>
            <p>See what we're doing to make cycling and walking in the capital safer and easier</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/deliveries-in-london/protecting-the-environment?intcmp=38103" >
        
        
        <div class="text-link">
             <h2>Protecting the environment</h2>
            <p>We're working to reduce the impact of commercial vehicles on the environment</p>
        </div>
    </a>
</div>
 
 
        </div>
    </div>
    <div class="aside" role="complementary">
        <div class="large" data-set="widget">
            <div class="moving-source-order">
            
            </div>
        </div>
        <div class="module-grid">
            
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
            <div>

<h3>Air quality advice </h3>
We have <a href="/corporate/about-tfl/air-quality-advice">air quality advice</a> for each level of daily air pollution.<br />
</div>
 
<style>
    .component .info:first-of-type {
        display: none;
    }
</style>
<div class="floating-right-component-module">
    <div class="component">
        
        @{ Html.RenderAction("Index", "AirQuality"); }
        
<p class="info">For more information on local pollution, visit the <a href="http://www.londonair.org.uk/">London Air website</a>.</p>

    </div>

<p>This air quality information is provided by <a href="http://www.londonair.org.uk/LondonAir/Default.aspx">King's College London</a>. </p>
</div>
 <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/about-tfl/environment" class="plain-button">Environment</a>
    </div>
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="https://www.london.gov.uk/what-we-do/environment/pollution-and-air-quality/how-were-cleaning-londons-air" class="plain-button">Cleaning up London's air</a>
<a href="https://www.london.gov.uk/what-we-do/environment/pollution-and-air-quality/cleaning-londons-vehicles" class="plain-button">Cleaner vehicle checkers</a>
    </div>
</div>
 
        </div>
    </div>
    <div class="small-medium" data-set="content">&nbsp;</div>
</div>
 
        
        
        
            @{ViewBag.Description = "See what TfL is doing to protect London's air quality";}
        
            
        


 