
    
  



@{ViewBag.Title = "Encouraging cycling and walking";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/about-tfl/cycling-and-walking";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/environment">Environment</a></li>
                
            
            
                <li><span class="last-breadcrumb">Encouraging cycling and walking</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Encouraging cycling and walking</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        As part of our effort to reduce emissions from motor vehicles - and to encourage Londoners to pursue healthy activities - we support several measures that make cycling and walking in the Capital easier.
        
      </div>
    
    
      <h2>Cycling</h2>
<p>We have an ambitious target to increase the amount of cycling in London to 1.5 million cycle journeys per day by 2026. Strong progress has been made towards this target in recent years - cycling levels have more than doubled since 2001.</p>
<p>We are delivering a range of initiatives to encourage and enable more cycling in London, including:</p>
<ul>
    <li>New <a href="/modes/cycling/routes-and-maps/cycle-superhighways">Cycle Superhighways</a> and<a href="/modes/cycling/routes-and-maps/quietways"> Quietways</a></li>
    <li>Investment in local areas and town centres through the <a href="/modes/cycling/routes-and-maps/cycle-mini-hollands">Mini-Hollands</a> programme</li>
    <li>More improvements to <a href="/modes/cycling/santander-cycles">Santander Cycles</a></li>
    <li>Thousands of new <a href="/modes/cycling/cycling-in-london/cycle-parking">cycle parking spaces</a></li>
    <li>Support for behaviour change by offering free, tailored <a href="/modes/cycling/cycling-in-london/cycle-skills">cycle skills training</a></li>
</ul>
<p>This is all part of our aim to make London a byword for cycling. Find out more about our range of <a href="/modes/cycling/index">cycling programmes</a>.</p>
<h2>Walking</h2>
<p>To encourage walking in the Capital we are investing in London's streets to make them more attractive places to walk.</p>
<p>We also promote walking through Legible London, the Walk London Network, and engagement with schools and businesses. Visit our <a href="/modes/walking/index">Walking page</a> for more details.</p>
      
           
      
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/environment" class="heading">
                    <h2 id="sub-menu-heading">Environment<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/about-tfl/cycling-and-walking">Encouraging cycling and walking</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/our-trackside-neighbours">Our trackside neighbours</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/natural-environment">Natural environment</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We have several schemes to promote cycling and walking in London";}
        
            
        


 