
    
  


<!-- rhroot -->
@{ViewBag.Title = "Environment";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/about-tfl/environment";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        

  

<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
            
                <li><span class="last-breadcrumb">Environment</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 

  
  <div class="r">
    <div class="headline-container section-title section-landing-container ">
      <div class="section-title-wrap">
        <h1 class="hero-headline">Environment</h1>
        
      </div>
    </div>
  </div>



    
   
    <div class="r">
        <div class="main clearfix" role="main">
            
        
        
            <div class="section-overview full-width clearfix ">
                <div class="small-medium" data-set="section-intro"></div>
                <div>
                    <div class="large" data-set="section-intro">
                        
                    </div>
                <p>Our role is more than getting people from A to B quickly. We also want to make London cleaner and greener and contribute to a better quality of life for Londoners, now and in the future.</p>
<p>We're determined to reduce the impact of transport operations on the environment with measures  such as the Mayor's Clean Air Action Plan that lets us crack down on the most polluting vehicles in London. We're also putting sustainability at the heart of our operations and procurement. See what else we're doing to improve the environment in London.</p>
                </div>
            </div>
        
         
        
        
        
                
                
                <div class="module-grid clearfix">
                    
                    
                    
                    <div class="news-teaser">

    <a href="/corporate/about-tfl/air-quality?intcmp=45806" >
        <img src="/cdn/static/cms/images/promos/environment-hop_rdax_400x200.jpg" alt="Houses of Parliament" />
        
        <div class="text-link">
             <h2>Improving air quality</h2>
            <p>We're implementing a range of measures to improve London's air quality</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/campaign/active-travel?intcmp=53225" >
        <img src="/cdn/static/cms/images/promos/environment-cyclist-barge_rdax_400x200.jpg" alt="Cyclist on a tow path" />
        
        <div class="text-link">
             <h2>Cycling and walking</h2>
            <p>See what we're doing to make cycling and walking in London safer and easier</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/about-tfl/air-quality-advice?intcmp=41599" >
        
        
        <div class="text-link">
             <h2>Air quality advice</h2>
            <p>We'll let you know when pollution levels are expected to be higher than normal</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/about-tfl/our-trackside-neighbours?intcmp=41572" >
        
        
        <div class="text-link">
             <h2>Our trackside neighbours</h2>
            <p>People living and working near our tracks receive special consideration</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/corporate/about-tfl/natural-environment?intcmp=41506" >
        
        
        <div class="text-link">
             <h2>Natural environment</h2>
            <p>Protecting plant and animal life affected by our operations is a priority</p>
        </div>
    </a>
</div>
 
 
                </div>
        
        
        
          
        
    </div>
    
      
      <div class="aside no-full-width-intro" role="complementary">
    
        <div data-set="sidenav-container" class="large">
          
        </div>
        <div class="module-grid clearfix">
          
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
          <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/corporate/about-tfl/corporate-and-social-responsibility/transport-and-health" class="plain-button">Transport &amp; health</a>
<a href="/modes/buses/improving-buses" class="plain-button">Improving buses</a>
    </div>
</div>
 <div class="related-links">

    <h3>Related websites</h3>

<div class="vertical-button-container">

<a href="https://www.london.gov.uk/sites/default/files/shorthand/cleaner_vehicles/" class="plain-button">Our air and our vehicles</a>
<a href="https://www.london.gov.uk/what-we-do/environment/pollution-and-air-quality/cleaning-londons-vehicles" class="plain-button">Cleaner vehicle checkers</a>
    </div>
</div>
 
        </div>
        <div data-set="sidenav-container" class="small-medium"></div>
      </div>
  </div>
 
        
        
        
            @{ViewBag.Description = "We are contually looking at ways we can help make London's physical environment better";}
        
            
        


 