
    
  



@{ViewBag.Title = "Natural environment";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/about-tfl/natural-environment";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/environment">Environment</a></li>
                
            
            
                <li><span class="last-breadcrumb">Natural environment</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Natural environment</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We are working to protect, connect and enhance the biodiversity of our track and highway verges.
        
      </div>
    
    <div class="on-this-page">
      <p>We plant and maintain street trees because they deliver environmental, economic and social benefits.</p>

<p>Proximity to green space is linked to increased birth weight in babies as well as increased life expectancy in the elderly. London boroughs with a lot of trees tend to have lower prescription rates for antidepressants.</p>

<p>London's urban forest helps to remove airborne PM10 particulate matter. Trees also contribute to water management by intercepting and holding rainfall, reducing surface water runoff from asphalt by as much as 62% and lowering the costs associated with storm water management.</p>

<p>Woodlands, shrubs, wildflowers and green walls are also part of our green infrastructure. Well-maintained green infrastructure has been shown to reduce crime and even improve driver behaviour.</p>

<h3>Wildlife variety</h3>

<p>The land surrounding our rail tracks acts as a safe haven for wildlife that includes bats, badgers, reptiles and water voles.</p>

<p>Altogether around 550 plant species, 42 bird species, 14 mammals, 538 invertebrate species, three reptile species and three amphibian species have been recorded on our land.</p>

<p>Find out more about how we look after our land and <a href="/corporate/about-tfl/our-trackside-neighbours">our trackside neighbours</a>.</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/environment" class="heading">
                    <h2 id="sub-menu-heading">Environment<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/cycling-and-walking">Encouraging cycling and walking</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/our-trackside-neighbours">Our trackside neighbours</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/about-tfl/natural-environment">Natural environment</a></div>
                            </li>
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We work to protect animal and plant life that could be affected by our operations, particularly trackside";}
        
            
        


 