
    
  



@{ViewBag.Title = "Our trackside neighbours";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/about-tfl/our-trackside-neighbours";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/environment">Environment</a></li>
                
            
            
                <li><span class="last-breadcrumb">Our trackside neighbours</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Our trackside neighbours</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We aim to run safe and reliable train services while also being a good neighbour to people living and working close to our tracks.
        
      </div>
    
    <div class="on-this-page">
      <h2>Noise and vibration</h2>

<p>The transport network of a city like London inevitably creates noise. We want to do more to minimise noise levels for our neighbours.</p>

<p>We regularly inspect our track to ensure it is safe and reliable. Our maintenance programme, which includes a continuous programme of rail grinding and track improvements, also helps to reduce noise and vibration. We spend approximately &pound;150m each year on track improvements - this includes a dedicated annual budget of &pound;1m towards developing rail noise technology.</p>

<p>Sudden or gradual increases in noise coming from our tracks can have several causes including normal wear and tear, track faults or displaced joints. New developments and excavations across the city can also change the way that ground-borne noise and vibration is heard.</p>

<p>We monitor noise levels across the Tube network and work to reduce noise and vibration. For example we:</p>

<ul>
	<li>Grind rails to remove corrugation</li>
	<li>Replace worn rails</li>
	<li>Fix or remove broken or unnecessary rail joints used to connect two pieces of rail together</li>
	<li>Use resilient track fixings - a system that reduces ground-borne vibration by essentially lifting the rail</li>
</ul>

<p>There are no legal limits on the amount of noise or vibration that can come from trains operating on existing railways, but we are committed to treating each complaint case-by-case.</p>

<p>We're also tackling noise inside train carriages. We install innovative under-rail pads in the noisiest sections of the network to reduce this type of noise.</p>

<p>We work with suppliers and academics to innovate and develop new technology to reduce noise and vibration levels across the network.</p>
      
           
      
<div>




<h2>Trees and other vegetation</h2>

<p>We regularly inspect our land and the vegetation growing on it so that we can plan when and how best to maintain it.</p>

<p>Our trees and vegetation are managed to make sure there is no risk to our services, our property, or our neighbours' property. As a neighbour, you also have a responsibility to ensure that trees and vegetation on your property do not disrupt our services or damage our property.</p>

<p>We typically look for the following things when inspecting vegetation alongside our tracks:</p>

<ul>
	<li>Tree and vegetation health &#45; dead or diseased trees could break and fall causing a disruption to our service of damage to property</li>
	<li>Leaf-fall &#45; high numbers of leaves falling on the tracks can disrupt our services</li>
	<li>Signals and track view &#45; trees and bushes growing near the railway must not obscure train drivers' views of signals and other parts of the railway</li>
	<li>Embankment stability &#45; trees and vegetation can impact the stability of our embankments which could potentially lead to landslides</li>
	<li>Invasive species: such as Japanese knotweed, we track and manage their growth/spread using methods approved by the Environment agency</li>
</ul>

<p>When work needs to be carried out, we do our best to limit disruption to our neighbours. Most of the time this can only be done during the night while the service is not operating.</p>

<h2>Vermin</h2>

<p>Regular pest control and management is carried out across the network. We make every effort to eradicate vermin from our properties, but littering and unwanted food and water sources nearby pose an ongoing challenge.</p>

<p>We rely heavily on our neighbours to help us manage this issue by not discarding food sources and litter near our tracks.</p>

<h2>Contact us</h2>

<p>To help us identify the areas most affected by noise, <a href="/help-and-contact/contact-us-about-tube-and-rail">contact us about any noise or vibration issues</a>. Select a 'Noise and vibration' enquiry on the form.</p>

<p>Residents concerned about any of these trackside issues can also contact us 24/7 on 0343 222 1234 (<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>).</p>

<p>TfL Rail and most London Overground services run on tracks managed by <a href="https://www.networkrail.co.uk/">Network Rail</a>.</p>
<div class="multi-document-download-container">
    
</div>

</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/environment" class="heading">
                    <h2 id="sub-menu-heading">Environment<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/cycling-and-walking">Encouraging cycling and walking</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/about-tfl/our-trackside-neighbours">Our trackside neighbours</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/sustainability">Sustainability</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/natural-environment">Natural environment</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We try the balance the comfort of people living along our rail lines with the need to run reliable services";}
        
            
        


 