
    
  



@{ViewBag.Title = "Sustainability";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/corporate/about-tfl/sustainability";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/corporate/about-tfl/index">About TfL</a></li>
                
            
                 <li><a href="/corporate/about-tfl/environment">Environment</a></li>
                
            
            
                <li><span class="last-breadcrumb">Sustainability</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Sustainability</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Sustainability is central to the way we work. This means maximising the environmental, social and economic benefits of our operations and minimising the negative impacts.
        
      </div>
    
    
      <p>The <a href="/corporate/about-tfl/the-mayors-transport-strategy">Mayor's Transport Strategy</a> sets out six goals to deliver sustainable transport benefits. These are:</p>
<ul>
    <li>Support economic development and population growth</li>
    <li>Enhance the quality of life for all Londoners</li>
    <li>Improve the safety and security of all Londoners</li>
    <li>Improve transport opportunities for all Londoners</li>
    <li>Reduce transport's contribution to climate change and improve its resilience</li>
    <li>Support delivery of the 2012 Olympic and Paralympic Games and its legacy</li>
</ul>
<p>We are a founding contributor to the International Association of Public Transport's <a href="http://www.uitp.org/">Charter on Sustainable Development</a> which means we are committed to incorporating sustainable development as an organisation.</p>
<h2>Developing responsible procurement</h2>
<p>Our responsible procurement policy promotes fair employment practices. We aim to purchase low-carbon, resource-efficient goods and services that are responsibly sourced.</p>
<h2>Improving transport accessibility</h2>
<p>We are working with local communities to make public transport, walking and cycling more accessible. These initiatives include our school travel plans scheme and the <a href="/modes/dlr/dlr-ambassadors">Docklands Light Railway (DLR) ambassadors programme</a>.</p>
<h2>Addressing climate change</h2>
<p>We are introducing a number of measures to help the Mayor achieve his target to reduce carbon dioxide emissions by 60% in 2025 (from 1990 levels).</p>
<p><a href="/corporate/about-tfl/improving-air-quality">Read more about these climate change measures</a>.</p>
<p>We are also working to ensure our services and buildings are adapted to the changing climate.
</p>
<h2>Promoting sustainable freight</h2>
<p>We are helping road freight operators to adopt safer, more efficient and more environmentally friendly practices through the Fleet Operator Recognition Scheme. This offers operators benefits to help them improve their performance. </p>
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/tfl-adaptation-report-may-2015.pdf">
    <div class="document-download-text">
        <p>TfL resilience to extreme weather and climate change - May 2015</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 1.22MB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 1.22 -->
 
</div>

</div>
 <div>

<h2>Building a sustainable network</h2>
<p>We make sure new stations and refurbishments address sustainability, such as those undergoing Tube improvement, London Overground, DLR and Crossrail.</p>
<p>This includes planning for skills and regeneration, reusing and recycling construction waste, providing step-free access for disabled passengers and secure cycle storage.</p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                <a href="/corporate/about-tfl/environment" class="heading">
                    <h2 id="sub-menu-heading">Environment<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/cycling-and-walking">Encouraging cycling and walking</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/our-trackside-neighbours">Our trackside neighbours</a></div></li>
                            
 
                                <li class="selected"><div class="link-wrapper"><a href="/corporate/about-tfl/sustainability">Sustainability</a></div>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/corporate/about-tfl/natural-environment">Natural environment</a></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/non-targeted" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Sustainability is a top priority of our operations and procurement. This page looks at the ways we are trying to promote it";}
        
            
        


 