


@{ViewBag.Title = "Asbestos removal works at Victoria Tube station";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Asbestos removal works at Victoria Tube station</h1>
        <div class="content-page-press-release">
        11 May 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Station remains open for majority of work - No safety risk to passengers
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Each phase will focus on a particular area of the station and each working area will be sealed to ensure safety
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>Works to remove asbestos from Victoria Underground station will begin at the end of May, in preparation for the &pound;509m redevelopment of the station.</p>
<p>Specialists have been employed to remove the asbestos under strictly controlled conditions, with the work due to be complete by summer 2008.</p>
<p>The asbestos removal work is programmed to start in the District&nbsp;and Circle line areas of the station.&nbsp; </p>
<p>The asbestos will be removed in a series of phases. Each phase will focus on a particular area of the station and each working area will be sealed to ensure safety.</p>
<p>London Underground's Deputy Chief Operating Officer Howard Collins said:&nbsp;"London Underground's asbestos removal programmes are conducted by specialists to ensure there is no safety risk to our customers, staff or local residents.&nbsp;</p>
<p>"In the meantime, the asbestos will remain undisturbed and in this state is safe.&nbsp;</p>
<h2>Cut congestion</h2>
<p>"The air in Victoria is regularly monitored for asbestos fibres and the removal works will also involve a rigorous regime of monitoring.</p>
<p>"The station will remain operational for much of the removal programme as the work will be carried out at night when the station is closed. </p>
<p>"Some work will require longer closure periods, and we are looking at a number of options including making use of closures already planned for the Victoria line Upgrade. </p>
<p>"Upgrading Victoria Underground station is a key part of improving the Tube network, which will cut congestion and improve access for all our passengers using the station." </p>
<h2>Capacity enhancement</h2>
<p>The asbestos removal is necessary to facilitate the Victoria Station Upgrade works and avoids the risk of delays and unplanned closures during the main construction works.</p>
<p>The ticket office in the main ticket hall is planned to close in August 2007.</p>
<p>A temporary ticket office will be located outside the station on the National Rail forecourt.</p>
<p>This will allow larger areas of the main ticket office to be sealed off and subsequently speed up the overall programme.</p>
<h2>Step-free access</h2>
<p>Used by over 75 million passengers each year, Victoria Underground station is at the heart of London's transport network. </p>
<p>The upgrade and capacity enhancement works at Victoria Underground station is part of Transport for London's &pound;10bn Investment Programme.</p>
<p>The main construction work is due to start in 2009 and be complete in 2014.</p>
<p>The station will increase in size by about 50 per cent&nbsp;with a new ticket hall, lifts and escalators to ease congestion and provide step-free access from street level to Victoria, Circle and District line platforms.</p>
<p>
<hr>
</p>
            <p>
<p><strong>Notes to editors:</strong></p>
<ul>
<li>TfL is investing &pound;10bn to improve and expand London's transport network, more than half of that on the Tube </li>
<li>Following a competitive tendering process, Mott Macdonald has secured the consultancy commission for the Victoria Station Upgrade (VSU) detailed design through to construction stage. They will progress the station designs (developed so far by Scott Wilson who undertook the early design contract) leading to a Transport &amp; Works Act Order submission in November 2007 </li>
<li>The VSU project is outside of the LU Public Private Partnership (PPP)&nbsp;and is funded by the TfL's &pound;10bn Investment Programme. Station modernisation work previously planned under PPP has now been absorbed into the scope of the VSU. A contract to undertake the infrastructure work will be competitively tendered when the design work is complete </li>
<li>Victoria is a major transport interchange, serving National Rail, Underground, London bus services and the Victoria Coach Station </li>
<li>The VSU project will complement the Victoria line Upgrade project due to be completed in 2013. This will include the provision by Metronet Rail BCV of 47 new trains with increased capacity. Other enhancements to the Victoria line include new signalling, control room and general infrastructure improvements </li>
<li>Images of what Victoria Underground station could look like when the project is complete are available at the <a href="http://www.tfl.gov.uk/tfl/corporate/media/photos/pressimages/gallery.asp">TfL news centre image gallery</a> or by contacting the Press Office on 0845 604 4141.</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Works to remove asbestos from Victoria Underground station will begin at the end of May, in preparation for the &pound;509m redevelopment of the station.Specialists have been employed to remove the asbestos under strictly controlled conditions, with the";}
        
        


 