


@{ViewBag.Title = "Docklands Light Railway wins at London Transport Awards";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Docklands Light Railway wins at London Transport Awards</h1>
        <div class="content-page-press-release">
        02 May 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>Docklands Light Railway (DLR) and its operator Serco Docklands have scooped Transport Team of the Year at the London Transport Awards.</p>
<p>The DLR was also runner-up in the Rail Station of the Year for London City Airport station.</p>
<p>Jonathan Fox, Director DLR, said: "Our teamwork award is testimony to the genuine team effort that has gone into making the DLR what it is today. I would like to thank Serco and all our partners for their commitment, enthusiasm and support.</p>
<p>"As DLR continues to develop and expand through projects such as the Woolwich Arsenal extension, Stratford International extension and upgrade from two to three-car, we look forward to further strengthening our key relationships and continuing to offer an unrivalled service."</p>
<p>Tony Thomas, Managing Director Serco Docklands, said: "I am delighted that the genuine teamwork and spirit of partnership that exists between Serco and DLR has been recognised by this award that reflects the excellent standard of performance and service provided to our customers."</p>
<p><strong>
<hr>
Notes to Editors</strong> 
<p>
<ul>
<li>Docklands Light Railway is part of Transport for London </li>
<li>The London Transport Awards are organised by the Transport Times. The awards aim to reward London boroughs and &nbsp;organisations that have made a real difference to the Capital </li>
<li>The awards were presented on Wednesday 25 April at the London Hilton </li>
<li>The DLR London City Airport extension was opened ahead of schedule and on budget in December 2005 </li>
<li>London City Airport station won the Community Rail Award for best 'Local Transport Integration Project' in October 2006 </li>
<li>DLR is the most reliable railway in mainland UK, with punctuality levels at 98 per cent </li>
<li>Its passenger numbers of 60 million per year are set to increase to 80 million by 2009 </li>
<li>DLR has customer satisfaction of 96 per cent</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Docklands Light Railway (DLR) and its operator Serco Docklands have scooped Transport Team of the Year at the London Transport Awards.The DLR was also runner-up in the Rail Station of the Year for London City Airport station.Jonathan Fox, Director DLR,";}
        
        


 