


@{ViewBag.Title = "Extra carriage on every Docklands Light Railway train";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Extra carriage on every Docklands Light Railway train</h1>
        <div class="content-page-press-release">
        03 May 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>
<p>Transport for London has awarded a &pound;200m contract to Taylor Woodrow to&nbsp;upgrade the Docklands Light Railway (DLR) so an&nbsp;extra carriage&nbsp;can&nbsp;be added to its trains. </p>
<p>The&nbsp;increase from two to three-carriage trains&nbsp;will be completed by 2010,&nbsp;and will help accommodate increasing DLR passenger numbers.</p>
<p>The new three-carriage trains will provide extra capacity and enhanced comfort for passengers.</p>
<p>Ian Brown, Chairman of DLR, said: 'Increasing capacity through three-carriage trains will allow the Docklands Light Railway to keep pace with booming demand from passengers.</p>
<p>'Three-carriage trains will also prove invaluable as the Docklands Light Railway is extended on to Woolwich Arsenal and Stratford International.</p>
<p>'Docklands Light Railway will act as a key transport link during the London 2012 Games, so the extra capacity will be central in swiftly and efficiently transporting the millions of extra people we will welcome onto the network.'</p>
<p>'Sustained investment in London's transport network is also essential to cope with the growth in jobs and London's expanding population - set to grow by 800,000 within twenty years.</p>
<p>'This is a hugely significant contract award and we look forward to working alongside Taylor Woodrow Construction to deliver this increase in capacity, on time and on budget.'</p>
<p>Brendan Morahan, Director of Taylor Woodrow Construction, said: 'This is a strategic success for us as a business.</p>
<p>'We identified London Rail as a key market for us in deploying the skills, behaviours and experience we have in our team and our selected suppliers, gained through our successes at London Bridge, Paddington, Wembley Park, East London Line and Kings Cross.</p>
<p>'We are all excited at the opportunity to contribute to the development of London's Infrastructure in preparation for the Olympics and the legacy beyond.'</p>
<p>Work to increase capacity will take place in two phases which includes strengthening viaducts and bridges, extending platforms and improving key junctions.</p>
<p>Phase one will allow DLR to lengthen trains on its busiest route, Bank/Tower Gateway to Lewisham.</p>
<p>Completion is expected to be in late 2009.</p>
<p>Phase two will allow three-carriage trains to operate across the other parts of the DLR network that currently only allow two-carriage operation.</p>
<p>Phase two has yet to be approved by Government, with a decision expected in Autumn 2007.</p>
<p>If consent is granted, phase two will be completed in 2010.</p>
<p>The DLR London City Airport extension, opened in December 2005, can already accommodate three-carriage trains.</p>
<p>Both the Woolwich Arsenal extension, which will open in 2009, and Stratford International extension, set to open in 2010, have been designed to operate three-carriage trains.</p>
<p>The Docklands Light Railway is an important part of London's transport network, which is carrying ever more passengers and supporting the city's rapid population and job growth.<br></p>
<p>
<hr>
</p>
<p><strong>Notes to Editors:</strong><br><strong><p>
<ul>
<li></li></ul></strong>Images of DLR three-car trains are available on request
<li>The &pound;200m figure comprises phases one and two</li>
<li>A Transport and Works Act application for phase two was made to Government in August 2006, with a public inquiry held in March 2007</li>
<li>&nbsp;The phase two application includes a proposal to upgrade a major junction known as the 'Delta', which is situated at the heart of the DLR network. This would remove a current capacity constraint which is caused by two main DLR routes crossing at a level junction. The upgrade will provide a new grade separated route and allow more frequent services to operate. If approved, this could be achieved by late 2009 to coincide with the start of three-car operation on the Bank / Tower Gateway to Lewisham route</li>
<li>Taylor Woodrow Construction has only been appointed to work on the approved three-car schemes. If the second application is granted Taylor Woodrow may also manage its elements</li>
<li>DLR won the overall 2006 Railway Industry Innovation Award for 'Delivering a successful railway through effective partnerships' and the 2006 London Planning Award for 'Best Public Sector Planning Organisation'</li>
<li>Further information on DLR is available at <a href="http://www.dlr.co.uk">www.dlr.co.uk</a><br></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "Transport for London has awarded a &pound;200m contract to Taylor Woodrow to&nbsp;upgrade the Docklands Light Railway (DLR) so an&nbsp;extra carriage&nbsp;can&nbsp;be added to its trains. The&nbsp;increase from two to three-carriage trains&nbsp;will be";}
        
        


 