


@{ViewBag.Title = "First ever African poems on the Underground";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>First ever African poems on the Underground</h1>
        <div class="content-page-press-release">
        30 May 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Tube passengers are set to be transported to another continent thanks to London Underground's first ever series of African Poems on the Underground, on display in trains across the network from 4 June.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This collection of poems shows that humanity is universal
                            
                        </p>
                    </div>
                
            
            
            <p>
<p>The new series of poems by writers from Nigeria, Senegal, Kenya, Ghana and South Africa range from the 19th century to the present day.</p>
<p>This coincides with a week-long programme of African events and festivals in the city - supported by the Mayor of London - to mark Africa Day which celebrate the positive contributions of London's African communities to life in the Capital. </p>
<p>Poet Nii Ayikwei Parkes, 33, was inspired to write "Tin Roof" to show his gratitude for the roof of his own home, which survived torrential rain storms in the north of Ghana. </p>
<p>Mr Parkes was born in England, but grew up in Ghana and moved back to London in 2001. </p>
<p>He lived in the south of Ghana and experienced the extremes of the north's weather while teaching biology and chemistry in the area. </p>
<h2>Word of Africa</h2>

<p>Nii Ayikwei Parkes said: "This collection of poems shows that humanity is universal.</p>
<p>"We have the same fears and joys so I hope the poetry on the Tube will lead to people seeking out more African writing.</p>
<p>"Being a writer in Africa is considered as signing your life away as there is no money in it, but once there is more demand for African poetry and literature, then more people might consider becoming writers rather than lawyers and doctors and a swell of good writing could emerge as a result."</p>
<p>The poems are part of Word of Africa: a festival by Africa Beyond which celebrates the diversity and power of African languages in literature, music and other arts. </p>
<h2>Bicentenary</h2>
<p>Tessa Watt, Programme Director of Africa Beyond, said: "Africa is home to up to 2,000 languages and cultures, each one with its own food, music, literature, sayings and stories. </p>
<p>"Word from Africa is a chance to discover some of these riches right here in London, where almost every African community is represented."</p>
<p>The poems appear in trains on posters that feature a unique Ghanaian textile design from the British Museum. </p>
<p>Tamsin Dillon, Head of Platform for Art, said: "These poems are particularly relevant as this year marks the bicentenary of the 1807 British Abolition of the Atlantic Slave Trade. </p>
<h2>Famous poets</h2>
<p>"This series of Poems on the Underground features several famous poets such as Senegal's first president and Francophone Poet Leopold Sedar Senghor. </p>
<p>"His poem 'Et Nous Baignerons Mon Amie' is a love poem to his wife and to his African Homeland."</p>
<p>The series also features 'Season' by essayist, playwright and Nobel Prize winner Wole Soyinka.</p>
<p>The other poems are: 'Poem to Her Daughter' by Mwana Kupona Binti Msham, a poem of motherly advice by the wife of a Kenyan Chieftain originally written in Swahili;<br>'Inside my Zulu Hut' by Oswald Mbuyiseni Mtshali, which&nbsp;evokes the poet's traditional Zulu childhood and was written as he was working at low-paid jobs in Soweto, denied admission to the state University; and 'I Sing of Change' by the Nigerian poet Niyi Osundare.</p>
<p>Passengers should look out for the poems across the whole Tube network. </p>
<p>More information on the <a href="http://www.bbc.co.uk/africabeyond">Word from Africa </a>festival can be found at the BBC's website.</p>
            <p>
<p><strong>Notes to editors </strong></p>
<ul>
<li>Poems on the Underground is supported by London Underground, The Arts Council and the British Council </li>
<li>Poems are selected by Judith Chernaik, Gerard Benson and Cicely Herbert, and the posters are designed by Tom Davidson </li>
<li>Posters of the poems are available from the London's Transport Museum's gift shop </li>
<li>Platform for Art is London Underground's (LU) public Art programme, producing high calibre artworks in unexpected places on the network, enhancing the millions of journeys made every day. It aims to promote a greater understanding of the Tube as a cultural and social environment through the creative commissioning of artworks </li>
<li>Poems on the Underground was founded and is administered by writer Judith Chernaik </li>
<li>More information about <a href="http://www.tfl.gov.uk/pfa ">Platform for Art</a> is available online.</li>
<li>A new guide to African London has been launched. Supported by the Mayor of London, the guide contains key information on African culture in the Capital from cultural festivals, arts, restaurants, film, leisure and history. To access a copy of the guide online, visit <a href="http://www.london.gov.uk/mayor/culture/docs/african-day-guide.pdf">www.london.gov.uk/mayor/culture/docs/african-day-guide.pdf</a> </li></ul>
<p><br>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The new series of poems by writers from Nigeria, Senegal, Kenya, Ghana and South Africa range from the 19th century to the present day.This coincides with a week-long programme of African events and festivals in the city - supported by the Mayor of London";}
        
        


 