


@{ViewBag.Title = "Transport for London sets businesses the 'Tour de France' challenge";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Transport for London sets businesses the 'Tour de France' challenge</h1>
        <div class="content-page-press-release">
        24 May 2007
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">



 <div class="on-this-page">
<p>
</p>
<p>With the Tour de France set to visit London for the first time ever this summer, a new challenge has been launched by Transport for London, to encourage the capital's businesses to help their staff start cycling to work.</p>
<p>Part of the Mayor of London's vision to increase cycling in London, the workplace cycle challenge will see businesses take part in a number of challenges, based on the Tour de France coloured rider jerseys.</p>
<p>Participants can take part in three challenges during July:</p>
<ul>
    <li>The 'Yellow Jersey' challenge - for teams to increase the number of cycling journeys made within their organisations</li>
    <li>The 'Green Jersey' challenge - for individuals to set themselves targets to increase cycling distances or trips</li>
    <li>The 'White Jersey' challenge - for teams to recruit new commuting cyclists</li>
</ul>
<p>Businesses signing up will automatically be entered into a prize draw to win two exclusive VIP tickets for this year's Tour de France in July, as well as limited edition Tour de France t-shirts for their 'team'.</p>
<p>Mayor of London, Ken Livingstone, said: 'London is a great place to cycle and London is experiencing a cycling renaissance.</p>
<p>'The number of people cycling in the capital soaring, as continued investment makes the city an increasingly great place to cycle. </p>
<p>'The Tour de France, which will be the largest sporting event to come to London ahead of the Olympics, is set to further inspire a new generation of people to take to two wheels.</p>
<p>'Cycling is not only good for your health, but also good for the environment.</p>
<p>'Climate change is one of the great challenges facing the world today and the bike is a great way of taking positive action to reduce London's carbon emissions.'</p>
<p>Cycling is often the quickest way to get around the Capital, for journeys under four miles.</p>
<p>It is estimated that there are now around 480,000 cycle journeys made a day across London, and by joining the challenge employers and employees will benefit by saving money and time, as well as getting fitter and contributing to a healthier environment.</p>
<p>Ben Plowden, Programme Director of Travel Demand Management at Transport for London, said: 'The number of cyclists in London has increased by 83 per cent since 2000.</p>
<p>'The Mayor's target is to increase cycling by 400 per cent by 2025, so we want even more Londoners to get on their bikes.</p>
<p>'The challenge should be a great motivator for those who have not yet taken to two wheels.</p>
<p>'It will be a fun and healthy team-building event, with great benefits for businesses, staff and most importantly the environment.'</p>
<p>Organisations interested in participating can register on <a href="http://www.cyclechallenge2007.org">www.cyclechallenge2007.org</a></p>
<p>A free participant pack will be sent to them with further details of the challenge and information about support that they can receive from Transport for London. </p>
<p>Companies will need to nominate a 'Team Manager' to recruit team members and co-ordinate the challenge within their organisation.</p>
<p>
</p>
<hr />
<p>&nbsp;</p>
<p><strong>Notes to Editors:</strong><br /><strong></strong></p>
<p><strong>
</strong></p>
<ul><strong>
    <li></li>
    </strong></ul>
    For further information or to join the London Cycle Challenge 2007, visit <a href="http://www.cyclechallenge2007.org">www.cyclechallenge2007.org</a>
    <li>The Tour de France London Grand D&eacute;part will take place between 6 and 8 July this year.</li>
    <li>Transport for London works with businesses of all sizes to develop workplace travel plans. These plans outline how an organisation will reduce its dependency on car use by increasing and promoting travel choices across all aspects of the business. For small and medium sized businesses (with up to 250 employees), a new scheme, known as Enterprise, helps businesses to encourage their staff to choose alternative travel options to the car. These include free cycle parking stands, more flexible working hours, working from home, promoting car sharing and cycling and walking. For further information please visit <a href="http://www.anewwaytowork.org">www.anewwaytowork.org</a></li>
    <li>Larger organisations (with more than 250 employees) should contact Transport for London directly about the support available by emailing <a href="mailto:worktp&#64;tfl.gov.uk">worktp&#64;tfl.gov.uk</a><br /></li>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "With the Tour de France set to visit London for the first time ever this summer, a new challenge has been launched by Transport for London, to encourage the capital's businesses to help their staff start cycling to work.Part of the Mayor of London's";}
        
        


 