


@{ViewBag.Title = "Essential works on Woolwich Ferry loading bridges";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">Essential works on Woolwich Ferry loading bridges</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>Essential works on Woolwich Ferry loading bridges</h1>
        <div class="content-page-press-release">
        30 December 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Drivers and pedestrians advised of essential refurbishment works on Woolwich Ferry loading bridges
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"These are essential improvements so I hope that passengers will bear with us. We're working to ensure that the Woolwich Ferry service continues to operate for the foreseeable future and improve its reliability"</div>
        <div class="quote-footer">
            <div class="quotee-name">Andrew Thompson</div>
            <div class="quotee-job-title">Head of London River Services, TfL</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>Works continue on four movable loading bridges following improvements to the north and south piers</li>
    <li>Next stage of works will require a number of short closures of the Woolwich Ferry service during high tides from 6-13 January</li>
</ul>
<p>Transport for London (TfL) and Briggs Marine and Environmental Services are moving forward with their refurbishment works to overhaul four movable loading bridges, which allow vehicles and pedestrians to get on and off the Woolwich Ferry. These works, which started in October, will make the operation of the bridges more reliable, efficient and better able to cope with the estimated increase in vehicle weights within the next 10 years.</p>
<p>In the New Year the next phase of work on the loading bridges will require 24 hour working, which will result in some unavoidable three hour service suspensions of the ferry during high tides.</p>
<p>Andrew Thompson, Head of London River Services, said: </p>
<p>'These are essential improvements so I hope that passengers will bear with us. We're working to ensure that the Woolwich Ferry service continues to operate for the foreseeable future and improve its reliability. But in the meantime we do apologise for any disruptions to journeys.'</p>
<p>The four loading bridges move up and down to allow the ferries access to the pier and to provide the means for vehicles and pedestrians to get on and off the ferries while taking account of the wide ranging tidal variances. The loading bridges were built to the standards and requirements of the 1960s and analysis has found that, although well engineered, the bridges require strengthening for today's heavier vehicles.</p>
<p>As part of this work ferry services will be suspended for three hour periods daily from Tuesday 6 January &#45; Tuesday 13 January, as the additional scaffolding required for the works during this period will make the loading bridges inaccessible to the ferry for one and a half hours either side of high tide.</p>
<p>The dates of these works were chosen after taking tidal times in to account and in order to avoid the busy festive period. Service suspension times on these dates are dictated by the tide times and are therefore predicted as follows:</p>
<p>&nbsp;</p>
<ul>
    <li>Tuesday 6 January              Service suspended 12:45 - 15:45</li>
    <li>Wednesday 7 January        Service suspended 13:30 - 16:30</li>
    <li>Thursday 8 January            Service suspended 14:00 - 17:00</li>
    <li>Friday 9 January                  Service suspended 14:30 - 17:30</li>
    <li>Saturday 10 January           Service suspended 15:00 - 18:15</li>
    <li>Sunday 11 January             Service suspended from 18:45</li>
    <li>Monday 12 January            Begin service at 06:45 / Close service at 16:15</li>
    <li>Tuesday 13 January           Begin service at 7:30am</li>
</ul>
<p>Although there has been scaffolding erected for each loading bridge throughout the duration of its refurbishment, this stage of work requires an end section of scaffolding to be added. The period during which this end section of scaffolding is in position is to be kept as short as possible in order to minimise disruption. In the event of extreme weather conditions, for example high winds, there is a risk that these closure periods will be extended.</p>
<p>No further disruption of this kind is expected until the same phase of work on the second set of loading bridges. This is scheduled to take place in late May 2015.</p>
<p>It is expected that the full refurbishment works for the Woolwich ferry will be complete later in 2015.</p>
<p>For information about local public transport options and to help plan your journey, please visit <a href="http://www.tfl.gov.uk/journeyplanner">www.tfl.gov.uk/journeyplanner</a></p>
<p>TfL is developing plans for a package of new river crossings for east London. These are intended to support future growth in London's economy and population. Some of the options for new crossings that TfL proposed could also replace the current crossing at Woolwich in the longer term. These options included a new ferry at Woolwich, a new ferry or bridge at Gallions Reach or a new bridge at Belvedere. TfL undertook consultation on these options from July to September 2014. </p>
<p>Further details, including a summary of an initial analysis of the outcome to the consultation is available at <a href="http://www.tfl.gov.uk/new-river-crossings">www.tfl.gov.uk/new-river-crossings</a>.</p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>The Woolwich Ferry operates a free service linking Woolwich with North Woolwich.</li>
    <li>The Woolwich Ferry carries around one million vehicles and over two million passengers a year.</li>
    <li>The ferries, terminals and facilities are owned by London River Services (LRS), but the ferry service is operated by Briggs Marine and Environmental Services under contract to LRS.</li>
    <li>The three ferries in use today were built in 1963 and the current terminals were opened in 1965.</li>
    <li>Live travel news is available at <a href="http://www.tfl.gov.uk/livetravelnews">www.tfl.gov.uk/livetravelnews</a></li>
</ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-December-Essential works on Woolwich Ferry loading bridges -->

 
 
        
        
            @{ViewBag.Description = "Drivers and pedestrians advised of essential refurbishment works on Woolwich Ferry loading bridges";}
        
        


 