


@{ViewBag.Title = "First Quietways to open early next year";}
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                <li>
                    <a href="/info-for/media/index">Media</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases">Press releases</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014">2014</a>
                </li>
                
                <li>
                    <a href="/info-for/media/press-releases/2014/december">December</a>
                </li>
                
                <li>
                    <span class="last-breadcrumb">First Quietways to open early next year</span>
                </li>
            
 
            
 
            
 
            
 
            
 
        </ul>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container plain">
        <h1>First Quietways to open early next year</h1>
        <div class="content-page-press-release">
        10 December 2014
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Quietways will provide direct backstreet cycle routes in all 33 London boroughs
        
    </div>



<div class="pull-quote">
        <div class="quote-body">"Cycling is becoming more and more common place in our city, and we know many others would like to do so. The network of Quietways we will be introducing will open more options up for new and infrequent cyclists to take to the streets using less busy roads. This will further help shift more journeys away from cars, particularly in the outer boroughs"</div>
        <div class="quote-footer">
            <div class="quotee-name">Leon Daniels</div>
            <div class="quotee-job-title">Managing Director of Surface Transport, Transport for London</div>
        </div>
</div>

 <div class="on-this-page">
<ul>
    <li>TfL awards Sustrans multi-million pound delivery contract to support rollout of network across London</li>
</ul>
<p>London's first &quot;Quietways&quot;, giving cyclists a direct, pleasant, back-street alternative to busy main roads, will open in May next year, the Mayor of London, Boris Johnson, announced today.</p>
<p>Construction is about to start on the first two routes, which will run from central London to Greenwich and Hackney, with a later extension to Walthamstow.</p>
<p>Five more routes are at the design stage and around two dozen more will be delivered or in progress by 2016.</p>
<p>Sustrans, the leading cycling and walking charity, has been awarded a three year contract by Transport for London (TfL) to help deliver the &pound;120 million network, in partnership with the local boroughs and other partners whose roads they will use. Every London borough will be served by the Quietways.</p>
<p>The Mayor, Boris Johnson, said: &quot;If you would love to hop on a bike but feel intimidated by busier roads, these Quietway routes will be perfect, connecting parks, backstreets and waterways to create secret passages through London. They will get you where you need to go on a route you might not have known existed until we showed you. They will make cycling much more accessible for ordinary people, in their ordinary clothes, revealing some of London's hidden gems along the way.&quot;</p>
<p>Unlike the old London Cycle Network, Quietways will be direct and clearly signed, mostly on the road itself, making it difficult for cyclists to lose their way. Because they are on lower-traffic roads, they will be largely unsegregated. The main interventions on the vast majority of the network will be waymarking, surfacing improvements where necessary, removing barriers such as chicanes and improving the flow of the route.</p>
<p>However, where directness demands the Quietway briefly join a main road, full segregation and direct crossing points will be provided, wherever possible, on that stretch. Quietways will be particularly suited to new cyclists.</p>
<p>TfL has also committed to fund &quot;big-ticket&quot; schemes in eight boroughs to tackle major blockages that make cycling difficult. They are:</p>
<ul>
    <li>Transformation of Ealing town centre to make it more welcoming to cyclists;</li>
    <li>Transformation of Twickenham town centre to make it more welcoming to cyclists;</li>
    <li>Segregated cycle route along part of A316;</li>
    <li>Cycle Superhighway 9 along A315 in Hammersmith &amp; Fulham and Hounslow;</li>
    <li>New cycle crossings on the A406 North Circular Road at Neasden and near Ilford, the latter subject to agreement with LB Redbridge;</li>
    <li>New cycle superhub at Abbey Wood station and better links from there to Thamesmead.</li>
</ul>
<p>Following a competitive tender process, Sustrans will help boroughs, the Canal and Rivers Trust, Queen Elizabeth Olympic Park, Lea Valley Regional Park Authority and the Royal Parks design and manage the construction of the Quietways, using each local borough's own highways contractor to deliver the scheme.</p>
<p>The first seven Quietway routes will be:</p>
<ul>
    <li>Waterloo to Greenwich (London Boroughs of Lambeth, Southwark, Lewisham, Greenwich);</li>
    <li>Bloomsbury to Walthamstow - first phase to Mare Street (Camden, Islington, Hackney, and Waltham Forest);</li>
    <li>Regents Park/Marylebone to Gladstone Park in Dollis Hill (Westminster, Brent, Camden);</li>
    <li>Waterloo to Crystal Palace (City, Southwark, Lambeth);</li>
    <li>Aldgate to Hainault  - first phase Whitechapel to Fulwell Cross (Tower Hamlets, Newham, Redbridge, Hackney, and the London Legacy Development Corporation);</li>
    <li>Waterloo to Wimbledon via Clapham Common (Lambeth, Wandsworth, Merton);</li>
    <li>Clapham Common to Croydon (Lambeth, Wandsworth, Croydon).</li>
</ul>
<p>Work on the first route, which will run from Waterloo to Greenwich, is about to start, creating a predominantly backstreet cycling route through Borough, Bermondsey and Deptford. Junctions at major roads will be redesigned to help cyclists and a brand new cycle path created. This will follow the railway line from South Bermondsey station to Surrey Canal Road to the north of Millwall football club (subject to final planning permissions).</p>
<p>Work to deliver the second route, from Bloomsbury to Hackney, will begin early next year and see a direct route created through local parks.</p>
<p>Leon Daniels, Managing Director of Surface Transport at TfL, said: </p>
<p>'Cycling is becoming more and more common place in our city, and we know many others would like to do so. The network of Quietways we will be introducing will open more options up for new and infrequent cyclists to take to the streets using less busy roads. This will further help shift more journeys away from cars, particularly in the outer boroughs.'</p>
<p>Sustrans London Director, German Dector-Vega, said: </p>
<p>'Sustrans is delighted to be named as the winner of the Quietways contract and will start work immediately to deliver the best possible cycle routes for Londoners.</p>
<p>'We're pleased to be working with our partners to help London find solutions for population growth, remain economically vibrant and become an increasingly pleasant and healthy place to live.</p>
<p>'The Quietways programme is just one part of a much larger cycling transformation happening in the capital, and these safe and convenient routes are an important step in the right direction.'</p>
<p>Analysis by TfL shows that more than half of the potentially cyclable trips in London, many of which are made by car, are in Outer London. As well as the first seven routes, a second phase of the Quietways programme will look to extend the network across London. Delivery timescales on this phase will depend on the boroughs concerned but it is hoped that a significant number will be delivered, or be in process of delivery, by 2016.</p>
<p>For more information about the Quietways programme, please visit <a href="http://www.tfl.gov.uk/cycle-quietways">www.tfl.gov.uk/cycle-quietways</a></p>
<p>&nbsp;</p>
<hr />
<p>Notes to Editors:</p>
<ul>
    <li>In March 2013, the Mayor launched his Vision for Cycling in London, which detailed his &pound;913m programme to improve infrastructure and safety for cyclists in the capital.</li>
    <li>The delivery contract for the Quietways project was issued under OJEU on 9 April 2014: <a href="http://ted.europa.eu/udl?uri=TED:NOTICE:120856-2014:TEXT:EN:HTML">http://ted.europa.eu/udl?uri=TED:NOTICE:120856-2014:TEXT:EN:HTML</a></li>
    <li>The &pound;14.6m TfL has approved for the Quietways programme will see the delivery of the first two routes, detailed design of the five routes and feasibility for an additional 12 Quietways routes across London. Further funding to fully deliver these additional routes will look to be approved by TfL early next year.</li>
    <li>Last month, TfL and the Cycling Commissioner wrote to 30 London boroughs, outlining how TfL will work with them to fund a network of dedicated Quietway cycle routes across London, as well as help deliver transformative &quot;big ticket&quot; schemes in outer London, most of which were suggested in their respective Mini-Holland bids.</li>
    <li>Each borough has also received a letter outlining a number of new Quietway routes that TfL wishes to develop as part of the second phase of the Quietways. The City of London, Westminster and Royal Borough of Kensington &amp; Chelsea were not written to as they mainly lie within Central London and will see improvements delivered as part of the Central London Grid network</li>
    <li>Sustrans is the charity that's enabling people to travel by foot, bike or public transport for more of the journeys we make every day. It's time we all began making smarter travel choices. Make your move and support Sustrans today. www.sustrans.org.uk</li>
    <li>Sustrans' appointment is to work with all boroughs, and other selected Managing Authorities, outside of the Central London Grid area, to aid the delivery of Quietway routes.</li>
</ul>
<p>&nbsp;</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
                <a href="/info-for/media/index" class="heading">
                    <h2 id="sub-menu-heading">Media<span class="visually-hidden"> navigation</span></h2>
                </a>
                <ul>
                    
                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases">Press releases</a></div>
                                <ul>
                                    
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2019">2019</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2018">2018</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2017">2017</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2016">2016</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2015">2015</a></div></li>
                            
 
                                        <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014">2014</a></div>
                                        <ul>
                                            
                                                <li class="selected parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/december">December</a></div>
                                                <ul>
                                                    
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
                                                </ul>
                                            
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/november">November</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/october">October</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/september">September</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/august">August</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/july">July</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/june">June</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/may">May</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/april">April</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/march">March</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/february">February</a></div></li>
                                    
 
                                        <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2014/january">January</a></div></li>
                                    
 
                                        </ul>
                                    </li>
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2013">2013</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2012">2012</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2011">2011</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2010">2010</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2009">2009</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2008">2008</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2007">2007</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2006">2006</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2005">2005</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/press-releases/2004">2004</a></div></li>
                            
 
                                </ul>
                            </li>
 
                                <li><div class="link-wrapper"><a href="/info-for/media/photos">Photos</a></div></li>
                            
 
                                <li><div class="link-wrapper"><a href="/info-for/media/contact-the-press-office">Contact the Press Office</a></div></li>
                            
 
                                <li class="parent"><div class="link-wrapper"><a href="/info-for/media/filming-and-photography">Filming & photography</a></div></li>
                            
 
                </ul>
            
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype: -Home-Media-Media-Press releases-2014-December-First Quietways to open early next year -->

 
 
        
        
            @{ViewBag.Description = "First 'Quietways' to open early next year";}
        
        


 