
    
  



@{ViewBag.Title = "Tram service pattern & timetable";}
@{ViewBag.Keywords = "TfL,London Trams timetable changes Croydon Wimbledon";}
@{ViewBag.Url = "/modes/trams/new-tram-service-pattern-and-timetable";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/trams/index">Trams</a></li>
                
            
            
                <li><span class="last-breadcrumb">Tram service pattern & timetable</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Tram service pattern & timetable</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Earlier in 2018, we changed our tram service patterns and timetables to make our service more reliable and less crowded, with more even intervals between trams.
        
      </div>
    
    
      
      
           
      <div>

<h2>What we are doing</h2>
<p>The changes include:</p>
<ul>
    <li>Trams now depart from Wimbledon towards Arena every 5 minutes Monday to Saturday daytimes, with even gaps between trams to make waiting times more predictable</li>
    <li>At Arena, each alternate tram branches off to either Beckenham Junction or Elmers End, providing each branch with a regular 10-minute service</li>
    <li>The New Addington service runs to West Croydon, rather than Wimbledon, every 7-8 minutes (the same frequency as now)</li>
    <li>Most Elmers End services now operate through to Wimbledon rather than West Croydon, except in the evenings and Sundays</li>
    <li>Early morning trams in some areas, including the New Addington and Wimbledon branches, are more frequent to carry more people</li>
</ul>
<p>
Overall, the changes will reduce typical wait times for more than three quarters of customers. Waiting times will be more predictable, with less uncertainty caused by irregular intervals between trams.</p>
<p>The service will be more reliable. There will be fewer delays, and the network will return to good service more quickly after a delay. Trams and tram stops will be less crowded.</p>
<p>The new service does not have line numbers. By removing them, we have been able to make destination names on the front of trams bigger, making them easier to read from a distance.</p>
<h2>Why we are doing this</h2>
<p>Before we made the changes, there could be a long wait for a tram followed by several at once, causing some trams to be very crowded. It also could take a long time to restore full service after a delay. Without action, these problems would get worse as the network gets busier.</p>
<p>We have a long-term plan to improve the tram network and provide more capacity. Adjusting the timetable is the first step. In future we hope to run more frequent trams on some routes, and we will continue to look at possible extensions.</p>
<p>Before making the changes, we carried out a large scale engagement exercise with tram users and others who were likely to be affected.</p>
<p>The new timetable will be kept under review to make sure that customers are getting the benefits we expect. We will look at what future changes may be needed as south London continues to develop.</p>
</div>
 <div class="clearfix">
    <div class="image-box light-box">
    
        
        
        <a href="/cdn/static/cms/images/tram-map-new-service-lg.jpg" class="modal-launch" target="_blank">
        <img src="/cdn/static/cms/images/tram-map-new-services.jpg" alt="Map of new tram services" />
        
        </a>
        
        
    </div>   
 </div>
 
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/new-trams-map.pdf">
    <div class="document-download-text">
        <p>New trams map</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 52KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.05 -->
 
</div>

</div>
 <div>

<h2>Changes by branch</h2>
<h3>Wimbledon branch</h3>
<ul>
    <li>Trams now from Wimbledon every 5 minutes Monday to Saturday daytimes, reducing the average waiting time</li>
    <li>Crowding will be reduced by up to a third</li>
    <li>Tram departures alternate between the two platforms at Wimbledon making it easier for people to know which tram will be departing first</li>
    <li>Customers for the New Addington branch should change at Centrale. There will usually be a 2-4 minute wait, and the onward tram will depart from the same platform</li>
    <li>Pay as you go customers must touch in before commencing their first tram journey, even if they started their journey by bus. There is no need to touch in again when changing trams and no extra charge.</li>
</ul>
<ul>
    <li><strong>Monday to Friday mornings</strong></li>
    <ul>
        <li>Trams from East Croydon to Wimbledon are now more frequent between 06.30 and 07.00 (every 5 minutes, rather than every 15 minutes until 06.40 and every 7-8 minutes 06.40-07.00)</li>
        <li>There will be 30 eastbound trams from Therapia Lane  arriving at East Croydon before 07.00 (up from 27)</li>
    </ul>
    <li> <strong>Monday to Friday evenings</strong>
    <ul>
        <li>Trams from East Croydon to Wimbledon are now more frequent between 18.30 and 19.30 (every 5 minutes, instead of every 7-8 minutes)</li>
        <li>Trams from Wimbledon are now more frequent between 19.15 and 20.00 (every 5 minutes, instead of every 7-8 minutes)</li>
    </ul>
    </li>
</ul>
<h3>New Addington branch</h3>
<ul>
    <li>New Addington services runs to West Croydon, providing a new direct connection to the northern part of Croydon town centre</li>
    <li>The first 2 departures in the early morning from New Addington run through to Wimbledon</li>
    <li>Early morning services are more frequent between 06:00 and 06:30 (every 10 minutes rather than every 15 minutes)</li>
    <li>Customers travelling towards Wimbledon need to change trams at Church Street. There is usually a 2-4 minute wait, and the onward tram departs from the same platform.</li>
    <li>
    In the longer term we would like to increase frequency on the New Addington branch and these changes will make it possible to fit more trams on the line in future.</li>
</ul>
<h3>East Croydon &#45; Addiscombe &#45; Arena</h3>
<ul>
    <li>Trams are evenly spaced at regular intervals, at least every 5 minutes</li>
    <li>The average waiting time for a tram will be reduced</li>
    <li>Crowding will be reduced by up to a third</li>
    <li>The total number of trams per hour on this part of the network has changed slightly (from 22 to 20 at Lebanon Road, for example), but because they are more evenly spaced, the average waiting time is shorter and crowding will be reduced</li>
</ul>
<h3>Beckenham Junction branch</h3>
<ul>
    <li>Trams now run through to Wimbledon rather than going to West Croydon, providing a direct connection to many new destinations</li>
    <li>Trams continue to run regularly every 10 minutes</li>
    <li>Trams from East Croydon to Beckenham Junction are more frequent between 19.30 and 21.00 Monday to Fridays (every 10 minutes, instead of every 15 minutes)</li>
    <li>Customers travelling to the northern part of Croydon town centre including West Croydon station) need to change at Church Street. Pay as you go customers must touch in before starting their first tram journey even if they started their journey by bus. They do not need to touch in again when changing trams and there is no extra charge</li>
</ul>
<h3>Elmers End stop</h3>
<ul>
    <li>At most times, trams run through to Wimbledon providing more frequent
    direct connections to many destinations</li>
    <li>Trams depart regularly every 10 minutes Monday to Saturday daytimes. Although some people need to wait slightly longer for a tram, there will be fewer delays and trams should be less crowded further along the line </li>
    <li>Trams from East Croydon to Elmers End are more frequent between 20.00 and 21.00 Monday to Fridays (every 10 minutes instead of every 15 minutes)</li>
    <li> Customers travelling to the northern part of Croydon town centre (eg Centrale and West Croydon station) need to change at Church Street.  There is usually a 2-4 minute wait, and the onward tram departs from the same platform.  </li>
</ul>
<h3>Changing trams</h3>
<p>Customers who need to change trams usually wait for 2-4 minutes, and the onward tram departs from the same platform. Customers must touch in on a tram validator before boarding the first tram, but there will be no need to touch in again, and no extra charge.</p>
<h3>Tram timetables</h3>
<p><a href="/plan-a-journey/index">Plan a journey</a> or check the new tram timetables at tram stops. </p>
<h3>
Contact us</h3>
<p>For more information, to discuss the changes with us or provide feedback, please <a href="/help-and-contact/index">contact us</a>.</p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/trams" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/trams" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Tram timetable changes from 5 November 2017";}
        
            
        


 