
    
  



@{ViewBag.Title = "Planned trams line closures";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/trams/planned-trams-line-closures";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/trams/index">Trams</a></li>
                
            
            
                <li><span class="last-breadcrumb">Planned trams line closures</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Planned trams line closures</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        There will be some temporary service changes for trams throughout 2019.  This is while we carry out essential maintenance works on the network and some local roads and infrastructure.
        
      </div>
    
    <div class="on-this-page">
      <p>As part of this work, there will be some temporary service changes on the following dates:</p>

<h3>Sunday 26 May (until 16:00)</h3>

<ul>
	<li>No trams between Sandilands and Elmers End/Birkbeck</li>
	<li>Trams will be less frequent than usual between Wimbledon and East Croydon and between Birkbeck and Beckenham Junction</li>
	<li>Replacement buses will run between East Croydon and Birkbeck</li>
</ul>

<h3>Sunday 2 June (until 09:00)</h3>

<ul>
	<li>No trams between Sandilands and Elmers End/Beckenham Junction</li>
	<li>Trams will be less frequent than usual between Wimbledon and East Croydon</li>
	<li>Replacement bus services will not be available. Please use local bus routes</li>
</ul>

<p>Trams to and from New Addington will not be affected on either of these dates.</p>

<h2>Blackhorse Lane bridge replacement</h2>

<p>We're replacing Blackhorse Lane bridge, a single span bridge that crosses two tram lines between Blackhorse Lane and Addiscombe tram stops. Croydon Council-owned Addiscombe Railway Park bridge is being replaced at the same time in&nbsp;a joint project to save public money and time. Read more about the <a href="/travel-information/improvements-and-projects/blackhorse-lane-bridge">Blackhorse Lane Bridge works</a>.</p>

<h2>Addiscombe to Blackhorse Lane track renewal</h2>

<p>This&nbsp;work&nbsp;will improve the safety and&nbsp;ride quality&nbsp;of the tram track between Addiscombe Road and Blackhorse Lane. We'll replace over 1km of track, which will improve the foundations on which new ballast, sleepers and rails are then laid.&nbsp;We're also improving the alignment of the new track to provide a smoother ride.</p>
      
           
      
<div>





<div class="multi-document-download-container">
    
</div>
<p>Essential maintenance of the tram network helps reduce the length and frequency of major, more disruptive engineering work. For safety reasons this work can only take place while trams are not running.</p>

<p>Please check this page throughout the year for the latest updates and future works dates.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/trams" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/trams" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "There will be some temporary service changes forTfL's London trams throughout 2019. This is while we carry out essential maintenance works on the network and some local roads and infrastructure.";}
        
            
        


 