
    
  



@{ViewBag.Title = "A40 Westway";}
@{ViewBag.Keywords = "Bus operators,Coach drivers,Drivers,Freight industry,Motorbikers,Planning and construction,Taxi and private hire,A,W,Hammersmith & Fulham,Kensington & Chelsea,Westminster,Roads,Buses,Coaches,Deliveries,Driving,Motorcycle,Taxis and minicabs,TfL";}
@{ViewBag.Url = "/travel-information/improvements-and-projects/a40-westway";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/improvements-and-projects/index">Improvements & projects</a></li>
                
            
            
                <li><span class="last-breadcrumb">A40 Westway</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>A40 Westway</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We are considering how best to pay for the ongoing maintenance and management of the elevated A40 Westway structures and Marylebone flyover. These structures support the A40 dual carriageway that runs from Western Avenue east towards the Marylebone Road.
        
      </div>
    
    
      <h2>What we've done</h2>

<p>We investigated underneath the Westway elevated structures and Marylebone flyover, surveying different parts of the structure including the drainage, waterproofing, expansion joints, surfacing, structural concrete and parapets during summer 2017.</p>

<p>We also investigated the road surface on the Westway and Marylebone flyover by digging trial holes, taking core samples and surveying the drainage system.</p>

<p>In late 2017 we reviewed our findings and completed a feasibility study to explore options for maintaining the Westway and Marylebone flyover structures.</p>

<p>Because of restrictions on capital investment, the refurbishment of these structures is being delayed until&nbsp; at least 2020/2021. Only safety critical work will be done on these assets until then.</p>

<p>We will continue to monitor and manage the impact of this approach on the A40 Westway structures and Marylebone flyover.</p>

<h2>Work in the future</h2>

<p>Our <a href="/corporate/publications-and-reports/business-plan">Business Plan</a> looks at ways to safely reduce spending on our roads maintenance programme in the short term while we identify a new, long-term funding stream to support that work.</p>

<h2>Background</h2>

<p>The group of structures known collectively as the Westway carry the A40 for 4.6km from Wood Lane flyover in the west to the Marylebone flyover in the east.</p>

<p>The structures were built between 1964 and 1970. Maintenance work has been done in the past &#45; including waterproofing the deck and improving the expansion joints &#45; but several components have reached or are nearing the end of their life.</p>

<p>Major maintenance/refurbishment work is needed to secure the long term reliability of the Westway.</p>

<p>We inspected and surveyed all residential and business premises beneath the Westway between November 2015 and January 2016 to help us understand its condition before we inspected the structures themselves in summer 2017.</p>
      
           
      

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/a40-westway-aerial.jpg" alt="A40 Westway" />
                <figcaption>
<span class="figure-title">A40 Westway</span>
<span class="figure-description">Aerial view</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/a40-westway-portobello-green.jpg" alt="A40 Westway" />
                <figcaption>
<span class="figure-title">A40 Westway</span>
<span class="figure-description">Spaces beneath the structure</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/a40-westway-boom-burger.jpg" alt="A40 Westway" />
                <figcaption>
<span class="figure-title">A40 Westway</span>
<span class="figure-description">Businesses beneath the structure</span>
                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div>

    <div class="contact-info-box">
         <div class="contact-info-header">
             <h3>Contact us</h3>
         </div>
        
        
        
        
        <div class="content-group">
            <p>
                
                
                <abbr title="Telephone number">Phone</abbr>: 0343 222 1234 (24 hours)<br />
                
                
                
                
                
                
            </p>
            <p>(<a href="/corporate/terms-and-conditions/tfl-call-charges">TfL call charges</a>)</p>
        </div>
        
        <div class="content-group">
            <h4>Call us if you have questions or comments about the scheme</h4>
            
            
                
                
                
            
            
            
        </div>
        
        
    </div>
</div>
 <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/travel-information/improvements-and-projects/acton-to-wood-lane-improvements" class="plain-button">Acton to Wood Lane improvements</a>
<a href="https://consultations.tfl.gov.uk/cycling/east-west-phase-2?cid=east-west-consult" class="plain-button">CS3 (East-West) consultation</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Our plans to refurbish the A40 Westway are on hold for now";}
        
            
        


 