
    
  



@{ViewBag.Title = "A406 Gunnersbury Avenue";}
@{ViewBag.Keywords = "A,G,Hounslow,Roads,Cycling,Driving,Walking,TfL";}
@{ViewBag.Url = "/travel-information/improvements-and-projects/a406-gunnersbury-avenue";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/improvements-and-projects/index">Improvements & projects</a></li>
                
            
            
                <li><span class="last-breadcrumb">A406 Gunnersbury Avenue</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>A406 Gunnersbury Avenue</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We will make changes on the stretch of the A406 Gunnersbury Avenue between Chiswick roundabout and Popes Lane to improve the safety of drivers, cyclists and pedestrians.
        
      </div>
    
    <div class="on-this-page">
      <p>Works that began in January 2019 will continue through to the summer.</p>

<p>All roads around Gunnersbury Avenue will stay open during the works and there will be access to properties. However, some temporary lane closures will be needed and the area may be busier than usual.</p>

<h2>What we are doing</h2>

<p>We developed proposals to improve safety on this section of the A406 North Circular because of the number and severity of collisions and near misses there.</p>

<p>The changes will include:</p>

<ul>
	<li>Extending the central reservation island between Power Road and Park Way to separate opposing traffic lanes, ensuring vehicles can't use oncoming lanes to overtake. This will also remove the risk of collisions involving right-turning vehicles</li>
	<li>Making lane widths consistent to allow motorcyclists to filter safely</li>
	<li>Permanently lowering the speed limit - from 40mph to 30mph - to make it consistent along the A406 Gunnersbury Avenue</li>
	<li>Improving cycle and pedestrian sections on the Gunnersbury Avenue western footway to match the segregated facilities on <a href="/travel-information/improvements-and-projects/power-road-bridge">Power Road Bridge</a></li>
</ul>

<h2>Planned works</h2>

<p>To minimise the overall impact of construction we will do the work in three phases:</p>

<ul>
	<li><strong>Phase one (Completed):</strong> moved the kerb on the eastern side of Gunnersbury Avenue (between Park Way and Power Road Bridge) to widen the road, providing space for the new central island - this involved digging down into the ground and diverting underground utilities (such as water pipes and electrical cables) and installing the new kerb line</li>
	<li><strong>Phase two: (Underway)</strong> extend the central reservation from Power Road to Park Way. Works&nbsp;are scheduled to last until the end of May 2019 - it is now no longer be possible to make a right turn onto the A406 Gunnersbury Avenue from any side road between Chiswick roundabout and Park Way. This is a permanent change</li>
	<li><strong>Phase three:</strong> resurface the road and install new road markings between Park Way and the Chiswick roundabout.&nbsp;Minor works on Larch Drive crossing and the cemetery entrance will also take place during this phase from early to late&nbsp;June 2019</li>
</ul>

<p>We will update this page with details and dates of phase&nbsp;three nearer the time.</p>

<h2>How your travel might be affected</h2>

<ul>
	<li>We will work seven days a week, 07:30-17:00 on weekdays and 09:00-17:00 at weekends, to complete the scheme as quickly as possible</li>
	<li>During phase two - until the end of May 2019 - the A406 Gunnersbury Avenue will be reduced to one lane in each direction. Expect delays if driving, especially during morning and evening peak hours</li>
	<li>From 22:00 on Saturday 25 May to 05:00 on Sunday 26 May 2019&nbsp;a full southbound closure will be in place on the A406 between Popes Lane and Chiswick roundabout</li>
	<li>From 22:00&nbsp;on Sunday 26 May to 05:00 on Monday 27 May 2019 a full northbound closure will be in place on the A406 between Popes Lane and Chiswick roundabout</li>
	<li>We plan to reopen all four lanes of traffic from 05:00 on 27 May 2019</li>
	<li>We may need to change the way traffic is managed at various stages throughout construction so our contractors have a safe workspace</li>
</ul>

<p>To stay up-to-date and avoid disruption to your journey check on <a href="https://tfl.gov.uk/traffic/status/?cid=trafficnews">tfl.gov.uk/trafficnews </a>or <a href="http://www.twitter.com/tfltrafficnews">follow &#64;TfLTrafficNews on Twitter</a>.</p>

<h3>Pedestrians and cyclists</h3>

<p>Pedestrians and cyclists will have access along the A406 Gunnersbury Avenue at all times. Any temporary changes will be clearly signed.</p>

<h3>Minimising noise and disruption</h3>

<p>Normal working hours are 07:30-17:00 on weekdays and 09:00-17:00 at weekends. All working times are agreed with the <a href="https://www.hounslow.gov.uk/site/">London Borough of Hounslow</a>.<br />
<br />
We will make every effort to reduce noise and disruption where possible. However, some noise is unavoidable.</p>

<h3>Our partners</h3>

<p>We are working on this project in partnership with <a href="http://www.conwayaecom.com/">Conway Aecom</a>.</p>

<p>We are working closely with the London Borough of Hounslow to minimise disruption and ensure the works proceed as safely, efficiently and as quickly as possible.</p>

<h2>Consultation</h2>

<p>We consulted on these plans in early 2016. Our consultation summary report can be found on the <a href="https://consultations.tfl.gov.uk/roads/gunnersbury-avenue/">A406 Gunnersbury Avenue consultation page</a>. 75% of people who responded said they supported or partially supported our proposals.</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/travel-information/improvements-and-projects/power-road-bridge" class="plain-button">Power Road Bridge</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Our plans for this stretch of the A406 North Circular should improve safety for drivers, cyclists and pedestrians";}
        
            
        


 