
    
  



@{ViewBag.Title = "A406 Gunnersbury Avenue";}
@{ViewBag.Keywords = "A,G,Hounslow,Roads,Cycling,Driving,Walking,TfL";}
@{ViewBag.Url = "/travel-information/improvements-and-projects/a406-gunnersbury-avenue";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/improvements-and-projects/index">Improvements & projects</a></li>
                
            
            
                <li><span class="last-breadcrumb">A406 Gunnersbury Avenue</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>A406 Gunnersbury Avenue</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Changes we have made on the stretch of the A406 Gunnersbury Avenue between Chiswick roundabout and Popes Lane will improve the safety of people driving, cycling and walking.
        
      </div>
    
    <div class="on-this-page">
      <p>Works that began in January 2019 are now complete.&nbsp;Minor finishing works are still being done.</p>

<h2>What we've done</h2>

<p>We developed proposals to improve safety on this section of the A406 North Circular because of the number and severity of collisions and near misses there.</p>

<p>The changes include:</p>

<ul>
	<li>Extending the central reservation island between Park Way and Larch Drive to separate opposing traffic lanes, ensuring vehicles can't use oncoming lanes to overtake. This will also remove the risk of collisions involving right-turning vehicles</li>
	<li>Making lane widths consistent to allow motorcyclists to filter safely</li>
	<li>Improving cycle and pedestrian sections on the Gunnersbury Avenue western footway to match the segregated facilities on <a href="/travel-information/improvements-and-projects/power-road-bridge">Power Road Bridge</a></li>
</ul>

<h2>Planned works</h2>

<p>To minimise the overall impact of construction we did the work in three phases:</p>

<ul>
	<li><strong>Phase one (Complete):</strong> moved the kerb on the eastern side of Gunnersbury Avenue (between Park Way and Power Road Bridge) to widen the road, providing space for the new central island - this involved diverting underground utilities (such as water pipes and electrical cables) and installing the new kerb line</li>
	<li><strong>Phase two: (Complete)</strong> extended the central reservation from Park Way to Larch Drive. It is no longer possible to make a right turn onto the A406 Gunnersbury Avenue from any side road between Chiswick roundabout and Park Way. This is a permanent change</li>
	<li><strong>Phase three (Complete):</strong> resurfaced the road and installed new road markings between Park Way and the Chiswick roundabout.&nbsp;Minor finishing works are still being done</li>
</ul>

<p>We will update this page with details and dates if more works are needed.</p>

<h2>How your travel might be affected</h2>

<p>We will work seven days a week, 07:30-17:00 on weekdays and 09:00-17:00 at weekends, to finish&nbsp;the scheme as quickly as possible.</p>

<p>There are no further closures planned for the A406 Gunnersbury Avenue.</p>

<p>To stay up-to-date and avoid disruption to your journey check on <a href="https://tfl.gov.uk/traffic/status/?cid=trafficnews">tfl.gov.uk/trafficnews </a>or <a href="http://www.twitter.com/tfltrafficnews">follow &#64;TfLTrafficNews on Twitter</a>.</p>

<h3>Pedestrians and cyclists</h3>

<p>Pedestrians and cyclists will have access along the A406 Gunnersbury Avenue at all times. Any temporary changes will be clearly signed.</p>

<h3>Minimising noise and disruption</h3>

<p>The working times above were&nbsp;agreed with the <a href="https://www.hounslow.gov.uk/site/">London Borough of Hounslow</a>.</p>

<p>We will do everything we can to reduce noise and disruption where possible. However, some noise is unavoidable.</p>

<h3>Our partners</h3>

<p>We are working on this project in partnership with <a href="http://www.conwayaecom.com/">Conway Aecom</a>.</p>

<h2>Consultation</h2>

<p>We consulted on these plans in early 2016. Our consultation summary report can be found on the <a href="https://consultations.tfl.gov.uk/roads/gunnersbury-avenue/">A406 Gunnersbury Avenue consultation page</a>. 75% of people who responded said they supported or partially supported our proposals.</p>
      
           
      
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/travel-information/improvements-and-projects/power-road-bridge" class="plain-button">Power Road Bridge</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Our work on this stretch of the A406 North Circular should improve safety for drivers and people walking and cycling";}
        
            
        


 