
    
  



@{ViewBag.Title = "Bakerloo/District line ticketing";}
@{ViewBag.Keywords = "Tube passengers,B,D,Ticketing,Tube improvement,Tube,TfL";}
@{ViewBag.Url = "/travel-information/improvements-and-projects/bakerloo-district-line-ticketing";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/improvements-and-projects/index">Improvements & projects</a></li>
                
            
            
                <li><span class="last-breadcrumb">Bakerloo/District line ticketing</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Bakerloo/District line ticketing</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        As part of our efforts to improve the Tube, we installed new ticket machines in 2017/2018 at several Bakerloo and District line stations. Ticket offices there have now closed. This means staff can move into ticket halls where they can help customers more effectively.
        
      </div>
    
    
      
      
           
      <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/ticketing-machines_rdax_400x250.jpg" alt="Ticketing machines" />
        
        
        
    </div>
    <p>We've finished the work at these stations:</p>

<ul>
	<li>Gunnersbury</li>
	<li>Harlesden</li>
	<li>Harrow &amp; Wealdstone</li>
	<li>Kensal Green</li>
	<li>Kenton</li>
	<li>Kew Gardens</li>
	<li>North Wembley</li>
	<li>Queen's Park</li>
	<li>South Kenton</li>
	<li>Stonebridge Park</li>
	<li>Wembley Central</li>
</ul>

<h2>Benefits</h2>

<p>Customers can use the new ticket machines to:</p>

<ul>
	<li>Get a new Oyster card</li>
	<li>Add a 7 Day or Monthly season ticket to an Oyster card</li>
	<li>See journey history</li>
	<li>Buy or collect National Rail tickets as well as weekly and monthly Travelcards</li>
	<li>Add a discount to an Oyster card (with staff assistance)</li>
</ul>

<p>Staff will be available to help customers buy tickets. They can also give information on current services, journey planning, ticket options and fares.</p>
 </div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We've installed new ticket machines at 11 Bakerloo and District line stations";}
        
            
        


 