
    
  



@{ViewBag.Title = "Baker Street";}
@{ViewBag.Keywords = "Bus operators,Bus passengers,Coach drivers,Cyclists,Drivers,Freight industry,Motorbikers,Pedestrians,Planning and construction,Taxi and private hire,Taxi passengers,B,Westminster,Roads,Buses,Coaches,Cycling,Deliveries,Driving,Motorcycle,TfL";}
@{ViewBag.Url = "/travel-information/improvements-and-projects/baker-street";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/improvements-and-projects/index">Improvements & projects</a></li>
                
            
            
                <li><span class="last-breadcrumb">Baker Street</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Baker Street</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        Baker Street and Gloucester Place formed a large one-way system running from Regent's Park to Oxford Street. We switched to two-way traffic between 21 and 24 February 2019 - finishing works will continue until mid-2019.
        
      </div>
    
    
      <p>Bus routes have been adjusted on Baker Street and Gloucester Place since roads were reopened in the new two-way system. <strong>Please look both ways and be careful as traffic gets used to the new system.</strong></p>
      
           
      
<div>





<div class="multi-document-download-container">
    

<a class="document-download-wrap pdf" href="/cdn/static/cms/documents/where-to-catch-your-bus.pdf">
    <div class="document-download-text">
        <p>Baker Street bus map as of  24 February 2019</p>
    </div>
    <div class="document-download-attachment">
        <p>
                        
            PDF 142KB
            
        </p>
    </div>
    <div class="document-download-icon download-doc">
    </div>

</a>

<!-- 0.14 -->
 
</div>

</div>
 <div>

<p>We've worked with Westminster City Council, Baker Street Quarter Partnership and The Portman Estate to introduce two-way traffic on these routes.</p>

<p>The scheme was approved by our Surface Board and the Westminster City Council Cabinet.</p>

<p>The project will reduce the dominance of traffic along Baker Street and Gloucester Place, making it safer and easier to access.</p>

<p>Rebalancing road space will benefit pedestrians and cyclists, and keep traffic flowing while also discouraging high speeds.</p>

<p>A number of similar one-way road systems are being transformed into community-friendly, safe, two-way streets as part of our <a href="/corporate/about-tfl/how-we-work/planning-for-the-future/healthy-streets">Healthy Streets approach</a>.</p>

<h2>The improvements</h2>

<ul>
	<li>Introducing two-way traffic will help shorten journey times as vehicles won't have to follow long routes around the system or make circuitous routes on residential streets</li>
	<li>Up to 50 new and upgraded pedestrian crossings will make it easier to cross safely in any direction</li>
	<li>Wider pavements, reduced street clutter and improved street lighting along Baker Street and at Dorset Square will make the area more pleasant. Westminster City Council is also looking at ways to introduce more trees and green spaces</li>
	<li>New cycle lanes will connect the area with cycle routes. New Advanced Stop Lines at junctions would help make cycling in the area safer and there will be more places to park bikes</li>
	<li>Two-way traffic will help improve access to buses and take passengers closer to their destinations</li>
	<li>The project will help prepare the area for the extra visitors and workers expected when the <a href="/travel-information/improvements-and-projects/elizabeth-line">Elizabeth line</a> opens (it's currently being built by Crossrail Ltd.), as well as Network Rail's longer term proposals to upgrade the Chiltern line into Marylebone station</li>
</ul>

<p>More on the overarching project, plus Westminster City Council's feasibility report, drawings and Cabinet Member report, are on the <a href="http://www.bakerstreettwoway.co.uk">Baker Street two-way project website</a>.</p>
</div>
 

 @this.ScriptBlock(
     @<script>
          queue.push(
            "@Html.ScriptPath("plugins/gallery-media.min.js")", null,
            function() {
                var galleryLite = $(".gallery-lite");

                if (galleryLite.length) {
                    galleryLite.gallery();
                }
            }
        );
     </script>
 )
      
<div class="gallery-lite-wrap">
    <ul class="gallery-lite no-borders">
    
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/baker-street-1.jpg" alt="Baker Street/Park Road" />
                <figcaption>
<span class="figure-title">Baker Street/Park Road</span>
<span class="figure-description">Artist's impression of the new road layout from early 2019</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/bakerstreet-image.jpg" alt="Baker Street/Marylebone Road" />
                <figcaption>
<span class="figure-title">Baker Street/Marylebone Road</span>
<span class="figure-description">Artist's impression of the new road layout from early 2019</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/baker-street-3.jpg" alt="Baker Street/Blandford Street" />
                <figcaption>
<span class="figure-title">Baker Street/Blandford Street</span>
<span class="figure-description">Artist's impression of the new road layout from early 2019</span>
                </figcaption>
            </figure>
        </li>
    
      <!--  -->
      
      
      
        <li class="gallery-item">
            <figure>
                <img src="/cdn/static/cms/images/baker-street-4.jpg" alt="Baker Street/Portman Square" />
                <figcaption>
<span class="figure-title">Baker Street/Portman Square</span>
<span class="figure-description">Artist's impression of the new road layout from early 2019</span>
                </figcaption>
            </figure>
        </li>
    
  </ul>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on this site</h3>

<div class="vertical-button-container">

<a href="/travel-information/improvements-and-projects/a406-gunnersbury-avenue" class="plain-button">A406 Gunnersbury Avenue</a>
<a href="/travel-information/improvements-and-projects/camden-town-capacity-upgrade" class="plain-button">Camden Town capacity upgrade</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We switched to two-way traffic on Baker Street and Gloucester Place in February 2019";}
        
            
        


 