
    
  



@{ViewBag.Title = "A10 Bruce Grove";}
@{ViewBag.Keywords = "A,B,Haringey,Roads,Deliveries,Driving,TfL";}
@{ViewBag.Url = "/travel-information/improvements-and-projects/bruce-grove-a10";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/improvements-and-projects/index">Improvements & projects</a></li>
                
            
            
                <li><span class="last-breadcrumb">A10 Bruce Grove</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>A10 Bruce Grove</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We've worked with Haringey Council to improve the A10 High Road in Bruce Grove town centre between the junctions with Forster Road and Bruce Grove. Most of the work is done - minor finishing works will continue until spring 2019.
        
      </div>
    
    <div class="on-this-page">
      <p>The work has improved road safety, created more space for walking and made for a better town centre environment.</p>

<p>The improvements are part of a wider plan for regeneration in the area. Visit the <a href="https://tottenham.london/">Tottenham London website</a> for details.</p>

<h2>What we've done</h2>

<p>We have:</p>

<ul>
	<li>Widened pavements and shortened crossing distances at the junction with Bruce Grove</li>
	<li>Introduced Advanced Stop Lines at all signalised junctions so cyclists can wait ahead of other traffic</li>
	<li>Repaved footways along the High Road, including the shop forecourts. The existing lampposts were kept</li>
	<li>Moved the signalised pedestrian crossing north of the junction with St Loy's Road to be closer to Holcombe Road Market (opposite Lloyds Pharmacy). An unsignalised crossing replaced the existing signalised crossing just north of the junction with St Loy's Road</li>
	<li>Widened pavements on both sides of the relocated pedestrian crossing</li>
	<li>Merged bus stops for northbound bus services near Bruce Grove station, reassigning bus routes to reduce overcrowding</li>
</ul>
      
           
      <div>

<h2>Consultation</h2>
<p>Our response to issues raised during the 2016 consultation can be found on the <a href="https://consultations.tfl.gov.uk/roads/bruce-grove/">Bruce Grove A10 consultation page</a>.</p>
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We're just finishing works that will make the A10 High Road in Bruce Grove town centre safer and more attractive";}
        
            
        


 