
    
  



@{ViewBag.Title = "Holborn station capacity upgrade";}
@{ViewBag.Keywords = "Tube passengers,H,Camden,Tube improvement,Tube,TfL";}
@{ViewBag.Url = "/travel-information/improvements-and-projects/holborn-station-capacity-upgrade";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/improvements-and-projects/index">Improvements & projects</a></li>
                
            
            
                <li><span class="last-breadcrumb">Holborn station capacity upgrade</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Holborn station capacity upgrade</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We're proposing changes at Holborn station that would make it substantially easier for customers to enter, exit and move around the station. Because we're facing financial challenges, works are now expected to start in 2023/4.
        
      </div>
    
    
      <h2>Updated Business Plan</h2>

<p>In our update to the&nbsp;<a href="/corporate/publications-and-reports/business-plan">Business Plan</a> of 11 December 2018,&nbsp;the proposed capacity upgrade to&nbsp;Holborn station&nbsp;has been&nbsp;re-phased subject to planning permissions.</p>

<p>We are still very committed to the Holborn project. Our work so far includes developing the scheme proposals and carrying out our first public consultation.</p>

<p>Before the&nbsp;Government's comprehensive spending review in late 2019 we will be making the case for long-term, steady and sustained investment to ensure critical infrastructure projects such as the Holborn and <a href="/travel-information/improvements-and-projects/camden-town-capacity-upgrade">Camden Town</a> projects can&nbsp;still be developed.</p>
      
           
      <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        <img src="/cdn/static/cms/images/holborn-station-entrance_rdax_400x250.jpg" alt="Holborn station entrance" />
        
        
        
    </div>
    <h2>Our proposals</h2>

<p>At the busiest times, large numbers of customers are trying to get into and out of the station, as well as changing between the Central and Piccadilly lines. Everyone who uses the station currently has to pass through a single point at the bottom of the main escalators.</p>

<p>During the evening peak, we often have to hold people outside the ticket gates, sometimes for as long as 20 minutes. Demand is set to increase and if we do nothing, these issues will become worse.</p>

<p>We believe our customers would benefit from:</p>

<ul>
	<li>A new second entrance and exit to the station</li>
	<li>More escalators</li>
	<li>Step-free access</li>
	<li>More space to change between trains</li>
</ul>

<p>These improvements would help to stimulate the local economy and generate growth in the Holborn area. A consultation on&nbsp;<a href="https://consultations.wearecamden.org/culture-environment/copy-of-copy-of-kentish-town-planning-framework/">Camden Council's Vision and Urban Strategy for Holborn</a>&nbsp;ran until 3 July 2019.</p>

<p>A possible site for a new station entrance would be at the southern end of Procter Street.</p>

<ul>
	<li>Escalators from there could provide a direct route to the Central line platforms</li>
	<li>There would be a new second route via escalators to the Piccadilly line platforms</li>
	<li>We would install lifts at the Kingsway entrance to provide step-free access from street to trains</li>
	<li>We would improve the layout of the Kingsway entrance</li>
</ul>

<p>This plan&nbsp;would reduce congestion below ground and relieve pressure on the existing Kingsway entrance. Below ground there would be more space, including a new concourse at the Piccadilly line level.</p>

<p>These changes would support future plans to increase the number of trains on the Central and Piccadilly lines.</p>

<h2>Local meetings</h2>

<p>We worked with <a href="http://bee-midtown.org/">Bee Midtown</a> (the local Business Improvement District) to hold three engagement sessions in early March 2017. Local stakeholders and&nbsp;businesses&nbsp;were invited.</p>
 </div>
 <div>

<h2>Public consultation</h2>

<p>We plan to consult in 2021 on how the proposed new station entrance will be built and how we will manage the impact of construction.</p>

<p>After that, we hope to apply to the Secretary of State for Transport for a Transport and Works Act Order (TWAO) - permission to do the work - in 2022. It's likely there will then be a public inquiry. Works could start in 2023/4.</p>

<p>We held a first public consultation on our proposals in late 2017. Our reports on the consultation are on the <a href="https://consultations.tfl.gov.uk/tube/holborn-station-upgrade/?intcmp=50013">Holborn station capacity improvements consultation page</a>.</p>

<p>For more information, email <a href="mailto:holbornstationupgrade&#64;tfl.gov.uk">holbornstationupgrade&#64;tfl.gov.uk</a>.</p>
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "Our plans would make it easier for customers to get around Holborn station";}
        
            
        


 