
    
  



@{ViewBag.Title = "Improvements & projects";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/travel-information/improvements-and-projects/index";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
            
                <li><span class="last-breadcrumb">Improvements & projects</span></li>
            
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
    <div class="headline-container landing-page section-landing-container">
        <h1>Improvements & projects</h1>
        
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">
        <div class="small-medium" data-set="widget"></div>
        <div class="primary-teaser landing-page-teaser">
            
        </div>
        
        <div class="clearfix">
            
<div class="module-grid clearfix">
<div class="news-teaser">

    <a href="/modes/cycling/santander-cycles?intcmp=2295" >
        <img src="/cdn/static/cms/images/promos/mips-santander-new-bikes-teaser_rdax_400x200.jpg" alt="santander new cycles promo image" />
        
        <div class="text-link">
             <h2>Santander Cycles</h2>
            <p>We've introduced 750 new Santander bikes for more comfortable journeys</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/modes/buses/improving-buses?intcmp=42923" >
        <img src="/cdn/static/cms/images/promos/mip-green-topiary-bus_rdax_400x200.jpg" alt="Greener bus" />
        
        <div class="text-link">
             <h2>Hybrid and electric buses</h2>
            <p>New technology is helping to make London a cleaner, greener city</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="https://tfl.gov.uk/modes/driving/electric-vehicles-and-rapid-charging?intcmp=48419" >
        <img src="/cdn/static/cms/images/promos/rapid-charge-improvements_rdax_400x200.jpg" alt="A cloud of flowers bursts out of a car exhaust" />
        
        <div class="text-link">
             <h2>Rapid charging network</h2>
            <p>More than 150 new electric vehicle rapid charge points installed across London</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="https://m.me/tfltravelbot?intcmp=48217" >
        <img src="/cdn/static/cms/images/promos/tfl-fb-travelbot_rdax_400x200.png" alt="Facebook TravelBot" />
        
        <div class="text-link">
             <h2>Facebook TravelBot</h2>
            <p>Ask us about your bus, Tube and rail status on Facebook Messenger</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/campaign/tube-improvements/what-we-are-doing/night-tube?intcmp=22069" >
        <img src="/cdn/static/cms/images/promos/night-tube-wide_rdax_400x200.jpg" alt="Night Tube image" />
        
        <div class="text-link">
             <h2>The Night Tube</h2>
            <p>Jump on Victoria, Jubilee and most Central, Northern and Piccadilly services</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/info-for/taxis-and-private-hire/accepting-card-payments?intcmp=38746" >
        <img src="/cdn/static/cms/images/promos/mip-taxi-contactless_rdax_400x200.jpg" alt="Taxi and contactless" />
        
        <div class="text-link">
             <h2>Convenient payments for taxis</h2>
            <p>All London taxis accept cash, card and contactless</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/transport-accessibility/help-from-staff?intcmp=5337" >
        <img src="/cdn/static/cms/images/promos/mip-staff-to-help_rdax_400x200.jpg" alt="Staff are here to help" />
        
        <div class="text-link">
             <h2>Staff are here to help</h2>
            <p>Staff from first to last train on Overground and TfL Rail</p>
        </div>
    </a>
</div>
 
 <div>

<div class="news-teaser">

    <a href="/travel-information/improvements-and-projects/highbury-and-islington?intcmp=1918" >
        
        
        <div class="text-link">
             <h2>Highbury Corner roundabout</h2>
            <p>We're making the area safer for walking and cycling</p>
        </div>
    </a>
</div>
 
 <div class="news-teaser">

    <a href="/travel-information/improvements-and-projects/barking-riverside-extension?intcmp=36762" >
        
        
        <div class="text-link">
             <h2>Barking Riverside extension</h2>
            <p>We're building a new station on the London Overground</p>
        </div>
    </a>
</div>
 
 
</div>
 
</div>
 <div>

<h2>Current projects</h2>
<p>We reinvest our income on schemes that will affect the lives of people who live and travel in London. Browse some of our ongoing projects below:</p>
</div>
 

        <div class="clearfix">
            <div class="search-filters-wrapper">
                <script>
                    var filters = [
                        

{"Borough": ["Barking & Dagenham", "Barnet", "Bexley", "Brent", "Bromley", "Camden", "City of London", "Croydon", "Ealing", "Enfield", "Greenwich", "Hackney", "Hammersmith & Fulham", "Haringey", "Harrow", "Havering", "Hillingdon", "Hounslow", "Islington", "Kensington & Chelsea", "Kingston upon Thames", "Lambeth", "Lewisham", "Merton", "Newham", "Redbridge", "Richmond upon Thames", "Southwark", "Sutton", "Tower Hamlets", "Waltham Forest", "Wandsworth", "Westminster"]},


 

{"Category": ["Accessible travel", "Consultation", "Cycle Superhighways", "Environment", "Roads", "Safety and security", "Ticketing", "Tube improvement"]},


 

{"A-Z": ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z"]},


 

{"Mode": ["Assisted travel", "Buses", "Coaches", "Crossrail", "Cycling", "Deliveries", "DLR", "Driving", "Elizabeth line", "Emirates Air Line", "London Overground", "Motorcycle", "Rail", "River", "Taxis and minicabs", "TfL Rail", "Trams", "Tube", "Walking"]},


 
                        {}
                ];
                </script>
            </div>
        </div>

        <div class="results-list-all">
            <ul id="results-list">
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/bruce-grove-a10" >
                            <h3>A10 Bruce Grove</h3>
                        </a>
                        <p>We're just finishing works that will make the A10 High Road in Bruce Grove town centre safer and more attractive</p>
                    </div>
                    <div class="search-tags">A,B,Haringey,Roads,Deliveries,Driving</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/a23-and-a232-fiveways-croydon" >
                            <h3>A23/A232 Fiveways Croydon</h3>
                        </a>
                        <p>Our proposals will help make room for growth expected in and around the Fiveways area in Croydon</p>
                    </div>
                    <div class="search-tags">Bus operators,Bus passengers,Coach drivers,Cyclists,Dial a Ride passengers,Drivers,Freight industry,Motorbikers,Pedestrians,Planning and construction,Taxi and private hire,Taxi passengers,A,C,F,Croydon,Roads,Buses,Coaches,Cycling,Deliveries,Driving,Motorcycle,Taxis and minicabs</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/a40-westway" >
                            <h3>A40 Westway</h3>
                        </a>
                        <p>Our plans to refurbish the A40 Westway are on hold for now</p>
                    </div>
                    <div class="search-tags">Bus operators,Coach drivers,Drivers,Freight industry,Motorbikers,Planning and construction,Taxi and private hire,A,W,Hammersmith & Fulham,Kensington & Chelsea,Westminster,Roads,Buses,Coaches,Deliveries,Driving,Motorcycle,Taxis and minicabs</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/a127-ardleigh-green-bridge" >
                            <h3>A127 Ardleigh Green Bridge</h3>
                        </a>
                        <p>Finishing works on the new Ardleigh Green Bridge over the A127 will be done by summer 2019</p>
                    </div>
                    <div class="search-tags">Boroughs,Drivers,A,Havering,Roads,Buses,Coaches,Cycling,Deliveries,Driving,Motorcycle,Taxis and minicabs</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/a316-london-road-roundabout" >
                            <h3>A316 London Road roundabout</h3>
                        </a>
                        <p>Improving the roundabout will make it easier to get to Twickenham town centre and improve journey times</p>
                    </div>
                    <div class="search-tags">Drivers,A,L,Richmond upon Thames,Roads,Cycling,Driving</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/a406-gunnersbury-avenue" >
                            <h3>A406 Gunnersbury Avenue</h3>
                        </a>
                        <p>Our plans for this stretch of the A406 North Circular should improve safety for drivers, cyclists and pedestrians</p>
                    </div>
                    <div class="search-tags">A,G,Hounslow,Roads,Cycling,Driving,Walking</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/acton-to-wood-lane-improvements" >
                            <h3>Acton to Wood Lane improvements</h3>
                        </a>
                        <p>We're improving facilities for cyclists and pedestrians alongside the A40</p>
                    </div>
                    <div class="search-tags">A,W,Hammersmith & Fulham,Kensington & Chelsea,Cycle Superhighways,Cycling,Walking</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/baker-street" >
                            <h3>Baker Street</h3>
                        </a>
                        <p>We switched to two-way traffic on Baker Street and Gloucester Place in February 2019</p>
                    </div>
                    <div class="search-tags">Bus operators,Bus passengers,Coach drivers,Cyclists,Drivers,Freight industry,Motorbikers,Pedestrians,Planning and construction,Taxi and private hire,Taxi passengers,B,Westminster,Roads,Buses,Coaches,Cycling,Deliveries,Driving,Motorcycle</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/bakerloo-district-line-ticketing" >
                            <h3>Bakerloo/District line ticketing</h3>
                        </a>
                        <p>We've installed new ticket machines at 11 Bakerloo and District line stations</p>
                    </div>
                    <div class="search-tags">Tube passengers,B,D,Ticketing,Tube improvement,Tube</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/bank-and-monument" >
                            <h3>Bank & Monument</h3>
                        </a>
                        <p>Improvements we're making at the interlinked stations of Bank and Monument will include several new escalators, a new station entrance and more room for Northern line passengers by 2022</p>
                    </div>
                    <div class="search-tags">Public,Tube passengers,B,M,City of London,Tube improvement,Tube</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/barking-riverside-extension" >
                            <h3>Barking Riverside extension</h3>
                        </a>
                        <p>Construction on this extension to London Overground should begin in 2019, with train services starting during 2021</p>
                    </div>
                    <div class="search-tags">B,Barking & Dagenham,London Overground</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/blackhorse-lane-bridge" >
                            <h3>Blackhorse Lane Bridge</h3>
                        </a>
                        <p>The bridge is closed while we replace it</p>
                    </div>
                    <div class="search-tags">B,Croydon,Roads,Trams</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/bromley-by-bow-and-marshgate-lane" >
                            <h3>Bromley-by-Bow and Marshgate Lane</h3>
                        </a>
                        <p>Our plans would improve transport links around Bromley-by-Bow and Marshgate Lane</p>
                    </div>
                    <div class="search-tags">B,M,Newham,Tower Hamlets,Roads,Cycling,Driving,Walking</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/camden-town-capacity-upgrade" >
                            <h3>Camden Town capacity upgrade</h3>
                        </a>
                        <p>We want to create more capacity inside Camden Town station to prevent passenger delays and crowding</p>
                    </div>
                    <div class="search-tags">Tube passengers,C,Camden,Tube improvement,Tube</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/cleanmobilenergy" >
                            <h3>CleanMobilEnergy - renewable  energy pilot</h3>
                        </a>
                        <p>A pilot using locally generated renewable energy to reduce carbon emissions and cut costs</p>
                    </div>
                    <div class="search-tags">Public,C,Environment</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/cycle-superhighway-4" >
                            <h3>Cycle Superhighway 4</h3>
                        </a>
                        <p>Cycle Superhighway 4 (CS4) would give cyclists a continuous segregated route between Tower Bridge and Greenwich, and improve pedestrian facilities and public spaces</p>
                    </div>
                    <div class="search-tags">C,City of London,Greenwich,Lewisham,Southwark,Cycle Superhighways,Cycling</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/cycle-superhighway-9" >
                            <h3>Cycle Superhighway 9</h3>
                        </a>
                        <p>CS9 would provide a continuous, largely-segregated route between Kensington Olympia and Brentford town centre, via Hammersmith and Chiswick</p>
                    </div>
                    <div class="search-tags">Cyclists,Public,C,Hounslow,Cycle Superhighways,Cycling</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/cycle-superhighway-11" >
                            <h3>Cycle Superhighway 11</h3>
                        </a>
                        <p>We are trying to re-work our plans to create a clearer, safer route for cyclists from Swiss Cottage to the West End</p>
                    </div>
                    <div class="search-tags">C,Cycle Superhighways,Roads,Cycling</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/elizabeth-line" >
                            <h3>Elizabeth line</h3>
                        </a>
                        <p>The Elizabeth line will run east from Reading and Heathrow to Abbey Wood and Shenfield</p>
                    </div>
                    <div class="search-tags">Public,Rail passengers,Tube passengers,C,E,Bexley,Ealing,Greenwich,Newham,Tower Hamlets,Westminster,Crossrail,Elizabeth line,Rail</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/finsbury-park" >
                            <h3>Finsbury Park</h3>
                        </a>
                        <p>Work at Finsbury Park Tube station will improve accessibility and security, reduce congestion and help speed up journeys. The project is due to finish in 2019</p>
                    </div>
                    <div class="search-tags">Boroughs,Tube passengers,F,Hackney,Haringey,Islington,Accessible travel,Tube improvement,Tube</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/four-lines-modernisation" >
                            <h3>Four Lines Modernisation</h3>
                        </a>
                        <p>We are transforming the Circle, District, Hammersmith & City and Metropolitan lines to increase capacity and boost reliability, making journeys faster and more comfortable</p>
                    </div>
                    <div class="search-tags">F,Tube improvement,Tube</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/highbury-and-islington" >
                            <h3>Highbury Corner</h3>
                        </a>
                        <p>By autumn 2019 Highbury Corner roundabout will be safer and more convenient for cyclists and pedestrians</p>
                    </div>
                    <div class="search-tags">H,Islington,Roads,Buses,Coaches,Cycling,Deliveries,Driving,Motorcycle,Taxis and minicabs</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/holborn-station-capacity-upgrade" >
                            <h3>Holborn station capacity upgrade</h3>
                        </a>
                        <p>Our plans would make it easier for customers to get around Holborn station</p>
                    </div>
                    <div class="search-tags">Tube passengers,H,Camden,Tube improvement,Tube</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/knightsbridge" >
                            <h3>Knightsbridge</h3>
                        </a>
                        <p>Knightsbridge Tube station will get step-free access in 2020, reached by a new entrance at Hooper's Court</p>
                    </div>
                    <div class="search-tags">K,Kensington & Chelsea,Westminster,Tube improvement,Tube</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/lambeth-bridge-northern-roundabout" >
                            <h3>Lambeth Bridge roundabouts</h3>
                        </a>
                        <p>We are working on long-term plans to transform the roundabouts at Lambeth Bridge</p>
                    </div>
                    <div class="search-tags">L,Lambeth,Westminster,Roads,Driving,Walking</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/nine-elms" >
                            <h3>Nine Elms</h3>
                        </a>
                        <p>We're planning some work on Nine Elms Lane and Battersea Park Road (A3205)</p>
                    </div>
                    <div class="search-tags">N,Wandsworth,Consultation,Roads,Streetscape,Driving,Cycling ,Driving </div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/northern-line-extension" >
                            <h3>Northern line extension</h3>
                        </a>
                        <p>Work is in progress to extend the Northern line to Nine Elms and Battersea</p>
                    </div>
                    <div class="search-tags">Tube passengers,N,Wandsworth,Consultation,Tube improvement,Tube</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/old-street-roundabout" >
                            <h3>Old Street roundabout</h3>
                        </a>
                        <p>Work to make the Old Street area more pedestrian and cycle-friendly includes removing the roundabout</p>
                    </div>
                    <div class="search-tags">Cyclists,Drivers,Pedestrians,O,Hackney,Islington,Roads,Cycling,Driving,Walking</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/power-road-bridge" >
                            <h3>Power Road Bridge </h3>
                        </a>
                        <p>Power Road Bridge is being upgraded to make it safer for road users and improve access for cyclists and pedestrians</p>
                    </div>
                    <div class="search-tags">Boroughs,Drivers,P,Hounslow,Roads,Buses,Coaches,Cycling,Deliveries,Driving,Motorcycle,Taxis and minicabs</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/silvertown-tunnel" >
                            <h3>Silvertown Tunnel</h3>
                        </a>
                        <p>Construction could begin in late 2019 or 2020 on a new road tunnel under the Thames linking the Greenwich Peninsula and Silvertown</p>
                    </div>
                    <div class="search-tags">Bus operators,Coach drivers,Drivers,Freight industry,Planning and construction,Suppliers,S,Greenwich,Newham,Consultation,Freight,Roads,Coaches,Deliveries,Driving</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/south-kensington" >
                            <h3>South Kensington station</h3>
                        </a>
                        <p>Works to reduce congestion and improve access at the station get underway in 2019</p>
                    </div>
                    <div class="search-tags">Public,Tube passengers,K,S,Kensington & Chelsea,Tube improvement,Tube</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/step-free-access" >
                            <h3>Step-free access</h3>
                        </a>
                        <p>We are adding step-free access to more Tube and London Overground stations</p>
                    </div>
                    <div class="search-tags">London Overground passengers,Public,Tube passengers,S,Accessible travel,Tube improvement,Crossrail,Elizabeth line,London Overground,Tube</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/tfl-rail-improvements" >
                            <h3>TfL Rail improvements</h3>
                        </a>
                        <p>Stations on TfL Rail lines are being improved ahead of when full Elizabeth line services are due to start</p>
                    </div>
                    <div class="search-tags"></div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/tottenham-hale" >
                            <h3>Tottenham Hale</h3>
                        </a>
                        <p>Work to rebuild Tottenham Hale station will continue until 2019</p>
                    </div>
                    <div class="search-tags">Cyclists,Drivers,Pedestrians,T,Haringey,Tube improvement,Buses,Cycling,Driving</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/vauxhall-gyratory" >
                            <h3>Vauxhall Cross gyratory</h3>
                        </a>
                        <p>We plan to start converting the one-way road system back to two-way in 2020</p>
                    </div>
                    <div class="search-tags">Cyclists,Drivers,Pedestrians,V,Lambeth,Southwark,Wandsworth,Westminster,Environment,Roads,Buses,Cycling,Deliveries,Driving,Motorcycle,Walking</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/wandsworth-town-centre" >
                            <h3>Wandsworth town centre</h3>
                        </a>
                        <p>Plans are underway to regenerate Wandsworth town centre</p>
                    </div>
                    <div class="search-tags">Cyclists,Drivers,Pedestrians,W,Wandsworth,Environment,Roads,Buses,Coaches,Cycling,Deliveries,Driving,Motorcycle,Taxis and minicabs,Walking</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/waterloo-roundabout" >
                            <h3>Waterloo roundabout</h3>
                        </a>
                        <p>We are working on proposals to create better public spaces around the Waterloo roundabout</p>
                    </div>
                    <div class="search-tags">Cyclists,Pedestrians,Rail passengers,W,Lambeth,Roads,Buses,Coaches,Cycling,Deliveries,Driving,Motorcycle,Rail,Taxis and minicabs,Walking</div>
                </li>
                
                <li class="search-results">
                    <div class="search-result-text">
                        <a href="/travel-information/improvements-and-projects/wood-lane-arches" >
                            <h3>Wood Lane arches</h3>
                        </a>
                        <p>Developing the disused arches at Wood Lane will help to transform the area</p>
                    </div>
                    <div class="search-tags">W,Hammersmith & Fulham,Streetscape,Walking</div>
                </li>
                
            </ul>
        </div>

         <div id="search-results-pagination">
            <div class="results-wrapper">
                <ul id="pagination-items">
                 
                </ul>
            </div>
        </div>


 
        </div>
        <div class="module-grid clearfix">
            
        </div>
    </div>
    <div class="aside" role="complementary">
        <div class="large" data-set="widget">
            <div class="moving-source-order">
            
            </div>
        </div>
        <div class="module-grid">
            












<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 
            <div class="news-teaser">

    <a href="/campaign/tube-improvements?intcmp=1251" >
        <img src="/cdn/static/cms/images/promos/mobilephone_rdax_400x200.gif" alt="Hand holding a mobile phone" />
        
        <div class="text-link">
             <h2>Improving the Tube</h2>
            <p>Find out what we're doing to upgrade trains, stations and services</p>
        </div>
    </a>
</div>
 
 <div class="vertical-button-container">



<a href="/modes/buses/improving-buses"  class="plain-button">Improving buses</a>


<a href="/modes/dlr/improving-the-dlr"  class="plain-button">Improving the DLR</a>


<a href="/travel-information/improvements-and-projects/tfl-rail-improvements"  class="plain-button">Improving TfL Rail</a>


<a href="/modes/london-overground/improving-london-overground"  class="plain-button">Improving London Overground</a>


<a href="/campaign/our-plan-for-londons-roads"  class="plain-button">Improving London's roads</a>

</div>
<div>

<h2>Also in progress:</h2>
</div>
 <div class="news-teaser">

    <a href="/travel-information/improvements-and-projects/elizabeth-line?intcmp=1240" >
        
        
        <div class="text-link">
             <h2>Elizabeth line</h2>
            <p>When completed, the new line is expected to serve around 200 million people each year</p>
        </div>
    </a>
</div>
 
 
        </div>
    </div>
    <div class="small-medium" data-set="content">&nbsp;</div>
</div>
 
        
        
        
            @{ViewBag.Description = "We run dozens of projects at any one time all over the Capital to improve the journeys of London's residents and visitors - these are a few of the most high-profile projects";}
        
            
        


 