
    
  



@{ViewBag.Title = "Nine Elms";}
@{ViewBag.Keywords = "N,Wandsworth,Consultation,Roads,Streetscape,Driving,Cycling ,Driving ,TfL";}
@{ViewBag.Url = "/travel-information/improvements-and-projects/nine-elms";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/improvements-and-projects/index">Improvements & projects</a></li>
                
            
            
                <li><span class="last-breadcrumb">Nine Elms</span></li>
            
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Nine Elms</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        We are doing work over a 2.5km stretch of Nine Elms Lane and Battersea Park Road (A3205) up to 2021 to support the regeneration of the area.<BR>
        
      </div>
    
    
      <p>Nine Elms is in a designated regeneration area with approximately 40 major development sites aimed at constructing 20,000 new homes and creating 25,000 new jobs between now and 2030. Find out more on the <a href="http://nineelmslondon.com/">Nine Elms London website</a>.</p>
<p>The programme is being developed with the borough of Wandsworth, Nine Elms Vauxhall Partnership and developers. Our proposed changes would support&nbsp;major developments in the area -&nbsp;improving conditions for pedestrians, cyclists and bus passengers,&nbsp;as well as&nbsp;making the area more pleasant and characterful.</p>
<p>Other schemes in the area include the <a href="/travel-information/improvements-and-projects/northern-line-extension">Northern line extension</a> and <a href="/travel-information/improvements-and-projects/vauxhall-gyratory">Vauxhall Cross gyratory</a>.</p>
<p>We will coordinate with these schemes, developers along the corridor and other construction works to minimise the impact of the work.</p>
      
           
      <div class="clearfix">
    <div class="image-box right-float">
    
        
        
        
    </div>
    <h2>What we are planning</h2>

<p>We propose a complete redesign of the road layout on Nine Elms Lane and the eastern part of Battersea Park Road to improve it for pedestrians, cyclists and bus users. It will also allow for the future growth of the area.</p>

<p>We consulted on our proposed changes in summer 2017. The consultation report and our response to issues raised, including next steps, is now on the <a href="https://consultations.tfl.gov.uk/roads/nine-elms-lane/?cid=nine-elms-lane">Nine Elms Lane and Battersea Park Road consultation page</a>.</p>

<p>Subject to securing the necessary technical and governance approvals, work on the scheme is likely to take place between 2020 and 2021.</p>

<h2>Completed work</h2>

<p>More than 40 temporary signs were installed in 2016 to highlight the presence of cyclists and large number of HGVs in the area while construction is going on. Alternative cycling routes are shown.</p>

<p>In summer 2017 we finished interim works to improve facilities for cyclists and pedestrians. Development works continue in the area.</p>

<h3>Cycling:</h3>

<ul>
	<li>An area of separation created to protect cyclists on a bend in the run up to the junction of Nine Elms Lane and Wandsworth Road</li>
	<li>Advanced Stop Lines extended to 7.5 metres deep</li>
	<li>All advisory cycle lanes upgraded to mandatory cycle lanes</li>
	<li>HGVs removed from bus lanes at all times</li>
</ul>

<h3>Pedestrians:</h3>

<ul>
	<li>Footways repaved in some places</li>
	<li>Seating area near Thessaly Road improved</li>
	<li>Design work to investigate a permanent crossing point between Cringle Street and Ponton Road</li>
</ul>

<h3>Public areas:</h3>

<ul>
	<li>New plants added to the central reservation planters outside Riverside Court</li>
</ul>

<h3>Roads:</h3>

<ul>
	<li>A new yellow box junction installed next to Havelock Terrace</li>
	<li>Areas resurfaced along the corridor</li>
	<li>Lane markings repainted where necessary</li>
</ul>
 </div>
 <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/nine-elms-regeneration.jpg" alt="Future view of Nine Elms" />
        
        
        
    </div>   
 </div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div>
















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
      <div class="module-grid clearfix">
                    
        <div class="related-links">

    <h3>Also on the site</h3>

<div class="vertical-button-container">

<a href="/travel-information/improvements-and-projects/northern-line-extension" class="plain-button">Northern line extension</a>
    </div>
</div>
 
      </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We're planning some work on Nine Elms Lane and Battersea Park Road (A3205)";}
        
            
        


 