
    
  



@{ViewBag.Title = "Preparing for the Elizabeth line";}
@{ViewBag.Keywords = "Passengers with accessibility needs,Public,Rail passengers,Tube passengers,Visitors,C,E,T,Barking & Dagenham,Bexley,Camden,City of London,Ealing,Greenwich,Havering,Hillingdon,Islington,Newham,Redbridge,Tower Hamlets,Westminster,Accessible travel,Boroughs,Rail improvements,Safety and security,Crossrail,Rail,TfL Rail,TfL";}
@{ViewBag.Url = "/travel-information/improvements-and-projects/preparing-for-the-elizabeth-line";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/travel-information/improvements-and-projects/index">Improvements & projects</a></li>
                
            
                 <li><a href="/travel-information/improvements-and-projects/elizabeth-line">Elizabeth line</a></li>
                
            
            
                <li><span class="last-breadcrumb">Preparing for the Elizabeth line</span></li>
            
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Preparing for the Elizabeth line</h1>

  </div>
</div>
<div class="main-and-aside r">
  
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        TfL Rail runs from Paddington to Heathrow Airport and Liverpool Street to Shenfield. These sections will become parts of the Elizabeth line when it is completed. Many improvements are being made to get ready.
        
      </div>
    
    <div class="on-this-page">
      
      
           
      <div>

<h2>TfL Rail&nbsp;services to Heathrow Airport</h2>
</div>
 <div class="clearfix">
    <div class="image-box left-float">
    
        
        
        <img src="/cdn/static/cms/images/tfl-rail-heathrow-700x438_rdax_400x250.jpg" alt="TfL Rail to Heathrow Airport" />
        
        
        
    </div>
    <p>TfL Rail provides&nbsp;stopping services from Paddington&nbsp;to Heathrow Airport&nbsp;(Terminals 2&amp;3 and Terminal 4 stations) via Hayes &amp; Harlington.</p>

<p>Services from Paddington to Heathrow run every 30 minutes, with&nbsp;a&nbsp;journey time&nbsp;of about 35 minutes.&nbsp;Free shuttle services&nbsp;run from Terminals 2&amp;3&nbsp;to Terminal 5 with a journey time of 6 minutes.</p>

<p>Contactless, Oyster&nbsp;and Visitor Oyster cards are accepted&nbsp;on TfL Rail.&nbsp;A single adult pay as you go fare between Paddington and Heathrow is &pound;10.50 during peak hours, and &pound;10.10 at all other times. <a href="/fares-and-payments/fares2018/find-fares/tube-and-rail-fares/pay-as-you-go-caps">You may also benefit from daily capping.</a></p>

<p>When fully operational,&nbsp;the Elizabeth line will run directly from Heathrow Airport into&nbsp;central London stations including Bond Street, Liverpool Street and Canary Wharf.</p>
 </div>
 <div>

<h2>Improvements along the TfL Rail route</h2>

<p>Improvements to services and station facilities are well&nbsp;underway across the&nbsp;TfL Rail route.<br />
New features include:</p>

<ul>
	<li><strong>Station staff from first to last train: </strong>If you need assistance there is no need to pre-book&nbsp;—&nbsp;staff will be on hand to help you</li>
	<li><strong>New trains: </strong>These new high-capacity trains feature air-conditioned walk-through carriages and&nbsp;include dedicated wheelchair spaces as well as separate multi-use spaces which can also be used for buggies, luggage and bicycles. A fleet of 70 new 200 metre trains will serve the Elizabeth line when it is completed</li>
	<li><strong>Wi-Fi on new trains: </strong>Free onboard Wi-Fi is gradually being introduced on the new trains that will form the Elizabeth line. If you're travelling on one of the new trains between Liverpool Street to Shenfield or Paddington to Hayes &amp; Harlington, look for the signage to see if you can sign on. When completed, all Elizabeth line trains will be equipped with free on-board Wi-Fi<br />
	&nbsp;</li>
</ul>
</div>
 <div class="clearfix">
    <div class="image-box">
    
        
        
        <img src="/cdn/static/cms/images/elizabeth-line-tcr-int.jpg" alt="Tottenham Court Road Elizabeth line station, interior" />
        
        
        
    </div>   
 </div>
 <div>

<h2>New stations in central London</h2>

<p>Around 200 million passengers will travel on the Elizabeth line each year so the new stations need to cope with large numbers of passengers, be easy to navigate and&nbsp;accessible for everyone. Each of the ten new stations will have its own, distinct character, conceived by different architects which reflect the environment and heritage of the local area.</p>

<h2>Improvements in existing stations</h2>
</div>
 <div class="clearfix">
    <div class="image-box left-float">
    
        
        
        <img src="/cdn/static/cms/images/ilford-station-exterior-700x438_rdax_400x250.jpg" alt="Ilford station" />
        
        
        
    </div>
    <ul>
	<li><strong>New and improved buildings: </strong>Brighter and more&nbsp;spacious ticket halls and waiting areas are being installed&nbsp;at a number of stations</li>
	<li><strong>Step-free access at every station: </strong>New lifts and footbridges are being installed to provide step-free access and better walking routes</li>
	<li><strong>Platform enhancements: </strong>New signage, help points, information screens and CCTV to&nbsp;help get your journey off to a good start</li>
</ul>
 </div>
 <div>

<h2>Major upgrades&nbsp;to&nbsp;the eastern and western sections</h2>

<p>The eastern and western sections of the Elizabeth line route runs on the existing rail network between Liverpool Street and Shenfield, and Paddington to Heathrow, until the central section of the Elizabeth line opens. During this time a number of major upgrades are being carried out by Network Rail in preparation.</p>

<p>To find out more about Network Rail works visit these pages on their website:</p>

<ul>
	<li><a href="https://www.networkrail.co.uk/our-railway-upgrade-plan/key-projects/crossrail/">Crossrail project</a></li>
	<li><a href="https://www.networkrail.co.uk/running-the-railway/looking-after-the-railway/planned-works/">Planned works</a>, with information about weekend and holiday closures</li>
	<li><a href="https://www.networkrail.co.uk/running-the-railway/looking-after-the-railway/fleet-machines-vehicles/high-output/">Network Rail's High Output programme</a>, with information about the mid-week track work that usually takes place in&nbsp;the evening</li>
</ul>

<p>The Crossrail project will provide quicker, easier, more reliable journeys for customers. Thank you for your patience during all of this work.</p>

<h2>Liverpool Street to Shenfield</h2>
</div>
 <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="brentwood-station-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Preparing for the Elizabeth line-Brentwood station"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="brentwood-station-heading" class="accordion-heading">Brentwood station</div>
            </div>
            <div id="brentwood-station-content" class="start-hidden" role="region" aria-labelledby="brentwood-station-heading">
<p>A number of improvements are being delivered at Brentwood station in preparation for the new Elizabeth line services. Most of this work has now been completed.</p>

<h3>What we've done so far</h3>

<p>We successfully refurbished the ticket office and waiting room in early 2017.&nbsp; The canopy glazing at the main entrance has been replaced and platform 4 gateline works have also been completed.</p>

<p>We installed:</p>

<ul>
	<li>New ticket gates in the main ticket hall and on platform 4</li>
	<li>Redecoration and refresh work on the toilets/accessible toilet and waiting room on platform 4</li>
	<li>Accessible ticket office windows</li>
	<li>A new entrance door in the main ticket hall</li>
	<li>New digital screens in the ticket hall to make customer information easier to see</li>
	<li>New seating has been put in on platforms</li>
	<li>Redecoration and refresh work on the toilets and waiting room on platform 3</li>
</ul>

<p>We also redecorated inside and out and improved live travel information to help get your journey off to a good start.</p>

<h3>What's next</h3>

<ul>
	<li>Canopy roof renewal works to platforms 1,2 &amp; 4 is due for completion in summer 2019</li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="chadwell-heath-station-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Preparing for the Elizabeth line-Chadwell Heath station"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="chadwell-heath-station-heading" class="accordion-heading">Chadwell Heath station</div>
            </div>
            <div id="chadwell-heath-station-content" class="start-hidden" role="region" aria-labelledby="chadwell-heath-station-heading">
<p>A number of improvements are being delivered at Chadwell Heath station in preparation for the new Elizabeth line service.</p>

<h3>What we've done so far</h3>

<p>By refurbishing the ticket hall, platform buildings and waiting room we've made the station brighter and more accessible, with new accessible toilets and ticket office windows. We also relocated the ticket gates to help make our staff more visible.</p>

<p>New digital screens in the ticket hall will make customer information easier to see.</p>

<p>We completed platform redecoration and added&nbsp;new platform shelters.</p>

<h3>What's next</h3>

<p>Remaining parts of the canopy on platforms 2 &amp; 3 are being redecorated, and will be completed by end of June 2019.</p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="forest-gate-station-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Preparing for the Elizabeth line-Forest Gate station"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="forest-gate-station-heading" class="accordion-heading">Forest Gate station</div>
            </div>
            <div id="forest-gate-station-content" class="start-hidden" role="region" aria-labelledby="forest-gate-station-heading">
<p>A number of improvements are being delivered at Forest Gate station in preparation for the new Elizabeth line service.</p>

<h3>What we've done so far</h3>

<p>The footbridge, ticket hall and ticket office have been refurbished.</p>

<p>There is step free access from the street to platforms 1,2 &amp; 3</p>

<h3>What's next</h3>

<ul>
	<li>A new lift offering step-free access from the street to platform 4</li>
	<li>Improved lighting, CCTV and PA systems, help points and customer information</li>
	<li>Longer and refurbished platforms for the new trains</li>
	<li>New platform seating and a refurbished waiting room</li>
</ul>

<p>Network Rail's work to upgrade the station is expected to be complete in spring 2019.</p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="gidea-park-station-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Preparing for the Elizabeth line-Gidea Park station"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="gidea-park-station-heading" class="accordion-heading">Gidea Park station</div>
            </div>
            <div id="gidea-park-station-content" class="start-hidden" role="region" aria-labelledby="gidea-park-station-heading">
<p>A number of improvements are being delivered at Gidea Park station in preparation for the new Elizabeth line service.</p>

<h3>What we've done so far</h3>

<p>We recently refurbished the outside of the station building. We also improved the area around the car park entrance by refurbishing the cycling facilities and improving the landscaping and lighting around the entrance.</p>

<h3>What's next</h3>

<ul>
	<li>Three new lifts providing step-free access from the street to all platforms</li>
	<li>Refurbished footbridge and ticket hall with new ticket gates and ticket machines</li>
	<li>Improved lighting, CCTV and PA systems, help points and customer information</li>
	<li>Longer and refurbished platforms for the new trains</li>
	<li>New platform seating</li>
</ul>

<p>Network Rail's work to upgrade the station is expected to be complete in&nbsp;spring 2019.</p>

<p>Once Network Rail finishes refurbishing the footbridge and installing the lift, customers will have step-free access to all platforms.</p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="goodmayes-station-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Preparing for the Elizabeth line-Goodmayes station"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="goodmayes-station-heading" class="accordion-heading">Goodmayes station</div>
            </div>
            <div id="goodmayes-station-content" class="start-hidden" role="region" aria-labelledby="goodmayes-station-heading">
<p>A number of improvements are being delivered at Goodmayes station in preparation for the new Elizabeth line service.</p>

<h3>What we've done so far</h3>

<p>We completed platform redecoration.&nbsp;The waiting shelter has been refurbished.</p>

<h3>What's next</h3>

<ul>
	<li>Three new lifts providing step-free access from the street to all platforms</li>
	<li>Refurbished ticket hall with new ticket gates and ticket machines</li>
	<li>Improved lighting, CCTV and PA systems, help points and customer information</li>
	<li>Longer and refurbished platforms for the new trains</li>
	<li>New platform seating</li>
</ul>

<p>Network Rail's work to upgrade the station is expected to be complete in summer 2019.</p>

<p>During this work, please use the temporary ticket office outside the station entrance on Goodmayes Road. Alternatively, use contactless payment or nearby Oyster ticket stops.</p>

<p>Improvements we're making until summer 2019 include refurbishing and redecorating platform buildings and canopies. We will also put in new platform shelters and seating.</p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="harold-wood-station-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Preparing for the Elizabeth line-Harold Wood station"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="harold-wood-station-heading" class="accordion-heading">Harold Wood station</div>
            </div>
            <div id="harold-wood-station-content" class="start-hidden" role="region" aria-labelledby="harold-wood-station-heading">
<p>A number of improvements are being delivered at Harold Wood station in preparation for the new Elizabeth line service.</p>

<h3>What we've done so far</h3>

<p>The waiting room has recently been refurbished. We redecorated the walls, floors, door and windows, making it a more pleasant place to wait for your train.</p>

<p>Network Rail have also refurbished the toilets and provided new, accessible facilities.</p>

<h3>What's next</h3>

<p>Improvements currently in progress include:</p>

<ul>
	<li>Three new lifts providing step-free access from the street to all platforms</li>
	<li>Refurbished ticket hall with new ticket gates and ticket machines</li>
	<li>Improved lighting, CCTV and PA systems, Help points and customer information</li>
	<li>Longer and refurbished platforms for the new trains</li>
	<li>New platform seating</li>
	<li>Waiting room refresh and deep clean works</li>
</ul>

<p>Network Rail's work to provide step-free access at the station is expected to be complete in summer 2019. Improvements to the ticket hall are expected to be complete by winter 2019.</p>

<p>Until then, access to trains and tickets continues to be via the car park entrance on Station Road only.</p>

<p>Please take care on the extra 32 stairs, or take an eastbound train to Brentwood and change there to a westbound train. Alternatively, speak to a member of staff for advice.</p>

<p>During this time, there will be 81 car park spaces available. Season ticket holders and disabled space users can use alternative spaces. Other users may find it easier to use the car park at nearby Brentwood station.</p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="ilford-station-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Preparing for the Elizabeth line-Ilford station"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="ilford-station-heading" class="accordion-heading">Ilford station</div>
            </div>
            <div id="ilford-station-content" class="start-hidden" role="region" aria-labelledby="ilford-station-heading">
<p>Ilford station is being rebuilt, with a new station entrance, better ticket hall and new lifts. A new spacious, modern and bright station building on Cranbrook Road has been designed to stand out as a prominent building that is visible from the surrounding area.</p>

<h3>What we've done so far</h3>

<p>We have&nbsp;already enhanced the access from York Road by creating a new ticket hall from an existing Network Rail building. The new ticket hall includes:</p>

<ul>
	<li>two new ticket machines, four new ticket gates and a wide aisle gate</li>
	<li>improved customer information</li>
	<li>newly painted walls and tiled floor and ceiling</li>
	<li>deep cleaning and restoration of the building exterior</li>
	<li>new wayfinding signage and lighting.</li>
	<li>new waiting room</li>
	<li>new benches on platforms</li>
</ul>

<p>We installed digital screens at the York Road entrance to make customer information easier to see.</p>

<p>We have male &amp; female toilets on platforms and an accessible toilet in the ticket hall.</p>

<h3>What's next</h3>

<p>Network Rail is currently planning&nbsp;the major station rebuild for Ilford. The work should be complete when the Elizabeth line fully opens.</p>

<p>In the meantime, until winter 2018, we are making improvements which include refurbishing platform canopies, station toilets and building new platform shelters.</p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="manor-park-station-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Preparing for the Elizabeth line-Manor Park station"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="manor-park-station-heading" class="accordion-heading">Manor Park station</div>
            </div>
            <div id="manor-park-station-content" class="start-hidden" role="region" aria-labelledby="manor-park-station-heading">
<p>Manor Park station is undergoing a number of enhancements to facilitate the new Elizabeth line services, including new lifts, new signage, help points, customer information screens and CCTV.</p>

<h3>What we've done so far</h3>

<p>We have refurbished and redecorated&nbsp;the ticket office, platforms and toilets along with&nbsp;new signage.</p>

<p>A new permanent footbridge is now in use, and the entrance on Station Road has re-opened with new lifts that provide step-free access from street level to all platforms.</p>

<h3>What's next</h3>

<p>We're continuing to make improvements to the new permanent footbridge.</p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="maryland-station-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Preparing for the Elizabeth line-Maryland station"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="maryland-station-heading" class="accordion-heading">Maryland station</div>
            </div>
            <div id="maryland-station-content" class="start-hidden" role="region" aria-labelledby="maryland-station-heading">
<p>Maryland station is undergoing a number of enhancements to facilitate the new Elizabeth line services, including new lifts, new signage, help points, customer information screens and CCTV.</p>

<h3>What we've done so far</h3>

<p>We recently installed new ticket gates at the station to help increase security and three new lifts have been installed providing step-free access to all platforms.&nbsp;Refurbishment of platforms and waiting shelter is complete.</p>

<h3>What's next</h3>

<p>Our improvement work will continue until&nbsp;spring 2019 and includes:</p>

<ul>
	<li>New entrance doors and ticket machines</li>
	<li>New accessible customer toilet and retail space</li>
	<li>Improved decoration internally and externally</li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="romford-station-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Preparing for the Elizabeth line-Romford station"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="romford-station-heading" class="accordion-heading">Romford station</div>
            </div>
            <div id="romford-station-content" class="start-hidden" role="region" aria-labelledby="romford-station-heading">
<p>Romford station will benefit from a major station rebuild, with significant upgrades including improvements to the station fa&ccedil;ade, a better ticket hall and new lifts.</p>

<h3>What we've done so far</h3>

<p>We completely remodelled the male and female toilets, with all new toilets, sinks and hand dryers. We moved the entrance to these facilities, and took the opportunity to redecorate the waiting room.</p>

<p>New seating has now been added on platforms.</p>

<h3>What's next</h3>

<p>Network Rail is carrying out work&nbsp;which is due to be complete by December 2019, and includes:</p>

<ul>
	<li>Main entrance widened</li>
	<li>New northern&nbsp;entrance</li>
	<li>New lift to platform 1/2</li>
	<li>New southern entrance</li>
	<li>Lifts to ticket hall and platforms 3/4 and 5</li>
	<li>Refurbished ticket hall</li>
	<li>Canopy structures on all platforms are being redecorated and due for completion in July 2019</li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="seven-kings-station-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Preparing for the Elizabeth line-Seven Kings station"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="seven-kings-station-heading" class="accordion-heading">Seven Kings station</div>
            </div>
            <div id="seven-kings-station-content" class="start-hidden" role="region" aria-labelledby="seven-kings-station-heading">
<p>A number of improvements are being delivered at Seven Kings station in preparation for the new Elizabeth line service, including new signage, help points, customer information screens and CCTV.</p>

<h3>What we've done so far</h3>

<p>The brighter, more open ticket hall has been redecorated inside and out.&nbsp;The space&nbsp;now benefits from new accessible ticket office windows as well as improved customer information.</p>

<p>We installed digital screens in the ticket hall to make customer information easier to see.</p>

<p>A new footbridge and lifts are now available, providing step-free access from street level to all platforms.</p>

<p>Platforms and waiting shelters have been refurbished.</p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="shenfield-station-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Preparing for the Elizabeth line-Shenfield station"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="shenfield-station-heading" class="accordion-heading">Shenfield station</div>
            </div>
            <div id="shenfield-station-content" class="start-hidden" role="region" aria-labelledby="shenfield-station-heading">
<p>A number of improvements are being delivered at Shenfield station in preparation for the new Elizabeth line services, including:</p>

<ul>
	<li>A new bay platform (platform 6) for Elizabeth line trains</li>
	<li>Platform extensions to accommodate the new 200 metre long Elizabeth line trains</li>
	<li>New station signs, help points, customer information screens and CCTV.</li>
</ul>

<p>In addition to the station improvements, new sidings have been constructed to the east of the station and significant track work has been carried out.</p>

<h3>What we've done so far</h3>

<p>Network Rail has upgraded tracks, signalling and overhead lines, and built a new platform. These improvements will mean more reliable services across the line. They also make way for the new trains to run in and out of the brand new platform.</p>

            </div>
        </div>
    </div>
 
</div>
 <div>

<h2>Paddington to Heathrow and Reading</h2>

<p>The western section of the Elizabeth line route will run on the existing rail network from Paddington to Heathrow and Reading.</p>

<p><!-- Temporary fix to allow twitter widget to be embedded on page - https://studio24.zendesk.com/agent/tickets/5884 --></p>

<p>A number of major upgrades are being carried out by Network Rail on this section of the route in preparation for the arrival of Elizabeth line services.</p>
</div>
 <div class="accordion">




<div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="acton-main-line-station-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Preparing for the Elizabeth line-Acton Main Line station"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="acton-main-line-station-heading" class="accordion-heading">Acton Main Line station</div>
            </div>
            <div id="acton-main-line-station-content" class="start-hidden" role="region" aria-labelledby="acton-main-line-station-heading">
<p>Acton Main Line station will benefit from major improvements as part of the plans to introduce the Elizabeth line.</p>

<p>Network Rail's improvement work is due to finish when the Elizabeth line fully opens.</p>

<p>The work includes:</p>

<ul>
	<li>A new, bright, spacious ticket hall</li>
	<li>Two new lifts and a new footbridge providing step-free access to platforms</li>
	<li>New ticket gates and ticket office</li>
	<li>Improved information, CCTV and lighting</li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="burnham-station-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Preparing for the Elizabeth line-Burnham station"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="burnham-station-heading" class="accordion-heading">Burnham station</div>
            </div>
            <div id="burnham-station-content" class="start-hidden" role="region" aria-labelledby="burnham-station-heading">
<p>A number of improvements have already been delivered by Network Rail in preparation for the new Elizabeth line service.</p>

<h3>What we've done so far</h3>

<p>We have installed new benches on the platforms.</p>

<p>New canopy work is complete.</p>

<h3>What's next</h3>

<p>Network Rail is improving customer information, CCTV and lighting at this station. Work is due to finish when the Elizabeth line fully opens.</p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="ealing-broadway-station-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Preparing for the Elizabeth line-Ealing Broadway station"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="ealing-broadway-station-heading" class="accordion-heading">Ealing Broadway station</div>
            </div>
            <div id="ealing-broadway-station-content" class="start-hidden" role="region" aria-labelledby="ealing-broadway-station-heading">
<p>Ealing Broadway station will benefit from major improvements as part of the plans to introduce the Elizabeth line.</p>

<p>The new station will have a long, curved canopy running the length of the forecourt, the dated fa&ccedil;ade will be replaced with a new glass structure and a new entrance twice the size of the existing one will give&nbsp;the building a much larger, brighter feel.</p>

<h3>What we've done so far</h3>

<ul>
	<li>Built a new staircase to platforms 2/3</li>
</ul>

<h3>What's next</h3>

<p>Network Rail's improvement work is due to finish when the Elizabeth line fully opens.</p>

<p>The work includes:</p>

<ul>
	<li>A new, larger entrance and ticket hall</li>
	<li>Four new lifts providing step-free access</li>
	<li>A new staircases to platforms 1</li>
	<li>New ticket gates and ticket office</li>
	<li>New customer toilets and retail space</li>
	<li>Improved decoration, information, CCTV and lighting</li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="hanwell-station-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Preparing for the Elizabeth line-Hanwell station"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="hanwell-station-heading" class="accordion-heading">Hanwell station</div>
            </div>
            <div id="hanwell-station-content" class="start-hidden" role="region" aria-labelledby="hanwell-station-heading">
<p>Hanwell station will benefit from a number of improvements in preparation for the new Elizabeth line services.</p>

<h3>What we've done so far</h3>

<p>We refurbished the toilets.</p>

<h3>What's next</h3>

<p>From 8 April until end of May 2019, the entrance on Campbell Road will be closed. Customers will be able to access the station by following the signposted route to the entrance on Station Approach which is a 10 minute walk away.</p>

<p>This closure is to assist with ongoing station improvements around the entrance and subway, and includes:</p>

<p>Works outside the station approach entrance</p>

<ul>
	<li>Excavation of existing floor slab</li>
	<li>Installation of drainage runs and ducting</li>
	<li>Installation of new foundations/slab for sub-station and electrical control room</li>
	<li>Installation of paving</li>
	<li>Urban Realm work in the forecourt area by London Borough of Ealing.</li>
</ul>

<p>Works to be undertaken within the station subway</p>

<ul>
	<li>Breakout of paving slabs</li>
	<li>Installation of ducting and drainage routes</li>
	<li>Installation of paving</li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="hayes-and-harlington-station-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Preparing for the Elizabeth line-Hayes & Harlington station"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="hayes-and-harlington-station-heading" class="accordion-heading">Hayes & Harlington station</div>
            </div>
            <div id="hayes-and-harlington-station-content" class="start-hidden" role="region" aria-labelledby="hayes-and-harlington-station-heading">
<p>Hayes &amp; Harlington station will benefit from major improvements as part of the plans to introduce the Elizabeth line.</p>

<p>A new, bright, spacious ticket hall will provide a more welcoming environment for passengers&nbsp;and a range of other improvements will be made to the station.</p>

<p>Network Rail's improvement work is due to finish when the Elizabeth line fully opens.</p>

<p>The work includes:</p>

<ul>
	<li>A new, more spacious ticket hall</li>
	<li>Four new lifts and a new footbridge providing step-free access to platforms</li>
	<li>New waiting room on platforms 4/5</li>
	<li>New ticket gates and ticket office</li>
	<li>Improved decoration, information, CCTV and lighting</li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="iver-station-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Preparing for the Elizabeth line-Iver station"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="iver-station-heading" class="accordion-heading">Iver station</div>
            </div>
            <div id="iver-station-content" class="start-hidden" role="region" aria-labelledby="iver-station-heading">
<p>Iver station will benefit from a number of improvements in preparation for Elizabeth line services.</p>

<h3>What we've done so far</h3>

<p>We have installed new benches on the platforms.</p>

<p>Network Rail has improved CCTV.</p>

<h3>What's next</h3>

<p>Our improvement work will continue until the Elizabeth line fully opens. It includes:</p>

<ul>
	<li>Three new lifts providing step free access to all platforms</li>
	<li>New entrance, including new ticket hall, ticket office and ticket gates and a new accessible toilet</li>
	<li>Network rail is also improving customer information and lighting</li>
	<li>Waiting shelters are being refurbished</li>
</ul>

<p>During this work please use the temporary walking route to reach the ticket office and footbridge</p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="langley-station-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Preparing for the Elizabeth line-Langley station"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="langley-station-heading" class="accordion-heading">Langley station</div>
            </div>
            <div id="langley-station-content" class="start-hidden" role="region" aria-labelledby="langley-station-heading">
<p>A number of improvements are being delivered at Langley station in preparation for Elizabeth line services.</p>

<h3>What we've done so far</h3>

<p>We have installed new benches on the platforms.</p>

<p>Network Rail has improved CCTV.</p>

<h3>What's next</h3>

<p>Our improvement work will continue until the Elizabeth line fully opens. It includes:</p>

<ul>
	<li>Three new lifts and a new footbridge providing step-free access to all platforms</li>
	<li>A new ticket hall, ticket office and ticket gates</li>
</ul>

<p>Network rail is also improving customer information and lighting.</p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="maidenhead-station-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Preparing for the Elizabeth line-Maidenhead station"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="maidenhead-station-heading" class="accordion-heading">Maidenhead station</div>
            </div>
            <div id="maidenhead-station-content" class="start-hidden" role="region" aria-labelledby="maidenhead-station-heading">
<p>Significant improvements are being delivered at Maidenhead station as part of the Crossrail programme.</p>

<p>Maidenhead station will benefit from a number of improvements in preparation for the new Elizabeth line services including:</p>

<ul>
	<li>Improvements to the ticket hall</li>
	<li>A new lift to platform 1</li>
	<li>Platform extensions to accommodate the new 200&nbsp;metre long Elizabeth line trains</li>
	<li>New platform canopies to accommodate overhead line equipment</li>
	<li>New signage, help points, customer information screens and CCTV</li>
</ul>

<p>The work is&nbsp;being carried out by Network Rail and&nbsp;is due to finish when the Elizabeth line fully opens.</p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="reading-station-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Preparing for the Elizabeth line-Reading station"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="reading-station-heading" class="accordion-heading">Reading station</div>
            </div>
            <div id="reading-station-content" class="start-hidden" role="region" aria-labelledby="reading-station-heading">
<p>Reading station requires relatively little work to prepare for the new Elizabeth line service.</p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="slough-station-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Preparing for the Elizabeth line-Slough station"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="slough-station-heading" class="accordion-heading">Slough station</div>
            </div>
            <div id="slough-station-content" class="start-hidden" role="region" aria-labelledby="slough-station-heading">
<p>A number of improvements are being delivered at Slough station as part of the Crossrail programme.</p>

<p>The upgrades to the station, which are being carried out by Network Rail, include:</p>

<ul>
	<li>An improved ticket line for the southern entrance</li>
	<li>Extending&nbsp;platforms 2 to&nbsp;5 to accommodate 200&nbsp;metre long Elizabeth line trains</li>
	<li>Cutting back station canopies to accommodate overhead line equipment</li>
	<li>New signage, help points, customer information screens and CCTV.</li>
</ul>

<p>The work is due to finish when the Elizabeth line fully opens.</p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="southall-station-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Preparing for the Elizabeth line-Southall station"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="southall-station-heading" class="accordion-heading">Southall station</div>
            </div>
            <div id="southall-station-content" class="start-hidden" role="region" aria-labelledby="southall-station-heading">
<p>Southall station will benefit from major improvements as part of the plans to introduce the Elizabeth line.</p>

<p>A new, bright, spacious ticket hall will provide a more welcoming environment for passengers&nbsp;and a new forecourt will&nbsp;reduce&nbsp;congestion at the entrance to the station.</p>

<p>Network Rail's improvement work is due to finish when the Elizabeth line fully opens.</p>

<p>The work includes:</p>

<ul>
	<li>A new ticket hall</li>
	<li>Three new lifts and a new footbridge providing step free access to platforms</li>
	<li>New ticket halls and ticket office</li>
	<li>Improved information, CCTV and lighting</li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="taplow-station-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Preparing for the Elizabeth line-Taplow station"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="taplow-station-heading" class="accordion-heading">Taplow station</div>
            </div>
            <div id="taplow-station-content" class="start-hidden" role="region" aria-labelledby="taplow-station-heading">
<p>A number of improvements have been delivered at Taplow station as part of the Crossrail programme, including:</p>

<ul>
	<li>Cutting back the canopy on platform 3 to provide clearance for&nbsp;new overhead electric lines</li>
	<li>Installing a new station information and security system.</li>
</ul>

<h3>What we've done so far</h3>

<p>We have installed new benches on the platforms. Network Rail has improved CCTV.</p>

<h3>What's next</h3>

<p>Our improvement work will continue until the Elizabeth line fully opens. It includes:</p>

<ul>
	<li>Three new lifts and a footbridge providing step-free access to platforms 2/3 and 4</li>
	<li>Refurbished ticket hall and ticket office</li>
	<li>Refurbished waiting rooms and toilets</li>
</ul>

<p>Network Rail is also improving customer information and lighting.</p>

<p>During this work, please use the temporary footbridge to reach platforms.</p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="twyford-station-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Preparing for the Elizabeth line-Twyford station"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="twyford-station-heading" class="accordion-heading">Twyford station</div>
            </div>
            <div id="twyford-station-content" class="start-hidden" role="region" aria-labelledby="twyford-station-heading">
<p>Twyford station requires relatively little work to prepare for the new Elizabeth line service.</p>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="west-drayton-station-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Preparing for the Elizabeth line-West Drayton station"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="west-drayton-station-heading" class="accordion-heading">West Drayton station</div>
            </div>
            <div id="west-drayton-station-content" class="start-hidden" role="region" aria-labelledby="west-drayton-station-heading">
<p>Major improvements are being delivered at West Drayton station as part of the plans to introduce the Elizabeth line.</p>

<p>A new glass and steel extension will provide an additional entrance as well as a covered walkway between the existing building and a new footbridge. Three new lifts will provide step-free access to every platform.</p>

<p>Network Rail's improvement work is due to finish when the Elizabeth line fully opens.</p>

<p>The work includes:</p>

<ul>
	<li>Three new lifts and extended footbridge providing step-free access to platforms</li>
	<li>A new entrance, improved customer information</li>
	<li>Improved CCTV and lighting</li>
	<li>We are also making improvements to the station which be finished by autumn 2019 and&nbsp;include refurbishing the existing ticket hall, ticket office, waiting rooms and toilets</li>
</ul>

            </div>
        </div>
    </div>
 <div class="expandable-box">




        <div class="content">
            <div class="always-visible" role="button" aria-controls="west-ealing-station-content" aria-expanded="false" tabindex="0">
                <div class="controls" data-tracking="prop36" data-tracking-value="Preparing for the Elizabeth line-West Ealing station"><span class="visually-hidden">Toggle accordion</span></div>
                <div id="west-ealing-station-heading" class="accordion-heading">West Ealing station</div>
            </div>
            <div id="west-ealing-station-content" class="start-hidden" role="region" aria-labelledby="west-ealing-station-heading">
<p>West Ealing station will benefit from major improvements as part of plans to introduce the Elizabeth line.</p>

<p>A new, bright, spacious ticket hall will be constructed as part of the overhaul of the station. The glass and steel structure will let in natural light and will be surrounded by a large canopy.</p>

<p>Network Rail's improvement work is due to finish when the Elizabeth line fully opens.</p>

<p>The work includes:</p>

<ul>
	<li>A new ticket hall</li>
	<li>Two new lifts providing step free access to all platforms</li>
	<li>A new footbridge and stairs</li>
	<li>New ticket gates and ticket office</li>
	<li>Improved information, CCTV and lighting</li>
</ul>

            </div>
        </div>
    </div>
 
</div>
 
      
        
          
            @this.ScriptBlock(
              @<script>
                queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
              </script>
            )
          
        
      
    </div>
  </div>
  <div class="aside" role="complementary">
    
    
      <div class="share-widget-wrapper"></div>
    
    
   
    
    
    
    <div>




















<div class="advert-tile unsponsored-style google-ads" aria-hidden="true">
  <div class="advert-link">
    <div class="advert-content">
        <div class="medium-large" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250"></div>
        <div class="small" data-advert="/76889402/improvements_projects" data-advert-sizes="300, 250|300, 600"></div>
    </div>
  </div>
</div>
@{
    ViewBag.AmazonSlot = "'amznslots'";
    ViewBag.AmazonAds = "'3199'"; // to add another value, this needs to be ViewBag.AmazonAds = "'3199','xx'";
}
      

 </div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>
 
 
        
        
        
            @{ViewBag.Description = "We're making improvements across the TfL Rail route to get them ready for the new line.";}
        
            
        


 