
    
  



@{ViewBag.Title = "Third party promotions";}
@{ViewBag.Keywords = "TfL";}
@{ViewBag.Url = "/modes/driving/third-party-promotions";}
@{ViewBag.Language = "en";}
        <!-- empty placeholder -->
 
        
        
<div class="r">
    <div class="breadcrumb-container" role="navigation">
        <span id="breadcrumb-label" class="visually-hidden">You are here:</span>
        <ol class="breadcrumbs clearfix" aria-labelledby="breadcrumb-label">
            <li class="home">
                <a href="/">
                    <span class="hide-text">Home</span>
                </a>
            </li>
            
                 <li><a href="/modes/driving/index">Driving</a></li>
                
            
                 <li><a href="/modes/driving/ultra-low-emission-zone">Ultra Low Emission Zone</a></li>
                
            
                 <li><a href="/modes/driving/ultra-low-emission-zone/scrappage-scheme">Scrappage scheme</a></li>
                
            
            
                <li><span class="last-breadcrumb">Third party promotions</span></li>
            
        
 
        
 
        
 
        
 
        </ol>
    </div>
</div>
     
 
<div class="r">
  <div class="headline-container plain">
    <h1>Third party promotions</h1>

  </div>
</div>
<div class="main-and-aside r">
  
<div class="login-aside">
                @{
                    Html.RenderAction(
                        "UserLoginBox", 
                        "Account", 
                        new { 
                            Area = "Ruc", 
                            returnUrl = "/modes/driving/account-account-landing-29377"
                        }
                    );
                }
            </div>
      

 
  <div class="main content-container" role="main">
    
      <div class="article-teaser">
        <p>Other organisations are supporting the Mayor's efforts to clean up London's toxic air. They've created promotions to make it easier for organisations to get vehicles that meet the ULEZ standards.</p>
        
      </div>
    
    
      <p>This not an exhaustive list - check back here for updates - and other promotions may be available to your organisation. We don't endorse, recommend or promote any of the companies or their promotions. Use at your own risk.</p>
      
           
      <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/ruc-cdn/static/cms/images/cartakeback-logo.png" alt="CarTakeBack logo" />
    </div>
    <h2>CarTakeBack</h2>

<h3>Alison Price, Environmental Manager, CarTakeBack.com</h3>

<p>'CarTakeBack are pleased to support the Mayor of London's van scrappage scheme ahead of the introduction of the ULEZ. All efforts need to be made in order to help tackle London's air quality crisis, and this initiative helps the city move towards clean air whilst supporting those most affected by the introduction of the ULEZ.</p>

<p>'Scrapping your van with CarTakeBack will ensure you receive the DVLA Certificate of Destruction required to complete your application to receive the funding from TfL. Get an instant, no obligation quote with CarTakeBack - we'll pay you a great price for your old van and offer free collection from any address.'</p> 
</div>
 
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="https://www.cartakeback.com/TfL-Van-Scrappage-Scheme" class="secondary-button no-hover" >See CarTakeBack's ULEZ promotion</a>

    </div>
</div> 
 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/ruc-cdn/static/cms/images/drivy-by-getaround-logo.jpg" alt="drivy by getaround logo" />
    </div>
    <h2>Drivy</h2>

<h3>Katy Medlock, Head of UK at Drivy</h3>

<p>'The Mayor's ULEZ zone is another valuable step towards improving air quality and reducing car ownership in London. But for Londoners who do need a car, renting it to others when not in use is a great way of sharing the cost of a cleaner ULEZ compliant car and minimising the environmental impact of our car journeys.</p>

<p>'It is Drivy's mission to get people to give up their personal cars. Using shared cars only when needed means less parked cars on the road, cleaner air and more space in the city. With vehicles are sourced from private car owners and dedicated fleets, all rentals are covered with fully comprehensive insurance and 24/7 breakdown assistance.'</p> 
</div>
 
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="https://www.drivy.co.uk/c/ultra-low-emission-zone" class="secondary-button no-hover" >See Drivy's ULEZ promotion</a>

    </div>
</div> 
 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/ruc-cdn/static/cms/images/enterprise-logo.png" alt="Enterprise Logo" />
    </div>
    <h2>Enterprise</h2>

<h3>Bridget Long, General Manager, Enterprise Rent-A-Car London &amp; South East</h3>

<p>'Enterprise has been providing transportation solutions that meet our customers' needs for more than 60 years.</p>

<p>'We are delighted to play our part in supporting the London Mayor's strategy for cleaner air in the city.</p>

<p>'Enterprise operates one of the newest and cleanest fleets available in the rental sector and will provide Euro 6-compliant vehicles to all businesses participating in the London van scrappage scheme.'</p> 
</div>
 
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="https://www.enterprisecarclub.co.uk/gb/en/programs/promotion/van-scrappage-scheme.html" class="secondary-button no-hover" >See Enterprise's ULEZ promotion</a>

    </div>
</div> 
 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/ruc-cdn/static/cms/images/europcar-logo.png" alt="Europcar logo" />
    </div>
    <h2>Europcar</h2>

<h3>Stuart Russell, Specialist Vehicle Director, Europcar Mobility Group UK</h3>

<p>'The ULEZ goes to the heart of the air quality issues facing the capital, and the scrappage scheme is a great initiative from TfL to help firms ensure it does not have a negative impact on their business.</p>

<p>'Whilst the cash sum could be useful to go towards new vehicle acquisition, some businesses may decide to use those funds for other purposes. If they don't want to face the financial outlay for a new vehicle or commit to a lengthy lease, van rental provides a genuine alternative.</p>

<p>'With one of the youngest van rental fleets in the UK, Europcar is offering businesses participating in the scrappage scheme with a special discount to access vehicles that are fully compliant with the new ULEZ, available from locations in and around the perimeter of the capital.'</p> 
</div>
 
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="https://www.europcar.co.uk/deals/tfl-ulez" class="secondary-button no-hover" >See Europcar's ULEZ promotion</a>

    </div>
</div> 
 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/ruc-cdn/static/cms/images/mitsubishi-logo-255.jpg" alt="Mitsubishi logo" />
    </div>
    <p style="margin-bottom:0pt; margin-left:0cm; margin-right:0cm; margin-top:0cm">'We are delighted to support Transport for London with a move towards cleaner air in our capital. To encourage this, we are pleased to offer an attractive contact hire rate for companies looking reduce their vehicle emissions with the purchase of a new Outlander PHEV Commercial.</p>

<p style="margin-bottom:0pt; margin-left:0cm; margin-right:0cm; margin-top:0cm">&nbsp;</p>

<p style="margin-bottom:0pt; margin-left:0cm; margin-right:0cm; margin-top:0cm">The new Mitsubishi Outlander PHEV Commercial is exempt from the ULEZ charge and the congestion charge and offers businesses a&nbsp;triple advantage of lower&nbsp;running costs, a greener image and improved air quality in urban areas.'</p>

<p style="margin-bottom:0pt; margin-left:0cm; margin-right:0cm; margin-top:0cm">&nbsp;</p> 
</div>
 
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="https://www.mitsubishi-motors.co.uk/articles/london-ultra-low-emissions-zone" class="secondary-button no-hover" >See Mitsubishi's ULEZ promotion</a>

    </div>
</div> 
 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/ruc-cdn/static/cms/images/northgate-vankind-logo.png" alt="Northgate logo" />
    </div>
    <h2>Northgate</h2>

<h3>Kathleen Whittam, Head of Strategic Accounts, Northgate</h3>

<p>'Having cleaner air in our cities is of paramount importance for all our futures. For London-based businesses, we also understand the impact that ULEZ could have on running costs.</p>

<p>'We're delighted to be supporting the ground-breaking scrappage scheme designed to help businesses run compliant vehicles, through offering an exclusive 'scrappage scheme discount' on our van hire solutions, alongside offers on our Euro 6 vans available for purchase.</p>

<p>'This will enable eligible businesses to keep moving forwards without downtime.'</p> 
</div>
 
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="https://www.northgatevehiclehire.co.uk/ulez" class="secondary-button no-hover" >See Northgate's ULEZ promotion</a>

    </div>
</div> 
 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/ruc-cdn/static/cms/images/ubeeqo-logo-blue.png" alt="Ubeeqo Logo" />
    </div>
    <h2>Ubeeqo</h2>

<h3>Patrick Cresswell, Ubeeqo UK Managing Director</h3>

<p>'We all know the importance of tackling London's poor air quality, and taking older polluting vehicles off the road is a really positive step forward. We're thrilled to support the Mayor of London's scrappage scheme by providing businesses with an affordable, ULEZ compliant alternative to owning their own vehicle.</p>

<p>'Now available in more of London, Ubeeqo is continuing its commitment to reduce the number of vans and cars on the road across the capital by providing a low-cost and flexible alternative to ownership. Ubeeqo vehicles can be booked online or via the Ubeeqo app and used by several different people throughout the day. The vans and cars can be booked for any length of time (over one hour). Insurance is even included, and the minimum membership age is 21.'</p> 
</div>
 
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="https://welcome.ubeeqo.com/plp-nbrand/car-club/" class="secondary-button no-hover" >See Ubeeqo's ULEZ promotion</a>

    </div>
</div> 
 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/ruc-cdn/static/cms/images/zen-logo-website.png" alt="Zen Logo" />
    </div>
    <h2>Zero Emissions Network</h2>

<p>Get ready for ULEZ with free support from the Zero Emissions Network. Businesses and residents in Hackney, Islington and Tower Hamlets can trial zero emission vehicles, get free car club membership and access exclusive discounts. The Zero Emissions Network is a partnership project between the London Boroughs of Hackney, Islington and Tower Hamlets and it is supported by the Mayor of London.</p> 
</div>
 
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="https://www.zeroemissionsnetwork.com/news/get-ulez-ready" class="secondary-button no-hover" >See ZEN's ULEZ promotion</a>

    </div>
</div> 
 
</div>
 <div class="clearfix">
    <div class="image-box campaign-graphic right-float">
    
        <img src="/ruc-cdn/static/cms/images/zipcar-logo.png" alt="Zipcar Logo" />
    </div>
    <h2>Zipcar</h2>

<h3>Jonathan Hampson, General Manager, Zipcar UK</h3>

<p>'Zipcar UK supports the rollout of the ULEZ. It's exactly the type of bold solution needed to tackle London's twin challenges of chronic congestion and poor air quality.</p>

<p>'We're delighted to announce that we're supporting the GLA and TfL to help deliver the Mayor's diesel van scrappage scheme with a financial package for businesses.</p>

<p>'Zipcar UK can support the transition to ULEZ by giving businesses access to fully compliant vehicles without needing to purchase new vans.'</p> 
</div>
 
<div class="module-grid clearfix">
<div>

<div class="call-to-action-button">
       <a href="https://www.zipcar.co.uk/ulez" class="secondary-button no-hover" >See Zipcar's ULEZ promotion</a>

    </div>
</div> 
 
</div>
 
      
        
          
        
      
    
  </div>
  <div class="aside" role="complementary">
    
    
    
   
    
    
    
      <div data-set="sidenav-container" class="large">
        
        
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
                <a href="/modes/driving/ultra-low-emission-zone" class="heading">
                    <h3 id="sub-menu-heading" class="h2">Ultra Low Emission Zone<span class="visually-hidden"> navigation</span></h3>
                </a>
                <ul>
                    
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/ulez-where-and-when">ULEZ: Where and when</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/ulez-payments">Paying the ULEZ charge</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/why-we-need-ulez">Why we need the ULEZ</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/ways-to-meet-the-standard">ULEZ standards</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/discounts-and-exemptions">Discounts and exemptions</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/cars">Cars</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/vans-minibuses-and-more">Vans, minibuses and more</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/motorcycles-mopeds-and-more">Motorcycles, mopeds and more</a></div></li>
                            
 
                                <li aria-label="page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/larger-vehicles">Lorries, coaches and larger vehicles</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/penalty-charges-for-ulez">Penalty charges for ULEZ</a></div></li>
                            
 
                                <li class="selected parent" aria-label="selected page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/scrappage-scheme">Scrappage scheme</a></div>
                                <ul>
                                    
                                        <li class="selected" aria-label="selected page with no sub pages"><div class="link-wrapper"><a href="/modes/driving/third-party-promotions">Third party promotions</a></div>
                                    </li>
 
                                </ul>
                            </li>
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"><a href="/modes/driving/ultra-low-emission-zone/contact-ulez">Contact ULEZ</a></div></li>
                            
 
                                <li class="parent" aria-label="page with sub pages"><div class="link-wrapper"></div></li>
                            
 
                </ul>
            
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
      </div>
    
    <div></div>
    
    <div data-set="sidenav-container" class="small-medium"></div>
  </div>
</div>

 
        
        
        
            @{ViewBag.Description = "Third party organisations have come up with ideas and promotions to help support the scrappage scheme";}
        
            
        


 