


@{ViewBag.Title = "Central line disruption on Friday 16 June";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Central line disruption on Friday 16 June</h1>
        <div class="content-page-press-release">
        16 June 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        LU today apologised to Central line customers after a faulty train at Bank caused the suspension of services on a large part of the line.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We apologise to those involved in this incident for the inconvenience and disruption caused
                            
                        </p>
                    </div>
                
            
            
            <p>The problems also meant customers had to be evacuated from one train which was stalled in a tunnel behind the defective train.</p>
<p>A spokesperson for London Underground said: "The Central line was suspended at 08:50 between Leytonstone and Marble Arch due to a defective train at Bank station. </p>
<p>"One train was stalled behind the defective train on the approach to Bank and 820 passengers were detrained and confirmed as safely on the platform at Bank by 10.45.</p>
<p>"The safety of passengers and staff is our top priority. </p>
<p>"The London Ambulance Service was called as a precaution but only one passenger required medical assistance. </p>
<p>"The London Underground water truck also attended to provide bottled water to passengers and to supplement existing station supplies.</p>
<p>"We are working with Metronet who are responsible for the maintenance of Central line trains to identify and fully understand the cause of this incident. Rail safety authorities are considering whether a formal investigation should be held.</p>
<p>"We apologise to those involved in this incident for the inconvenience and disruption caused."</p>
<p>Services were susbsequently restored between Marble Arch and Holborn, but the section between Holborn and Leytonstone remained suspended until 16.15. </p>
<p>Replacement bus services were provided to connect with other Tube and rail lines.</p>
<p>Check for the latest <a href="http://www.tfl.gov.uk/realtime">real time </a>news to see how services are running now.</p>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The problems also meant customers had to be evacuated from one train which was stalled in a tunnel behind the defective train.A spokesperson for London Underground said: 'The Central line was suspended at 08:50 between Leytonstone and Marble Arch due to a";}
        
        


 