


@{ViewBag.Title = "Ground-breaking advice for Londons developers";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Ground-breaking advice for Londons developers</h1>
        <div class="content-page-press-release">
        28 June 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Transport for London (TfL) has today published best practice guidance on preparing transport assessments for major developments in the Capital.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            Until now there has been no standardised method of producing transport assessments in London
                            
                        </p>
                    </div>
                
            
            
            <p>The document aims to support planning applications that are submitted to the Mayor of London.</p>
<p>Sam Richards, Head of Land Use Planning at TfL, said: "This is ground-breaking advice for London and we hope it will lead to improved dialogue between developers, consultants and TfL."</p>
<p>Until now there has been no standardised method of producing transport assessments in London. </p>
<p>The guidance, prepared by Steer Davies Gleave for TfL, aims to streamline that process.</p>
<p>An important objective has been to simplify what can be a complex process for landowners, developers and their consultants and enable TfL officers to respond positively. </p>
<p>The guidance does this by highlighting TfL's requirements and providing a recommended approach to producing transport assessments for referred planning applications. </p>
<p>The guidance stresses the need for early consultation with TfL before the planning application is submitted, at the scoping stage. </p>
<p>This will enable modelling, planning assumptions, data requirements, and potential planning obligations to be agreed with TfL beforehand.</p>
<p>The guidance also suggests appropriate structure, inputs, organisation and analytical techniques to be used in transport assessments.</p>
<p>The <a href="http://www.tfl.gov.uk/transportassessment">guidance </a>is available online. </p>
            <ul>
<li>The Town & Country Planning (Mayor of London) Order 2000 gives the Mayor influence over land-use planning through planning applications that are referred to him. TfL contributes to Mayoral reports by providing comments on the transport aspects of proposals</li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The document aims to support planning applications that are submitted to the Mayor of London.Sam Richards, Head of Land Use Planning at TfL, said: 'This is ground-breaking advice for London and we hope it will lead to improved dialogue between developers,";}
        
        


 