


@{ViewBag.Title = "Special advice for passengers travelling to Heathrow during June";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Special advice for passengers travelling to Heathrow during June</h1>
        <div class="content-page-press-release">
        01 June 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Track replacement work will be carried out on sections of the Piccadilly and District lines - on the weekends of 3 to 4 and 10 to 11 June - which will affect passengers travelling to and from Heathrow Airport.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            This improvement work will deliver benefits for passengers using the Piccadilly and District lines
                            
                        </p>
                    </div>
                
            
            
            <p>The work will require partial line closures on both weekends, between Hyde Park Corner and Acton Town on the Piccadilly line and between Earl's Court and Acton Town / Gunnersbury on the District line. </p>
<p>Replacement bus services will be provided and passengers are advised to use alternative routes where possible. </p>
<p>The essential work will be undertaken by Metronet Rail SSL as part of Transport for London's (TfL's) &pound;10bn Investment Programme. </p>
<p>Once installed, the new track will allow an existing speed restriction to be lifted, reducing journey times on these routes and improving service reliability for Tube passengers.</p>
<p>George McInulty, London Underground Service Director, said: "This improvement work will deliver benefits for passengers using the Piccadilly and District lines but will inevitably cause some short-term disruption. </p>
<p>"London Underground is providing extensive passenger information on alternative travel options and we would urge Heathrow travellers in particular to plan their journeys carefully."</p>
<p>Passengers should allow extra time for their journeys and call London Travel Information on 020 7222 1234 or check the TfL website at <a href="http://www.tfl.gov.uk">www.tfl.gov.uk</a> for the latest information before travelling.</p>
<p>Alternative travel information for the weekends of 3-4 and 10-11 June:</p>
<ul>
<li>Information for passengers travelling by Tube to Heathrow<br>Passengers travelling from central London to Heathrow should take the Central line to North Acton. At North Acton, a non-stop shuttle bus service will be operating to Acton Town for connection to the Piccadilly line to Heathrow Terminals 1, 2 and 3. Passengers for Terminal 4 will need to change again at Hatton Cross for the shuttle bus service 
</li><li>Information for passengers travelling by Tube from Heathrow<br>Passengers travelling from Heathrow to Central London should use the Piccadilly line to Acton Town (passengers from Terminal 4 will need to use the bus connection to Hatton Cross and then change to the Piccadilly line). At Acton Town, a non-stop shuttle bus service will be operating to North Acton for connection with the Central line, providing a quick and frequent service to Central London and interchanges to most other lines 
</li><li>Information for passengers travelling to and from Richmond.<br>Valid Tube tickets will be accepted on South West Trains services which operate every 10 minutes between London Waterloo and Vauxhall stations. Alternatively, passengers can take the District line to Fulham Broadway for local bus 391 to Richmond - the approximate journey time is one hour 
</li><li>Alternative routes for other journeys <br>Two replacement bus services will be in operation, running at least every 10 minutes and every 5 minutes between 12.00 and 18.30 on Saturdays: 
<ul>
<li>Service A: Between Acton Town and Hammersmith via Gunnersbury, Chiswick Park, Turnham Green, Stamford Brook and Ravenscourt Park 
</li><li>Service B: Between Hammersmith to West Brompton via West Kensington only. Buses cannot serve Barons Court station because of local road conditions.<br>Heathrow Express national rail services run every 15 minutes between Paddington and Heathrow Terminals 1, 2, 3 and 4. London Underground tickets are not valid on these services</li></ul>
<li>Heathrow Connect national rail services run every 30 minutes between Ealing Broadway and Heathrow Terminals 1, 2 and 3. Valid Tube tickets will be accepted to Hayes &amp; Harlington only - ticket extensions to Heathrow should be purchased in advance of travel to Heathrow 
</li><li>Local bus service 285 provides a connection between Heathrow Airport and Feltham National Rail station. From Feltham there are frequent South West Trains services to Vauxhall and London Waterloo, for connections with London Underground. The journey time is approximately one hour 40 minutes. Valid Tube tickets will be accepted 
</li><li>Additional information<br>Passengers tra
            <ul>
<li>Transport for London is investing &pound;10bn to improve and expand London's transport network, more than half of that in London Underground as we work to Transform the Tube 
</li><li>Metronet Rail SSL is responsible for the renewal and maintenance of the Circle, District, Hammersmith & City, Metropolitan and East London lines. They are also responsible for the maintenance of the Piccadilly line track between Barons Court and Acton Town.</li></ul>

            
            

        </li></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The work will require partial line closures on both weekends, between Hyde Park Corner and Acton Town on the Piccadilly line and between Earl's Court and Acton Town / Gunnersbury on the District line. Replacement bus services will be provided and";}
        
        


 