


@{ViewBag.Title = "Unique Bakerloo line heritage features restored";}
        
        

<div class="r">
    <div class="headline-container plain">
        <h1>Unique Bakerloo line heritage features restored</h1>
        <div class="content-page-press-release">
        21 June 2006
        </div>
    </div>
</div>
<div class="main-and-aside r">
    <div class="main" role="main">

    <div class="article-teaser">
        Two unique heritage signs directing people to Warwick Avenue and Maida Vale Underground stations have been restored as part of Transport for London's (TfL's) ongoing Investment Programme.
        
    </div>



 <div class="on-this-page">
<div class="pullquote right">
                        <p>
                            We are delighted that the signs have been fully restored
                            
                        </p>
                    </div>
                
            
            
            <p>The two heritage signs dating from the early 1930s are the only ones of their kind left in London and can be found on Maida Vale, part of Edgware Road.</p>
<p>They have undergone a thorough restoration process: sign cases have been reconstructed, existing panels have been replaced in original graphic style and poles have been treated and recoated in their initial colour.</p>
<p>Mayor of London, Ken Livingstone, said: 'These iconic London Underground (LU) heritage signs have been expertly restored so that they can continue to direct people to Maida Vale and Warwick Avenue stations for many more years.'</p>
<p>Mike Ashworth, LU Design and Heritage Manager said: 'We are delighted that the signs have been fully restored and are back on public display for all to admire. </p>
<p>'Not only do they serve a practical purpose in directing passengers to Maida Vale and Warwick Avenue stations, but they are fantastic examples of the Underground's rich design history. </p>
<p>'The Tube has many original heritage features which we are working hard to preserve, renew and restore over the next few years as part of the ongoing programme of works to Transform the Tube.'</p>
<p>The completion of the restoration process coincides with the Bakerloo line centenary celebrations taking place this year from March onward. </p>
<p>The Bakerloo line retains many of its heritage features, such as at Maida Vale station where there are examples of early Underground roundels in the station's foyer and a metal staircase balustrade with timber handrails. </p>
<p>At Kilburn Park, the station features bronze latticed windows and shop fronts while at Edgware Road the station building has an Edwardian red terra cotta fa&ccedil;ade adorned with spectacular mouldings.</p>
<p>Philip Davies, Planning and Development Director (South) at English Heritage, said: 'We are delighted that LU have restored these rare pieces of street furniture and reinstated the original Underground signs. </p>
<p>'They are an important part of the history of London's Underground and are a notable London landmark.'<br></p>
            <ul>
<li>Pictures of the signs are available 
</li><li>TfL is investing &pound;10bn over the next five years to improve and expand London's transport network, more than half of that in London Underground as we work to Transform the Tube 
</li><li>Metronet Rail BCV are responsible for the maintenance and renewal of the Bakerloo, Central, Victoria and Waterloo &amp; City lines 
</li><li>The Bakerloo line began as the Baker Street to Waterloo Railway on 10 March 1906. It ran between Baker Street and Lambeth North (then known as Kennington Road) and became known as the Bakerloo Railway four months later 
</li><li>Elephant &amp; Castle opened in August 1906 and the line extended north from Baker Street to Queen's Park in 1915 then on to Watford Junction in 1917 
</li><li>By 1939, the line also went from Baker Street to Stanmore but this section became part of the Jubilee line when it opened in 1979 
</li><li>The Bakerloo line covers 23.2km (14.5 miles), serves 25 stations and carries over 95 million passengers a year<br></li></ul>

     

        
        
        
        @this.ScriptBlock(
        @<script>
        //queue.push("@Html.ScriptPath("modules/M020-on-this-page.min.js")", null);
        </script>
        )
        
        
        
        </div>
    </div>
    <div class="aside" role="complementary">
<div class="share-widget-wrapper"></div>
       
        <div data-set="sidenav-container" class="large">

            
<div id="right-hand-nav" class="expandable-list moving-source-order" role="navigation" aria-labelledby="sub-menu-heading">
        
 
</div>

@this.ScriptBlock(
    @<script>
         queue.push("@Html.ScriptPath("modules/M032-expandable-list.min.js")", function () {
             window.tfl.expandableList.init('#right-hand-nav', false);
         });
    </script>
)

 
        </div>



            
        <div data-set="sidenav-container" class="small-medium"></div>
    </div>
</div>

<!-- Crumbs: PGtype:  -->

 
 
        
        
            @{ViewBag.Description = "The two heritage signs dating from the early 1930s are the only ones of their kind left in London and can be found on Maida Vale, part of Edgware Road.They have undergone a thorough restoration process: sign cases have been reconstructed, existing panels";}
        
        


 